doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        block top
          include components/common/_top
        block content
          include components/common/_content

        include components/service/_js.html
