table.b-main
  tr
    td(align="center").b-main__td
      center
        table
          include _header
          tr
            td
              a(href="#",target="blank",title="Man suit")
                img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/man20.png", alt="Man suit")
          tr
            td
              table.b-news
                tr
                  td.b-news__title-td
                    span.b-news__title Новинки!
                tr
                  td.b-news__text-td
                    span.b-news__text
                      | Рады сообщить, что в этом сезоне значительно расширена линейка пиджаков Stenser. В продажу поступили яркие модели по привлекательным ценам.
          tr
            td.b-suit.b-suit_first
              span.b-suit__man
                img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/man2.png", alt="Man suit",width="300",height="405")
              span.b-suit__man
                table
                  tr
                    td.b-suit__title-td
                      span.b-suit__title
                        | Мужской костюм 
                        br
                        | Kaizer 724
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Артикул
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line1.png", alt="")
                      span.b-suit__lart
                        | К 724
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Силуэт/посадка
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line2.png", alt="")
                      span.b-suit__lart
                        | прямой
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Сезонность
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line3.png", alt="")
                      span.b-suit__lart
                        | демисезон
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Цвет
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line4.png", alt="")
                      span.b-suit__lart
                        | черный
                  tr
                    td.b-suit__art-td.b-suit__art-td_top
                      span.b-suit__art.b-suit__art_top
                        | Состав
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line5.png", alt="")
                      span.b-suit__lart
                        | 20% шерсть,
                        br
                        | 70% вискоза,
                        br
                        | 10% лайкра
                  tr
                    td.b-suit__art-td
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line-all.png", alt="line",width='220',height="1")
                  tr
                    td.b-suit__art-td.b-suit__art-td_high
                      span.b-suit__price
                        span.b-suit__bold Цена: 
                        |  от 
                        span.b-suit__bold 5 800 &#8381;
                        |  до 
                        span.b-suit__bold 10 500 &#8381;
                  tr
                    td.b-suit__art-td.b-suit__art-td_hi
                      table.b-suit__btn
                        tr
                          td
                            span.b-suit__order-span
                              a.b-suit__order-link(target="_blank",href="#") выбрать размеры
                              img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/min.png", alt="",width="7",height="10")
          tr
            td.b-suit
              span.b-suit__man
                img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/man3.png", alt="Boy suit",width="300",height="403")
              span.b-suit__man
                table
                  tr
                    td.b-suit__title-td
                      span.b-suit__title
                        | Мужской костюм 
                        br
                        | Kaizer 724
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Артикул
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line1.png", alt="")
                      span.b-suit__lart
                        | К 724
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Силуэт/посадка
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line2.png", alt="")
                      span.b-suit__lart
                        | прямой
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Сезонность
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line3.png", alt="")
                      span.b-suit__lart
                        | демисезон
                  tr
                    td.b-suit__art-td
                      span.b-suit__art
                        | Цвет
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line4.png", alt="")
                      span.b-suit__lart
                        | черный
                  tr
                    td.b-suit__art-td.b-suit__art-td_top
                      span.b-suit__art.b-suit__art_top
                        | Состав
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line5.png", alt="")
                      span.b-suit__lart
                        | 20% шерсть,
                        br
                        | 70% вискоза,
                        br
                        | 10% лайкра
                  tr
                    td.b-suit__art-td
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/line-all.png", alt="line",width='220',height="1")
                  tr
                    td.b-suit__art-td.b-suit__art-td_high
                      span.b-suit__price
                        span.b-suit__bold Цена: 
                        |  от 
                        span.b-suit__bold 5 800 &#8381;
                        |  до 
                        span.b-suit__bold 10 500 &#8381;
                  tr
                    td.b-suit__art-td.b-suit__art-td_hi
                      table.b-suit__btn
                        tr
                          td
                            span.b-suit__order-span
                              a.b-suit__order-link(target="_blank",href="#") выбрать размеры
                              img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/min.png", alt="",width="7",height="10")
          include _footer
