tr
  td
    table.b-footer
      tr
        td.b-footer__main
          span.b-footer__torg
            | Торговая Компания «Бизнес-Мода» 
            a(target="_blank",href="mailto:site@biznes-moda.ru",title="site@biznes-moda.ru").b-footer__mail 
              | site@biznes-moda.ru
          span.b-footer__contacts
            a(target="_blank",href="tel:+78007883761",title="+7 (800) 788-37-61").b-footer__tel
              | +7 (800) 788-37-61
            a(target="_blank",href="tel:+74957883761",title="+7 (495) 788-37-61").b-footer__tel
              | +7 (495) 788-37-61
tr
  td.b-main__bot-td
    span.b-main__bottom
      | Если Вы хотите отказаться от получения писем, нажмите 
      a(target="_blank",href="#").b-main__bottom-link здесь
      | .