tr
  td.b-main__topper
    span.b-main__logo
      a(target="_blank",href="#")
        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/logo.png", alt="logotype",width="221",height="42")
    span.b-main__social
      a.b-main__link(href="#")
        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/fb.png", alt="facebook")
      a.b-main__link(href="#")
        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/vk.png", alt="vkontakte")
      a.b-main__link(href="#")
        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/ok.png", alt="odnoklassniki")