table.b-main
  tr
    td(align="center").b-main__td
      center
        table
          include _header
          tr
            td.b-main__block
              span.b-main__title сенсационные новости!
          tr
            td
              span.b-main__text
                | Рыбный текст новости или акции. Рады сообщить, что в этом сезоне значительно расширена линейка пиджаков Stenser. В продажу поступили яркие модели по привлекательным ценам. Заказать продукцию на сайте могут только зарегистрированные пользователи. Торгово-производственная Компания «Бизнес-мода» начала свою деятельность в 1997 году с целью покорения рынка мужской классической одежды в сегментах «эконом» и «бизнес» класса. 
          tr
            td(align="center").b-main__bot
              table.b-main__order
                tr
                  td
                    span.b-main__order-span
                      a.b-main__order-link(target="_blank",href="#") сделать заказ
                      img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/min.png", alt="",width="7",height="10")
          tr
            td.b-main__comm
              span.b-main__triple
                img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/one.png", alt="jacket",width="199",heigth="200")
              span.b-main__suit
                table.b-main__inside
                  tr
                    td.b-main__suit-td
                      span.b-main__price
                        | от 1 560 &#8381;
                        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/star.png", alt="")
                  tr
                    td
                      span.b-main__costume
                        | за костюм
                  tr
                    td.b-main__rega
                      span.b-main__opt
                        img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/min-star.png", alt="",width='8',heigth="9")
                        | оптовая цена для зарегистрированных пользователей
              span.b-main__triple
                img(src="http://biznes-moda.beta3.ceteralabs.com/working/layout/images/three.png", alt="jacket",width="199",heigth="200")
          include _footer

