extends shop-regular

block content
    include components/mixins/_mixin-block

    .row.column
        h1 Стиль и мода
    .content
        .row
            .small-12.medium-4.large-3.columns
                include components/shop/_nav-catalog-toggle

                .nav-catalog__group.callout.hide-for-small-only#menu-catalog(data-toggler="hide-for-small-only")
                    ul.menu.vertical
                        li: a(href='#') Тренды Осени
                        li: a(href='#') Тренды Лета
                        li: a(href='#') Тренды Весны
                        li: a(href='#') Тренды Зимы
            .small-12.medium-8.large-9.columns
                block catalogBody
                    - var i = 0
                    while i < 5
                        - i++
                        .row
                            .small-12.medium-6.column
                                a(href='shop-look.html', title='')
                                    +stub('образ')(style='padding-bottom: 115%')
                            .small-12.medium-6.column
                                hr
                                br
                                h2
                                    a(href='shop-look.html', title='') Элегантный Casual
                                p Насторящий тренд сеозна — цвет бордо, особенно если речь идёт о новых джегинсах в этом цвете. Сочетай как в формате тотал лук или добавляй небольшие акценты в небесных оттенках.
                                a.button.hollow(href='shop-look.html') Товары образа
                        br
                        br
                        .row
                            .small-12.medium-6.column
                                hr
                                br
                                h2
                                    a(href='shop-look.html', title='') Природные мотивы
                                p Насторящий тренд сеозна — цвет бордо, особенно если речь идёт о новых джегинсах в этом цвете. Сочетай как в формате тотал лук или добавляй небольшие акценты в небесных оттенках.
                                a.button.hollow(href='shop-look.html') Товары образа
                            .small-12.medium-6.column
                                a(href='shop-look.html', title='')
                                    +stub('образ')(style='padding-bottom: 115%')
                        br
                        br


                    //-.row.column
                        include components/common/_pagination
    //-.content
        .row.column
            h4 Вы смотрели
        include components/shop/_products-viewed
