p
  a(href="#")
    img(src="./images/jove.png", alt="")
p
  a(href="#")
    img(src="./images/rituels.png", alt="")
p
  a(href="#")
    img(src="./images/cars.png", alt="")
p
  a(href="#")
    img(src="./images/museum.png", alt="")
p
  a(href="#")
    img(src="./images/rooster.png", alt="")
.row
  .large-12.columns.text-center.large-text-left
    p
      a(href="#")
        img(src="./images/savoca.png", alt="")
  .large-12.columns.text-center.large-text-right
    p
      a(href="#")
        img(src="./images/cgb.png", alt="")
