footer.footer
  .row
    .large-19.medium-17.columns
      ul.list.list_foot.text-center.medium-text-left
        each title,index in ['О нас','Реклама','Контакты','Карта сайта']
          li.list__item
            a.list__link(href="#")= title
    .large-5.medium-7.columns.footer__text.text-center.medium-text-right
      |Создание сайта —&nbsp;
      a.footer__cetera(href="https://cetera.ru/") Cetera Labs
      a.footer__link(href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=http%3A%2F%2Fcetera.ru%2F") Сообщить об ошибке
