.row.columns.news
  p
    a(href="#").news__title «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта  2
  p Baldwin’s, based in Central London, is one of the world’s oldest and largest numismatic dealerships. It was founded in 1872, and their current team of specialists has over 300 years combined experience in all areas of numismatics, including British and foreign coins, commemorative medals, Ancient coins, military decorations, banknotes, stamps and autographs.Their dedicated auction department opened in 1993, and hosts eighteen prestigious international auctions per year in London, Hong Kong and New York, and their current team of specialists has over 300 years combined experience in all British and foreign coins
  .float-left Путь:
  +bread(['Главная','Название раздела','Название подраздела'])   
  +lot('') 
