.x-carousel-media-gallery
    .x-carousel-media-gallery__item
            img(src="./images/spa/s1.jpg",alt="spa")
    .x-carousel-media-gallery__item
            img(src="./images/spa/s2.jpg",alt="spa")
    .x-carousel-media-gallery__item
            img(src="./images/spa/s3.jpg",alt="spa")
    .x-carousel-media-gallery__item
            img(src="./images/spa/s4.jpg",alt="spa")
    .x-carousel-media-gallery__item
            img(src="./images/spa/s5.jpg",alt="spa")
    .x-carousel-media-gallery__item
        img(src="./images/spa/s1.jpg",alt="spa")
    .x-carousel-media-gallery__item
        img(src="./images/spa/s2.jpg",alt="spa")
    .x-carousel-media-gallery__item
        img(src="./images/spa/s3.jpg",alt="spa")
    .x-carousel-media-gallery__item
        img(src="./images/spa/s4.jpg",alt="spa")
    .x-carousel-media-gallery__item
        img(src="./images/spa/s5.jpg",alt="spa")

