.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Страницы
.padding-5.margin-bottom-5.aside-menu#menu-left
    ul.menu.vertical.tree-menu.text-left
        li: a(href='food-place.html' title='') Ресторан
        li: a(href='food-place.html' title='') Кафе
        li: a(href='food-place.html' title='') Кофейня
        li: a(href='food-place.html' title='') Бар
