.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Страницы
.padding-5.margin-bottom-5.aside-menu#menu-left
    ul.menu.vertical.text-left.tree-menu
        li: a.text-link(href='kids-event.html' title='') Дни рождения
        li: a.text-link(href='kids-event.html' title='') Каникулы
        li: a.text-link(href='kids-event.html' title='') Выпускной в форме квеста
        li: a.text-link(href='kids-event.html' title='') Мировые экскурсии
