.grid-x.grid-padding-x.small-padding-collapse.small-up-3.medium-up-4.large-up-7.line-calendar(data-equalizer)
    .cell
        .line-calendar__item.active
            .line-calendar__item_day
                p: strong ПН
            .line-calendar__item_time(data-equalizer-watch)
                p 9.00 – 15.00
    .cell
        .line-calendar__item
            .line-calendar__item_day
                p: strong ВТ
            .line-calendar__item_time(data-equalizer-watch)
    .cell
        .line-calendar__item
            .line-calendar__item_day
                p: strong СР
            .line-calendar__item_time(data-equalizer-watch)
    .cell
        .line-calendar__item.active
            .line-calendar__item_day
                p: strong ЧТ
            .line-calendar__item_time(data-equalizer-watch)
                p 9.00 – 15.00
    .cell
        .line-calendar__item
            .line-calendar__item_day
                p: strong ПТ
            .line-calendar__item_time(data-equalizer-watch)
    .cell
        .line-calendar__item
            .line-calendar__item_day
                p: strong СБ
            .line-calendar__item_time(data-equalizer-watch)
    .cell
        .line-calendar__item
            .line-calendar__item_day
                p: strong ВС
            .line-calendar__item_time(data-equalizer-watch)


