.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
  span.button.expanded(data-toggle)
    i.fa.fa-lg.fa-bars
    | &nbsp;Навигация
.padding-5.margin-bottom-5.aside-menu#menu-left
  ul.menu.vertical.text-center

    li.aside-menu__item: a(href='https://gradcollege.okstate.edu/sites/default/files/PDF_linking.pdf' title='')
      .margin-bottom-3
        i.fa.fa-file-pdf-o.fa-3x
      | Правила системы лояльности (100kb)
    li.aside-menu__item: a(href='https://gradcollege.okstate.edu/sites/default/files/PDF_linking.pdf' title='')
      .margin-bottom-3
        i.fa.fa-file-pdf-o.fa-3x
      | Бонусное меню (20kb)