.grid-container: .grid-x: .cell.margin-top-6
    .margin-bottom-6: a.text-primary(data-toggle='menu'): i.fa.fa-bars.fa-2x
    nav#menu.hide(data-toggler='hide')
        button.button.hollow.dropdown(data-toggle='location-dropdown') Новосибирск
        #location-dropdown.dropdown-pane(data-dropdown data-auto-focus='true')
            ul.menu.vertical
                li.active: a(href='') Новосибирск
                li: a(href='') Красноярск
                li: a(href='') Екатеринбург
                li: a(href='') Челябинск

        ul.menu.dropdown(data-dropdown-menu)
            li
                a(href='mira-thermes.html') Термы Мира «Сосновый Бор»
                ul.menu
                    li
                        a(href='mira-thermes-area.html' title='') Аква-зона
                        ul.menu
                            li: a(href='mira-thermes-location.html' title='') Большой бассей
                            li: a(href='mira-thermes-location.html' title='') Джакузи
                            li: a(href='mira-thermes-location.html' title='') Соляной грот
                    li
                        a(href='mira-thermes-area.html' title='') Бани
                        ul.menu
                            li: a(href='mira-thermes-location.html' title='') Сенная баня
                            li: a(href='mira-thermes-location.html' title='') Соляная баня
                            li: a(href='mira-thermes-location.html' title='') Русская парная
                    li
                        a(href='mira-thermes-area.html' title='') Пляж
                        ul.menu
                            li: a(href='mira-thermes-location.html' title='') Бассейн
                            li: a(href='mira-thermes-location.html' title='') Зона отдыха
                            li: a(href='mira-thermes-location.html' title='') Бар
                    li: a(href='mira-thermes-price.html' title='') Цены
            li
                a(href='mira-thermes.html') Термы Мира «Набережная»
                ul.menu
                    li
                        a(href='mira-thermes-area.html') «Семейный» зал
                        ul.menu
                            li: a(href='mira-thermes-location.html' title='') Сенная баня
                            li: a(href='mira-thermes-location.html' title='') Соляная баня
                            li: a(href='mira-thermes-location.html' title='') Русская парная
                    li
                        a(href='mira-thermes-area.html') «Релакс» зал
                        ul.menu
                            li: a(href='mira-thermes-location.html' title='') Джакузи
                            li: a(href='mira-thermes-location.html' title='') Снежная комната
                            li: a(href='mira-thermes-location.html' title='') Бани
                    li: a(href='mira-thermes-price.html' title='') Цены
            li
                a(href='mira-spa-programs.html') Мира СПА
                ul.menu
                    li
                        a(href='mira-spa-programs.html') Программы
                        ul.menu
                            li
                                a(href='mira-spa-programs.html') Парение
                                ul.menu
                                    li: a(href='mira-spa-offer.html') По-царски
                                    li: a(href='mira-spa-offer.html') До седьмого пота
                            li
                                a(href='mira-spa-programs.html') Пилинги и скрабы
                                ul.menu
                                    li: a(href='mira-spa-offer.html') Ваниль
                                    li: a(href='mira-spa-offer.html') Череда
                            li
                                a(href='mira-spa-programs.html') Обертывания
                                ul.menu
                                    li: a(href='mira-spa-offer.html') Каштан
                            li
                                a(href='mira-spa-programs.html') Программы по лицу
                                ul.menu
                                    li: a(href='mira-spa-offer.html') Пилинг брусника
                            li
                                a(href='mira-spa-programs.html') Спа-программы
                                ul.menu
                                    li: a(href='mira-spa-offer.html') Рай
                    li: a(href='staff.html') Мастера
                    li: a(href='promo.html') Акции и скидки
                    li: a(href='price-calculator.html') Калькулятор цены
            li
                a(href='all-services.html') Все услуги
            li
                a(href='rent.html') Аренда
                ul.menu
                    li: a(href='rent-space.html') Большой зал
                    li: a(href='rent-space.html') Малый зал
                    li: a(href='rent-space.html') Каминный зал
                    li: a(href='rent-space.html') Гостиная
            li
                a(href='kids.html') Мира для детей
                ul.menu
                    li: a(href='kids-event.html') Дни рождения
                    li: a(href='kids-event.html') Каникулы
                    li: a(href='kids-event.html') Выпускной в форме квеста
                    li: a(href='kids-event.html') Мировые экскурсии
            li
                a(href='food.html') Фудкорт
                ul.menu
                    li: a(href='food-place.html') Ресторан
                    li: a(href='food-place.html') Кафе
                    li: a(href='food-place.html') Кофейня
                    li: a(href='food-place.html') Бар
            li: a(href='contacts.html' title='') Контакты
        hr.margin-top-6