.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
  span.button.expanded(data-toggle)
    i.fa.fa-lg.fa-bars
    | &nbsp;Страницы
nav#menu-left.aside-menu(data-equalizer-watch)
  .aside-menu__item
    a(href='promo.html')
      i.fa.fa-3x.fa-star
      p Акции и скидки
  .aside-menu__item
    a(href='price-calculator.html')
      i.fa.fa-3x.fa-file
      p Прайс-лист
  .aside-menu__item
    a(href='price-calculator.html')
      i.fa.fa-3x.fa-calculator
      p Калькулятор цены посещения
