.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
  span.button.expanded(data-toggle)
    i.fa.fa-lg.fa-bars
    | &nbsp;Страницы
nav#menu-left.aside-menu
  .padding-4.margin-bottom-3
    ul.menu.vertical.text-left.tree-menu
      li
        a.text-link(href='mira-thermes-area.html' title='') Аква-зона
        ul.menu.vertical.nested
          li: a.text-link(href='mira-thermes-location.html' title='') Большой бассейн
          li: a.text-link(href='mira-thermes-location.html' title='') Джакузи
          li: a.text-link(href='mira-thermes-location.html' title='') Соляной грот
      li: a.text-link(href='mira-thermes-area.html' title='') Бани
      li: a.text-link(href='mira-thermes-area.html' title='') Пляж

  ul.menu.vertical.text-center
    li.aside-menu__item
      a(href='mira-thermes-price.html')
        i.fa.fa-3x.fa-rub
        br
        p Цены
    li.aside-menu__item
      a(href='price-calculator.html')
        i.fa.fa-3x.fa-calculator
        br
        p.margin-bottom-0 Калькулятор цены посещения
