.grid-container: .grid-x.grid-padding-x.small-up-1.large-up-3.align-center(data-equalizer, data-equalize-by-row="true")
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Зона «Бани»
                .card-price__head_group Взрослые (от 14 лет)
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1100
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1300
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 400
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 490
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span На весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1550
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1550
                        i.fa.fa-rouble

    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Зона «Бани»
                .card-price__head_group Дети 7–13 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 590
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 770
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 240
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 320
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span На весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 900
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 900
                        i.fa.fa-rouble
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Зона «Аква»
                .card-price__head_group Для всех
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1350
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1550
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 430
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 670
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span На весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1850
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1850
                        i.fa.fa-rouble
