.callout.gray-box.price-list
        table.price-list__table.scroll
            tr.price-list__head
                th.locked(rowspan="2",width="36%")
                th(colspan="2") Будние дни
                th(colspan="2") Выходные дни
            tr.price-list__subhead
                th Взрослые
                th Дети
                    span.tiny-text 7–13 лет
                th Взрослые
                th Дети
                    span.tiny-text 7–13 лет
            tr.price-list__row
                th.locked.price-list__head З часа
                td 1100
                    i.fa.fa-rouble
                td 590
                    i.fa.fa-rouble
                td 1300
                    i.fa.fa-rouble
                td 770
                    i.fa.fa-rouble
            tr.price-list__row
                th.locked.price-list__head Продление на час
                td 400
                    i.fa.fa-rouble
                td 240
                    i.fa.fa-rouble
                td 490
                    i.fa.fa-rouble
                td 320
                    i.fa.fa-rouble
            tr.price-list__row
                th.locked.price-list__head Неограниченное посещение в&nbsp;течении дня
                td 1550
                    i.fa.fa-rouble
                td 900
                    i.fa.fa-rouble
                td 1550
                    i.fa.fa-rouble
                td 900
                    i.fa.fa-rouble



