
.callout.gray-box.price-list
    table.price-list__table.scroll
        tr.price-list__head
            th(width="200")  Дни недели
            th(width="200") Тариф
            th(width="200") «Семейный»
            th(width="200") «Семейный» + Релакс
            th(width="200") Время
        tr.price-list__row_sub
            th.locked Понедельник
            td Золотой возраст
                sup 4
                hr
                | День студента
                sup 3
            td 490 #[i.fa.fa-rouble]
                hr
                | 490 #[i.fa.fa-rouble]
            td 820 #[i.fa.fa-rouble]
                hr
                | 970 #[i.fa.fa-rouble]
            td 9.00 – 16.00
                hr
                | 9.00 – 19.00
        tr.price-list__row_sub
            th.locked Вторник
            td Мамин час
                sup 2
                hr
                | День студента
                sup 3
            td 790 #[i.fa.fa-rouble]
                hr
                | 640 #[i.fa.fa-rouble]
            td
                .tiny-text Недоступен
                hr
                | 970 #[i.fa.fa-rouble]
            td 9.00 – 16.00
                hr
                | 9.00 – 19.00
        tr.price-list__row_sub
            th.locked Среда
            td Женский день
                hr
                | День студента
                sup 3
            td
                .tiny-text Основной тариф
                hr
                | 640 #[i.fa.fa-rouble]
            td
                .tiny-text Основной тариф
                hr
                | 970 #[i.fa.fa-rouble]
            td 9.00 – 22.00
        tr.price-list__row_sub
            th.locked Четверг
            td Золотой возраст #[sup 1]
                hr
                | День студента #[sup 3]
                hr
                | Мамин час #[sup 2]
            td
                | 790 #[i.fa.fa-rouble]
                hr
                | 640 #[i.fa.fa-rouble]
                hr
                | 790 #[i.fa.fa-rouble]
            td
                | 820 #[i.fa.fa-rouble]
                hr
                | 970 #[i.fa.fa-rouble]
                hr
                .tiny-text Недоступен
            td 9.00 – 15.00
                hr
                | 9.00 – 22.00
                hr
                | 9.00–15.00
        tr.price-list__row_sub
            th.locked Пятница
            td Взрослый день #[sup 4]
                hr
                | День студента #[sup 3]
            td
                .tiny-text Основной тариф
                hr
                | 640 #[i.fa.fa-rouble]
            td
                .tiny-text Основной тариф
                    hr
                | 970 #[i.fa.fa-rouble]
            td 9.00 – 22.00
        tr.price-list__row_sub
            th.locked Суббота
                hr
                | Воскресенье
            td Семейный день
            td: .tiny-text Основной тариф
            td: .tiny-text Основной тариф
            td 9.00 – 22.00











