.grid-container: .grid-x.grid-padding-x.small-up-1.large-up-3.align-center(data-equalizer, data-equalize-by-row="true")
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Семейный зал
                .card-price__head_group Дети 1–6 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 270
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 270
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 400
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 400
                        i.fa.fa-rouble
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Семейный зал
                .card-price__head_group Дети 7–13 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 560
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 730
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 850
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 850
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 230
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 300
                        i.fa.fa-rouble
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall Семейный зал
                .card-price__head_group Взрослые от 14 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1040
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1200
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1450
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1450
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 380
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 560
                        i.fa.fa-rouble
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall «Релакс» зал
                .card-price__head_group Взрослые от 14 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 290
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 430
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 550
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 550
                        i.fa.fa-rouble
    .cell
        .card.card-price(data-equalizer-watch)
            .card-price__head
                .card-price__head_hall «Семейный + Релакс» зал
                .card-price__head_group Взрослые от 14 лет
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span 3 часа
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будние
                            br
                            | дни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1330
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1630
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Весь день
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 1950
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 1950
                        i.fa.fa-rouble
            .card-price__section
                .card-price__section_title
                    i.fa.fa-clock-o
                    span Продление на час
            .grid-container.card-price__row
                .grid-x.grid-padding-x
                    .small-12.cell
                        .card-price__row_days Будни
                    .small-12.cell
                        .card-price__row_days Выходные и праздники
                .grid-x.grid-padding-x
                    .small-12.cell: .card-price__row_cost 420
                        i.fa.fa-rouble
                    .small-12.cell: .card-price__row_cost 700
                        i.fa.fa-rouble