.callout.gray-box.price-list
        table.price-list__table.scroll
            tr.price-list__head
                th.locked(rowspan="1",width="36%")
                th Будние дни
                th Выходные дни

            tr.price-list__row
                th.locked.price-list__head З часа
                td 1350
                    i.fa.fa-rouble
                td 1550
                    i.fa.fa-rouble

            tr.price-list__row
                th.locked.price-list__head Продление на час
                td 430
                    i.fa.fa-rouble
                td 670
                    i.fa.fa-rouble

            tr.price-list__row
                th.locked.price-list__head Неограниченное посещение в&nbsp;течении дня
                td(colspan="2") 1850
                    i.fa.fa-rouble



