.margin-bottom-5.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
.padding-5.margin-bottom-5.radius.aside-menu#menu-left
    ul.menu.vertical.text-link
        li: a(href='rent-space.html' title='') Большой зал
        li: a(href='rent-space.html' title='') Малый зал
        li: a(href='rent-space.html' title='') Каминный зал
        li: a(href='rent-space.html' title='') Гостиная
