.grid-container.full.text-cente
    .grid-x.select-place
        .small-24.medium-12.cell.select-place__item(style="background-image:url('./i/nav/forest.jpg')")
            a.select-place__link(href="#"): span Сосновый бор
        .small-24.medium-12.cell.select-place__item(style="background-image:url('./i/nav/river.jpg')")
            a.select-place__link(href="#"): span Набережная