.grid-container.margin-bottom-3.text-center#embankment(data-toggler=".hide-for-small-only")
    a(href="#").button.large.lime.hollow.header__forest
        | Термы Мира.
        |
        strong Набережная
    a(href="#").button.large.lime.hollow.header__forest
        | Термы Мира.
        |
        strong Сосновый бор