.b-about
{
    padding-top: 210px;
    padding-bottom: 75px;

    background: #fff;
    &__title
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 55px;

        padding-bottom: 6px;

        text-transform: uppercase;

        color: #202020;
    }
    &__img
    {
        padding-top: 70px;
    }
    &__info
    {
    }
    &__years
    {
        font-family: 'NotoSerif-Italic';
        font-size: 20px;
        
        line-height: 25px;

        padding-bottom: 45px;

        color: #717171;
    }
    &__text
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        color: #646464;
    }
    &__par
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        margin-bottom: 25px;

        color: #646464;
    }
}
@media (max-width:640px) {
    .b-about {
        padding-top: 60px;
        &__img {
            padding-top: 100px;
        }
    }
}