.b-footer
{
    padding-top: 14px;
    padding-bottom: 32px;

    background: #fff;
    &__cetera
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        text-align: right;

        color: #646464;
    }
    &__tel
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        color: #646464;
        &:hover
        {
            text-decoration: underline;
        }
    }
    &__address
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        padding-left: 22px;

        color: #646464;
    }
}
@media (max-width:640px) {
  .b-footer {
    &__address {
      padding-left: 0;
    }
    &__cetera {
      text-align: center;
    }
  }
}