.b-line
{
    padding-top: 24px;
    padding-bottom: 29px;

    background: #fff;
    &__one
    {
        padding-left: 60px;
    }
    &__two
    {
        padding-top: 9px;
        padding-left: 77px;
    }
    &__three
    {
        padding-top: 9px;
        padding-left: 104px;
    }
    &__four
    {
        padding-top: 20px;
    }
}
@media (max-width:960px)
{
    .b-line
    {
       
        &__one
        {
            padding-left: 20px;
        }
        &__two
        {
            padding-left: 30px;
            padding-bottom: 8px;
        }
        &__three
        {
            padding-left: 30px;
        }
        &__four
        {
            padding-top: 22px;
        }
    }
}
