.b-tooltip {
    background: rgba(97, 97, 97, 0.9);
    border-radius: 6px;
    position: absolute;
    bottom: -10px;
    padding: 10px;
    height: 35px;
    color: #fff;
    display: none;
    font-size: 14px;
}