hr
footer.footer
  .row.text-center.medium-text-left
    .large-16.medium-8.columns
      p
        a(href="tel:+79683930083") +7 (968) 393-00-83
        br
        a(href=" +74996505372") +7 (499) 650-53-72
        br
        a(href="mailto:gold@velvetin.ru") gold@velvetin.ru
        br
        | © Velvetin 2017
    .large-4.medium-8.small-12.columns
      ul.jewel
        each title in ['Ювелирные украшения','О бренде','Качество','Отзывы','Спецпредложения','Подарочные сертификаты']
          li.jewel__item
            a(href="#").jewel__link= title
    .large-4.medium-8.small-12.columns
      ul.jewel
        each title in ['Контакты','Заказать','Сроки изготовления','Частые вопросы','Звездные клиенты','Блог']
          li.jewel__item
            a(href="#").jewel__link= title
