include ../mixins/_mixin-product-line

+productLine(false,'onDemand',true,false,'stone1.png')
hr
br
+productLine(false,false,'inCart',true,'stone2.png')
hr
br
+productLine('discount',true,false,false,'stone3.png')
