#add-comment.reveal(data-reveal)
    h2 Добавить свой комментарий

    form
        label Текст комментария *
        textarea(rows='3')

        button.button.primary Отправить

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;
