#enter-login-modal.reveal(data-reveal)
  ul#example-tabs.tabs(data-tabs='').registration.text-center
    li.tabs-title.is-active
      a(href='#panel1', aria-selected='true') Вход
    li.tabs-title
      a(href='#panel2') Регистрация
  .tabs-content(data-tabs-content='example-tabs')
    #panel1.tabs-panel.is-active
      h3.text-center
        strong Пожалуйста, авторизуйтесь:
      form(action='#')
        label
          | Ваш email
          input(type='email')
        label
          | Пароль
          input(type='password')
        +object('Запомнить меня на этом компьютере','c1')
        br
        button.button.small-expanded.success(type='submit',data-toggle="enter-login menu-another enter-user")
          | Войти &nbsp;
          i.fa.fa-sign-in.fa-lg
      p
        a(href='user-recover.html', title='') Забыли пароль?
      p
        em Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
      p
        | Войти через: &nbsp;
        a(href='#', title='').fa-stack.fa-lg.text-vk
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-vk.fa-stack-1x.fa-inverse
        = '  '
        a(href='#', title='').fa-stack.fa-lg.text-twi
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x.fa-inverse
        = '  '
        a(href='#', title='').fa-stack.fa-lg.text-fb
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x.fa-inverse
        = '  '
        a(href='#', title='').fa-stack.fa-lg.text-gp
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-google-plus.fa-stack-1x.fa-inverse
      
    #panel2.tabs-panel
      h3.text-center
        strong Регистрация пользователя
      form(action='#')
        label
          | Логин
          input(type='text')
        label
          | Email
          input(type='email')
        label
          | Ваше имя
          input(type='text')
        label
          | Придумайте пароль
          input(type='password')  
        label
          | Повторите пароль
          input(type='password')  
        .row.columns
          .object
            input(type="checkbox",id="id1").object__input
            label.object__label(for="id1")
              | Я ознакомлен и принимаю условия &nbsp;
              a(href='corp-regular.html' title='') Соглашения об использовании сайта
              |, в том числе в части обработки и использования моих персональных данных
        p
        button.button.small-expanded.success
          | Регистрация &nbsp;
          i.fa.fa-user-plus.fa-lg      



  

  button.close-button(data-close aria-label="Закрыть")
    span(aria-hidden="true") &times;
