#enter-user.float-right(data-toggler=".hide")
  a(href="#",data-toggle="enter-login-modal").filter__enter
    i.fa.fa-sign-in.fa-lg
    | войти
#menu-another.hide.float-right(data-toggler=".hide").filter__pack
  a(data-toggle='menu').text-black
    i.fa.fa-bars.fa-2x
    =" "
  .dropdown-pane.right#menu(data-dropdown).plant
    ul.entrance.text-left
      li.entrance__item
        a(href="./map.html").entrance__link Карта
      li.entrance__item
        a(href="./user-personal.html").entrance__link Личный кабинет
      li.entrance__item
        a(href="./feedback.html").entrance__link Обратная связь
      li.entrance__item
        a(href="#",data-toggle="menu-another enter-user").entrance__link Выход  
