doctype html
html.no-js(lang='en')
    include service/_head
    body
        include mixins/_mixin-object
        block header
          include corporate/_header

        block page
        block footer-bottom
          include corporate/_footer
        include service/_js.html
