.text-right
    button.button.hollow(data-toggle="map-chat-dropdown")
        = 'Чат '
        i.fa.fa-angle-down
.dropdown-pane#map-chat-dropdown(data-dropdown data-auto-focus="true")
    h4 Чат
    hr
    div(style='height: 300px; overflow: auto;')
        p
            | #[b Иван Иванов]:
            | Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
        p
            | #[b Витя]:
            | Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
        p
            | #[b kkevin]:
            | Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
        p
            | #[b Пётр Иванович]:
            | Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
    hr
    br
    form
        textarea(rows='2')
        button.button Написать в чат