extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .row.column.text-center
            h1 Ошибка 404: страница не найдена
        .content
            .row
                .columns.small-24.medium-20.small-centered.large-16
                    include components/common/_404
