doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        include components/mixins/_mixin-journal
        block top-place
          include components/corporate/_header

        block page
          include components/corporate/_content

        block foot
          include components/corporate/_footer
        include components/service/_js.html
