@charset "UTF-8"; // Default Variables
$slick-arrow-color: rgba(255, 255, 255, 0.5) !default;
$slick-arrow-color-hover: rgba(255, 255, 255, 0.5) !default;
$slick-arrow-color-disabled: rgba(255, 255, 255, 0.2) !default;
$slick-background-color: rgba(0, 0, 0, 0.05) !default;
$slick-background-color-hover: rgba(0, 0, 0, 0.2) !default;
$slick-background-color-disabled: rgba(0, 0, 0, 0.02) !default;
$slick-dot-color: rgba(0, 0, 0, 0.05) !default;
$slick-dot-color-active: rgba(0, 0, 0, 0.2) !default; /* Slider */
/*.slick-list {
  .slick-loading & {
    background: #fff url("ajax-loader.gif") center center no-repeat;
  }
}*/

.slick-slide {
  outline: none !important;

  &:focus,
  a {
    outline: none;
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: initial;
  -moz-transform: initial;
  -ms-transform: initial;
  -o-transform: initial;
  transform: initial;
}

.slick-list {
  z-index: 0;
}
/* Arrows */

.slick-next,
.slick-prev {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: $primary-color;
  font-size: rem-calc(16);
  outline: none;
  width: rem-calc(16);
  height: rem-calc(16);

  &:focus,
  &:hover {
    outline: none;
    color: $primary-color;
  }

  &.slick-disabled {
    color: $slick-arrow-color-disabled;
  }
}

.slick-prev {
  left: 1rem;
  transform: rotate(180deg);
}

.slick-next {
  right: 1rem;
}
/* Dots */

.slick-dots {
  margin: 0;
  list-style: none;
  display: block;
  position: absolute;
  right: rem-calc(-13);
  text-align: center;
  padding: 0;
  bottom: rem-calc(-2);

  li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;

    button {
      border: rem-calc(1) solid $primary-color;
      display: block;
      height: rem-calc(10);
      width: rem-calc(10);
      outline: none;
      line-height: 0;
      font-size: 0;
      margin: rem-calc(3);
      padding: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      &:focus,
      &:hover {
        outline: none;
      }
    }

    &.slick-active button {
      background: $primary-color;
    }
  }
}
