.callout
  h3
    a.consultation(href='', title='') Интересные статьи

  +advice('Попал под лошадь')
  hr.hr
  +advice('Заголовок материала')
  hr.hr
  +advice('Еще один заголовок')
  a.button.button_hollow.button_expanded(href='', title='') Все консультации
