include ../mixins/_mixin-comment-author

h3.callout__dark Комментарии (3)

+commentAuthor
.sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr.hr

+commentAuthor
.sect Обязательно придём!!!
hr.hr

+commentAuthor
.sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr.hr

h3 Добавить комментарий
form(action='#' method='post', data-abide='', novalidate='novalidate')
  input(type='text', placeholder='Представьтесь *', required='')
  p.help-text Ваше имя для комментария
  input(type='email', placeholder='Ваша электронная почта', required='')
  textarea(placeholder='Текст комментария')
  button.button(type='submit') Отправить сообщение
    i.far.fa-envelope.fa-lg.canv
