footer.footer
  .grid-container: .grid-x.grid-padding-x
    .small-24.large-8.cell.footer__block.medium-10
      a(href='#')
        img(src='./images/logo-white.svg',  alt='logo').footer__logo
      .footer__copy © 2019 ЯОО ВООПИиК  
      span.footer__cetera
        | Создание&nbsp;сайта&nbsp;&mdash;&nbsp;
      a.footer__labs(target='_blank', href='http://cetera.ru/') Cetera&nbsp;Labs
      a.footer__error(target='_blank', href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate_wireframe/') Сообщить&nbsp;об&nbsp;ошибке

    .small-12.medium-7.large-4.cell
      a(href='#', title='').footer__head Разделы
      a.footer__link(href='#') Расширенный поиск
      a.footer__link(href='#') Архив изданий
      a.footer__link(href='#') Личный кабинет

    .small-12.medium-7.large-4.cell
      a(href='#', title='').footer__head Редакция

      a.footer__link(href='#') Реклама
      a.footer__link(href='#') Медиакит
      a.footer__link(href='#') Техподдержка
      a.footer__link(href='#') Вакансии
      
    .small-12.medium-10.large-4.cell
      a(href='#', title='').footer__head Контакты
      .footer__address Россия, Ярославль
      .footer__address Ул. Трефолева 12/15
      .footer__address 150000
      a(href="tel:4852329695").footer__tel (4852) 32-96-95
      a(href="mailto:yaoovoopiik@mail.ru").footer__mail yaoovoopiik@mail.ru
      
    .small-12.medium-14.large-4.cell
      a(href='#', title='').footer__head Мы в соцсетях
      
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-vk(data-fa-transform="shrink-6")
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-twitter(data-fa-transform="shrink-6")
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-facebook-f(data-fa-transform="shrink-6")
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-odnoklassniki(data-fa-transform="shrink-6")
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-instagram(data-fa-transform="shrink-6")
      a(href='#', title='').fa-layers.fa-fw.soc.soc_footer
        i.fab.fa-google-plus-g(data-fa-transform="shrink-6")
