ul.menu.vertical
    li: a(href='smi-index.html') Главная
    li
        a(href='smi-search.html') Поиск
        ul.menu.nested.vertical
            li: a(href='smi-search-result.html') Результаты поиска
    li
        div Архив
        ul.menu.nested.vertical
            li: a(href='magazines.html') Издания
            li: a(href='issues.html') Номера
            li: a(href='search-smi.html') По изданию
            li: a(href='smi-date.html') По дате
            li: a(href='arch-article.html') Номер (единица хранения)
            li: a(href='arch-article-full.html') Полный текст статьи
    li
        div Личный раздел
        ul.menu.nested.vertical
            li: a(href='login.html') Авторизация
            li: a(href='registration.html') Регистрация
            li: a(href='regdata.html') Регистрационные данные
            li: a(href='favourites.html') Избранное
            li: a(href='history.html') История просмотров
    li
        div Волонтёр
        ul.menu.nested.vertical
            li: a(href='volunteer-issues.html') Волонтёр — Издания
            li: a(href='volunteer-issues.html#fetch-task-modal')  Волонтёр — Получить пакет
            li: a(href='volunteer-issue-update.html') Волонтёр — Издание
    li
        div Модератор
        ul.menu.nested.vertical
            li: a(href='moderator-issues.html') Модератор — Издания
            li: a(href='moderator-issue.html') Модератор — Издание
            li: a(href='user-moderator-users.html') Модератор — Пользователи
            li: a(href='moderator-issues.html#sendMessage') Модератор — Сообщение
    li
        div Администратор
        ul.menu.nested.vertical
            li: a(href='user-admin.html') Администратор — Издания
            li: a(href='user-admin-users.html') Администратор — Пользователи, Волонтёры
            li: a(href='user-admin-add-user.html') Администратор — Новый пользователь
    li: a(href='uploaded-issues.html') Загруженные издания
    li: a(href='smi-about.html') О издании

    li: a(href='about-team.html') Наша команда
    li: a(href='about-team.html#team-member-message-modal') Наша команда — сообщение
    li: a(href='buy-subscription.html') Купить подписку
    li: a(href='support.html') Техподдержка
    li: a(href='volunteers.html') Волонтерство
    li: a(href='rating.html') Рейтинг
    li: a(href='rating-cities.html') Рейтинг городов
    li: a(href='subscribe.html') Подписка на обновления
    li: a(href='smi-error.html') 404
    li: a(href='smi-regular.html') Рядовая
    li: a(href='smi-regular.html') Условия участия
    li: a(href='smi-regular.html') FAQ
    li: a(href='smi-regular.html') Реклама
    li: a(href='smi-regular.html') Пресс-релизы
    li: a(href='smi-regular.html') Медиакит

