.main
  .place
    .row.columns.text-center
      .columns
        .place__title Место под Cолнцем
          .place__group группа коттеджных поселков
    .row
      .large-19.large-centered.columns
        .row.large-up-4.medium-up-2.small-up-1.text-center
          .columns
            .joy
              a(href="#").joy__main Радости парк
          .columns
            .joy
              a(href="#").joy__main четыре сезона
          .columns
            .joy
              a(href="#").joy__main четыре сезона 2
          .columns
            .joy
              a(href="#").joy__main место под солнцем
  .row.expanded.collapse
    .large-8.medium-10.columns
      a.town(href="#",style="background-image: url(./i/img1.jpg);")
        .town__text О поселке
    .large-16.medium-14.columns
      a.town(href="#",style="background-image: url(./i/img2.jpg);")
        .town__text Генплан
    .medium-12.columns
      a.town(href="#",style="background-image: url(./i/img3.jpg);")
        .town__text карта
    .medium-12.columns
      a.town(href="#",style="background-image: url(./i/img4.jpg);")
        .town__text цены
    .large-6.medium-12.small-12.columns
      a.town(href="#",style="background-image: url(./i/img5.jpg);")
        .town__text коммуникации
    .large-6.medium-12.small-12.columns
      a.town(href="#",style="background-image: url(./i/img6.jpg);")
        .town__text транспорт
    .large-6.medium-12.small-12.columns
      a.town(href="#",style="background-image: url(./i/img7.jpg);")
        .town__text инфраструктура
    .large-6.medium-12.small-12.columns.end
      a.town(href="#",style="background-image: url(./i/img8.jpg);")
        .town__text Галерея
