.footer
  .main
    .row.expanded
      .medium-12.columns.text-center.medium-text-left
        a(href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=//cetera.ru/").footer__link Сообщить об ошибке
      .medium-12.columns.text-center.medium-text-right
        |Создание сайта —
        a(href="https://cetera.ru/").footer__cetera  Cetera Labs
