.main
  .season
    a(href="#").season__arr
      img(src="./images/arr-left.svg", alt="")
    .row
      .medium-12.columns
        .season__title Четыре сезона
      .medium-12.columns
        p.season__text
          b Подмосковная Швейцария&#160;
          | — так уже более сотни лет называют эти места. Холмистый рельеф, нетронутые леса, обширные луга - все это действительно напоминает альпийские ландшафты. По рельефу местности, характеру лесных массивов, водным факторам, климатической и микроклиматической обстановке этот район по праву считается лучшей местностью Подмосковья.
          a(href="#")  Подробнее
        b Демченков Алексей
        |  (менеджер по продажам)
        br
        a(href="tel:+79161112233").season__link +7 (916) 111 22 33
  .row.large-up-5.medium-up-3.small-up-2.text-center
    .columns.advantages
      p
        img(src="./images/ico1.svg", alt="")
      p.advantages__text Позвольте себе дом своей мечты
    .columns.advantages
      p
        img(src="./images/ico2.svg", alt="")
      p.advantages__text Метраж дома выбираете вы
    .columns.advantages
      p
        img(src="./images/ico3.svg", alt="")
      p.advantages__text мы заботимся о вашем здоровье
    .columns.advantages
      p
        img(src="./images/ico4.svg", alt="")
      p.advantages__text Платите меньше за коммуникации
    .columns.advantages.hide-for-small-only
      p
        img(src="./images/ico5.svg", alt="")
      p.advantages__text сдано более 6000 домов!
  p.hide-for-small-only &#160;
