footer.footer
  .row.text-center.medium-text-left
    .small-24.medium-12.large-7.column
      .footer__logo
        a(href="#")
          img(src="./images/logo-gray.svg", alt="")
      p &copy; ООО «Black Soldier showroom», 2017
      p
        | 150040, Ярославль,
        br
        | проспект&#160;Ленина&#160;25, этаж&#160;6, офис&#160;606
        br
        a(href='tel:88000000000').text-white 8 (800) 775-52-93
        br
        a(href='mailto:welcome@cetera.ru').text-white welcome@cetera.ru
      p
        a(href='#', title='').fa-stack.text-white
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x.text-secondary
        =" "
        a(href='#', title='').fa-stack.text-white
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x.text-secondary
        =" "
        a(href='#', title='').fa-stack.text-white
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-google-plus.fa-stack-1x.text-secondary
        =" "
        a(href='#', title='').fa-stack.text-white
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x.text-secondary
        =" "
        a(href='#', title='').fa-stack.text-white
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-linkedin-square.fa-stack-1x.text-secondary
        =" "


    .small-24.medium-6.large-4.column
      div
        a(href='#', title='')
          strong.text-white Магазин
      p.hide-for-small-only &#160;
      p.show-for-small-only
      p
        a(href="#").text-white.footer__link О магазине
        br
        a(href="#").text-white.footer__link Партнёрам
        br
        a(href="#").text-white.footer__link Контакты

    .small-24.medium-6.large-4.column.footer__line
      div
        a(href='#', title='')
          strong.text-white Покупателям
      p.hide-for-small-only &#160;
      p.show-for-small-only
      p
        a(href="#").text-white.footer__link Доставка
        br
        a(href="#").text-white.footer__link Оплата
        br
        a(href="#").text-white.footer__link Возврат
        br
        a(href="#").text-white.footer__link Гарантия и сервис

    .small-24.medium-24.large-6.large-offset-1.column.medium-text-center.large-text-left
      p: strong.text-medium-gray Принимаем к оплате
      p
        img(src='./images/shop/visa.svg', style='height: 27px', alt='visa')
        img(src='./images/shop/mc.svg', style='height: 27px', alt='mc')
        img(src='./images/shop/ms.svg', style='height: 27px', alt='sber')
        img(src='./images/shop/qiwi.svg', style='height: 27px', alt='qiwi')
        img(src='./images/shop/ym.svg', style='height: 27px', alt='ym')
        img(src='./images/shop/pp.svg', style='height: 27px', alt='pp')

      p
        | Создание сайта&nbsp;&mdash;&nbsp;
        a(href='http://cetera.ru/', title='') Cetera Labs
        br
        a(href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate/', title='').text-white Сообщить об ошибке
