p  А4, 600×600 dpi, 27/27 стр в мин., ADF, Duplex, USB, Ethernet
br

.row
  .small-24.large-12.column
    p
      span.stat
        | 25 280&nbsp;
        i.fa.fa-rub
      br
      del
        | 27 150 &nbsp;
        i.fa.fa-rub
      | &nbsp;&nbsp;
      span.label.alert Бонус <i>+45</i>
  .small-24.large-12.column
    .input-group
      input.input-group-field(type='number' value='1' min='1')
      .input-group-field
        a(href='shop-cart.html' title="Товар добавлен в корзину").button
          | &nbsp;
          i.fa.fa-shopping-basket.fa-lg
          | &nbsp;В корзину
          | &nbsp;


.row.column
  p
    span.rating
      span.rating__star
      span.rating__star
      span.rating__star.rating__star-active
      span.rating__star
      span.rating__star
    em &nbsp;оценок 25
    | &nbsp; &nbsp;
    br
    a(href='#', title='')
      i.fa.fa-lg.fa-comments-o
      | &nbsp;Отзывы&nbsp;
      span.badge 10
    | &nbsp; &nbsp;
    | &nbsp; &nbsp;
    a(data-open="add-to-favourites-auth-popup")
      i.fa.fa-lg.fa-heart-o
      | &nbsp;Запомнить
