.row
  .medium-12.column
    p
      b Наличие:
      br
      | «Аэропорт» —
      span.text-success &#160; много
      br
      | «Водный стадион» —
      span &#160; нет
      br
      | «Химки» —
      span.text-success &#160; мало
  .medium-12.column
    p
      b Доставка:
      br
      | Самовывоз — 17.03.2016
      br
      | Москва и МО — 18.03.2016 (Бесплатно)
      br
      | Россия — 23.03.2016 (от 500 руб)
      br
      a(href='#' title='') Тарифы и условия доставки
