<div class="app">
  <v-app id="inspire2">
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex lg4>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-web-icons-seo-development/seo-and-development/page-ranking.svg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Создание интернет-магазина</h3>
                <div>Быстрый старт и индивидуальная разработка. Решения для любых задач и бюджетов.</div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn color="orange">Узнайте преимущества</v-btn>

            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex lg4>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-web-icons-seo-development/seo-and-development/content-management.svg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Развитие интернет-магазина</h3>
                <div>Абонентское обслуживание. CS-Cart, NetCat, «1C-Битрикс», Magento, OpenCart, UmiCMS.</div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn color="orange">Познакомьтесь с методологией</v-btn>

            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex lg4>
          <v-card class="pa-4">

            <v-img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-web-icons-seo-development/seo-and-development/attracting-customers.svg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Клиенты для магазина</h3>
                <div>Контекст, SEO, SMM, AI, Email, Instagram, конверсия, сети, сквозная аналитика, call-tracking.</div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn color="orange">Почему только комплексный маркетинг?</v-btn>

            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <div class=" carousel-services ">
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/b2b-stores/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/online-education.svg" alt="B2B-магазины"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/b2b-stores/">B2B-магазины</a></h2>
              <h4>B2B-магазины разрабатываются для оптовых продаж через интернет.&nbsp;</h4>

              <p>Автоматизация оптовой&nbsp;торговли&nbsp;позволяет:</p>

              <ul>
                <li>сократить расходы на оформление и отгрузку&nbsp;заказов;</li>
                <li>ускорить прохождение сделки;</li>
                <li>увеличить оборачиваемость;</li>
                <li>сократить время ожидания поставки.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/b2b-stores/">Узнайте особенности B2B-магазинов</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/dealers/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/api-interface.svg" alt="Интернет-магазин для дилеров"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/dealers/">Интернет-магазин для дилеров</a></h2>
              <h4>Оптимизация расходов на оформление продаж. Частный случай B2B-магазина.</h4>

              <p>Интернет-магазины помогают дистрибьюторам и вендорам:</p>

              <ul>
                <li>привлечь новых дилеров;</li>
                <li>сократить задержки движения товара по цепочке продаж;</li>
                <li>сократить себестоимость продаж;</li>
                <li>повысить лояльность дилеров.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/dealers/">Прочтите про автоматизацию дилерских продаж</a></p>

              <p>&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/b2c-stores/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/card-payment.svg" alt="B2C-магазины"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/b2c-stores/">B2C-магазины</a></h2>
              <h4>Организуем розничную торговлю через интернет.</h4>

              <p>Розничная интернет-магазины помогают:</p>

              <ul>
                <li>расширить географию продаж;</li>
                <li>обеспечить круглосуточное обслуживание;</li>
                <li>эффективно перемещать товары между розничными точками;</li>
                <li>настроить интегрированные маркетинговые коммуникации.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/b2c-stores/">Посмотрите наши кейсы по B2C-магазинам</a></p>

              <p>&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/network/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/innovation-and-research.svg" alt="Сеть интернет-магазинов"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/network/">Сеть интернет-магазинов</a></h2>
              <h4>Для целей SEO, манипулирования ценами в маркетплейсах и для работы в узких нишах</h4>

              <p>Первичные&nbsp;направления построения сети интернет-магазинов:</p>

              <ul>
                <li>по географии;</li>
                <li>по категориям товаров;</li>
                <li>по брендам;</li>
                <li>по языкам.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/network/">Узнайте подробности про сети интернет-магазинов</a>&nbsp;</p>

              <p>&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/ecommerce-for-manufactures/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/wire-transfers.svg" alt="Магазины для производителей"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/ecommerce-for-manufactures/">Магазины для производителей</a></h2>
              <h4>Спрямляем цепочку поставок до direct-to-customer, предоставляем удобный сервис конечным потребителям&nbsp;продукции.</h4>

              <p>Преимущества для производителей:</p>

              <ul>
                <li>актуальный каталог товаров и идеальные описания продукции;</li>
                <li>отсутствие конкурентов на &laquo;полке&raquo; интернет-магазина;</li>
                <li>обратная связь от потребителей, обладание собственной базой прямых клиентов;</li>
                <li>квалифицированные допродажи.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/ecommerce-for-manufactures/">Узнайте как производители работают с конечными клиентами</a></p>

              <p>&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/egrocery/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/university-and-graduation.svg" alt="eGrocery"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/egrocery/">eGrocery</a></h2>
              <h4>Торговля товарами повседневного спроса через интернет.</h4>

              <p>Интернет-магазины продуктов питания и товаров для дома фокусируются на:</p>

              <ul>
                <li>программах лояльности;</li>
                <li>быстрой и выгодной доставке;</li>
                <li>контроле за потребительской корзиной;</li>
                <li>онлайн-мерчендайзинге.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/egrocery/">Узнайте подробности</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/marketplace/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/education-for-all.svg" alt="Маркетплейс"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/marketplace/">Маркетплейс</a></h2>
              <h4>Объединим большое количество интернет-ритейлеров на 1 площадке.</h4>

              <p>Причины популярности маркетплейсов:</p>

              <ul>
                <li>эффективный способ перепродать имеющуюся аудиторию предпринимателям;</li>
                <li>дополнение к собственному ассортименту продукции из смежных отраслей, повышение лояльности и среднего чека у потребителя;</li>
                <li>озможность начать продажи без собственных складских запасов;</li>
                <li>повышение популярности собственной продукции через паразитирование на SEO-трафике на товары других продавцов.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/marketplace/">Узнайте особенности создания маркетплейсов</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/mall-marketplace/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/identity-and-brand-design.svg" alt="Маркетплейс для торгового центра"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/mall-marketplace/">Маркетплейс для торгового центра</a></h2>
              <h4>Торговый центр может объединить товары всех своих арендаторов на единой площадке.</h4>

              <p>Преимущества для торгового центра:</p>

              <ul>
                <li>повышение лояльности арендаторов;</li>
                <li>дополнительный агентский доход;</li>
                <li>помощь в привлечении новых арендаторов, создание пула виртуальных арендаторов и их вскармливание на площадке;</li>
                <li>ретаргетинг&nbsp;и ремаркетинг&nbsp;аудитории сайта и посетителей ТЦ.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/mall-marketplace/">Прочтите о многоканальном маркетинге уровня&nbsp;ТЦ</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/tickets/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-internet-banking-startup/startup-and-new-business.svg" alt="Билетные системы "></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/tickets/">Билетные системы </a></h2>
              <h4>Организуем торговлю билетами на вашем сайте и в мобильном приложении.</h4>

              <p>Особенности торговли билетами в интернете:</p>

              <ul>
                <li>интеграция с турникетами, кассами, считывателями на площадках;</li>
                <li>конструкторы залов&nbsp;на площадках;</li>
                <li>продвижение новых мероприятий среди клиентов;</li>
                <li>продвижение билетной системы за счёт ресурсов выступающих.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/tickets/">Узнайте о нашем опыте по созданию билетных систем</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/m-commerce/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-idea-imagination-digital/mobile-marketing.svg" alt="Мобильная коммерция"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/m-commerce/">Мобильная коммерция</a></h2>
              <h4>Мобильная коммерция рекомендуется для ритейла с регулярными повторными покупками (книги, игрушки, продукты питания, одежда&hellip;).</h4>

              <p>Преимущества торговли через мобильные приложения:</p>

              <ul>
                <li>рост&nbsp;повторных продаж;</li>
                <li>оптимизация&nbsp;онлайн-мерчендайзинга;</li>
                <li>интеграция программ лояльности;</li>
                <li>закрепление покупателей, возможность вывода новых товаров.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/m-commerce/">Прочтите о технической реализации мобильной торговли</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-services__item">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell show-for-medium"><a href="/ecommerce/types/monobrand-ecommerce/"><img src="https://cetera.ru/themes/corp-2018/images/svg-icons/flat-line-concepts-idea-imagination-digital/idea-and-imagination.svg" alt="Монобрендовые магазины"></a></div>
            <div class="medium-12 medium-offset-2 cell align-self-middle">
              <h2><a href="/ecommerce/types/monobrand-ecommerce/">Монобрендовые магазины</a></h2>
              <h4>Монобрендовые магазины создаются производителями и дистрибьюторами для поддержки вывода товара на новые рынки.</h4>

              <p>Зачем нужен свой монобрендовый магазин:</p>

              <ul>
                <li>площадка для приземления рекламного трафика;</li>
                <li>квалифицированное онлайн-консультирование;</li>
                <li>организация предварительных продаж, предзаказов;</li>
                <li>источник данных для маркетплейсов.</li>
              </ul>

              <p><a class="button" href="/ecommerce/types/monobrand-ecommerce/">Прочтите о рекламных механиках</a></p>

            </div>
          </div>
        </div>
      </div>

    </div>


    <v-container grid-list-lg>
      <v-layout row wrap class="mb-5">
        <v-flex lg8>
          <h2>Портфолио по интернет-магазинам</h2>
        </v-flex>
        <v-flex lg4 class="text-right">
          <v-btn color="success">Ещё 1 000+ проектов </v-btn>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190126/kosmetika-proff.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Kosmetika-proff.ru — интернет-магазин косметики</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190126/itstock.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Kosmetika-proff.ru — интернет-магазин косметики</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20180813/sadovye-mekhanizmy.jpg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Kosmetika-proff.ru — интернет-магазин косметики</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20180813/strojagrotekhnika.jpg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Kosmetika-proff.ru — интернет-магазин косметики</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20180813/pervyj-tsifrovoj.jpg"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">«Бизнес-мода» — B2B-магазин одежды</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина. Поддержка, развитие и продвижение крупного косметического интернет-магазина. Поддержка, развитие и продвижение крупного косметического
                  интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190126/domalina.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Domalina — интернет-магазин одежды</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190126/bigam.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">«Бигам» — интернет-магазин инструмента, товаров для дома и сада</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190215/lime-office.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">Lime Office — интернет-магазин офисной мебели</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex xl3 lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190215/biznesmoda.png"></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-2">«Бизнес-мода» — B2B-магазин одежды</h3>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>


      </v-layout>
      <v-layout row wrap align-start class="mb-5">
        <v-flex lg8>
          <h2>Новости компании</h2>
        </v-flex>
        <v-flex lg4 class="text-right">
          <v-btn color="success">Все новости</v-btn>
        </v-flex>

        <v-flex lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20181226/corporategames.jpg"></v-img>

            <v-card-title primary-title>
              <div>
                <a href="#" class="headline mb-2">Подписан договор с «Всероссийское физкультурно-спортивное общество «Трудовые резервы»</a>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20190115/ip_2.jpeg"></v-img>

            <v-card-title primary-title>
              <div>
                <a href="#" class="headline mb-2">Cetera подписала договор с компанией Erpico</a>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>
        <v-flex lg4 md6>
          <v-card class="pa-4">
            <v-img src="https://cetera.ru/imagetransform/width_245_height_163_fit_3/uploads/20181226/pipe-express.jpg"></v-img>

            <v-card-title primary-title>
              <div>
                <a href="#" class="headline mb-2">Cetera подписала договор с компанией Pipe Express</a>
                <div>Поддержка, развитие и продвижение крупного косметического интернет-магазина.</div>
              </div>
            </v-card-title>


          </v-card>
        </v-flex>




      </v-layout>


    </v-container>

  </v-app>
</div>
<div id="app">
  <v-container>
    <v-layout row wrap align-start>
      <v-flex sm12>
        <h2>Отправить заявку</h2>
      </v-flex>


      <v-flex md6>


        <v-app id="inspire3">
          <v-form v-model="valid">
            <v-container>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="firstname" :rules="nameRules" :counter="10" label="Ваше имя" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field :counter="10" label="Телефон" required></v-text-field>
                </v-flex>



                <v-flex xs12>
                  <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field :counter="300" label="Чем мы можем помочь?" required></v-text-field>
                </v-flex>

                <v-checkbox v-model="checkbox" value="1" label="Соглашаюсь на обработку персональных данных" data-vv-name="checkbox" type="checkbox" required></v-checkbox>
                <v-btn>Отправить сообщение</v-btn>
              </v-layout>
            </v-container>
          </v-form>
        </v-app>


      </v-flex>
      <v-flex md6>
        <v-layout row wrap>
          <v-flex xs12>

            <v-list two-line>





              <v-list-tile>
                <v-list-tile-avatar>
                  <img src="https://cetera.ru/uploads/20180630/ratnikova-square.png">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title>Алёна Ратникова</v-list-tile-title>
                  <v-list-tile-sub-title>IP АТС, Fastsite, продвижение
                    <div><a href="#"><i class="material-icons">
                          local_phone
                        </i></a>
                      <a href="#"><i class="material-icons">
                          email
                        </i></a>
                      <a href="#"><i class="material-icons">
                          person
                        </i></a></div>
                  </v-list-tile-sub-title>

                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-avatar>
                  <img src="https://cetera.ru/uploads/20180630/olneva-square.png">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title>Александра Богуславская</v-list-tile-title>
                  <v-list-tile-sub-title>Интернет-магазины, сайты, CRM
                    <div><a href="#"><i class="material-icons">
                          local_phone
                        </i></a>
                      <a href="#"><i class="material-icons">
                          email
                        </i></a>
                      <a href="#"><i class="material-icons">
                          person
                        </i></a></div>
                  </v-list-tile-sub-title>

                </v-list-tile-content>
              </v-list-tile>

            </v-list>



          </v-flex>


        </v-layout>
      </v-flex>






    </v-layout>
  </v-container>
</div>
