.callout
  h3
    a.consultation(href='', title='') Консультации

  +advice('Полиция')
  hr.hr
  +advice('Прокуратура')
  hr.hr
  +advice('ГИБДД')
  a.button.button_hollow.button_expanded(href='', title='') Все консультации
