.article
{
  margin-top: 20px;
    &__date
    {
        font-size: 15px;

        margin-bottom: 5px;

        color: #fff;
    }
    &__text
    {
        font-size: 14px;

        margin-bottom: 5px;

        color: #fff;
    }
    &__link
    {
        color: #fff;
        &:hover,
        &:focus
        {
            color: #fff;
        }
    }
}
