.case {
    position: relative;
    margin-top: 0;

    &:hover {
        .carousel-control {
            display: block;
        }
    }

    .carousel-control {
        display: none;
    }

    .carousel-caption {
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
    }
}
@media (max-width: 767px) {
    .case {
        .carousel-caption {
          display: none;
        }
    }
}
