.expert {
    padding-top: 37px;
    padding-bottom: 30px;

    &__p {
        color: #616263;
        font-size: 16px;
        max-width: 740px;
        margin: 0 auto;
        line-height: 1.6;
    }

    &__h1 {
        color: #eb1a21;
        font-size: 43px;
        letter-spacing: -1px;
    }
}
@media (max-width: 767px) {
    .expert {
        &__p {
            font-size: 15px;
        }

        &__h1 {
            font-size: 32px;
        }
    }
}
