.footer
{
    margin-top: 50px;
  
    padding: 50px 0;

    background: #024c61;
    &__logo
    {
      img{
          max-width: 120px;
        }
    }
    &__ul
    {
        float: right;

        width: 100%;
        margin: 0;
        padding: 0;

        list-style-type: none;
    }
    &__li
    {
        float: right;

        margin-left: 18px;
    }
    &__link
    {
        font-style: italic;

        color: #fff;
        &:hover,
        &:focus
        {
            text-decoration: none;

            color: #008c9f;
        }
    }
    &__hr
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__address
    {
        font-style: italic;

        float: right;

        width: 100%;
        margin-top: 14px;

        color: #fff;
    }
    &__title
    {
        font-size: 30px;

        margin-bottom: 39px;

        color: #fff;

        &:focus,
        &:hover
        {
            color: #fff;
        }
    }
}
@media (max-width: 767px)
{
    .footer
    {
      &__address {
        text-align: center;
      }
        &__logo
        {
            text-align: center;

        }
        &__li {
          margin-top: 10px;
          width: 100%;margin-left: 0;
          text-align: center;
        }
    }
}
