.hangar
{
    min-height: 645px;
    padding: 230px 0;

    background: url('../images/vid.jpg') no-repeat center center;
    background-size: cover;
    &__text
    {
        font-size: 35px;
    }
}
@media (max-width: 767px)
{
    .hangar
    {
        min-height: 300px;
        padding: 60px;
      
    }
}
