.header {
    background-color: #024c61;

    &__ul {
        margin: 0;
        list-style-type: none;
        padding-top: 12px;
        float: left;
        width: 100%;
    }

    &__logo {
        background: #eb1a21;
        position: absolute;
        z-index: 1001;
        padding-top: 35px;
        padding-bottom: 30px;
        height: auto;
        margin-left: 15px;
        padding-left: 40px;
        padding-right: 40px;

        img {
            width: 120px;
            height: 50px;
        }
    }

    &__row {
        position: absolute;
        right: 0;
    }

    &__rel {
        position: static;

        & > .navbar-collapse {
            border: 0;
        }
    }

    &__li {
        margin-left: 35px;
        float: right;

        &-link {
            color: #fff;

            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }

    &__menu {
        list-style-type: none;
        float: left;
        width: 100%;

        &-li {
            float: right;
            margin-left: 15px;
            margin-top: 18px;
            margin-bottom: 13px;
            position: static;
        }

        &-link {
            text-transform: uppercase;
            color: #fff;

            &:focus,
            &:hover {
                color: #008c9f;
                text-decoration: none;
            }
        }
    }

    &__toggle-button {
        border: 0;

        &:focus,
        &:hover {
            background: none !important;
        }

        .icon-bar {
            width: 33px;
            height: 4px;
            background-color: #fff !important;
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__rel {
            padding: 0;
        }

        &__menu {
            padding-left: 0;

            &-li {
                width: 100%;
                margin-left: 0;
            }
        }

        &__row {
            position: static;
        }

        &__logo {
            height: 55px;
            padding: 10px 15px;

            img {
                height: 35px;
                width: auto;
            }
        }
    }
}
