.invest {
    background: #eb1a21;
    padding-top: 35px;
    padding-bottom: 80px;

    &__h1 {
        color: #fff;
        font-size: 57px;
        letter-spacing: -1px;
        padding-bottom: 30px;
    }

    &__img {
        padding-bottom: 26px;
    }

    &__text {
        color: #fff;
        font-size: 15px;
        line-height: 1.66;
        font-style: italic;
    }
}
@media (max-width: 767px) {
    .invest {
        &__h1 {
            font-size: 32px;
        }
    }
}
