@font-face
{
    font-family: 'segoeui';
    font-weight: normal;
    font-style: normal;

    src: url(http://biznes-moda.beta3.ceteralabs.com/working/layout/fonts/segoeui.ttf) format('truetype');
}
$font-family-segoeui: 'segoeui', Helvetica, sans-serif;

@font-face
{
    font-family: 'segoeuib';
    font-weight: normal;
    font-style: normal;

    src: url(http://biznes-moda.beta3.ceteralabs.com/working/layout/fonts/segoeuib.ttf) format('truetype');
}
$font-family-segoeuib: 'segoeuib', Helvetica, sans-serif;
@font-face
{
    font-family: 'segoeuisb';
    font-weight: normal;
    font-style: normal;

    src: url(http://biznes-moda.beta3.ceteralabs.com/working/layout/fonts/segoeuisb.ttf) format('truetype');
}
$font-family-segoeuisb: 'segoeuisb', Helvetica, sans-serif;
