.b-footer
{
    background: #2f95cd;
    &__torg
    {
        font-size: 14px;
        line-height: 1.43;

        display: inline-block;

        width: 260px;
        padding-left: 40px;

        color: #fff;
    }
    &__main
    {
        padding-top: 13px;
        padding-bottom: 14px;
    }
    &__contacts
    {
        display: inline-block;

        width: 260px;
        padding-right: 40px;

        text-align: right;
    }
    &__tel
    {
        font-size: 14px;

        text-decoration: none;

        color: #fff;
    }
    &__mail
    {
        font-size: 14px;
        line-height: 1.43;

        display: block;

        text-decoration: underline;

        color: #fff;
    }
}
