.b-stenser
{
    background: #000 url(http://biznes-moda.beta3.ceteralabs.com/working/layout/images/man.png);
    &_cafe
    {
        background: #000 url(http://biznes-moda.beta3.ceteralabs.com/working/layout/images/man10.png) ;
        background-position: right 0;
    }
    &__td
    {
        padding-top: 140px;
        padding-right: 55px;
        padding-bottom: 170px;

        text-align: right;
        &_left
        {
            padding-right: 0;
            padding-left: 55px;

            text-align: left;
        }
    }
    &__span
    {
        display: inline-block;

        width: 161px;
    }
    &__top
    {
        font-size: 26px;
        font-weight: bold;
        line-height: 1.11;

        text-transform: uppercase;

        color: #fff;
    }
    &__title
    {
        font-size: 34px;
        font-weight: bold;
        line-height: 1;

        text-transform: uppercase;

        color: #fff;
    }
    &__order
    {
        width: 158px;
        height: 40px;

        border-radius: 4px;
        background: #2f95ce;
        &-span
        {
            img
            {
                display: inline-block;
            }
        }
        &-link
        {
            font-size: 14px;

            display: inline-block;

            padding-right: 9px;
            padding-left: 26px;

            text-decoration: none;
            text-transform: uppercase;

            color: #fff;
        }
    }
}
