mixin blockTitle(title)
  .grid-x.wheat
    .cell.large-shrink.padding-right-2
      h4= title
    .cell.large-shrink
      a(href="#").wheat__link Показать все
        =" "
        span= title
        i.fa.fa-angle-right.margin-left-2
