mixin nested-menu
    ul.menu.vertical.nested
        li
            a(href="#").menu__link.menu__link_third Вешалки
        li
            a(href="#").menu__link.menu__link_third Журнальные столы
        li
            a(href="#").menu__link.menu__link_third Банкетки
        li
            a(href="#").menu__link.menu__link_third Прочее
