extends shop-catalog

block products
  .grid-x.grid-padding-x.small-up-1.medium-up-1.large-up-3(data-equalizer data-equalize-by-row="true")
    +productTile('Комби-перфоратор Metabo KHE 2650', false)
    +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
    +productTile('Лобзик Metabo STEB 65 Quick', false)
    +productTile('Лобзик Metabo STEB 65 Quick', false)
    +productTile('Лобзик Metabo STEB 65 Quick', false)
    +productTile('Лобзик Metabo STEB 65 Quick', false)
