.carousel-volunteers
  for i in [1,2,3,4,5]
    .carousel-volunteers__item
      .grid-x.align-center
        .cell.medium-10: img(src='./i/' + i + '.jpg').carousel-volunteers__img
      .grid-x.align-center
        .cell.medium-14.large-12: .carousel-volunteers__text
          | Подпись к фотографии про деятельность волонтёров
