
.b-about-us {
  font-family: 'Helvetica-Roman', sans-serif;
  background-color: #eee;
}
.b-about-us__title {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  padding-top: 60px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 37px;
  text-transform: uppercase;
  
}
.b-about-us__info {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 42px;
  padding-right: 42px;
  text-align: justify;
}
.b-about-us__command {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding-top: 33px;
}
.b-about-us__comm {
  padding-top: 30px;
  padding-bottom: 92px;
}
.b-about-us__work {
  text-align: center;
}
.b-about-us__name {
  color: #0f7cc5;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-family: "Helvetica-Medium";
  text-align: center;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 23px;
  padding-bottom: 13px;
  padding-right: 15px;
}
.b-about-us__work-inf {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
  padding: 0 5px 10px; 
}
.b-about-us__link-mail {
  color: #0f7cc5;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
}
.b-about-us__txt {
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width:800px) {
  .b-about-us__title {

  margin: 41px 0 15px 0;
  }
}
@media (max-width:800px) {
  .b-about-us__title {
    
    margin: 31px 0 15px 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .b-about-us__comm {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}