@font-face {
  font-family: "Helvetica-Roman";
  src:
  url("./fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica-Bold";
  src:
  url("./fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica-Black";
  src:
  url("./fonts/HelveticaNeueCyr-Black.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica-Light";
  src:
  url("./fonts/HelveticaNeueCyr-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica-Medium";
  src:
  url("./fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}