.b-header {
    background-color: #0e6292;
    background-image: url("../imgs/header_back.png");
}

.b-header__row {
    padding-top: 70px;
    padding-bottom: 95px;
}

.b-header__desc {
    color: white;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Helvetica-Roman";
    padding-bottom: 25px;
    text-align: justify;
}

.b-header__nano {
    font-weight: 900;
}

.b-header__left-column {
    padding-left: 0;
    padding-right: 0;
}

.b-header__video {
    background-color: #1b9bd6;
    border-radius: 2px;
    padding: 8px;
}

.flex-video {
    margin-bottom: 0;
    padding-bottom: 54%;
}

.b-header__right-column {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 1000px) {
    .b-header {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:640px) {
    .b-header__row {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}
