.b-info {
  
}
.b-info__title {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  padding-top: 88px;
  text-transform: uppercase;
  padding-bottom: 40px;
  text-align: center;
}

.b-info__row {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 73px;
}
.b-info__block {
  min-height: 160px;
}
.b-info__icon {
  text-align: center;
  min-height: 100px;
}
.b-info__ico1 {
  background: url('../imgs/sprites.png') no-repeat -308px 0;
  width: 108px;
  height: 75px;
  display: inline-block;
}
.b-info__ico2 {
  background: url('../imgs/sprites.png') no-repeat -212px -93px;
  width: 73px;
  height: 87px;
  display: inline-block;
}
.b-info__ico3 {
  background: url('../imgs/sprites.png') no-repeat -213px -3px;
  width: 70px;
  height: 71px;
  display: inline-block;
}
.b-info__ico4 {
  background: url('../imgs/sprites.png') no-repeat -9px -7px;
  width: 74px;
  height: 75px;
  display: inline-block;
}
.b-info__ico5 {
  background: url('../imgs/sprites.png') no-repeat -443px -9px;
  width: 82px;
  height: 67px;
  display: inline-block;
}
.b-info__ico6 {
  background: url('../imgs/sprites.png') no-repeat -103px -4px;
  width: 83px;
  height: 85px;
  display: inline-block;
}
.b-info__ico7 {
  background: url('../imgs/sprites.png') no-repeat -116px -106px;
  width: 74px;
  height: 75px;
  display: inline-block;
}
.b-info__ico8 {
  background: url('../imgs/sprites.png') no-repeat -5px -114px;
  width: 93px;
  height: 66px;
  display: inline-block;
}
.b-info__desc {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
}
@media (max-width:640px) {
 .b-info__title {
  padding-top: 10px;
  padding-bottom: 10px;
 } 
 .b-info__row {
  padding-bottom: 13px;
 }
}