@media (min-width:900px) {
  .b-more-info__title  {

  }
  .b-more-info__btn {
    text-align: center;
  }
}
@media (max-width:900px) {
  .b-more-info__title  {
    text-decoration: underline overline;
    margin: 31px 0 15px 0;
    text-align: center;
  }
  .b-more-info__btn {
    text-align: left;
    margin-right: 50px;
  }
}
.b-more-info {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  background: #1b9bd6;
}
.b-more-info__title {
  color: #000;
  font-size: 30px;
  padding-top: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  
}
.b-more-info__form {
  min-height: 150px;
}
.b-more-info__label {
  padding: 0 12px 0;

}
input.b-more-info__inp {
  border:0;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  height: 50px;
  padding: 0px 0 0 19px;
}
.b-more-info__btn {
  background-image: linear-gradient(to top, #7cab00 0%, #7ddb00 100%);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
  height: 54px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  padding-top: 9px;
  &:hover {
    color: #000;
  }
}
.reveal-modal {
  padding: 20px 0 0 0 ;
}
@media (max-width:640px) {
  #firstModal {
    min-height: 200px;
  }
}
.b-more-info__lico {
  background-color: #f3f3f3;
  background-image: linear-gradient(to top, #0c719f 0%, #27bbff 100%);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
}
.b-more-info__inp_cntr {
  text-align: center;
}