.b-otzivi {
    background: #fff;
}

.b-otzivi__title {
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 46px;
    text-transform: uppercase;
}

.b-otzivi__wrapper {
    padding-left: 25px;
    padding-right: 92px;
}
@media (max-width: 1000px) {
    .b-otzivi {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:960px) and (min-width:640px) {
    .b-otzivi__wrapper {
        padding-right: 50px;
    }
}
@media (max-width:640px) {
    .b-otzivi__wrapper {
        padding: 0;
    }
}
@media (max-width:640px) {
    .b-otzivi__title {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
