.b-project {
  background: #fff;
}
.b-project__title {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  padding-top: 88px;
  text-align: center;
  padding-bottom: 41px;
  text-transform: uppercase;
}
.b-project__row {
  background-image: url(../imgs/gran.png);
  background-repeat: no-repeat;
  padding-bottom: 57px;
}

.b-project__container {
  width: 75.72917%;
  margin-left: 114px;
  margin-top: 32px;
}
@media (max-width:1040px) and (min-width:640px){
  .b-project__row {
    background: none;
  }
  .b-project__container {
    margin-left: 60px;
    margin-top: 0;
  }
}
@media (max-width:640px) {
  .b-project__container {
    margin-left: 10px;
    width: 95%;
    margin-top: 10px;
  }
  .b-project__row {
    background: none;
    padding-bottom: 10px;
  }
  .b-project__title {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}
