.b-zakaz {
    background-image: url("../imgs/zakaz_back.png");
}

.b-zakaz__row {
    padding-top: 100px;
    padding-bottom: 97px;
}

.b-zakaz__left-col {
    padding-left: 0;
    padding-right: 0;
}

.b-zakaz__right-col {
    padding-left: 0;
    padding-right: 0;
}

.b-zakaz__title {
    color: white;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.b-zakaz__list {
    margin: 0;
    list-style-type: none;
    counter-reset: li;
    margin-bottom: 40px;
    color: #000;
    padding-left: 0;
    padding-right: 0;
    list-style-position: outside;
    padding-top: 40px;
}

.b-zakaz__list-item {
    color: white;
    font-size: 18px;
    font-family: "Helvetica-Roman";
    font-weight: 700;
    padding-bottom: 29px;
    position: relative;
    padding-left: 55px;

    &:before {
        position: absolute;
        content: counter(li);
        counter-increment: li;
        background: url('../imgs/sprites.png') no-repeat -144px -272px;
        width: 38px;
        height: 38px;
        color: #1b9bd6;
        font-size: 22px;
        font-weight: 700;
        left: -0px;
        padding: 0 30px 0 12px;
    }
}
@media (max-width: 1000px) {
    .b-zakaz {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:640px) {
    .b-zakaz {
        &__row {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__title {
            font-size: 30px;
        }

        &__list {
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
}
