.footer
  .row.column
    ul.menu-base.text-center.medium-text-left
      li.menu-base__item
        a(href="./map.html").menu-base__link Карта
      li.menu-base__item
        a(href="./user-personal.html").menu-base__link Личный кабинет
      li.menu-base__item
        a(href="./feedback.html").menu-base__link Обратная связь
  .row.column
    br
    hr
    br
  .row.text-dark-gray

    .small-12.medium-8.columns
      p
        | &copy;&nbsp;
        a.text-light-gray(href='#') MaxRest
        | 2017
        | &#160;&#160; &#160;&#160;
        a.text-white(href='') support@maxrest.org
        
    .small-12.medium-4.columns.text-center.medium-text-right
      p
        a(href='#')
          img(src='./images/logo-maxrest.svg', alt='logo')
