ul
    li: a(href='map.html' title='') Карта объектов (главная страница)
    li: a(href='map-user-flags.html' title='') Карта с метками польозователя
    li: a(href='map-favourites.html' title='') Избранные объекты на карте
    li: a(href='map-favourites-empty.html' title='') Избранные объекты — когда нет избранных
    li: a(href='map-visited.html' title='') Посещённые объекты на карте
    li: a(href='map-visited-empty.html' title='') Посещённые объекты — когда нет посещённых
    li: a(href='map-planned.html' title='') Объекты "в планах" на карте
    li: a(href='map-planned-empty.html' title='') Объекты "в планах" — когда нет планов
    li: a(href='map-search-results.html' title='') Результаты поиска объектов на карте
    li: a(href='map-search-results-empty.html' title='') Результаты поиска — когда ничего не найдено
    li: a(href='map-object-info.html' title='') Краткая информация про объект на карте
    li: a(href='map-new-object.html' title='') Поставить точку на карту
    li: a(href='map-share.html' title='') Поделиться картой
    li: a(href='object.html' title='') Объект
    li: a(href='object-comments.html' title='') Комментарии объекта
    li: a(href='object-discussion.html' title='') Обсуждение объекта
    li: a(href='add-object.html' title='') Добавить или изменить описание объекта

    li: a(href='user-personal.html' title='') Личный кабинет пользователя
    li: a(href='user-edit.html' title='') Редактирование личных данных пользователя
    li: a(href='user-objects.html' title='') Объекты пользователя
    li: a(href='user-objects-empty.html' title='') Объекты пользователя — когда нет ни одного объекта
    li: a(href='user-comments.html' title='') Комментарии пользователя
    li: a(href='user-comments-empty.html' title='') Комментарии пользователя — когда нет ни одного комментария
    li: a(href='user-stats.html' title='') Статистика пользователя

    li: a(href='admin-stats.html' title='') Статистика администратора
    li: a(href='admin-objects-review.html' title='') Объекты на проверку
    li: a(href='admin-objects-trash.html' title='') Корзина объектов

    li: a(href='director-users.html' title='') Пользователи
    li: a(href='director-admin-stats.html' title='') Статистика администраторов
    li: a(href='director-objects-pub-method.html' title='') Способ публикации объектов
    li: a(href='director-categories-sort.html' title='') Категории объектов
    li: a(href='director-category-add.html' title='') Добавить субкатегорию
    li: a(href='director-categories-main.html' title='') Добавить категорию

    li: a(href='user-login.html' title='') Вход
    li: a(href='user-recover.html' title='') Восстановить пароль
    li: a(href='user-registration.html' title='') Регистрация

    li: a(href='rating.html' title='') Рейтинг пользователей
    li: a(href='feedback.html' title='') Обратная связь
    li: a(href='corp-regular.html' title='') Типовая внутренняя страница
    li: a(href='corp-error.html' title='') Страница ошибки
    li: a(href='corp-sitemap.html' title='') Карта сайта
