.detective {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.35);
    background-color: $primary-color;
    width: 100%;
    max-width: rem-calc(422);
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    margin-bottom: rem-calc(20);
    float: left;
    padding-top: rem-calc(9);

    &__input {
        font-weight: 300;
        font-size: rem-calc(14);
        color: #fff;
        background: transparent;
        border: 0;
        float: left;
        width: calc(100% - 42px);
        border-bottom: rem-calc(1) solid #fff;

        &::-webkit-input-placeholder {
            color: #fff;
        }

        &::-moz-placeholder {
            color: #fff;
        }

        &:-moz-placeholder {
            color: #fff;
        }

        &:-ms-input-placeholder {
            color: #fff;
        }

        &:focus {
            background: transparent;
        }
    }

    &__button {
        padding-top: rem-calc(10);
        width: rem-calc(42);
        color: #fff;
        float: left;
    }
}
