.menu-line {
  background: $primary-color;
  margin-bottom: rem-calc(28);
  border-bottom: 2px solid $secondary-color;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.34);
}