include _aside-games
.content
    include ../neftehimik/_btn-basket
    include _aside-teams-standings-for-index
    include _aside-different

    //-
        include _aside-advisory
        include _aside-mobilereporter
        include _aside-billboard
        include _aside-broadcasts
        include _aside-recent-comments
        include _aside-horoscope
        include _aside-tags
        include _aside-quote
