.callout

    .grid-x.align-middle.text-center(style='height: 300px;')
        .cell Виджет твиттер
            br
            | Например #[a(href='http://pfc-cska.com/novosti/vse-novosti/') http://pfc-cska.com/novosti/vse-novosti/]
