.content
    .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
        span.button.light-gray.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
    .card#menu-left
        ul.menu.vertical
            li.active: a(href='club.html' title='') Визитная карточка
            li: a(href='history.html' title='') История клуба
            li: a(href='staff.html' title='') Руководство
            li: a(href='staff.html' title='') Персонал
            li: a(href='contacts.html' title='') Контакты
            li: a(href='#' title='ссылка на pdf?') Брендбук
            li: a(href='club-jersey.html' title='') Игровая форма
hr
include _aside-index