.content
    .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
        span.button.light-gray.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
    .card#menu-left
        ul.menu.vertical
            li.active: a(href='team.html' title='') Состав
            li: a(href='coaches.html' title='') Тренерский штаб
            li: a(href='staff.html' title='') Персонал
            li: a(href='games-calendar.html' title='') Календарь
            li: a(href='stats.html' title='') Статистика
            li: a(href='transfers.html' title='') Трансферы
            li: a(href='coaches.html' title='') Все тренеры
            li: a(href='team.html' title='') Игроки с 1995 года
hr
include _aside-index