.content
    .callout
        h3.text-dark-gray Архив
        ul.dropdown.menu(data-dropdown-menu)
            li
                a(href='') Август
                ul.menu
                    li: a(href='') Весь год
                    li: a(href='') Январь
                    li: a(href='') Февраль
                    li: a(href='') Март
                    li: a(href='') Апрель
                    li: a(href='') Май
                    li: a(href='') Июнь
                    li: a(href='') Июль
                    li.active: a(href='') Август
                    li: a(href='') Сентябрь
                    li: a(href='') Октябрь
                    li: a(href='') Ноябрь
                    li: a(href='') Декабрь
            li
                a(href='') 2017
                ul.menu
                    li.active: a(href='') 2017
                    li: a(href='') 2016
                    li: a(href='') 2015
                    li: a(href='') 2014
                    li: a(href='') 2013
                    li: a(href='') 2012
                    li: a(href='') 2011
    .callout
        h3.text-dark-gray Рубрики
        ul.menu
            li.active: a(href='') Все
            li: a(href='') On road
            li: a(href='') События
            li: a(href='') Интервью
            li: a(href='') Матчи
            li: a(href='') Моложёжка
            li: a(href='') Fanzone
hr
include _aside-index