.callout
    h2.text-center.margin-bottom-0  Турнирная таблица
    .aside-games-panel-switcher.text-center
      input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input2')
      label.aside-games-panel-switcher__label(for='switcher__input2')
          span.aside-games-panel-switcher__span кхл 
          span.aside-games-panel-switcher__span мхл

    .switch-content-left
      ul.tabs.tournament__tabs#team-standings-tabs(data-tabs)
        li.tabs-title.tournament__title.is-active: a(href='#team-standings-tab1' aria-selected="true") Конференция восток
        li.tabs-title.tournament__title: a(href='#team-standings-tab2') Дивизион тарасова

      .tabs-content.tournament__content(data-tabs-content="team-standings-tabs")
          .tabs-panel.is-active#team-standings-tab1
            .table-scroll
              table.tournament__table
                  thead
                    tr
                      th М
                      th Команда
                      th: acronym(title='Проведено игр') И
                      th: acronym(title='Набрано очков') О
                  tbody
                      tr
                          td 1
                          td Динамо Мск
                          td 54
                          td 325
                      tr
                          td 2
                          td Донбасс
                          td 54
                          td 97
                      tr
                          td 3
                          td Локомотив
                          td 54
                          td 84
                      tr.tournament__place
                          td 4
                          td Нефтехимик
                          td 54
                          td 78
                      tr
                          td 5
                          td Северсталь
                          td 54
                          td 77
                      tr
                          td 6
                          td Спартак
                          td 54
                          td 58
                      tr
                          td 7
                          td Витязь Подмосковье
                          td 54
                          td 58

          .tabs-panel#team-standings-tab2
            .table-scroll
              table.tournament__table
                  thead
                    tr
                      th М
                      th Команда
                      th: acronym(title='Проведено игр') И
                      th: acronym(title='Набрано очков') О
                  tbody
                    tr
                        td 1
                        td Динамо Мск
                        td 54
                        td 115
                    tr
                        td 2
                        td Донбасс
                        td 54
                        td 97
                    tr
                        td 3
                        td Локомотив
                        td 54
                        td 84
                    tr
                        td 4
                        td Северсталь
                        td 54
                        td 77
                    tr.tournament__place
                        td 5
                        td Нефтехимик
                        td 54
                        td 78
                    tr
                        td 6
                        td Спартак
                        td 54
                        td 58
                    tr
                        td 7
                        td Витязь Подмосковье
                        td 54
                        td 58
    .switch-content-right
      ul.tabs.tournament__tabs#team-standings-tabs(data-tabs)
        li.tabs-title.tournament__title.is-active: a(href='#team-standings-tab1' aria-selected="true") Конференция восток
        li.tabs-title.tournament__title: a(href='#team-standings-tab2') Дивизион тарасова

      .tabs-content.tournament__content(data-tabs-content="team-standings-tabs")
          .tabs-panel.is-active#team-standings-tab1
            .table-scroll
              table.tournament__table
                  thead
                    tr
                      th М
                      th Команда
                      th: acronym(title='Проведено игр') И
                      th: acronym(title='Набрано очков') О
                  tbody
                      tr
                          td 1
                          td Динамо Мск
                          td 54
                          td 115
                      tr
                          td 2
                          td Донбасс
                          td 54
                          td 97
                      tr
                          td 3
                          td Локомотив
                          td 54
                          td 84
                      tr.tournament__place
                          td 4
                          td Нефтехимик
                          td 54
                          td 78
                      tr
                          td 5
                          td Северсталь
                          td 54
                          td 77
                      tr
                          td 6
                          td Спартак
                          td 54
                          td 58
                      tr
                          td 7
                          td Витязь Подмосковье
                          td 54
                          td 58

          .tabs-panel#team-standings-tab2
            .table-scroll
              table.tournament__table
                  thead
                    tr
                      th М
                      th Команда
                      th: acronym(title='Проведено игр') И
                      th: acronym(title='Набрано очков') О
                  tbody
                    tr
                        td 1
                        td Динамо Мск
                        td 54
                        td 115
                    tr
                        td 2
                        td Донбасс
                        td 54
                        td 97
                    tr
                        td 3
                        td Локомотив
                        td 54
                        td 84
                    tr
                        td 4
                        td Северсталь
                        td 54
                        td 77
                    tr.tournament__place
                        td 5
                        td Нефтехимик
                        td 54
                        td 78
                    tr
                        td 6
                        td Спартак
                        td 54
                        td 58
                    tr
                        td 7
                        td Витязь Подмосковье
                        td 54
                        td 58
