ul.tabs.aside-games-tabs.grid-x#aside-games-tabs(data-tabs)
	li.tabs-title.aside-games-title.cell.medium-6.xxlarge-4.show-for-xxlarge: a(href='#aside-games-tab1') Календарь игр
	li.tabs-title.aside-games-title.cell.medium-6.xxlarge-4: a(href='#aside-games-tab2') Следующий матч
	li.tabs-title.aside-games-title.cell.medium-6.xxlarge-4.is-active: a(href='#aside-games-tab3' aria-selected="true") Предыдуший матч

.tabs-content.aside-games-content(data-tabs-content="aside-games-tabs")
	.tabs-panel.aside-games-panel.show-for-xxlarge#aside-games-tab1
		.calendar-wrap
			include ../neftehimik/_calendar.pug
	.tabs-panel.aside-games-panel#aside-games-tab2
		//- h3.text-center.margin-bottom-0 Следующий матч
		include _upcoming-game
	.tabs-panel.aside-games-panel.is-active#aside-games-tab3
		//- h3.text-center.margin-bottom-0 Предыдуший матч
		include _recent-game
