.grid-container
  footer.text-gray.grid-x
    .cell.small-12.medium-6
        .margin-bottom-6
          | &copy; 2011-2017 ХК «Нефтехимик» Все права защишены.
        .margin-bottom-6
          | Все права на материалы и товарный знак «Нефтехимик», находящиеся на сайте www.hcneftekhimik.ru, являются объектом исключительных прав и охраняются в соответствии с законом РФ. Цитирование информации с сайта допускается только при наличии ссылки на сайт.
        ul.menu-bottom
          li.menu-bottom__item: a(href='#') Главная
          li.menu-bottom__item: a(href='#') Клуб
          li.menu-bottom__item: a(href='#') Нефтехимик
          li.menu-bottom__item: a(href='#') Голы с матчей
          li.menu-bottom__item: a(href='#') Контакты
          li.menu-bottom__item: a(href='#') Карта сайта
          li.menu-bottom__item: a(href='#') Архив опросов
    .cell.small-12.medium-6.medium-text-right
      .grid-x
      span.press Пресс-служба
      br
      a(href='mailto:media@neftehimik.ru') media@neftehimik.ru
      br
      span.develop Создание сайта - 
      a(href='#') Cetera Labs
      br
      a(href='#') Сообщить об ошибке
      
    .cell.wrap-arrow-up
      //- кнопка вверх
