.content
    .grid-container
        .grid-x.grid-padding-x.small-up-1.medium-up-3.large-up-6(data-equalizer='game', data-equalize-by-row='true')
            each name in [8, 9, 10, 11, 12, 13]
                .cell
                    .card.text-center(data-equalizer-watch='game')
                        a.padding-bottom-3(href='#')
                            span.stat= name
                            br
                            | Дн
                        a(href='#') Соперник

        .grid-x
            .cell
                a(href='') Перейти в полный календарь игр