.grid-x.grid-padding-x.grid-margin-y.small-up-2.medium-up-3
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')
    .cell
        img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;' data-toggle='photoModal')

.reveal(id='photoModal' data-reveal data-deep-link='true')
    img(src='http://via.placeholder.com/1200x900', alt='Фото' style='width:100%;')
    button.close-button(data-close aria-label='Закрыть' type='button')
        span(aria-hidden='true') &times;