.grid-x.aside-games-panel-switchers
  .cell.large-4.large-offset-1
    .aside-games-panel-switcher.text-center
      input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input-next' autocomplete="off")
      label.aside-games-panel-switcher__label(for='switcher__input-next')
          span.aside-games-panel-switcher__span.text-white кхл 
          span.aside-games-panel-switcher__span.text-white мхл
  .cell.large-6
    .aside-games-panel-switcher-club.text-center
      input.aside-games-panel-switcher-club__input(type='checkbox' id='switcher__input-club-next' autocomplete="off")
      label.aside-games-panel-switcher-club__label(for='switcher__input-club-next')
          span.aside-games-panel-switcher-club__span.text-white Нефтехимик 
          span.aside-games-panel-switcher-club__span.text-white Реактор
                
.switch-content-left 
  .switch-club-neftehimik
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | Спортивно-культурный комплекс «Ледовый дворец», Нижнекамск

    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num -
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Нефтехимик
      .aside-games-panel-account__col
        .point
          span.point-num -
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
  .switch-club-reaktor
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | Спортивно-культурный комплекс «Ледовый дворец», Нижнекамск

    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num -
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Реактор
      .aside-games-panel-account__col
        .point
          span.point-num -
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор

.switch-content-right
  .switch-club-neftehimik
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | ЛДС «Нефтехимик», Нижнекамск
    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num -
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Нефтехимик
      .aside-games-panel-account__col
        .point
          span.point-num -
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
      
  .switch-club-reaktor
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | ЛДС «Нефтехимик», Нижнекамск
    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num -
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Реактор
      .aside-games-panel-account__col
        .point
          span.point-num -
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
