footer.footer
  .row.text-center.medium-text-left
    .large-3.columns.medium-4.text-medium-gray
      .footer__info &copy; avtokraska-shop.ru, 2014 - 2017
      div 
        | Создание сайта
        =" "
        a(href="https://cetera.ru/").footer__link - Cetera Labs
    .large-3.medium-4.columns
      .footer__info
        a(href="#").fa-stack.text-dark-gray.footer__social
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x.text-black
        a(href="#").fa-stack.text-dark-gray.footer__social
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x.text-black
        a(href="#").fa-stack.text-dark-gray.footer__social
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-google-plus.fa-stack-1x.text-black
        a(href="#").fa-stack.text-dark-gray.footer__social
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-linkedin.fa-stack-1x.text-black
        a(href="#").fa-stack.text-dark-gray.footer__social
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x.text-black
      a(href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=//cetera.ru/").footer__link Сообщить об ошибке      
    .large-6l.medium-4.columns.text-center.medium-text-right
      div
        a(href="tel:+74951182030").footer__tel +7 (495) 118-20-30 
      a(href="mailto:shop@avtokraska-shop.ru").footer__link shop@avtokraska-shop.ru 
    
