mixin recentlyViewedItems
    .row.column: hr
    .content
        .row.column
            h2.text-center Вы смотрели
        .row.small-up-1.medium-up-3.large-up-4(data-equalizer data-equalize-by-row="true").text-center
            +productTile('Шлифок круглый', false)
            +productTile('Краска Body bumper (по пластику)', false)
            +productTile('Акриловый грунт Novol 4+1 MS', false)
            +productTile('Краска Standox MIX 854 1л.')
