.row

    .column
        .callout
            p
                b Доставка в Ярославль
                br
                a(href='#') Выбрать другой населённый пункт
            table
                tr
                    td
                        b Курьером
                        br
                        span.text-medium-gray На дом, в офис
                    td Сегодня
                    td 0 Р
                tr
                    td
                        b Самовывоз
                        br
                        a(href='#') Выбрать пункта выдачи
                    td Сегодня
                    td 510 Р
                tr
                    td
                        b Самовывоз
                        br
                        a(href='#' title='Адрес магазина') Из магазина (г. Москва)
                    td Сегодня
                    td 0 Р
            p
                a(href='#' title='') Тарифы и условия доставки
