p
    b Общее
table.table-default
    colgroup
        col(style='width: 50%')
        col(style='width: 50%')
    tr
        td Страна производитель:
        td Польша
    tr
        td Фирма производитель:
        td Novol
    tr
        td Тип грунта:
        td Порозаполнитель
    tr
        td Цвет:
        td
            i.fa.fa-square-o.fa-lg(title='Белый')
            | &#160;
            i.fa.fa-square.fa-lg(style='color: #ccc;' title='Серый')
            | &#160;
            i.fa.fa-square.fa-lg(style='color: #ca3034;' title='Красный')
            | &#160;
            i.fa.fa-square.fa-lg(style='color: #000;' title='Черный')
    tr
        td Система:
        td 2K
    tr
        td Смешивается с отвердителем:
        td 4+1
    tr
        td Жизнеспособность смеси при 20°C:
        td 1 час
    tr
        td Добавляется разбавитель:
        td До 35%
    tr
        td Вязкость Din 4/20°C:
        td 25-45 сек.
    tr
        td Диаметр сопла краскопульта:
        td 1,6мм. - 1,8мм.
    tr
        td Распылять при давлении:
        td 3-4 бар
    tr
        td Толщина слоя:
        td 30-40 микрон
    tr
        td Кол-во наносимых слоев:
        td 2-3 слоя
    tr
        td Межслойная выдержка:
        td 5-10 минут
    tr
        td Время сушки при 20°C:
        td 3 часа
    tr
        td Время сушки при 60°C:
        td 30 минут
    tr
        td Литраж:
        td 1л.
    tr
        td Упаковка:
        td Банка
    tr
        td Комплектация:
        td Грунт + отвердитель
    tr
        td Срок хранения:
        td 1 год
    tr
        td Сайт продажи:
        td avtokraska-shop.ru


p
    b Специальные
table.table-default
    colgroup
        col(style='width: 50%')
    tr
        td
            | 4 части грунта
            br
            | 1 часть отвердителя
            br
            | +35% акрилового разбавителя
    tr
        td 1 час при 20°С
    tr
        td
            | DIN 4/20°С
            br
            | 25-45 секунд
    tr
        td
            |Ø 1,6-1,8мм.
            br
            |2-3 слоя
            br
            |3-4 бар
    tr
        td 5-10 минут
    tr
        td
            | 3 часа при 20°С
            br
            | 30 минут при 60°С
    tr
        td Р360-Р500
    tr
        td Р600-Р1000
