include _add-product-comment

.row.column
    h3 Отзывы покупателей (2)
    p
        a(data-open="add-product-comment" title='') Добавить свой отзыв
.row
    .small-12.medium-2.column
        .fa-lg
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star-o &#160;
            i.fa.fa-star-o &#160;
    .small-12.medium-6.column
        p Купил, опробовал. Итог: Антигравием это назвать получается. Пленка не повреждается обычной веткой, вскользь прошедшей по ней. Нормально за свои деньги. Кстати, оттенок почему-то матовый, не глянец.
    .small-12.medium-3.medium-offset-1.column
        p.text-dark-gray 3 августа 2015
            br
            | Иван Иванов

.row
    .small-12.medium-2.column
        .fa-lg
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
    .small-12.medium-6.column
        p 650 мг за 165 рублей - цена из Советского Союза! Даром! Крепление для трубочки на крышке баллона - очень удобно!
        p Недостатки: Технический запах! Например, легендарная ВД-40 не воняет. Но и стоит дороже!
        p Настоящий русский продукт - дитя импортозамещения: дешево и много!

    .small-12.medium-3.medium-offset-1.column
            p.text-dark-gray 10 июля 2014
                br
                | Витя

br
br
include ../common/_pagination