.row
    .column.small-12.large-5
        h4 Акриловый грунт Novol 4+1 MS описание
        p Обладает отличной адгезией к разным видам поверхностей. Благодаря содержанию высококачественных смол и специальных добавок гарантирует высокую антикоррозийную защиту и является прекрасным изолятором полиэфирных шпатлевок от акриловых лаков. Акриловый грунт PROTECT 300 выпускается в пяти основных цветах, что позволяет подобрать оптимальный цвет грунта к накладываемому лаку. Грунт характеризуется отличной наполняющей способностью - получаемая толщина грунта заполняет царапины и углубления средней величины, оставшиеся во время обработки предыдущих слоев.

    .column.small-12.large-6.large-offset-1
        h4 Поверхности для нанесения

        ul
            li старые лаковые покрытия, включая термопластичные краски
            li полиэфирные шпатлевки
            li сталь
            li алюминий
            li оцинкованная сталь
            li нержавеющая сталь
            li грунт реактивный
            li пластмассовые поверхности
            li полиэфирные ламинаты


        h4 Подготовка продукта

        p Пропорции смешивания — 4:1 и 25% разбавителя.
            br
            | Жизнеспособность смеси — 1ч./ 20° С.

        h4 Нанесение

        p Вязкость — DIN 4/20°, 20–22s,
            | окрасочный пистолет — ∅1.6÷1.8мм, 3÷4бар
            br
            | количество слоёв — 2-3
            br
            | выдержка между слоями - 5–10 мин.
            br
            | сушка — 3 ч./20°C, 30 мин./60°С

        h4 Техническая информация

        p Цвет - желтый, серый, белый, черный, красный.
            br
            | Упаковка - 1л, 2,8л