.row.columns
  
  .paint
  
    .paint__slide(style="background-image:url(./i/slider1.png);")
      .row
        .large-5.columns.large-offset-7
          .state
            .state__title
              | Эпоксидный грунт
              br
              strong DYNACOAT 2K EPOXY PRIMER
            .hide-for-small-only
              .state__info
                .state__price
                  | 420&#160;
                  span.state__rub рублей
                .state__false 650 рублей
              hr.state__hr
              a(href='shop-cart.html').button Купить    
    .paint__slide(style="background-image:url(./i/slider1.png);")
      .row
        .large-5.columns.large-offset-7
          .state
            .state__title
              | Эпоксидный грунт
              br
              strong DYNACOAT 2K EPOXY PRIMER
            .hide-for-small-only
              .state__info
                .state__price
                  | 420&#160;
                  span.state__rub рублей
                .state__false 650 рублей
              hr.state__hr
              a(href='shop-cart.html').button Купить    

.vendor
  .row.large-up-6.medium-up-3.small-up-2.text-center
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v1.png", alt="")
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v2.png", alt="")
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v3.png", alt="")
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v4.png", alt="")
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v5.png", alt="")
    .columns.vendor__img
      p
        a(href="#") 
          img(src="./i/v6.png", alt="")
.row
  .large-3.columns.medium-4
    aside.aside
      .aside__title.text-center Каталог товаров
      ul.solvent
        each title in ['Автокраски','Абразивные материалы','Антикор','Герметики','Грунты','Для полировки','Инструмент','Лаки','Отвердители','Разбавители']
          li.solvent__item
            a(href="#").solvent__link= title
    h4.text-center.text-warning Популярное
    ul.flight
      each title in ['Закрасить скол краски','Заделать протечку','Провести ровную линию краски']
        li.flight__item
          a(href="#").flight__link= title
  .large-9.columns.medium-8
    h2.text-center Хиты продаж 
    .sale.text-center
      .sale__slide
        .product
          .product__label
            .label Хит продаж
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro1.png", alt="")    
          a(href="#").product__title Бачок для краскопульта 
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 925&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label Хит продаж
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro2.png", alt="")    
          a(href="#").product__title Краскопульт Voylet  
          .product__hr
          .product__false
            | 5&#160;925&#160;
            span.product__rub рублей
          .product__price
            | 4&#160;925&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label Хит продаж
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro3.png", alt="")    
          a(href="#").product__title Бесцветный акриловый лак Mobihel 2K ...
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 725&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label Хит продаж
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro3.png", alt="")    
          a(href="#").product__title Бесцветный акриловый лак Mobihel 2K ...
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 825&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
    hr.mb25
    h2.text-center Новинки
    .sale.text-center
      .sale__slide
        .product
          .product__label
            .label.success Новинка
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro4.png", alt="")    
          a(href="#").product__title Лак Solid Jet
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 925&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label.success Новинка
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro5.png", alt="")    
          a(href="#").product__title Растворитель Body acryl 740
          .product__hr
          .product__false
            | 5&#160;925&#160;
            span.product__rub рублей
          .product__price
            | 4&#160;925&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label.success Новинка
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro6.png", alt="")    
          a(href="#").product__title Краска Motip для суппорта
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 725&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
      .sale__slide
        .product
          .product__label
            .label.success Новинка
          .product__img
            a(data-open="product-quickview") 
              img(src="./i/pro3.png", alt="")    
          a(href="#").product__title Бесцветный акриловый лак Mobihel 2K ...
          .product__hr
          .product__false
            | 925&#160;
            span.product__rub рублей
          .product__price
            | 825&#160;
            span.product__rub рублей
          .product__hr  
          a(href='shop-cart.html').button Купить  
    hr.mb25
.row.columns
  h2.text-center О нашей компании    
.row
  .medium-6.columns.medium-text-right.text-center
    p
      img(src="./i/car-colors.png", alt="")    
  .medium-6.large-5.columns.end
    p
      | Добро пожаловать в
      =" "
      a(href="#") магазин автокраски
      |  и сопутствующих материалов. У нас всегда огромнейший ассортимент товаров по привлекательным
      =" "
      a(href="#") ценам
      | . Мы работаем только с официальными представителями 
      =" "
      a(href="#") продукции
      | , поэтому вы всегда можете быть уверены в
      =" "
      a(href="#") качестве
      |  наших товаров. Все наши склады отапливаемые, а это значит, что у нас не бывает перемороженных товаров. А высокая
      =" "
      a(href="#") скорость 
      |  реализации
      =" "
      a(href="#") гарантирует
      | , что вы получите максимально свежий товар. Ждем вас в нашем магазине.
    a(href="#").button.hollow.primary Узнать больше  
.mb25
.discount(style="background-image:url(./i/discount.png);")
  .row
    .large-4.large-offset-2.medium-6.columns.discount__text
      | Заполни заявку и
      =" "
      strong.text-warning получи скидку
      |  на автополироль
      =" "
      strong.text-warning Robercar C900
    .large-4.end.columns.medium-6
      .mb13
      input(type="text",placeholder="Ваше имя").discount__input  
      input(type="email",placeholder="Ваш email").discount__input  
      input(type="tel",placeholder="+7 (---) --- -- --").discount__input  
      button(type="submit").button Получить скидку
.sun
  .row.large-up-4.medium-up-2.text-center(data-equalizer,data-equalize-by-row="true")
    .columns
      .shop(data-equalizer-watch)
        .shop__img
          img(src="./images/ico/phone-call.svg", alt="")
        .shop__title Телефон
        a(href="#").button.hollow.primary Заказать звонок  
        .shop__text 
          | Звонок по России
          br
          | бесплатный
    .columns
      .shop(data-equalizer-watch)
        .shop__img
          img(src="./images/ico/mobile-store.svg", alt="")
        .shop__title Магазин
        ul.mall
          each title in ['Контакты','Как купить','Гарантии','Новости']
            li.mall__item
              a(href="#").mall__link= title
    .columns
      .shop(data-equalizer-watch)
        .shop__img
          img(src="./images/ico/shipped.svg", alt="")
        .shop__title Доставка
        .shop__text 
          | Доставляем товары
          br
          | по всей России.
        p
          img(src="./images/ico/russia.svg", alt="")
    .columns
      .shop(data-equalizer-watch)
        .shop__img
          img(src="./images/ico/online-payment.svg", alt="")
        .shop__title Оплата
        .shop__text 
          | Принимаем к оплате
          br
          | наличные, а также:
        .row
          .small-10.small-centered.columns  
            .row.small-up-3.text-center
              .columns.money
                img(src="./images/shop/mc.svg", alt="")
              .columns.money
                img(src="./images/shop/visa.svg", alt="")
              .columns.money
                img(src="./images/ico/sberbank.svg", alt="")
              .columns.money
                img(src="./images/shop/ym.svg", alt="")
              .columns.money
                img(src="./images/ico/webmoney.svg", alt="")
              .columns.money
                img(src="./images/ico/qiwi.svg", alt="")
            
