.row
  .columns.small-12.medium-4.large-3
    a.button.expanded(href='shop-compare.html')
      i.fa.fa-lg.fa-balance-scale
      | &nbsp;Сравнить: 5
  .columns.small-12.medium-6.large-7.text-center.medium-text-left
    p
      span.button-group
        a.button.primary(href='#')
          | Логичная&nbsp;
          i.fa.fa-sort-amount-asc
        a.button.primary(href='#') По названию
        a.button.primary(href='#') По цене
  .columns.small-12.medium-2.large-2.medium-text-right.text-center
    p
      span.button-group
        a.button.primary(href='shop-catalog.html'): i.fa.fa-lg.fa-th
        a.button(href='shop-catalog-lines.html'): i.fa.fa-lg.fa-th-list
