include ../mixins/_mixin-model
.model
  .model__slide
    +model('prod1.jpg',4,['new'])
  .model__slide
    +model('prod2.jpg',1,['leader'])
  .model__slide
    +model('prod3.jpg',5,['sale'])
  .model__slide
    +model('prod4.jpg',2,['new','leader'])
  .model__slide
    +model('prod5.jpg',4,['new'])
