ul.pagination.text-center( aria-label='Pagination')
  li.pagination-previous.disabled
    a(href="#")
      img(src="./images/arr-prev.svg", alt="")
  li.current
    span.show-for-sr You're on page
    |  1
  li
    a(href='#', aria-label='Page 2') 2
  li
    a(href='#', aria-label='Page 3') 3
  li
    a(href='#', aria-label='Page 4') 4

  li.pagination-next
    a(href="#")
      img(src="./images/arr-next.svg", alt="")
