div
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="1.png")
            span.b-info__opt(style="background-image:url('./images/mini/1.png');")
            div Лимонный
          .b-info__option(data-value="2.png")
            span.b-info__opt(style="background-image:url('./images/mini/2.png');")
            div Оливковый
          .b-info__option(data-value="3.png")
            span.b-info__opt(style="background-image:url('./images/mini/3.png');")
            div С-красный
          .b-info__option(data-value="4.png")
            span.b-info__opt(style="background-image:url('./images/mini/4.png');")
            div С-синий
          .b-info__option(data-value="5.png")
            span.b-info__opt(style="background-image:url('./images/mini/5.png');")
            div Т-бордовый
          .b-info__option(data-value="6.png")
            span.b-info__opt(style="background-image:url('./images/mini/6.png');")
            div Т-красный
          .b-info__option(data-value="7.png")
            span.b-info__opt(style="background-image:url('./images/mini/7.png');")
            div Т-серый
          .b-info__option(data-value="8.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Черный
          .b-info__option(data-value="9.png")
            span.b-info__opt(style="background-image:url('./images/mini/9.png');")
            div Ярко синий
          .b-info__option(data-value="10.png")
            span.b-info__opt(style="background-image:url('./images/mini/10.png');")
            div Белый
          .b-info__option(data-value="11.png")
            span.b-info__opt(style="background-image:url('./images/mini/11.png');")
            div Фиолетовый
          .b-info__option(data-value="12.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="13.png")
            span.b-info__opt(style="background-image:url('./images/mini/13.png');")
            div Т-зеленый
          .b-info__option(data-value="14.png")
            span.b-info__opt(style="background-image:url('./images/mini/14.png');")
            div С-коричневый
          .b-info__option(data-value="15.png")
            span.b-info__opt(style="background-image:url('./images/mini/15.png');")
            div Сиреневый
          .b-info__option(data-value="16.png")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="17.png")
            span.b-info__opt(style="background-image:url('./images/mini/17.png');")
            div Серый
          .b-info__option(data-value="18.png")
            span.b-info__opt(style="background-image:url('./images/mini/18.png');")
            div Розовый
          .b-info__option(data-value="19.png")
            span.b-info__opt(style="background-image:url('./images/mini/19.png');")
            div Салатовый
          .b-info__option(data-value="20.png")
            span.b-info__opt(style="background-image:url('./images/mini/20.png');")
            div Оранжевый
          .b-info__option(data-value="21.png")
            span.b-info__opt(style="background-image:url('./images/mini/21.png');")
            div Красный
          .b-info__option(data-value="22.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
          .b-info__option(data-value="23.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
          .b-info__option(data-value="24.png")
            span.b-info__opt(style="background-image:url('./images/mini/24.png');")
            div Желтый
          .b-info__option(data-value="25.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
          .b-info__option(data-value="26.png")
            span.b-info__opt(style="background-image:url('./images/mini/26.png');")
            div Бирюзовый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="30.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Черный
          .b-info__option(data-value="31.png")
            span.b-info__opt(style="background-image:url('./images/mini/11.png');")
            div Фиолетовый
          .b-info__option(data-value="32.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="33.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="34.png")
            span.b-info__opt(style="background-image:url('./images/mini/13.png');")
            div Т-зеленый
          .b-info__option(data-value="35.png")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="36.png")
            span.b-info__opt(style="background-image:url('./images/mini/17.png');")
            div Серый
          .b-info__option(data-value="37.png")
            span.b-info__opt(style="background-image:url('./images/mini/18.png');")
            div Розовый
          .b-info__option(data-value="38.png")
            span.b-info__opt(style="background-image:url('./images/mini/20.png');")
            div Оранжевый
          .b-info__option(data-value="39.png")
            span.b-info__opt(style="background-image:url('./images/mini/21.png');")
            div Красный
          .b-info__option(data-value="40.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
          .b-info__option(data-value="41.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
          .b-info__option(data-value="42.png")
            span.b-info__opt(style="background-image:url('./images/mini/24.png');")
            div Желтый
          .b-info__option(data-value="43.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
          .b-info__option(data-value="44.png")
            span.b-info__opt(style="background-image:url('./images/mini/26.png');")
            div Бирюзовый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="50.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Черный
          .b-info__option(data-value="51.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="52.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="53.png")
            span.b-info__opt(style="background-image:url('./images/mini/14.png');")
            div С-коричневый
          .b-info__option(data-value="54.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="60.jpg")
            span.b-info__opt(style="background-image:url('./images/mini/31.png');")
            div Бежевый
          .b-info__option(data-value="61.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="62.jpg")
            span.b-info__opt(style="background-image:url('./images/mini/14.png');")
            div С-коричневый
          .b-info__option(data-value="63.png")
            span.b-info__opt(style="background-image:url('./images/mini/17.png');")
            div Серый
          .b-info__option(data-value="64.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="70.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="71.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="72.png")
            span.b-info__opt(style="background-image:url('./images/mini/13.png');")
            div Т-зеленый
          .b-info__option(data-value="73.png")
            span.b-info__opt(style="background-image:url('./images/mini/14.png');")
            div С-коричневый
          .b-info__option(data-value="74.png")
            span.b-info__opt(style="background-image:url('./images/mini/21.png');")
            div Красный
          .b-info__option(data-value="75.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
          .b-info__option(data-value="76.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
          .b-info__option(data-value="77.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="80.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Черный
          .b-info__option(data-value="81.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="82.png")
            span.b-info__opt(style="background-image:url('./images/mini/14.png');")
            div С-коричневый
          .b-info__option(data-value="83.png")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="84.png")
            span.b-info__opt(style="background-image:url('./images/mini/17.png');")
            div Серый
          .b-info__option(data-value="85.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="90.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="91.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="100.png")
            span.b-info__opt(style="background-image:url('./images/mini/12.png');")
            div Т-синий
          .b-info__option(data-value="101.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="102.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
          .b-info__option(data-value="103.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="111.jpg")
            span.b-info__opt(style="background-image:url('./images/mini/31.png');")
            div Бежевый
          .b-info__option(data-value="112.png")
            span.b-info__opt(style="background-image:url('./images/mini/8.png');")
            div Т-коричневый
          .b-info__option(data-value="113.jpg")
            span.b-info__opt(style="background-image:url('./images/mini/17.png');")
            div Серый
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="121.png")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="122.png")
            span.b-info__opt(style="background-image:url('./images/mini/32.png');")
            div Серебро
          .b-info__option(data-value="123.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый
          .b-info__option(data-value="124.png")
            span.b-info__opt(style="background-image:url('./images/mini/25.png');")
            div Бордо
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="130.jpg")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="131.png")
            span.b-info__opt(style="background-image:url('./images/mini/32.png');")
            div Серебро
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="130.png")
            span.b-info__opt(style="background-image:url('./images/mini/11.png');")
            div Фиолетовый
          .b-info__option(data-value="140.png")
            span.b-info__opt(style="background-image:url('./images/mini/21.png');")
            div Красный
          .b-info__option(data-value="141.png")
            span.b-info__opt(style="background-image:url('./images/mini/33.png');")
            div Голубой
  .b-info__fabric
    .row.b-info__row.b-info__row_color
      .small-7.columns.b-info__name
        | Цвет:
      .small-17.columns.b-info__value
        .b-info__stock_bord
          .b-info__option(data-value="150.png")
            span.b-info__opt(style="background-image:url('./images/mini/16.png');")
            div Синий
          .b-info__option(data-value="151.png")
            span.b-info__opt(style="background-image:url('./images/mini/21.png');")
            div Красный
          .b-info__option(data-value="152.png")
            span.b-info__opt(style="background-image:url('./images/mini/22.png');")
            div Коричневый
          .b-info__option(data-value="153.png")
            span.b-info__opt(style="background-image:url('./images/mini/23.png');")
            div Зеленый