include _work
.row.b-main
  .small-16.columns.b-main__info
    .row
      .b-steps
        ul#example-vert-tabs.tabs.vertical(data-tabs='')
          li.tabs-title.is-active
            a(href='#panel1v') 1
          li.tabs-title
            a(href='#panel2v') 2
          li.tabs-title
            a(href='#panel3v') 3
          li.tabs-title
            a(href='#panel4v') 4
          li.tabs-title
            a(href='#panel5v') 5
          li.tabs-title
            a(href='#panel6v') 6
      .b-info
        .tabs-content.vertical(data-tabs-content='example-vert-tabs')
          #panel1v.tabs-panel.is-active
            .row
              .columns.b-info__title
                | Тип изделия и тираж
            .row.b-info__row
              .small-7.columns.b-info__name
                | Тираж:
              .small-17.columns.b-info__value
                input.b-info__input(type="text",placeholder="...")
            .row.b-info__row
              .small-7.columns.b-info__name
                | Тип изделия:
              .small-17.columns.b-info__value
                select#a.b-info__select(name="a")
                  option(disabled)
                    | Выберите тип изделия
                  option(selected)
                    | Ежедневник на ниткошвейном блоке
                  option
                    | Ежедневник на пружине
                  option(disabled)
                    | Ежедневник на кольцевом механизме
                  option(disabled)
                    | Еженедельник
                  option(disabled)
                    | изделия для записей
                  option(disabled)
                    | планинг
                  option(disabled)
                    | визитниц
                  option(disabled)
                    | папки/удостоверения
                  option(disabled)
                    | планер
                  option(disabled)
                    | телефонные книги
            .row.b-info__row#formatProduct
              .small-7.columns.b-info__name
                | Формат изделия:
              .small-17.columns.b-info__value
                include ../../formatProduct
            .row.b-info__row#typeOblo
              .small-7.columns.b-info__name
                | Тип обложки: 
              .small-17.columns.b-info__value
                include ../../typeOblo
            .row
              .columns.b-info__bot
                div.b-info__next-step Следующий шаг
          #panel2v.tabs-panel
            .row
              .columns.b-info__title
                | Опции блока
            .row.b-info__row
              .small-7.columns.b-info__name
                | Блок:
              .small-17.columns.b-info__value.js-dated
                .b-buy
                  input#blk1.b-buy__inpt(type='radio', name='blk')
                  label.b-buy__chck(for='blk1') Датированный стандартный
                .b-buy
                  input#blk2.b-buy__inpt(type='radio', name='blk')
                  label.b-buy__chck(for='blk2') Не датированный стандартный
                .b-buy
                  input#blk3.b-buy__inpt(type='radio', name='blk')
                  label.b-buy__chck(for='blk3') Датированный индивидуальный
                .b-buy
                  input#blk4.b-buy__inpt(type='radio', name='blk')
                  label.b-buy__chck(for='blk4') Не датированный индивидуальный
            .row.b-info__row#colorPrint
              .small-7.columns.b-info__name
                | Цвет печати блока: 
              .small-17.columns.b-info__value
                include ../../colorPrint
            .row.b-info__row
              .small-7.columns.b-info__name
                | Цвет бумаги: 
              .small-17.columns.b-info__value
                .b-buy
                  input#colorpaper.b-buy__inpt(type='radio', name='colorpaper' ,disabled)
                  label.b-buy__chck(for='colorpaper') Белая
                .b-buy
                  input#colorpaper2.b-buy__inpt(type='radio', name='colorpaper',disabled)
                  label.b-buy__chck(for='colorpaper2') Тонированная
            
            .row
              .columns.b-info__bot
                div.b-info__prev-step Предыдущий шаг
                div.b-info__next-step Следующий шаг

          #panel3v.tabs-panel
            .row
              .columns.b-info__title
                | Обложка
            #typeFastening
            #coverView
              include ../../coverView
            .b-info__nat-leather(data-src-mat="./images/nat-leather.png")
              .row.b-info__row.b-info__row_main-mat
                  .small-7.columns.b-info__name
                    | Цвет:
                  .small-17.columns.b-info__value
                    img.b-info__color(src="./images/mat20.png", alt="С-коричневый",title="С-коричневый")
                    img.b-info__color(src="./images/mat21.png", alt="Синий",title="Синий")
                    img.b-info__color(src="./images/mat22.png", alt="Серый",title="Серый")
                    img.b-info__color(src="./images/mat23.png", alt="Серебро",title="Серебро")
                    img.b-info__color(src="./images/mat24.png", alt="Коричневый",title="Коричневый")
            .b-info__lamination
              .row.b-info__row.b-info__row_main-mat
                  .small-7.columns.b-info__name
                    | Макет:
                  .small-17.columns.b-info__value.b-info__value_min
                    .b-buy.b-buy_shivka
                      .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket25(type="file")
              .row.b-info__row
                .small-7.columns.b-info__name
                  | Виды ламинации:
                .small-17.columns.b-info__value
                  .b-buy
                    input#lam1.b-buy__inpt(type='radio', name='lam')
                    label.b-buy__chck(for='lam1') Глянцевая
                  .b-buy
                    input#lam2.b-buy__inpt(type='radio', name='lam')
                    label.b-buy__chck(for='lam2') Матовая
                  .b-buy
                    input#lam3.b-buy__inpt(type='radio', name='lam')
                    label.b-buy__chck(for='lam3') SoftTouch
                  .b-buy
                    input#lam4.b-buy__inpt(type='radio', name='lam')
                    label.b-buy__chck(for='lam4') Лён
            .b-info__leather
              .row.b-info__row.b-info__row_main-mat
                  .small-7.columns.b-info__name
                    | Макет:
                  .small-17.columns.b-info__value
                    .b-buy.b-buy_shivka
                      .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket23(type="file")
            .b-info__enter-shivka
              .row.b-info__row
                .small-7.columns.b-info__name
                  | Сшивка:
                .small-17.columns.b-info__value.b-info__value_shivka
                  .b-info__shivka
                    | Empire
                    br
                    img(src="./images/93987e27d0b9306050ff59fd6639c8d1.jpg",data-src-mat="./images/111.png" alt="")
                  .b-info__shivka
                    | Report
                    br
                    img(src="./images/dc5deb76c3c657389038eb1b7a9ce499.jpg",data-src-mat="./images/112.png", alt="")
                  .b-info__indi
                     | Индивидуальная
                     br
                     img(src="./images/dord.jpg", alt="")
                .small-17.columns.small-offset-7.b-info__value.b-info__value_download
                  .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket29(type="file")
              .b-info__contr
                .row.b-info__row.b-info__row_mat
                  .small-7.columns.b-info__name
                    | Материал №1:
                  .small-17.columns.b-info__value
                    .b-info__stock__bord
                      .b-info__stock Вивелла
                      .b-info__stock Небраска
                      .b-info__stock Армония
                      .b-info__stock Ачеро
                      .b-info__stock Дедало
                      .b-info__stock Каприс
                      .b-info__stock Каско
                      .b-info__stock Натур
                      .b-info__stock Пони
                      .b-info__stock Престиж
                      .b-info__stock Танго
                      .b-info__stock Тежус
                      .b-info__stock Эклис
                
                include _fabric
              .b-info__contr2
                .row.b-info__row.b-info__row_mat
                  .small-7.columns.b-info__name
                    | Материал №2:
                  .small-17.columns.b-info__value
                    .b-info__stock__bord
                      .b-info__stock Вивелла
                      .b-info__stock Небраска
                      .b-info__stock Армония
                      .b-info__stock Ачеро
                      .b-info__stock Дедало
                      .b-info__stock Каприс
                      .b-info__stock Каско
                      .b-info__stock Натур
                      .b-info__stock Пони
                      .b-info__stock Престиж
                      .b-info__stock Танго
                      .b-info__stock Тежус
                      .b-info__stock Эклис
                
                include _fabric
            .b-info__main-blocks
              .row.b-info__row.b-info__row_mat
                .small-7.columns.b-info__name
                  | Материал:
                .small-17.columns.b-info__value
                  .b-info__stock__bord
                    .b-info__stock Вивелла
                    .b-info__stock Небраска
                    .b-info__stock Армония
                    .b-info__stock Ачеро
                    .b-info__stock Дедало
                    .b-info__stock Каприс
                    .b-info__stock Каско
                    .b-info__stock Натур
                    .b-info__stock Пони
                    .b-info__stock Престиж
                    .b-info__stock Танго
                    .b-info__stock Тежус
                    .b-info__stock Эклис
              include _fabric
            
            .row
              .columns.b-info__bot
                div.b-info__prev-step Предыдущий шаг
                div.b-info__next-step Следующий шаг
          #panel4v.tabs-panel
            .row
              .columns.b-info__title
                | Опции обложки
            
            .row.b-info__row
              .small-7.columns.b-info__name
                | Прошивка по материалу:
              .small-17.columns.b-info__value
                .b-buy
                  input#proshivka2.b-buy__inpt(type='radio', name='proshivka')
                  label.b-buy__chck(for='proshivka2') Нет
                .b-buy
                  input#proshivka.b-buy__inpt(type='radio', name='proshivka')
                  label.b-buy__chck(for='proshivka') Да
            #vikleyka
            #pocketInstall
            .row.b-info__row
              .small-7.columns.b-info__name
                | Тиснение:
              .small-17.columns.b-info__value
                .b-buy
                  input#tisnenie_select.b-buy__inpt(type='radio', name='tisnenie_select', checked)
                  label.b-buy__chck(for='tisnenie_select') Нет
                .b-buy
                  input#tisnenie_select2.b-buy__inpt(type='radio', name='tisnenie_select')
                  label.b-buy__chck(for='tisnenie_select2') Фольга
                .b-buy
                  input#tisnenie_select3.b-buy__inpt(type='radio', name='tisnenie_select')
                  label.b-buy__chck(for='tisnenie_select3') Блинт
            .b-info__tis
              .row.b-info__row
                .small-offset-7.small-17.columns.b-info__value.b-info__value_foil
                  .b-buy
                    input#foil1.b-buy__inpt(type='radio', name='foil', checked)
                    label.b-buy__chck(for='foil1') Серебро
                  .b-buy
                    input#foil2.b-buy__inpt(type='radio', name='foil')
                    label.b-buy__chck(for='foil2') Золото
                .small-7.columns.b-info__name
                  | Размер клише(АхВ):
                .small-17.columns.b-info__value
                  .b-buy.b-buy_wide
                    input(type="text").b-info__centi.b-info__centi_x
                    .b-info__centimetre см
                    input(type="text").b-info__centi.b-info__centi_y
                    .b-info__centimetre см
              .row.b-info__row.b-info__row_main-mat
                  .small-7.columns.b-info__name
                    | Макет:
                  .small-17.columns.b-info__value
                    .b-buy.b-buy_shivka
                      .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket26(type="file")
              .row.b-info__row
                .small-offset-7.small-17.columns
                  .b-buy
                    .b-buy__add-stamping Добавить тиснение
              .b-info__tis2
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Второе тиснение:
                  .small-17.columns.b-info__value
                    .b-buy
                      input#tisnenie_select20.b-buy__inpt(type='radio', name='tisnenie_select0')
                      label.b-buy__chck(for='tisnenie_select20') Фольга
                    .b-buy
                      input#tisnenie_select30.b-buy__inpt(type='radio', name='tisnenie_select0')
                      label.b-buy__chck(for='tisnenie_select30') Блинт
                .row.b-info__row
                  .small-offset-7.small-17.columns.b-info__value.b-info__value_foil0
                    .b-buy
                      input#foil10.b-buy__inpt(type='radio', name='foil2', checked)
                      label.b-buy__chck(for='foil10') Серебро
                    .b-buy
                      input#foil20.b-buy__inpt(type='radio', name='foil2')
                      label.b-buy__chck(for='foil20') Золото
                  .small-7.columns.b-info__name
                    | Размер клише(АхВ):
                  .small-17.columns.b-info__value
                    .b-buy.b-buy_wide
                      input(type="text").b-info__centi.b-info__centi_x2
                      .b-info__centimetre см
                      input(type="text").b-info__centi.b-info__centi_y2
                      .b-info__centimetre см
                .row.b-info__row.b-info__row_main-mat
                    .small-7.columns.b-info__name
                      | Макет:
                    .small-17.columns.b-info__value
                      .b-buy.b-buy_shivka
                        .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                        input.b-buy__file#maket77(type="file")
            .row.b-info__row
              .small-7.columns.b-info__name
                | Хлястик:
              .small-17.columns.b-info__value
                .b-buy
                  input#hlyastic.b-buy__inpt(type='radio', name='hlyastic', checked,value="0")
                  label.b-buy__chck(for='hlyastic') Нет
                .b-buy
                  input#hlyastic2.b-buy__inpt(type='radio', name='hlyastic',value="1")
                  label.b-buy__chck(for='hlyastic2') На кнопке
                .b-buy
                  input#hlyastic3.b-buy__inpt(type='radio', name='hlyastic',value="2")
                  label.b-buy__chck(for='hlyastic3') На магните
                .b-buy
                  input#hlyastic4.b-buy__inpt.b-buy__inpt_hide(type='radio', name='hlyastic',value="3")
                  label.b-buy__chck(for='hlyastic4') Индивидуальный
                .b-buy.b-buy_hide
                  input.b-buy__file#maket(type="file")
            .row.b-info__row
              .small-7.columns.b-info__name
                | Петля для ручки:
              .small-17.columns.b-info__value
                .b-buy
                  input#petlya_for_pen.b-buy__inpt(type='radio', name='petlya_for_pen', checked,value="0")
                  label.b-buy__chck(for='petlya_for_pen') Нет
                .b-buy
                  input#petlya_for_pen1.b-buy__inpt(type='radio', name='petlya_for_pen',value="1")
                  label.b-buy__chck(for='petlya_for_pen1') Из переплётного материала на синтетической основе
                .b-buy
                  input#petlya_for_pen2.b-buy__inpt(type='radio', name='petlya_for_pen',value="2")
                  label.b-buy__chck(for='petlya_for_pen2') Из резинки
                .b-buy
                  input#petlya_for_pen3.b-buy__inpt(type='radio', name='petlya_for_pen',value="3")
                  label.b-buy__chck(for='petlya_for_pen3') Из натуральной кожи
            .row.b-info__row
              .small-7.columns.b-info__name
                | Металлические уголки:
              .small-17.columns.b-info__value
                .b-buy
                  input#ugol_none.b-buy__inpt(type='radio', name='ugol1', checked)
                  label.b-buy__chck(for='ugol_none') Нет
                .b-buy
                  input#ugol_metal.b-buy__inpt(type='radio', name='ugol1')
                  label.b-buy__chck(for='ugol_metal') Металлические
            .b-info__col
              .row.b-info__row
                .small-17.columns.small-offset-7.b-info__value
                  .b-buy
                    input#ugol__two.b-buy__inpt(type='radio', name='ugol')
                    label.b-buy__chck(for='ugol__two') 2 шт.
                  .b-buy
                    input#ugol__four.b-buy__inpt(type='radio', name='ugol',checked)
                    label.b-buy__chck(for='ugol__four') 4 шт.
            #elasticR
              include ../../elasticR
            .row
              .columns.b-info__bot
                div.b-info__prev-step Предыдущий шаг
                div.b-info__next-step Следующий шаг
          #panel5v.tabs-panel
            .row
              .columns.b-info__title
                | Опции блока
            #perfoAndOther
              .row.b-info__row
                .small-7.columns.b-info__name
                  | Перфорация угла:
                .small-17.columns.b-info__value
                  .b-buy
                    input#perforation.b-buy__inpt(type='radio', name='perforation',disabled)
                    label.b-buy__chck(for='perforation') Нет
                  .b-buy
                    input#perforation2.b-buy__inpt(type='radio', name='perforation',checked,disabled)
                    label.b-buy__chck(for='perforation2') С перфорацией
              .row.b-info__row
                  .small-7.columns.b-info__name
                    | Цвет каптала/ляссе:
                  .small-17.columns.b-info__value
                    .b-buy
                      input#lyasse.b-buy__inpt(type='radio', name='lyasse')
                      label.b-buy__chck(for='lyasse') Желтые (стандарт)
                    .b-buy
                      input#lyasse2.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='lyasse')
                      label.b-buy__chck(for='lyasse2') Выбор цвета
                    .b-buy
                      input#lyasse3.b-buy__inpt.b-buy__inpt_hide(type='radio', name='lyasse')
                      label.b-buy__chck(for='lyasse3') С печатью на ляссе
                    .b-buy.b-buy_hide2.b-buy_js-lasse
                      .b-buy__legend.b-buy__legend_inherit Выбрать цвет:
                      img.b-info__color(src="./images/mat6.png", alt="Красный",title="Красный")
                      img.b-info__color(src="./images/mat7.png", alt="Зеленый",title="Зеленый")
                      img.b-info__color(src="./images/mat30.png", alt="Желтый",title="Желтый")
                    .b-buy.b-buy_hide
                      .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket40(type="file")
                    .b-info__lyasse
                      .b-info__lyasse-btn + добавить ляссе
                    .b-info__hide-block
                      .b-info__text Второе ляссе:
                      .b-buy
                        input#lyasse4.b-buy__inpt(type='radio', name='lyasse222')
                        label.b-buy__chck(for='lyasse4') Желтые (стандарт)
                      .b-buy
                        input#lyasse5.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='lyasse222')
                        label.b-buy__chck(for='lyasse5') Выбор цвета
                      .b-buy
                        input#lyasse6.b-buy__inpt.b-buy__inpt_hide(type='radio', name='lyasse222')
                        label.b-buy__chck(for='lyasse6') С печатью на ляссе
                      .b-buy.b-buy_hide2.b-buy_js-lasse2
                        .b-buy__legend.b-buy__legend_inherit Выбрать цвет:
                        img.b-info__color(src="./images/mat6.png", alt="Красный",title="Красный")
                        img.b-info__color(src="./images/mat7.png", alt="Зеленый",title="Зеленый")
                        img.b-info__color(src="./images/mat30.png", alt="Желтый",title="Желтый")
                      .b-buy.b-buy_hide
                        .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                        input.b-buy__file#maket4(type="file")
              .b-info__map-show
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Форзац: 
                  .small-17.columns.b-info__value.b-info__value_min
                    .b-info__container
                      .b-info__naming Тип печати:
                      select#e.b-info__select.b-info__select_min(name="e")
                        option
                          | Карта России
                        option
                          | Карта Европы
                        option
                          | Индивидуальный
                        option(selected)
                          | Без печати
                    .b-buy
                      a(href='#').b-buy__download-link Скачать заготовку
                    .b-buy
                      a(href='#').b-buy__download-link Скачать технические требования
                    .b-buy.b-buy_forzac
                      .b-buy__legend.b-buy__legend_min Загрузить макет:
                      input.b-buy__file#maket60(type="file")
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Нахзац: 
                  .small-17.columns.b-info__value.b-info__value_min
                    .b-info__container
                      .b-info__naming Тип печати:
                      select#nah.b-info__select.b-info__select_min(name="nah")
                        option
                          | Карта России
                        option
                          | Карта Европы
                        option
                          | Индивидуальный
                        option(selected)
                          | Без печати
                    .b-buy
                      a(href='#').b-buy__download-link Скачать заготовку
                    .b-buy
                      a(href='#').b-buy__download-link Скачать технические требования
                    .b-buy.b-buy_nahzac
                      .b-buy__legend.b-buy__legend_min Загрузить макет:
                      input.b-buy__file#maket30(type="file")
            .b-info__rekla-show
              #glue
                include ../../glue
            #viruAndOther
              .row.b-info__row
                .small-7.columns.b-info__name
                  | Вырубка регистров:
                .small-17.columns.b-info__value
                  .b-buy
                    input#virubka.b-buy__inpt(type='radio', name='virubka', checked)
                    label.b-buy__chck(for='virubka') Нет
                  .b-buy
                    input#virubka2.b-buy__inpt(type='radio', name='virubka',disabled)
                    label.b-buy__chck(for='virubka2') С вырубкой
              .b-info__map-show
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Конверт: 
                  .small-17.columns.b-info__value
                    .b-buy
                      input#konver_type.b-buy__inpt(type='radio', name='konver_type', checked)
                      label.b-buy__chck(for='konver_type') Нет
                    .b-buy
                      input#konver_type2.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='konver_type')
                      label.b-buy__chck(for='konver_type2') Белая бумага
                    .b-buy
                      input#konver_type3.b-buy__inpt.b-buy__inpt_hide(type='radio', name='konver_type')
                      label.b-buy__chck(for='konver_type3') Тонированная бумага
              .b-info__srez-show
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Золочение среза:
                  .small-17.columns.b-info__value
                    .b-buy
                      input#zolochenie.b-buy__inpt(type='radio', name='zolochenie', checked,value="1")
                      label.b-buy__chck(for='zolochenie') Нет
                    .b-buy
                      input#zolochenie2.b-buy__inpt(type='radio', name='zolochenie',value="2")
                      label.b-buy__chck(for='zolochenie2') Золочение
                    .b-buy
                      input#zolochenie3.b-buy__inpt(type='radio', name='zolochenie',value="3")
                      label.b-buy__chck(for='zolochenie3') Серебрение
                .row.b-info__row
                  .small-7.columns.b-info__name
                    | Печать по срезу:
                  .small-17.columns.b-info__value
                    .b-buy
                      input#printsrez.b-buy__inpt(type='radio', name='printsrez', checked)
                      label.b-buy__chck(for='printsrez') Нет
                    .b-buy
                      input#printsrez2.b-buy__inpt(type='radio', name='printsrez')
                      label.b-buy__chck(for='printsrez2') Выбор цвета
                    .b-buy
                      input#printsrez3.b-buy__inpt(type='radio', name='printsrez')
                      label.b-buy__chck(for='printsrez3') Индивидуальная печать
                    div.b-info__topper
                        .b-buy
                          input#side.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='side')
                          label.b-buy__chck(for='side') Одна сторона
                        .b-buy
                          input#side2.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='side')
                          label.b-buy__chck(for='side2') Две стороны
                        .b-buy
                          input#side3.b-buy__inpt.b-buy__inpt_hide2(type='radio', name='side')
                          label.b-buy__chck(for='side3') Три стороны
                    .b-buy.b-buy_hide-maket
                      div Указать цвет
                      .b-buy__legend.b-buy__legend_inherit Загрузить макет:
                      input.b-buy__file#maket3(type="file")
            .row
              .columns.b-info__bot
                div.b-info__prev-step Предыдущий шаг
                div.b-info__next-step Получить расчет
                  
          #panel6v.tabs-panel
            .b-construct
              .row
                .columns.b-info__title
                  | Расчет заказа
              .row.b-construct__row
                .b-construct__title.columns
                  | Классический ежедневник А4
                .columns.b-construct__date
                  .b-construct__price 2 681 Р.
                  .b-construct__name
                    | Датированный чёрно-красный, белый блок, жесткая обложка
                ul.columns.b-construct__list
                  li.b-construct__li
                    | Сшивная обложка (Electa), цвет ниток Черный
                  li.b-construct__li
                    | Материал 1. Лазурный (240) Birmingham
                  li.b-construct__li
                    | Материал 2. Синий (030) REINA
              .row.b-construct__row
                .b-construct__title.columns
                  | Опции блока
                .columns.b-construct__date
                  .b-construct__price 1 681 Р.
                  .b-construct__name
                    | Форзац: Стандарт
                .columns.b-construct__date
                  .b-construct__price 1 681 Р.
                  .b-construct__name
                    | Нахзац: Стандарт
                .columns.b-construct__date
                  .b-construct__price 1 681 Р.
                  .b-construct__name
                    | Срез: Стандарт
              .row.b-construct__row.b-construct__row_last
                .columns.b-construct__date
                  .b-construct__price.b-construct__price_bold 1 681 Р.
                  .b-construct__name.b-construct__name_bold
                    | Итого за 1 шт.
                .columns.b-construct__date
                  .b-construct__price.b-construct__price_bold 1 681 Р.
                  .b-construct__name.b-construct__name_bold
                    | Стоимость за тираж 100 экземпляров
                .columns.b-construct__date
                  .b-construct__price.b-construct__price_bold 
                  .b-construct__name.b-construct__name_bold
                    | Срок изготовления (при наличии материалов)
              .row
                .columns.b-info__bot
                  div.b-info__prev-step Предыдущий шаг
                  a(href="#").b-info__final-link Оформить заказ
            
  .small-8.columns.b-main__review
    .b-main__img
      .calculator__result
        .big-oblozka
          .ugol
          .hlyastic__big
          .petlya__pen
          .rezinka__oblozhka
          .rezinka__col
          .tisnenie__big
          .tisnenie__big-two
          .obvodka
          .oblozka-shadow__left
          .oblozka-shadow
          .oblozka-line
          .oblozka-texture
          .oblozka-shi1
          .oblozka-shi2
          .oblozka-shi3
          .oblozka-color__two
          .oblozka-color__one
        .razvorot-big
          .virubka__img
          .perforation__img
          .razvorot__type
          .lyasse__one
          .lyasse__two
        .srez-big
        .map-big
          .konvert-big
          .reklama-big
        .b-main__buttons
          a.b-main__link Обложка
          a.b-main__link Разворот
    