.grid-x.shop-popular
  .cell.xlarge-4
    .shop-popular__pd
      img.shop-popular__img(src='images/shop-popular-basket.svg')
      br
      span.shop-popular__title Популярное в интернет магазине
      a.shop-popular__link-btn(href="#" target='_blank') Перейти в магазин
  .cell.xlarge-8
    .grid-x
      
      .cell.large-6
        .responsive-embed.shop-popular-cell
          .shop-popular-cell__inner
            .shop-popular-cell__price-box
              span.shop-popular-cell__price 250
              span.shop-popular-cell__currency руб
            img(src='i/shop-popular/shop-photo.svg')
            p.shop-popular-cell__desc
              a.shop-popular-cell__link(href="#") Авто-вымпел на присоске нефтехимик
            
      .cell.large-6
        .responsive-embed.shop-popular-cell
          .shop-popular-cell__inner
            .shop-popular-cell__price-box
              span.shop-popular-cell__price 900
              span.shop-popular-cell__currency руб
            img(src='i/shop-popular/shop-photo2.svg')
            p.shop-popular-cell__desc
              a.shop-popular-cell__link(href="#") Кукла Кнопик (м) ХК нефтехимик
          
      .cell.large-6
        .responsive-embed.shop-popular-cell
          .shop-popular-cell__inner
            .shop-popular-cell__price-box
              span.shop-popular-cell__price 900
              span.shop-popular-cell__currency руб
            img(src='i/shop-popular/shop-photo3.svg')
            p.shop-popular-cell__desc
              a.shop-popular-cell__link(href="#") Футболка с нанесеним цвет синий
          
      .cell.large-6
        .responsive-embed.shop-popular-cell
          .shop-popular-cell__inner
            .shop-popular-cell__price-box
              span.shop-popular-cell__price 700
              span.shop-popular-cell__currency руб
            img(src='i/shop-popular/shop-photo4.svg')
            p.shop-popular-cell__desc
              a.shop-popular-cell__link(href="#") Шляпа для болельщиков (цилиндр)
