.team-static
  .grid-x.team-static__header
    .cell.large-6.xxlarge-4.text-center
      h4.margin-bottom-0 Бомбардиры “нефтехимика”
    .cell.large-6.xxlarge-4.text-center
      a.team-static__title-link(href='#') Полная статистика
    .cell.xxlarge-2.xxlarge-offset-2
      .aside-games-panel-switcher.text-center.team-static__panel-switcher
        input.aside-games-panel-switcher__input(type='checkbox' id='switcher__team-static')
        label.aside-games-panel-switcher__label(for='switcher__team-static')
            span.aside-games-panel-switcher__span.team-static__panel-switcher кхл 
            span.aside-games-panel-switcher__span.team-static__panel-switcher мхл
            
  .switch-content-left
    .grid-x(data-equalizer='photo' data-equalize-on="medium")
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Бомбардиры
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 5
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
      
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Снайперы
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 5
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
      
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Снайперы
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 5
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
            
            
          
  .switch-content-right
    .grid-x(data-equalizer='photo' data-equalize-on="medium")
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Бомбардиры
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 7
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
      
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Снайперы
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 5
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
      
      .cell.large-6.xlarge-4
        .hockey-player-team.show-for-medium
          span.hockey-player-team__num 23
          span.hockey-player-team__num 235
          span.hockey-player-team__num 5
          span.hockey-player-team__num 325
          span.hockey-player-team__num 5
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player2.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player.png' data-equalizer-watch='photo')
          .hockey-player-team__img
            img(src='i/hockey-player/hockey-player3.png' data-equalizer-watch='photo')
        .responsive-embed.hockey-player-cell
          .hockey-player-cell__inner
            h4 Снайперы
            .hockey-player-cell__item
              a.hockey-player-cell__item-name.hockey-player-cell__item-name_select(href='#') Ружичка Штефан
              .hockey-player-cell__item-point 5
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Попов Александр
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Казионов Денис
              .hockey-player-cell__item-point 4
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Лямин Кирилл
              .hockey-player-cell__item-point 3
            .hockey-player-cell__item
              a.hockey-player-cell__item-name(href='#') Иванов Андрей
              .hockey-player-cell__item-point 1
            
            
          
