.grid-x.grid-margin-x.small-up-1.large-up-2.xlarge-up-3.trainers(data-equalizer='trainers', data-equalize-by-row='true')
  .cell
      a(href='trainer.html')
          .card.trainer-card(data-equalizer-watch='trainers')
              .card-image
                  img(src='i/trainers/trainer1.jpg' alt='Фото игрока' style='width: 100%;')
              .card-section
                p.trainer-card__name СОЛОВЬЕВ 
                  br 
                  | НИКОЛАЙ ДМИТРИЕВИЧ
                p.trainer-card__desc c 15.01.1995 по 10.10.1995 гг.
  .cell
      a(href='trainer.html')
          .card.trainer-card(data-equalizer-watch='trainers')
              .card-image
                  img(src='i/trainers/trainer2.jpg' alt='Фото игрока' style='width: 100%;')
              .card-section
                p.trainer-card__name АНДРЕЕВ 
                  br 
                  | ВЛАДИМИР ВЛАДИМИРОВИЧ
                p.trainer-card__desc c 10.10.1995 по 19.10.1998 гг.
  .cell
      a(href='trainer.html')
          .card.trainer-card(data-equalizer-watch='trainers')
              .card-image
                  img(src='i/trainers/trainer3.jpg' alt='Фото игрока' style='width: 100%;')
              .card-section
                p.trainer-card__name СОКОЛОВ 
                  br 
                  | АЛЕКСАНДР ЮРЬЕВИЧ
                p.trainer-card__desc c 19.10.1998 по 04.04.1999 гг.
