.grid-x.grid-padding-x
  .small-24.medium-16.cell
    h2 Свежие статьи
  .small-24.medium-8.cell.medium-text-right
    a.button(href='#') Все материалы
      i.fas.fa-long-arrow-alt-right.canv

div(data-equalizer='title', data-equalize-by-row='true'): .grid-x.grid-padding-x.large-up-3(data-equalizer='articles', data-equalize-by-row='true')
  +project('Запустили 200 новых сайтов на собственной CMS', 'articles',true)
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
