include ../blocks/advice/_advice
.callout
  h3
    a(href='', title='') Консультации
  +advice('Полиция')
  hr
  +advice('Прокуратура')
  hr
  +advice('ГИБДД')
  a.button.button_hollow.button_expanded(href='', title='') Все консультации
