mixin tile(title, dataEq)
    .column
        .clearfix(data-equalizer-watch=dataEq)
            p
                img(src='./images/image.svg' style='background:#ddd;width:100%;')
            if title
                a(href='#')= title
            if block
                block
            else
                br
                br
