include ../mixins/_mixin-perm
.row
  .spa.text-center
    +perm('cinema.png','Уход за телом')
    +perm('cinema.png','Уход за телом')
    +perm('cinema.png','Стайлинг')
    +perm('cinema.png','Перманентная завивка')
    +perm('cinema.png','Уход')
