ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Аксессуары, техника
    ul.cat
      each title in ['Аксессуары для парикмахерских работ','Одноразовая продукция','Пеньюары и фартуки','Полотенца','Расчески, щетки','Техника']
        li.cat__item
          a(href="#").cat__link= title
ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Краска для бровей и ресниц
    ul.cat
      each title in ['Краска для бровей и ресниц']
        li.cat__item
          a(href="#").cat__link= title
ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Наборы
    ul.cat
      each title in ['Наборы']
        li.cat__item
          a(href="#").cat__link= title
ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Окрашивание волос
    ul.cat
      each title in ['Wellа краска color touch','Wellа краска Illumina','Wellа краска Koleston Perfect','Активаторы, оксигенты Deluxe','Активаторы, оксигенты Essex','Краска для волос','Окислители Blondor Freelights, Welloxon, Эмульсии Color Touch','Продукты для осветления и мелирования','Техническая группа']
        li.cat__item
          a(href="#").cat__link= title
ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Перманентная завивка
    ul.cat
      each title in ['Текстурирование, Перманентная завивка']
        li.cat__item
          a(href="#").cat__link= title
  li.cat__item
    a(href="#").cat__link Уход
    ul.cat
      each title in ['Активное восстановление','Бальзамы, кондиционеры','Маски','Очищение, шампуни','Специальные процедуры','Специальный уход']
        li.cat__item
          a(href="#").cat__link= title
ul.cat.cat_inside
  li.cat__item
    a(href="#").cat__link Стайлинг
    ul.cat
      each title in ['Воски','Гели','Глины','Другие продукты','Крема для стайлинга','Лаки','Молочко','Пены, муссы','Спреи']
        li.cat__item
          a(href="#").cat__link= title
  li.cat__item
    a(href="#").cat__link Уход за телом
    ul.cat
      each title in ['Гель для душа','Крем для загара','Крем для рук']
        li.cat__item
          a(href="#").cat__link= title
