form(action="#")
  .row.collapse
    .small-20.columns
      input(type="search",placeholder="Search for products")
    .small-4.columns
      button(type="submit").button.carrot
        i.fa.fa-search
