include ../mixins/_mixin-prod.pug
.row
  .spa.text-center
    +prod('theatre.png','Маски','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('theatre.png','Маски','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('nioxin.jpg','Очищение, шампуни','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('theatre.png','Маски','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('theatre.png','Маски','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('nioxin.jpg','Очищение, шампуни','Nioxin Маска д/глуб. восстан. волос (500 мл)')
    +prod('nioxin.jpg','Очищение, шампуни','Nioxin Маска д/глуб. восстан. волос (500 мл)')
