.door {
    &__price {
        color: $black;
        padding-top: rem-calc(7);
        padding-left: rem-calc(14);
        padding-right: rem-calc(14);

        strong {
            font-size: rem-calc(18);
        }
    }

    &__text {
        text-transform: uppercase;
        color: $white;
        font-size: rem-calc(12);
        padding-left: rem-calc(14);
        padding-right: rem-calc(14);
        background: $green;
        padding-top: rem-calc(10);
        margin-top: rem-calc(-5);
        padding-bottom: rem-calc(10);
    }

    &__img {
        border-top: rem-calc(3) solid transparent;
        display: inline-block;

        &:hover {
            border-color: $green;
        }
    }
}
