mixin dress(title,img,text)
  .columns
    .dress(data-equalizer-watch)
      img(src="./i/"+img, alt="")
      a.dress__block(href="#",data-equalizer-watch)
        .dress__title= title
        p.dress__text= text
        .button.hollow Подробнее
