mixin consumableString(discount, onDemand, inCart)
    .product-string
        .row
            .column.small-12.medium-6
                .media-object
                    .media-object-section
                        .thumbnail
                            img(src='./images/image.svg', alt='', style='width:75px;')
                    .media-object-section
                        if discount
                            .label.alert Акция
                            | &#160;&#160;
                        span.text-dark-gray Артикул 123456
                        div
                            a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta

            .column.small-6.medium-4
                b.price 47 692,99 руб
                if discount
                    del.text-dark-gray 51 099,68&nbsp;руб
            .column.small-6.medium-2
                if onDemand
                    | На заказ
                else
                    span.text-success В наличии &#160;

                br

                if inCart
                    span.dark-gray ✓ В корзине &#160;
                else
                    if onDemand
                        a(href='#').button.small Заказать
                    else
                        a(data-tooltip aria-haspopup="true" class="has-tip top" data-click-open="true" data-disable-hover="true" title="Товар добавлен в корзину").button.small
                            i.fa.fa-shopping-cart.fa-lg &#160;
                            | В корзину