mixin additional(title, imageName)
  .column
    a(href="#",data-open="modal10")
      .ranger
        .ranger__img.text-center
          img(src='images/goods/'+imageName+'.jpg' alt='')

          
        .ranger__text
          p.text-center
            span.ranger__name: b
              if title
                = title
              else
                | Название товара
          p.text-center
            span.ranger__price Подробнеe&hellip;
