mixin productTile(title, imageName, discount, dataEq)
    .column&attributes(attributes)
        .product-tile
            .clearfix(data-equalizer-watch=dataEq)
                if discount
                    if discount == 1
                        .label.label-sale SALE
                    if discount == 2
                        .label.label-bestseller Хит продаж!
                    if discount == 3
                        .label.label-new NEW!
                    if discount == 4
                        .colors-wrapper
                            span.label-red
                            span.label-blue
                            span.label-green
                            span.label-orange
                            span.label-purple
                    if discount == 5
                        .sizes-wrapper
                            span.size-box 215x145
                            span.size-box 215x175
                            span.size-box 220x200
                            span.size-box 220x240

                .product-tile__wrapper-image
                    a(href="#")
                        img.thumbnail.product-tile__thumbnail(src='images/goods/'+imageName+'.jpg' alt='')

                    ul.product-tile__buttons
                        li(data-tooltip aria-haspopup="true" class="has-tip tip-top" title="В избранное")
                            a(title='Запомнить' data-open="add-to-favourites-auth-popup").button.secondary
                                span.product-tile__heart-icon
                                //img(src='./images/icons/gray-heart.svg', style='height: 19px')

                            != ' &#160;'
                        li(data-tooltip aria-haspopup="true" class="has-tip tip-top" title="Быстрый просмотр")
                            a(title='Быстрый просмотр' data-open="quickview-product").button.secondary
                                span.product-tile__eye-icon
                                //img(src='./images/icons/gray-eye.svg', style='height: 19px')

                            != ' &#160;'

                .product-tile__info
                    a.text-left.product-tile__name(href='shop-product.html')
                        if title
                            = title
                        else
                            | Название товара
                .product-tile__bottom-info
                    span.product-tile__price 1 250 руб
                    if discount
                        del.text-alert 1 750 руб

                    a.button.to-cart(href="#") Купить

            

                    //-a(data-tooltip aria-haspopup="true" class="has-tip top" data-click-open="true" data-disable-hover="true" title="Товар добавлен к сравнению. Сравнить: 3").button.secondary
                        i.fa.fa-lg.fa-signal
mixin productSmallTile(title, imageName, dataEq)
    .column&attributes(attributes)
        .product-tile
            .clearfix(data-equalizer-watch=dataEq)

                .wrapper-image
                    img.thumbnail.product-tile-thumbnail(src='images/goods/'+imageName+'.jpg' alt='')

                    ul.product-tile-buttons
                        li(data-tooltip aria-haspopup="true" class="has-tip tip-top" title="В избранное")
                            a(title='Запомнить' data-open="add-to-favourites-auth-popup").button.secondary
                                i.fa.fa-lg.fa-heart
                            != ' &#160;'
                        li(data-tooltip aria-haspopup="true" class="has-tip tip-top" title="Быстрый просмотр")
                            a(title='Быстрый просмотр' data-open="quickview-product").button.secondary
                                i.fa.fa-lg.fa-eye
                            != ' &#160;'

                p.text-center.rate-stars ★★★☆☆
                p.text-center
                    a.product-tile_name(href='shop-product.html'): b
                        if title
                            = title
                        else
                            | Название товара
                    //br
                    //
                    //span.product-tile_price 1 250 руб
                    //if discount
                    //    del.text-alert 1 750 руб
                    //
                    ////if inCart
                    ////    br
                    ////    span.text-dark-gray ✓ В корзине
                    //a.button.to-cart(href="#") Купить
                    //