mixin stub(title, imageName)
    .stub&attributes(attributes)
        a(href="#")
            figure
                img(src="./images/"+imageName+".jpg")
                figcaption
                    h2= title

mixin stub-4x(title, imageName)
    .stub&attributes(attributes)
        a(href="#")
            figure
                img(src="./images/"+imageName+".jpg")
                figcaption
                    h2= title
