.b-404-error
{
    width: 100%;
    max-width: 53.875rem;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 12%;
    &-list
    {
        margin-top: rem-calc(50);

        text-align: center;
        a
        {
            line-height: normal;

            display: block;

            margin-bottom: rem-calc(15);
        }
    }
}
