.b-footer-bottom
{
    font-family: 'Conv_SegoeUIRegular';
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;

    text-align: center;
    text-transform: uppercase;

    color: #535353;
    background-color: #1b1c1c;
    &__copyright
    {
        font-family: 'PTSerifRegular', sans-serif;
        font-size: 12px;
        line-height: 1.3;
padding-top: 26px;
        text-align: center;

        color: #a1a1a1;
        border-bottom: 1px solid #353836;
        p
        {
          margin-bottom: 11px;
            font-size: 12px;
            line-height: 1.3;

            color: #a1a1a1;
        }
        &-link
        {
            font-size: 12px;
            line-height: 1.3;

            color: #fff;
        }
    }
    &__item
    {
        float: left;

        height: 96px;

        vertical-align: middle;

        border-right: 1px solid #2e3030;
        &_1
        {
            width: 12%;
            padding-top: 10px;
        }
        &_2
        {
            width: 19%;
            padding-top: 31px;
            & a
            {
                color: #535353;
            }
        }
        &_3
        {
            width: 27%;
        }
        &_4
        {
            width: 24%;
            padding-top: 31px;
            & a
            {
                color: #fff;
            }
        }
        &_5
        {
            width: 9%;
            padding-top: 36px;
            & a
            {
                display: block;

                width: 14px;
                height: 15px;
                margin: 0 auto;

                background: url('../images/vk.png');
            }
        }
        &_6
        {
            float: right;

            width: 9%;
            padding-top: 36px;
            & a
            {
                display: block;

                width: 10px;
                height: 20px;
                margin: 0 auto;

                background: url('../images/fb.png');
            }
        }
    }
}
@media (max-width:1200px)
{
    .b-footer-bottom
    {
        &__item
        {
            &_1
            {
                width: 16%;
            }
            &_2
            {
                width: 27%;
            }
            &_3
            {
                display: none;
            }
            &_4
            {
                width: 35%;
            }
            &_5,
            &_6
            {
                width: 11%;
            }
        }
    }
}
@media (max-width:960px)
{
    .b-footer-bottom
    {
        &__item
        {
            height: 80px;
        }
    }
}
@media (max-width:640px)
{
    .b-footer-bottom
    {
        &__copyright {
            padding-left: 10px;
            padding-right: 10px;
        }
        &__item
        {
          &_5,&_6 {
            height: 53px;
            padding-top: 20px;
            width: 50%;border-bottom: 1px solid #353836;
          }
        }
    }
}
