.b-footer-links
{
    padding-bottom: 6px;

    border-top: 1px solid #e2e2e2;
    background-color: #f8f8f8;
    &__item
    {
        float: left;

        width: 20%;
        padding-top: 38px;
        padding-right: 30px;
        padding-left: 30px;

        border-left: 1px solid #e2e2e2;
        &_1
        {
            padding-left: 0;
            & ul li:last-child
            {
                margin-top: 36px;
            }
        }
        &:first-child
        {
            border-left: none;
        }
        h3
        {
            font-family: 'Conv_SegoeUIRegular';
            font-size: 12px;
            font-weight: 400;
            line-height: 26px;

            margin-bottom: 13px;

            text-transform: uppercase;

            color: #535353;
        }
        ul
        {
            float: left;

            margin: 0;

            list-style: none;

            transition: .3s;
        }
        li
        {
            line-height: 16px;

            margin-bottom: 10px;
            a
            {
                font-family: 'Conv_SegoeUIRegular';
                font-family: 'Segoe UI';
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;

                color: #535353;
                &:hover
                {
                    color: #153f93;
                }
            }
        }
    }
}

@media (max-width:1200px)
{
    .b-footer-links
    {
        &__item
        {
            &_1
            {
                padding-left: 15px;
            }
        }
    }
}
@media (max-width:1024px)
{
    .b-footer-links
    {
        &__item
        {
            padding-right: 15px;
        }
    }
}
@media (max-width:1024px) and (min-width:640px)
{
    .b-footer-links
    {
        &__item
        {
            width: 25%;
            padding-top: 28px;
            padding-left: 15px;
            &_5
            {
                display: none;
            }
        }
    }
}

@media (max-width:640px)
{
    .b-footer-links
    {
        width: calc(100% - 20px);
        margin-bottom: 15px;
        margin-left: 10px;
        padding-bottom: 0;

        border: 1px solid #e2e2e2;
        &__item
        {
            width: 100%;
            height: auto !important;
            padding-top: 0;
            padding-right: 15px;
            padding-left: 15px;

            border-left: 0;
            h3
            {
                font-family: 'Conv_SegoeUISemiBold';
                font-size: 15px;

                position: relative;

                margin: 0;
                padding-top: 12px;
                padding-bottom: 12px;

                cursor: pointer;

                color: #383838;
                border-top: 1px solid #e2e2e2;
                &:after
                {
                    position: absolute;
                    top: 16px;
                    right: 7px;

                    display: inline-block;

                    width: 7px;
                    height: 11px;

                    content: '';
                    transition: .3s;
                    transform: rotate(90deg);

                    background: url(../images/r.png) no-repeat;
                }
                &.js-opened
                {
                    &:after
                    {
                        transform: rotate(-90deg);
                    }
                    & + ul
                    {
                        display: block;
                    }
                }
            }
            ul
            {
                display: none;

                width: 100%;
            }
            li
            {
                margin: 0!important;
                padding-top: 14px;
                padding-bottom: 18px;

                border-top: 1px solid #e2e2e2;
                a
                {
                    font-size: 12px;
                    line-height: 1.08;

                    text-transform: uppercase;

                    color: #153f93;
                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
            &_1
            {
                h3
                {
                    border-top: 0;
                }
            }
        }
    }
}
