.b-header-middle
{
    border-bottom: 1px solid #e2e2e2;
    background-color: #f8f8f8;
}
@media (max-width:640px)
{
    .b-header-middle
    {
      border-bottom: 0;
        &__row
        {
            display: -webkit-flex;
            display:    -moz-flex;
            display:     -ms-flex;
            display:      -o-flex;
            display:         flex;
            flex-direction: column-reverse;
        }
    }
}
