.b-ident
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    float: left;

    width: 100%;
    padding-bottom: 11px;

    color: #a1a1a1;
    &__num
    {
        font-weight: 700;
    }
    &__numb
    {
        float: left;

        width: 22%;
        padding-right: 10px;
    }
    &__koli
    {
        float: left;

        width: 19%;
        padding-right: 10px;
    }
    &__ostatok
    {
        float: left;

        width: 20%;
    }
    &__help
    {
        float: right;

        width: 22%;

        text-align: right;
    }
    &__check
    {
        display: inline-block;

        width: 16px;
        height: 12px;

        background-image: url('../images/checkmyhov.png');
        background-repeat: no-repeat;
    }
}
@media (max-width:1024px)
{
    .b-ident
    {
        &__numb
        {
            width: 38%;
        }
    }
}
@media (max-width:640px) {
    .b-ident {
        &__numb,&__koli,&__help,&__ostatok {
            width: auto;
        }
        &__help {
            float: left;
            padding-left: 5px;
        }
    }
}