//.b-main-menu-container__item {
//  position: relative;
//  z-index: 5;
//
//  overflow: hidden;
//
//  width: 497px;
//}

.b-main-menu {
  background-color: #153f93;
  &__item {
    font-family: 'Conv_SegoeUISemiBold';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;

    display: table-cell;

    height: 121px;
    padding: 5px 10px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: white;
    border-right: 1px solid #2753ab;
    &:hover {
      color: white;
    }
    &:focus {
      color: white;
    }
  }
  &__item:nth-child(1) {
    width: 234px;

    border-left: 1px solid #2753ab;
  }
  &__item:nth-child(2) {
    width: 127px;
  }
  &__item:nth-child(3) {
    width: 136px;
  }
}

.b-main-menu-container__item_right .b-main-menu__item {
  &:nth-child(1) {
    width: 121px;
  }
  &:nth-child(2) {
    width: 127px;
  }
  &:nth-child(3) {
    width: 249px;
  }
}

.b-main-menu__logo {
  position: relative;

  width: 170px;
  height: 121px;
  &__link {
    position: absolute;
    top: -60px;
    left: -5px;

    width: 180px;
    height: 180px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    &__img {
      width: 180px;
      height: 180px;

      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
}

.b-main-menu__item_basket__ico {
  position: relative;
  top: 3px;
  left: -6px;

  display: inline-block;

  width: 34px;
  height: 27px;

  background: url('../images/b-main-menu__item_backet.png');
}

.b-main-menu__item_basket__text {
  font-family: 'Conv_SegoeUIRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  position: relative;
  top: -5px;
  left: 4px;

  text-transform: uppercase;
}

.b-main-menu__item_my__ico {
  position: relative;
  top: 3px;

  display: inline-block;

  width: 29px;
  height: 28px;

  background: url('../images/b-main-menu__item_my.png');
}

.b-main-menu__item_my__text {
  font-family: 'Conv_SegoeUIRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  position: relative;
  top: -5px;
  left: 10px;

  text-transform: uppercase;
}

.b-main-menu__item_form {
  padding-left: 30px;
  width: 239px !important;
  & input {
    font-family: 'Conv_SegoeUIRegular';
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;

    width: 138px;
    height: 26px;
    margin-top: 12px;
    margin-left: 30px;
    padding: 0;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #153f93;
    box-shadow: none;
    &::-ms-clear {
      display: none;
    }
  }
  & input::-moz-placeholder {
    opacity: 1;
    color: #fff;
  }
  & input::-webkit-input-placeholder {
    color: #fff;
  }
  & input:focus {
    color: #fff;
    border-color: #fff;
    background-color: #153f93;
  }
  & input:active {
    color: #fff;
  }
  & .b-search__submit {
    font-size: 0;

    position: absolute;
    top: 0;
    left: 3px;

    display: block;

    width: 22px;
    height: 27px;
    margin: 0;

    border: none;
    background: url('../images/search-i.png');
  }
}

.b-main-menu__item_form__search {
  position: relative;

  display: block;
  & button {
    position: absolute;
    top: 8px;
    right: 0px;

    display: none;

    width: 15px;
    height: 15px;
    padding: 0;

    border: none;
    outline: none;
    background: url('../images/x.png');
    box-shadow: none;
  }
}

.b-main-menu__item_form input.active {
  width: 200px;
  padding-right: 25px;
}

@media (max-width: 1240px) {
  .b-main-menu {
    &__item {
      width: auto !important;
      height: 101px;
      padding: 5px 28px;
      &_form {
        & input {
          width: 118px;
        }
      }
    }
    &-center {
      position: absolute;
      left: 39.3%;

      width: 25%;
      height: 101px;

      text-align: center;
    }
    &__logo {
      display: inline-block;

      width: 50%;
      height: 101px;
      &__link {
        left: -17%;

        width: 140px;
        height: 140px;
        &__img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .b-main-menu {

    &__item {
      font-size: 12px;

      height: 80px;
      padding: 5px 23px;
      &_first {
        line-height: 1.33;

        width: 100px !important;
      }
      &_form {
        padding: 15px 25px 5px;
        .b-search__close {
          right: 0;
        }
        vertical-align: top;
        .b-search__submit {
          left: -10px;
        }
        input {
          width: 45px;
          &.active {
            width: 120px;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .b-search__close {
    display: none !important;
  }
  .b-main-menu {
    &__item {
      &_form {
        padding-top: 26px;
        input {
          display: none;
        }
      }
    }
    &__logo {
      &__link {
        left: 30%;
        top: -20px;
        width: 100px;
        height: 100px;
      }
    }
    &-center {
      left: 37.3%;
    }
  }
}
