.b-news
{
    padding-top: 31px;
    padding-bottom: 14px;
    &__prevnews
    {
        .b-news_detal-calendar-pad
        {
            margin: 0;
        }
    }
    &-header
    {
        margin-bottom: 15px;
        padding-bottom: 2px;

        border-bottom: 1px solid #e2e2e2;
        h2
        {
            font-family: 'Conv_SegoeUISemiBold';
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;

            text-transform: uppercase;

            color: #383838;
        }
        & span
        {
            font-family: 'Conv_SegoeUIRegular';
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;

            position: relative;
            top: 6px;

            margin-bottom: 15px;
            padding-right: 20px;

            color: #383838;
            & a
            {
                font-family: 'Conv_SegoeUIRegular';
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;

                position: relative;

                display: inline-block;

                color: #153f93;
                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
    &-container-left,
    &-item-container-left
    {
        padding-right: 7.5px;
    }
    &-container-right,
    &-item-container-right
    {
        padding-left: 7.5px;
    }
    &-banner
    {
        margin-bottom: 14px;
        img
        {
        }
    }
}
@media (max-width:1200px)
{
    .b-news
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (max-width:1024px)
{
    .b-news
    {
        padding-top: 10px;
        &-banner
        {
            display: none;
        }
        &-container-left,
        &-item-container-left,
        &-container-right,
        &-item-container-right
        {
            padding-right: 0;
            padding-left: 7px;
        }
        &-container-left {
          padding-left: 0;
        }
        &-item-container-left
        {
            padding-bottom: 15px;
        }
        &-item-container-first {
          padding-left: 0;
          padding-right: 7px;
        }
    }
}
@media (max-width:960px) {
  .b-news {
    &-container-left {
      display: none;
    }
    &-container-right {
      width: 100%;
      padding-left: 0;
    }
    &-item-container-right,&-item-container-left {
      width: 50%;

    }
    &-item-container-left {
      padding-left: 0;
    }
  }
}