.b-news-item_big
{
   
}
.b-news-item_small
{
    padding-bottom: 13px;
    p
    {
        margin-bottom: 0;
    }
    .b-news-item__link
    {
        padding: 2px 14px;
    }
}
.b-news-item
{
    border: 1px solid #e2e2e2;
    background-color: white;
    &__head
    {
        position: relative;
    }
    &__head__date
    {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;

        position: absolute;
        top: -6px;
        left: 13px;

        width: 62px;
        height: 77px;
        padding-top: 23px;

        text-align: center;

        color: #383838;
        background: url('../images/date.png');
    }
    &__head h3
    {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        padding-top: 21px;
        padding-right: 20px;
        padding-left: 93px;

        color: #383838;
    }
    &__text
    {
        & p
        {
            font-family: 'Conv_PTSerif';
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            padding: 12px 18px 0;

            color: #a1a1a1;
        }
    }
    &__img
    {
        padding: 0 15px;
    }
    &__link
    {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        padding: 14px;

        text-align: right;

        color: #153f93;
        & a
        {
            position: relative;

            margin-right: 22px;

            color: #153f93;
            &:hover
            {
                text-decoration: underline;

                color: #153f93;
            }
            &:after
            {
                position: absolute;
                top: 5px;
                right: -15px;

                display: block;

                width: 7px;
                height: 11px;

                content: '';

                background: url('../images/r.png');
            }
        }
    }
}
@media (max-width:1024px) {
  .b-news-item {
    &_small {
      padding-bottom: 0;
    }
  }
}
@media (max-width:960px) {
  .b-news-item {
    &__text {
      padding-top: 17px;
    }
    &_small {
      padding-bottom: 10px;
    }
  }
}