.b-top-menu
{
    background-color: #1b1c1c;
    &__item
    {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 11px;
        font-weight: 400;
        line-height: 26px;

        display: inline-block;

        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: 42px;

        text-align: center;
        vertical-align: top;
        text-transform: uppercase;

        color: #a1a1a1;
        &:hover
        {
            color: white;
        }
    }
}
.b-top-menu-right__item_auth
{
    position: relative;

    padding-left: 25px;

    color: white;
    &:before
    {
        position: absolute;
        top: 4px;
        left: -3px;

        display: block;

        width: 17px;
        height: 18px;

        content: '';

        background: url('../images/b-top-menu__item_icoauth.png');
    }
}
.b-top-menu-container__item
{
    width: 497px;
}
@media (max-width:1024px)
{
    .b-top-menu
    {
        &-right
        {
            &__item_auth
            {
                margin-right: 14px;
                margin-left: 14px;
            }
        }
        &-container__item
        {
            width: auto;
        }
        &__item
        {
            margin-left: 28px;
        }
    }
}
@media (max-width:930px)
{
    .b-top-menu
    {
        &__item
        {
            &_med
            {
                display: none;
            }
        }
    }
}
@media (max-width:760px)
{
    .b-top-menu
    {
        &__item
        {
            font-size: 9px;

            margin-right: 14px;
            margin-left: 14px;
        }
        &-right
        {
            &__item_auth
            {
                
                margin-left: 0px;
            }
        }
    }
}
