.b-nav
{
    &-first
    {
        font-family: segoe ui, Arial, sans-serif !important;
        font-weight: bold !important;

        color: #153f93 !important;
        border-bottom: rem-calc(1) solid #153f93;
        background: url('../images/arrow_right.png') no-repeat right center;
    }
    & > ul
    {
        position: relative;

        width: 205px;
        margin: 0;

        list-style: none;
        &:hover
        {
            & > li
            {
                border-right: 1px solid #e2e2e2;
                &:nth-child(2)
                {
                    padding-right: 29px;
                }
            }
        }
        & > li
        {
            margin-right: -30px;
            margin-left: -30px;
            padding-right: 30px;
            padding-left: 30px;
            &:hover
            {
                padding-left: 29px;

                border-top: 1px solid #e2e2e2;
                border-right-color: #fff !important;
                border-bottom: 1px solid #e2e2e2;
                border-left: 1px solid #e2e2e2;
                background-color: #fff;
                & + li > a
                {
                    border-top: none;
                }
                & > ul
                {
                    display: block;
                }
                & > a
                {
                    color: #153f93;
                    border-top: none;
                }
                & > div
                {
                    display: block;
                }
            }
            & > a
            {
                font-family: 'Conv_SegoeUIRegular';
                font-size: 14px;
                font-weight: 400;

                display: block;

                padding: 6px 0;

                text-transform: uppercase;

                color: #383838;
                border-top: 1px solid #e2e2e2;
            }
            &:first-child
            {
              & > a
              {
                padding: 13px 0;
              }
            }
            & > div
            {
                position: absolute;
                z-index: 5;
                top: 0;
                left: 232px;

                display: none;

                width: 643px;
                height: 454px;

                border-bottom: 1px solid #e2e2e2;
                background-color: #fff;
            }
        }
    }
    &_level-1
    {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 232px;

        display: none;

        width: 933px;
        height: 750px;
        margin: 0;

        list-style: none;

        border-bottom: 1px solid #e2e2e2;
        background-color: #fff;
        > li
        {
            display: inline-block;
            float: none;

            width: 160px;
            margin-top: 20px;
            margin-right: 21px;
            margin-bottom: 20px;
            margin-left: 29px;

            vertical-align: top;
            > a
            {
                font-family: 'Segoe UI';
                font-size: 14px;
                font-weight: 400;

                display: table-cell;

                height: 50px;
                margin-bottom: .5rem;

                text-transform: uppercase;

                color: #383838;
                border-bottom: 1px solid #e2e2e2;
            }
        }
    }
    &_level-2
    {
        overflow: hidden;

        height: 140px;
        margin: 0 !important;

        list-style: none;
        a
        {
            font-family: 'Conv_PTSerif';
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;

            color: #7f7e7e;
            &:hover
            {
                color: #153f93;
            }
        }
    }
    &-item
    {
        width: 160px;
        &-container
        {
            & > div
            {
                margin-right: 21px;
                margin-bottom: 12px;
                margin-left: 29px;
            }
        }
        & > h3
        {
            font-family: 'Segoe UI';
            font-size: 14px;
            font-weight: 400;
            line-height: 41px;

            text-transform: uppercase;

            color: #383838;
            border-bottom: 1px solid #e2e2e2;
        }
        & > ul
        {
            margin: 0;

            list-style: none;
            & > li
            {
                & > a
                {
                    font-family: 'Conv_PTSerif';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;

                    color: #7f7e7e;
                    &:hover
                    {
                        color: #153f93;
                    }
                }
            }
        }
    }
}

@media (max-width:1200px)
{
    .b-nav
    {
        padding-left: 10px;
        &_level-1
        {
            left: 223px;

            height: auto;
        }
    }
}
@media (max-width:640px)
{
    #vertical-multilevel-menu
    {
        li + li
        {
            display: none;
        }
    }
    .b-nav
    {
        width: calc(100% - 10px);

        background: #fff;
        &-first
        {
            pointer-events: none;

            border-bottom: 0;
            background: url('../images/arrow_right.png') no-repeat calc(100% - 10px) center;
        }
        & > ul
        {
            width: 100%;
            margin-top: 19px;

            text-align: center;

            border: 1px solid #e2e2e2;
            border-bottom: 0;
            &:hover
            {
                & > li
                {
                    border-right: 0;
                }
            }
            & > li
            {
                margin-right: 0;
                margin-left: 0;
                padding-right: 0;
                padding-left: 15px;

                cursor: pointer;
                text-align: left;

                background: url('../images/arrow-right2.png') no-repeat calc(100% - 10px) center;
                &:not(:first-child)
                {
                    border-top: 1px solid #e2e2e2;
                }
                & > a
                {
                    border-top: 0;
                }
                &:hover
                {
                    padding-left: 15px;

                    border-bottom: 0;
                    border-left: 0;
                    &:first-child
                    {
                        border-top: 0;
                    }
                    & > ul
                    {
                        display: none;
                    }
                }
            }
        }
    }
}
