.b-sliders-container
{
    position: relative;

    width: calc(100% - 234px);
}
.b-sliders23-container
{
    position: absolute;
    right: 0;

    width: 31.3%;
    height: 100%;
}
@media (max-width:1200px)
{
    .b-sliders-container
    {
    }
}
@media (max-width:825px)
{
    .b-sliders23-container
    {
        position: static;

        width: 100%;
    }
}
@media (max-width:640px)
{
    .b-sliders-container
    {
        width: 100%;
    }
}
