footer.footer
  .grid-container
    .grid-x.grid-padding-x
      .cell
        ul.company.text-center.large-text-left
          each title,index in ['О компании','Обучение','Вакансии','Контакты']
            li.company__item(class=index==0? "active":"")
              a.company__link(href='#')= title
    .grid-x.grid-padding-x.text-center.medium-text-left          
      .cell.large-2.medium-3.medium-order-1.large-order-1
        .footer__top
          | Входим в 
          =" "
          strong ТОП-100
          br
          | сайтов России   
      .cell.large-3.medium-5.medium-order-2.large-order-2
        a(href="#").soc
          | EN
        a(href="#").soc
          i.fa.fa-envelope
        a(href="#").soc
          i.fa.fa-twitter
        a(href="#").soc
          i.fa.fa-facebook
        a(href="#").soc
          i.fa.fa-vk
      .cell.large-5.footer__text.medium-order-4.large-order-3 Повышение эффективности и достижение новых высот с помощью методологий, процессов и автоматизации.      
      .cell.large-2.medium-4.medium-order-3.large-order-4
        a(href="#").button Сделать заказ
         
