.carrot {
    background: $carrot;
    border-radius: 0 rem-calc(10) rem-calc(10) 0;
    outline: none;
    margin-bottom: rem-calc(0);
    padding:rem-calc(6) rem-calc(8);
    height: rem-calc(32);
}
