.b-lines
{
    overflow: hidden;
    &__block
    {
        position: relative;
        left: calc(50% - 950px);

        float: left;

        transition: .5s;
        &_mayer
        {
            width: 1084px;
            height: 166px;

            background-color: #d21531;
        }
        &_loraine
        {
            width: 1056px;
            height: 180px;

            background-color: #bfd506;
        }
        &_zimber
        {
            width: 1028px;
            height: 180px;

            background-color: #739bc0;
        }
    }
    &__list
    {
        float: right;

        height: 100%;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 24px;
        padding-right: 25px;
        &_loraine
        {
            padding-top: 40px;
            padding-right: 89px;
        }
        &_zimber
        {
            padding-right: 33px;
        }
    }
    &__li
    {
        color: #fff;
        &-link
        {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;

            color: white;
            &:hover
            {
                color: #000;
            }
        }
    }
    &__img
    {
        float: right;

        padding-top: 10px;
        padding-right: 75px;
        &_loraine
        {
            padding-top: 50px;
        }
        &_zimber
        {
            padding-top: 50px;
        }
    }
}
@media (max-width:960px) and (min-width:640px)
{
    .b-lines
    {
        &__block
        {
            left: calc(100% - 1100px);
        }
    }
}
@media (max-width:640px)
{
    .b-lines
    {
        &__block
        {
            left: 0;

            width: 100%;
            height: 270px;
        }
        &__list
        {
            float: left;

            height: inherit;
            margin-left: calc(100% - 270px);
            padding-right: 0;
            padding-top: 10px;
        }
        &__li
        {
        }
        &__img
        {
            float: left;

            width: 100%;
            padding-right: 0;

            text-align: center;
            & > img
            {
                width: 200px;
            }
        }
    }
}
