.b-product
{
    &__plashka
    {
        font-size: 12px;
        font-weight: 400;

        position: absolute;
        top: 0;
        right: 0;

        width: 64px;
        height: 31px;
        padding-top: 3px;

        text-align: center;

        color: white;
        background: url('../i/sprite-my.png') no-repeat -1178px -1181px;
        &_hit
        {
            background: url('../i/sprite-my.png') no-repeat -1346px -1283px;
        }
        &_act
        {
            background: url('../i/sprite-my.png') no-repeat -1262px -1232px;
        }
    }
    &__fake
    {
        float: left;

        width: 100%;
        margin-bottom: -2px;

        text-align: center;
    }
    &__fake-price
    {
        font-size: 24px;
        font-weight: 400;

        display: inline-block;

        width: 151px;
        height: 31px;

        text-align: center;
        text-decoration: line-through;

        color: white;
        background-color: #383838;
    }
    &:not(:last-child)
    {
        border-right: 1px solid #ececea;
    }
    &__img
    {
        float: left;

        width: 100%;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 29px;
        padding-bottom: 39px;

        text-align: center;

        border-bottom: 1px solid  #ececea;
    }
    &__title
    {
        float: left;

        width: 100%;
        height: 100px;
        padding-top: 23px;

        text-align: center;
        &_search
        {
            height: 69px;
        }
        &-link
        {
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;

            color: #333335;
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    &__price
    {
        font-size: 36px;
        font-weight: 400;

        display: inline-block;

        width: 168px;
        height: 50px;

        text-align: center;

        color: white;
        background-color: $myColor;
        &-cont
        {
            float: left;

            width: 100%;

            text-align: center;

            border-bottom: 1px solid  #ececea;
            &_search
            {
            }
        }
    }
    &__nalichie
    {
        font-size: 18px;
        font-weight: 400;

        float: left;

        width: 100%;
        padding-top: 3px;

        text-align: center;

        color: #7c7c7c;
        &_no {
            color: #d21531;
        }
    }
    &__foot
    {
        float: left;

        width: 100%;
    }
    &__buy
    {
        float: right;

        width: 102px;
        height: 31px;
        margin-top: -24px;
        margin-bottom: 15px;
        padding: 0;

        border: 1px solid #ffb81b;
        outline: none;
        background: linear-gradient(to top, #ffb117, #ffc923);
        &-korz
        {
            display: inline-block;
            float: right;

            width: 18px;
            height: 18px;
            margin-top: 2px;
            margin-right: 11px;

            vertical-align: middle;

            background: url('../i/sprite-my.png') no-repeat -353px -351px;
        }
        &-bord
        {
            font-size: 18px;
            font-weight: 400;

            display: inline-block;

            width: 100px;
            height: 29px;
            padding-top: 3px;
            padding-left: 10px;

            text-align: left;

            color: #383838;
            border: 1px solid #ffd975;
            &:hover
            {
                color: #fff;
            }
        }
    }
    &_search
    {
        position: relative;

        width: 33.3%;

        border: 1px solid #ececea;
        &:not(&:nth-child(3n))
        {
            border-right: 0;
        }
    }
    &__search-row
    {
        padding-left: 28px;
    }
}
@media (max-width:1020px)
{
    .b-product__search-row
    {
        padding-left: 5px;
    }
}
@media (max-width:1020px) and (min-width:800px)
{
    .b-product
    {
        &__foot
        {
            padding-right: 13%;
            padding-left: 13%;
        }
        &_search
        {
            width: 50%;
        }
    }
}
@media (max-width:1020px) and (min-width:990px)
{
    .b-product
    {
        &__foot
        {
            padding-right: 15%;
            padding-left: 15%;
        }
    }
}
@media (max-width:640px)
{
    .b-product
    {
        &:nth-child(2n)
        {
            border-right: 0;
        }
    }
}
@media (max-width:500px)
{
    .b-product
    {
        width: 100%;
        &:nth-child(2n)
        {
            border-right: 0;
        }
        &:nth-child(2n+1)
        {
            border-right: 0;
        }
        &__foot
        {
            padding-right: 13%;
            padding-left: 13%;
        }
    }
}
@media (max-width:960px) and (min-width:870px)
{
    .b-product__foot_search
    {
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (max-width:870px) and (min-width:800px)
{
    .b-product__foot_search
    {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width:800px) and (min-width:640px)
{
    .b-product__foot_search
    {
    }
    .b-product__buy_search
    {
        margin-top: 10px;
    }
}

@media (max-width:1020px) and (min-width:800px)
{
    .b-product_search
    {
        &:nth-child(even)
        {
            border-right: 1px solid #ececea;
        }
    }
}
@media (max-width:800px)
{
    .b-product__search-row .b-product_search
    {
        width: 100%;

        border-right: 1px solid #ececea;
        &:not(:last-child)
        {
            border-bottom: 0;
        }
    }
}
@media (max-width:1020px) and (min-width:960px)
{
    .b-product__search-row
    {
        padding-right: 10px;
    }
}
@media (max-width:640px) and (min-width:400px)
{
    .b-product__foot_search
    {
        padding-right: 5%;
        padding-left: 5%;
    }
    .b-product__buy_search
    {
        margin-top: 10px;
    }
}
@media (max-width:640px)
{
    .b-product__search-row
    {
        padding-top: 10px;
        padding-left: 10px;
    }
}
