.b-vipa
{
    margin-top: 36px;
    padding-left: 29px;
    &_small
    {
        margin-top: 10px;
        padding-right: 0;
        padding-left: 10px;
    }
    &_med
    {
        margin-top: 8px;
        padding-left: 24px;
    }
    &__arr
    {
        display: inline-block;

        width: 19px;
        height: 10px;
        margin-left: 10px;

        transition: .3s;
        transform: rotate(0deg);

        background: url('../i/sprite-my.png') no-repeat -217px -204px;
        &_med
        {
            margin-left: 5px;
        }
        &_reverse
        {
            transform: rotate(180deg);
        }
    }
    &__block
    {
        position: absolute;
        z-index: 5;

        display: none;

        width: 155px;

        box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
        & img
        {
            border: 1px solid #fff;
        }
        & > a:not(:first-child)
        {
            & img
            {
                border-top: 0;
            }
        }
    }
}
@media (max-width: 960px) and (min-width:640px)
{
    .b-vipa__loraine
    {
        display: block;

        width: 150px;
        img
        {
            width: 120px;
        }
    }
}

@media (max-width:640px)
{
    .b-vipa__loraine
    {
        display: block;

        width: 100%;
    }
}
