.grid-x.grid-padding-x.header__main
  .large-12.cell.header__info.medium-12.small-12
    a(href='#' title='')
      img(src='./images/logo.svg', alt='logo').header__logo
  .large-12.cell.text-right.medium-12.small-12
    a(href="tel:+4917620385737").header__phone +49 17620385737 
