doctype html
html.no-js(lang='en')
		include components/service/_head
		body

			include components/jtc/_top-block-forex-ecn-pro
			include components/jtc/_contact-buttons

			block page
			include components/jtc/_forex-ecn-pro-features-account_block 
			include components/jtc/_account-opening_block


			include components/corporate/_footer
			include components/service/_js.html
