doctype html
html.no-js(lang='en')
		include components/service/_head
		body

			include components/jtc/_top-block-forex
			include components/jtc/_contact-buttons

			block page
			include components/jtc/_advantages_block
			include components/jtc/_account-opening_block
			include components/jtc/_account-type_block
			include components/jtc/_trading-platform_block
			include components/jtc/_our-partners_block
			include components/jtc/_payment-methods_block


			include components/corporate/_footer
			include components/service/_js.html
