doctype html
html.no-js(lang='en')
    include components/service/_head
    body
        include components/jtc/_top-block
        include components/jtc/_contact-buttons

        block page
            include components/jtc/_tools-block
            include components/jtc/_about-block
            include components/jtc/_advantages
            include components/jtc/_simple-start
            include components/jtc/_map-block

        include components/corporate/_footer
        include components/service/_js.html
