extends regular

include components/mixins/_mixin-player

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Персонал
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-team-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                .grid-x.grid-padding-x.margin-bottom-8
                    .cell.medium-5.large-4
                        img(src='http://via.placeholder.com/300x400' alt='Фото игрока' style='width:100%;')
                    .cell.auto
                        h2 Станислав Крицюк
                        p Начальник отдела по информационно-аналитической работе
                        p +7 (905) 134-51-91 (доб. 11-04)
                        p: a(href='mailto:welcome@cetera.ru') welcome@cetera.ru

                hr.margin-bottom-6

                p Имеет уникальный опыт индивидуальной подготовки и развития игроков. Индивидуально подготовил большое количество игроков НХЛ, в частности, таких защитников как Марк Штрайт (Питтсбург Пингвинз), Янник Вебер (Нэшвилл Предаторз), Роман Йоси (Нэшвилл Предаторз) и многих других.
                p С 17 марта 2017 года работает в хоккейном клубе