extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Фото
    .grid-container: .grid-x.grid-padding-x
        .cell.small-12.medium-7.large-8

            .content
                .grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='news', data-equalize-by-row='true')
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Соперник – Клуб — 0:1
                                p #[i.fa.fa-camera] 56 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='photos.html') On road
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Соперник — Клуб: стартовые составы
                                p #[i.fa.fa-camera] 72 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='photos.html') События
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Матч Соперник—Клуб. Представляем главного судью матча
                                p #[i.fa.fa-camera] 68 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='photos.html') Матчи
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Предматчевая тренировка на Stade de Suisse
                                p #[i.fa.fa-camera] 99 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='photos.html') Матчи
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Виктор Ганчаренко: Дома Янг Бойз играет сильнее, чем на выезде
                                p #[i.fa.fa-camera] 44 &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='photos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Виктор Васин: Искусственное поле не станет проблемой
                                p #[i.fa.fa-camera] 36 &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='photos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Армейцы вылетели в Швейцарию
                                p #[i.fa.fa-camera] 51 &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='photos.html') On road
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Витиньо: Неистовая поддержка позволила уничтожить соперника
                                p #[i.fa.fa-camera] 71 &#160; #[span.text-medium-gray 13.08.2017 • ]
                                    a(href='photos.html') Матчи
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Георгий Щенников: Безумно счастлив!
                                p #[i.fa.fa-camera] 90 &#160; #[span.text-medium-gray 13.08.2017 • ]
                                    a(href='photos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-image
                                img(src='http://via.placeholder.com/140x100', alt='Обложка фотоальбома' style='width:100%;')
                            .card-section
                                h4: a(href='photo-album.html' title='В фотоальбом') Цифры и факты: московское дерби
                                p #[i.fa.fa-camera] 12 &#160; #[span.text-medium-gray 13.08.2017 • ]
                                    a(href='photos.html') Матчи

            include components/common/_pagination

        aside.cell.small-12.medium-5.large-4
            include components/smi/_aside-photos-index