doctype html
html.no-js(lang='en')
		include components/service/_head
		body

			include components/jtc/_top-block-rating
			include components/jtc/_contact-buttons

			block page
			include components/jtc/_rating-block


			include components/corporate/_footer
			include components/service/_js.html
