extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Абонемент
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-tickets-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                p.lead Сезонный абонемент 2017/18 в любой сектор - за 8500 рублей!

                p ХК «Нефтехимике» по просьбам болельщиков продлевает акцию продажи абонементов на все домашние матчи регулярного Чемпионата КХЛ сезона 2017/18.

                p Владельцы абонементов не только имеют преимущественное право на покупку абонемента на свое место, но и могут приобрести неограниченное количество абонементов на любые незанятые места кроме "фанатского" сектора (сектор №7).

                p С 3 июля по 31 июля любой желающий сможет приобрести оставшиеся в продаже сезонные абонементы - за 8 500 рублей. При покупке абонемента необходимо предъявить паспорт - как покупателя, так и лиц, для которых приобретается абонемент и заполнить клубную анкету. Дети до 5 лет проходят на матчи бесплатно, если не занимают отдельного места.

                p Режим работы касс"Лада-Арены": Пн-Пт: 10.00 – 19.00, Сб-Вс: 10.00 – 17.00. Телефон: 8 (8482) 94-04-94. Приди и займи своё место!

                p: a(href='') Публичная оферта