extends shop-catalog

block products
  +productLine(false,'onDemand',true,false,'stone3.png')
  hr
  br
  +productLine(false,false,'inCart',true,'stone2.png')
  hr
  br
  +productLine('discount',true,true,true,'stone4.png')
  hr
  br
  +productLine(false,'onDemand',true,false,'stone3.png')
  hr
  br
  +productLine(false,false,'inCart',true,'stone2.png')
  hr
  br
  +productLine('discount',true,true,true,'stone4.png')
  hr
  br
  +productLine(false,'onDemand',true,false,'stone3.png')
  hr
  br
  +productLine(false,false,'inCart',true,'stone2.png')
  hr
  br
  +productLine('discount',true,true,true,'stone4.png')
