extends shop-regular

block page
  include components/common/_breadcrumbs
  block content
    .row.column
      h1 Карта сайта
    .content
      .row
        .columns.small-24.medium-16.large-12.end
          include components/shop/_sitemap
