doctype html
html.no-js(lang='en')
  include components/service/_head
  body
    include components/shop/_top-line
    include components/shop/_header
    include components/shop/_menu-line

    include components/shop/_mixin-product-tile
    include components/shop/_mixin-product-line
    include components/shop/_product-quickview
    include components/shop/_add-to-favourites-auth-popup

    block page
      p
      .row
        .large-8.medium-7.small-12.columns
          .row.large-up-3
            .columns
              .review
                .row
                  .large-5.medium-3.small-4.columns
                    p
                      img(src="./i/rev1.png", alt="")
                  .small-8.large-7.medium-9.columns.review__title Коков Хазрат Хасанбиевич
                .review__text “ Роман, доброе утро! У нас радостное событие и праздник - в выходные Александр перенес новые стили на рабочий сайт, все запущено, работает и радует глаз! Огромное спасибо за проделанную работу всем участникам проекта! ”  
            .columns
              .review
                .row
                  .large-5.medium-3.small-4.columns
                    p
                      img(src="./i/rev2.png", alt="")
                  .small-8.large-7.medium-9.columns.review__title Иванов Егор Васильевич
                .review__text “ Роман, доброе утро! У нас радостное событие и праздник - в выходные Александр перенес новые стили на рабочий сайт, все запущено, работает и радует глаз! Огромное спасибо за проделанную работу всем участникам проекта! ”  
            .columns
              .review
                .row
                  .large-5.medium-3.small-4.columns
                    p
                      img(src="./i/rev3.png", alt="")
                  .small-8.large-7.medium-9.columns.review__title Петров Владимир Сергеевич
                .review__text “ Роман, доброе утро! У нас радостное событие и праздник - в выходные Александр перенес новые стили на рабочий сайт, все запущено, работает и радует глаз! Огромное спасибо за проделанную работу всем участникам проекта! ”  
    include ../images/shop/ecommerce-icons.svg
    include components/shop/_benefits
    include components/shop/_footer
    include components/service/_js.html
