doctype html
html.no-js(lang='en')
  include components/service/_head

  include components/mixins/_mixin-country
  body

    section.top-block-account-opening(style="background-image:url(./i/trading.png);")
      .menu-line
        .row.expanded.top-menu-fluid
          include components/jtc/_xxlarge-menu
      .top-block-account-opening__line
        .gradient-line.show-for-xxlarge
      .row.columns
        h3.top-block-account-opening-header__title Инструменты
        p.top-block-account-opening-header__desc
          | Выберите тип счета и тип инструментов
          br
          | для получения таблицы данных по вашим параметрам

    include components/jtc/_contact-buttons

    block page

    section.pb0
      .row.columns
        form.account-opening_form(action='#' method='')

          h2.float-left.mr27 Тип счета 
          ul#example-tabs.tabs.cash(data-tabs='')
            li.tabs-title
              a(href='#panel1') Standart
            li.tabs-title.is-active
              a(data-tabs-target='#panel2', href='#panel2', aria-selected='true') ECN
          .tabs-content.sun(data-tabs-content='example-tabs')
            #panel1.tabs-panel.js-usual

            #panel2.tabs-panel.is-active.js-usual
              ul#example.tabs.sea(data-tabs='')
                li.tabs-title.is-active
                  a(href='#panel11',aria-selected='true') Форекс
                li.tabs-title
                  a(data-tabs-target='#panel12', href='#panel12') Криптовалюты 
                li.tabs-title
                  a(data-tabs-target='#panel13', href='#panel13') Металлы
                li.tabs-title
                  a(data-tabs-target='#panel14', href='#panel14') CFD на Акции
                li.tabs-title
                  a(data-tabs-target='#panel15', href='#panel15') CFD на нефть
                li.tabs-title
                  a(data-tabs-target='#panel16', href='#panel16') CFD на индексы

              .tabs-content.sun(data-tabs-content='example')
                #panel11.tabs-panel.js-usual
                  h3.europe
                    strong Валютные
                    |  контракты
                  .row.text-center
                    +country('a1','Eur','flag1.svg')
                    +country('a2','USD','flag2.svg')
                    +country('a3','GBP','flag3.svg')
                    +country('a4','AUD','flag4.svg')
                    +country('a5','NZD','flag5.svg')
                    +country('a51','CHF','flag6.svg')
                    +country('a6','CAD','flag7.svg')
                    +country('a7','SGD','flag8.svg')
                    +country('a8','JPY','flag9.svg')
                    +country('a9','NOK','flag10.svg')
                    +country('a10','DKK','flag11.svg')
                    +country('a11','SEK','flag12.svg')
                    +country('a12','HKD','flag13.svg')
                    +country('a13','HUF','flag14.svg')
                    +country('a14','PLN','flag15.svg')
                    +country('a15','ZAR','flag16.svg')
                    +country('a16','MXN','flag17.svg')
                  .table-scroll
                    include components/jtc/_currency
                  .show-for-small-only.mb25
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Открытие торговых сессий в 00:05 (МСК)
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Закрытие торговых сессий в 00:00 (МСК), суббота
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Перерыв 00:00 – 00:05 (МСК) по будням.
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Спрэд - рыночный.
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Основная доля валютных сделок исполняется автоматически, без дополнительного согласования.
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text
                      | Величина свопов измеряется в пунктах. 1 пункт равен минимальному изменению 5-го знака после запятой (0.00001) 
                      br
                      | для валютных пар, имеющих 3 знака после запятой, – минимальному изменению 3-го знака после запятой (0.001).
                #panel12.tabs-panel.js-usual
                  h3.europe Криптовалюты
                #panel13.tabs-panel.js-usual
                  h3.europe
                    strong Драгоценные
                    |  металлы
                  include components/jtc/_metal  
                  h3.europe.mb55
                    strong График торговых сессий по контрактам на драгметаллы:
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Понедельник – пятница
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Открытие торговых сессий в 02:00 (МСК)
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Закрытие торговых сессий в 23:55 (МСК), пятница
                  .feature
                    img(src="./images/features-yes.svg", alt="")
                    .feature__text Перерыв 23:55 – 01:10 (МСК) по будням
                  .mb25  
                  p.coin.mb0
                    strong Рынок драгоценных металлов
                    |  является высокодинамичным и ликвидным, что предоставляет оптимальные условия для получения прибыли. Спрос на благородные металлы обеспечивает не только их промышленное применение, но и использование их инвесторами как инструмента хеджирования риска ослабления доллара. В то же время, рост цен на золото и серебро не создаёт рисков замедления мировой экономики в такой степени, как рост цен на нефть. Это делает вложения в данный вид активов ещё и высоконадёжными. Операции с контрактами на золото и серебро гораздо удобнее, чем непосредственно покупка металла в виде слитков или ювелирных изделий, при этом издержки инвестора значительно ниже, чем даже при вложении в обезличенные металлические счета (ОМС).  
                    
    include components/jtc/_account-opening_block



    include components/corporate/_footer
    include components/service/_js.html
