extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Трансферы
        .grid-container: .grid-x.grid-padding-x
            aside.cell.small-12.medium-5.large-4.medium-order-2
                include components/smi/_aside-team-index

            .cell.small-12.medium-7.large-8.medium-order-1
                .content
                    ul.menu.dropdown.margin-bottom-6(data-dropdown-menu)
                        li
                            a(href='') Cезон: 2017-2018
                            ul.menu
                                li.active: a(href='') 2017-2018
                                li: a(href='') 2016-2017

                    h3 Пришли
                    table
                        thead
                            tr
                                th Игрок
                                th Амплуа
                                th Выступал за
                                th Примечания

                        tbody
                            tr
                                td Александр Макаров, Россия
                                td Нападающий
                                td Тосно, Россия
                                td: a(href='' title='Ссылка на новость') Возвращение из аренды
                            tr
                                td Михаил Пашнин, Россия
                                td Защитник
                                td «Локомотив», Россия
                                td: a(href='' title='Ссылка на новость') Полноценный переход
                            tr
                                td Антон Бурдасов, Россия
                                td Нападающий
                                td «Авангард», Россия
                                td: a(href='' title='Ссылка на новость') Полноценный переход
                            tr
                                td Роман Любимов, Россия
                                td Нападающий
                                td «Филадельфия», США (НХЛ)
                                td: a(href='' title='Ссылка на новость') Аренда
                            tr
                                td Михаил Григоренко, Беларусь
                                td Нападающий
                                td «Колорадо», США (НХЛ)
                                td: a(href='' title='Ссылка на новость') Аренда

                    h3 Ушли
                    table
                        thead
                            tr
                                th Игрок
                                th Амплуа
                                th Новый клуб
                                th Примечания

                        tbody
                            tr
                                td Кирилл Панченко, Россия
                                td Нападающий
                                td Динамо Москва, Россия
                                td: a(href='' title='Ссылка на новость') Полноценный переход
                            tr
                                td Алексей Ионов, Россия
                                td Нападающий
                                td Динамо Москва, Россия
                                td: a(href='' title='Ссылка на новость') Истёк срок аренды
                            tr
                                td Сергей Чепчугов, Россия
                                td Нападающий
                                td —
                                td: a(href='' title='Ссылка на новость') Истёк срок контракта
                            tr
                                td Константин Базе, Россия
                                td Защитник
                                td Арсенал Тула, Россия
                                td: a(href='' title='Ссылка на новость') Аренда
                            tr
                                td Сергей Ткачёв, Россия
                                td Нападающий
                                td Оренбург, Россия
                                td: a(href='' title='Ссылка на новость') Аренда
                            tr
                                td Дмитрий Ефремов, Россия
                                td Нападающий
                                td —
                                td: a(href='' title='Ссылка на новость') Истёк срок контракта
                            tr
                                td Зоран Тошич, Сербия
                                td Защитник
                                td Урал (Екатеринбург), Россия
                                td: a(href='' title='Ссылка на новость') Аренда
                            tr
                                td Никита Чернов, Россия
                                td Вратарь
                                td Анжи, Россия
                                td: a(href='' title='Ссылка на новость') Аренда