.b-address
{
    &__show
    {
        font-size: 30px;
        &:after
        {
            font-size: 0;

            display: inline-block;

            width: 19px;
            height: 30px;
            margin-left: 15px;

            content: '1';
            transition: .5s all;
            transform: rotate(90deg);
            vertical-align: middle;

            background: url('../images/sprite-my.png') no-repeat -153px -210px;
        }
        &_reverse:after
        {
            transform: rotate(-90deg);
        }
    }
    &__hide
    {
        font-size: 30px;

        display: none;
    }
    &__row
    {
        padding-right: 25px;
        padding-left: 25px;
    }
    &__title
    {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;

        margin-top: 31px;
        margin-bottom: 43px;

        color: black;
    }
    &__date
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;

        color: #060606;
    }
    &__block
    {
        padding-top: 32px;
        padding-bottom: 60px;

        border-bottom: 2px solid #eee;
    }
    &__option
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 46px;

        color: #060606;
    }
    &__link
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;

        display: inline-block;

        margin-top: 33px;
        margin-right: 40px;

        text-decoration: underline;

        color: #060606;
    }
}
@media (max-width:960px)
{
    .b-address
    {
        &__block
        {
            &:last-child
            {
                border-bottom: 0;
            }
        }
    }
}
@media (max-width:460px)
{
    .b-address
    {
        &__row
        {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
