body
{
    background: #fff;
}
.f-dropdown li
{
    text-decoration: none;
}
// @media (max-width:430px) {
//   .small-block-grid-1>li {
//     width: 70%;
//   }
// }

.scrollingHotSpotRight
{
    min-width: 30px !important;

    opacity: .35!important;
    background-color: transparent !important;
    background-image: url(../images/arrow_right.gif) !important;
    background-repeat: no-repeat !important;
    background-size: 30% !important;
}
.scrollingHotSpotLeft
{
    left: 0px !important;

    min-width: 30px !important;

    opacity: .35!important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-image: url(../images/arrow_left.gif) !important;
    background-size: 30% !important;
}
