

.b-horizont
{
    padding-top: 62px;
    &__slider
    {
        position: relative;
    }
    .slick-slide
    {
        text-align: center;

        outline: none;
        a
        {
            outline: none;
        }
        img
        {
            display: inline-block;
        }
    }
    .slick-next,
    .slick-prev
    {
        position: absolute;
        top: 42%;
        right: 0;

        width: 23px;
        height: 50px;

        background: url(../images/arrow_right.png) no-repeat;
        background-size: 90%;
    }
    .slick-prev
    {
        left: 0;
    }
    &__line
    {
        position: relative;

        overflow: hidden;

        width: 100%;

        cursor: move;

        border-bottom: 1px solid #eee;
        &_prod
        {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &_prod-last
        {
            padding-top: 60px;
            padding-bottom: 0;

            border-bottom: 0;
        }
    }
    &__block
    {
        width: 295px;
        height: 472px;
        padding-right: 25px;
    }
    &__title
    {
        top: 12px;
        &-link
        {
            font-size: 26px;
            font-weight: 400;
            line-height: 36px;

            color: #060606;
        }
    }
    &__price
    {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;

        top: 25px;
display: inline-block;
        width: 270px;
        padding-top: 6px;
        padding-bottom: 7px;

        text-align: center;

        color: #fefefe;
        border-radius: 10px;
        background-color: #43cdd3;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
    }
    &__material
    {
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;

        top: 11px;

        padding-bottom: 12px;

        color: #060606;
    }
}
