.b-rega
{
    &__enter
    {
        &-link
        {
            font-size: 36px;
            font-weight: 400;
            line-height: 46px;

            display: block;

            width: 100%;
            margin-top: 49px;
            margin-bottom: 60px;
            padding-top: 17px;
            padding-bottom: 17px;

            text-align: center;

            color: white;
            border-radius: 10px;
            background-color: #43cdd3;
            box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
            &:active
            {
                transform: translateY(2px);

                box-shadow: none;
            }
        }
    }
    &__box
    {
        padding-top: 45px;
        padding-right: 9px;
        padding-left: 9px;
    }
    &__row
    {
        padding-right: 25px;
        padding-left: 25px;
    }
    &__title
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        padding-top: 45px;
        padding-bottom: 30px;

        color: black;
    }
    &__punct
    {
    }
    &__label
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;

        padding-top: 20px;
        padding-bottom: 10px;

        color: #060606;
    }
}
input.b-rega__input
{
    font-size: 33px;

    height: 80px;

    border: 2px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: none;
}
input.b-rega__inpt
{
    display: none;
}

label.b-rega__chck
{
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;

    padding-left: 54px;

    color: black;
    &:after
    {
        position: absolute;
        top: 5px;
        left: 15px;

        display: block;

        width: 37px;
        height: 37px;
        margin-top: 0;

        content: '';

        background: url('../images/sprite-my.png') no-repeat -96px -210px;
        background-repeat: no-repeat;
    }
}


.b-rega__inpt:checked + label:after
{
    width: 37px;
    height: 37px;

    background: url('../images/sprite-my.png') no-repeat -177px -130px;
}
@media (max-width:460px)
{
    .b-rega
    {
      &__title {
        font-size: 39px;
      }
        &__row
        {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
@media (max-width:500px) {
  .b-rega {
    &__pol {
      width: 100%;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}