.b-top-link
{
    background-color: #eee;
    &_basket
    {
        margin-bottom: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    &__link
    {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;

        display: inline-block;

        padding-top: 18px;
        padding-bottom: 16px;

        color: #010101;
    }
    &__arr
    {
        display: inline-block;

        width: 19px;
        height: 30px;
        margin-left: 18px;

        transform: rotate(-90deg);
        vertical-align: middle;

        background: url('../images/sprite-my.png') no-repeat -153px -210px;
        &_basket
        {
            margin-right: 20px;
            margin-left: 0;

            transform: rotate(-180deg);
        }
    }
}
@media (max-width:400px)
{
    .b-top-link_basket
    {
        padding-left: 15px;
    }
    .b-top-link__link
    {
        font-size: 24px;
    }
}
