.b-tovar
{
    margin-top: -20px;
    padding-bottom: 12px;
    &__name
    {
        font-size: 24px;
        font-weight: 400;
        line-height: 60px;

        padding-top: 13px;
        padding-left: 40px;

        color: black;
    }
    &__list
    {
        margin-bottom: 25px;
        margin-left: 0;
        padding-left: 65px;
        &-item
        {
            font-size: 24px;
            font-weight: 400;

            padding-top: 20px;

            color: black;
            &:first-child
            {
                padding-top: 10px;
            }
        }
    }
    &__price
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        padding-left: 40px;

        color: black;
    }
    &__buy
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        display: block;

        margin-bottom: 29px;
        padding-top: 18px;
        padding-bottom: 18px;

        text-align: center;

        color: white;
        border-radius: 10px;
        background-color: #43cdd3;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
        &:active
        {
            transform: translateY(2px);

            box-shadow: none;
        }
    }
    &__delimiter
    {
        height: 2px;
        margin-top: 18px;
        margin-bottom: 25px;

        background-color: #eee;
    }
    &__title
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        padding-left: 40px;

        color: black;
    }
    &__razmer
    {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;

        padding-left: 40px;

        color: black;
    }
    &__table
    {
        padding-right: 5px;
        padding-left: 0;
        &-link
        {
            font-size: 30px;
            font-weight: 400;
            line-height: 46px;

            text-decoration: underline;

            color: black;
        }
    }
    &__ul
    {
        margin-top: 32px;
        margin-left: 0;
        padding-left: 40px;

        list-style-type: none;
    }
    &__li
    {
        display: inline-block;
        float: left;

        margin-right: 4px;
        margin-bottom: 9px;
        &-link
        {
            font-size: 36px;
            font-weight: 400;
            line-height: 46px;

            display: inline-block;

            width: 80px;
            height: 80px;
            padding-top: 20px;

            text-align: center;

            color: #010101;
            border-radius: 10px;
            background-color: #eee;
            box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
            &:active
            {
                transform: translateY(2px);

                box-shadow: none;
            }
            &_active
            {
                border: 2px solid #d8d8d8;
                border-radius: 10px;
            }
            &_black
            {
                background-color: black;
            }
            &_brown
            {
                background-color: #6d3600;
            }
        }
    }
}
@media (max-width:400px)
{
    .b-tovar
    {
        &__buy {
            font-size: 33px;
        }
        &__title
        {
            padding-right: 10px;
            padding-left: 15px;
        }
        &__razmer
        {
            padding-left: 15px;
        }
        &__ul
        {
            padding-left: 15px;
        }
        &__price
        {
            padding-left: 15px;
        }
        &__name
        {
            padding-left: 15px;
        }
        &__list
        {
            padding-left: 25px;
        }
    }
}
