.b-vipa
{
    left: 0 !important;

    width: 100% !important;
    max-width: 100% !important;
    margin-top: 0;

    border: 0;
    outline: none;
    background-color: white;
    box-shadow: 0 80px 80px rgba(0, 0, 0, .56);
    &__srch
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;

        padding-top: 35px;
        padding-bottom: 15px;

        color: #060606;
    }
    &__lic
    {
        padding-top: 16px;
        padding-bottom: 55px;
    }
    &__lichnoe
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 46px;

        text-decoration: underline;

        color: black;
    }
    .row
    {
        margin: 0;
        padding-right: 25px;
        padding-left: 25px;
    }
    &:before
    {
        display: none;
    }
    &:after
    {
        display: none;
    }
    &__tovar
    {
        padding-top: 46px;
        &-numb
        {
            font-size: 48px;
            font-weight: 400;
            line-height: 46px;

            padding-top: 10px;

            color: black;
        }
    }
    &__tovars
    {
        font-size: 30px;
        font-weight: 400;
        line-height: 46px;

        color: black;
    }
    &__oform
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        display: block;

        margin-top: 63px;
        margin-bottom: 18px;
        padding-top: 18px;
        padding-bottom: 18px;

        text-align: center;

        color: white;
        border-radius: 10px;
        background-color: #43cdd3;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
        &:active
        {
            transform: translateY(2px);

            box-shadow: none;
        }
    }
    &__show
    {
        font-size: 48px;
        font-weight: 400;
        line-height: 46px;

        display: block;

        margin-bottom: 68px;
        padding-top: 18px;
        padding-bottom: 18px;

        text-align: center;

        color: black;
        border-radius: 10px;
        background-color: #eee;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .2);&:active
        {
            transform: translateY(2px);

            box-shadow: none;
        }
    }
}
input.b-vipa__input
{
    height: 80px;
    margin-bottom: 46px;

    border: 2px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: none;
}
button.b-vipa__submit
{
    
    font-size: 20px;
    font-style: italic;
    line-height: 46px;

    width: 100%;
    padding-left: 15px;

    text-align: center;

    color: #010101;
    border-radius: 10px;
    outline: none;
    background-color: #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
    &:active
    {
        transform: translateY(2px);

        box-shadow: none;
    }
}
@media (min-width:960px) and (max-width:995px)
{
    .b-vipa
    {
        left: 140px !important;

        max-width: 800px!important;
    }
}
@media (min-width:995px) and (max-width:1025px)
{
    .b-vipa
    {
        left: 160px !important;

        max-width: 800px!important;
    }
}
@media (min-width:1025px) and (max-width:1065px)
{
    .b-vipa
    {
        left: 200px !important;

        max-width: 800px!important;
    }
}
@media (min-width:1065px)
{
    .b-vipa
    {
        left: 200px !important;

        max-width: 800px!important;
    }
}
@media (max-width:480px)
{
    button.b-vipa__submit
    {
        padding-left: 7px;
    }
    .b-vipa
    {
        &__tovars
        {
            font-size: 25px;
            line-height: 25px;
        }
        &__tovar-numb
        {
            font-size: 30px;
            line-height: 30px;
        }
        &__tovar_last
        {
            padding-left: 0;
        }
        .row
        {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
@media (min-width:640px)
{
    .b-vipa
    {
        top: 117px !important;
    }
}
.js-mega
{
    display: block !important;
}
@media (max-width:560px) {
    .b-vipa__sub {
        padding-left: 0;
        padding-right: 10px;
    }
    button.b-vipa__submit {
        font-size: 16px;
    }
}