extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform.platform_empty
block content
  .row
    .large-12.columns.end
      .application
        | Ошибка
        .application__num 404
        .application__text 
          | Возможно, вы перешли по неработающей ссылке
          br
          | или неверно ввели адрес...
  .row.medium-up-2(data-equalizer,data-equalize-by-row="true")
    .columns
      .communication(data-equalizer-watch)
        a(href="#").communication__link Решения
        .row.small-up-2
          .columns
            a(href="#") Инфраструктура          
          .columns
            a(href="#") Сервисы
          .columns
            a(href="#") Бизнес-приложения
          .columns
            a(href="#") Коммуникации 
    .columns
      .communication(data-equalizer-watch)
        a(href="#").communication__link База знаний
        .row.small-up-2
          .columns
            a(href="#") Истории успеха
          .columns
            a(href="#") Новости Cloud-рынка
          .columns
            a(href="#") Информация о сервисах 
    .columns
      .communication(data-equalizer-watch)
        a(href="#").communication__link Поддержка
    .columns
      .communication(data-equalizer-watch)
        a(href="#").communication__link О проекте
        .row.small-up-2
          .columns
            a(href="#") Новости
          .columns
            a(href="#") Промо-программы
    .columns
      .communication(data-equalizer-watch)
        a(href="#").communication__link Стать партнером
  .mb45    
