extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/about.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          strong Bento Cloud
          br
          | Платформа, которая
          br
          | работает для Вас
block content
  .cloud
    .row.columns.text-center
      p.lead Bento Cloud — подразделение компании RRC Group, является новой ступенью в развитии взаимоотношений Партнера и Дистрибутора
    .row.medium-up-2
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/code.svg", alt="")
          .small-20.columns  
            h4 Как это работает
            p 
              | Специально для Вас мы подготовили краткое описание возможностей функционала платформы BentoCloud, которое даст представление о открывающихся перспективах и возможностях.  
              br
              a(href="#").text-white Узнать больше
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/dinamics.svg", alt="")
          .small-20.columns  
            h4 Цели BentoCloud
            p Увеличить объем бизнеса партнера путем предоставления новых возможностей своим заказчикам, за счет снижения затрат на доступ к ресурсам.
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/inovation.svg", alt="")
          .small-20.columns  
            h4 Инновации
            p Мы постоянно работаем над улучшением способов доставки сервисов, анализом рынка и поиском самых передовых IT технологий для решения бизнес-задач.
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/feather.svg", alt="")
          .small-20.columns  
            h4 Ответственность BentoCloud
            p Мы отвечаем по всем своим обязательствам, и гарантируем непрерывную доставку сервиса клиентам наших партнеров.
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/earth.svg", alt="")
          .small-20.columns  
            h4 Приоритеты развития BentoCloud
            p Акцентирование внимания на обширную сеть региональных партнеров и географическое присутствие в регионах России
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/user.svg", alt="")
          .small-20.columns  
            h4 Работа в команде BentoCloud
            p Наша команда с высшей степенью уважения, достоинства, равенства и доверия относится к мнению и убеждениям своих коллег-партнеров, и постоянно работает над повышением качества взаимодействия и обслуживания.
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/knowledge.svg", alt="")
          .small-20.columns  
            h4 Образование BentoCloud
            p Мы постоянно стремимся к приобретению новых знаний и навыков для повышения производительности и роста компании.
      .columns.feature
        .row
          .small-4.columns.feature__img
            img(src="./images/mission.svg", alt="")
          .small-20.columns  
            h4 Миссия BentoCloud
            p Обеспечить партнеров эффективным инструментом по полнофункциональному управлению и контролю доступа к облачным ресурсам и сервисам ведущих мировых и отечественных производителей
  .vendors
    .row.columns
      p.lead О компании RRC. Основанная в 1992 году, компания RRC, является международным дистрибутором телекоммуникационного и сетевого оборудования, устройств автоматической идентификации и сбора данных, систем информационной безопасности, инфраструктурных решений. Продуктовый портфель RRC включает в себя продукцию мировых лидеров.
      .solution.text-center
        .solution__slide
          img(src="./i/ven1.svg", alt="")
        .solution__slide
          img(src="./i/ven2.svg", alt="")
        .solution__slide
          img(src="./i/ven3.svg", alt="")
        .solution__slide
          img(src="./i/ven4.svg", alt="")
        .solution__slide
          img(src="./i/ven5.svg", alt="")
        .solution__slide
          img(src="./i/ven6.svg", alt="")
        .solution__slide
          img(src="./i/ven7.svg", alt="")
        .solution__slide
          img(src="./i/ven8.svg", alt="")
        .solution__slide
          img(src="./i/ven9.svg", alt="")
        .solution__slide
          img(src="./i/ven10.svg", alt="")
        .solution__slide
          img(src="./i/ven11.svg", alt="")
        .solution__slide
          img(src="./i/ven12.svg", alt="")
        .solution__slide
          img(src="./i/ven13.svg", alt="")
        .solution__slide
          img(src="./i/ven14.svg", alt="")
        .solution__slide
          img(src="./i/ven15.svg", alt="")
        .solution__slide
          img(src="./i/ven16.svg", alt="")
        .solution__slide
          img(src="./i/ven17.svg", alt="")
        .solution__slide
          img(src="./i/ven18.svg", alt="")
        .solution__slide
          img(src="./i/ven19.svg", alt="")
        .solution__slide
          img(src="./i/ven20.svg", alt="")
        .solution__slide
          img(src="./i/ven21.svg", alt="")
        .solution__slide
          img(src="./i/ven22.svg", alt="")
        .solution__slide
          img(src="./i/ven23.svg", alt="")
        .solution__slide
          img(src="./i/ven24.svg", alt="")
  .row.columns.text-center
    .mb45
    h2 Наши координаты для связи
  .row.medium-up-3.text-center
    .columns.boss
      .boss__img
        img(src="./i/default-girl.jpg", alt="")  
      .boss__author Алексеева Марина
      .boss__role Коммерческий директор
      .boss__phone
        a(href='tel:+74959561717') +7-495-956-1717
        | , доб. 1033
      p
        a(href='mailto:Alekseeva_m@rrc.ru') Alekseeva_m@rrc.ru
    .columns.boss
      .boss__img
        img(src="./i/default-boy.jpg", alt="")  
      .boss__author Колмыков Александр
      .boss__role Руководитель проекта
      .boss__phone
        a(href='tel:+74959561717') +7-495-956-1717
        | , доб. 1071
      p
        a(href='mailto:Kolmykov_a@rrc.ru') Kolmykov_a@rrc.ru
    .columns.boss
      .boss__img
        img(src="./i/default-girl.jpg", alt="")  
      .boss__author Кузина Анастасия
      .boss__role Менеджер по продажам
      .boss__phone
        a(href='tel:+74959561717') +7-495-956-1717
        | , доб.1036
      p
        a(href='mailto:kuzina_a@rrc.ru') kuzina_a@rrc.ru

  .mb45
