extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/acronis.jpg);")
      //- .row.columns.hide-for-small-only
      //-   .platform__title 
      //-     strong Microsoft
      //-     br
      //-     strong Visio Pro
      //-     br
      //-     | для Office 365 &mdash;
      //-     br
      //-     | Объедените свои
      //-     br
      //-     | Усилия!
block content
  .cloud.cloud_no
    .mb30
    .row
      .columns.medium-15
        h4 Acronis Backup Cloud
        h3 Резервное копирование как сервис - быстрое, эффективное, интегрируемое и полностью контролируемое пользователем решение.
        p.lead.lead_medium
          strong Скорость
          |– Быстрый вывод на рынок и высокая доходность
        p.lead.lead_medium
          strong Простота
          | – Интеграция с Odin, HostBill, ConnectWise и другими
        p.lead.lead_medium
          strong Универсальность
          | – Физические, виртуальные, облачные инфраструктуры, приложения и мобильные устройства
        p.lead.lead_medium
          strong Надежность
          | – Решению доверяют больше 500 000 предприятий по всему миру
        p.lead.lead_medium
          strong Безопасность
          | – Защита данных с Acronis Storage с CloudRAID™
      .columns.medium-9
        .acronis
          h3.acronis__title Начните работу с Acronis Backup Cloud
          a.button.large.expanded(href="#") Скачать презентацию
    .mb30 
  .mb45  
  .row.columns
    .port
      .row
        .large-15.medium-16.columns  
          h3 Пакеты от Acronis Backup Cloud
          p Возможность выбора необходимого дискового пространства от 10 Gb до 10 Tb открывает перед Вашими Заказчиками широкие возможности для организации гибкого подхода к хранению разного объема резервных копий, синхронизированных файлов, виртуальных машин или приложений. Предоставление Заказчикам этой услуги позволит Вам, в свою очередь, разнообразить портфель Ваших коммерческих предложений и нарастить объемы продаж.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Acronis Backup Cloud для Microsoft Office 365
          p Предоставляя Вашим заказчикам сервис Acronis Backup Cloud для Microsoft Office 365, Вы получаете возможность предлагать непохожие на существующие сегодня на рынке решения, которые выгодно подчеркнут уникальный характер Вашего коммерческого предложения. Благодаря новейшим технологиям, используемым в решении Acronis Backup Cloud для Microsoft Office 365, обеспечивающим полную защиту корпоративных данных и удобное масштабируемое управление, Ваши Заказчики смогут с легкостью создавать резервные копии почтовых ящиков, электронных писем, контактов, календарей и приложений.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Ресурсы Acronis Backup Cloud по модели Pay-As-You-Go
          p Решения Acronis Backup Cloud, в основе которых лежит модель «оплата по мере использования» (Pay-As-You-Go), позволяют масштабировать и потреблять сервис без ограничения с момента подключения к ресурсам Acronis ровно в том объеме, который необходим Вашему Заказчику. В этом случае Заказчик получает возможность отключения от услуги в любой момент времени и оплачивает только то количество сервиса, которое потребил. 
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
  
