extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/detail.png);")
      .row.columns.hide-for-small-only
        .platform__title.platform__title_high
          strong Облачные технологии -
          br
          | надежный способ
          br
          | сохранить информацию.
      +bread(['Новости'])
      .row
        .medium-12.columns.text-center.medium-text-left
          .date.date_line
            span 11 Января
            |  | 
            span 2017
        .medium-12.columns.text-center.medium-text-right
          .date
            | Источник:
            =" "
            a(href="#") http://www.bentocloud.ru
    
block content
  .row
    .large-22.large-centered.columns
      .award.text-center
        .award__slide
          img(src="./i/touch.png", alt="")
        .award__slide
          img(src="./i/touch.png", alt="")
        .award__slide
          img(src="./i/touch.png", alt="")
      p.text-size-large.mb45 Облака – один из немногих сегментов ИТ-рынка, который растет двузначными темпами, несмотря на кризис, а во многом даже благодаря нему. На российском рынке обозначились ярко выраженные локальные тенденции. Драйвером рынка является не экономия, а доступность ИТ-инфраструктуры «по запросу». Процветает клиентоориентированный подход, что объясняется ориентацией провайдеров на крупный бизнес в отсутствие СМБ. Растет ответственность поставщиков, выраженная в деньгах. Клиенты критикуют провайдеров за высокую стоимость услуг. Несмотря на позитивную динамику сегмента, у заказчиков по-прежнему много претензий к облакам, выяснилось во время конференции, которую провели CNews Conferences и CNews Analytics 8 сентября 2016 г.
      hr.pole.mb45
      p.text-size-large.mb45 В настоящий момент за более чем 45 минут простоя мы возвращаем клиенту 25% месячной стоимости, за 8 часов – 50%, за сутки простоя – 100%, сообщил директор по развитию облачных сервисов LanCloud Сергей Ерин. Однако в некоторых случаях ущерб от простоя сервиса для заказчика может оказаться значительно выше стоимости месячной подписки. В этом случае облачный провайдер может застраховать риски в страховой компании и включить стоимость страховки в цену облачной услуги.
      .award.text-center
        .award__slide
          img(src="./i/speaker.png", alt="")
          .award__info.text-left.hide-for-small-only
            strong Сергей Ерин, 
            |  директор по развитию облачных сервисов LanCloud:
            .award__text На Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»  
        .award__slide
          img(src="./i/speaker.png", alt="")
          .award__info.text-left.hide-for-small-only
            strong Сергей Ерин, 
            |  директор по развитию облачных сервисов LanCloud:
            .award__text На Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»  
        .award__slide
          img(src="./i/speaker.png", alt="")
          .award__info.text-left.hide-for-small-only
            strong Сергей Ерин, 
            |  директор по развитию облачных сервисов LanCloud:
            .award__text На Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»  
      p.text-size-large
        | С точки зрения заказчиков, важным фактором доверия провайдеру является не только наличие гарантий в SLA, но и примеры реальных кейсов, когда клиенты получали возмещение в случае отказа сервисов.
        br
        | В работе LanCloud было два подобных случаях, поделился Сергей Ерин: «Один раз в течение трех часов был недоступен сервис Skype for Business, во время второго инцидента в течение часа не работал сервис «1С». После обоих инцидентов мы выплатили клиентам 25% стоимости месячной подписки». По его словам, в одном случае причиной сбоя стал некорректный апдейт ПО Microsoft, в другом – ошибка инженера.
        br
        | При этом совершенствуются не только договоры SLA, но и качество самих услуг. «Потенциальные проблемы с соседством заказчиков в публичном облаке мы решили внедрением флэш-массивов. Теперь у нас есть очень производительные диски в облаке, до 100 тыс. IOPS. Полностью управляемая производительность дает нам возможность предоставлять дополнительный SLA на производительность дисковых подсистем», – рассказал Сергей Зинкевич, эксперт по гибридным облакам «Крок». Проблему удалось решить с помощью внедрения флеш-массивов, благодаря чему в облаке появились сверхпроизводительные диски с показателями до 100 тыс. IOPS.
        p.text-right.text-size-large
          strong Павел Лебедев      
        .text-right.text-size-large.mb70
          span.mr10 Поделиться:
          =" "
          a(href="#") 
            img(src="./i/soc.png", alt="")  
        
