extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/exchange.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          | Microsoft
          br
          | Exchange online
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead.lead_medium Еще более эффективная работа откуда угодно с размещенной службой электронной почты для бизнеса
      .control.text-center 
        h2.control__main Безопасность и надежность
      p.lead.lead_medium Расширенные возможности службы Exchange Online помогают вам защитить свою информацию. Средства фильтрации вредоносных программ и спама обеспечивают безопасность ваших почтовых ящиков, а инструменты для защиты от потери данных не позволяют вашим пользователям по ошибке отправлять конфиденциальную информацию посторонним людям. Ваши данные надежно защищены благодаря серверам, обладающим глобальной избыточностью, передовым функциям послеаварийного восстановления и команде экспертов в вопросах безопасности, круглосуточно контролирующих работу Exchange Online. Кроме того, наша гарантия бесперебойной работы в течение 99,9 % времени, подкрепленная финансовыми обязательствами, позволяет вам рассчитывать на то, что ваша электронная почта будет функционировать без отказов.
      .control.text-center 
        h2.control__main Контроль
      p.lead.lead_medium Контролируйте работу своей среды и пользуйтесь преимуществами, связанными с размещением электронной почты на серверах Майкрософт. Удобный веб-интерфейс Центра администрирования Exchange позволит вам эффективнее управлять своей организацией. Вы сможете работать со средствами обнаружения электронных данных на месте в Exchange, Skype для бизнеса и SharePoint из единого интерфейса Центра обнаружения электронных данных. Значок подсказки Политики мобильных устройств позволят вам создавать утвержденные списки устройств, применять блокировку с помощью PIN-кода и удалять с потерянных телефонов конфиденциальные данные компании. Кроме того, вам будет круглосуточно и без выходных доступна поддержка по телефону от ИТ-специалистов.
      .control.text-center 
        h2.control__main Удобство использования и простота в обслуживании
      p.lead Обеспечить пользователей доступом к службе электронной почты бизнес-класса, которая поможет им работать с максимальной продуктивностью, еще никогда не было так просто. Благодаря автоматической установке исправлений вам не придется тратить время и усилия на обслуживание системы. Предложите своим пользователям архив на месте, который позволит им централизованно хранить все важные данные. Кроме того, вы можете предоставить им доступ к электронной почте, календарю и контактам из всех основных браузеров и с различных устройств. За счет интеграции с Outlook они получают функциональный и знакомый интерфейс для работы с почтой, в том числе без подключения к Интернету.
      p.text-center
        a(href="./partnership.html").button.large Узнать больше
