extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/ms-crm.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          | Решения CRM для
          br
          | малого и среднего
          br
          | бизнеса
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead.lead_medium Вместе с Microsoft Dynamics CRM Online и Office 365 вы получаете интегрированное, доступное по стоимости, мобильное решение на основе Microsoft Cloud, помогающее предприятиям малого и среднего бизнеса в любое время и с любого устройства получать информацию о клиентах, данные о продажах и маркетинговые аналитики, записи об обслуживании и все другие сведения, необходимые для управления отношениями с клиентами.
      p.lead.lead_medium Способы использования решений CRM со средствами Office 365 включают:
      ul.excel
        li Создание потенциальных клиентов, просмотр информации о клиентах или открытие случаев обращения в службу поддержки в CRM непосредственно из папки "Входящие" в Outlook
        li Подготовка профессиональных документов, таких как ценовые предложения и заказы на продажу с помощью шаблонов Word в CRM
        li Обновление информации с помощью Excel внутри CRM, простое выполнение импорта и экспорта, а также совместное использование информации
        li Присоединение заметок о собрании и сведений о взаимодействии с клиентами с помощью OneNote в CRM
        li Хранение и синхронизация документов в едином централизованном местоположении SharePoint со ссылкой на CRM
        li Оставайтесь на связи и сотрудничайте с коллегами и клиентами с помощью Skype для бизнеса
        li Мобильные приложения CRM доступны для планшетов и телефонов на основе iOS,Android и Windows
      p.text-center
        a(href="./partnership.html").button.large Узнать больше
    .mb30 
