extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/ms-one-drive.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          strong Microsoft
          br
          strong OneDrive
          br
          | Облачное
          br
          | хранилище
          br
          | для бизнеса
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      h2.text-center Успевайте больше с защищенным и надежным облачным хранилищем для бизнеса
      p.lead.lead_medium OneDrive для бизнеса — это интернет-хранилище, полностью совместимое с популярными инструментами для создания документов, общения и совместной работы на компьютерах Windows и Mac, а также мобильных устройствах на базе iOS®, Android™ и Windows.  
      h3 Хранение и синхронизация
      p.lead.lead_medium Используйте надежное и удобное хранилище файлов. Они будут доступны вам в любой момент откуда угодно через Интернет. Благодаря быстрому и интуитивно понятному браузерному интерфейсу управлять файлами, добавлять и совместно использовать их очень просто. Кроме того, вы можете легко синхронизировать свои документы с ПК с Windows или компьютером Mac, чтобы всегда работать с актуальной версией каждого файла.  
      h3 Эффективная работа в пути
      p.lead.lead_medium Используйте свои любимые устройства для просмотра и редактирования файлов, а также для совместной работы над ними. Полнофункциональные мобильные приложения, оптимизированные для Android™, iOS® и Windows, поддерживают полный спектр необходимых возможностей.  
      h3 Общий доступ и совместная работа
      p.lead.lead_medium Вы можете легко работать над файлами вместе с коллегами и внешними партнерами. Совместное редактирование — это очень просто благодаря знакомым приложениям Office, которые позволяют работать вместе в режиме реального времени. А с Office Delve другие пользователи из вашей организации смогут легко находить ваши документы.  
      h3 Встроенные средства безопасности
      p.lead Встроенные средства безопасности, такие как шифрование файлов, помогают обезопасить вашу информацию. Расширенные возможности защиты от потери данных позволяют выявлять, контролировать и защищать важные сведения. При этом хранилище OneDrive для бизнеса соответствует глобальным и отраслевым стандартам, таким как ISO 27001, HIPAA и другие.  
      
      p.text-center
        a(href="./partnership.html").button.large Узнать больше
    .mb30 
