extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/z-2.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          | Microsoft
          br
          | Project online
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead Реализация успешных проектов. Система управления проектами и портфелями проектов (УПП) от  Майкрософт, поможет вам оптимизировать свои проекты, ресурсы и управление портфелем, а интегрированные средства планирования — отслеживать проекты и держать их под контролем. 
      p.lead А также позволяет быстро приступить к работе,  упрощает реализацию проектов. Встроенные шаблоны, знакомые инструменты планирования и доступ с разных устройств повышают эффективность работы руководителей проектов и проектных групп.		
      p.text-center
        a(href="./partnership.html").button.large Зарегистрироваться и узнать цены
    .mb30 
  .additional
    .row.medium-up-3.text-center
      .columns
        .training
          .training__img
            p
              img(src="./images/office_365_glyph.svg", alt="")
          .training__title Project Online с Project для Office 365
          p.training__text Возможность быстро приступить к работе с помощью гибкого веб-решения для управления портфелем проектов и текущей деятельностью в среде Office 365. Включает все возможности управления классической версии в рамках подписки.
      .columns
        .training
          .training__img
            p
              img(src="./images/project_glyph.svg", alt="")
          .training__title Project Online Premium
          p.training__text  Эффективное управление портфелями проектов, программами и ресурсами.
      .columns
        .training
          .training__img
            p
              img(src="./images/project_glyph.svg", alt="")
          .training__title Project Online Professional
          p.training__text Систематизируйте и упорядочивайте проекты, ресурсы и рабочие группы. Легко и эффективно составляйте планы проектов, отслеживайте их состояние и используйте инструменты удаленной совместной работы.
    .mb70  
  .mb45  
  .row.columns
    .port
      .row
        .large-15.medium-16.columns  
          h3 Повышайте ценность своих портфелей проектов
          p Интеллектуальные веб-инструменты помогают проводить стратегическую оценку и оптимизацию портфелей проектов, повышать их ценность и добиваться поставленных бизнес-целей.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Добивайтесь большего
          p Функциональные инструменты планирования, управления временем и задачами, а также распределения ресурсов помогают оптимизировать планы проектов и добиваться впечатляющих результатов
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Организуйте эффективную совместную работу
          p Тесная интеграция с инструментами для взаимодействия, такими как Skype для бизнеса и Yammer, способствует командной работе и в конечном итоге позволяет добиваться лучших результатов по всем проектам
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Принимайте правильные решения
          p Встроенные отчеты и средства бизнес-аналитики позволяют визуализировать данные, получать полезную информацию о проектах, программах и портфелях и принимать более осознанные решения
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
