extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/win10_3.png);")
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead 
        | Экономия времени, повышение производительности труда и улучшенная защита данных.
        br
        | Доступ к эксклюзивным возможностям корпоративной версии и регулярным обновлениям.
      p.text-center
        a(href="./partnership.html").button.large Узнать больше
    .mb30 
  .mb45
  .row.columns
    .port
      .row
        .large-15.medium-16.columns  
          h3 Обновление до выпуска Windows 10 Корпоративная
          p Windows 10 Корпоративная оснащена самыми надежными, безопасными и гибкими функциями для вашего бизнеса. Получите доступ к эксклюзивным функциям корпоративной версии, которые предоставят вам следующие возможности: виртуализация, управление и восстановление при помощи пакета Microsoft Desktop Optimization Pack (MDOP); гибкость развертывания и использования Windows; дополнительные права на использование версий, базовые преимущества и поддержка. Windows 10 Корпоративная доступна только в рамках программ корпоративного лицензирования и Cloud Solution Provider.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Windows 10 Корпоративная E3
          p Windows 10 Корпоративная E3 — это новое название нашей стандартной корпоративной версии Windows с предложением SA. Windows 10 Корпоративная E3 включает в себя доступ к корпоративной версии и входящим в нее эксклюзивным компонентам — Credential Guard и Device Guard, а также обладает расширенными возможностями управления и управляемым взаимодействием с пользователем. Windows 10 Корпоративная E3 также включает преимущества программы Software Assurance (SA) в каналах корпоративного лицензирования, которые поддерживают SA.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Windows 10 Корпоративная E5
          p Windows 10 Корпоративная E5 — это новейшее предложение для тех клиентов, которые хотят использовать все преимущества E3, а также иметь доступ к новой службе Advanced Threat Protection (ATP) в Защитнике Windows, которая помогает предприятиям выявлять, расследовать и отражать серьезные атаки на их сети. Опираясь на существующие средства безопасности в Windows 10 для предотвращения атак, служба ATP в Защитнике Windows обеспечивает новый уровень защиты на основе последствий атак в стеке безопасности Windows 10. Используя встроенную в Windows 10 клиентскую технологию и надежную облачную службу, она обеспечивает обнаружение угроз, которые обошли другие виды защиты, и предоставляет организации информацию по исследованию брешей в конечных устройствах, а также предлагает рекомендации по реагированию на угрозы.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
  
