extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/365-2.png);")
      .row.columns.hide-for-small-only
        .platform__title 
          | Откройте
          br
          | новые
          br
          | возможности
          br
          | с
          strong  Microsoft
          br
          strong Office 365
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead Microsoft Office 365: представляет собой облачную службу, которая предназначена для удовлетворения потребностей организации в надежной системе безопасности, безотказности и производительности труда пользователей.
      p.lead Microsoft Office 365: предоставляет мощность облачной производительности, предприятиям любых размеров, помогая экономить время, деньги и освобождая ценные ресурсы. Office 365 объединяет знакомый набор для рабочего стола Microsoft Office и облачные версии средств Microsoft следующего поколения для обмена информацией и совместной работы, в т. ч. Microsoft Exchange Online, Microsoft SharePoint Online, Office Online и Microsoft Skype для бизнеса Online, чтобы пользователи были производительны в практически любом месте с помощью Интернета.
      p.text-center
        a(href="./partnership.html").button.large Зарегистрироваться и узнать цены
    .mb30 
  .additional
    .row.medium-up-3.text-center
      .columns
        .training
          .training__img
            p
              img(src="./images/dinamics.svg", alt="")
          .training__title Выгодное вложение денег 
          p.training__text Вам не придется заранее оплачивать всю стоимость программного обеспечения, и при этом у вас постоянно будет доступ к его последним версиям.
      .columns
        .training
          .training__img
            p
              img(src="./images/lock_folder.svg", alt="")
          .training__title Встроенные средства безопасности
          p.training__text  Благодаря встроенной системе безопасности и средствам обеспечения конфиденциальности ваши данные всегда будут под надежной защитой.
      .columns
        .training
          .training__img
            p
              img(src="./images/arrow_up.svg", alt="")
          .training__title Доступность без компромиссов
          p.training__text Мы даем подтвержденную финансовыми обязательствами гарантию того, что наши инструменты будут доступны в течение 99,9 % времени
    .mb70  
  .mb45  
  .row.columns
    .port
      .row
        .large-15.medium-16.columns  
          h3 Microsoft Office 365 – оплата помесячно
          p Возможность использовать полный функционал Office 365, без обязательств по дальнейшему продлению и использованию. Получите все необходимые инструменты для ведения бизнеса в любое время из любой точки мира.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Microsoft Office 365 – оплата за год
          p Выбор тех, кто уверен в надежности и доступности решений Office 365 для своего бизнеса. Office 365 предоставляет гарантии, независимо от того, какие сервисы они используют.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
  
