extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/skype.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          | Microsoft Skype
          br
          | for business
block content
  .cloud.cloud_no
    .mb30
    .row
      .columns.text-center
        .control 
          h2.control__main 
            | Залог успешной командной
            br
            |  работы — эффективное
            br
            |  взаимодействие
      .columns
        p.lead Предложите своим рабочим группам знакомый и удобный интерфейс в приложениях Office, которыми они пользуются каждый день. Теперь с помощью Skype для бизнеса вы сможете упростить свою инфраструктуру, развернув единую платформу для звонков, конференций, обмена видео и другой информацией.
    
      .columns.text-center
        a(href="./partnership.html").button.large Узнать больше
    .mb30 
    
  .additional
    .row.medium-up-3.text-center
      .columns
        .training
          .training__img
            p
              img(src="./images/copy.svg", alt="")
          .training__title Доступ к Skype с различных устройств
          p.training__text Взаимодействуйте с коллегами откуда угодно с помощью мобильных приложений для Windows, iOS и Android TM и проводите собрания любых размеров с участием удаленных пользователей с помощью систем Room Systems и Surface Hub службы Skype для бизнеса.
      .columns
        .training
          .training__img
            p
              img(src="./images/users.svg", alt="")
          .training__title Полное решение для проведения собраний
          p.training__text Работайте так, словно находитесь в одной комнате, даже когда вы на разных концах мира. Со Skype для бизнеса вы можете проводить любые собрания: от заседаний рабочей группы до масштабных трансляций и конференций, к которым можно подключаться по телефону.
      .columns
        .training
          .training__img
            p
              img(src="./images/cloud-computing.svg", alt="")
          .training__title Безопасность, контроль и соответствие требованиям
          p.training__text Представляем вам комплексный набор инструментов для обеспечения безопасности, контроля и контроля над соблюдением требований на уровне как отдельных пользователей, так и всего предприятия. В его основе лежат функции масштабирования по запросу и средства управления Office 365.
    .mb70  
