extends index
block top
  .world
    .world__header
      include components/common/_header
    .platform(style="background-image:url(./i/visio.jpg);")
      .row.columns.hide-for-small-only
        .platform__title 
          strong Microsoft
          br
          strong Visio Pro
          br
          | для Office 365 &mdash;
          br
          | Объедените свои
          br
          | Усилия!
block content
  .cloud.cloud_no
    .mb30
    .row.columns
      p.lead В состав Microsoft Visio Pro для Office 365, который доступен по подписке Office 365, входят те же возможности, что и в приложение Visio Professional 2016. Кроме того, он позволяет каждому пользователю установить Visio на несколько (до пяти) ПК с операционной системой Windows 10, Windows 8 или Windows 7. При этом в течение всего срока действия подписки автоматически устанавливаются последние обновления (как функциональные, так и для системы безопасности).
    .mb30 
  .mb45  
  .row.columns
    .port
      .row
        .large-15.medium-16.columns  
          h3 Быстрое создание профессионально выглядящих схем
          p Набор готовых начальных схем, а также контекстные советы и рекомендации помогут вам легко приступить к работе с Visio. Воспользуйтесь преимуществами обновленных шаблонов и тысяч фигур, отвечающих отраслевым стандартам, включая язык UML 2.4, модель BPMN 2.0, а также спецификации Института инженеров электротехники и электроники (Institute of Electrical and Electronics Engineers, IEEE). Интеллектуальные фигуры помогут вам резко повысить производительность, а новые темы и эффекты — быстрее создавать и настраивать схемы, обладающие профессиональным видом.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Динамичные схемы на основе данных
          p Наглядные схемы организационной структуры, ИТ-сети, производственного комплекса и сложных бизнес-процессов, к которым подключены данные, помогут вам мгновенно оценить их эффективность. Фигуры Visio можно подключать к различным источникам данных, включая Microsoft Excel, службы Microsoft Excel, каталог Active Directory, сервер Microsoft SQL Server, среду Microsoft SQL Azure, списки Microsoft SharePoint и службы Business Connectivity Services. Рисунки, связанные с данными, такие как значки, цвета и текст, помогут вам упростить и улучшить наглядное представление сложной информации. Легко подключайте схемы к таблицам Excel и одним щелчком меняйте связанные с данными рисунки.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
    .port
      .row
        .large-15.medium-16.columns  
          h3 Доносите свои идеи до зрителей в наглядном виде
          p Создавайте и демонстрируйте блок-схемы, временные шкалы, карты процессов, схемы организационной структуры, архитектуры ИТ-систем и планы этажей пользователям своей организации через веб-браузер со службами Visio в среде Office 365 или SharePoint. При обновлении исходных данных схемы в браузере также обновляются. Работайте вместе с одной схемой и без труда просматривайте комментарии рецензентов как в Visio, так и в службах Visio. Защищайте схемы с помощью средств управления правами на доступ к данным (IRM), инструментов предотвращения потери данных (DLP) и многофакторной аутентификации.
        .large-9.columns.medium-8
          a(href="./partnership.html").button.large.expanded Узнать больше
  
