.footer {
    background: $primary;
    padding: rem-calc(91 0 75);
    text-transform: uppercase;
    font-weight: 700;
    color: $white;

    p {
        line-height: 1.7;
    }

    &__h3 {
        color: $yellow;
    }

    &__cetera {
        color: $yellow;

        &:hover {
            color: $black;
        }
    }

    &__logo {
        margin-bottom: rem-calc(8);
        margin-top: rem-calc(7);

        img {
            height: rem-calc(41);
        }
    }

    &__link {
        color: $white;
        font-size: rem-calc(24);
        display: inline-block;
        margin-bottom: rem-calc(15);
    }

    &__opt {
        margin-bottom: rem-calc(47);
        text-transform: none;
        font-size: rem-calc(12);
    }
    @include breakpoint(medium down) {
        &__opt {
            margin-bottom: rem-calc(17);
        }
    }
    @include breakpoint(small only) {
        padding-bottom: rem-calc(20);
        padding-top: rem-calc(40);

        &__link {
            font-size: rem-calc(16);
        }
    }
}
