.menu-base {
    display: block;
    margin: 0;
    list-style-type: none;
    padding-top: rem-calc(37);
    text-transform: uppercase;


    &__item {
        display: inline-block;
        @include disable-mouse-outline;
        padding: rem-calc(5 15 5 0);

        &:last-child {
            padding-right: rem-calc(0);
        }

        &.active {
            a {
                color: $red;
            }
        }
    }

    &__link {
        @include disable-mouse-outline;
        padding-bottom: 1rem;
        color: $primary;
        font-size: rem-calc(16);

        img {
            margin-right: rem-calc(14);
            width: rem-calc(32);
        }

        &:focus,
        &:hover {
            color: $red;
        }
    }
    @include breakpoint(medium down) {
        padding-top: rem-calc(10);
    }
    @include breakpoint(small only) {
        &__item {
            padding-right: rem-calc(0);
        }
    }
}
