.pagination {
    text-transform: uppercase;
    font-weight: 700;

    li {
        margin-bottom: rem-calc(10);
    }

    a {
        background-color: $medium-gray;
    }

    .pagination-previous {
        margin-right: rem-calc(30);

        a {
            font-size: rem-calc(16);
            padding: rem-calc(8.5 28);
            border-radius: rem-calc(21 0 0 21);
        }
    }

    .ellipsis {
        color: $secondary;
    }

    .pagination-next {
        margin-left: rem-calc(30);

        a {
            font-size: rem-calc(16);
            padding: rem-calc(8.5 28);
            border-radius: rem-calc(0 21 21 0);
        }
    }
    @include breakpoint(small only) {
        .pagination-next,
        .pagination-previous {
            margin-left: rem-calc(7);
            margin-right: rem-calc(7);
        }
    }
}
