.product {
    margin-bottom: rem-calc(30);
    border: rem-calc(3) solid $medium-gray;
    padding: rem-calc(20 11 7);
    background-color: $white;

    &__img {
        margin-bottom: rem-calc(10);
        height: rem-calc(231);

        img {
            max-height: 100%;
            display: inline-block;
        }
    }

    &__desc {
        line-height: 1.43;
    }

    &__price {
        font-size: rem-calc(24);
        font-weight: 700;
        margin-bottom: rem-calc(17);
    }

    &__btn {
        position: relative;
        padding-right: rem-calc(81);

        i {
            font-size: rem-calc(21);
            position: absolute;
            right: rem-calc(18);
            top: rem-calc(10);
            color: currentColor;
        }

        &:after {
            content: "";
            top: rem-calc(0);
            right: rem-calc(54);
            height: 100%;
            width: rem-calc(5);
            background: $white;
            position: absolute;
        }
    }
    @include breakpoint(large down) {
        &__btn {
            padding-left: rem-calc(10);
            padding-right: rem-calc(50);

            i {
                right: rem-calc(10);
            }

            &:after {
                right: rem-calc(40);
            }
        }
    }
}
