.b-afterback {
  background-color: whitesmoke;
  border: 1px solid white;
  box-shadow: 0 0 5px black;
  padding-bottom: 16px;
}
.b-afterback__about {
  padding-left: 3px;
  padding-top: 26px;
  padding-right: 5px;
}
.b-afterback__title {
  color: #03a9f4;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 7px;
}
.b-afterback__text {
  color: #535353;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.b-afterback__service {
  color: #03a9f4;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: underline;
}
.b-afterback__uslovia {
  padding-top: 26px;
  padding-right: 0;
  padding-left: 5px;
}
.b-afterback__list, .b-afterback__value {
  color: #535353;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  padding-right: 0;
}
.b-afterback__value {
  padding-left: 5px;
  padding-bottom: 14px;
}