.b-block {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.b-block__img {
  padding-left: 1px;
  padding-top: 42px;
}
.b-block__desc {

}
.b-block__title {
  padding-top: 42px;
  padding-left: 0;
}
.b-block__tit-link {
  color: #03a9f4;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
.b-block__text {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  padding-top: 11px;
}
.b-block__date {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto-Light";
  padding-right: 12px;
}
.b-block__day {
  color: #03a9f4;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.4;
}
.b-block__more {
  display: block;
  color: #03a9f4;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.b-block__more-block {
  padding-left: 0;
  padding-bottom: 44px;
}