.b-catalog {
  background-color: #f5f5f5;
  padding-top: 28px;
  padding-right: 40px;
  padding-left: 21px;
}
.b-catalog__block {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding-left: 0px;
  padding-right: 0;
  margin-left: 31px;
  margin-bottom: 27px;
}
.b-catalog__title {
  text-align: center;
  padding-top: 10px;
}
.b-catalog__title-link {
  color: #03a9f4;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
  font-family: "Roboto-Medium";
}
.b-catalog__desc {
  color: #535353;
  padding-left: 46px;
  padding-right: 30px;
  padding-top: 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Roboto-Medium";
}
.b-catalog__img {
  padding-top: 14px;
}

.b-catalog__sravnit-link, .b-catalog__order-link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background: url('../imgs/sprites.png') no-repeat -320px -164px;
  width: 191px;
  height: 46px;
  position: relative;
  top: -123px;
  left: 21px;
  padding-top: 12px;
  text-align: center;
  visibility: hidden;
}
.b-catalog__order-link {
  top: -128px;
}
.b-catalog__delimiter {
  width: 189px;
  height: 1px;
  background-color: #acacac;
  margin-left: 20px;
  margin-top: -112px;
}
.b-catalog__list-svoistv {
  list-style-type: none;
  padding-top: 14px;
  margin-left: 0;
  padding-left: 13px;
  margin-bottom: 0;
}
.b-catalog__list-svoistv-item {
  font-size: 12px;
  line-height: 15px;
  color: #535353;
  font-weight: 400;
  font-family: "Roboto-Medium";
}
.b-catalog__more {
  padding-left: 16px;
}
.b-catalog__more-link {
  font-size: 12px;
  color: #03a9f4;
  font-weight: 700;
}
.b-catalog__price {
  color: #3d3d3d;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 18px;
}
.b-catalog__new-item, .b-catalog__action-item {
  position: relative;
  top: -10px;
  left: 67px;
  width: 92px;
  height: 17px;
  background-color: #43ac6a;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.27);
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
.b-catalog__title_new, .b-catalog__title_action {
  margin-top: -17px;
}
.b-catalog__action-item {
  background-color: #d6071f;
}