.b-error {
  font-family: "Roboto-Regular";
}
.b-error__wrapper {
  background-color: whitesmoke;
}
.b-error__block-link {
  padding-top: 25px;
  padding-bottom: 57px;
}
.b-error__link {
  color: #03a9f4;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  display: block;
  text-align: center;
}
.b-error__no-page {
  color: #3d3d3d;
  font-size: 36px;
  font-weight: 300;
}
.b-error__opacity {
  opacity: 0.5;
}
.b-error__title {
  color: #03a9f4;
  font-family: Roboto;
  font-weight: 700;
  font-size: 43px;
  padding-top: 91px;
  line-height: 1.1;
}
.b-error__span {
  font-size: 76px;
}
.b-error__img {
  padding-top: 74px;
  padding-left: 41px;
}