.b-podbor {
  padding-left: 29px;
}
.b-podbor__wrapper {
  background-color: #f5f5f5;
}
.b-podbor__title {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  font-family: "Roboto-Bold";
  padding-bottom: 12px;
}
.b-podbor__filter-title_temp {
  padding-bottom: 5px;
}
.b-podbor__filter {
  width: 307px;
  background-color: white;
  box-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.3);
  font-family: "Roboto-Bold";
  padding-bottom: 20px;
}
.b-podbor__filter-title {
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  padding-left: 18px;
  padding-top: 7px;
}
.b-podbor__spisok {
    background: url('../imgs/sprites.png') no-repeat -358px -69px;
    width: 20px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.b-podbor__wrap {
  padding-left: 25px;
  position: relative;
  margin-top: 9px;
  margin-left: 20px;
  height: 14px;
}
.b-podbor__filter-variants {
  .b-podbor__inp {
    display:none;
    
  }
  label.b-podbor__checkbox {
    color: #3d3d3d;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    &:after {
      content:'';
      display:block;
      height:11px;
      width:13px;
      background: url(../imgs/input.png);
      background-repeat: no-repeat;
      position:absolute;
      top: 6px;
      left:17px;
      margin-top: 2px;
    }
  }
  label.b-podbor__checkbox_big {
    margin-top: 6px;
  }
  .b-podbor__inp:checked + label:after{
    background: url(../imgs/input_chc.png);
    width:10px;
    height:10px;
    }
}
.b-podbor__wrapper-range {
  width: 270px;
  margin-top: -83px;
}
.b-podbor__dash {
  position: relative;
  top: 8px;
  left: 93px;
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}
.b-podbor__degree {
  position: relative;
  top: -7px;
  left: 163px;
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}
.b-podbor__numb-low, .b-podbor__numb-top, .b-podbor__numb-null {
  color: #bdbdbd;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
}
.b-podbor__numb-low {
  position: relative;
  top: -5px;
  left: 42px;
}
.b-podbor__numb-top {
  position: relative;
  top: -22px;
  left: 255px;
}
.b-podbor__numb-null {
  position: relative;
  top: -39px;
  left: 118px;
}
.b-podbor__show {
  width: 141px;
  height: 45px;
  background-color: #03a9f4;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  margin-left: 25px;
  margin-top: 14px;
}
.b-podbor__sbros {
  width: 133px;
  height: 45px;
  background-color: transparent;
  color: #03a9f4;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}