.b-reverse {
  background: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 20px;
}
.b-reverse__link {
  color: #03a9f4;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: underline;
  padding-left: 53px;
}
.b-reverse__arrow {
  background: url('../imgs/sprites.png') no-repeat -398px -76px;
  width: 7px;
  height: 8px;
  display: inline-block;
  margin-right: 6px;
}