.b-search {
  font-family: "Roboto-Regular";
}
.b-search__wrap {
  background-color: whitesmoke;
}
.b-search__title {
  color: #03a9f4;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  padding-left: 2px;
  padding-top: 43px;
  padding-bottom: 38px;
}
.b-search__form {
  padding-left: 2px;
}
.b-search__input {
  padding-left: 2px;
  padding-right: 8px;
}
input.b-search__inp {
  width: 428px;
  height: 45px;
  background-color: white;
  border: 1px solid #757575;
  color: #535353;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 15px;
}
.b-search__sel {
  width: 106px;
  height: 45px;
  background-color: #757575;
  border: 1px solid #757575;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background: url('../imgs/sel1.png') no-repeat right;
}
.b-search__subm {
  width: 106px;
  height: 45px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #03a9f4;
  margin-left: 10px;
}
.b-search__opt {
  font-size: 14px;
  font-weight: 400;
  color:black;
}
.b-search__finding {
  padding-left: 27px;
  padding-right: 24px;
}
.b-search__block {
  margin-left: 25px;
  border-bottom: 1px solid gainsboro;
  &:first-child {
  border-top: 1px solid gainsboro;
  }
}
.b-search__title_new {
  font-size: 22px;
  line-height: 32px;
}
.b-search__title-wrap {
  padding-top: 13px;
  padding-bottom: 5px;
}
.b-search__text {
  color: #535353;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 40px;
}
.b-search__date{
  color: #8a8989;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 21px;
}
.b-search__way {
  color: #535353;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  float: left;
  width: 4%;
  padding-left: 15px;
}