.b-seminar {
  font-family: "Roboto-Regular";
  background-color: whitesmoke;
}
.b-seminar__sem {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 33px;
}
.b-seminar__title {
  color: #03a9f4;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  padding-left: 64px;
  padding-top: 7px;
  padding-bottom: 20px;
}
.b-seminar__ar-title {
  color: #303030;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 41px;
  padding-bottom: 30px;
}