.b-sphera {
  background-color: #f5f5f5;
  font-family: "Roboto-Bold";
}
.b-sphera__primenenie {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  width: 319px;
  height: 194px;
  background-color: #d9e2e6;
  padding-left: 57px;
  padding-top: 54px;
}
.b-sphera__img {
  border: 1px solid #fff;
}
.b-sphera__img_no-b {
  border-bottom: 0;
}
.b-sphera__img_no-r {
  border-right: 0;
}
.b-sphera__block {
  width: 465px;
  height: 362px;
}
.b-sphera__text-img {
  color: #303030;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  top: -70px;
  background: url('../imgs/sprites.png') no-repeat -313px -12px;
  width: 308px;
  height: 22px;
  visibility: hidden;
  left: 1px;
  padding-left: 57px;
  padding-right: 57px;
}
.b-sphera__img_text {
  width: 310px;
  height: 140px;
}