.b-zagol {
  font-family: "Roboto-Regular";
  padding-bottom: 28px;
}
.b-zagol__title {
  color: #03a9f4;
  font-size: 42px;
  font-weight: 700;
  padding-left: 37px;
  margin-bottom: 0;
}
.b-zagol__tit {
  padding-top: 8px;
}
.b-zagol__date {
  color: #888;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 52px;
  padding-top: 8px;
}
.b-zagol__text {
  color: #4e4e4e;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 52px;
  padding-top: 3px;
  font-family: "Roboto-Medium";
  padding-right: 60px;
  p {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  a {
    color: #03a9f4;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
  }
}
.b-zagol__h2 {
  color: #03a9f4;
  font-size: 36px;
  font-weight: 700;
  line-height: 32px;
}
.b-zagol__article {
  padding-left: 52px;
  padding-top: 0px;
  padding-bottom: 12px;
}
.b-zagol__list-title {
  color: #303030;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding-left: 52px;
  padding-bottom: 27px;
  padding-top: 20px;
}
.b-zagol__list {
  list-style-position: inside;
  padding-left: 30px;
}
.b-zagol__list-item {
  color: #4e4e4e;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto-Medium";
  line-height: 22px;
}
.b-zagol__list-item_unorder {
  padding-left: 7px;
}