.email
  .row
    .large-12.medium-12.medium-centered.columns.text-center.email__title
      | Узнавать про новые решения, услуги, акции и события
  .row
    form
      .columns.large-13.medium-12.medium-centered
        .row
          .large-16.columns
            input(type='email',placeholder='Ваш E-mail').email__input
          .large-8.columns.text-center.large-text-right
            button(type='submit').email__submit Подписаться

