footer.footer
  include _menu
  .row
    .large-6.large-push-0.medium-8.medium-push-16.columns.footer__soc
      ul.social
        li.social__li
          a.social__li-link
            i.fa.fa-vk
        li.social__li
          a.social__li-link
            i.fa.fa-twitter
        li.social__li
          a.social__li-link
            i.fa.fa-instagram
        li.social__li
          a.social__li-link
            i.fa.fa-youtube-play
      .footer__copy
        | © Rainbow Security, 1998-2014
    .large-12.medium-16.large-pull-0.medium-pull-8.columns.footer__address
      | 129343, Россия, Москва
      br
      | Проезд Серебрякова, д. 14.
      br
      | Тел. и факс: (495) 663-23-66, 665-47-01
      br
      a.footer__mail(href="mailto:info@rnbo.ru") info@rnbo.ru
    .large-6.columns.footer__cetera
      | Создание сайта
      a.footer__link(href="http://cetera.ru") Cetera Labs
      a.footer__link.footer__link_error(href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=http%3A%2F%2Fcetera.ru%2F") Сообщить об ошибке



