.care
  .care__slider
    .care__slide
      img(src='./images/care.png',alt='')
      .care__block
        .care__title
          | Заботимся о безопасности вашей информации
        a.care__more(href='#') Подробнее
    .care__slide
      img(src='./images/care.png',alt='')
      .care__block
        .care__title
          | Заботимся о безопасности вашей информации
        a.care__more(href='#') Подробнее
.row.advantages.small-up-1.large-up-3(data-equalizer,data-equalize-on="large" )
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img1.png',alt='')
      .advantages__title
        | Организация и контроль доступа к информационным ресурсам.
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img2.png',alt='')
      .advantages__title
        | Предотвращение утечек данных, защита электронной почты и web-трафика
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img3.png',alt='')
      .advantages__title
        | Предотвращение утечек данных, защита электронной почты и web-трафика
include _line
.row.solution
  .columns
    .solution__slider
      .solution__slide
        .solution__img
          img(src='./images/11.png',alt='')
        .solution__title
          | Решения для цифровой идентификации
      .solution__slide
        .solution__img
          img(src='./images/12.png',alt='')
        .solution__title
          | Решения для защищённого доступа к данным
      .solution__slide
        .solution__img
          img(src='./images/13.png',alt='')
        .solution__title
          | Сетевавя безопасность и обнаружение вторжений
      .solution__slide
        .solution__img
          img(src='./images/14.png',alt='')
        .solution__title
          | Защита систем коммуникации и цифровая идентификация
      .solution__slide
        .solution__img
          img(src='./images/15.png',alt='')
        .solution__title
          | Программно-аппаратные комплексы сетевой безопасности
.row
  .columns.text-center
    a.vendor Наши вендоры
include _long-line
.row.stock
  .columns
    .stock__title АКЦИИ
    a.stock__link Все акции
      i.fa.fa-long-arrow-right
.row.advantages.small-up-1.large-up-3(data-equalizer,data-equalize-on="large" )
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img4.png',alt='')
      .advantages__title.advantages__title_share
        | БЕСПЛАТНО оборудование WatchGuard по акции «Перейди на Красное»!
      .advantages__date
        | с 1 июля по 30 сентября 2014 г
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img5.png',alt='')
      .advantages__title.advantages__title_share
        | СКИДКА для государственных и некоммерческих организаций при покупке решений WatchGuard
      .advantages__date
        | с 1 июля по 30 сентября 2014 г
  .columns.advantages__col
    .advantages__block(data-equalizer-watch)
      .advantages__img
        img(src='./images/img6.png',alt='')
      .advantages__title.advantages__title_share
        | Trade Up — программа модернизации систем безопасности
      .advantages__date
        | с 1 июля по 30 сентября 2014 г
include _line
.row.stock
  .columns
    .stock__title новости
    a.stock__link Все новости
      i.fa.fa-long-arrow-right
.row.news.large-up-3.medium-up-1
  .columns
    .news__block
      .news__text
        | Wibu-Systems и Wincor Nixdorf объединяют усилия для улучшения безопасности розничных банковских услуг
      .news__date 20.02.2016
  .columns
    .news__block
      .news__text
        | WatchGuard объединяет систему защиты для проводных и беспроводных сетей
      .news__cit
        | Теперь единые средства управления
      .news__date 20.02.2016
  .columns.hide-for-small-only.hide-for-medium-only
    .news__block
      .news__text
        | Rainbow Security и компания HID Global примут участие в международной выставке MIPS 2014
      .news__cit
        | Выставка пройдет во Всероссийском выставочном центре с 14 по 17 апреля 2014 года.
      .news__date 20.02.2016
include _long-line
.row
  .large-18.large-centered.columns.text-center.rain
    span.rain__big
     | Rainbow Security успешно защищает от киберпреступников
    | государственные и правительственные организации, финансовые учреждения, промышленные предприятия и коммерческие структуры России и СНГ
.row
  .columns.text-center
    a.vendor Наши услуги
include _email