.top-menu
  .row
    .large-22.medium-20.columns.top-menu__col
      ul.top-menu__list
        each title in ['Решения', 'Услуги', 'Вендоры', 'Акции', 'О компании', 'Контакты']
          li.top-menu__li
            a.top-menu__li-link= title
    .large-2.medium-4.columns.top-menu__order
      a.top-menu__order-link Заказ