include _bread
.secur
  .row
    .large-11.columns.secur__text
      .secur__title
        | Обнаружение и предотвращение вторжений (IDS/IPS)
      p
        | Своевременное обнаружение — залог успеха. Дешевле предотвратить чем чинить.
      p
        | Атаки на информационную сеть существовали всегда, с момента появления первых компьютеров, поскольку, как известно, на любое действие обязательно найдется противодействие. Развитие вычислительных систем влекло за собой совершенствование методов их взлома и «повышение квалификации» злоумышленников.
      a.secur__more Подробнее
.row.stat.large-up-6.medium-up-3.small-up-2
  .columns.stat__block
    .stat__num 690
    .stat__text Довольных клиентов
  .columns.stat__block
    .stat__num.stat__num_1 268
    .stat__text Отбитых атак
  .columns.stat__block
    .stat__num.stat__num_2 450
    .stat__text Городов обслуживания
  .columns.stat__block
    .stat__num.stat__num_3 789
    .stat__text Сигналов вторжений
  .columns.stat__block
    .stat__num.stat__num_4 259
    .stat__text Терабайт под защитой
  .columns.stat__block
    .stat__num.stat__num_5 567
    .stat__text Выезд на объект
include _long-line
.res
  .row
    .columnt.res__title.text-center Решения
  include _line
  .row
    .large-10.columns.large-centered.text-center.res__info
      | Предлагаем вашему вниманию подбор продукции
      br
      | по последним тенденциям в сфери защиты информации
.info
  .row.info__row
    .large-12.columns.text-center.large-text-right.info__col
      img(src='./images/con1.png',alt='')
    .large-12.columns.text-center.large-text-left.info__col
      .info__title
        | Sourcefire FireSIGHT Defence Centers
      .info__text
        | Sourcefire FireSIGHT Defense Center – это мощный и одновременно простой в использовании центр управления сенсорами комплекса Sourcefire 3D System. Предназначен для централизованного сбора, хранения и анализа данных от сенсоров, следящих за попытками сетевых атак.
      a.info__more Подробнее
  .row.info__row.info__row_rev
    .large-12.columns.text-center.large-text-right.info__col
      .info__title
        | Sourcefire FirePOWER Appliances
      .info__text
        | Sourcefire FirePOWER Appliances – это сенсоры, предназначенные для автоматизированного сбора информации о сетевой активности в реальном времени. Сенсор совместим с центром защиты Sourcefire Defense Center.
      a.info__more Подробнее
    .large-12.columns.text-center.large-text-left.info__col
      img(src='./images/con2.png',alt='')
  .row.info__row
    .large-12.columns.text-center.large-text-right.info__col
      img(src='./images/con3.png',alt='')
    .large-12.columns.text-center.large-text-left.info__col
      .info__title
        | Entrust IdentityGuard
      .info__text
        | Entrust IdentityGuard – программная платформа, реализующая разнообразные методы строгой аутентификации пользователей. Являясь решением строгой аутентификации, обеспечивает защищенный доступ к корпоративным и web-приложениям, информационным системам, VPN и другим ресурсам.
      a.info__more Подробнее
  .row.info__row.info__row_rev
    .large-12.columns.text-center.large-text-right.info__col
      .info__title
        | WatchGuard XTM 2050
      .info__text
        | Виртуальные решения WatchGuard XTMv обеспечивают непревзойденный уровень гибкости при внедрении. Решения WatchGuard XTMv могут быть развернуты в системах, которые содержат как аппаратные, так и виртуальные среды, и могут централизованно управляться из единой централизованной консоли управления.
      a.info__more Подробнее
    .large-12.columns.text-center.large-text-left.info__col
      img(src='./images/con4.png',alt='')
  .row.info__row
    .large-12.columns.text-center.large-text-right.info__col
      img(src='./images/con5.png',alt='')
    .large-12.columns.text-center.large-text-left.info__col
      .info__title
        | WatchGuard XTMv
      .info__text
        | Межсетевые экраны WatchGuard NGFW обеспечивают высокую скорость обработки и фильтрации трафика. Позволяют создавать VPN туннели методом «Drag & Drop», создавать клиентские SSL и IPSec VPN подключения. Позволяют легко следить за трафиком пользователей, состоянием сети и соблюдением политик безопасности в режиме реального времени.
      a.info__more Подробнее
include _long-line
.res
  .row
    .columnt.res__title.text-center Похожие Решения
  include _line
  .row
    .large-10.columns.large-centered.text-center.res__info
      | С этим товаром просматривают,а также лучшие предложения и рекомендуемые решения.
.row.scr.medium-up-3.small-up-1
  .columns.scr__col
    a
      .scr__block
        img(src='./images/i1.png',alt='')
        .scr__text.text-center
          | Межсетевой экран с сервисами безопасности
  .columns.scr__col
    a
      .scr__block
        img(src='./images/i2.png',alt='')
        .scr__text.text-center
          | Межсетевой экран с сервисами безопасности
  .columns.scr__col
    a
      .scr__block
        img(src='./images/i3.png',alt='')
        .scr__text.text-center
          | Межсетевой экран с сервисами безопасности
include _email

