.background-primary.hide-for-small-only(data-toggler=".hide-for-small-only")#menu: .grid-container.position-relative: .grid-x.grid-padding-x
  .cell.large-18
    ul.menu-base.text-center.medium-text-left
      li.menu-base__item
        a(href="#").menu-base__link.menu-base__link_cat
          img(src="./images/card.svg", alt="").menu-base__img
          | Каталог
        .menu-base__block  
          .grid-x
            .cell.large-16.medium-12
              ul.cat.grid-x.grid-padding-x.large-up-2
                li.cat__item.cell
                  a(href="#").cat__link Предметно-развивающая среда ДОУ (ФГОС)
                li.cat__item.cell
                  a(href="#").cat__link Цифровые лаборатории Data Harvest
                  ul.cat.cat_nested
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Устройства сбора и обработки данных
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Датчики SmartQ 
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Датчики Vu
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Интерфейсы сбора данных
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Комплекты датчиков
                li.cat__item.cell 
                  a(href="#").cat__link Системы хранения Gratnells для образовательных учреждений
                li.cat__item.cell
                  a(href="#").cat__link Пособия для языковых центров
                li.cat__item.cell
                  a(href="#").cat__link Учебные пособия для начальной школы
                  ul.cat.cat_nested
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Устройства сбора и обработки данных
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Датчики SmartQ 
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Датчики Vu
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Интерфейсы сбора данных
                    li.cat__item.cat__item_nested
                      a(href="#").cat__link.cat__link_nested Комплекты датчиков
                li.cat__item.cell
                  a(href="#").cat__link Учебные пособия для средней школы
                
                li.cat__item.cell
                  a(href="#").cat__link Интерактивные лаборатории
                li.cat__item.cell
                  a(href="#").cat__link Азы робототехники и программирования
                li.cat__item.cell
                  a(href="#").cat__link СПЕЦПРЕДЛОЖЕНИЯ

      li.menu-base__item
        a(href="#").menu-base__link.menu-base__link_about О компании
      li.menu-base__item
        a(href="#").menu-base__link Дилерам
      li.menu-base__item
        a(href="#").menu-base__link Где купить
      li.menu-base__item
        a(href="#").menu-base__link Контакты
  .cell.large-6.medium-12.medium-offset-6.large-offset-0      
    .input-group.input-group_top
      input.input-group-field(type='text',placeholder="Поиск")
      .input-group-button
        button(type="submit").input-group__btn
          i.fa.fa-search
