
p.text-size-large Увлекательное обучение основам логики и программирования для детей дошкольного и младшего школьного возраста

div: b Область:
ul
    li Познавательное развитие
    li Социально-коммуникативное развитие
    li Художественно-эстетическое развитие
    li Речевое развитие

p Этот комплект был специально разработан, чтобы заинтересовать и увлечь детей такими областями как: наука, технологии, инженерия и математика (STEM). Будущие ученые самостоятельно составляют программу движения Робомыши по лабиринту к сыру
div #[b Робомышь обеспечивает реальное С.Т.Е.М. обучение для детей] дошкольного и младшего школьного возраста основным концепция программирования:
ul
    li Пошаговое программирование
    li Логика
    li Развивает навыки критического мышления
    li Идеальное средство для групповой деятельности

div: b Набор включает в себя:
ul
    li 16 пластмассовых деталей, чтобы создать квадратное поле площадью 50 кв.см
    li 25 плиток для создания дорожек
    li Карточки для создания последовательности пути мыши к сыру
    li Многоязычное руководство
