
div: strong Особенности:
ul
  li 3+
  li Развивает усидчивость и мелкую моторику.
  li Помогает в развитии речи.
  li Декорации и героев можно шить, рисовать, лепить, клеить самостоятельно.
  li Развивает творческий потенциал и пространственное воображение.
  li Активный познавательный интерес к окружающему миру.
  li Легко собирается и разбирается (мобильный).
  li Демонстрирует механизм работы театра.
  li Удобный чемодан для хранения.
