.grid-x.grid-padding-x
    .small-24.medium-12.cell
        .margin-bottom-6
            | #[i.fa.fa-credit-card-alt] #[b Оплата]:
            br
            | Картой на сайте или наличными дилеру
    .small-24.medium-12.cell
        .margin-bottom-6
            | #[i.fa.fa-truck] #[b Доставка]:
            br
            | Самовывоз или доставка транспортной компанией
            br
            a(href='#' title='') Тарифы на доставку
