table
    colgroup
        col(style='width: 50%')
        col(style='width: 50%')
    tr
        td Артикул
        td SCNS LER 2840
    tr
        td Производитель
        td Learning Resources
    tr
        td Возрастная группа
        td 5-9 лет
    tr
        td Размеры Робомыши (Д×Ш×В)
        td 7,5×3×2,5 см
    tr
        td Размеры готового поля для мыши
        td 50 кв.см
    tr
        td(colspan='2') Робомышь требует 3 батарейки ААА (не включены)
    tr
        td(colspan='2') Дополнительные мышь приобретается отдельно: #[a(href='') Дополнительная Робомышь (арт. LER 2841)]