ul
    li: a(href='shop-catalog-designer.html') Каталог(дизайнер)
    li: a(href='shop-product-regular-designer.html') Товар для физ лиц(дизайнер)
    li: a(href='shop-product-designer-2.html') Товар для дилеров(дизайнер)
    li: a(href='shop-index.html') Главная
    li: a(href='shop-catalog-lines.html') Раздел каталога
    li: a(href='shop-product.html') Товар (для дилеров)
    li: a(href='shop-product-regular.html') Товар (для физ. лиц)
    li: a(href='shop-cart.html') Корзина
    li.margin-bottom-6: a(href='shop-wishlist.html') Любимые товары
    li: a(href='shop-search-text.html') Результаты текстового поиска
    li.margin-bottom-6: a(href='shop-search-catalog.html') Результаты поиска по товарам

    li: a(href='shop-user-login.html') Авторизация
    li: a(href='shop-user-registration.html') Регистрация
    li: a(href='shop-user-recover.html') Восстановление пароля
    li: a(href='shop-user-personal.html') Личный кабинет
    li: a(href='shop-user-edit.html') Редактирование личных данных
    li: a(href='shop-user-subscription.html') Управление подпиской
    li: a(href='shop-order-make.html') Оформление заказа
    li: a(href='shop-order-confirmation.html') Завершение заказа
    li: a(href='shop-orders.html') Список заказов
    li.margin-bottom-6: a(href='shop-order.html') Страница заказа

    li: a(href='contacts.html') Контакты
    li: a(href='dealers-map.html') Где купить
    li: a(href='about.html') О компании
    li: a(href='news.html') Новости
    li: a(href='news-article.html') Статья
    li: a(href='brand.html') Бренд
    li.margin-bottom-6: a(href='teaching-aids.html') Методические материалы
    li: a(href='shop-support.html') Ваши вопросы
    li: a(href='shop-regular.html') Текстовая рядовая

    li: a(href='shop-error.html') Страница ошибки
