#add-product-comment.reveal(data-reveal)
  h2 Добавить свой отзыв

  form

    label Ваша оценка объекта
    p
      span.rating
        span.rating__star
        span.rating__star
        span.rating__star
        span.rating__star
        span.rating__star

    label Текст отзыва *
    textarea(rows='3')

    button.button.primary Отправить отзыв

  button.close-button(data-close aria-label="Закрыть")
    span(aria-hidden="true") &times;
