#find-error.reveal(data-reveal)
  h2 Форма сообщения об ошибке

  form
    label 
      | Введите описание ошибки
      textarea(rows='2')
    button.button.primary Отправить

  button.close-button(data-close aria-label="Закрыть")
    span(aria-hidden="true") &times;
