mixin _faq-answer
  ul
    li Оптовая компания RusBaby работает только с юридическими лицами и индивидуальными предпринимателями.
    li Для оформления первого заказа нужно предоставить необходимые документы для заключения договора (полный список документов предоставит менеджер) .
    li Для заключения договора с ИП необходимо предоставить копию паспорта и учредительные документы.
    li Минимальная сумма заказа 50 000 рублей. Для интернет-магазинов сумма считается за месяц.
    li Цены на сайте можно увидеть после регистрации и авторизации пользователя.
    li Цены на сайте и в оптовых прайсах указаны без учета личных скидок за объем.
    li На товары собственных торговых марок установлены рекомендованные розничные цены для продажи в интернете.
    li При несоблюдении рекомендованных розничных цен клиентом компания приостанавливает отгрузки.
    li Доставка заказа может быть осуществлена любым удобным способом для клиента – самовывоз или доставка нами заказа до ТК.
    li Заказы доставляются до любой выбранной клиентом ТК.
    li Срок доставки заказа до ТК от 1 до 3 дней после подтверждения заказа.
    li Заказы можно сформировать поштучно, за исключением некоторых позиций (если товар подразумевает упаковку из нескольких единиц).
    li На все товары компании предоставляется гарантия до 6 месяцев.
