mixin news(img,text)
  .columns.news
    .row
      .small-7.columns.text-center
        p
          img(src="./images/" + img, alt="")
      .small-17.columns
        strong= text
        .news__date 17.01.2017
