.aside-cat {

  border-radius: rem-calc(0 0 6 6);
  padding: rem-calc(20) rem-calc(18);
  position: relative;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: rem-calc(10) solid transparent;
    border-right: rem-calc(10) solid transparent;
    border-bottom: rem-calc(10) solid $green;
    position: absolute;
    left: calc(50% - 10px);
    top: rem-calc(-11);
  }
}
