.project-showcase {
  margin-bottom: rem-calc(40);
  &__advantages {
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    @include breakpoint(small only) {
      border-radius: 0;
      padding: 1rem;
    }
    &__item {
      text-align: center;
      &__img {
        display: inline-block;
        img {
          height: rem-calc(80);
          margin-bottom: 1rem;
        }

      }
      &__desc {
        font-size: 1.25rem;
        color: darken($medium-gray,10);
        line-height: 1.25;
        span {
          display: block;
          margin-top:0.5rem;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
}