.autor {
  &:first-letter {
    text-transform: uppercase;
    font-size: rem-calc(52);
    color: $secondary;
    font-weight: 700;
    float: left;
    line-height: .9;
    margin-right: rem-calc(12);
  }
}
