.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 rem-calc(3) 0 #2c8c00;
    font-family: 'Roboto Condensed', sans-serif;

    &.large {
        box-shadow: 0 rem-calc(5) 0 #2c8c00;
        padding-top: rem-calc(17);
        padding-bottom: rem-calc(17);
    }

    &.hollow {
        color: $green;
        border-radius: 0;
        border-color: $green;
        box-shadow: none;

        &:hover {
          border-color:$green;
            background: $green;
            color: $white;
        }
    }
    @include breakpoint(small only) {
        &.large {
            font-size: rem-calc(20);
        }
    }
}
