.cat {
    list-style-type: none;
    margin-left: rem-calc(0);
    margin-bottom: rem-calc(0);
    font-family: "Roboto Condensed",sans-serif;
    margin-top: rem-calc(25);

    &__item {
        margin-left: rem-calc(42);
        display: inline-block;
        position: relative;
        margin-bottom: rem-calc(5);

        &.active {
            a {
                color: $green;
            }

            &:after {
                width: rem-calc(30);
                height: rem-calc(2);
                background: $green;
                left: rem-calc(0);
                position: absolute;
                bottom: rem-calc(-3);
                content: "";
            }
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: rem-calc(18);
        font-weight: 700;
        text-decoration: none;
        color: $black;

        &:hover {
            color: $green;
        }
    }
    @include breakpoint(medium down) {
        margin-top: rem-calc(0);

        &__item {
            margin-left: rem-calc(20);
        }
    }
    @include breakpoint(small only) {
        &__item {
            margin-left: rem-calc(10);
            margin-right: rem-calc(10);
        }
    }
}
