.footer {
    padding-top: rem-calc(23);
    background: $black;
    color: $white;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: rem-calc(20);

    &__copy {
        margin-bottom: rem-calc(73);
    }

    &__cetera {
        margin-bottom: rem-calc(5);
    }

    &__div {
        padding-top: rem-calc(11);
        padding-bottom: rem-calc(12);
    }

    &__info {
        margin-bottom: rem-calc(8);
    }

    &__hr {
        border-bottom: rem-calc(1) dotted #493f48;
    }

    &__call {
        display: inline-block;

        &_top {
            margin-top: rem-calc(10);
        }
    }

    &__span {
        margin-left: rem-calc(14);
    }

    &__tel {
        color: $white;
        text-decoration: none;
        display: block;
    }
    @include breakpoint(medium down) {
        &__copy {
            margin-bottom: rem-calc(12);
        }
    }
}
