.packetville {
    list-style-type: none;
    margin-left: rem-calc(0);
    margin-bottom: rem-calc(0);
    margin-top: rem-calc(7);

    &__item {
        display: inline-block;
        margin-left: rem-calc(21);
        padding-bottom: rem-calc(8);
    }

    &__link {
        color: $medium-gray;
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: 400;
        text-decoration: none;
    }
    @include breakpoint(medium down) {
        &__item {
            margin-left: rem-calc(10);
            margin-right: rem-calc(10);
        }
    }
}
