.sack {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: rem-calc(18);
    color: $secondary;
    font-weight: 700;
    margin-bottom: rem-calc(26);

    &__img {
        line-height: rem-calc(224);
        max-height: rem-calc(224);
    }

    &:hover {
        color: $orange;
    }
    @include breakpoint(large down) {
        font-size: rem-calc(16);
    }
}
