.silk {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: rem-calc(30);
    font-weight: 400;
    position: relative;

    &__title {
        font-size: rem-calc(42);
        font-weight: 700;
        line-height: 1;
    }

    &__block {
        top: rem-calc(40);
        position: absolute;
        left: 35%;
        width: calc(65% - 26px);
    }
    @include breakpoint(medium down) {
        font-size: rem-calc(23);

        &__title {
            font-size: rem-calc(30);
        }

        &__block {
            top: rem-calc(0);
            position: relative;
            left: rem-calc(0);
            width: 100%;
        }
    }
}
