.type {
    border-left: rem-calc(1) dotted #93a4aa;

    &__title {
        font-size: rem-calc(18);
        font-weight: 400;
        color: $orange;
    }

    &__img {
        margin-bottom: rem-calc(55);
    }

    &__main {
        padding-left: rem-calc(20);
    }
    @include breakpoint(medium down) {

        &__main {
            padding-left: rem-calc(0);
        }
        &__img {
          margin-bottom: rem-calc(30);
        }
    }
}
