mixin long-news(cat)  
  .fridge__main
    .news.news_single
      a(href="#").news__category= cat
      .news__date 3 ноября, 2016
      .like
        a(href="#").like__link 
          i.fa.fa-heart.fa-fw
          |&nbsp;133
        a(href="#").like__link 
          i.fa.fa-comments.fa-fw
          |&nbsp;133
      a(href="#").news__title.news__title_big Заголовок новости или публикации, в одну строку, во всю длину
      .news__text Претензий к Дегтяреву накопилось достаточно, одна из которых — "вечный" ремонт "Полариса". Масла в огонь добавили и последние жалобы курильчан: на встрече с губернатором они заявили о неких поборах, которыми страдают областные перевозчики... 
  hr    
