mixin short-news(text)
  hr
  .news
    .news__date 3 ноября, 2016
    .like
      a(href="#").like__link 
        i.fa.fa-heart.fa-fw
        |&nbsp;133
      a(href="#").like__link 
        i.fa.fa-comments.fa-fw
        |&nbsp;133
    a(href="#").news__title= text
