mixin video(text)
  .columns.video.text-center.large-text-left
    .video__img.text-center
      a(href="#")
        img(src="./images/video.png", alt="")  
    a(href="#").video__title= text
    .video__tags ТВ, фильмы, шоу
    a(href="#").video__tags tvigle.ru  
    span.video__time
      | | 8 часов назад
