mixin mini-news(cat)
  .news
    div
      a(href="#").news__category= cat
    .news__date 3 ноября, 2016
    include ../common/_like
    a(href="#").news__title Заголовок новости или статьи пару строк
  
