mixin long-news(cat)  
  .news.news_high
    a(href="#").news__category= cat
    .news__date 3 ноября, 2016
    include ../common/_like
    a(href="#").news__title.news__title_big Перестанут ли россиянки рожать в США
    .news__text Претензий к Дегтяреву накопилось достаточно, одна из которых — "вечный" ремонт "Полариса". Масла в огонь добавили и последние жалобы курильчан: на встрече с губернатором они заявили о неких поборах, которыми страдают областные перевозчики... 
  hr    
