.send {
  background: #F7F9F9;
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(80);
  color: $secondary-color;

  &__submit {
    padding-top: rem-calc(30);
  }

  &__label {
    text-transform: uppercase;
    margin-bottom: rem-calc(7);
    color: #B2C8C7;
    font-size: rem-calc(18);
  }

  &__title {
    font-size: rem-calc(27);
    color: $primary-color;
    margin-bottom: rem-calc(15);
    font-weight: 500;
  }
}
