.solution {
  font-size: rem-calc(16);
  color: $dark-gray;
  margin-bottom: rem-calc(50);

  &__icon {
    position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
    & > svg {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }

    circle {
      animation: leaves 5s ease-in-out infinite alternate;
      position: relative;
    }
  }
  @keyframes leaves {
    0% {
      transform: scale(1);
      left: rem-calc(0);
      top: rem-calc(0);
    }

    100% {
      left: rem-calc(-5);
      top: rem-calc(-5);
      transform: scale(1.2);
    }
  }

  &__text {
    padding-right: rem-calc(50);
  }

  &__title {
    font-weight: 500;
    color: $primary-color;
    font-size: rem-calc(19);
    margin-bottom: rem-calc(7);
  }
  @include breakpoint(xlarge down) {
    &__text {
      padding-right: rem-calc(0);
    }
  }
}
