.user {
  margin-bottom: rem-calc(10);

  &__img {
    background: #bbb;
    width: rem-calc(45);
  }

  &__title {
    color: $quaternary;
    font-weight: 500;
  }

  &__date {
    color: $dark-gray;
  }
}
