.address {
  @include breakpoint(medium down) {
    font-size: rem-calc(13);
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(9);

    &_data {
      padding: rem-calc(11) rem-calc(0);
      margin-bottom: rem-calc(0);
    }

    &_border {
      padding: rem-calc(8) rem-calc(11);
      border-top: rem-calc(1) solid $dirt;
      border-bottom: rem-calc(1) solid $dirt;
    }

    &_first {
      padding: rem-calc(8) rem-calc(11);
      border-top: rem-calc(1) solid $dirt;
      margin-bottom: rem-calc(0);
    }

    &_last {
      padding: rem-calc(8) rem-calc(11);
      border-top: rem-calc(1) solid $dirt;
      border-bottom: rem-calc(1) solid $dirt;
      margin-bottom: rem-calc(0);
    }

    &__link {
      font-size: rem-calc(16);

      &:before {
        content: "";
        position: relative;
        width: rem-calc(16);
        margin-top: rem-calc(4);
        height: rem-calc(15);
        display: inline-block;
        float: left;
        margin-right: rem-calc(10);
        background: url($imagesPath +"/chevron-red.svg")no-repeat center;
        background-size: contain;
      }

      &_right {
        &:before {
          float: right;
          transform: rotate(180deg);
          margin-right: rem-calc(0);
          margin-left: rem-calc(10);
        }
      }

      &_center {
        font-size: rem-calc(14);
        padding-top: rem-calc(2);
        padding-bottom: rem-calc(3);
        display: inline-block;

        &:before {
          display: none;
        }

        &:after {
          content: "";
          position: relative;
          width: rem-calc(13);
          top: rem-calc(2);
          height: rem-calc(14);
          display: inline-block;
          margin-left: rem-calc(4);
          background: url($imagesPath +"/chevron-red.svg")no-repeat center;
          background-size: contain;
          transform: rotate(180deg);
        }
      }

      &_small {
        font-size: rem-calc(14);
      }
    }
  }
}
