.bag {
  position: relative;
  margin-bottom: rem-calc(18);

  &__hr {
    border-bottom: rem-calc(1) solid #d8d8d8;
  }

  &__item {
    font-weight: 700;
  }
  @include breakpoint(medium down) {
    font-size: rem-calc(13);

    &__price {
      font-size: rem-calc(16);
    }
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(9);

    &__desc {
      margin-bottom: rem-calc(8);
    }

    &__count,
    &__item {
      color: $dark-gray;
      font-weight: 400;
    }

    &__price {
      margin-bottom: rem-calc(0);
      font-size: rem-calc(13);
    }

    &__count {
      position: relative;

      &:before {
        position: absolute;
        content: "x";
        font-size: rem-calc(13);
        color: $dark-gray;
        left: rem-calc(-8);
        top: rem-calc(0);
      }
    }
  }
}
