.bandage {
  display: inline-block;
}

.bandage__wrapper {
  margin-bottom: 1rem;
}

.bandage__last-size {
  color: #a52468;
  margin: 0 1rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 13px;
  color: #777;

  &:hover {
    color: #a52468;
  }

  & input {
    vertical-align: sub;
    margin-bottom: 1.5rem;
  }
}

