.bandage {
  display: inline-block;

  &__wrapper {
    margin-bottom: 1rem;
  }

  &__last-size {
    color: $primary-color;
    margin: 0 1rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 13px;
    color: #777;

    &:hover {
      color: $primary-color;
    }

    & input {
      vertical-align: sub;
      margin-bottom: 1.5rem;
    }
  }
  @include breakpoint(small only) {
    width: 100%;
    border-bottom: rem-calc(1) solid $dirt;
    padding-top: rem-calc(7);
    padding-bottom: rem-calc(8);

    &_last {
      border-bottom: rem-calc(0);
      margin-bottom: rem-calc(20);
    }

    &__info {
      padding-top: rem-calc(2);
      float: left;
      width: 60%;
      color: $dark-gray;
      font-size: rem-calc(16);
    }

    .button {
      margin-bottom: rem-calc(0);
      padding-left: rem-calc(0);
      width: 40%;
      float: left;
      text-align: left;
      margin-right: rem-calc(0) !important;
      color: $black !important;
      font-size: rem-calc(16) !important;
      border: rem-calc(0) !important;
    }
  }
}
