.bat {
  background: $primary-color url($imagesPath +"/caret-left.svg")no-repeat rem-calc(20) center;
  text-transform: uppercase;
  font-size: rem-calc(12);
  padding-top: rem-calc(13);
  padding-right: rem-calc(30);
  padding-left: rem-calc(47);

  &:hover {
    background: $primary-color url($imagesPath +"/caret-left.svg")no-repeat rem-calc(12) center;
    text-transform: uppercase;
  }
}
