.booking {
  border-radius: 2rem;
  background-color: $primary-color;
  color: $white;
  display: inline-block;
  font-size: rem-calc(22);
  padding: rem-calc(17 102 18);
  vertical-align: top;
  text-align: center;
  text-shadow: rem-calc(1 1 0) rgba(0, 0, 0, 0.2);

  &:hover {
    color: $grey;
  }

  &:focus {
    color: $white;
  }
}
