.brands {}
.brands__line {
  padding-top:rem-calc(15);
  padding-bottom:rem-calc(15);
  border-bottom: 1px solid #eee;
}
.brands__letter {
  font-size: 32px;
  line-height: 40px
}
.brands__link {
  display: block;
  color: #000;
  text-decoration: underline
}
.brands__link:hover {
  text-decoration: none
}
.brands__index {

}
.brands__index-list {
  list-style: none;
}
.brands__index-item {
  margin-right: rem-calc(5);
  display: inline-block;
}
.brands__index-link {
  color: #000;
  font-size: 18px;
  line-height: 24px;

  &:hover {
    color: #DD1C49;
  }
}
