.button {
  @include breakpoint(medium down) {
    &_brand {
      font-size: rem-calc(12);
      padding-bottom: rem-calc(6);
      padding-top: rem-calc(6);
    }
  }
  @include breakpoint(small only) {
    &.expanded {
      padding-left: rem-calc(5);
      padding-right: rem-calc(5);
    }
    &.dry {
      border-color: $primary-color;
      background: none;
      color: $primary-color;
      &:hover {
        background: $primary-color;
        color: $white;
      }
    }
    &.large {
      font-size: rem-calc(14);
    }
  }
}
