.callout {
  &__sum {
    font-size: rem-calc(35);
    line-height: 1;
  }
  @include breakpoint(small only) {
    &_empty {
      border: rem-calc(0);
      line-height: 1;
      padding: rem-calc(0); margin-bottom: rem-calc(18);
    }

    &__price {
      line-height: 1;
    }

    &__sum {
      font-size: rem-calc(28);
    }
  }
}
