.cart-item:not(:last-child) {
  border-bottom: rem-calc(1) solid $light-gray;
}

.cart-item {
  margin-bottom: 2rem;
  &__btn
  {
    color: $primary-color !important;
    border-color: $primary-color !important;
  }

  &__through {
    text-decoration: line-through;
  }

  &__offer {
    font-size: rem-calc(19);
    font-weight: 700;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 0.62rem;
  }

  &__description {
    font-weight: 700;
    margin-bottom: 0.62rem;
  }

  &__sku {
    font-size: rem-calc(12);
    font-style: italic;
  }

  &__label {
    font-size: rem-calc(12);
    display: block;
    margin-bottom: 0.4rem;
    color: grey;
    margin-top: -2px;
  }

  &__price {
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: 1.8;
  }

  &__discount {
    font-size: rem-calc(12);
    font-weight: 400;
    color: grey;
  }

  &__total-cost {
    font-weight: 700;
    font-size: rem-calc(16);
  }

  .input-group {
    &-button:first-child button {
      border-radius: 5px 0 0 5px;
    }

    &-button:last-child button {
      border-radius: 0 5px 5px 0;
    }

    &-button button {
      background: $red;
    }

    &-field {
      border-color: #f7f7f7;
      text-align: center;
    }
  }



  &__deletelink {
    margin-top: 1.6rem;
  }
  @include breakpoint(medium down) {
    &__total-cost {
      margin-bottom: rem-calc(14);
    }

    &__price {
      line-height: 1.4;
      margin-bottom: rem-calc(7);
    }
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(13);

    &_last {
      margin-bottom: rem-calc(0);

      &:not(:last-child) {
        border-bottom: rem-calc(1) solid $dirt;
      }
    }

    &__through {
      font-size: rem-calc(13);
      color: $dark-gray;
    }

    &__offer {
      font-size: rem-calc(16);
    }

    &__deletelink {
      font-size: rem-calc(13);
      padding: rem-calc(6) rem-calc(10) rem-calc(7);
      margin-top: rem-calc(0);
      margin-bottom: rem-calc(0);
    }

    .input-group-button .button {
      padding: rem-calc(5) rem-calc(9) rem-calc(6);
    }

    &__info {
      margin-bottom: rem-calc(15);
    }

    &__price {
      font-size: rem-calc(15);
      margin-bottom: rem-calc(0);
    }

    &__label {
      margin-bottom: rem-calc(0);
    }

    &__size {
      margin-bottom: rem-calc(9);
    }

    &__description {
      font-size: rem-calc(13);
    }

    .input-group-field {
      padding-left: rem-calc(0);
      padding-right: rem-calc(0);
      font-size: rem-calc(15);
    }
  }
}



.cart {
  &-footer {
    padding-top: rem-calc(21);
    &__btn {
      background: none;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
  @include breakpoint(small only) {
    &-footer {
      .input-group  {
        margin-bottom: rem-calc(11);
      }
      padding-top: rem-calc(0);
      &__btn
      {
        background: $primary-color;
        color: $white;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);

      }
      .input-group-field {
        height: rem-calc(36);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        border-radius: rem-calc(3 0 0 3);
        font-size: rem-calc(13);
      }
    }
  }
}
