.cart-item:not(:last-child) {
  border-bottom: rem-calc(1) solid $light-gray;
}
.cart-item {
  margin-bottom: 2rem;
  &__title {
    font-weight: 700;
    margin-bottom: 0.62rem;
  }
  &__description {
    font-weight: 700;
    margin-bottom: 0.62rem;
  }

  &__sku {
    font-size: rem-calc(12);
    font-style: italic;
  }

  &__label {
    font-size: rem-calc(12);
    display: block;
    margin-bottom: 0.4rem;
    color: grey;
    margin-top: -2px;
  }

  &__price {
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: 1.8;
  }

  &__discount {
    font-size: rem-calc(12);
    font-weight: 400;
    color: grey;
  }
  &__total-cost {
    font-weight: 700;
    font-size: rem-calc(16)
  }
  .input-group {
    &-button:first-child button {
      border-radius: 5px 0 0 5px;
    }
    &-button:last-child button {
      border-radius: 0 5px 5px 0;
    }
    &-button button {
      background: $red;
    }
    &-field {
      border-color: #f7f7f7;
      text-align: center;
    }
  }
  &__btn {
    color: $red !important;
    border-color: $red !important;
    &:hover {
      color: darken($red, 10) !important;
      border-color: darken($red, 10) !important;
    }
  }
  &__deletelink {
    margin-top: 1.6rem;
  }
}

.cart-footer {}
.cart-footer__btn {
  @extend .cart-item__btn;
}
