.checkout_form {}

.checkout_form__notice {
font-size: rem-calc(12);
}

.checkout-form__delivery-pickpoints {
  display: none;
}

.show-pickpoints .checkout-form__delivery-pickpoints {
  display: block;
}

.show-pickpoints .checkout-form__delivery-address {
  display: none;
}
  @include breakpoint(medium down) {
    .checkout_form__notice {
      font-size: rem-calc(11);
    } }
