.collar {
    padding-top: 10px;
    color: #000;
    margin-bottom: 20px;

    &__name {
        font-size: 22px;
    }

    &__price {
        font-size: 32px;
        display: inline-block;
        margin-top: 3px;
        line-height: 1;
        padding-right: 8px;
        margin-bottom: 12px;
    }

    &__through {
        text-decoration: line-through;
        color: #666;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 12px;
    }

    &__choose {
        font-size: 14px;
        line-height: 1.6;
    }

    &__color {
        border-radius: 4px;
        width: rem-calc(35);
        display: inline-block;
        margin-right: rem-calc(9);
        height: 35px;
        margin-top: rem-calc(12);
        background-color: #60a2fc;
		border: 1px solid black;

        &_yellow {
            background-color: #fceb60;
        }

        &_gray {
            background-color: #656067;
        }

        &_black {
            background-color: #090909;
        }
    }

    &__select {
        font-size: 14px;
        color: #939393;
        height: 38px;
        border: 1px solid #939393;
        padding-left: 16px;
        background: #fff url(../images/chevron-down.svg)no-repeat calc(100% - 13px) center;
        margin-bottom: 11px;
    }

    &__button {
        background-color: $red;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 9px;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: rem-calc(20);
        color: white;

        &:hover {
            background: $redHover;
            color: #fff;
        }
        &:focus {
            color: #fff;
        }

        &:before {
            margin-right: 10px;
            content: "";
            display: inline-block;
            width: 15px;
            height: 14px;
            background: url("../images/shopping-cart.svg") no-repeat;
        }
    }

    &__best {
        color: $red;
        font-size: 14px;
        position: relative;
        bottom: 9px;
        display: block;
        text-decoration: underline;

        &:hover {
            color: $black;
        }
    }

    &__heart {
        display: inline-block;
        margin-left: rem-calc(-30);
        position: absolute;

        path {
            fill: $red;
        }
    }

    &__size {
        text-decoration: underline;
        color: $red;
        font-size: 14px;

        &:hover {
            color: $black;
        }
    }

    &__brand {
        display: inline-block;
        margin: 0 auto 5px;
    }
}
