.corrector {
  &__slide {
    padding: rem-calc(3);

    img {
      &:hover {
        outline: rem-calc(1) dashed black;
        cursor: pointer;
      }
    }
  }

  .slick-next {
    background: rgba(0,0,0,0.2) url($imagesPath + "/chevron-right.svg") no-repeat scroll center center/30px auto;
    height: 42px;
    width: 42px;
    border-radius: 3px;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }

  .slick-prev {
    background: rgba(0,0,0,0.2) url($imagesPath + "/chevron-left.svg") no-repeat scroll center center/30px auto;
    height: 42px;
    width: 42px;
    border-radius: 3px;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }
    @include breakpoint(small only) {
    margin-bottom: rem-calc(30); }
}
