.dinghy {
    @include breakpoint(medium down) {
        background-image: none!important;
    }

    &__img {
        position: relative;
    }

    &__price {
        font-size: rem-calc(18);
        font-family: 'PTSerif', serif;
    }

    &__text {
        position: absolute;
        left: rem-calc(-100);
        bottom: rem-calc(0);
    }
}
