.dress {
    color: #000;

    &__text {
        font-size: rem-calc(14);
        margin-bottom: rem-calc(23);
    }

    &__inp {
        color: #666;
        margin-bottom: rem-calc(3);
    }

    &__info {
        margin-bottom: rem-calc(30);
    }

    &__val {
        margin-bottom: rem-calc(3);
    }

    &__also {
        font-weight: bold;
    }

    &__link {
      color: $red;
        text-decoration: underline;
        margin-bottom: rem-calc(5);
        display: block;
        font-weight: 400;
    }
}
