.fieldset {
  @include breakpoint(medium down) {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    font-size: rem-calc(13);
    margin-bottom: rem-calc(10);

    &_data {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }

    label {
      font-size: rem-calc(13);
    }

    &__title {
      font-weight: 600;
    }
  }
  @include breakpoint(small only) {
    margin-top: rem-calc(10);
    padding-left: rem-calc(10.5);
    padding-right: rem-calc(10.5);

    &_data {
      margin-top: rem-calc(0);
      border: rem-calc(0);
      padding: rem-calc(0);
      margin-bottom: rem-calc(0);
    }

    &_area {
      border: rem-calc(0);
      margin-top: rem-calc(0);
      margin-bottom: rem-calc(0);
    }

    &__label {
      margin-bottom: rem-calc(0);
    }

    &__input {
      font-size: rem-calc(13);
      height: rem-calc(36);
    }

    .fieldset__another {
      margin-bottom: rem-calc(6);
      float: left;
    }
  }
}
