.head {}
.head__wrap {

    padding-right: 0;
    @include breakpoint(medium only) {
        padding-right: 0.75rem;
    }
}
.head__list {
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    margin-bottom: rem-calc(9);
    display: flex;
    @include breakpoint(small only) {
        margin-left: 0;
        padding-top: rem-calc(15);
        display:block;
    }
    @include breakpoint(medium only) {
        padding-top: rem-calc(17);
        display: flex;

    }
    @include breakpoint(large) {
        margin-left: rem-calc(25);
        //padding-left: rem-calc(37);
        padding-top: rem-calc(28);
    }

    a {
        color: $black;
    }
    span {
        display: inline-block;
    }
}
.head__item {
    text-align: right;
    padding: 0.75rem;
    display:inline-block;
    @include breakpoint(small only) {
        text-align: center;
        padding: 0 0.75rem;
    }
    @media only screen and (width: 640px){
        padding: 0.75rem 0;
    }
}
.head__item-icon {
    margin-right: rem-calc(12);
    width: rem-calc(14);
}
.head__item-big-icon {
    width: rem-calc(20);
    margin-right: rem-calc(5);

}
.head__link {
    margin-right: rem-calc(14);
    border-bottom: rem-calc(1) dashed $black;
    &:hover {
        color: $red;
        border-bottom-color: $red;
    }
    &:last-child {
        margin-right: 0;

    }
    @include breakpoint(medium only) {
        margin-right: rem-calc(5);
    }
    @include breakpoint(small only) {
        margin-right: rem-calc(10);
    }
}
.head__vert-middle {
    padding-top: rem-calc(14);

}