.header-search-field {
  @include breakpoint(small only) {
    background-color: $primary-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint(medium) {
    padding-top: 1.5rem;
  }
}

.header-logo-image {
  margin: rem-calc(25 0 0 0);
}


@include breakpoint(large down) {
  .header-logo-image {
    width: rem-calc(215);
  }
}
@include breakpoint(small only) {
  .header-logo-image {
    margin: rem-calc(12 0 0 0);
    width: rem-calc(112);
  }
}
