.hit {
  @include clearfix;
  padding: rem-calc(10);
  background-color: #f4f4f4;
  margin-bottom: rem-calc(20);

  &__block {
    float: right;
    background-color: #eee;
    border: rem-calc(1) solid #fff;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    padding: rem-calc(10);
  }

  &__next,
  &__prev {
    margin-left: rem-calc(3);
    margin-right: rem-calc(3);
    width: rem-calc(23);
    float: left;
    border-radius: 50%;
  }

  &__num {
    font-size: rem-calc(13);
    float: left;
    margin-left: rem-calc(5);
    margin-right: rem-calc(5);
    line-height: rem-calc(23);
  }

  &__text {
    font-size: rem-calc(16);
    float: left;
    line-height: rem-calc(23);
  }

  &__wrapper {
    float: left;
  }

  &__input {
    float: left;
    border: solid rem-calc(1) $red;
    width: rem-calc(52);
    border-radius: rem-calc(15);
    height: rem-calc(23);
    padding: rem-calc(4);
    color: $red;
    margin-left: rem-calc(10);
    margin-bottom: rem-calc(0);
  }
  @include breakpoint(small only) {
    padding: rem-calc(0);
    background: none;
    margin-bottom: rem-calc(5);

    &__wrapper {
      float: none;
      display: inline-block;
      margin-bottom: rem-calc(7);
    }

    &__block {
      width: 100%;
      padding-bottom: rem-calc(0);
      background: none;
      padding-top: rem-calc(0);
      border: rem-calc(0);
    }
  }
}
