.how {
  list-style-type:none;
  margin-left: rem-calc(17);
  margin-bottom: rem-calc(0);
  &__item {
&:last-child {
  a {
    border-bottom: rem-calc(0);
  }
}
  }
  &__link {
    font-size: rem-calc(13);
    color: $white;
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
    display: block;
    border-bottom: rem-calc(1) solid  #82174f;
    &:hover {
      color: $white;
    }
  }
}
