.novel {
  margin-bottom: rem-calc(33);

  &__img {
    margin-bottom: rem-calc(17);
    border: rem-calc(1) solid $light-gray;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem-calc(7);
    display: block;
  }

  &__text {
    margin-bottom: rem-calc(6);
  }

  &__date {
    color: #6e6e6e;
    margin-bottom: rem-calc(10);
  }

  &__more {
    text-decoration: underline;
    margin-right: rem-calc(30);
  }

  &__house {
    margin-bottom: rem-calc(20);
    padding-left: rem-calc(20);
    padding-right: rem-calc(10);
    background: $primary-color;
    display: inline-block;
    color: #fefefe;
    position: relative;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &:before {
      width: rem-calc(6);
      height: rem-calc(6);
      border-radius: 50%;
      background: $white;
      content: "";
      position: absolute;
      left: rem-calc(10);
      top: rem-calc(8);
    }

    &:after {
      content: "";
      position: absolute;
      right: rem-calc(-12);
      width: rem-calc(16);
      height: 100%;
      top: rem-calc(0);
      background: url($imagesPath +"/house-novel.svg")no-repeat left;
    }
  }
  @include breakpoint(medium down) {
    &__house {
      margin-bottom: rem-calc(10);
    }
  }
}
