.orbit {
  &-bullets {
    margin-bottom: rem-calc(37);
  }
  @include breakpoint(medium down) {
    &-container {
      height: rem-calc(290) !important;
    }
  }
  @media (max-width: 720px) {
    &-container {
      height: rem-calc(260) !important;
    }
  }
  @include breakpoint(small only) {
    &-container {
      height: rem-calc(285) !important;
    }

    &-next,
    &-previous {
      display: none;
    }
  }
}
