.order-accordion {
  .accordion-title {
    border-color: $red;
  }
}

.accordion-item:not(.is-active) > a.accordion-title {
  border-bottom-color: $red;
}

.accordion-title {

  &:before {
    font-size: rem-calc(1.6rem);
  }

  &:hover {
    background: transparent;
    text-decoration: underline;
  }

  &:focus {
    background: $red;
    color: white;
  }
}

.accordion-item {
  .accordion-content {
    border-color: $red;
    background: transparent;
    &:last-child {
      border-bottom: 1px solid $red;
    }
  }
}
.is-active {
  .accordion-title {
    background: $red;
    color: white;
  }
}

.order-header {
  margin-bottom: 0.62rem;
  font-weight: 700;

}
.order-cost {
  font-size: rem-calc(16);
  margin-bottom: 2rem;
  display: inline-block;
  font-weight: 700;

}
.subheader {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.order__status {
  border: 1px solid #a52468;
  color: #a52468;
  border-radius: 10px;
  padding: .5rem;
}

.order__status:hover {
  border: 1px solid #a52468;
  color: #fff;
  background-color: #a52468;
}