.orders {
  padding-top: 2rem;

  &__date {
    margin-bottom: rem-calc(7);
  }


  @include breakpoint(small only) {
    padding-top: rem-calc(0);

    &__address {
      margin-bottom: rem-calc(8);
    }

    &__buyer {
      color: $black;
    }

    &__date {
      margin-bottom: rem-calc(0);
    }

    &__arrow {
      &:before {
        content: "";
        position: absolute;
        width: rem-calc(16);
        margin-top: rem-calc(9);
        right: rem-calc(0);
        top: rem-calc(30);
        height: rem-calc(15);
        display: inline-block;
        transform: rotate(180deg);
        background: url($imagesPath +"/chevron-red.svg")no-repeat center;
        background-size: contain;
      }
    }
  }
}
