.phone-num {

}

span.phone-num__top-text {
  font-size: 13px;
  line-height: 1;
  color: #6e6e6e;
  display: block;
}

.phone-num__link {
  display: block;
  font-size: 1.28571rem;
  white-space: nowrap;
}

span.phone-num__bottom-text {
  font-size: 13px;
  line-height: 1;
  color: #6e6e6e;
  display: block;
}
  @include breakpoint(medium down) {
  span.phone-num__top-text,span.phone-num__bottom-text  {
    font-size: rem-calc(12);
  } }
@include breakpoint(small only) {
  .phone-num {
    margin-bottom: rem-calc(10);
  }

  .phone-num__bottom-text,
  .phone-num__top-text {
    display: none !important;
  }

  .phone-num__link {
    font-size: rem-calc(14);
  }
}
