.plate {
  a {
    color: #ca3034;
    padding: rem-calc(0) rem-calc(6);

    &:hover {
      background: $light-gray;
      border-radius: rem-calc(2);
      line-height: 1.4;
      color: #6e6e6e;
      font-weight: 700;
    }
  }

  .ellipsis:after {
    color: #6e6e6e;
  }

  li {
    margin-right: rem-calc(0);
      position: relative;
      top: rem-calc(25);
  }

  .current {
    background: $light-gray;
    border-radius: rem-calc(2);
    line-height: 1.4;  padding: rem-calc(0) rem-calc(6);
    color: #6e6e6e;
    font-weight: 700;
  }

  .pagination-next,
  .pagination-previous {
  top: rem-calc(0);
margin-right: rem-calc(20);
    width: rem-calc(20);
    height: rem-calc(41);
    font-size: rem-calc(0);
    border-radius: rem-calc(5);
    cursor: pointer;
    background: $light-gray url($imagesPath +"/arr-left-pag.svg")no-repeat center;

    a {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: #ca3034 url($imagesPath +"/arr-left-pag.svg")no-repeat center;

      a {
        background: none;
      }
    }
  }

  .pagination-next {
    margin-left: rem-calc(20);
    margin-right: rem-calc(0);
    transform: rotate(180deg);
  }
}
