.product-page__heart {
  fill: $primary-color;
}

.preview-product .slick-dots {
  width: 65px;
  position: absolute;
  top: 0;
}

.preview-product .slick-dots li {
  margin-bottom: 10px;
  display: block;
}

.preview-product img {
  display: inline-block;
}

.preview-product .slick-dots li button {
  background: none;
  width: auto;
  height: auto;
  margin: 0;
}

.preview-product__size.active.button.hollow.secondary {
  border-color: $primary-color;
  color: $primary-color;
  &:hover, &:focus {
    border-color: $primary-color;
    color: $primary-color;
  }
}
.preview-product__arrow.product__next {
  right: 75px;
  left: auto;
}

.preview-product__arrow {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  left: 75px;
  top: 230px;
}

.preview-product__wrapper {
  margin: 2rem 0;
}

.preview-product__slide-link {
  width: 450px;
  margin: 0 auto;
}

.preview-product__stars {
  display: inline-block;
  margin-right: 1rem;
}

.preview-product__hide-comments {
  line-height: 1;
  cursor: pointer;
  text-align: right;
  margin-right: 0.4rem;
}

.preview-product__close {
  font-size: 1.5em;
  margin-left: .3rem;
  vertical-align: middle;
}

#goodsModal {

  & .preview-product .slick-dots {
    left: -5rem;
  }

  & .preview-product__wrapper {
    margin: 0;
    margin-left: 5rem;
  }

  & .preview-product__arrow.product__next {
    right: 0px;
  }

  & .preview-product__arrow {
    top: 40%;
  }

  & .preview-product__arrow.product__prev {
    left: 0px;
  }
}
@media (max-width: 800px) {
  .preview-product__arrow {
    display: none !important;
  }

  .preview-product .slick-dots {
    display: none !important;
  }

  .preview-product__slide-link {
    width: initial;
  }

  #goodsModal {

    .zoomSmallImg {
      height: auto !important;
    }

    .withoutZoom {
      height: auto !important;
    }

    .preview-product__wrapper {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}