.ranger {
    border: rem-calc(1) solid #f0f0f0;
    box-shadow: 0 rem-calc(2) rem-calc(7) $red;
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(5);
    transition: 0.3s;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    &:hover {
        box-shadow: 0 rem-calc(2) rem-calc(17) $red;
    }

    &__text {
        height: rem-calc(95);
    }

    &__name {
        font-size: rem-calc(16);
    }

    &__price {
        font-size: rem-calc(17);
    }

    &__sign {
        margin-bottom: rem-calc(0);
    }
    &__more {
        font-size: rem-calc(17);
        margin-bottom: rem-calc(16);
    }
    &__list {
        margin: rem-calc(0);
        position: absolute;
        width: 100%;
        bottom: rem-calc(0);
    }

    &__img {
        position: relative;
        height: rem-calc(318);
        margin-bottom: rem-calc(20);

        img {
            display: inline-block;
            max-height: rem-calc(318);
        }
    }

    &__whisper {
        border-bottom: rem-calc(0);
    }
}
