.rec {
    margin-bottom: rem-calc(20);

    &__title {
        font-size: 14px;
        text-decoration: underline;
        color: $red;
        &:hover {
          color: $black;
        }
    }

    &__through {
        font-size: 14px;
        color: #666;
        text-decoration: line-through;
        margin-left: 9px;
        display: inline-block;
    }

    &__price {
        font-size: 20px;
        color: #000;
        line-height: 1.3;
    }

    &__img {
        border: 1px solid #ccc;
        position: relative;
        margin-bottom: 8px;
        transition: 0.5s all;

        &:hover {
            border-color: $red;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 72%;
            height: 1px;
            left: 14%;
            background: #fff;
            top: -1px;
        }

        &:after {
            bottom: -1px;
            top: auto;
        }
    }

    &__already {
        color: #666;
        text-transform: uppercase;
        font-size: 14px;

        &:before {
            content: "";
            display: inline-block;
            background: url(../images/check.svg)no-repeat;
            width: 15px;
            margin-right: 5px;
            height: 14px;
        }
    }
}
