.sections {
    &_sorting {
        &-link {
            margin-left: 4px;
            text-decoration: none;
            border-bottom: rem-calc(1) solid #bdbdbd;
            color: #000;
        }
    }
}

.sort {
    &_asc {
        width: 0;
        display: inline-block;
        margin-left: rem-calc(3);margin-right: rem-calc(3);
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
    }

    &_desc {
        display: inline-block;
        margin-left: rem-calc(3);margin-right: rem-calc(3);
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
    }
}
.element-per-page {
  text-decoration: underline;
  color: #000;
  margin-left: rem-calc(6);
  &.active {
    color: $red;
  }
}
