.sked {
  padding-top: rem-calc(13);
  padding-bottom: rem-calc(13);

  border-bottom: rem-calc(1) solid $dirt;
  &__btn {
    font-size: rem-calc(16);
    position: relative;
    display: inline-block;
    cursor: pointer;font-weight: 400;
    padding-right: rem-calc(27);

    &:after {
      content: "";
      width: rem-calc(13);
      height: rem-calc(12);
      position: absolute;
      transform: rotate(-90deg);
      right: rem-calc(0);
      transition: 0.3s;
      top: rem-calc(7);
      background: url($imagesPath +"/chevron-black.svg")no-repeat center;
      background-size: contain;
    }
    &.js-opened {
      color: $primary-color;
      &:after {
        transform:rotate(90deg);
          background: url($imagesPath +"/chevron-red.svg")no-repeat center;    background-size: contain;
      }
    }
  }
}
