.special {
    padding: rem-calc(10);
    margin-bottom: rem-calc(15);
    border: rem-calc(1) solid #ccc;
    @include clearfix;
    box-shadow: 0 0 rem-calc(10) #ddd;

    &:hover {
        border-color: $red;
    }

    &__title {
        color: $red;
      font-weight: 700;
    }

    &__img {
        display: block;
        max-height: rem-calc(135);

        img {
            max-height: inherit;
        }
    }

    &__price {
        font-size: rem-calc(19);
        font-weight: 700;
    }

    &__add {
        i {
            margin-left: rem-calc(10);
        }
    }

    &__more {
        text-decoration: underline;
    }
}
