.subscribe {}
.subscribe_cmonday {
  background: #724180 url("../images/cybermonday/cmonday_subscribe.jpg") no-repeat center top;
  width: 100%;
  max-width: 751px;
  height: 200px;
  margin-bottom: 20px;

  .subscribe__button {
    background: #E7252D;
    animation: subscribe__blink 2s step-start 0s infinite;
  }
}

@keyframes subscribe__blink {
  50% { background: #F9A300; }
}

.subscribe_homepage {
  form {
    background: #f6f6f6;
  }

  label {
    font-weight: 300;
    font-size: rem-calc(24);
  }
}

//replaced from common
.subscribe__title {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 10px;
}
.subscribe__yellow {
  color: #f7b700;
}
.subscribe__red {
  color: #e4082e;
}
.subscribe__button {
  text-transform: uppercase;
  color: #fff;
  background: #e4082e;
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}