.textile {

  &__top {
    background-color: #ccc0e0;
    padding: rem-calc(42) 0;

    &-text {
      font-family: "Open Sans ExtraBold";
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-discount {
      font-size: 60px;
      font-weight: 700;
      color: $primary-color;
      line-height: 67px;
      text-transform: uppercase;
    }

    &-pic {
      vertical-align: super;
      padding: rem-calc(7);
    }
  }

  &__goods {

    &-box {
      margin: rem-calc(14) 0;
    }

    &-pic {
      position: relative;
    }

    &-count {
      position: absolute;
      left: 0;
      bottom: rem-calc(28);
      background-color: #fff;
      font-size: rem-calc(10);
      padding: rem-calc(4) rem-calc(7) rem-calc(4) rem-calc(14);
      font-weight: 600;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -23px;
        border-bottom: 23px solid transparent;
        border-left: 23px solid white;
        width: 0;
      }
    }

    &-price {
      font-family: 'PTSerif', serif;
      font-weight: 600;
      padding: 0 rem-calc(14);
      font-size: rem-calc(20);
      color: $primary-color;
    }

    &-oldprice {
      font-family: 'PTSerif', serif;
      padding: 0 rem-calc(14);
      color: grey;
      font-size: .85714rem;
      text-decoration: line-through;
    }

    &-info {
      padding: rem-calc(10) rem-calc(7);
      font-size: rem-calc(12);
    }

    &-title {
      padding: rem-calc(4) rem-calc(7);
      text-transform: uppercase;
      background-color: #f5f5f5;
      font-size: rem-calc(12);
    }

    &-name {
      font-size: rem-calc(14);
    }

    &-add2cart {
      padding: rem-calc(9) 0;
    }

    &-link {
      padding: rem-calc(9) rem-calc(28);
      margin: rem-calc(14) rem-calc(12);
    }
  }

  &__filter {
    margin-top: rem-calc(42);

    &-btn {
      @include button(true, $primary-color, false, $primary-color, hollow);
      border-width: 2px;
      padding-top: rem-calc(9);
      padding-bottom: rem-calc(9);

      &:hover,&:focus,&.active {
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
      }
    }
  }

  &__feedback {

    &-name {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0;
    }

    &-year {
      color: $dark-gray;
    }

    &-text {
      font-style: italic;
    }
  }

  &__sizes {
    & td {
      padding: rem-calc(14);
    }
  }
}

@media #{$large-up} {
  .textile {
    &__goods {
      &-more {
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          width: 42%;
          height: 1px;
          background: rgba(51,51,51,0.25);
          border: solid #FFF;
          border-width: 0 10px;
        }

        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          width: 42%;
          height: 1px;
          background: rgba(51,51,51,0.25);
          border: solid #FFF;
          border-width: 0 10px;
        }
      }
    }
  }
}
