.trial {
  &__desc {
    background-color: $white;
    padding: rem-calc(10);
  }
  &__palette {
    margin-bottom: rem-calc(15);
  }
  &__color {
    display: inline-block;
    vertical-align: top;
    padding-left: 2rem;
    font-size: rem-calc(14);
    line-height: 1.5;
    position: relative;
    border-radius: rem-calc(3);
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      width: rem-calc(25);
      height: rem-calc(25);
    }
    &_cyan:after {
      background-color: #58b3e4;
    }
    &_green:after {
      background-color: #2fd763;
    }
    &_pink:after {
      background-color: #fc93ee;
    }
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: rem-calc(18);
    line-height: 1.15;
    margin-bottom: rem-calc(10);
    text-transform: uppercase;
  }

  &__price {
    font-size: rem-calc(26);
    line-height: rem-calc(39);
    margin-right: rem-calc(10);
    color: $primary-color;
    font-weight: 700;
  }

  &__through {
    font-size: rem-calc(18);
    font-weight: 600;
    line-height: 1.15;
    text-decoration: line-through;
  }

  &__header {
    background-color: #a52468;
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(18);
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    padding-left: rem-calc(12);
    margin-bottom: rem-calc(1);
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: rem-calc(0 11 11 11);
  }

  &__inner {
    border: rem-calc(1) solid $dirt;
    background-color: #fafafa;
    position: relative;

    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }
    @include breakpoint(small only) {
      &__through {
        font-size: rem-calc(16);
      }
      &__price {
      font-size: rem-calc(20);
      } }
}
