.trust {
  margin-bottom: rem-calc(66);
  @include breakpoint(large down) {
    margin-bottom: rem-calc(16);
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(3);
    &_last {
      margin-bottom: rem-calc(14);
      border-bottom: rem-calc(1) solid #d8d8d8;
    }
  }
}
