.vertical {
    display: none;
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 100;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
}
.vertical_zhenskie-slabosti {
	background: #fff url($imagesPath + "/dir_ww.jpg") no-repeat right bottom;
	background-size: 230px;
	min-height: 220px;
	width:450px;
}
.vertical_2level {
    padding: 40px 30px 30px;
    min-height: 350px;

    & > .vertical__list {
        margin-left: 0;
    }
}

.vertical_singlecol {
    width: 512px;

    .vertical__item {
        width: 100%;
    }
}

.vertical_doublecol {
    width: 700px;
}

.vertical_triplecol {
    width: 860px;

    .vertical__item {
        width: 28%;
        padding-right: 3%;
    }
}

.vertical__item-heart:before {
     content: "";
     position: absolute;
     background: url("../images/valentines-heart.svg");
     background-size: 12px;
     background-repeat: no-repeat;
     width: 20px;
     height: 20px;
     left: -19px;
     top: 6px;
}

.vertical__item-sea {
    & a, & a:hover {
        color: #0267b1;

    }
    &:before {
        content: "";
        position: absolute;
        background: url("../images/sea-theme-icon.svg");
        background-size: 23px;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        left: -27px;
        top: 0px;
    }
}

.vertical__pic {
    position: absolute;
    right: -45px;
    bottom: 13px;
}

/*

.vertical_woman-clothes {
    background: #fff url("../images/vertical_woman_link-05-17.jpg") no-repeat right bottom;
    background-size: 255px;
    min-height: 330px;
    background-position-x: 103%;
}

.vertical_woman-shoes {
    background: #fff url("../images/dir-woman-shoes-05-17.jpg") no-repeat right bottom;
    min-height: 270px;
}

.vertical_woman-acsessorize {
    background: #fff url("../images/dir-woman-acsessorize-05-17.jpg") no-repeat right bottom;
    min-height: 270px;
}
*/
.vertical_woman_link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 224px;
    height: 370px;
}
/*
.vertical_man {
    background: #fff url("../images/dir_man.jpg") no-repeat right bottom;
}

.vertical_man_link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 305px;
    height: 310px;
}

.vertical_household-appliancies-electronics {
    background: #fff url("../images/dir_tehnika-05-17.jpg") no-repeat right bottom;
    min-height: 280px;
	width: 420px;
}

.vertical_house-garden {
    background: #fff url("../images/dir_household-05-17.jpg") no-repeat right bottom;
}

.vertical_beauty-and-health {
    background: #fff url("../images/dir_parfum-05-17.jpg") no-repeat right bottom;
    background-size: 230px;
    min-height: 270px;
}

.vertical_hits {
    background: #fff url("../images/dir_hits.jpg") no-repeat right bottom;
}
*/
 .vertical_beauty-and-health{
   background: #fff url($imagesPath + '/dir_parfum-07-17.jpg') no-repeat right bottom ;
    background-size: 230px ;
    width: 512px ;
    min-height: 290px;
 }
.vertical__list {
    list-style: none;
    margin-left: 0;
}

.vertical__item {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    position: relative;
    z-index: 1;
}

.vertical__link {
    color: #000;
    text-transform: none;
    display: inline-block;
    line-height: rem-calc(24);

    &:hover {
        color: #000;
        text-decoration: underline;
    }
}

.vertical__link-top {
    @extend .menu-main__link;
  padding: 0.25rem 0.25rem;
    font-size: rem-calc(13);
    letter-spacing: 0;
}

.vertical-3level {}
@media (max-width:1200px) {
    .vertical {
        top: 41px;
    }
}
@media (max-width:1100px) {
    .vertical {
        top: auto;
        max-width: 100%;
    }
}
@media (max-width:1100px) and (min-width:750px) {
    .vertical {
        &_beauty-and-health {
            left: 200px;
        }
    }
}
  @include breakpoint(medium down) {
  .vertical {
    &__pic {
      right: rem-calc(0);
    }
  } }
