.vote__questions {
  border-bottom: 1px solid #e4e2e2;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  &:last-child {
    border-bottom:none;
  }
}

.vote__title{
  text-align: center;
  color: #a52468;
  font-weight: 700;
  font-size: 16px;
}

.vote__size-circle {
  background-color: #a52468;
  border: 2px solid #a52468;
  padding: .5rem 1rem;
  border-radius: 38px;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin: 2.3rem;
  cursor: pointer;
  font-family: 'PT Serif', serif;

  &:hover {
    background-color: #fff;
    color: #a52468;
  }

  &.active {
    background-color: #fff;
    color: #a52468;
  }
}

.vote__face-circle {
  background-color: #a52468;
  border: 2px solid #a52468;
  padding: 1.3rem 1.2rem 1rem;
  border-radius: 45px;
  cursor: pointer;
  width: 95px;
  margin: 1rem auto;

  &:hover {
    background-color: #fff;
    color: #a52468;
  }

  &.active {
    background-color: #fff;
    color: #a52468;
  }
}

.vote__face-circle svg {
  fill: white;
}

.vote__face-circle:hover svg {
  fill: #a52468;
}

.vote__face-circle.active svg {
  fill: #a52468;
}

.vote__face-blocks {
  padding: 0 14rem;
  text-align: center;
}

.vote__face-block {
  margin: 2rem 2.6rem;
  display: inline-block;
  width: 195px;
}

.vote__button-radio {
  display:none;
}

.vote__proposal {
  width: 62%;
  margin: 0 auto;
}

.vote__clothe-box {
  position: relative;
  font-size: 12px;
}

.vote__clothe-picture {
  margin-bottom: 1rem;
}

.vote__clothe-material {
  color: gray;
  display: block;
}

.vote__title-strong {
  font-size: 33px;
}

.vote__banner {
  background: url(/upload/vote/banner.png) 100% 100% no-repeat;
  height: 563px;
  margin: 0px -362px;
  position: relative;
  text-align: center;
}

.vote__banner-box {
  margin-left: 362px;
  width: 600px;
  text-align: left;
  padding-top: 6rem;
}

.vote__banner-title {
  text-transform: uppercase;
}

.vote__banner-text {
  margin-top: 2rem;
  line-height: 27px;
}

.vote__bottom-banner {
  background: url(/upload/vote/vote-banner-bottom.png) 100% 100% no-repeat;
  height: 100px;
  margin: 0px -17px;
  position: relative;
  text-align: center;
  padding-top: 2rem;
  font-size: 12px;
}

.vote__info-box{
  height: 300px;
}

.vote__checkbox {
  display:none;
}

.vote__checkbox-info:before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #fff;
  border: 1px solid #e2dddd;
  border-radius: 3px;
}

.vote__checkbox:checked + .vote__checkbox-info:before {
  content: "\2713";
  font-size: 15px;
  color: #a52468;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .vote__banner {
    background: none;
    margin: 0;
    height: auto;
  }

  .vote__banner-box {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .vote__bottom-banner {
    background: none;
    margin: 0;
    padding: 0;
  }

  .vote__face-blocks {
    padding: 0;
  }

  .vote__face-block {
    margin: 0;
    width: 100%;
  }

  .vote__proposal {
    width: 100%;
  }
}
