<style>


.menu-main__item:nth-child(7):before {
	content: "";
	display: inline-block;
	background: url("/bitrix/templates/vasilisa2016/images/dir_ww_hs.png") no-repeat;
	width: 30px;
	height: 24px;
	float: left;
}
</style>
