.no-uppercase
{
    text-transform: none !important;
}

.b-lk-nav__menu
{
    margin-bottom: 0;
}
.b-footer
{
    margin-top: 20px;
}
.b-catalog-main-items-spisok .b-catalog-spisok__select
{
    bottom: 0 !important;
    left: 0 !important;
}
.btn
{
    margin: 0 0 1.25rem;
}



.button_reg,
.button_auth
{
    line-height: 50px;

    display: inline-block;
}
.button_reg:hover,
.button_auth:hover
{
    color: #2a2a2a !important;
    border: 1px solid #bbb7b7 !important;
    background: #fff;
}
.b-myshop-newgroup-wrapper
{
    margin: -40px 0 20px 0;

    text-align: right;
    .b-myshop__button
    {
        margin: 0;
    }
}

.data-table
{
    width: 100%;

    border: none;
    thead
    {
        border-bottom: 1px solid #e2e2e2;
        background: none !important;
    }
    tr
    {
        border-bottom: 1px solid #e2e2e2;
        background: none !important;
    }
    td,
    th
    {
        padding: 15px 0;
    }
}
.actions-delimeter
{
    margin: 0 15px;

    color: #e2e2e2;
}

.b-bay_grup-btnbox__commit
{
    color: #fff;
}
.b-bay_grup-btnbox__cancel
{
    display: inline-block;

    margin: 0 30px;
}
.b-bay_grup-btnbox-red,
.b-bay_grup-btnbox-red:hover,
.b-bay_grup-btnbox-red:visited
{
    margin-right: 20px;

    text-align: center;

    color: #fff;
    outline: none;
}
.b-bay_grup-salebox-info
{
    border-bottom: none !important;
}
.desc-image
{
    text-align: center;
    img
    {
        max-height: rem-calc(150);
    }
}
