.b-product {
  position: relative;
  width: 280px;
  height: 420px;
  margin-left: 0;
  padding: 15px;
  border: 1px solid #e2e2e2;
  background-color: white;
  margin-bottom: 5px;

  &_opt {
    padding: rem-calc(0 0 10);
  }

  &__info {
    padding-left: rem-calc(25);
    padding-right: rem-calc(25);
    padding-top: rem-calc(21);
  }

  &__bar {
    border: rem-calc(1) solid #e2e2e2;
    height: rem-calc(18);
    margin-bottom: rem-calc(7);
    width: 100%;
  }

  &__minimum {
    margin-bottom: rem-calc(20);
    color: #383838;
    font-size: rem-calc(14);
  }

  &__finish {
    font-size: rem-calc(14);
    color: #a1a1a1;
    margin-bottom: rem-calc(14);
  }

  &__progress {
    background: #1cb272;
    height: rem-calc(18);
    transition: 0.3s;
  }

  &__art {
    height: rem-calc(130);
    background-size: cover;
    background-position: center top;
    border-right: rem-calc(1) solid #e8e8e8;
    border-bottom: rem-calc(1) solid #e8e8e8;

    &:last-child {
      border-right: rem-calc(0);
    }
  }

  &-images {
    overflow: hidden;

    &__img {
      float: left;
      width: 33.33333%;
      height: 8.4375rem;
      background-position: center;
      background-size: contain;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      background-repeat: no-repeat;

      &:nth-child(3) {
        border-right: none;
      }
    }
  }

  &_new {
    margin-left: 15px;
  }

  &_hack {
    height: inherit;
    margin-left: 0;
    padding-bottom: 0;

    .b-product__img {
      max-height: 218px;
      overflow: hidden;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 9px rgba(0, 0, 1, .16);
  }

  &:first-child {
    margin-left: 0;
  }

  &__img {
    width: 218px;
    margin: 0 auto 5px;
    height: auto;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 218px;
    }
  }

  &__name {
    font-family: 'Conv_SegoeUIRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: -5px;
    color: #383838;

    &_buy {
      margin-bottom: rem-calc(6);
    }

    &_opt {
      margin-bottom: rem-calc(22);
    }

    & a {
      color: #383838;
    }
  }

  &__brand {
    font-family: 'Conv_PTSerif';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    min-height: 26px;
    margin-bottom: 6px;
    color: #a1a1a1;
  }

  &__price {
    font-family: 'Conv_SegoeUIBold';
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    padding-right: 40px;
    color: #ca3034;

    &_group {
      display: inline-block;
      padding-right: 5px;
    }

    & span {
      font-size: 16px;
    }
  }

  &-content {
    padding: rem-calc(30);
  }

  &__group-cnt {
    color: #383838;
    font-size: rem-calc(14);
    margin: rem-calc(15 0 25 0);

    span {
      font-weight: bold;
    }
  }
}

.b-product_main-group {
  padding: 0;
  cursor: auto;
}

.b-section-white {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(30);
}

.main-opt-groups {
  margin-top: rem-calc(50);
}
@media (max-width:1200px) {
  .b-product {
    width: 100%;

    &__img {
      width: 100%;
    }

    &_new {
      width: calc(25% - 15px);

      &:first-child {
        width: 25%;
      }
    }
  }
}
@media (max-width:1024px) {
  .b-product {
    &__info {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(0);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
    &_new {
      width: calc(33.333% - 15px);
      padding: 15px;

      &:first-child {
        width: 33.333%;
      }
    }
  }
}
@media (max-width:790px) {
  .b-product {
    &_new {}

    &_main {
      padding-right: 18px;
      padding-left: 18px;
    }
  }
}
@media (max-width:640px) {
  .jcarousel-hots ul li:nth-child(odd)>.b-product_opt {
    border-right: rem-calc(0);

  }
  .b-product {
    height: auto;


    &_new {
      width: 50%;
      margin-left: 0;
      padding: 10px;

      &:first-child {
        width: 50%;
        border-bottom: 0;
      }

      &:nth-child(2) {
        border-bottom: 0;
      }

      &:nth-child(even) {
        border-left: 0;
      }
    }

    &_main {
      padding: 10px;
    }

    &__price {
      padding-right: 30px;
    }

    &__brand {
      padding-right: 50px;
    }

    &_hack {
      height: inherit;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
@media (max-width:400px) {
  .b-product {
    &__price {
      padding-right: 0;
    }
  }
}
