.belt {
  display: block;
  border: 1px solid #e1e1e1;
  margin-bottom: rem-calc(30);
  padding: rem-calc(18 18 25);
  color: #383838;
  font-size: rem-calc(14);
  line-height: 1.4;

  &__img {
    margin-bottom: rem-calc(16);

    img {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: rem-calc(19);
  }

  &__price {
    font-family: 'Conv_SegoeUIBold';
    font-size: rem-calc(30);
    color: #ca3034;
  }

  &__rub {
    font-size: rem-calc(14);
  }
  @media (max-width: 640px)
  {
    margin-bottom: rem-calc(15);
  }
}
