.bowl {
    border: rem-calc(1) solid #e2e2e2;
    margin-bottom: rem-calc(20);

    &__row {
        font-size: rem-calc(14);
        font-weight: 700;
        width: 100%;
        color: #4c4c4c;
        border-top: rem-calc(1) solid #e2e2e2;

        &_head {
            background-color: #f8f8f8;
            border-top: rem-calc(0);
        }
    }




    &__main,
    &__message,
    &__td,
    &__theme,
    &__update {
        padding-top: rem-calc(8);
        padding-bottom: rem-calc(9);
    }

    &__folder,
    &__reg,
    &__td,
    &__theme_reg,
    &__update_reg {
        padding-top: rem-calc(19);
        padding-bottom: rem-calc(20);
    }

    &__check,
    &__message,
    &__td,
    &__theme,
    &__update {
        border-left: rem-calc(1) solid #e2e2e2;
    }

    &__main {
        width: calc(100% - 490px);
        padding-left: rem-calc(30);
        border-right: rem-calc(1) solid #e2e2e2;
    }

    &__folder {
        width: calc(100% - 230px);
        padding-left: rem-calc(30);
        &_top {
          padding-top: rem-calc(8);
          padding-bottom: rem-calc(9);
        }
    }

    &__check {
        width: rem-calc(90);
        padding-top: rem-calc(21);

        &_first {
            padding-top: rem-calc(11);
        }

        input {
            margin-bottom: rem-calc(0);
        }
    }

    &__theme {
        width: rem-calc(100);
        border-left: rem-calc(0);
    }

    &__message {
        width: rem-calc(140);
    }

    &__update {
        width: rem-calc(250);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
    }

    &__td {
        width: calc(100% - 550px);
        padding-left: rem-calc(30);
        padding-right: rem-calc(10);
        border-right: rem-calc(1) solid #e2e2e2;
    }

    &__icon {
        width: rem-calc(60);
        height: rem-calc(60);
        background: url(../images/renew.png)no-repeat center;

        &_eye {
            background: url("../images/eye.png") no-repeat center;
        }
    }

    &__link {
        color: #153f93;
    }

    &__reg {
        font-weight: 400;
    }
    @media (max-width: 1024px) {
        &__main {
            width: calc(100% - 400px);
            padding-left: rem-calc(10);
        }

        &__td {
            width: calc(100% - 460px);
            padding-left: rem-calc(10);
        }

        &__update {
            width: rem-calc(230);
        }

        &__message {
            width: rem-calc(100);
        }

        &__theme {
            width: rem-calc(70);
        }
    }
    @media (max-width: 640px) {
        &__message,
        &__theme,
        &__update {
            display: none;
        }
&__folder {
  width:calc(100% - 90px);
}
        &__main {
            width: 100%;
            border-right: rem-calc(0);
        }

        &__td {
            border-right: rem-calc(0);
            width: calc(100% - 60px);
        }
    }
}
