.b-catalog-spisok {
    position: relative;
    margin-bottom: rem-calc(15) !important;
    padding: rem-calc(10);
    border: 1px solid #e2e2e2;

    &__gr {
        margin-left: 15%;

        & p {
            font-size: 0.875rem;
            margin: 0 0 rem-calc(10);
            color: #a1a1a1;
        }

        &-roz:before {
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 14px;
            content: '';
            background: url('../images/roz.png');
            background-repeat: no-repeat;
            background-position: center;
        }

        &-grup:before {
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 14px;
            content: '';
            background: url('../images/group.png');
            background-repeat: no-repeat;
            background-position: center;
        }

        &-whole:before {
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 14px;
            content: '';
            background: url('../images/whole.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__do4 {
        margin-left: 30%;

        & p {
            margin-bottom: rem-calc(7);

            & a {
                font-size: 0.875rem;
                color: #153f93;
            }
        }
    }

    &__right-col {
        padding-left: 20px;
    }

    &__fake-prc {
        font-family: 'PTSerifRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        float: left;
        padding-top: 13px;
        padding-left: 18px;
        text-decoration: line-through;
        color: #a1a1a1;
    }

    &__nmbr {
        .ui-spinner-down,
        .ui-spinner-up {
            top: 0;
            bottom: auto;
        }
    }

    &__nmbrs-tovar {
        font-family: 'PTSerifRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-right: 12px;
        padding-top: 7px;
        float: left;
        color: #a1a1a1;
    }

    &__del-link {
        font-family: 'segoe ui';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #a1a1a1;
    }

    .b-catalog-spisok__gr-grup_bask,
    .b-catalog-spisok__gr-roz_bask {
        font-family: 'segoe ui';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 4px;
        color: #a1a1a1;
    }

    &__full-price {
        font-family: 'segoe ui';
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 14px;
        padding-left: 17px;
        color: #4c4c4c;

        &-rubl {
            font-size: 16px;
        }

        &_korz {
            margin-top: 1px;
            padding-left: 0;
        }
    }

    &__roznica {
        padding-left: 23px;
    }

    &_bask {
        padding-bottom: 20px;

        .columns:nth-of-type(2) {
            width: 33.3%;
        }

        .columns:nth-of-type(6) {
            width: 25%;
            padding-left: 46px;
        }
    }

    &__prc {
        font-family: 'segoe ui';
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 19px;
        padding-top: 7px;
        color: #4c4c4c;

        &_korz {
            float: left;
            margin-left: 0;
        }

        &-rubl {
            font-size: 16px;
        }

        .old_price {
          color: red;
          text-decoration: line-through;
          font-size: rem-calc(18);
        }
    }

    &__artkl {
        font-family: 'PTSerifRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        display: none;
        margin-left: 19px;
        color: #a1a1a1;

        &_korz {
            float: left;
            width: 60%;
            padding-left: 20px;
        }
    }

    &__skidochka {
        font-size: 14px;
        font-weight: 700;
        padding-top: 6px;
        text-transform: uppercase;
        color: #ca3034;
    }

    &__fake-price {
        font-family: 'PTSerifRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 2.4;
        float: right;
        text-decoration: line-through;
        color: #a1a1a1;
    }

    &__img {
        margin: 0 25% 0 0;

        &_bask {
            margin-right: 5px;
            margin-left: 10px;
        }

        &_korz {
            margin-right: 0;
            margin-left: 16px;
        }
    }

    &__name {
        font-size: rem-calc(16);
        margin: 0 0 0 3%;

        &_bask {
            font-family: 'segoe ui';
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-left: 19px;
            color: #383838;
        }

        &_korz {
            margin-left: 0;
        }
    }

    &__brand {
        font-family: 'PTSerifRegular';
        font-size: rem-calc(14);
        min-height: rem-calc(21);
        margin: 0 0 0 3%;
        color: #a1a1a1;
    }

    &__price {
        font-size: rem-calc(22);
        font-weight: bold;
        margin: 0 0 0 3%;
        color: #ca3034;

        span {
            font-size: rem-calc(16);
        }
    }

    &__groupe {
        margin-left: 30%;

        p {
            font-size: rem-calc(14);
            margin: 0 0 rem-calc(5);
            color: #a1a1a1;
        }
    }

    &__do {
        margin-left: 20%;

        p {
            margin: 0;

            a {
                font-size: rem-calc(14);
                color: #153f93;
            }
        }
    }

    &__select {
        position: absolute;
        bottom: rem-calc(348);
        left: rem-calc(249);
        display: block;
        width: rem-calc(30);
        height: rem-calc(30);
        cursor: pointer;
        border-width: rem-calc(1) rem-calc(1) rem-calc(1) rem-calc(1);
        border-style: solid;
        border-color: #e2e2e2;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;

        &.active {
            background-image: url('../images/select_red.png');
        }
    }

    &__new {
        position: absolute;
        top: rem-calc(-1);
        left: rem-calc(-1);
        display: block;
        width: rem-calc(100);
        height: rem-calc(30);
        padding-left: 10px;
        cursor: pointer;
        border-width: rem-calc(1) rem-calc(1) rem-calc(1) rem-calc(1);
        border-style: solid;
        border-color: #e2e2e2;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.b-catalog-spisok__grup-icon-grup-one {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/att_03.png');
    background-repeat: no-repeat;
    background-position: center;
}

.b-catalog-spisok__name a {
    font-family: 'segoe ui';
    font-size: rem-calc(16);
    color: #383838;
}

.b-catalog-spisok__new-product {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 83px;
    height: 38px;
    border-width: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
    border-style: solid;
    border-color: #e2e2e2;
    background: #fff;

    &_my {
        width: 64px;
        text-align: center;
    }

    & span {
        font-family: 'segoe ui';
        font-size: rem-calc(11);
        position: absolute;
        padding: 10px 15px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: #383838;
    }
}

.b-catalog-spisok__grup-icon {

    display: block;
    overflow: hidden;
    margin: 20px 0;

    &-roz {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background: url('../images/roz.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &-grup {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background: url('../images/group.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &-whole {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background: url('../images/whole.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &-stock {
        display: inline-block;
        margin-right: 10px;

        &:before {
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            content: '';
            background: url('../images/stok.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-moll {
        display: inline-block;

        &:before {
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            margin-right: 14px;
            content: '';
            background: url('../images/mol.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
@media (max-width: 1024px) {
    .b-catalog-spisok {
        &__prc {
            margin-left: 0;
        }

        &__name {
            &_bask {
                margin-left: 0;
            }
        }

        &__img {
            &_bask {
                margin-left: 0;
                text-align: center;
            }
        }

        &_bask {
            .columns:nth-of-type(1) {
                width: 10%;
            }

            .columns:nth-of-type(2) {
                width: 22%;
                padding-right: 5px;
                padding-left: 4px;
            }

            .columns:nth-of-type(3) {
                width: 155px;
            }

            .columns:nth-of-type(4) {
                width: 170px;
            }

            .columns:nth-of-type(5),
            .columns:nth-of-type(6) {
                width: calc(68% - 325px);
                padding-left: 0;
            }
        }
    }
}
@media (max-width: 640px) {
    .b-catalog-spisok {
      &_new {
        text-align: center;
        .b-catalog-spisok__img {
          margin: 0;
        }
        .b-catalog-spisok__do {
          margin: 0;
        }

      }
        &__checked {
            right: -1px;
            left: auto;

            &_inside {
                right: auto;
                left: calc(50% - 38px);
            }
        }

        &__gr {
            margin-left: 0;
        }

        &__grup-icon {
            right: -6px;
            bottom: 23px;
        }

        &__name {
            a {
                font-size: 14px;
            }
        }

        &__prc {
            font-size: 19px;
        }

        &__nmbr {
            margin-top: 7px;
        }

        &__full-price {
            padding-left: 0;
            font-size: 19px;
            margin-top: 0;
        }

        &_bask {
            .columns:nth-of-type(1),
            .columns:nth-of-type(2),
            .columns:nth-of-type(5) {
                width: 50%;
            }

            .columns:nth-of-type(3) {
                width: 100%;
            }

            .columns:nth-of-type(4) {
                width: 45%;
            }

            .columns:nth-of-type(5) {
                width: 55%;
            }

            .columns:nth-of-type(6) {
                position: absolute;
                right: 0;
                width: 40%;
                bottom: 70px;
            }
        }
    }
}
@media (max-width: 400px) {
    .b-catalog-spisok {
        &__grup-icon {
            bottom: 10px;
        }
    }
}
