@charset "utf-8";
$border-gray:#e2e2e2;

h1 {
    font-family: segoe ui, Arial, sans-serif;
    font-size: rem-calc(40);
    font-weight: bold;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
    text-transform: uppercase;
    color: #383838;
}

#dropbox:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: '';
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#dropbox {
    position: relative;
    overflow: hidden;
    min-height: 290px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.5) inset,0 -3px 2px rgba(0,0,0,.1);
}

#dropbox .message {
    font-size: 11px;
    display: block;
    padding-top: 160px;
    text-align: center;
    color: #000;
}

#dropbox .message i {
    font-size: 10px;
    color: #999;
}

#dropbox:before {
    border-radius: 3px 3px 0 0;
}
/* Превью загруженных изображений */
#dropbox .preview {
    position: relative;
    float: left;
    width: 245px;
    height: 215px;
    margin: 55px 0 0 60px;
    text-align: center;
}

#dropbox .preview img {
    display: block;
    max-height: 180px;
    border: 3px solid #fff;
    box-shadow: 0 0 2px #000;
}

#dropbox .imageHolder {
    position: relative;
    display: block;
}

#dropbox .uploaded {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/done.png') no-repeat center center rgba(255,255,255,.5);
    background-size: contain;
}

#dropbox .deleteimg {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/deleteimg.png') no-repeat center center rgba(255,255,255,.5);
    background-size: 50px;
    background-size: contain;
}

#dropbox .preview.active .uploaded {
    display: block;
}

#dropbox .preview.delete .deleteimg {
    display: block;
}
/*Индикатор загрузки*/
#dropbox .progressHolder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #252f38;
    box-shadow: 0 0 2px #000;
}

#dropbox .progress {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    background-color: #2586d0;
    box-shadow: 0 0 1px rgba(255, 255, 255, .4) inset;
}

#dropbox .preview.done .progress {
    width: 100% !important;
}

#dropbox .preview:hover .hover {
    display: block;
}

#dropbox .preview .hover {
    z-index: 9;
    bottom: 12px;
    padding: 20% 10%;
}

#dropbox .preview .btn:hover {
    color: #fff;
    background-color: #2d2d2d;
}

#dropbox .preview .btn {
    cursor: pointer;
}

#dropbox .preview .btn_red {
    color: #fff;
}

.jcarousel-slider-tovar-wrapper .jcarousel {
    max-height: 390px;
}

.jcarousel-slider-tovar-pagination a {
    text-align: center;
}

.jcarousel-slider-tovar-pagination img {
    max-height: 80px;
}
.jcarousel-wrapper_high {
  height: 400px !important;
}

.b-slider2:before,
.b-slider3:before {
    position: absolute;
    left: 28px;
    bottom: 28px;
    color: #ed233b;
    font-size: 16px;
    z-index: 100;
}
@media (max-width: 1200px) {
    .small-12 {
        & > .small-block-grid-3 {
            margin: 0;
        }
    }
}

.b-autoparts {
  &__item {
    padding-bottom: 0 !important;
  }
}
.auto-icon {
  display: block;
  background-position: center center;
  margin: 0 0 rem-calc(40) 0;

  div {
    border: 1px solid #e2e2e2;
    padding: 10% 0;
    display: flex; flex-direction: column; justify-content: center; align-items: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  p {
    margin: rem-calc(20) 0 0 0;
    color: #383838;
    font-size: rem-calc(16);
    font-family: Conv_SegoeUIBold, Arial, sans                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   -serif;
    font-weight: bold;
    text-transform: uppercase;
    span {
      text-transform: none;
    }
  }
}
.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

a.link-gray {
  color: #a1a1a1;
}

a.link-small {
  font-size: em-calc(14);
}

.lpadding-10 {
  padding-left: 10px;
}

.light-button {
  background: none;
  border: 1px solid #000;
  color: #000;
  padding: rem-calc(10, 20);
}

input[type="text"].text-input {
  font-family: 'segoe ui';
  font-size: 1rem;
  display: inline-block;
  height: 46px;
  margin-left: 45px;
  color: #383838;
  border: 1px #e2e2e2 solid;
  margin: 20px 0;
}

.link-btn, .link-btn:hover, .link-btn:visited {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: .8125rem 0;
  line-height: rem-calc(21);
  text-transform: uppercase;
  opacity: 1;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  outline: none;
  margin: 10px 0;
}

.no-margin {
  margin: 0 !important;
}

.spisok-opt-group {
  padding-top: 30px !important;
  padding-bottom: 0 !important;
}

.text-bold {
  font-weight: bold;
}
.no-background {
  background: none !important;
}

.right-float {
  float: right !important;
}

.item-logout {
  width: 50px;
}

.item-login {
  width: 42px;
}

.item-delimeter {
  width: auto;
}

.label-white label, .label-white a {
  color: #fff !important;
}

.label-white a {
  text-decoration: underline;
}

.uptl_container {
  z-index: 100 !important;
}

.no-max-sizes {
  max-width: none !important;
  max-height: none !important;
}

.bx_ordercart .bx_ordercart_coupon input {
}
.bx_ordercart_coupon span.good {
  position: absolute;
  right: 5px;
  top: 0;
}

.bx_ordercart_coupon .bx_ordercart_coupon_notes {
  position: absolute;
  top:0;
  right: 30px;
  left: inherit;
}

.bx_ordercart_coupon {
  display: inline-block;
}

.wait-overlay {
  background: rgba(0,0,0,0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1004;
  left: 0;
}

.ui-widget-content {
  z-index: 10000 !important;
}

.ui-state-focus {
  background: none !important;
}
.__uptlk.uptolike-buttons.no-touch.innerHTML {
  display:none;
}

.bx-authform-social ul {
  padding: 5px 0 12px;
  margin: 0 0 15px;
  display: block;
}

.bx-authform-social ul li {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.bx-authform-social ul li .bx-authform-social-icon {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(/bitrix/components/bitrix/socserv.auth.form/templates/flat/images/sprite.png);
  background-repeat: no-repeat;
  border-bottom: 0;
}

.bx-authform-social ul li .bx-authform-social-icon.google {
  background-position: -264px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.google-plus {
  background-position: -748px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.yandex {
  background-position: -132px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.vkontakte {
  background-position: -616px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.twitter {
  background-position: -660px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.facebook {
  background-position: -704px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.livejournal {
  background-position: -352px 0;
}

.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru {
  background-position: -440px 0;
}

.bx-authform-social ul li .bx-authform-social-icon:hover {
  opacity: .9;
}

.bx-authform-social-popup {
  display: none;
  background: #fff;
  width: auto;
  padding: 15px;
  font-size: 14px;
  white-space: nowrap;
}