.b-forma
{
    font-family: 'segoe ui';

    margin-bottom: 57px;
    &__icon
    {
        position: relative;
    }
    &__title
    {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;

        text-align: center;
        text-transform: uppercase;

        color: #383838;
    }
    &__text
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        padding-top: 26px;
        padding-bottom: 33px;

        color: #a1a1a1;
    }
    &__forgot
    {
        float: right;

        padding-top: 10px;
        &-link
        {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            color: #153f93;
        }
    }
    &__enter
    {
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;

        display: block;

        margin-top: 77px;
        margin-bottom: 10px;

        text-align: center;
        text-transform: uppercase;

        color: white;
        border-bottom: 3px solid #191919;
        background-color: #262525;
    }
    &__continue
    {
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;

        display: block;

        text-align: center;
        text-transform: uppercase;

        color: #383838;
        border-bottom: 3px solid #b8b8b8;
        background-color: #d4d4d4;
    }
}
input.b-forma__email
{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    height: 46px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 19px;

    color: #a1a1a1;
    border: 1px solid #e2e2e2;
    background-color: white;
}
input.b-forma__pass
{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    height: 46px;
    margin-bottom: 7px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 19px;

    color: #a1a1a1;
    border: 1px solid #e2e2e2;
    background-color: white;
}

.b-forma__pass-ico
{
    position: absolute;
    z-index: 0;
    top: -37px;
    right: 10px;

    display: inline-block;

    width: 27px;
    height: 15px;

    background-image: url('../images/hide_pass.png');
}
