.geo-cities-popup {
  max-width: rem-calc(705);
  padding: rem-calc(50);

  p {
    font-size: 14px;
    color: #7f7e7e;
  }

  &__input {
    width: calc(90% - .5rem) !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
  }

  &__button {
    width: calc(10%);
    height: 37px;
    margin: 0;
    padding: 0;

    font-family: 'Conv_SegoeUISemiBold';
    font-size: 16px;

    text-transform: uppercase;
    border-bottom: 3px solid #100f0f;
    background: #262525;
    vertical-align: top;
  }

  &__pickup-list {
    max-height: 400px;
    overflow: auto;
  }
}

.geo-cities {
  list-style: none;

  margin: rem-calc(15) 0 rem-calc(20) 0;

  color: #383838;
  font-size: rem-calc(14);

  &__item {
    padding: 0 0 rem-calc(15) 0;

    a {
      color: #383838;

      font-size: 14px;
      color: rgb(56, 56, 56);
    }
  }
}