.b-lk-content {
    font-size: rem-calc(16);
    color: #4c4c4c;

    &__newbie {
        .b-lk-content__label {
            padding-top: 13px !important;
        }

        textarea {
            height: 108px;
        }
    }

    &__download {
        color: #153f93;
        font-size: 16px;
        cursor: pointer;
    }

    &__insider {
        background-color: #f5f5f5;
        border: 1px solid #e2e2e2;
        margin-left: -21px;
        margin-right: -46px;
        padding: 40px 45px 28px 20px;
        margin-bottom: 40px;
    }

    &__matrix {
        background-color: #ebebeb;
        border: 1px solid #e2e2e2;
        max-width: 618px;
        padding: 40px 45px 25px 20px;

        .b-lk-content__choise {
            margin-bottom: 0;
        }

        textarea {
            resize: none;
        }

        .b-lk-content {
            &__info {
                &_file {
                    width: calc(100% - 139px);
                }
                margin-bottom: 0;
                input[type='password'],
                input[type='text'] {
                    padding-top: 12px;
                    padding-bottom: 13px;
                }
            }

            &__label {
                width: 135px;
                padding-top: 5px;
                color: #4c4c4c;
            }

            &__item {
                margin-bottom: 12px !important;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .b-lk-content__mailing {
        margin-left: 0;
    }

    &__info-row {
        padding-bottom: 18px;
    }

    &__top {
        margin-top: rem-calc(40) !important;
        margin-bottom: rem-calc(40) !important;
        padding-left: 10px;
        padding-right: 10px;

        h1 {
            margin: 0 !important;
        }
    }

    &__subtitle {
        font-family: segoe ui, Arial, sans-serif;
        font-size: rem-calc(20);
        font-weight: bold;
        margin-bottom: rem-calc(40);
        text-transform: uppercase;
        color: #383838;
    }

    &__item {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: rem-calc(20) !important;
    }

    &__label {
        line-height: 1.13;
        width: 135px;
        padding-top: 14px;
        padding-right: 10px;

        &_high {
            padding-top: 5px;
        }

        &_bask {
            width: 108px !important;
        }
    }

    &__info {
        width: calc(100% - 94px);
        max-width: 419px;
        margin-bottom: 18px;

        input[type='password'],
        input[type='text'] {
            font-size: rem-calc(16);
            height: auto;
            margin: 0;
            padding: rem-calc(13) rem-calc(10);
            border: 1px solid #e2e2e2;
            box-shadow: none;

            &:focus {
                border: 1px solid #909090;
            }

            &.error {
                color: #ca3034;
                border: 1px solid #ca3034;
            }
        }

        textarea {
            min-height: rem-calc(100);
            padding: rem-calc(15) rem-calc(20);
            border: 1px solid #e2e2e2;
            box-shadow: none;
        }

        select {
            font-size: rem-calc(16);
            height: auto;
            margin-bottom: rem-calc(18);
            padding: rem-calc(15) rem-calc(10);
            border: 1px solid #e2e2e2;
            outline: none;
            background: url("../images/ri.png") no-repeat 95% center;
            background-color: #fff;
        }

        &_file {
            select {
                padding-right: 35px;
                background: url("../images/ri.png") no-repeat calc(100% - 20px) 20px;
            }
            select[multiple="multiple"] {
                background: none;
            }
        }

        &.services {
            font-size: 0;

            img {
                margin-right: 10px;
            }
        }

        &.services {
            padding-top: rem-calc(15);
            padding-left: rem-calc(45);
        }
    }

    &__error {
        padding: rem-calc(15) rem-calc(20);
        color: #fff;
        background: #ca3034;
    }

    &__textarea {
        position: relative;

        &-label {
            position: absolute;
            top: 10px !important;
            right: 10px;
            width: rem-calc(25);
            height: rem-calc(25);
            cursor: pointer;
            background: url('../images/info.png') no-repeat;

            &:hover + .b-lk-content__tool {
                display: block;
            }
        }
    }

    &__input {
        &-label {
            position: absolute;
            top: 10px !important;
            right: 10px;
            width: rem-calc(25);
            height: rem-calc(25);
            cursor: pointer;
            background: url('../images/info.png') no-repeat;
        }
    }

    &__tool {
        font-size: rem-calc(14);
        position: absolute;
        top: -90px;
        display: none;
        width: 100%;
        max-width: rem-calc(419);
        height: rem-calc(80);
        padding: 20px;
        color: #a1a1a1;
        border: 1px solid #d9d9d9;
        background: #fff;
        -webkit-box-shadow: 0 0 6px 2px rgba(50, 50, 50, .16);
        -moz-box-shadow: 0 0 6px 2px rgba(50, 50, 50, .16);
        box-shadow: 0 0 6px 2px rgba(50, 50, 50, .16);

        .nub {
            position: absolute;
            top: auto;
            right: 12px;
            bottom: -20px;
            display: block;
            width: 0;
            height: 0;
            pointer-events: none;
            border: solid 10px;
            border-color: transparent transparent #333 transparent;
            border-color: #b9b6b6 transparent transparent transparent;
        }

        &-arr {
            position: absolute;
            right: 6px;
            bottom: -16px;
            display: block;
            width: 33px;
            height: 26px;
            pointer-events: none;
            background: url('../images/arrow-arr-pod.png') no-repeat;
        }
    }

    &__check {
        input[type='checkbox'] {
            display: none;
        }

        input[type='checkbox']:checked + label:before {
            background: url('../images/check2.png') no-repeat;
        }

        label {
            font-size: 16px;
            position: relative;
            padding-top: 14px;
            padding-left: 45px;

            &:before {
                position: absolute;
                top: 10px;
                left: 0;
                display: inline-block;
                width: 30px;
                height: 30px;
                content: '';
                background: url('../images/check.png') no-repeat;
            }
        }
    }

    &__button {
        max-width: 519px;
        padding-top: rem-calc(30);
        text-align: center;
        &_new {
          text-align: left;
          max-width:none;
          padding-left: 145px;
        }

        input {
            font-family: 'Conv_SegoeUISemiBold';
            font-size: rem-calc(14);
            width: 100%;
            max-width: 312px;
            height: 46px;
            margin-bottom: rem-calc(50);
            text-transform: uppercase;
            color: #fff;
            border: none;
            border-bottom: rem-calc(3) solid #121111;
            outline: none;
            background: #262525;
        }

        &.pass {
            padding-left: 94px;
            text-align: left;
            border-top: 0;

            input {
                width: rem-calc(240);
            }
        }

        &_zhela {
            float: right;
            width: 286px;
            padding-top: 18px;

            input {
                margin-bottom: 42px;
            }
        }

        &_choise {
            padding-top: 2rem;

            input {
                width: auto;
                height: auto;
                margin-bottom: 0;
            }

            label {
                margin-right: 0 !important;
                font-size: 16px;
                color: #4c4c4c;
            }
        }
    }

    &__tiovar {
        font-family: segoe ui, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        height: 51px;
        padding-left: 19px;
        color: #4c4c4c;
        border: 1px solid #e2e2e2;
        background-color: #f8f8f8;

        &:first-child {
            border-right: 0;
        }
    }

    &__imgshop {
        margin-top: 10px;
        padding: 5px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
    }
}

.b-lk-content__check {
    float: left;
}

.b-lk-content__check label.b-lk-content__lbl-check {
    font-family: 'segoe ui';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 21px;
    margin-bottom: 29px;
    margin-left: 0;
    color: #a1a1a1;
}

.b-lk-content__check input:checked + label.b-lk-content__lbl-check {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 21px;
    margin-bottom: 29px;
    margin-left: 0;
    color: #4c4c4c;
}

select.b-lk-content__select {
    margin-bottom: 18px;
    background: url('../images/ar-menu-my.png') no-repeat right center;
}

textarea.b-lk-content__textarea_bask {
    font-family: 'segoe ui';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #4c4c4c;
}

.b-forma .b-lk-content__pomni {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 0;
    color: #a1a1a1;
}
@media (max-width: 1200px) {
    .b-lk-content {
        padding-right: 10px;
        overflow-x: auto;

        &__clear {
            margin-top: 20px;
        }

        &__subtitle {
            margin-bottom: 20px;
        }

        &__button {
            max-width: 500px;
            padding-top: 0;
            border: 0;

            &_bord {
                padding-top: 20px;
                border-top: 1px solid #e2e2e2;
            }
        }

        &__info {
            &_min {
                margin-bottom: 8px;
            }

            input[type='password'],
            input[type='text'] {
                padding-top: 12px;
                padding-bottom: 13px;
            }

            textarea {
                margin-bottom: 5px;
            }
        }
    }
}
@media (max-width: 960px) {
    .b-lk-content {
        &__clear {
            float: right;
        }

        &__button {
            float: right;
            width: calc(100% - 94px);
            &_new {
              padding-left: 0;
            }
        }
    }
}
@media (max-width: 640px) {
    .b-lk-content {
        margin-bottom: 10px;
        float: right;
        padding-right: 15px;
        padding-left: 15px;

        &__top {
            h1 {
                font-size: 24px;
            }
        }

        &__item {
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }

        .b-lk-content__mailing {
            padding-top: 0;
        }

        &__button_bord {
            max-width: none;
        }

        &__check {
            label:before {
                top: 0;
            }
        }

        &__error {
            padding-bottom: 0;
            color: #ca3034;
            background: #fff;
        }

        &__subtitle {
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }

        &__info {
            width: 100%;
            max-width: none;

            &.services {
                padding-left: 0;
            }

            input[type='password'],
            input[type='text'] {
                padding-top: 9px;
                padding-bottom: 9px;
            }
        }

        &__label {
            line-height: 1;
            width: 100%;
            padding-top: 0 !important;
            padding-bottom: 9px !important;
        }

        &__button {
            width: calc(100% - 20px);
            margin-right: 10px;
            max-width: none;

            input {
                margin-bottom: 28px;
                max-width: none;
                width: 100%;
            }
        }
    }
}
@media (max-width: 1024px) and(min-width: 960px) {
    .b-lk-content {
        &__tiovar {
            width: 50%;
        }
    }
}
@media (max-width: 640px) {
    .b-lk-content {
        &__publish {
            margin-bottom: 0 !important;
            width: auto !important;
        }

        &__label {
            &_file {
                width: 100% !important;
            }
        }

        &__info {
            &_file {}
        }

        &__insider {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__matrix {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 10px;
            max-width: calc(100% - 20px);
            padding-top: 0;

            .b-lk-content__info {
                &_file {
                    width: 100%;
                }
            }
        }

        &__subtitle {
            padding-left: 15px;
        }
    }
}

select.b-lk-content__no-arr-sel {
    background: none;
    padding-right: 0;
}
