.pick {
    color: #4c4c4c;
    background: #fff url("../images/arr.svg") no-repeat;
    background-position: calc(100% - 15px) center;
    padding-right: rem-calc(33);

    @media (max-width: 640px) {
        margin-bottom: rem-calc(0);
    }
}
