.rule {
    color: #fefefe;
    font-size: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
    background-color: #153f93;
    padding-top: rem-calc(15);
    position: relative;
    padding-bottom: rem-calc(15);

    &__btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        border-style: solid;
        border-width: 0;
        cursor: pointer;
        font-family: segoe ui,Arial,sans-serif;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 1.25rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 1rem 2rem 1.0625rem 2rem;
        font-size: 1rem;
        background-color: #383838;
        border-color: #2d2d2d;
        color: #fff;
        transition: background-color 300ms ease-out;
        background: #153f93 url(../images/btn.png)no-repeat center;
        border-left: rem-calc(1) solid #1c479d;
        position: absolute;
        top: rem-calc(0);
        right: rem-calc(65);
        width: rem-calc(51);
        height: rem-calc(51);
        margin-bottom: rem-calc(0);
        display: inline-block;

        &_pen {
            right: rem-calc(0);
            background: #153f93 url(../images/pen.png)no-repeat center;
        }

        &_envelope {
            background: #153f93 url(../images/envelope.png)no-repeat center;
        }

        &_file {
            background: #153f93 url(../images/file.png)no-repeat center;
            right: rem-calc(0);
        }
    }
    &__btn:hover {
      background-color: #2d2d2d;
    }

    @media (max-width: 640px) {
        &__btn {
          margin-top: rem-calc(10);
            position: static;
            float: left;
            width: 50%;
        }
    }
}
