.trend {
float: right;
  width: calc(100% - 232px);
  margin-left: rem-calc(20);
  visibility: hidden;

  &.slick-initialized {
    visibility: visible;
  }

  &.js-active {
    &:after {
      content: '';
      position: absolute;
      left: rem-calc(0);
      top: rem-calc(0);
      width: 100%;
      height: 100%;
      background-color: rgba(#153f93,.5);
    }
  }

  &__slide {
    img {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    width: calc(100% - 249px);
    .slick-dots {
      bottom: rem-calc(-10);
    }
  }
  @media (max-width: 640px) {
    margin-left: rem-calc(0);
    width: 100%;
  }
}
