.callout
  h4 Подписка на новости
  form
    input(type='email', placeholder='Ваша эл. почта', required='')
    button.button.expanded(type='submit') Подписаться &nbsp;
      i.fa.fa-envelope-o.fa-lg
  .text-center.info
    input.more-info#unsubscribe(type='checkbox')
    label.more-info(for='unsubscribe') Как отписаться?
    .sm Пройдите по соответствующей ссылке в нижней части полученного письма.
