.program.text-right
  .program__slide(style="background-image:url(./i/boy1.png);")
    .grid-container
      .program__title Программа
      .program__text «Школьная инновация»
      a(href="#").button.hollow.white Записаться на курс
  .program__slide(style="background-image:url(./i/boy1.png);")
    .grid-container
      .program__title Программа
      .program__text «Школьная инновация»
      a(href="#").button.hollow.white Записаться на курс

.background-main.rect
  .grid-container
    .grid-x.grid-padding-x.large-up-6.text-center.medium-up-3.small-up-2
      .cell.donate
        img(src="./images/data6.svg", alt="")
      .cell.donate
        img(src="./images/data2.svg", alt="")
      .cell.donate
        img(src="./images/data3.svg", alt="")
      .cell.donate
        img(src="./images/nova.svg", alt="")
      .cell.donate
        img(src="./images/data5.svg", alt="")
      .cell.donate
        img(src="./images/data1.svg", alt="")
.grid-container
  .grid-x.grid-padding-x
    .cell.large-18
      h2 Лидеры продаж
    .cell.large-6.medium-10
      select
        option Дошкольные учреждения
        option Дошкольные учреждения 2
  .market
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod1.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod2.png", alt="")
        .product__title Винт Архимеда
        .product__price
          | 4 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod3.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod4.png", alt="")
        .product__title Набор математических весов для учеников
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod1.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
  
  h2 ДЕТСКИЙ САД
  .market
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod5.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod6.png", alt="")
        .product__title Винт Архимеда
        .product__price
          | 4 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod7.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod8.png", alt="")
        .product__title Набор математических весов для учеников
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod1.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
  h2 Школа
  .market
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod9.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod11.png", alt="")
        .product__title Винт Архимеда
        .product__price
          | 4 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod10.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod7.png", alt="")
        .product__title Набор математических весов для учеников
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
    .market__slide
      a(href="#").product
        .product__img.text-center
          img(src="./i/prod1.png", alt="")
        .product__title Комплект съемных стеновых панелей: "Эмоции", "Лабиринт", "Инженер"
        .product__price
          | 24 129
          |
          span.product__rub руб. 
        .text-center
          .button.hollow Смотреть
  .text-center.margin-bottom-20
    a(href="#").button БОЛЬШЕ ТОВАРОВ        
  h2 Наши преимущества
  .grid-x.grid-padding-x.large-up-4.medium-up-2.small-up-2.text-center.margin-bottom-15
    .cell
      .advantage
        .advantage__icon
          img(src="./images/ico1.svg", alt="")
        .advantage__title Бренды    
    .cell
      .advantage
        .advantage__icon
          img(src="./images/ico2.svg", alt="")
        .advantage__title Каталоги
    .cell
      .advantage
        .advantage__icon
          img(src="./images/ico3.svg", alt="")
        .advantage__title Методика
    .cell
      .advantage
        .advantage__icon
          img(src="./images/ico4.svg", alt="")
        .advantage__title Вебинары
  
  .grid-x.grid-padding-x.margin-bottom-17
    .cell.large-12
      h2 О компании
      h4.font-bold Играй, развивайся, учись
      p Компания СТЕМ - дистрибьютор инновационных товаров для образования: учебных и учебно-игровых пособий для детских садов и школ, оборудования для создания предметно-развивающей среды, в том числе для инклюзивного образования, интерактивного оборудования. Мы являемся официальным представителем нескольких лучших производителей учебного оборудования из Великобритании, США и Тайваня. 
      p В постоянно растущем ассортименте Компании СТЕМ только лучшее учебное оборудование и учебно-игровые пособия для детского сада и школы от ведущих мировых производителей. 
      a(href="#").button.hollow ЧИТАТЬ БОЛЬШЕ
    .cell.large-12.text-center
      img(src="./i/kid11.png", alt="")
