.margin-bottom-6
  a(data-toggle='page-tools' type='button' title='Открыть ссылки соц. сетей').button
    i.fa.fa-share-alt.margin-right-2
    span Поделиться ссылкой

  .hide#page-tools(data-toggler='hide')
    a(href='#', title='').fa-stack.fa-lg.text-primary
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-vk.fa-stack-1x.fa-inverse
  
    | &nbsp;
    a(href='#', title='').fa-stack.fa-lg.text-primary
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-facebook.fa-stack-1x.fa-inverse

    | &nbsp;
    a(href='#', title='').fa-stack.fa-lg.text-primary
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-instagram.fa-stack-1x.fa-inverse
    | &nbsp;
    a(href='#', title='').fa-stack.fa-lg.text-primary
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-youtube.fa-stack-1x.fa-inverse
