form.callout
  .grid-x.grid-padding-x
    .auto.cell
      label: input.margin-bottom-0(type='text' placeholder='Поиск')
    .small-7.medium-7.large-5.cell
      button.button.expanded.margin-bottom-0(type='submit')
        i.fa.fa-lg.fa-search.hide-for-medium
        span.show-for-medium Искать
.text-center.medium-text-left
  a(href='').button Товары
  a(href="#").button.light-gray Новости и Акции
  a(href="#").button.light-gray Остальные страницы

.margin-bottom-6 Результаты поиска 1-5 из 200
hr.margin-bottom-6
