.margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Разделы
.callout#menu-left
    ul.menu.vertical
        li: a(href='about.html#lead' title='') Миссия
        li: a(href='about.html#brands' title='') Наши бренды
        li: a(href='dealers-map.html' title='') География дилеров
        li: a(href='#' title='') Новости компании
        li: a(href='#' title='') Реквизиты
