.bg-white.bg-white_bord
  .row.small-up-2.medium-up-3.large-up-5.text-center
    .column.brand
      a(href="#")
        img(src="./i/11.png", alt="")
    .column.brand
      a(href="#")
        img(src="./i/12.png", alt="")
    .column.brand
      a(href="#")
        img(src="./i/13.png", alt="")
    .column.brand
      a(href="#")
        img(src="./i/14.png", alt="")
    .column.brand
      a(href="#")
        img(src="./i/15.png", alt="")
