include ../mixins/_mixin-product
.mb80
.row.column.text-center
  h2 Новинки

.row.piano.text-center(data-equalizer,data-equalize-by-row="true")
  +product('novelty1.jpg','Игрушки музыкальные для малышей БЕЛЬЧОНОК')
  +product('novelty2.jpg','Набор Bead Bazaar Безмятежность')
  +product('novelty3.jpg','HUILE, Кукла (ПВХ, 28 см, озвученная)')
  +product('novelty4.jpg','Игрушки музыкальные для малышей БЕЛЬЧОНОК')
  +product('novelty2.jpg','Игрушки музыкальные для малышей БЕЛЬЧОНОК')
.mb80
.bg-white
  .mb80
  .row.columns.text-center
    h2 Лидеры продаж
  .row.piano.text-center(data-equalizer,data-equalize-by-row="true")
    +product('leaders1.jpg',' Коляска классическая для кукол с сумкой')
    +product('leaders2.jpg','BabyCare')
    +product('leaders3.jpg','Игрушка детская «Автобус-сортер»')
    +product('leaders4.jpg','Игрушки музыкальные для малышей БЕЛЬЧОНОК')
    +product('leaders2.jpg','Кокон-конверт для новорожденного')
  .mb80
.mb80
.row.text-center
  .large-12.medium-12.medium-push-6.columns
    p
      a(href="#")
        img(src="./i/toy2.png", alt="")
  .large-6.medium-6.medium-pull-12.small-12.columns
    p
      a(href="#")
        img(src="./i/toy1.png", alt="")
  .large-6.medium-6.small-12.columns
    p
      a(href="#")
        img(src="./i/toy3.png", alt="")
.row.large-up-4.medium-up-3.small-up-1.text-center(data-equalizer,data-equalize-by-row="true")
  +product('leaders1.jpg',' Коляска классическая для кукол с сумкой')
  +product('leaders2.jpg','BabyCare')
  +product('leaders3.jpg','Игрушка детская «Автобус-сортер»')
  +product('leaders4.jpg','Игрушки музыкальные для малышей БЕЛЬЧОНОК')
  +product('leaders1.jpg','Кокон-конверт для новорожденного')
  +product('novelty2.jpg','Набор Bead Bazaar Безмятежность')
  +product('novelty3.jpg','HUILE, Кукла (ПВХ, 28 см, озвученная)')
  +product('novelty4.jpg','HUILE, Кукла (ПВХ, 28 см, озвученная)')
.row.columns
  include ../common/_pagination
