footer.footer
  .row.large-up-4.medium-up-2.small-up-2
    .columns
      .footer__logo
        a(href="#")
          img(src="./images/rusbaby.svg", alt="")
      .footer__opt
        | Оптовые продажи детских товаров
        br
        | © 2016
      a(href="tel:74956655544").footer__link +7 (495) 66 555 44
      p
        | Время работы:
        br
        | Будние дни с 9:00 до 18:00
        br
        | Выходные - сб, вс
    .columns
      h3.footer__h3 Оптовый магазин
      ul.rule
        each title in ['О компании','Оплата','Доставка','Наши гарантии','Условия работы','Наши преимущества','Контакты']
          li.rule__item
            a(href="#").rule__link= title
    .columns
      h3.footer__h3 Информация
      ul.rule
        each title in ['Новости','Наши бренды','Акции','Правила продажи','Партнеры']
          li.rule__item
            a(href="#").rule__link= title
    .columns
      h3.footer__h3 &#160;
      ul.rule.rule_bottom
        each title in ['Cкачать каталоги','Обратная связь','Обратиться к директору']
          li.rule__item
            a(href="#").rule__link= title
      p
        | создание сайта –
        =" "
        a(href="#").footer__cetera Сetera Labs
