include ../mixins/_mixin-news
p &#160;
.row.columns.text-center
  h2 Новости
p
.row.large-up-4.medium-up-2.small-up-1
  +news('news1.svg','Мастер-класс «Как правильно выбрать коляску и автокресло»')
  +news('news2.svg','Отметка родителей-2015')
  +news('news3.svg','Распродажа зимнего ассортимента со скидками до 30%!')
  +news('news3.svg','Велосипеды Jetem Lexus Trike Next Generation по цене 3950 руб!')
.mb80
