p: img(src='./i/toy-my1.jpeg' alt='товар')
.row.small-up-3.medium-up-4.large-up-6
  - n = 0
  while n < 6
    - n++
    .column
      p
        a(href="#") 
          img(src='./i/toy-my'+ n + '.jpeg' alt=n)
