.top-line
  .row
    .large-9.large-offset-15.columns
      .top-line__menu
        ul.menu-top
          li.menu-top__item
            a.menu-top__link(href="#")
              i.fa.fa-search.fa-inverse
          li.menu-top__item
            a.menu-top__link(href="#")
              i.fa.fa-shopping-cart.fa-inverse
              | Корзина
              span &#160;(1)
          li.menu-top__item
            a.menu-top__link(href="#")
              |Войти
