.row.columns.white.text-center
  ul.dropdown.menu.cat(data-dropdown-menu)
    each title,index in ['О НАС','ТУРНИРЫ','ЛАГЕРЯ','КАЛЕНДАРЬ','документы','СТАТИСТИКА','НОВОСТИ','МЕДИА']
      if index == 7
        li.cat__item
          a.cat__link(href="#")= title
          ul.menu
            li
              a(href="#") Aдрес
            li
              a(href="#") График
      else          
        li.cat__item
          a.cat__link(href="#")= title
