include ../mixins/_mixin-slider
include _menu
+slider('hock.png')
.row.brick
  h2.brick__title.text-center НОВОСТИ ПЛАНЕТЫ ЧЕМПИОНОВ
  .large-22.large-offset-1.end.columns
    .row.large-up-4.small-up-2.text-center
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/img1.png", alt="")
        h4.text-center.large-text-left.news__name Приглашаем хоккеистов 
        p.news__text.text-center.large-text-left (1999-2009 г/р.) принять участие в наших ежегодных тренировочных сборах, которые в этом году будут проводиться с 2 августа по 25 августа.     
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/img2.png", alt="")
        h4.text-center.large-text-left.news__name Приглашаем футболистов
        p.news__text.text-center.large-text-left (1999-2009 г/р.) принять участие в наших ежегодных тренировочных сборах.
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/img3.png", alt="")
        h4.text-center.large-text-left.news__name Хоккей на озере
        p.news__text.text-center.large-text-left Приглашаем принять участие в наших ежегодных тренировочных играх
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/img4.png", alt="")
        h4.text-center.large-text-left.news__name Баскетбольный международный турнир
        p.news__text.text-center.large-text-left (1999-2009 г/р.) принять участие в наших ежегодных тренировочных сборах, которые в этом году будут проводиться с 2 августа 

.row.columns.brick.brick_world
  h2.text-center.brick__title НОВОСТИ мирового спорта
  .row.large-up-4.medium-up-2.small-up-1(data-equalizer)
    .columns.world(data-equalizer-watch)
      .world__name ФУТБОЛ
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Сборная Молдавии готова провести товарищеский матч с россиянами в России
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Шевченко: 6 очков в матчах с Турцией и Косово — идеальный вариант для Украины
      .world__chapter
        .world__time 20:34
        a(href="#").world__link «Манчестер Юнайтед» заинтересовался 19-летним форвардом «Генка» Бэйли
    .columns.world(data-equalizer-watch)
      .world__name ХОККЕЙ
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Занковец: во втором периоде «Нефтехимик» полностью переиграл «Барыс»  1
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Тренерский штаб «Нефтехимика» во главе с Попихиным отправлен в отставку  39
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Сборная Молдавии готова провести товарищеский матч с россиянами в России
    .columns.world(data-equalizer-watch)
      .world__name Воллейбол
      .world__chapter
        .world__time 20:34
        a(href="#").world__link «Урал» переиграл «Югру-Самотлор» и догнал её в турнирной таблице Суперлиги 
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Сборная Молдавии готова провести товарищеский матч с россиянами в России
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Яо Мин: «Хьюстон» слишком рано выводит мой номер из обращения 
    .columns.world(data-equalizer-watch)
      .world__name БАСКЕТБОЛ
      .world__chapter
        .world__time 20:34
        a(href="#").world__link «Кливленд» подписал контракт с разыгрывающим Тони Дугласом
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Сборная Молдавии готова провести товарищеский матч с россиянами в России
      .world__chapter
        .world__time 20:34
        a(href="#").world__link Сборная Молдавии готова провести товарищеский матч с россиянами в России
  p.text-center
    a(href="#").brick__all ВСЕ НОВОСТИ   
include _photo  
include _partners
      
        
