header.header

  .header__main
    .row
      .large-8.medium-12.columns
        ul.about.text-center.medium-text-left
          each title in ['Главная', 'О нас','Новости','Медиа','Контакты']
            li.about__item
              a.about__link(href="#")= title
      .large-3.medium-6.small-12.columns.soc.text-center
        a.soc__icon(href="#")
        a.soc__icon.soc__icon_vk(href="#")
        a.soc__icon.soc__icon_in(href="#")
      .large-3.medium-6.small-12.columns.text-center.header__reg
        a.header__enter(href="#") ВХОД 
        span.header__enter / 
        a.header__enter(href="#") РЕГИСТРАЦИЯ
      .large-4.medium-7.columns.text-center
        form(action="#")
          input(type="text").header__input
      .large-6.medium-10.columns.text-right.hide-for-small-only
        a(href="#").header__our.text-left НАШИ СПОРТИВНЫЕ ОБЪЕКТЫ   
