.row.columns.text-center.hide-for-small-only
  p
    a(href="#")
      img(src="./images/logo.png", alt="")
.row.content.columns
  button.content__toggle(type="button")
  a.logo(href="#").show-for-small-only
    img(src="./images/logo.png", alt="")
  ul.menu.text-center
    each title,index in ['Футбло','Хоккей','Баскетбол','Волейбол','Гандбол']
      li.menu__item
        a(href="#").menu__link= title
