.row.columns.text-center.hide-for-small-only
  p
    a(href="#")
      img(src="./images/logo.png", alt="")
.row.content.columns
  button.content__toggle(type="button")
  a.logo(href="#").show-for-small-only
    img(src="./images/logo.png", alt="")
  ul.menu.text-center
    each title,index in ['International Hockey League','Массовый футбол','Детский хоккей','Детский футбол','Пляжный волейбол','Уличный баскетбол','Спортивно-тренировочный лагерь «ПЛАНЕТА ЧЕМПИОНОВ»']
      if index== 0
        li.menu__item.active
          a(href="#").menu__link= title
      else  
        li.menu__item
          a(href="#").menu__link= title
