.row.brick
  h2.brick__title.text-center НОВОСТИ
  .large-22.large-offset-1.end.columns
    .row.large-up-4.small-up-2.text-center
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/new11.png", alt="")
        h4.text-center.large-text-left.news__name 
          |Расписание 
          br
          |матчей лето’16
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/new12.png", alt="")
        h4.text-center.large-text-left.news__name Российские соревнования
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/new13.png", alt="")
        h4.text-center.large-text-left.news__name Результаты события
      .columns.news
        p.news__img
          a(href="#")
            img(src="./images/new14.png", alt="")
        h4.text-center.large-text-left.news__name МЕЖДУНАРОДНЫЙ ТУРНИР 
