.row.columns.brick.brick_partners
  h2.text-center.brick__title ПАРТНЁРЫ
  .row.large-up-6.medium-up-3.small-up-2.text-center
    .columns
      p
        a(href="#")
          img(src="./images/planet.png", alt="")      
    .columns
      p
        a(href="#")
          img(src="./images/hill.png", alt="")      
    .columns
      p
        a(href="#")
          img(src="./images/planet.png", alt="")      
    .columns
      p
        a(href="#")
          img(src="./images/hill.png", alt="")      
    .columns
      p
        a(href="#")
          img(src="./images/planet.png", alt="")      
    .columns
      p
        a(href="#")
          img(src="./images/hill.png", alt="")      
