extends user-personal

block personal
    .row.column
        p.text-center Пока у вас нет избранных объектов
        p.text-center
            | Чтобы сделать объект избранным,
            br
            | нажмите #[i.fa.fa-lg.fa-star-o] в описании объекта
        p.text-center
            span.text-dark-gray и он появится в списке на этой странице