extends user-map

block map-object-info
    i.fa.fa-3x.fa-map-marker.text-success(style='top: 330px; left: 330px; position: absolute;')
    .callout(style='position: absolute; top: 220px; left: 340px; width: 300px;')
        p
            a.float-right(href='map.html'): i.fa.fa-lg.fa-close
        h3 Название места
        p Посещено?
            .switch
                input.switch-input(type='checkbox', name='visitedSwitch', id='yes')
                label.switch-paddle(for='yes')
                    span.show-for-sr Посещено?
                    span.switch-active(aria-hidden='true')
                    span.switch-inactive(aria-hidden='true')
        p
            a(href='' title='') Сохранить себе
