extends user-personal

block personal
    .row.column
        - var n=0
        while n < 5
            - n++
            .callout
                h3 Название объекта #{n}
                    | &#160;
                    small: a(href='' title='Убрать из избранного'): i.fa.fa-lg.fa-star
                p
                    | Название категории объекта
                    br
                    | г. Ярославль, Проспект Ленина, дом 25, 6 этаж, офис 606
                    br
                    | +7 (499) 918-43-57
                p: a(href='object.html' title='На страницу объекта') Подробнее
        p &nbsp;
        include components/common/_pagination