.row.column
    ul.breadcrumbs
        li
            a(href='#' title='') Главная
        li
            a(href='#' title='') Радзел
        li
            a(href='#' title='') Подраздел
        li.current
            a(href='#' title='') Страница