.footer {
  padding-top: rem-calc(33);
  padding-bottom: rem-calc(24);
  color: $white;
  background: $primary-color;
  font-size: rem-calc(16);

  &__phone {
    font-size: rem-calc(20);
    text-decoration: none;
    display: block;
    color: $white;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }

  &__dark {
    color: $medium-gray;
    display: block;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }

  &__block {
    display: inline-block;
    text-align: left;
  }

  &__mail {
    font-size: rem-calc(17);
    text-decoration: none;
    color: $warning-color;
    display: block;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
  @include breakpoint(small only) {
    &__block {
      text-align: center;
    }
  }
}
