.header {
  padding-top: rem-calc(15);
  color: $primary-color;

  &__logo {
    max-width: rem-calc(210);
  }

  &__main {
    margin-bottom: rem-calc(30);
  }

  &__trans {
    font-size: rem-calc(18);
    color: $dark-gray;
    margin-bottom: rem-calc(30);
  }

  &__block {
    padding-right: rem-calc(90);
  }

  &__phone {
    color: $secondary-color;
    text-decoration: none;
    display: block;
    font-size: rem-calc(16);
    position: relative;
    margin-right: rem-calc(20);
    z-index: 7;
    margin-top: rem-calc(32);
  }
  @include breakpoint(medium down) {
    &__block {
      padding-right: rem-calc(0);
    }

    &__phone {
      margin-right: rem-calc(0);
    }
  }
}
