.sect {
  @include margin-level(bottom,red);

  &_big {
    font-size: rem-calc(18);
  }

  &_main {
    background: $main-color;
  }

  &_dark {
    color: $dark-gray;
  }

  &__date {
    color: $medium-gray;
  }
}
