footer.footer(style="background-image:url(./i/footer.png)")
  .grid-container.footer__main
    .grid-x.grid-padding-x
      .cell.large-3.medium-4
        a(href="#").footer__logo
          img(src="./images/logo-bottom.svg", alt="")
          .footer__rent.text-center автопрокат в Краснодаре
        div
          a.fa-stack.soc(href="#")
            i.fa.fa-circle.fa-stack-2x.text-white
            i.fa.fa-instagram.fa-stack-1x
          a.fa-stack.soc(href="#")
            i.fa.fa-circle.fa-stack-2x.text-white
            i.fa.fa-vk.fa-stack-1x
          a.fa-stack.soc(href="#")
            i.fa.fa-circle.fa-stack-2x.text-white
            i.fa.fa-facebook.fa-stack-1x
        div
          | Создание сайта —
          |
          a(href="https://cetera.ru/").footer__link Cetera Labs  
        div
          a(href="http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate/").footer__link Сообщить об ошибке  
      .cell.large-3.medium-4
        .separator-left.separator-left_small.text-size-default.margin-bottom-4 Доп. услуги 
        .margin-bottom-2
          a(href="#").footer__link
            | Предоставление или возврат
            br
            |автомобиля в нерабочее время
        .margin-bottom-2
          a(href="#").footer__link Дополнительный водитель
        .margin-bottom-2
          a(href="#").footer__link Детское автокресло
        .margin-bottom-2
          a(href="#").footer__link GPS навигация
      .cell.large-3.medium-4
        .separator-left.separator-left_small.text-size-default.margin-bottom-4 Контакты
        .margin-bottom-2 г. Симферополь, Аэропорт, 2-й этаж Терминала А (прилет)
        div
          a(href="tel:+79787150888").footer__tel + 7 (978) 7 - 150 - 888
        .margin-bottom-2
          a(href="tel:+79787978111").footer__tel + 7 (978) 7 - 978 - 111
        .margin-bottom-2
          a(href="mailto:booking@cartravel-crimea.ru").footer__link booking@cartravel-crimea.ru
      .cell.large-3.medium-6.medium-offset-3.large-offset-0
        a(href="#").button.expanded забронировать авто
        .input-group
          input.input-group-field(type='text',placeholder="Поиск")
          .input-group-button
            button(type='submit').button
              i.fa.fa-search
  .footer__bottom
    .grid-container.text-center © 2015 Автопрокат в Крыму. Аэропорт Симферополь. Все права защищены. Не является публичной офертой, вся информация представленная на сайте для ознакомления
                  

  
