mixin slider(img)
  .row.collapse
    .columns.sli
      .sli__item
        a(href="#")
          img(src="./images/#{img}", alt="")
        .sli__container(data-equalizer,data-equalizer-on-medium)
          .sli__date.text-center(data-equalizer-watch)
            |12 
            .sli__month сентября
          .sli__text(data-equalizer-watch)
            .sli__title Текст о событии. 
            |Главная новость дня, недели, месяца.   
      .sli__item
        a(href="#")
          img(src="./images/#{img}", alt="")
        .sli__container(data-equalizer)
          .sli__date.text-center(data-equalizer-watch)
            |13 
            .sli__month сентября
          .sli__text(data-equalizer-watch)
            .sli__title Текст о событии. 
            |Главная новость дня, недели, месяца.  
      .sli__item
        a(href="#")
          img(src="./images/#{img}", alt="")
        .sli__container(data-equalizer,data-equalizer-on-medium)
          .sli__date.text-center(data-equalizer-watch)
            |12 
            .sli__month сентября
          .sli__text(data-equalizer-watch)
            .sli__title Текст о событии. 
            |Главная новость дня, недели, месяца.   
      .sli__item
        a(href="#")
          img(src="./images/#{img}", alt="")
        .sli__container(data-equalizer)
          .sli__date.text-center(data-equalizer-watch)
            |13 
            .sli__month сентября
          .sli__text(data-equalizer-watch)
            .sli__title Текст о событии. 
            |Главная новость дня, недели, месяца.  
