.action {
    list-style-type: none;
    margin-bottom: rem-calc(0);
    margin-left: rem-calc(22);

    &__item {
        margin-bottom: rem-calc(7);
    }

    &__link {
        text-transform: uppercase;
        font-size: rem-calc(12);
        color: $blue;

        &:hover {
            color: $white;
        }
    }
      @include breakpoint(small only) {
      margin-left: rem-calc(0);}
}
