.archer {
    margin: rem-calc(0);
    list-style-type: none;

    &__item {
        background: $blue;
        border-radius: rem-calc(5);
        margin-bottom: rem-calc(7);
    }

    &__link {
      color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}
