fieldset.fieldset
  legend Поиск по алфавиту
  .lead
    ul.menu
      li: a(href="#") А
      li: a(href="#") Б
      li: a(href="#") В
      li: a(href="#") Г
      li: a(href="#") Д
      li: a(href="#") Е
      li: a(href="#") Ж
      li: a(href="#") З
      li: a(href="#") И
      li: a(href="#") К
      li: a(href="#") Л
      li: a(href="#") М
      li: a(href="#") Н
      li: a(href="#") О
      li: a(href="#") П
      li: a(href="#") Р
      li: a(href="#") С
      li: a(href="#") Т
      li: a(href="#") У
      li: a(href="#") Ф
      li: a(href="#") Х
      li: a(href="#") Ц
      li: a(href="#") Ч
      li: a(href="#") Э
      li: a(href="#") Ю
      li: a(href="#") Я
