.slider(data-slider data-start="1800" data-end="2019" data-initial-start="1812" data-initial-end="1980" data-binding="true")
    span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1")
    span.slider-fill(data-slider-fill)
    span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2")
.grid-x.grid-padding-x
    .small-12.medium-12.large-12.cell: input(type="number" id="sliderOutput1")
    .small-12.medium-12.large-12.cell: input(type="number" id="sliderOutput2")
