li.accordion-item(data-accordion-item)
  a.accordion-title(href="#") По месту выпуска
  .accordion-content(data-tab-content)
    .grid-x.grid-padding-x
      .cell
        label
          span.level Район
          select
            option(value="0") Все районы
            option(value="1") Ярославский
            option(value="1") Район 1
            option(value="1") Район 2
            option(value="1") Район 3
      .cell
        label
          span.level Населенный пункт
          select
            option(value="0") Все
            option(value="1") Ярославль
            option(value="1") Город 1
            option(value="1") Деревня 2
            option(value="1") Поселок 3
