li.accordion-item(data-accordion-item)
    a.accordion-title(href="#") По типу газеты
    .accordion-content(data-tab-content)
        +search-refine('Сельская')
        +search-refine('Фабричная','12')
        +search-refine('Заводская','5')
        +search-refine('Общественных объединений','97')
        +search-refine('Университетов','45')