li.accordion-item(data-accordion-item)
    a.accordion-title(href="#") По сложность
    .accordion-content(data-tab-content)
        +search-refine('Низкая','12')
        +search-refine('Средняя','5')
        +search-refine('Высокая','97')