.grid-container: .grid-x.align-center
    .small-24.cell
        .callout.promo
            h2 123 газет и журналов
                br
                | 657456 статей
            h4 c 1812 года до сегодняшнего дня
