mixin rating(n)
    span.rating
        input.rating__input(id="rating-10" + n type="radio" name="rating")
        label.rating__star(for="rating-10" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-9" + n type="radio" name="rating")
        label.rating__star(for="rating-9" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-8" + n type="radio" name="rating")
        label.rating__star(for="rating-8" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-7" + n type="radio" name="rating")
        label.rating__star(for="rating-7" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-6" + n type="radio" name="rating")
        label.rating__star(for="rating-6" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-5" + n type="radio" name="rating")
        label.rating__star(for="rating-5" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-4" + n type="radio" name="rating")
        label.rating__star(for="rating-4" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-3" + n type="radio" name="rating")
        label.rating__star(for="rating-3" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-2" + n type="radio" name="rating")
        label.rating__star(for="rating-2" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
        input.rating__input(id="rating-1" + n type="radio" name="rating")
        label.rating__star(for="rating-1" + n)
            i.far.fa-star.rating__solid
            i.fas.fa-star.rating__regular
