.hide-for-large(data-responsive-toggle='menu-left', data-hide-for='large')
  .button.button_expanded(data-toggle)
    i.fas.fa-lg.fa-bars.picture
    | Навигация
.side#menu-left
  ul.partners
    li.partners__item: a(href='user-admin.html' title='').partners__link Материалы
    li.partners__item: a(href='user-admin-users.html' title='').partners__link Пользователи
