doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include components/shop/_header-2


    include components/mixins/_mixin-step
    include components/mixins/_mixin-radio
    block page
      include components/common/_cont-2

    include components/shop/_footer
    include components/service/_js
