@font-face {
  font-family: "Artifika-Regular";
  src: url("../css/fonts/Artifika-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Artifika-Regular: "Artifika-Regular", Arial, sans-serif;

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../css/fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Bold: "OpenSans-Bold", Arial, sans-serif;

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../css/fonts/OpenSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Italic: "OpenSans-Italic", Arial, sans-serif;

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../css/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Regular: "OpenSans-Regular", Arial, sans-serif;

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../css/fonts/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Semibold: "OpenSans-Semibold", Arial, sans-serif;

@font-face {
  font-family: "PT_Sans-Web-Regular";
  src: url("../css/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-PT_Sans-Web-Regular: "PT_Sans-Web-Regular", Arial, sans-serif;

@font-face {
  font-family: "Roboto-Bold";
  src: url("../css/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Roboto-Bold: "Roboto-Bold", Arial, sans-serif;

@font-face {
  font-family: "Roboto-Medium";
  src: url("../css/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Roboto-Medium: "Roboto-Medium", Arial, sans-serif;

@font-face {
  font-family: "Roboto-Regular";
  src: url("../css/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Roboto-Regular: "Roboto-Regular", Arial, sans-serif;