@charset "utf-8";

$imagesPath:'http://kosmetika-proff.beta3.ceteralabs.com/working-mail/images';

$yellow:#f9dc67;
$black:#484646;
$white:#ffffff;
$blue:#283a5b;
$gray:#999999;
$green:#95be00;
$dark-gray:#666666;

@import "common";
@import "fonts";
@import "foundation";
@import "product";
