extends shop-regular
include components/mixins/_mixin-product-tile-for-compare
block content
  .row.column
    h1 Сравнить товары
  .content
    .row.column
      p
        span Показать:
        | &nbsp; &nbsp;
        strong Только отличия
        | &nbsp; &nbsp;
        a(href='#' title='') Основные параметры
        | &nbsp; &nbsp;
        a(href='#' title='') Все параметры



      .table-scroll
        table
          tr(style="vertical-align:top;")
            td
            td
              +productTileForCompare('instock','','ano1.png')
            td
              +productTileForCompare('','','ano2.png')
            td
              +productTileForCompare('instock','incart','ano3.png')
            td
              +productTileForCompare('','','ano4.png')
            td
              +productTileForCompare('','','ano5.png')
          tr
            th.text-user-small Вес
            td 25кг
            td 35кг
            td 30кг
            td 31кг
            td 27,5кг
          tr
            th.text-user-small Мощность
            td 0,25-160
            td 0,30-180
            td 0,25-155
            td 0,30-180
            td 0,30-170
          tr
            th.text-user-small Передаточное отношение
            td 4,8:1
            td 4,7:1
            td 4,8:1
            td 4,6:1
            td 4,8:1
          tr
            th.text-user-small Количество подшипников
            td 1шт
            td 1+1шт
            td —
            td 1шт
            td —
