extends shop-regular

block content
  .row.column
    h1 Любимые товары
  .content
    .row.column
      +productLine(false, 'onDemand', false, 'inFavourites','ano1.png')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','ano2.png')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','ano3.png')
      hr
      br
      +productLine(false, 'onDemand', false, 'inFavourites','ano4.png')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','ano5.png')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','ano6.png')
      hr
      br
      +productLine(false, 'onDemand', false, 'inFavourites','ano1.png')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','ano2.png')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','ano3.png')
      p &nbsp;
      include components/common/_pagination
