#no-size-popup.reveal.small(data-reveal)
  h4 Этого цвета сейчас нет. Сообщить о появлении?
  +search('На e-mail',true)
    .search__cont
      button.button.button_input(type='button') Сообщить
  include ../common/_close
