#add-to-compare-toast.hide.callout.secondary.toast.padding-right-12(data-toggler='hide' data-closable)
    a(href='shop-compare.html' title='Перейти к сравнению') Сравнить товары&nbsp;
        span.badge.warning 2

    button.close-button(aria-label='Закрыть' type="button" data-close)
        span(aria-hidden="true") &times;


#add-to-favourites-toast.hide.callout.secondary.toast.padding-right-12(data-toggler='hide' data-closable)
    a(href='shop-wishlist.html' title='Перейти в список запомненных товаров') Посмотреть избранное&nbsp;
        span.badge.warning 5

    button.close-button(aria-label='Закрыть' type="button" data-close)
        span(aria-hidden="true") &times;