extends index
block content
  .dummy
    .row.columns.text-center
      h1 О нас
      .line
      div
        include components/blocks/_social
  .row.columns
    p.lead Наш магазин один из крупнейших онлайн магазинов не только в Москве и Московской области, но и в России. У нас представлен широкий ассортимент профессиональной косметики по окрашиванию, уходу, а так же профессиональные инструменты и аксессуары для колористов и парикмахеров.
    p Наш магазин предлагает исключительно оригинальные продукты всемирно известных брендов. Ассортимент нашего магазина постоянно пополняется.
    p Мы предлагаем интересное и выгодное сотрудничество салонам красоты, парикмахерским и частным мастерам Москвы и Московской области. На нашей студии вы можете пройти семинары, освежить ваши знания и узнать много нового. Семинары ведут высококваливицированные технологи.
    p Заказы через сайт принимаются круглосуточно. На сайте представлена исчерпывающая информация о каждом продукте. Вы также сможете пообщаться с нашими профессиональными консультантами по телефону, с помощью онлайн-консультанта, либо написав письмо на электронную почту.
    hr
    p
  .row.large-up-4.small-up-2
    .columns.text-center.manager
      p.manager__img
        img(src="./images/lady.png", alt="")
      b.manager__upper Имя менеджера
      div.manager__upper Должность
      .line
      p
        include components/blocks/_social
      p.manager__text Тут мы можем показать фото и контактную информацию менеджера.
    .columns Тут мы можем показать фото и контактную информацию менеджера, а также написать много описаний и прочего.
    .columns.text-center.manager
      p.manager__img
        img(src="./images/shop.png", alt="")
      b.manager__upper Название магазина
      div.manager__upper Адрес магазина
      .line
      p
        include components/blocks/_social
      p.manager__text Или же можно показать адрес оффлайн-магазина.
    .columns Тут мы можем показать фото и контактную информацию магазина, а также написать много описаний и прочего.
