extends index
block content
  include components/mixins/_mixin-bread
  +bread(['Магазин'])
  .row
    .large-6.medium-8.columns
      aside
        h4 Категории товаров
        .pencil
        ul.categories
          each title,index in ['Аксессуары, техника','Краска для бровей и ресниц','Наборы','Окрашивание волос','Перманентная завивка','Стайлинг','Уход','Уход за телом']
            if index==0
              li.categories__item.active
                a(href="#").categories__link= title
                span.categories__count (#{Math.floor(Math.random() * (15 - 800) + 800)})
                ul.categories
                  each title in ['Аксессуары для парикмахерских работ','Одноразовая продукция','Полотенца']
                    li.categories__item
                      a(href="#").categories__link= title
                      span.categories__count (#{Math.floor(Math.random() * (15 - 800) + 800)})
            else
              li.categories__item
                a(href="#").categories__link= title
                span.categories__count (#{Math.floor(Math.random() * (15 - 800) + 800)})

        h4 Производители
        .pencil.pencil_low
        p
          select
            option Любой Производитель
            option Estel
            option KEEN
        h4 Торговые марки
        .pencil.pencil_low
        p
          select
            option Любой Бренд
            option Estel Airex
            option KEEN

    .large-18.medium-16.columns
      .row.large-up-3.medium-up-2.small-up-1.text-center
        include components/blocks/_shop
        include components/blocks/_shop
        include components/blocks/_shop
        include components/blocks/_shop
        include components/blocks/_shop
        include components/blocks/_shop
