doctype html
html.no-js(lang='ru')
    include components/mixins/_mixin-product-line
    include components/mixins/_mixin-product-tile
    include components/mixins/_mixin-product
    
    
    include components/service/_head
    body
        include components/shop/_add-to-favourites-auth-popup
        include components/shop/_top-line
        include components/shop/_header

        block page
            include components/shop/_gift
            include components/shop/_brands
            include components/shop/_content

            include components/shop/_news
        include components/shop/_footer
        include components/service/_js.html
