extends shop-regular

block content
  .row.column
    h1 Любимые товары
  .content
    .row.column
      +productLine(false, 'onDemand', false, 'inFavourites','toy-my1.jpeg')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','toy-my2.jpeg')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','toy-my3.jpeg')
      hr
      br
      +productLine(false, 'onDemand', false, 'inFavourites','toy-my4.jpeg')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','toy-my5.jpeg')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','toy-my6.jpeg')
      hr
      br
      +productLine(false, 'onDemand', false, 'inFavourites','toy-my1.jpeg')
      hr
      br
      +productLine(false, false, 'inCart', 'inFavourites','toy-my2.jpeg')
      hr
      br
      +productLine('discount', false, false, 'inFavourites','toy-my3.jpeg')
      p &nbsp;
      include components/common/_pagination
