extends index

block page
  include components/common/_breadcrumbs
  block content
    .row.column
      h1 Ошибка 404: страница не найдена
    .content
      .row.columns
        include components/common/_404
