extends components/_authorized

block content
  .mb20
  .row
    .medium-6.columns
      h2 Уход за ногами и ступнями
    .medium-6.columns.text-left.medium-text-right
      .text-asphalt 21 декабря 2016 г.
    .columns
      .edge  
    .large-3.columns.medium-3.text-center.medium-text-left
      .leg
        img(src="./images/leg1.png", alt="")
    .large-9.columns.medium-9
      p
        strong Целый день наши ноги подвергаются большим нагрузкам, поэтому им нужен особый уход. Часто кожа ступней грубеет, на ногах образуются мозоли и трещины, появляется отечность – ноги устают. Полезными
        =" "
        strong.text-primary для оздоровления ног
        =" "
        strong будут балансирующие травяные ванны, растирание пемзой и массаж стоп.   
      strong.text-uppercase Уход за кожей ног
      ul
        li Лучше мыть Ваши ножки не сильно горячей водой.
        li Пока Вы промываете ноги, растирайте их пемзой, в частности имеющиеся мозоли.
        li После мытья необходимо растирать увлажняющий крем круговыми движениями.
        li Во время сна ноги следует расположить выше уровня тела (подложите подушку под ступни), чтобы улучшался кровоток.
        li Возьмите за правило делать регулярные ванны для ног.
      p
        strong.text-uppercase Ванны для ног
        br
        | Чтобы снять усталость, можно изготовить ванночки с такими травами, как мята, крапива или подорожник. Можно добавлять пищевую соду или ароматическую пену для ванны. Процедура должна длиться до 20 минут, температуру нагревать ближе к 38&#160;°С.
  .row      
    .large-3.columns.medium-3.medium-push-9.text-center.medium-text-right
      .leg
        img(src="./images/leg2.png", alt="")
    .large-9.columns.medium-pull-3.medium-9
      p
        | Для
        =" "
        span.text-primary восстановления
        =" "
        | подойдут контрастные гидрованны. Такая ванна улучшит кровообращение. Сначала нужно подержать ноги в тазике с горячей водой (около пяти минут), а потом опустить в прохладную (до 15&#160;°С ) и держать примерно столько же. От отеков поможет ванна с кубиками льда и добавления ментола.
      p Когда кожа распарена, можно начинать шлифовать загрубевшую кожу пемзой или воспользоваться пилингом. Пригодится крем с витаминами и специальными добавками. Увлажняющий крем должен завершить процедуру. Втирайте средство не только на участок стопы и лодыжки, но и по всей длине.
      strong.text-uppercase Ванночка с солью
      br
      p Перед началом процедуры убедитесь, что на коже нет трещин или ранок. Вам понадобятся две чайные ложки соли и одна чайная ложка соды. Соль используется как обычная поваренная, так и йодированная и морская. Нужно развести их в литре чуть горячей воды.    
    
  .row        
    .large-3.columns.medium-3.text-center.medium-text-left
      .leg
        img(src="./images/leg3.png", alt="")
    .large-9.columns.medium-9
      p Старайтесь следить, чтобы вода не становилась слишком горячей. Вместо обычной воды можно использовать отвар из ромашки, зверобоя или календулы. Процедура не должна длиться дольше девяти минут. Иначе это приведет к перенасыщению минералами, от этого появится чувство еще большей усталости.
      strong.text-uppercase Массаж ног
      br
      p Регулярно массажируйте Ваши ножки при помощи массажного коврика. Так удаляется ороговевший слой кожи и улучшается кровообращение. Кроме того, клетки регенерируются. После водных процедур можно размять ступни круговыми движениями, двигаясь от пальцев и постепенно продвигаясь вверх. Массаж поможет вернуть ногам энергию и ускорить кровоток.
  .row.columns.text-center
    a(href="#").button.bat Возврат к списку    
