extends components/_authorized

block slider-main 
  
block content
  .row.section-bump
    .columns
      h2.section-header Статьи
  .row.large-up-3.medium-up-2.treasure
    .columns
      .novel
        .novel__img.text-center.novel__img_first
          img(src="./images/nvl1.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Дом и сад    
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 23 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Одеяло: критерии выбора
        .novel__text На сегодняшний день прилавки современных магазинов радуют большим ассортиментом постельных принадлежностей. Потребители могут выбрать любой подходящий вариант, учитывая финансовые возможности и требования к покупке. Главное – понять, какой именно продукт нужно приобрести и как он будет использоваться.
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl2.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Женщинам    
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 23 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Сумка для обуви: как выбрать?

        .novel__text Сумка прочно вошла в гардероб женщины, как неотъемлемый элемент. Удобство сумки в ее практичности, ведь именно там можно переносить личные вещи. Но вместе с тем женская сумочка может стать отличным дополнением образа. Поэтому женщины выбирают сумку под свой наряд и обувь.
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl3.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Красота и здоровье    
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 14 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Уход за кожей лица и тела
        .novel__text Для женщины особенно важно выглядеть красивой. Чтобы быть неотразимой, множество дам использует свои маленькие хитрости. Кто-то предпочитает нанести яркий макияж, кто-то привлекает к себе внимание гардеробом, кто-то дополняет свой образ аксессуарами.
        .text-right
          a(href="#").novel__more Далее
    
    .columns
      
      .novel
        .novel__img.text-center
          img(src="./images/nvl6.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Дом и сад
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 23 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Как правильно подобрать тюль?


        .novel__text Тюль – это легкая, прозрачная ткань с тканым или вышитым узором. Вместе со шторами этот простой предмет интерьера, играет важную роль в создании уюта и настоящей домашней атмосферы, помогающей расслабиться и отдохнуть после тяжелого трудового дня.
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl7.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Женщинам
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 14 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Мода для полных женщин 2016

        .novel__text Если зимние месяцы негативно отразились на вашей фигуре, или вы всегда были склонны к полноте, то тенденции летней моды 2016 станут для вас приятной неожиданностью. 
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl8.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Дом и сад
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 10 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Как правильно ухаживать за кухонной посудой

        .novel__text Посуда будет служить долго и не навредит здоровью домочадцев, если придерживаться несложных правил. К примеру, при неправильном мытье кастрюль из некоторых металлов можно существенно повредить структуру изделий. Покупка не принесет радости, и нужно будет заново покупать посуду.
        .text-right
          a(href="#").novel__more Далее
    .columns.show-for-large
    
      .novel
        .novel__img.text-center
          img(src="./images/nvl10.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Женщинам    
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 23 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Простые правила подбора обуви
        .novel__text Хорошо подобранная к наряду обувь является основным элементом образа, даже если она не бросается в глаза. Но какими бы модными не были новые сапоги на каблуке, они легко могут все испортить, разрушив гармонию вашего стиля. Чтобы никогда не ошибаться при выборе обуви к платью, давайте рассмотрим основные правила.
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl11.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Дом и сад   
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 14 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Хорошая подушка - залог здорового сна
        .novel__text Обеспечить здоровый сон способна правильно подобранная подушка. Подушка, которую вы используете для сна, может способствовать появлению болей в спине, возникновению преждевременных морщин, болей в шейной области, головных болей. Фактор многих проблем – старая, отвратительного качества, неподходящая подушка.
        .text-right
          a(href="#").novel__more Далее
      .novel
        .novel__img.text-center
          img(src="./images/nvl12.png", alt="")
        .row
          .large-6.medium-12.small-6.columns
            a(href="#").novel__house Дом и сад
          .large-6.medium-12.small-6.columns.large-text-right.novel__date.text-right.medium-text-left 10 декабря 2016 г.
        a(href="#").novel__title.text-center.medium-text-left Как готовить в керамической посуде

        .novel__text Керамическая посуда является одной из лучших, в которой можно готовить пищу и не бояться за выделение вредных для организма химических и токсичных веществ. 
        .text-right
          a(href="#").novel__more Далее
  .row
    hr.show-for-small-only
  .row.small-up-2.show-for-small-only
      .columns
        p.address.address_data
          a(href="#").address__link.address__link_small Назад
      .columns.text-right
        p.address.address_data
          a(href="#").address__link.address__link_small.address__link_right Вперед
      hr.pole    
  .row.columns.hide-for-small-only
    include components/common/_new-pagination
        
