extends shop-regular

block content
  .row.columns
    h2 Подписка
  .cyberweek__form
    .row
      .small-10.medium-7.large-5.columns.small-centered.cyberweek__form-wrapper
        .cyberweek__form-title.text-right
          | Подпишись и получи дополнительную скидку&nbsp;
          span.cyberweek__form-discount
        .row
          .small-3.columns
            label
              | Имя
              span.text-alert *
              | :
          .small-9.columns
            input(type="text",placeholder="")
        .row
          .small-3.columns
            label
              | Фамилия
              span.text-alert *
              | :
          .small-9.columns
            input(type="text",placeholder="")
        .row
          .small-3.columns
            label
              | Е-мейл
              span.text-alert *
              |:
          .small-9.columns
            input(type="email",placeholder="")
        .row
          .small-3.columns
            label
              | Дата рождения:
          .small-9.columns
            input(type="date")
        .row
          .small-3.columns
            label
              | Пол
          .small-9.columns
            input(type="radio",name="gender",checked)#woman
            label(for="woman") Женский
            input(type="radio",name="gender")#man
            label(for="man") Мужской
        .row
          .small-9.small-offset-3.columns
            .row
              .small-1.columns
                input(type="checkbox",checked)#advance
              .small-11.columns
                label(for="advance") Даю согласие на получение скидок и новостей от domalina.ru
        .row
          .small-9.small-offset-3.columns
            button.button.cyberweek__form-button(type="submit") Хочу получить скидку
        .row
          .small-9.small-offset-3.columns.text-center
            span.text-alert *
            span.text-dark-gray  поля, обязательные для заполнения
  .row.columns.hide-for-small-only
    img(src='images/cyberweek-products.jpg')
  .row.columns
    .cyberweek__advantages
      h2.section-header.cyberweek__advantages-title Наши преимущества
      .row(data-equalizer)
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img(src='images/delivery-area.png')
          p.cyberweek__advantages-text.text-center Доставка в любую точку России
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img.show-for-large(src='images/advantages-arrow1.png')
          img(src='images/delivery-time.png')
          p.cyberweek__advantages-text.text-center Доставка за 7-10 дней
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img(src='images/delivery-type.png')
          p.cyberweek__advantages-text.text-center Доставка курьером или Почтой России
          img.show-for-large(src='images/advantages-arrow2.png')
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img.show-for-large(src='images/advantages-arrow3.png')
          img(src='images/pay-type.png')
          p.cyberweek__advantages-text.text-center Оплата наличными или картой при получении
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img(src='images/product-return.png')
          p.cyberweek__advantages-text.text-center Возврат товара в течение 14 дней
          img.show-for-large(src='images/advantages-arrow4.png')
        .small-6.medium-4.large-2.columns.text-center(data-equalizer-watch)
          img.show-for-large(src='images/advantages-arrow5.png')
          img(src='images/delivery-date.png')
          p.cyberweek__advantages-text.text-center Доставка в любой удобный для вас день или время