doctype html
html.no-js(lang='en')
    include components/service/_head
    body.placeholder
        .placeholder__woman.placeholder__woman_red
        .placeholder__woman.placeholder__woman_chair
        .placeholder__info
            .placeholder__info-header
                .placeholder__info-header-big наш сайт
                .placeholder__info-header-small обновляется
            .placeholder__info-text Подождите, пожалуйста