extends components/_regular

block content
    .row.column
        h1 Заголовок страницы h1
    .content
        .row
            .small-12.medium-5.medium-push-7.large-4.large-push-8.column
                .hide-for-medium.button.hollow(data-toggle='menu-section')
                    i.fa.fa-bars &#160;
                    | Меню раздела
                .show-for-medium#menu-section(data-toggler='show-for-medium')
                    include components/corporate/_sidebar
            .small-12.medium-7.medium-pull-5.large-8.large-pull-4.column
                .row
                    .columns.small-12.large-11.end
                        include components/common/_text
            .hide-for-medium.small-12.column
                .text-dark-gray МЕНЮ РАЗДЕЛА
                include components/corporate/_sidebar
