extends components/_index

block page
  include components/mixins/_mixin-block
  include components/mixins/_mixin-product-tile
  include components/mixins/_mixin-tile
  include components/shop/_quickview-product
  include components/shop/_add-to-favourites-auth-popup



  section.main-sections-banners
    include components/shop/_banners-main

  .row.column.subscribe.subscribe_homepage

    include components/common/_subscribe-form

  .row.small-collapse.medium-uncollapse
    .small-12.medium-6.column
      .trust
        a(href='/woman/clothes')
          img(src='./images/subtizer-1-2.jpg')
    .small-12.medium-6.column
      .trust.trust_last
        a(href='/sale/woman/clothes/tunicdress/')
          img(src='./images/subtizer-2-2.jpg')
            

  .content
    .row.column
      .row.column.section-header
        h2 ВАША ВЫГОДА / Лучшие предложения

      include components/shop/_war-slide
    hr.mb22.show-for-small-only
    

    .row.column.section-header.hide-for-small-only
      h2 Стиль и мода. Тренды лета

    .row.small-up-1.medium-up-5.large-up-5.looks-collection
      .column: +stub('Выход в свет', 'exit1')(class='stub-photo')
      .column: +stub('Скорая помощь в дождь','exit2')(class='stub-photo')
      .column: +stub('Слагаемые комфорта','exit3')(class='stub-photo')
      .column: +stub('Тропический микс','exit4')(class='stub-photo')
      .column: +stub('Классический минимализм','exit5')(class='stub-photo')
      
    include components/shop/_fashion  
    
    .row.column.section-header.hide-for-small-only
        h2 Стиль и мода. Тренды лета

    .row.small-up-1.medium-up-5.large-up-5.looks-collection
        .column: +stub('Песочные часы', 'fig1')(class='stub-photo')
        .column: +stub('Груша','fig2')(class='stub-photo')
        .column: +stub('Треугольник','fig3')(class='stub-photo')
        .column: +stub('Прямоугольник','fig4')(class='stub-photo')
        .column: +stub('Овал','fig5')(class='stub-photo')
    .row.column
      .row.column.section-header
        h2 Товары специально для вас

      include components/shop/_war-slide


  

    
  section.content.brands
    .row.column
      include components/shop/_brands-preview
      


  include ../images/ecommerce-icons.svg
  
  include components/common/_seo-text
  .mb22
  include components/shop/_benefits
