extends user-account

block userAccount
    h2.section-header Регистрационные данные пользователя

    .row
        .column.small-12.user-data-nfo
            p
                br
                span.text-dark-gray Электронная почта (логин): &#160;
                | user@email.com
            p
                span.text-dark-gray Пароль: &#160;
                a(href='change-password.html' title='') Сменить пароль