include ../mixins/_mixin-comment-author

.callout
  h3
    a.callout__dark(href='#', title='') Последние комментарии

  +commentAuthor
  .sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
  hr.hr

  +commentAuthor
  .sect Обязательно придём!!!
  hr.hr

  +commentAuthor
  .sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
