#offCanvasLeftOverlap.off-canvas.position-left(data-off-canvas='', data-transition='overlap')
  ul.program
    each title in ['«Мира» для детей','Программа лояльности','Аренда','Ресторан','Эколавка']
      li.program__item
        a(href="#").program__link= title
