.grid-x.grid-padding-x.margin-bottom-2
  .cell.large-4.medium-7.small-9
    .price-calculator__info.js-head2 Время
    .price-calculator__name.js-head1
    .price-calculator__hour 3 часа
    .margin-bottom-6 безлимит

      
    .hide-for-large
      .price-calculator__info.js-head2 Время
      .price-calculator__name.js-head1
      .price-calculator__hour 3 часа
      .margin-bottom-6 безлимит

  .cell.auto.medium-auto.price-calculator__divide.price-calculator__divide_uni
    .grid-x.grid-padding-x.large-up-2
      .cell
        .price-calculator__info.js-head2 Будние дни
        .grid-x.grid-padding-x.large-up-2.align-middle.align-center
          .cell.text-center
            .price-calculator__name.price-calculator__name_thin.js-head1 Зона «Аква»
            +qty-field
            +qty-field
  
      .cell
        .price-calculator__info.js-head2 Выходные и праздничные дни
        .grid-x.grid-padding-x.large-up-2.align-middle.align-center
          .cell.text-center
            .price-calculator__name.price-calculator__name_thin.js-head1 Зона «Аква»
            +qty-field
            +qty-field
