ul.accordion(data-accordion='',data-allow-all-closed="true")
  li.accordion-item(data-accordion-item='')
    a.accordion-title(href='#') Как покупать?
    .accordion-content(data-tab-content='')
      p Для того чтобы совершить покупку в нашем интернет-магазине, необходимо зарегистрироваться, указать телефон, адрес доставки, e-mail. Выбрать интересующий Вас товар, указать желаемое количество и указать форму оплаты.
      p После составления заказа, он будет отправлен на проверку, позже Вам перезвонит консультант для подтверждения наличия товара. После этого вы можете оплатить заказ.
      p Доставка товара осуществляется в течении 2-3х дней с момента подтверждения заказа оператором. Доставка в регионы осуществляется почтой России или иной ТРАНСПОРТНОЙ КОМПАНИЕЙ сроки поставки зависят от удаленности Вашего региона.
  li.accordion-item(data-accordion-item='')
    a.accordion-title(href='#') Какие существуют способы оплаты?
    .accordion-content(data-tab-content='')
      p
        |Оплатить выбранные товары вы можете или прямо на сайте (разными способами оплаты) или (после согласования с оператором) по безналу или наличными курьеру.
        br
        |Минимальная сумма заказа — 500 руб.
  li.accordion-item(data-accordion-item='')
    a.accordion-title(href='#') Какие имеются варианты доставки?
    .accordion-content(data-tab-content='')
      p По Москве и Московской области доставка заказов осуществляется курьером. Кроме того вы можете забрать заказ самостоятельно из нашего офиса по адресу: Москва, ул. Лавочкина, д.23 стр. 1. Сумма заказа для самовывоза неограниченна.
      p Доставка в регионы осуществляется почтой России или иной ТРАНСПОРТНОЙ КОМПАНИЕЙ.
      hr
      p
      p Стоимость доставки по Москве и ближнему Подмосковью — 200 руб., доставка заказов от 1500 руб. — бесплатная.
      p При удаленности более 30 км — 400 руб., доставка заказов от 3000 руб. — бесплатная.
      p Дальнее Подмосковье — 600 руб., доставка заказов от 6000 руб. — бесплатная.
  li.accordion-item(data-accordion-item='')
    a.accordion-title(href='#') Как быстро я получу заказ?
    .accordion-content(data-tab-content='')
      p Доставка товара по Москве осуществляется в течении 2–3-ёх дней с момента подтверждения заказа оператором.
      p Сроки поставки по территории России зависят от удаленности Вашего региона.
  li.accordion-item(data-accordion-item='')
    a.accordion-title(href='#') Существует ли возможность возврата / обмена товара? Вопросы гарантии.
    .accordion-content(data-tab-content='')
      p
        |Гарантийные обязательства на наши товары соответствуют условиям предоставления гарантий фирм-производителей этих изделий. Обмен товара производится в соответствии с существующими законодательными нормами. Согласно "Перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации", утвержденного Постановлениями Правительства РФ № 1222 от 20.10.1998 г. и №81 от 06.02.2002, возврату и обмену не подлежат следующие товары:
        br
        |Товары для профилактики и лечения заболеваний в домашних условиях (предметы санитарии и гигиены из металла, резины, текстиля и других материалов, инструменты, приборы и аппаратура медицинские, средства гигиены полости рта, линзы очковые, предметы по уходу за детьми), лекарственные препараты (в ред. Постановления Правительства РФ № 1222 от 20.10.1998 г.)
      ul
        li Предметы личной гигиены (зубные щетки, расчески, заколки, бигуди для волос, парики, шиньоны и другие аналогичные товары) (в ред. Постановления Правительства РФ № 1222 от 20.10.1998 г.)
        li Парфюмерно-косметические товары
        li Текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие);
        li Швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные).
      p
      p
        strong Убедительная просьба проверять наличие и качество товаров в присутстви курьера, уполномоченного для доставки товаров нашей компании!
      p После получения товара покупателем, претензии по качеству, наличию и упаковке не принимаются.
      p
        strong Если у Вас возникли вопросы по гарантии или обмену товара или при оформлении заказа свяжитесь с нами по телефону
        |  8-495-788-06-58, 8-495-587-71-63, 8-916-521-84-06, 8-926-011-42-55, 8-926-600-54-78
