.row
  .small-6.columns.archer__img
    a(href="#")
      img(src="./i/cinema.png", alt="")
  .small-15.columns.archer__title
    |KP Inspire диспенсер для матовых гранул
    .archer__quantity
      | 1 ×&#160;
      b 1&#160;333 &#8381;
  .small-3.columns
    a(href="#").archer__button
      i.fa.fa-times-circle
  .columns
    .pencil
.text-center.archer__total
  span Подытог:&#160;
  span.archer__num 1&#160;333 &#8381;
button.button.expanded.small Перейти в корзину
button.button.button_carrot.expanded.small Оформление заказа
