.row.columns
  nav(aria-label='You are here:').text-center
    ul.checkout
      li.checkout__item Shopping Cart
      li.checkout__item.active Checkout details
      li.checkout__item Order Complete
