.net
  a.fa-stack.has-tip.top.net__love(href="#3",data-tooltip,aria-haspopup="true",data-disable-hover="false",tabindex="1",title="Добавить в избранное")
    i.fa.fa-circle-thin.fa-stack-2x
    i.fa.fa-heart.fa-stack-1x.
