.row.large-up-3.medium-up-2.small-up-1.text-center
  .columns.product
    .product__img
      include _heart
      a(href="#")
        img(src="./i/fresh1.jpg", alt="")
    h5.product__h5
      a(href="#1").product__cat Маски
    .product__title Nioxin Маска д/глуб. восстан. волос (500 мл)
    .product__price 2,260&#160;&#8381;
  .columns.product
    .product__img
      include _heart
      a(href="#")
        img(src="./i/fresh2.jpg", alt="")
    h5.product__h5
      a(href="#1").product__cat Маски
    .product__title Nioxin Маска д/глуб. восстан. волос (500 мл)
    .product__price 2,260&#160;&#8381;
  .columns.product.hide-for-medium-only

    .product__img
      include _heart
      a(href="#")
        img(src="./i/fresh3.jpg", alt="")
    h5.product__h5
      a(href="#1").product__cat Маски
    .product__title Nioxin Маска д/глуб. восстан. волос (500 мл)
    .product__price 2,260&#160;&#8381;
