.row.columns
  nav(aria-label='You are here:')
    ul.breadcrumbs.another
      li
        a(href='#') Home
      li
        a(href='#') Магазин
      li
        a(href='#') Уход
      li
        a(href='#') Специальный уход
