a.fa-stack.fa-lg.soc.soc_white.has-tip.top(href="#3",data-tooltip,aria-haspopup="true",data-disable-hover="false",tabindex="1",title="Share on Facebook")
  i.fa.fa-circle-thin.fa-stack-2x
  i.fa.fa-facebook.fa-stack-1x
a.fa-stack.fa-lg.soc.soc_tw.soc_white.has-tip.top(href="#3",data-tooltip,aria-haspopup="true",data-disable-hover="false",tabindex="1",title="Share on Twitter")
  i.fa.fa-circle-thin.fa-stack-2x
  i.fa.fa-twitter.fa-stack-1x
a.fa-stack.fa-lg.soc.soc_g.soc_white.has-tip.top(href="#3",data-tooltip,aria-haspopup="true",data-disable-hover="false",tabindex="1",title="Share on Google+")
  i.fa.fa-circle-thin.fa-stack-2x
  i.fa.fa-google-plus.fa-stack-1x
a.fa-stack.fa-lg.soc.soc_vk.soc_white.has-tip.top(href="#3",data-tooltip,aria-haspopup="true",data-disable-hover="false",tabindex="1",title="Share on VKontakte")
  i.fa.fa-circle-thin.fa-stack-2x
  i.fa.fa-vk.fa-stack-1x
