extends corp-regular

block content
  .grid-container.margin-top-8.margin-bottom-6: .grid-x.grid-padding-x: .cell.tect-center
    h1 Контакты

  .grid-container: .grid-x.grid-padding-x
    .small-24.medium-12.cell
        article
            h4 Центр здорового отдыха «Мира»
            p: hr
            p Новосибирск, ул. Добролюбова 2А, БЦ&nbsp;«Речной вокзал»
            p
                i.fa.fa-paper-plane.text-size-small.margin-right-2
                span: a(href='mailto:info@miracentr.ru') info@miracentr.ru
            p
                i.fa.fa-phone.text-size-small.margin-right-2
                span: a(href='') +7 (383) 349-18-49

            p
              strong Режим работы
              br
              | Без выходных, с 08:00 до 22:00



    .small-24.medium-12.cell
      .margin-bottom-5
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6344.32377020446!2d37.57639787499114!3d55.79224500973831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549f0c1269c0b%3A0x4236b28a4521323!2z0YPQuy4g0J3QuNC20L3Rj9GPINCc0LDRgdC70L7QstC60LAsIDgsINCc0L7RgdC60LLQsCwgMTI3MjIw!5e0!3m2!1sru!2sru!4v1467010638187"  height="350" style="width:100%; border:0" allowfullscreen)
