extends corp-index

block page
  include components/common/_breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .small-24.medium-16.large-18.cell.padding-top-6.margin-bottom-6
      h1.text-center Кафе здорового питания
      .lead.text-center Уникальная кухня живой и здоровой еды
    .grid-container.margin-bottom-6: .grid-x.grid-padding-x
      .cell
        include components/site/_carousel-media-gallery
    .grid-container: .grid-x.grid-padding-x.padding-top-6
      .cell.small-24.medium-8.large-6.medium-order-2
        include components/site/_food-sidebar
      .cell.auto.medium-order-1
        article.content-block
          h3 В нашем ассортименте:
          ul.list
            li Комплексные обеды, традиционно состоящие из разнообразных салатов, супов и вторых блюд;
            li Вкуснейшие сыроедческие хлебцы, закуски, соусы, овощные и фруктовые смузи;Полезные сладости: торты, пирожные, конфеты.
            li И многое из этого — БЕЗ выпечки!
            li Бездрожжевая выпечка на муке собственного помола: хлеб, булочки, печенья.
        article.content-block
          h3 Где мы берем сырье:
          ul.list
            li 500 Га садов в Черепановском районе Новосибиркой области, где выращивается клубника, черноплодная рябина, смородина, облепиха, жимолость, малина и другие ягоды;
            li пасеки меда на Алтае и Новосибирской области (Салаирский кряж);
            li производство Иван-чая на Алтае;
            li производство гречки и муки собственного помола (гречишной, пшеничной, ржаной).
          p В ближайшее время запланировано строительство Био-вегетария, где будет круглый год выращиваться зелень, фрукты и овощи без использования пестицидов и прочей широко используемой химии.
          p Все это мы используем и планируем использовать для изготовления своей продукции.
          p Производя продукты под торговой маркой Bottva, мы тщательно выбираем лучшие и проверенные рецепты блюд, смузи и коктейлей. Ответственно и педантично подходим и к выбору сырья, знаем многих поставщиков лично.

        .callout.gray-box.margin-bottom-5.text-center.lead
          p Мы верим, что будущее за качественным и настоящим – энергией и созиданием
