extends corp-index
include components/mixins/_mixin-spa-program
block page
  include components/common/_breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .small-24.medium-16.large-18.cell.padding-top-8
      h1.text-center Программы «Мира» СПА
    .padding-bottom-6
      .grid-container: .grid-x.grid-padding-x
        .cell.small-24.medium-8.large-6.medium-order-2
          include components/site/_mira-spa-sidebar

        .cell.auto.medium-order-1
          .margin-bottom-3
          include components/site/_select-place-medium
          p: hr
          nav.text-center.margin-bottom-6.text-center.padding-top-3
            a.tag(href='') Всё
            a.tag(href='') Акции
            a.tag(href='') Массажи
            a.tag(href='') Эксклюзивные массажи
            a.tag(href='') Программы для лица
            a.tag(href='') Маски для лица
            a.tag(href='') Скарбирование
            a.tag(href='') Обертывание
            a.tag(href='') Аромаванны
            a.tag(href='') Ножные ванны
            a.tag(href='') Парения в русской бане
            a.tag(href='') Банные ритуалы в хамаме
            a.tag(href='') Целевые программы
            a.tag(href='') Путешествия
          .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3(data-equalizer="card-service",data-equalize-by-row="true")
            .cell
              +card-service('photo1','Парение','По-царски','Уникальная программа парения на луговом сене по старым русским традициям','Сосновый бор')
            .cell
              +card-service('photo2','Парение','До седьмого пота','Методика включает в себя 5-7 заходов в парную в режиме постоянного контраста низкой и высокой температур. В программу включены обтирание тела медом, маслом и горчицей','Набережная')
            .cell
              +card-service('photo3','Пилинги с скрабы','Ваниль','Способствует усилению кровообращения, отшелушивает и обновляет кожу, заряжая ее новой энергией. Аромат тонизирует, освежает, обеспечивает прилив сил и повышает настроение','Сосновый бор')
            .cell
              +card-service('photo3','Пилинги с скрабы','Ваниль','Способствует усилению кровообращения, отшелушивает и обновляет кожу, заряжая ее новой энергией. Аромат тонизирует, освежает, обеспечивает прилив сил и повышает настроение','Набережная')
            .cell
              +card-service('photo4','Пилинги и скрабы','Череда','Методика включает в себя 5-7 заходов в парную в режиме постоянного контраста низкой и высокой температур. В программу включены обтирание тела медом, маслом и горчицей.Методика включает в себя 5-7 заходов в парную в режиме постоянного контраста низкой и высокой температур. В программу включены обтирание тела медом, маслом и горчицей','Сосновый бор')
            .cell
              +card-service('photo1','Пилинги и скрабы. Программы по лицу','Брусника','Деликатная процедура по очищению и уходу за кожей лица с использованием косметики на основе натуральных масел и экстрактов','Сосновый бор')
            .cell
              +card-service('photo5','Обертывания','Каштан','Уникальная программа парения на луговом сене по старым русским традициям','Набережная')
            .cell
              +card-service('photo1','Спа-программы','Рай','Путешествие в мир наслаждения, отдыха и беззаботности, в мир бесконечного удовольствия','Сосновый бор')
            .cell
              +card-service('photo1','Парение','По-царски','Уникальная программа парения на луговом сене по старым русским традициям','Сосновый бор')