.b-anons {
  padding-bottom: rem-calc(55);

  &__categories {
    background-image: url("../i/bg-anons-title.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #d6cab4;

    &-affiche {
      background-image: url("../i/bg-anons-title-affiche.png");
    }
    &-articles  {
      background-image: url("../i/bg-anons-title-articles.png");
    }
    &-link {
      height: 100%;
      padding-top: 45%;
      width: 100%;
      display: inline-block;
      color: $white;
      padding-left: rem-calc(25);
      text-transform: uppercase;
      font-size: rem-calc(24);
      font-family: $font-family-OpenSansRegular;

      &:hover {
        color: $white;
      }
      &:active {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__li {
    min-height: rem-calc(225)!important;
    height: 100%;
    padding: 0!important;
  }
  &__preview-img{
    width: 100%;

    &-box {
      max-height: rem-calc(127);
      overflow: hidden;
      margin-bottom: rem-calc(10);
    }
  }

  &__link {
    text-transform: none;
    text-decoration: none;
    color: $white;
    font-size: rem-calc(13);
    font-family: $font-family-OpenSansSemiBold;
    line-height: rem-calc(18);
    height: rem-calc(18);
    display: inline-block;
    margin-bottom: 0;

    &-span {
      background-color: $orange;
      float: left;
    }

    &:before {
      content: "";
      display: inline-block;
      width: rem-calc(12);
      height: rem-calc(18);
      background-image: url('../i/sprite.png');
      background-position: rem-calc(-401 0);
      background-repeat: no-repeat;
      float: left;
    }
    &:after {
      content: "";
      display: inline-block;
      width: rem-calc(12);
      height: rem-calc(18);
      background-image: url('../i/sprite.png');
      background-position: rem-calc(-390 0);
      background-repeat: no-repeat;
      float: left;
    }
    &:hover {
      color: $white;
    }
    &:active {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &__time {
    color: $graylighter1;
    font-family: $font-family-OpenSansRegular;
    font-size: rem-calc(15);

    &-orange {
      color: $orange;
      float: right;
      line-height: rem-calc(30);
      font-size: rem-calc(13);
      font-family: $font-family-OpenSansRegular;
    }

  }
  &__title {
    text-decoration: underline;
    font-family: $font-family-OpenSansSemiBold;
    font-size: rem-calc(14);
    color: $gray;
    &:hover {
      color: $gray;
    }
    &:active {
      color: $gray;
    }
    &:focus {
      color: $gray;
    }
  }

  &__separate {
    background-image: url('../i/anons-wave.png');
    background-position: center;
    background-repeat: repeat-x;
    height: rem-calc(55);
    margin-bottom: rem-calc(20);
  }

  &__lenta {
    box-shadow: rem-calc(-1 2 3 0) #ccc;
    position: absolute;

    &-categories {
      &-link {
        width: 100%;
        height: rem-calc(60);
        line-height: rem-calc(60);
        background-color: #d6cab4;
        display: inline-block;
        color: $white;
        text-transform: uppercase;
        font-size: rem-calc(24);
        font-family: $font-family-OpenSansRegular;
        padding-left: rem-calc(20);
        &:before {
          content: '';
          background-image: url('../i/sprite.png');
          background-position: rem-calc(-416 0);
          background-repeat: repeat-x;
          height: rem-calc(57);
          width: rem-calc(40);
          display: inline-block;
          float: right;
          position: relative;
          top: 0;
          right: rem-calc(40);
        }

        &:after {
          content: '';
          position: absolute;
          right: rem-calc(0);
          border: rem-calc(30) solid transparent;
          border-left: rem-calc(20) solid #d6cab4;
          background-color: #fff;
          height:  rem-calc(60);
          border-right-width: 0px;
        }

        &:hover {
          color: $white;
          background-color: $orange;
          &:after {
            border-left: rem-calc(20) solid $orange;
          }
        }
        &:active {
          color: $white;
        }
        &:focus {
          color: $white;
        }
      }

      &:hover {
        background-color: $orange;
      }
    }

    &-box {
      padding: rem-calc(0 15);

      &-item {
        border-bottom: 1px solid #ccc;
        padding: rem-calc(15 0);
        display: inline-block;
        width: 100%;
        &:last-child {
          border-bottom: none;
        }
      }
      &__preview{
        &-img{
          &-box {
            width: 44%;

            float: left;
            margin-right: 2%;
          }
        }
        &-desc {
          margin-left: 47%;
        }
      }
      &-padding {
        padding-left: rem-calc(10);
      }
    }

    &-author {
      color: $graylighter1;
      font-size: rem-calc(12);
    }
  }
}