.b-attractions
{
    margin-bottom: rem-calc(20);
   
    &__link
    {
        font-family: 'Times New Roman', sans-serif;
        font-size: rem-calc(24);
        line-height: rem-calc(24);

        position: relative;

        display: table-cell;

        width: rem-calc(201);
        height: rem-calc(230);
        padding: rem-calc(10 17);

        vertical-align: middle;
        text-transform: uppercase;

        color: #fff;
        background-color: #f57c00;
        &:hover,
        &:focus
        {
            color: #fff;
        }
        &:before
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 0;
            height: 0;

            content: '';

            border-width: 115px 32px 0 0;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
        }
        &:after
        {
            position: absolute;
            bottom: 0;
            left: 0;

            display: block;

            width: 0;
            height: 0;

            content: '';

            border-width: 115px 0 0 32px;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
        }
        &.b-attractions__link_car
        {
            background-image: url(../i/attractions_car.png);
            background-repeat: no-repeat;
            background-position: bottom right;
        }
    }
    &-item
    {
        max-width: rem-calc(200);
        margin: rem-calc(0 7 21);
        padding: rem-calc(0 0 15) !important;

        border-bottom: rem-calc(2) solid #f57c00;
        &__link
        {
            font-family: 'OpenSansSemiBold', Arial, sans-serif;
            font-size: rem-calc(14);
            line-height: rem-calc(22);

            display: block;

            margin-bottom: rem-calc(5);

            text-decoration: underline;

            color: #424242;
        }
        &__img
        {
            min-width: 100%;
            min-height: 100%;
            &-wrapper
            {
                overflow: hidden;

                width: 100%;
                height: rem-calc(130);
                margin-bottom: rem-calc(10);

                text-align: center;
            }
        }
        &__fallow
        {
            line-height: rem-calc(22);
            .b-place__add
            {
                margin: 0;
            }
        }
    }
}
