.b-breadcrumb {
  background-color: #ffe7ce;
  font-size: rem-calc(14);
  font-family: $font-family-OpenSansLight;
  color: #305899;
  padding: rem-calc(7 0);
  margin-top: rem-calc(-4);
  &__item {
    float: left;
    display: inline-block;
    &-link {
      color: #305899;
      &:hover, &:focus {
        color: #9A5003;
      }
    }

    &-span {
      color: #9a8269;
      font-family: $font-family-OpenSansSemiBold;
    }
  }
}