.b-comments {
    &:before, &:after {
        display: table;
        content: '';
        clear: both;
    }

    &__count {
        font-family: $font-family-PFAgoraSlabPro-Reg;
        font-size: rem-calc(14);
        color: $color-text;
        line-height: rem-calc(37);

        background-image: url("../i/wave-gray.png");
        background-repeat: repeat-x;
        background-position: left bottom;
        padding-bottom: rem-calc(10);
        margin-bottom: rem-calc(10);
    }

    &__button {
        float: right;
        text-transform: uppercase;
        border-radius: rem-calc(10);
        font-size: rem-calc(15);
        font-family: $font-family-OpenSansSemiBold;
        padding: rem-calc(7 15);
    }

    &__item {
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(25);

        &-name {
            font-family: $font-family-OpenSansSemiBold;
            font-size: rem-calc(15);
            color: $color-text;
        }
        &-date {
            font-family: $font-family-OpenSansSemiBold;
            font-size: rem-calc(12);
            color: $graylighter1;
        }
        &-avatar {
            float: left;
            width: 10%;
        }
        &-info {
            width: 80%;
            float: left;
        }
        &-message {
            width: 90%;
            margin-left: 10%;
            padding-bottom: rem-calc(30);
            padding-top: rem-calc(10);
            border-bottom: 1px solid $graylighter;
            font-family: $font-family-OpenSansLight;
            font-size: rem-calc(15);
            color: $color-text;
        }
        &-like {
            float: left;
            width: 10%;

            &-heart {
                cursor: pointer;
                background-image: url(../i/sprite.png);
                background-repeat: no-repeat;
                background-position: rem-calc(-19 -46);
                width: rem-calc(18);
                height: rem-calc(15);

                &:hover {
                    background-position: rem-calc(-37 -46);
                }

                &_orange {
                    background-position: rem-calc(-37 -46);
                }
            }
        }

    }
}