.b-content {
  min-height: rem-calc(600);
  &__leto {
    &-title {
      background-image: url("../i/fon_leto.png");
      background-repeat: no-repeat;
      background-position: center right;
    }

    padding-bottom: rem-calc(150);
    background-image: url("../i/fon_leto4.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  &__picture {
    max-width: rem-calc(1920);
    margin: 0 auto;
  }
}

.b-place__description a { color:orange;text-decoration:none; }
.b-place__description a:hover { color:orange;text-decoration:underline; }