$contests-color-red: #ea0200;
$contests-color-green: #5aaa35;
$contests-color-yellow: #fff3e0;
$contests-color-orange: #f57d01;

.b-contests-list {
  &_padding-right {
    padding-right: rem-calc(2);
  }
  &_padding-left {
    padding-left: 0;
  }
  @media #{$screen} and (max-width: #{upper-bound($small-range)}) {
    &_padding-right {
      padding-right: $column-gutter / 2;
    }
    &_padding-left {
      padding-left: $column-gutter / 2;
    }
  }
  &__title{
    color: $contests-color-red;
    font-family: $font-family-OpenSansBold;
    font-size: rem-calc(36);
    line-height: rem-calc(36);
    text-align: center;
    margin-top: rem-calc(40);
  }

  &__item {
    margin: rem-calc(30 0);
    border-color: $contests-color-orange;
    border-width: rem-calc(0 0 2 0);
    border-style: solid;
    &:hover {
      border-color: $contests-color-red;
      box-shadow: rem-calc(0 3 0 0) $contests-color-red;
    }

    &-title {
      color: $contests-color-green;
      font-family: $font-family-OpenSansBold;
      font-size: rem-calc(22);
      line-height: rem-calc(22);
      text-transform: uppercase;
      margin: 0;
      padding: rem-calc(0 0 15 0);
    }
    &-date{
      color: $contests-color-red;
      font-family: $font-family-OpenSansSemiBold;
      font-size: rem-calc(15);
      line-height: rem-calc(15);
      padding-bottom: rem-calc(10);
    }
    &-desc{
      color: $gray;
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(15);
    }
    &__participant {
      background-color: $contests-color-yellow;
      padding: rem-calc(15 15 0 15);
      margin-top: rem-calc(10);
      &-li {
        padding-bottom: rem-calc(10)!important;
      }
      &-title {
        margin: 0;
        padding: rem-calc(0 0 15 0);
        font-size: rem-calc(15);
        font-family: $font-family-OpenSansBold;
      }
      &-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: rem-calc(10);
      }
      &-name {
        color: $color-text;
        font-family: $font-family-OpenSansSemiBold;
        font-size: rem-calc(15);
        padding-bottom: rem-calc(5);
      }
      &-city {
        color: $gray;
        font-family: $font-family-OpenSansRegular;
        font-size: rem-calc(13);
        background-image: url("../i/contests/contests-city-marker.png");
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: rem-calc(15);
      }
      &-results {
        background-image: url("../i/contests/contests-results.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem-calc(46);
        height: rem-calc(46);
        line-height: rem-calc(46);
        float: left;
        margin-top: rem-calc(-10);
        margin-left: rem-calc(-10);
        text-align: center;
        color: $white;
        font-family: $font-family-PFAgoraSlabPro-Reg;
        font-size: rem-calc(24);
        font-weight: bold;
      }
    }
    &__box{
      background-color: #e2e2e2;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      position: relative;
      &-banner {
        padding-top: rem-calc(15);
        text-align: center;
        display: inline-block;
        position: relative;
        width: 100%;
        padding-left: 25%;

        &:before {
          content: "";
          background-image: url("../i/contests/contests-banner-left.png");
          background-position: left center;
          background-repeat: no-repeat;
          width: rem-calc(7);
          height: rem-calc(26);
          float: left;
        }
        &:after {
          content: "";
          background-image: url("../i/contests/contests-banner-right.png");
          background-position: right center;
          background-repeat: no-repeat;
          height: rem-calc(26);
          width: rem-calc(7);
          float: left;
        }
        &_green {
          &:before {
            background-image: url("../i/contests/contests-banner-left_green.png");
          }
          &:after {
            background-image: url("../i/contests/contests-banner-right_green.png");
          }
        }
        &-span {
          float: left;
          background-color: $contests-color-red;
          color: $white;
          font-family: $font-family-OpenSansRegular;
          font-size: rem-calc(12);
          line-height: rem-calc(26);
          height: rem-calc(26);
          padding: 0 5%;
          text-transform: uppercase;
          &_green {
            background-color: $contests-color-green;
          }
        }
      }
    }
  }
}