.b-contests-participant {
  padding: rem-calc(20 0);
  &__title {
    margin: 0;
    font-size: rem-calc(13);
    font-family: $font-family-OpenSansRegular;
    margin-bottom: rem-calc(50);
    &-link {
      text-decoration: underline;
      line-height: rem-calc(18);
      color: $color-text;
      &:hover, &:active, &:focus {
        color: $color-text;
      }
      &:before {
        content: "";
        display: inline-block;
        width: rem-calc(6);
        height: rem-calc(11);
        background-image: url("../i/contests/sprite-contest-detail.png");
        background-position: rem-calc(-89 -1);
        background-repeat: no-repeat;
        float: left;
        line-height:  rem-calc(18);
        margin-top:  rem-calc(5);
        margin-right:  rem-calc(10);
      }
    }
  }

  &__avatar {
    width: rem-calc(50);
    height: rem-calc(50);
    border-radius: rem-calc(25);
    overflow: hidden;
    float: left;
    margin-right: rem-calc(20);

    &-img {
      max-width: rem-calc(50);
    }
  }
  &__city {
    color: #9e9e9e;
    font-size: rem-calc(12);
    font-family: $font-family-OpenSansSemiBold;
  }
  &__border {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: rem-calc(15);
    margin-bottom: rem-calc(15)!important;;
  }

  &__name {
    font-family: $font-family-OpenSansSemiBold;
    font-size: rem-calc(14);
    color: $gray;
  }
  &__desc {
    font-family: $font-family-OpenSansRegular;
    font-size: rem-calc(15);
    color: $gray;
  }

  &__show
  {
    padding-top: rem-calc(5);
    &_counter {
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(24);
      line-height: rem-calc(24);
      display: inline-block;
      margin-right: rem-calc(20);

      &:before {
        background-image: url(../i/contests/sprite-contest-detail.png);
        background-position: rem-calc(0 -28);
        width: rem-calc(23);
        height: rem-calc(17);
        margin-right: rem-calc(10);
      }
    }
    &_votes {
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(24);
      line-height: rem-calc(24);
      display: inline-block;

      &:before {
        content: "";
        display: inline-block;
        background-image: url(../i/contests/sprite-contest-detail.png);
        background-repeat: no-repeat;
        background-position: rem-calc(-25 -28);
        width: rem-calc(20);
        height: rem-calc(17);
        margin-right: rem-calc(10);
      }
    }
  }

  &__vote {
    margin: 0;
    padding: 0;
    height: rem-calc(33);
    line-height: rem-calc(33);
    width: rem-calc(130);
    font-size: rem-calc(14);
  }

  &__page {
    padding-bottom: rem-calc(30);
    &-title {
      font-family: $font-family-OpenSansSemiBold;
      font-size: rem-calc(12);
      color:$graylighter1;
      padding-bottom: rem-calc(10);
    }
    &-link {
      background: #eeeeee;
      color: $black;
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(18);
      padding: rem-calc(5 20);
      border-radius: rem-calc(15);
      margin-right: rem-calc(30);
      &_copy {
        margin: 0;
        padding: 0;
        height: rem-calc(33);
        line-height: rem-calc(33);
        width: rem-calc(130);
        font-size: rem-calc(14);
        background: #dcc097;
        box-shadow: none;
        &:hover, &:focus, &:active {
          background: #fcb142;
        }
      }
    }
  }


  $new-def-color: #0bacd3;
  &__social {
    width: rem-calc(35);
    height: rem-calc(35);
    margin-left: rem-calc(5);
    border-radius: 100%;
    background-size: 120%;
    font-family: $font-family-FontAwesome;
    color: $white;
    text-decoration: none;
    font-size: rem-calc(16);
    display: inline-flex;
    float: left;
    &:hover {
      color: $white;
    }


    $pos-icon-soc: relative;

    &_vk {
      background: #4b709a;// url(../i/social__vk_w.png) no-repeat center center;
      &:after {
        content: "\f189";
        position: $pos-icon-soc;
        display: inline-block;
        padding-top: rem-calc(6);
        padding-left: rem-calc(10);
      }
      &:hover, &:active, &:focus {
        background-color: $new-def-color;
      }
    }
    &_fb {
      background: #3664a2;// url(../i/social__fb_w.png) no-repeat center center;
      &:after {
        content: "\f09a";
        position: $pos-icon-soc;
        padding-top: rem-calc(6);
        padding-left: rem-calc(15);
      }
      &:hover, &:active, &:focus {
        background-color: $new-def-color;
      }
    }
    &_tw {
      background: #55acee;// url(../i/social__tw_w.png) no-repeat center center;
      &:after {
        content: "\f099";
        position: $pos-icon-soc;
        padding-top: rem-calc(6);
        padding-left: rem-calc(12);
      }
      &:hover, &:active, &:focus {
        background-color: $new-def-color;
      }
    }
    &_gp {
      background: #dd4b39;// url(../i/social__gp_w.png) no-repeat center center;
      &:after {
        content: "\f0d5";
        position: $pos-icon-soc;
        padding-top: rem-calc(7);
        padding-left: rem-calc(13);
      }
      &:hover, &:active, &:focus {
        background-color: $new-def-color;
      }
    }
    &_ok {
      background: #f58220;// url(../i/social__ok_w.png) no-repeat center center;
      &:after {
        content: "\f23b";
        position: $pos-icon-soc;
        padding-top: rem-calc(6);
        padding-left: rem-calc(14);
      }
      &:hover, &:active, &:focus {
        background-color: $new-def-color;
      }
    }

    &-wrapper {
      font-size: 0;
      float: right;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(67);
      text-align: right;
    }

  }



  &__header {
    background: linear-gradient(to top, #f7f6f6, #dfdfdf);
    &-title{
      color: $contests-color-red;
      font-family: $font-family-OpenSansBold;
      font-size: rem-calc(40);
      line-height: rem-calc(40);
      text-align: left;
      margin: 0;
      padding-top: rem-calc(50);
    }

    &-date {
      font-family: $font-family-droid-serif;
      color:  $contests-color-red;
      font-size: rem-calc(40);
    }
    &-object {
      bottom: rem-calc(20);
      position: absolute;
      &-name {
        font-family: $font-family-OpenSansRegular;
        font-size: rem-calc(13);
        color: $color-text;
        text-decoration: underline;
        &:hover, &:active, &:focus {
            color: $contests-color-red;
        }
        &:before {
          content: "";
          display: inline-block;
          width: rem-calc(4);
          height: rem-calc(4);
          background-image: url("../i/contests/sprite-contest-detail.png");
          background-position: rem-calc(0 0);
          background-repeat: no-repeat;
          margin-right: rem-calc(10);
          margin-left: rem-calc(2);
          margin-bottom: rem-calc(2);
        }
      }
      &-address {
        font-family: $font-family-OpenSansRegular;
        font-size: rem-calc(13);
        color: $color-text;
        &:before {
          content: "";
          display: inline-block;
          width: rem-calc(10);
          height: rem-calc(15);
          background-image: url("../i/contests/sprite-contest-detail.png");
          background-position: rem-calc(0 -6);
          background-repeat: no-repeat;
          margin-right: rem-calc(8);
          top: rem-calc(2);
          position: relative;
        }
      }
    }
    &-bg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: rem-calc(300);
    }
  }
  &__wrapper{
    background-color: $contests-detail-color-green;
    width: 100%;
    height: rem-calc(42);
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 99;
  }
  &__inner {
    display: table;
    width: 100%;
  }
  &__tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row;
    &-item {
      display: table-cell;
      white-space: nowrap;
      float: none !important;
      &-link {
        font-size: rem-calc(14) !important;
        font-family: $font-family-OpenSansBold !important;
        display: inline-block !important;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        line-height: rem-calc(42);
        height: rem-calc(42);
        text-decoration: none;
        padding: rem-calc(0 5);
        position: relative;
        background-color: transparent !important;
      }
      &-span {
        display: inline-block;
        line-height: rem-calc(22);
      }

      &.active {
        .b-contests-detail__tabs-item-link {
          background: $white !important;
          color: $gray;
          pointer-events: none;
          &:before, &:after {
            display: inline-block;
            content: "";
            width: rem-calc(29);
            height: rem-calc(42);
            position: absolute;
            top: 0;
          }
          &:before {
            right: 100%;
            background: url(../i/sprite.png) no-repeat 0.25rem -9.875rem;
          }
          &:after {
            left: 100%;
            background: url(../i/sprite.png) no-repeat 0 -6.375rem;
          }

          .b-contests-detail__tabs-item-span {
            border-bottom: rem-calc(2) solid $orange;
          }
        }
      }
    }

    &-content {
      padding: rem-calc(30 15 0 0);
      height: 100%;
      overflow: auto;
      padding-bottom: 0;

      &-item {
        font-family: $font-family-OpenSansRegular;
        font-size: rem-calc(15);
        padding-bottom: rem-calc(15);
        color: $color-text;
      }
    }
  }

  &__object {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
    &-title {
      color: $contests-color-red;
      font-family: $font-family-OpenSansBold;
      font-size: rem-calc(36);
      line-height: rem-calc(36);
      text-align: center;
      margin: 0;
      margin-bottom: rem-calc(30);
    }
    &-box {
      width: 100%;
      position: relative;

      &-bg{
        width: 100%;
        min-height: rem-calc(370);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      &-link {
       text-decoration: none;
     }
      &-blue {
        background-color: rgba(48,88,153,0.75);
        bottom: 0;
        position: absolute;
        width: 100%;
        padding: rem-calc(10 0);
      }
      &-name {
        color: $white;
        font-size: rem-calc(24);
        margin: 0;
        font-family: $font-family-OpenSansBold;
        text-shadow: 1px 0px 1px $black;
        padding-bottom: rem-calc(10);
      }
      &-show_counter {
        color: $white;
        line-height: rem-calc(33);
        &:before {
          background-image: url(../i/contests/sprite-contest-detail.png);
          background-repeat: no-repeat;
          background-position: rem-calc(-31) 0;
          width: rem-calc(22);
          height: rem-calc(20);
          margin-top: rem-calc(6);
        }
      }
      &-map {
        color: $white;
        &:before {
          background-image: url(../i/contests/sprite-contest-detail.png)!important;
          background-repeat: no-repeat!important;
          background-position: rem-calc(-11) 0!important;
          width: rem-calc(19)!important;
          height: rem-calc(25)!important;
        }
      }
    }

    &-section {
      position: absolute;
      top: rem-calc(25);
      left: rem-calc(15);
    }
  }
  &__prizes {
    border-width: rem-calc(1 1 1 0);
    border-style: solid;
    border-color: $graylighter;
    padding: rem-calc(10);
    padding-left: rem-calc(30);

    &:before {
      border-image: url(../i/contests/contests-detail-flag.png) 16 stretch;
      display: block;
      content: '';
      position: absolute;
      width: rem-calc(32);
      height: 100%;
      float: left;
      top: 0;
      left: rem-calc(-6);
      border-width: rem-calc(0 0 0 16);
    }
    &-value {
      font-family: $font-family-OpenSansBold;
      &-rub {
        color: $contests-color-red;
        font-size: rem-calc(24);
        font-family: $font-family-OpenSansBold;
        &_span {
          font-size: rem-calc(14);
        }
      }
    }
  }
  &__steps {
    text-align: center;
    padding: 0!important;
    &-box {
      padding: rem-calc(30 0);
    }
    &-number {
      height: rem-calc(85);
      text-align: center;
      position: relative;

      &_span {
        font-family: $font-family-droid-serif-bold;
        font-size: rem-calc(36);
        color: $contests-detail-color-green;
        border: rem-calc(3) solid $graylighter;
        width: rem-calc(85);
        height: rem-calc(85);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        padding-top:rem-calc(11);
        background-color: $white;
        position: relative;
      }
      &:before{
        content: "";
        display: inline-block;
        width: 100%;
        height: rem-calc(3);
        background-color: $graylighter;
        float: left;
        top: 50%;
        position: relative;
      }
    }
    &-desc {
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(15);
      padding: rem-calc(15);
      color: $color-text;
    }
  }
  &__participate {
    text-align: center;
    height: rem-calc(45);
    position: relative;

    &:before{
      content: "";
      display: inline-block;
      width: 32%;
      margin-right: 2%;
      height: rem-calc(3);
      background-color: #f5820b;
      float: left;
      top: 50%;
      position: relative;
    }

    &:after{
      content: "";
      display: inline-block;
      width: 32%;
      margin-left: 2%;
      height: rem-calc(3);
      background-color: #f5820b;
      float: left;
      top: 50%;
      position: relative;
    }
    &-button {
      float: left;
      width: 30%;
      min-width: 250px;
      margin: 0;
      position: relative;
    }
  }
  &__participants {
    &-li {
      border-bottom: 2px solid $orange;
      padding-bottom: rem-calc(10);
    }

    &-link {
      text-decoration: none;
    }
    &-name {
      font-family: $font-family-OpenSansSemiBold;
      font-size: rem-calc(14);
      color: $gray;
    }
    &-city {
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(14);
      color: $gray;
    }
    &-votes {
      font-family: $font-family-OpenSansRegular;
      font-size: rem-calc(14);
      color: $gray;
      &:before {
        content: "";
        display: inline-block;
        background-image: url(../i/contests/sprite-contest-detail.png);
        background-repeat: no-repeat;
        background-position: rem-calc(-55) 0;
        width: rem-calc(15);
        height: rem-calc(14);
        margin-right: rem-calc(5);
      }
    }

    &-bg {
      width: 100%;
      height: rem-calc(200);
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: rem-calc(10);
    }
    &-vote {
      font-size: rem-calc(11);
      font-family: $font-family-OpenSansSemiBold;
      color: $contests-color-red;
      border: 1px solid $contests-color-red;
      border-radius: rem-calc(15);
      padding: rem-calc(3 5);
      line-height: rem-calc(12);
      cursor: pointer;
      text-transform: uppercase;
      display: none;
    }
    &:hover, &:focus, &:active {
      .b-contests-detail__participants{
        &-votes {
          &:before {
            background-position: rem-calc(-72) 0;
          }
        }
        &-vote {
          display: block;
        }
      }
    }
    &-more{
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(50);
      &-link {
        padding: rem-calc(5 20);
        position: relative;
        top: rem-calc(20);
        font-family: $font-family-OpenSansBold;
        cursor: pointer;
      }
    }
  }
  &__footorama{
    margin-bottom: rem-calc(20);
    &_prev {
      width: rem-calc(9)!important;
      height: rem-calc(16)!important;
      background-image: url(../i/contests/sprite-contest-detail.png)!important;
      background-repeat: no-repeat!important;
      background-position: rem-calc(-1 -50)!important;
      margin-left: rem-calc(10);
    }
    &_next {
      margin-right: rem-calc(10);
      width: rem-calc(9)!important;
      height: rem-calc(16)!important;
      background-image: url(../i/contests/sprite-contest-detail.png)!important;
      background-repeat: no-repeat!important;
      background-position: rem-calc(-14 -50)!important;
    }
  }
  &__text {
    font-family: $font-family-OpenSansRegular;
    font-size: rem-calc(15);
    color: $gray;
    margin-bottom: rem-calc(20);
  }

  &__votebig {
    text-align: center;
    height: rem-calc(45);
    position: relative;

    &:before{
      content: "";
      display: inline-block;
      width: 32%;
      margin-right: 2%;
      height: rem-calc(3);
      background-color: #f5820b;
      float: left;
      top: 50%;
      position: relative;
    }

    &:after{
      content: "";
      display: inline-block;
      width: 32%;
      margin-left: 2%;
      height: rem-calc(3);
      background-color: #f5820b;
      float: left;
      top: 50%;
      position: relative;
    }
    &-button {
      float: left;
      width: 30%;
      min-width: rem-calc(250);
      margin: 0;
      position: relative;
      line-height: rem-calc(18);
    }
  }
}