.b-disable-drag
{
    font-size: .875rem;
    line-height: 1.125rem;

    position: absolute;
    z-index: 10;
    top: -7px;
    left: calc(50%);

    width: 270px;
    margin: .4375rem;
    padding: 0 .625rem;

    cursor: pointer;

    color: #fff;
    border-radius: .4375rem;
    background-color: #f57c00;
    &_big {
        top: auto;
        bottom: -3px;
        font-size: 15px;
        padding: 5px 8px;
    }
}
@media (max-width:960px)
{
    .b-disable-drag
    {
        display: block;
    }
}
@media (max-width:640px)
{
    .b-disable-drag
    {
        left: 0px;
    }
}
