.b-gismeteo {

    &__img {
        display: block;
        float: left;
        width: rem-calc(55);
        height: rem-calc(42);
        margin: rem-calc(0 0 5 -5);
        background: url(../i/gismeteo_sprite.png) no-repeat rem-calc(100 0);

        &_sun-cloud {
            background-position: rem-calc(0 0);
        }
    }
    
    &__temp {
        display: block;
        margin: rem-calc(0 0 5 60);
        font-family: Arial, sans-serif;
        font-size: rem-calc(30);
        font-weight: normal;
        color: #333333;

        &-sup {
            font-family: "OpenSansRegular", Arial, sans-serif;
            font-size: rem-calc(12);
            color: #adadad;
            vertical-align: super;
        }
    }

    &__info {

        &-p {
            font-family: Arial, sans-serif;
            font-size: rem-calc(11);
            color: #999999;
            margin-bottom: rem-calc(8);
            display: block;
            line-height: rem-calc(15);

            &:last-child {
                margin-bottom: 0;
            }

            b {
                color: #333333;
            }
        }
    }
}

