$pad-mar: rem-calc(15);

.b-lenta {
  position: absolute;
  width: 100%;
  top: rem-calc(34);
  z-index: 103;
  max-width: rem-calc(280);
  min-width: rem-calc(280);
  line-height: rem-calc(18);
  box-shadow: rem-calc(1 -2 2 1) rgba(0, 0, 0, 0.25);

  &__box {
    max-width: rem-calc(284);
    min-width: rem-calc(284);
    position: relative;
    overflow: hidden;
    margin-left: rem-calc(-2);
    padding-left: rem-calc(2);
    padding-right: rem-calc(2);
    z-index: 100;

    &_hide {
      display: none;
    }
  }

  &__tabs {
    background-color: $tabsbg-color;
    max-width: rem-calc(280);
    min-width: rem-calc(280);

    &-title {
      height: rem-calc(32);
      &__link {
        background-color: transparent !important;
        float: left;
        height: rem-calc(32);
        line-height: rem-calc(32);
        &-span {
          height: rem-calc(32);
          line-height: rem-calc(32);
          display: inline-block;
          background-color: transparent;
          text-align: center;
        }
        &:after {
          display: inline-block;
          content: "";
          width: rem-calc(15);
          height: rem-calc(32);
          cursor: pointer;
          background-image: none;
          background-color: transparent;
          float: right;
        }
        &:before {
          display: inline-block;
          content: "";
          width: rem-calc(15);
          height: rem-calc(32);
          cursor: pointer;
          float: left;
          background-image: none;
          background-color: transparent;
        }
      }

      &.active {
        .b-lenta__tabs-title__link {
          &-span {
            background-color: $white;
          }
          &:after {
            display: inline-block;
            content: "";
            background-image: url(../i/sprite.png);
            background-repeat: no-repeat;
            background-position: rem-calc(-249 0);
            width: rem-calc(15);
            height: rem-calc(32);
            cursor: pointer;
          }
          &:before {
            display: inline-block;
            content: "";
            background-image: url(../i/sprite.png);
            background-repeat: no-repeat;
            background-position: rem-calc(-229 0);
            width: rem-calc(15);
            height: rem-calc(32);
            cursor: pointer;
            float: left;
          }
        }
      }

      &:first-child {
        .b-lenta__tabs-title__link {
          &:before {
            display: none;
          }
        }
      }
      &:last-child {
        .b-lenta__tabs-title__link {
          &:after {
            display: none;
          }
        }
      }
    }

    &-content {
      padding: 0;
      position: absolute;
      background-color: $white;
      height: 0;
      z-index: 100;
      margin-bottom: 0;

      &-box {
        max-width: rem-calc(280);
        min-width: rem-calc(280);
        background-color: $white;
        box-shadow: rem-calc(0 0 2 2) rgba(0, 0, 0, 0.25);
        padding: $pad-mar;
        padding-right: 0;
      }

      &-item {
        font-family: $font-family-OpenSansRegular;
        font-size: rem-calc(14);
        padding: $pad-mar;
        border-bottom: 1px solid $graylighter;

        &-tag {
          display: inline-block;
          padding: rem-calc(2 10);
          margin-bottom: $pad-mar;
          background-color: $orange;
          color: $white;
          border-radius: rem-calc(7);

          &:hover {
            color: $white;
          }
          &:active {
            color: $white;
          }
          &:visited {
            color: $white;
          }
        }
        &-img {
          margin-bottom: $pad-mar;
        }
        &-time {
          color: $graylighter1;
        }
        &-link {
          font-weight: bold;
        }

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

      }
    }

  }
  &__title {
    background-color: $orange;
    font-size: rem-calc(21);
    line-height: rem-calc(21);
    margin: 0;
    padding: rem-calc(19 0 19 12);
    color: $white;
    font-family: $font-family-OpenSansSemiBold;

    &:after {
      display: inline-block;
      content: "";
      background-image: url(../i/sprite.png);
      background-repeat: no-repeat;
      background-position: rem-calc(-52 -18);
      width: rem-calc(12);
      height: rem-calc(12);
      right: rem-calc(21);
      position: relative;
      float: right;
      margin-top: rem-calc(5);
    }

    &-arrow {
      cursor: pointer;
      &:before {
        display: inline-block;
        content: "";
        background-image: url(../i/sprite.png);
        background-repeat: no-repeat;
        background-position: rem-calc(-68 -2);
        width: rem-calc(19);
        height: rem-calc(64);
        float: left;
        left: rem-calc(-19);
        position: absolute;
      }
    }

    &_hide {
      &:after {
        display: inline-block;
        content: "";
        background-image: url(../i/sprite.png);
        background-repeat: no-repeat;
        background-position: rem-calc(-52 -31);
        width: rem-calc(12);
        height: rem-calc(12);
        right: rem-calc(21);
        position: relative;
        float: right;
        margin-top: rem-calc(5);
      }
    }
  }
}

.mCS_no_scrollbar {
  padding-right: $pad-mar !important;
}
