.b-marsh
{
    padding-top: 32px;
    padding-right: 15px;
    padding-bottom: 25px;
    &_dop {
        padding-top: 0;
    }
    &__knopki
    {
        margin-top: 17px;
        padding-right: 0;
    }
    &__col
    {
        padding-right: 0;
        padding-left: 0;
    }
    &__h1
    {
        font-family: $font-family-OpenSansBold;
        font-size: 33px;

        padding-right: 7px;
        padding-left: 10px;

        color: #212121;
        &_dop
        {
            font-size: 36px;
        }
    }
}
@media (max-width:960px)
{
    .b-marsh
    {
        padding-top: 0;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        &__h1
        {
            font-size: 22px;

            padding-top: 10px;
        }
        &__col
        {
            padding-left: 10px;
        }
    }
}
@media (max-width:640px)
{
    .b-marsh
    {
        &__h1
        {
        text-align: center;
            font-size: 18px;
        }
    }
}
