.b-objects
{
    padding-bottom: rem-calc(60);
    &_dop
    {
        padding-top: 35px;
    }
    &__btn
    {
        font-family: $font-family-OpenSansBold;
        font-size: 16px;
        line-height: 1.5;

        display: inline-block;

        padding: 10px 70px 9px;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
        border-bottom: 3px solid #994e00;
        border-radius: 23px;
        background-image: linear-gradient(to top, #f57c00 0%, #ffb400 100%);
    }
    &__back
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: rem-calc(13);
        line-height: rem-calc(32);

        position: relative;

        display: inline-block;

        width: rem-calc(140);
        height: rem-calc(32);
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(15);

        cursor: pointer;
        text-align: center;

        opacity: 1;
        color: $white;
        border-radius: rem-calc(20);
        background: linear-gradient(to top, #f57c00, #ffb400);
        &:hover
        {
            color: $white;
        }
        &:focus
        {
            color: white;
        }
        &:active
        {
            color: white;
        }
        &:before
        {
            line-height: rem-calc(32);

            position: relative;
            left: rem-calc(10);

            display: inline-block;
            float: left;

            width: rem-calc(12);
            height: rem-calc(12);
            margin-top: rem-calc(10);

            content: '';

            background-image: url('../i/sprite.png');
            background-repeat: no-repeat;
            background-position: rem-calc(-52 -18);
        }
    }
    &__title
    {
        font-size: rem-calc(36);
        line-height: rem-calc(36);

        margin: 0;
        margin-bottom: rem-calc(30);
    }
    &__desc
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: rem-calc(14);

        padding-top: rem-calc(30);

        text-transform: uppercase;
    }
    &__desc_centered
    {
        font-family: 'OpenSansRegular', Arial, sans-serif;
        font-size: rem-calc(15);

        margin-bottom: rem-calc(30);

        text-align: center;

        color: #212121;
    }
    &__button
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: rem-calc(16);
        line-height: rem-calc(45);

        display: inline-block;

        width: rem-calc(190);
        height: rem-calc(45);
        margin-top: rem-calc(40);

        text-transform: uppercase;

        color: $white;
        border-radius: rem-calc(23);
        background: linear-gradient(to top, $orange, #ffb400);
        box-shadow: 0 1px 1px 1px #994e00;
        &:hover
        {
            color: $white;
        }
        &:active
        {
            color: $white;
        }
    }
    &__content
    {
        &-bg
        {
            display: block;

            height: 100%;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-box
        {
            position: relative;

            display: block;
            float: left;
            overflow: hidden;

            width: 100%;
            height: rem-calc(285);
            margin: rem-calc(2);
            &-big
            {
                height: rem-calc(350);
            }
            &_cols
            {
                position: relative;

                float: left;

                width: 100%;
                height: rem-calc(574);
                padding: 0;
                &21
                {
                    width: 75%;
                }
                &12
                {
                    position: relative;

                    width: 24.5%;
                }
            }
            &_21
            {
                width: 66%;
            }
            &_11
            {
                width: 33%;
            }
            &_12
            {
                width: 100%;
                height: 100%;
            }
        }
        &-item
        {
            position: absolute;
            top: 0;
            left: -100%;

            width: 100%;
            // opacity: 0;
            height: 100%;
            padding: rem-calc(15);

            -webkit-transition: all .5s ease;
               -moz-transition: all .5s ease-in-out;
                -ms-transition: all .5s ease-in-out;
                 -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;

            color: $white;
            background-color: rgba(1, 69, 154, .56);
            &-small
            {
                width: 55%;
                height: 100%;
            }
            &-big
            {
                left: 0;

                width: 45%;
                margin-left: 55%;

                background-color: rgba(2, 24, 59, .7);
                &__corner
                {
                    position: absolute;
                    top: 0;
                    left: rem-calc(-100);

                    height: 100%;

                    transition: all 300ms ease 0s;

                    border-width: medium medium rem-calc(350) rem-calc(100);
                    border-style: none none solid solid;
                    border-color: rgba(2,24,59,.7) transparent;
                }
                &__title
                {
                    font-family: 'OpenSansSemiBold',Arial,sans-serif;
                    font-size: 1.3125rem;
                    line-height: 1.3125rem;

                    position: absolute;
                    top: 20%;
                    left: -30px;

                    width: 100%;
                    height: 60%;
                    padding-top: 25%;

                    color: #fff;
                }
            }
            &:hover
            {
                left: 0;

                opacity: 1;
            }
            &-title
            {
                font-family: $font-family-OpenSansSemiBold;
                font-size: rem-calc(21);
                line-height: rem-calc(21);

                margin: 0;
                margin-bottom: rem-calc(10);
                padding-bottom: rem-calc(10);

                -webkit-hyphens: auto;
                   -moz-hyphens: auto;
                        hyphens: auto;

                color: $white;
                background-image: url(../i/bg-bottom-title.png);
                background-repeat: no-repeat;
                background-position: bottom left;
            }
            &__box
            {
                position: relative;

                display: block;

                width: 100%;
                &-title
                {
                    display: block;
                    float: left;

                    width: 80%;
                }
                &-counter
                {
                    position: absolute;
                    top: 0;
                    right: 0;

                    display: block;
                    float: right;

                    width: 10%;
                    min-width: rem-calc(80);

                    text-align: right;
                }
                &_bottom
                {
                    position: absolute;
                    bottom: rem-calc(15);

                    display: block;

                    padding-right: rem-calc(30);
                    &-big
                    {
                        right: 0;

                        width: 118%;
                        padding-right: rem-calc(15);
                    }
                }
            }
            &-desc
            {
                font-family: $font-family-OpenSansRegular;
                font-size: rem-calc(13);

                display: block;

                color: $white;
            }
            &-citi
            {
                font-size: rem-calc(13);

                color: $white;
                &:hover
                {
                    color: $white;
                }
                &:active
                {
                    color: $white;
                }
                &:focus
                {
                    color: $white;
                }
            }
            &-more
            {
                font-family: $font-family-OpenSansSemiBold;
                font-size: rem-calc(13);
                line-height: rem-calc(26);

                display: inline-block;
                float: right;

                width: rem-calc(110);
                height: rem-calc(26);

                text-align: center;

                color: $white;
                border-radius: rem-calc(13);
                background: linear-gradient(to top, $orange, #ffb400);
                box-shadow: 0 1px 1px 1px #994e00;
                &:hover
                {
                    color: $white;
                }
                &:active
                {
                    color: $white;
                }
                &:focus
                {
                    color: $white;
                }
            }
        }
    }
    &-list
    {
        margin-bottom: rem-calc(60);
        padding-top: rem-calc(60);
        &__select
        {
            &-separate
            {
                height: rem-calc(60);

                background-image: url('../i/anons-wave.png');
                background-repeat: repeat-x;
                background-position: center;
            }
        }
        &__accordion
        {
            &-a
            {
                line-height: rem-calc(40);

                margin-bottom: rem-calc(10);

                border-width: rem-calc(1);
                border-style: solid;
                border-color: $graylighter;
                border-radius: rem-calc(5);
                &:before
                {
                    font-size: rem-calc(22);
                    line-height: rem-calc(36);

                    display: inline-block;
                    float: left;

                    width: rem-calc(30);
                    height: rem-calc(40);

                    content: url('../i/accord-right.png');
                    text-align: center;
                }
            }
            &-content
            {
                font-family: $font-family-OpenSansRegular;
                font-size: rem-calc(15);

                margin-bottom: rem-calc(5);

                color: $white;
                border-radius: rem-calc(5);
                &:before
                {
                    display: block;

                    width: rem-calc(13);
                    height: rem-calc(6);
                    margin-top: rem-calc(-20);
                    margin-left: rem-calc(10);
                    padding-bottom: rem-calc(13);

                    content: '';

                    background-image: url('../i/sprite.png');
                    background-repeat: no-repeat;
                    background-position: rem-calc(0 -218);
                }
            }
            &-ul
            {
                margin: 0;
                padding: 0;

                list-style: none;
            }
            &-checkbox
            {
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                &:hover + label
                {
                    cursor: help;

                    background-color: $orange;
                    background-position: rem-calc(-64 0);
                }
                &:not(:checked)
                {
                    position: absolute;
                    left: -9999px;
                }
                &:checked
                {
                    position: absolute;
                    left: -9999px;
                }
                &:not(:checked) + label
                {
                    position: relative;

                    padding-left: 15px;

                    cursor: help;
                }
                &:checked + label
                {
                    position: relative;

                    padding-left: 15px;

                    cursor: help;

                    background-color: $orange;
                    background-position: rem-calc(-64 0);
                }
                &:not(:checked) + label:before
                {
                    position: absolute;
                    top: 2px;
                    left: 0;

                    width: 10px;
                    height: 10px;

                    content: '';
                }
                &:checked + label:before
                {
                    position: absolute;
                    top: 2px;
                    left: 0;

                    width: 10px;
                    height: 10px;

                    content: '';
                }
                &:not(:checked) + label:after
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    content: url('../i/accord-checked.png');
                    transition: all .2s;
                }
                &:checked + label:after
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    content: url('../i/accord-checked.png');
                    transition: all .2s;
                }
                &:not(:checked) + label:after
                {
                    transform: scale(0);

                    opacity: 0;
                }
                &:checked + label:after
                {
                    transform: scale(1);

                    opacity: 1;
                }
            }
            &-label
            {
                font-size: rem-calc(14);
                line-height: rem-calc(18);

                width: 100%;
                margin-right: 0 !important;
                margin-left: 0 !important;

                color: $white;
            }
            &-active-input
            {
                color: $orange !important;
                border-color: #ffb400;
                &:before
                {
                    line-height: 2.125rem;

                    content: url('../i/accord-bottom.png');
                }
            }
        }
        &__item
        {
            position: relative;

            display: block;
            float: left;
            overflow: hidden;

            height: rem-calc(355);
        }
        &__filter
        {
            &-name
            {
                &-input
                {
                    float: left;

                    height: rem-calc(38)!important;
                    margin-bottom: 0!important;
                    padding-right: rem-calc(45)!important;

                    transition: none!important;

                    border-width: rem-calc(1 0 1 1)!important;
                    border-style: solid!important;
                    border-color: #ffb400!important;
                    -webkit-border-radius: rem-calc(5 0 0 5)!important;
                            border-radius: rem-calc(5 0 0 5)!important;
                    outline: none!important;
                    box-shadow: none!important;
                    &-close
                    {
                        font-size: rem-calc(1);

                        position: absolute;
                        top: rem-calc(3);
                        right: rem-calc(40);

                        display: block;

                        width: rem-calc(12);
                        height: rem-calc(10);

                        cursor: pointer;

                        background: url('../i/chosen-sprite.png') right top no-repeat;
                        &-none
                        {
                            display: none;
                        }
                    }
                }
                &-span
                {
                    position: absolute;

                    float: left;

                    width: rem-calc(38);
                    height: rem-calc(38);
                    margin-left: rem-calc(-38);

                    border: none;
                    background-color: #fff;
                }
                &-submit
                {
                    width: 100%;
                    height: 100%;
                    padding: 0;

                    border-radius: rem-calc(0 5 5 0);
                    background: linear-gradient(to top, $orange, #ffb400);
                    &:after
                    {
                        display: inline-block;

                        width: rem-calc(18);
                        height: rem-calc(20);

                        content: '';

                        background-image: url('../i/sprite.png');
                        background-repeat: no-repeat;
                        background-position: rem-calc(-31 -157);
                    }
                }
                &-box
                {
                    position: relative;

                    display: inline-block;

                    width: 100%;
                    margin-top: rem-calc(20);
                }
            }
        }
    }
    &__img
    {
        min-width: 100%;
        min-height: 100%;
        &-wrapper
        {
            width: 100%;
            height: rem-calc(561);

            text-align: center;
        }
    }
}

.active
{
    .b-objects
    {
        &-list
        {
            &__accordion
            {
                &-a
                {
                    color: $orange !important;
                    border-color: #ffb400;
                    &:before
                    {
                        line-height: rem-calc(34);

                        content: url('../i/accord-bottom.png');
                    }
                }
            }
        }
    }
}
@media (max-width:640px) {
    .b-objects {
        &__btn {
            padding: 10px 15px 9px;
            font-size: 14px;
        }
    }
}