.b-object-detail-services {
  &__title {
    background-image: url("../i/bg-title-gray.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: rem-calc(15);
    text-align: left;
    font-family: $font-family-OpenSansBold;
    font-size: rem-calc(36);
    margin: 0;
    line-height: rem-calc(36);
    margin-bottom: rem-calc(24);
  }
  &__item {
    box-shadow: rem-calc(0 1 4 1) rgba(0,0,0,0.25);
    background: linear-gradient(to top, #f3f3f3, #fff);
    cursor: pointer;
    &-bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
    &-box {
      padding: rem-calc(20 15 15 15);
    }
    &-title {
      font-size: rem-calc(15);
      font-family: $font-family-OpenSansBold;
    }
    &-desc {
      color: #9e9e9e;
      font-size: rem-calc(14);
      font-family: $font-family-OpenSansLight;
      margin-bottom: rem-calc(10);
      padding: rem-calc(10 0);
      border-bottom: 1px solid #e0e0e0;
    }
    &-price {
      font-family: $font-family-OpenSansBold;
      font-size: rem-calc(18);
      &-title {
        color: $orange;
        font-weight: bold;
      }
    }
    &-order{
      color: #9e9e9e;
      font-size: rem-calc(13);
      font-family: $font-family-OpenSansRegular;
      padding: rem-calc(3 10);
      &:after {
        content:"";
        background-image: url("../i/sprite.png");
        background-position: rem-calc(-56 -160 );
        background-repeat: no-repeat;
        width: rem-calc(5);
        height: rem-calc(8);
        display: inline-block;
        margin-left: rem-calc(5);
      }
      &:hover {
        background: linear-gradient(to top, $orange, $orangelighter);
        border-radius: 0.625rem;
        box-shadow: rem-calc(0 1 1 1) #994e00;
        cursor: pointer;
        color: $white;
        &:after {
          background-position: rem-calc(-62 -160);
        }
      }
      &_hover {
        background: linear-gradient(to top, $orange, $orangelighter);
        border-radius: 0.625rem;
        box-shadow: rem-calc(0 1 1 1) #994e00;
        cursor: pointer;
        color: $white;
        &:after {
          background-position: rem-calc(-62 -160);
        }
      }
    }
    &:hover {
      .b-object-detail-services{
        &__item {
          &-bg {
            -webkit-box-shadow: rem-calc(0 0 0 7) $orangelighter inset;
            -moz-box-shadow: rem-calc(0 0 0 7) $orangelighter inset;
            box-shadow: rem-calc(0 0 0 7) $orangelighter inset;
          }
          &-title {
            text-decoration: underline;
          }
          &-price {
            color: $orange;
          }
        }
      }
    }
  }
}