.b-photoupload {
    background: url(../i/photoupload_bg.jpg) repeat-y left top;
    background-size: 100% auto;
    padding: rem-calc(30 150);
    margin-bottom: rem-calc(30);

    &__upload {

        &-wrapper {
            text-align: center;
            margin-bottom: rem-calc(30);
        }

        &-input {
            display: none;
        }

        &-label {
            display: inline-block;
            cursor: pointer;
            font-family: "OpenSansRegular", Arial, sans-serif;
            font-size: rem-calc(11);
            text-transform: lowercase;
            color: #525252;
            padding: rem-calc(18 56);
            text-align: center;
            background-color: #fff;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .15), -2px 0px 6px rgba(0, 0, 0, .15);

            &_plus {
                font-family: "OpenSansBold", Arial, sans-serif;
                font-size: rem-calc(72);
                line-height: rem-calc(72);
                display: block;
            }
        }
    }

    &__input,
    input[type="text"].b-photoupload__input,
    input[type="password"].b-photoupload__input,
    input[type="email"].b-photoupload__input {
        font-family: "OpenSansRegular", Arial, sans-serif;
        font-size: rem-calc(15);
        color: #383737;
        padding: rem-calc(13 18);
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 25%, #f3f3f3 50%, #ebebeb 75%, #e4e4e4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(25%, #f8f8f8), color-stop(50%, #f3f3f3), color-stop(75%, #ebebeb), color-stop(100%, #e4e4e4));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 25%, #f3f3f3 50%, #ebebeb 75%, #e4e4e4 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 25%, #f3f3f3 50%, #ebebeb 75%, #e4e4e4 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 25%, #f3f3f3 50%, #ebebeb 75%, #e4e4e4 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 25%, #f3f3f3 50%, #ebebeb 75%, #e4e4e4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
        border-radius: rem-calc(5);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .15);
        height: auto;
    }

    &__btn {
        font-family: "OpenSansSemiBold", Arial, sans-serif;
        font-size: rem-calc(13);
        padding: rem-calc(15 33);
        border-radius: rem-calc(35);

        &-wrapper {
            margin-top: rem-calc(20);
            text-align: center;
        }
    }
}