.b-place {
  position: fixed;
  width: 100%;
  top: rem-calc(36);
  z-index: 100;
  max-width: rem-calc(290);
  max-height: 80%;

  $pad-mar: rem-calc(15);
  $tabsPlacebg-color: #d7cab4;

  &__map {
    font-size: rem-calc(13);
    line-height: rem-calc(23);
    cursor: pointer;

    &:before {
      display: inline-block;
      content: "";
      background-image: url(../i/sprite.png);
      background-repeat: no-repeat;
      background-position: rem-calc(0 -77);
      width: rem-calc(17);
      height: rem-calc(23);
      top: rem-calc(5);
      position: relative;
      margin-right: rem-calc(5);
    }
  }

  &__title {
    border-bottom: 1px solid $color-text;
    display: inline-block;
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  }

  &__info {
    margin-bottom: rem-calc(25);
    display: inline-block;
  }

  &__add {
    background: linear-gradient(to top, $orange, #ffb400);
    border-radius: rem-calc(10);
    font-size: rem-calc(13);
    font-family: $font-family-OpenSansSemiBold;
    padding: rem-calc(2 10);
    margin-bottom: 0;
    margin-top: rem-calc(6);
    box-shadow: 0px 1px 1px 1px #994e00;
    &:before {
      display: inline-block;
      content: "+";
      margin-right: rem-calc(6);
    }
  }

  &__wiki {
    background-image: url(../i/wiki.png);
    background-repeat: no-repeat;
    background-position: top left;
    min-height: rem-calc(82);
    padding-bottom: rem-calc(20);
    cursor: pointer;
    display: table;
    width: 100%;

    &-title {
      margin-left: rem-calc(110);
      margin-right: rem-calc(30);
      display: table-cell;
      vertical-align: middle;
      padding-left: rem-calc(101);
      height: rem-calc(82);
    }

    &:before, &:after {
      display: table;
      content: "";
      clear: both;
    }
  }

  &__description {
    &_small {
      max-height: rem-calc(300);
      overflow: hidden;
      text-indent: 0;
      margin-bottom: rem-calc(10);
      &-height {
        max-height: none;
      }
      &-link {
        margin-top: rem-calc(15);
        cursor: pointer;
        color: #424242;
        font-family: "OpenSansBold",Arial,sans-serif;
        font-size: rem-calc(15);
        text-indent: 0;
        padding: rem-calc(5 10);
        border: 1px solid #f57c00;
        border-radius: rem-calc(4);
        &:hover {
          color: #212121;
          border: 1px solid #f57c00;
        }
      }
    }
  }
  &__description, &__description p {
    font-family: $font-family-OpenSansRegular;
    font-size: rem-calc(18);
    text-indent: 2em;
  }

  &__tabs {
    background-color: $tabsPlacebg-color;
    z-index: 100;

    &-title {
      height: rem-calc(42);
      width: 21%;
      text-align: center;
      left: rem-calc(58);
      &__link {
        height: rem-calc(42);
        line-height: rem-calc(42);
        font-family: $font-family-OpenSansBold !important;
        background-color: $tabsPlacebg-color !important;
        &-span {
          color: #112f67;
          text-transform: uppercase;
        }
      }

      &.active {
        .b-place__tabs-title__link {
          background-color: $white !important;
          &-span {
            color: $gray;
            border-bottom: 1px solid $orange;
            left: rem-calc(-16);
            position: relative;
          }
        }
        &:after {
          display: inline-block;
          content: "";
          background-image: url(../i/sprite.png);
          background-repeat: no-repeat;
          background-position: rem-calc(0 -102);
          width: rem-calc(29);
          height: rem-calc(42);
          cursor: pointer;
          right: rem-calc(-29);
          position: absolute;
          float: right;
          top: 0;
          z-index: 97;
        }
        &:before {
          display: inline-block;
          content: "";
          background-image: url(../i/sprite.png);
          background-repeat: no-repeat;
          background-position: rem-calc(-129 0);
          width: rem-calc(29);
          height: rem-calc(42);
          cursor: pointer;
          float: left;
          position: relative;
          left: rem-calc(-29);

        }
      }

      &:nth-child(2) {
        left: rem-calc(29);
        &.active {
          .b-place__tabs-title__link {
            &-span {
              left: rem-calc(-16);
              position: relative;
            }
          }
        }
      }

      &:nth-child(4) {
        left: rem-calc(58)*2;
      }

      &:first-child {
        left: rem-calc(0);
        .b-place__tabs-title__link {
          &-span {
            left: rem-calc(0);
          }
        }
        &:before {
          display: none;
        }
      }
    }

    &-content {
      padding: $pad-mar;
      height: 100%;
      overflow: auto;
      padding-bottom: 0;

      &-item {
        font-family: $font-family-OpenSansLight;
        font-size: rem-calc(15);
        padding-bottom: $pad-mar;
        border-bottom: 1px solid $graylighter;
        color: $color-text;

        &-tag {
          display: inline-block;
          padding: rem-calc(2 10);
          margin-bottom: $pad-mar;
          background-color: $orange;
          color: $white;
          border-radius: rem-calc(7);

          &:hover {
            color: $white;
          }
          &:active {
            color: $white;
          }
          &:visited {
            color: $white;
          }
        }
        &-img {
          margin-bottom: $pad-mar;
        }
        &-time {
          color: $graylighter1;
        }
        &-link {
          font-weight: bold;
        }

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        &-title {
          font-family: $font-family-PFAgoraSlabPro-Medium;
        }

      }
    }

  }

  &__box {
    position: relative;
  }

  // маршрут
  &-box {
    position: fixed;
    top: 0;
    z-index: 200;
    max-height: 80%;
    width: rem-calc(127);
    display: block;
    overflow: hidden;

    &__box {
      box-shadow: rem-calc(7 7 10 0) rgba(31, 31, 31, 0.3);
      display: none;
      position: fixed;
      z-index: 200;
      top: 0;
      width: rem-calc(115);
      background-color: $white;
      &_show {
        display: block;
      }
    }
    &__expand {
      content: "";
      width: rem-calc(70);
      height: rem-calc(160);
      background-position: rem-calc(-530 -89);
      background-repeat: no-repeat;
      background-image: url('../i/sprite.png');
      display: none;
      box-shadow: rem-calc(7 7 10 0) rgba(31, 31, 31, 0.3);
      border-radius: rem-calc(10);
      position: fixed;
      top: 40%;
      z-index: 200;
      cursor: pointer;
      &_show {
        display: inline-block;
      }
    }
    &__collapse {
      background: linear-gradient(to top, #ef6d00, $orangelighter);
      height: rem-calc(40);
      line-height: rem-calc(38);
      z-index: 201;
      position: absolute;
      width: 100%;
      text-align: center;
      color: $white;
      font-family: $font-family-OpenSansSemiBold;
      font-size: rem-calc(14);
      cursor: pointer;
    }
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    &-430 {
      width: rem-calc(430);
    }
    &-scroll {
      background-color: #fff;
      padding: rem-calc(40 0 20 0);
      width: rem-calc(115);
      margin-bottom: rem-calc(15);
    }

    .mCustomScrollBox {
      width: rem-calc(120);
      overflow: visible !important;
    }
    &__item {
      height: rem-calc(100);
      margin-top: rem-calc(5);
      cursor: pointer;
      &-show {
        display: block;
        width: rem-calc(430);
        background-color: $white;
      }

      &-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem-calc(100);
        height: rem-calc(100);
        float: left;
      }
      &-date {
        background-color: rgba(0, 0, 0, 0.7);
        color: $white;
        font-size: rem-calc(14);
        text-align: center;
        height: rem-calc(20);
        top: rem-calc(80);
        position: relative;
      }
      &-desc {
        display: none;
        position: relative;
        width: rem-calc(330);
        float: left;
        height: 100px;
        z-index: 9;
        background-color: $white;
        font-size: rem-calc(14);
        color: #003b8c;
        font-family: $font-family-OpenSansLight;

        &-link {
          text-decoration: none;
          width: rem-calc(270);
          display: inline-block;
          float: left;
          padding: rem-calc(5 0 5 15);
        }
        &-show {
          display: block;
        }
        &-title {
          color: #003b8c;
          font-family: $font-family-OpenSansSemiBold;
        }
        &-desc {
          color: #003b8c;
          background-color: #ffffff;
        }
        &-date {
          color: #010101;
        }
      }
      &-delete {
        background-color: $orange;
        width: rem-calc(60);
        float: left;
        height: 100%;
        display: inline-block;
        text-align: center;
        &:after {
          content: "";
          width: rem-calc(23);
          height: rem-calc(32);
          background-position: rem-calc(-541 0);
          background-repeat: no-repeat;
          background-size: inherit;
          background-image: url('../i/sprite.png');
          margin-top: 50%;
          display: inline-block;
        }
      }
    }
    &-review {
      display: block;
      position: fixed;
      top: rem-calc(760);
      z-index: 200;
      height: rem-calc(90);
      width: rem-calc(115);
      background-color: #305899;
      padding: rem-calc(15 0);
      color: $white;
      text-transform: uppercase;
      font-size: rem-calc(14);
      font-family: $font-family-OpenSansSemiBold;
      text-align: center;
      text-decoration: none;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
      &:active {
        color: $white;
      }
    }
  }
}

#b-place__map {
  height: rem-calc(500);
}

.js-place-list-sort {
  overflow: visible !important;
}