footer.footer
  .footer__disclaimer Имеются противопоказания<br>необходимо проконсультироваться со специалистом
  .footer__main: .grid-container: .grid-x.grid-padding-x
    .large-12.cell
      a(href="#").footer__home
        img(src="./images/logo-green.svg", alt="").footer__logo
    .large-12.cell.align-self-middle
      ul.grass    
        li.grass__item: a(href="#").grass__link О компании
        li.grass__item: a(href="#").grass__link Продукты
        li.grass__item: a(href="#").grass__link Где купить?
  .grid-container
    .grid-x.grid-padding-x
      .large-12.cell.footer__info.medium-14
        a(href="#").footer__help Правила пользования сайтом
        div © 2019, АО «Красногорсклексредства»
      .large-12.text-center.medium-text-right.cell.medium-10
        a(href="#").soc
          img(src="./images/s4.svg", alt="")
        a(href="#").soc
          img(src="./images/s3.svg", alt="")
        a(href="#").soc
          img(src="./images/s2.svg", alt="")
        a(href="#").soc
          img(src="./images/s1.svg", alt="")
