.filter {
  margin-bottom: 30px;
  &__main {
    border: 1px solid #e6e6e6;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__title {
    color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    text-align: center;
    background-color: #ebebeb;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: -24px;
      background: url(../images/filter.png) no-repeat;

    }
  }
  &__select {
    width: 300px;
    padding-right: 20px;
  }
  &__arr {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: 28px;
    cursor: pointer;
    z-index: 10;
    transform: rotate(180deg);
    background: url(../images/sel.png) no-repeat center;
    &.js-toggle {
      transform: rotate(0deg);
    }
  }
  &__span {
    font-weight: 700;
  }
  &__reset {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #9e9e9e;
    border-radius: 3px 2px 2px 3px;
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    margin-left: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;

  }
  &__submit {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 14px;
    padding-top: 11px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #e53935;
    border-radius: 3px 2px 2px 3px;
    text-transform: uppercase;
  }
}
@media (max-width:960px) {
    .filter {
      &__select {
        width:calc(100% - 240px);
      }
    }
}
@media (max-width:640px) {
    .filter {
      &__submit,&__reset {
        width:calc(50% - 12px);
        margin-left: 0;
      }
      &__reset {
        margin-left: 20px;
      }
      &__select {
        width: 100%;
      }
    }
}