.archive-video.show-for-medium
  .text-center
    img.archive-video__logo(src='images/logo-tv.svg')
  .archive-video__wrap-video
    video(poster="i/preview.jpg").archive-video__video
      source(src='video/video.mp4', type='video/mp4')
  .archive-video__text.text-right
    a.archive-video__link(href='#') Архив видео клуба
    
  
