.callout.callout_npd
  .show-for-large
    ul.tabs.tournament__tabs#tabs-foto-video(data-tabs)
      li.tabs-title.tournament__title.is-active: a(href='#tabs-foto-video-tab1' aria-selected="true") Видео
      li.tabs-title.tournament__title: a(href='#tabs-foto-video-tab2' data-tabs-target="tabs-foto-video-tab2") Фото

    .tabs-content.tournament__content.tabs-foto-video-content(data-tabs-content="tabs-foto-video")
        .tabs-panel.tabs-foto-video.is-active#tabs-foto-video-tab1
          .slider-video
            .grid-x.slider-video__item
              .cell.medium-6.slider-video__multimedia
                video.slider-video__multimedia-video(poster="i/preview2.jpg")
                  source(src='video/video.mp4', type='video/mp4')
              .cell.medium-6.slider-video__desc
                | Запись матча нефтехимик против лады
                br 
                br
                span.slider-video__time  12:50
                span.text-red  минут
            .grid-x.slider-video__item
              .cell.medium-6.slider-video__multimedia
                //- video.slider-video__multimedia-video(poster="i/preview2.jpg")
                  source(src='video/video.mp4', type='video/mp4')
                a.slider-video__link(href='#')
                  img.slider-video__img(src='i/photo-slider.jpg')
              .cell.medium-6.slider-video__desc
                | Запись матча нефтехимик против лады 2
                br 
                br
                span.slider-video__time  12:50
                span.text-red  минут
            .grid-x.slider-video__item
              .cell.medium-6.slider-video__multimedia
                video.slider-video__multimedia-video(poster="i/preview2.jpg")
                  source(src='video/video.mp4', type='video/mp4')
              .cell.medium-6.slider-video__desc
                | Запись матча нефтехимик против лады 3
                br 
                br
                span.slider-video__time  12:50
                span.text-red  минут
            .grid-x.slider-video__item
              .cell.medium-6.slider-video__multimedia
                video.slider-video__multimedia-video(poster="i/preview2.jpg")
                  source(src='video/video.mp4', type='video/mp4')
              .cell.medium-6.slider-video__desc
                | Запись матча нефтехимик против лады 4
                br 
                br
                span.slider-video__time  12:50
                span.text-red  минут
            
        .tabs-panel.tabs-foto-video#tabs-foto-video-tab2
          .slider-foto
            .slider-foto__item
              img(src='i/slider-news.jpg')
            .slider-foto__item
              img(src='i/slider-news.jpg')
            .slider-foto__item
              img(src='i/slider-news.jpg')
            .slider-foto__item
              img(src='i/slider-news.jpg')

  .transfers
    h2.text-center Трансферы
    .grid-x.transfers-block
      .cell.small-5.small-offset-1.large-4.large-offset-2.transfers-block__info
        .transfers-block__name Козлов Вячеслав
        p.transfers-block__desc Нападающий Спартак
        p.transfers-block__date 15 июля 2017
      .cell.small-4.small-offset-1.large-3.large-offset-1.transfers-block__logo-team
        img.transfers-block__logo-team-img(src='images/logo.svg')
    .grid-x.transfers-block
      .cell.small-5.small-offset-1.large-4.large-offset-2.transfers-block__info
        .transfers-block__name Шикин Дмитрий
        p.transfers-block__desc Вратарь СКА
        p.transfers-block__date 10 июля 2017
      .cell.small-4.small-offset-1.large-3.large-offset-1.transfers-block__logo-team
        img.transfers-block__logo-team-img(src='images/logo.svg')
    .grid-x.transfers-block
      .cell.small-5.small-offset-1.large-4.large-offset-2.transfers-block__info
        .transfers-block__name Хаатая Юха-Пекка
        p.transfers-block__desc Нападающий Нефтехимик
        p.transfers-block__date 10 июля 2017
      .cell.small-4.small-offset-1.large-3.large-offset-1.transfers-block__logo-team
        img.transfers-block__logo-team-img(src='images/logo-team.svg')
    .grid-x.transfers-block
      .cell.small-5.small-offset-1.large-4.large-offset-2.transfers-block__info
        .transfers-block__name Трубачов Юрий
        p.transfers-block__desc Нападающий Нефтехимик
        p.transfers-block__date 10 июля 2017
      .cell.small-4.small-offset-1.large-3.large-offset-1.transfers-block__logo-team
        img.transfers-block__logo-team-img(src='images/logo-team-default.svg')
  
  .birthday
    h2.text-center Дни рождения
    .grid-x.birthday-block
      .cell.small-5.small-offset-1.large-5.large-offset-2.birthday-block__info
        .birthday-block__name Калинин Сергей
        .birthday-block__desc Нападающий
          span.text-red , Сегодня!
      .cell.small-2.small-offset-3.large-2.large-offset-1.birthday-block__day 17.08
    .grid-x.birthday-block
      .cell.small-5.small-offset-1.large-5.large-offset-2.birthday-block__info
        .birthday-block__name Миронов Константин
        .birthday-block__desc Нападающий
      .cell.small-2.small-offset-3.large-2.large-offset-1.birthday-block__day 20.08
    .grid-x.birthday-block
      .cell.small-5.small-offset-1.large-5.large-offset-2.birthday-block__info
        .birthday-block__name Казаков Максим
        .birthday-block__desc Нападающий
      .cell.small-2.small-offset-3.large-2.large-offset-1.birthday-block__day 27.08
        
      
          
