.callout
    h3.text-dark-gray Статистика игроков

    p &#160;
    p &#160;
    p &#160;
    p &#160;
    p &#160;
    br
    p.text-center Список игроков, сгруппированный по амплуа, ранжированный по очкам
    p &#160;
    p &#160;
    p &#160;
    p &#160;
    p &#160;
    p
        a(href='') Вся статистика
