.panel-khl.hide-for-small-only
  
.grid-container: .grid-x
  .cell.medium-6.medium-offset-3
    .gen-sponsor.hide-for-small-only
      img(src="images/gen-sponsor.svg", alt="Генеральный спонсор - Нижнекамскнефтехим")

.background-primary
    .grid-container: .grid-x
        .small-12.medium-2.xxlarge-shrink.hide-for-small-only.logo-wrap
          a.logo-wrap__inner(href='smi-index.html' title='На главную страницу')
              img.logo(src='./images/logo.svg', style='width: 202px; height: 136px', alt='Хоккейный клуб «Нефтехимик» г. Нижнекамск')
        .cell.small-12.medium-10.xxlarge-11.xxlarge-offset-1
            .menu-toggle.show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
                .text-white(data-toggle)
                    i.fa.fa-bars.fa-lg
                    | &nbsp;Меню
            div#menu
              
                ul.menu.dropdown(data-responsive-menu="accordion medium-dropdown")
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='tickets-online.html') Билеты
                      ul.menu
                        li.menu__item: a(href='#') Правила поведения
                        li.menu__item: a(href='#') Абонементы
                        li.menu__item: a(href='#') Купить билет on-line
                        li.menu__item: a(href='#') План зала
                          
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='club.html') Клуб
                      ul.menu
                        li.menu__item: a(href='history.html') История клуба
                        li.menu__item: a(href='staff.html') Руководство
                        li.menu__item: a(href='#') Партнеры
                        li.menu__item: a(href='contacts.html') Контакты
                        li.menu__item
                          a.menu__link.menu__link_arrow(href='#') Закупки
                          ul.menu
                            li.menu__item: a(href='#') Игроки
                            li.menu__item: a(href='#') Тренерский состав
                            li.menu__item: a(href='#') Персонал
                            li.menu__item: a(href='#') Недвижимость
                            li.menu__item: a(href='#') Экипировка
                            li.menu__item: a(href='#') Инвентарь
                            li.menu__item: a(href='#') Атрибутика
                            
                        li.menu__item: a(href='#') Символика клуба
                        li.menu__item: a(href='staff.html') Персонал


                    li.menu__li
                      a.menu__link.menu__link_arrow(href='team.html') «Реактор»
                      ul.menu
                        li.menu__item: a(href='club.html') Визитная карточка
                        li.menu__item: a(href='team.html') Состав
                        li.menu__item: a(href='coaches.html') Тренерский штаб
                        li.menu__item: a(href='staff.html') Персонал
                        li.menu__item: a(href='stats.html') Статистика
                        li.menu__item: a(href='achievemets.html') Достижения
                        li.menu__item: a(href='#') Игровая форма
                                
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='teams-standings.html') Турнирные таблицы
                      ul.menu
                        li.menu__item: a(href='teams-standings.html') «Реактор»
                        li.menu__item: a(href='teams-standings.html') «Нефтехимик»
                              
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='news.html') Новости
                      ul.menu
                        li.menu__item: a(href='news.html') Клубная жизнь
                        li.menu__item: a(href='news-smi.html') Пресса о хоккее
                        li.menu__item: a(href='#') Предсезонные турниры
                        li.menu__item: a(href='#') Послематчивые пресс-конференции
                              
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='#') Фан-зона
                      ul.menu
                        li.menu__item: a(href='#') Группа поддержки
                                
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='#') ДЮСШ
                      ul.menu
                        li.menu__item: a(href='#') О школе
                        li.menu__item: a(href='#') Расписание занятий
                        li.menu__item: a(href='#') Команда
                        li.menu__item: a(href='#') Тренерский штаб
                                
                    li.menu__li
                      a.menu__link.menu__link_arrow(href='#') Медиа
                      ul.menu
                        li.menu__item: a(href='#') Фото
                        li.menu__item: a(href='#') Видео

                    li.menu__li
                      form.search-form(action='' method='post' data-abide='', novalidate='novalidate')
                          .input-group.search-form__group
                              input.input-group-field.search-form__input(type='text', placeholder='Поиск')
                              .input-group-button
                                  button.button.search-form__buttom(type='submit', name='Найти')
                                      i.fa.fa-search.fa-inverse

.grid-container
  .cell.text-right
    a.change-language(href="#") English version 
