.table-scroll
  table.table
      thead.table__thead
          tr
              th.table__th.padding-left-0 Сезон
              th.table__th Команда
              th.table__th Лига
              th.table__th: acronym(title='Количество игр') И
              th.table__th: acronym(title='Забитые голы') Г
              th.table__th: acronym(title='Передачи') П
              th.table__th: acronym(title='Очки') О
              th.table__th +/-
              th.table__th: acronym(title='Штрафное время') ШТР
      tbody.table__tbody
          tr
              td.table__td 2011/12
              td.table__td Торпедо (Нижний Новгород)
              td.table__td КХЛ
              td.table__td 52
              td.table__td 1
              td.table__td 4
              td.table__td 5
              td.table__td 9
              td.table__td 43
          tr
              td.table__td 
              td.table__td Торпедо (Нижний Новгород) Плей-офф
              td.table__td КХЛ
              td.table__td 13
              td.table__td 0
              td.table__td 2
              td.table__td 2
              td.table__td 1
              td.table__td 30
          tr
              td.table__td 2012/13
              td.table__td Торпедо (Нижний Новгород)
              td.table__td КХЛ
              td.table__td 46
              td.table__td 3
              td.table__td 3
              td.table__td 16
              td.table__td -16
              td.table__td 49
          tr
              td.table__td 2013/14
              td.table__td Металлург (Магнитогорск)
              td.table__td КХЛ
              td.table__td 53
              td.table__td 0
              td.table__td 6
              td.table__td 6
              td.table__td 9
              td.table__td 28
          tr
              td.table__td 
              td.table__td Металлург (Магнитогорск) Плей-офф
              td.table__td КХЛ
              td.table__td 18
              td.table__td 0
              td.table__td 0
              td.table__td 0
              td.table__td -2
              td.table__td 30
          tr
              td.table__td 2014/15
              td.table__td Металлург (Магнитогорск)
              td.table__td КХЛ
              td.table__td 31
              td.table__td 0
              td.table__td 5
              td.table__td 5
              td.table__td 6
              td.table__td 28
          tr
              td.table__td 
              td.table__td Металлург (Магнитогорск) Плей-офф
              td.table__td КХЛ
              td.table__td 9
              td.table__td 0
              td.table__td 1
              td.table__td 1
              td.table__td -2
              td.table__td 16
          tr
              td.table__td 2015/16
              td.table__td Лада (Тольятти)
              td.table__td КХЛ
              td.table__td 25
              td.table__td 0
              td.table__td 2
              td.table__td 2
              td.table__td -4
              td.table__td 28

  p.
      #[b И] – Количество игр,
      #[b Г] – Забитые голы,
      #[b П] – Передачи,
      #[b О] – Очки,
      #[b +/-] — Плюс/Минус,
      #[b ШТР] — Штрафное время,
      #[b ГБ] — Голы в большинстве,
      #[b ГМ] — Голы в меньшистве,
      #[b ВП] — Среднее время на площадке за игру,
      #[b ПГ] — Победные голы,
      #[b %Вбр] — Процент выигранных вбрасываний,
      #[b БВ] — Броски по воротам.
