.callout
    h3.text-dark-gray События клуба из первых рук
        a.float-right(href='#', title='')
            i.fa.fa-rss-square &nbsp;
            | RSS

    form(action='' method='post', data-abide='', novalidate='novalidate')
        .grid-x
            .cell.large-8
                input(type='email', placeholder='Ваш e-mail', required='')
            .cell.large-4
                button.button.expanded(type='submit') Подписаться #[i.fa.fa-envelope-o.fa-lg]

    p.text-center.large-text-left
        a.text-dark-gray(href='#', title='') Как отписаться?
