table
    thead
        tr
            th Место в чемпионате
            th Игры
            th Очки (за матч)
    tbody
        tr.stat
            td 5
            td 12/60
            td 18 (1,5)

.table-scroll.margin-bottom-6
    table.unstriped
        tr.text-dark-gray
            th.text-left Тур
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td 25
        tr
            th.text-left Место в коцференции
            td 6
            td 2
            td 6
            td 6
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td 2
            td
            td
            td
            td
            td
            td
            td
        tr
            th.text-left Место в дивизионе
            td 2
            td 1
            td 2
            td 2
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td 1
            td
            td
            td
            td
            td
            td
            td
        tr
        th.text-left Место в чемпионате
        td 7
        td 5
        td 7
        td 8
        td 7
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td 5
        td
        td
        td
        td
        td
        td
        td


h3.margin-top-8 Победы и поражения

table
    thead
        tr
            th
            th Победы
            th Поражения
    tbody
        tr
            th.text-left В основное время
            td 4
            td 3
        tr
            th.text-left В овертайме
            td 2
            td 1
        tr
            th.text-left По буллитам
            td 0
            td 1

h3.margin-top-8 Шайбы

table
    thead
        tr
            th
            th Заброшенные шайбы
            th Пропущенные шайбы
    tbody
        tr
            th.text-left Всего
            td 31 (4 место в Лиге)
            td 26 (11 место в Лиге)
        tr
            th.text-left В равных составах
            td 24
            td 14
        tr
            th.text-left В большинстве
            td 6
            td 1
        tr
            th.text-left В меньшинстве
            td 1
            td 11

h3.margin-top-8 Другое

table
    tr
        th.text-left Игр без забитых шайб
        td 1
        th.text-left Игр без пропущенных шайб
        td 2
    tr
        th.text-left Броски
        td 358
        th.text-left Блокированные броски
        td 122
    tr
        th.text-left Отраженные броски
        td 296 (92%)
        th.text-left Реализация большинства
        td 1 из 8
    tr
        th.text-left Нейтрализация большинства
        td 3 из 4
        th.text-left Штрафные минуты
        td 163 (10 место в Лиге)
