//- .aside-games-panel-switcher.text-center
//-   input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input-next-for-data-reveal')
//-   label.aside-games-panel-switcher__label(for='switcher__input-next-for-data-reveal')
//-       span.aside-games-panel-switcher__span кхл 
//-       span.aside-games-panel-switcher__span мхл

//- .switch-content-left 
  .aside-games-panel-account.text-center
    .aside-games-panel-account__col
      .point.point-neftehimik
        span.point-num -
      img(src='images/logo.svg' width='67' height='45')
      br
      span.point-team Нефтехимик
    .aside-games-panel-account__col
      .point.point-opponent
        span.point-num -
      img(src='images/tractor.svg' width='48' height='44')
      br
      span.point-team Трактор

//- .switch-content-right  
  .aside-games-panel-account.text-center
    .aside-games-panel-account__col
      .point.point-neftehimik
        span.point-num -
      img(src='images/logo.svg' width='67' height='45')
      br
      span.point-team Нефтехимик
    .aside-games-panel-account__col
      .point.point-opponent
        span.point-num -
      img(src='images/tractor.svg' width='48' height='44')
      br
      span.point-team Трактор


.aside-games-panel-account.text-center
  .aside-games-panel-account__col
    .point.point_border
      span.point-num -
    img(src='images/logo.svg' width='67' height='45')
    br
    span.point-team Нефтехимик
  .aside-games-panel-account__col
    .point
      span.point-num -
    img(src='images/tractor.svg' width='48' height='44')
    br
    span.point-team Трактор
