.grid-x.aside-games-panel-switchers
  .cell.large-4.large-offset-1
    .aside-games-panel-switcher.text-center
      input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input-next' autocomplete="off")
      label.aside-games-panel-switcher__label.aside-games-panel-switcher__label_dark(for='switcher__input-next')
          span.aside-games-panel-switcher__span.text-white кхл 
          span.aside-games-panel-switcher__span.text-white мхл
  .cell.large-6
    .aside-games-panel-switcher-club.text-center
      input.aside-games-panel-switcher-club__input(type='checkbox' id='switcher__input-club-next' autocomplete="off")
      label.aside-games-panel-switcher-club__label.aside-games-panel-switcher-club__label_dark(for='switcher__input-club-next')
          span.aside-games-panel-switcher-club__span.text-white Нефтехимик 
          span.aside-games-panel-switcher-club__span.text-white Реактор
                
.switch-content-left 
  .switch-club-neftehimik
    .hat
      .grid-x.grid-padding-x.text-center.align-center
        .cell.large-10
          .grid-x.grid-padding-x
            .cell.small-5
              .hat__img
                img(src="./images/logo.svg", alt="")
              .hat__name Нефтехимик
            .cell.small-2
              .hat__dash
            .cell.small-5
              .hat__img
                img(src="./images/hok.png", alt="")
              .hat__name Трактор
            .cell
              .hr
            .cell.large-6.text-center.large-text-left
              .hat__text 16 октября
              .hat__arena «НефтехимАрена»    
            .cell.large-6.padding-top-2
              a(href="#").button.hat__button Билеты    
  .switch-club-reaktor
    .hat
      .grid-x.grid-padding-x.text-center.align-center
        .cell.large-10
          .grid-x.grid-padding-x
            .cell.small-5
              .hat__img
                img(src="./images/logo.svg", alt="")
              .hat__name Нефтехимик
            .cell.small-2
              .hat__dash
            .cell.small-5
              .hat__img
                img(src="./images/hok.png", alt="")
              .hat__name Реактор
            .cell
              .hr
            .cell.large-6.text-center.large-text-left
              .hat__text 16 октября
              .hat__arena «НефтехимАрена»    
            .cell.large-6.padding-top-2
              a(href="#").button.hat__button Билеты 

.switch-content-right
  .switch-club-neftehimik
    .hat
      .grid-x.grid-padding-x.text-center.align-center
        .cell.large-10
          .grid-x.grid-padding-x
            .cell.small-5
              .hat__img
                img(src="./images/logo.svg", alt="")
              .hat__name Нефтехимик
            .cell.small-2
              .hat__dash
            .cell.small-5
              .hat__img
                img(src="./images/hok.png", alt="")
              .hat__name Трактор
            .cell
              .hr
            .cell.large-6.text-center.large-text-left
              .hat__text 26 октября
              .hat__arena «НефтехимАрена»    
            .cell.large-6.padding-top-2
              a(href="#").button.hat__button Билеты 
      
  .switch-club-reaktor
    .hat
      .grid-x.grid-padding-x.text-center.align-center
        .cell.large-10
          .grid-x.grid-padding-x
            .cell.small-5
              .hat__img
                img(src="./images/logo.svg", alt="")
              .hat__name Нефтехимик
            .cell.small-2
              .hat__dash
            .cell.small-5
              .hat__img
                img(src="./images/hok.png", alt="")
              .hat__name Трактор
            .cell
              .hr
            .cell.large-6.text-center.large-text-left
              .hat__text 6 октября
              .hat__arena «НефтехимАрена»    
            .cell.large-6.padding-top-2
              a(href="#").button.hat__button Билеты 
