mixin obj(num)
  .row.large-up-4.medium-up-2.small-up-2.text-center
    .columns
      .obj
        .obj__rect
          .obj__big= num
          |объектов
        p.obj__text 
          |1-комнатные
          br
          |квартиры
    .columns
      .obj
        .obj__rect
          .obj__big 3&nbsp;330
          |объектов
        p.obj__text 
          |2-комнатные
          br
          |квартиры
    .columns
      .obj
        .obj__rect
          .obj__big= num
          |объектов
        p.obj__text 
          |3-комнатные
          br
          |квартиры
    .columns
      .obj
        .obj__rect
          .obj__big 4&nbsp;000
          |объектов
        p.obj__text 
          |4-комнатные
          br
          |квартиры
