mixin plain(img)
  .plain
    .row
      .small-5.medium-7.columns
        p
          a(href="#")
            img(src="./images/#{img}", alt="")
      .small-19.medium-17.columns
        a(href="#").plain__title Пять простых способов сделать ...
        .plain__date 17 ноября 2016 г.
