extends corp-index

block page
  include components/common/_breadcrumbs
  block content
    .row.column
      h1 Заголовок страницы h1
    .content
      .row
        .columns.small-24.medium-10.large-8.medium-push-14.large-push-16
          include components/common/_sidebar
        .columns.small-24.medium-14.large-16.medium-pull-10.large-pull-8
          include components/common/_text
