extends corp-index

block page
  include components/common/_breadcrumbs
  block content


    .row.column
      h1 Оформление заказа
    .content
      .row
        .columns.small-24.medium-10.large-8.medium-push-14.large-push-16
          include components/common/_sidebar
        .columns.small-24.medium-14.large-16.medium-pull-10.large-pull-8

          p Чтобы заказать пакеты "майка" (ПНД) заполните эту форму.
            br
            | Ваш заказ будет в кратчайшие сроки обработан и наши менеджеры свяжутся с Вами
          form
            label Цвет полиэтилена *
            .checkbox-group
              input.checkbox-group__item(type='radio' id='color1' name='color')
              label.checkbox-group__label(for='color1' style='background-color:#FE0000;')

              input.checkbox-group__item(type='radio' id='color2' name='color')
              label.checkbox-group__label(for='color2' style='background-color:#020DFF;')

              input.checkbox-group__item(type='radio' id='color3' name='color')
              label.checkbox-group__label(for='color3' style='background-color:#E4FF00;')

              input.checkbox-group__item(type='radio' id='color4' name='color')
              label.checkbox-group__label(for='color4' style='background-color:#fff;')

              input.checkbox-group__item(type='radio' id='color5' name='color')
              label.checkbox-group__label(for='color5' style='background-color:#000;')

              input.checkbox-group__item(type='radio' id='color6' name='color')
              label.checkbox-group__label(for='color6' style='background-color:#00FF00;')

              input.checkbox-group__item(type='radio' id='color7' name='color')
              label.checkbox-group__label(for='color7' style='background-color:#00FFFF;')

              input.checkbox-group__item(type='radio' id='color8' name='color')
              label.checkbox-group__label(for='color8' style='background-color:#FF00FF;')

              input.checkbox-group__item(type='radio' id='color9' name='color')
              label.checkbox-group__label(for='color9' style='background-color:#010080;')

              input.checkbox-group__item(type='radio' id='color10' name='color')
              label.checkbox-group__label(for='color10' style='background-color:#008081;')

              input.checkbox-group__item(type='radio' id='color11' name='color')
              label.checkbox-group__label(for='color11' style='background-color:#038002;')

              input.checkbox-group__item(type='radio' id='color12' name='color')
              label.checkbox-group__label(for='color12' style='background-color:#7F017F;')

              input.checkbox-group__item(type='radio' id='color13' name='color')
              label.checkbox-group__label(for='color13' style='background-color:#800000;')

              input.checkbox-group__item(type='radio' id='color14' name='color')
              label.checkbox-group__label(for='color14' style='background-color:#818001;')

              input.checkbox-group__item(type='radio' id='color15' name='color')
              label.checkbox-group__label(for='color15' style='background-color:#808080;')

            
            label Тип пакета *
            select
              option Выберите тип пакета
              option Пакет ПНД «майка»
              option Пакет ПВД

            label Размер пакета *
            select
              option Сначала выберите тип пакета
              option 20&times;30
              option 25&times;30
              option 30&times;40
              option 40&times;50
              option 50&times;60

            label Толщина пакета *
            select
              option Сначала выберите тип пакета
              option 10
              option 12
              option 14
              option 18
              option 20
              option 24
              option 40
              option 50
              option 80

            label Тираж, тысяч штук *
            input(type='number' value='10' min='10' step='5' required)

            label Количество цветов печати *
            select
              option Выберите цветность
              option 0*1
              option 0*2
              option 0*3
              option 0*4
              option 1*1
              option 1*2
              option 1*3
              option 2*1
              option 2*2
              option 3*1

            label Ваши ФИО *
            input(type='text' required)

            label Ваш телефон
            input(type='tel')

            label Ваша электронная почта *
            input(type='email' required)

            button.button(type='submit') Отправить заказ
            button.button.hollow(type='reset') Сбросить форму

            p Если у Вас возникли трудности с каким-либо из вышеперечисленных полей, наши квалифицированные менеджеры помогут Вам: Телефон: +7 495 728 34 24, e-mail: info@paketville.ru
