.medium-12.columns
  .horoscope__day 06 декабря
  p Если вам кажется, что вашего любимого человека не интересует то, что с вами происходит, задумайтесь. Может быть, вы и сами ему неинтересны, и нужно придумать для себя какую-то изюминку, чтобы привлечь к себе внимание? Кстати, а вы в должной мере интересуетесь его делами и настроениями?
.medium-12.columns
  .horoscope__day 07 декабря
  p Все проблемы, которые есть в вашем тандеме, являются не более чем плодом вашей фантазии. Это не значит, впрочем, что их совсем нет. Вполне возможно, что вы просто делаете из мухи слона, а слона, напротив, превращаете в муху. Сегодня звезды желают вам адекватного восприятия действительности.
