.fridge.fridge_top
  ul.company.company_inline.text-center.medium-text-left
    each title in ['Овен','Телец','Близнецы','Рак ','Лев','Дева','Весы','Скорпион','Стрелец','Козерог','Водолей','Рыбы']
      li.company__item
        a(href="#").company__link= title
