ul.pagination.text-center(role='navigation', aria-label='Pagination')
  li.pagination-previous.disabled << Предыдущая
  li.current 1
  li
    a(href='#', aria-label='Page 2') 2
  li
    a(href='#', aria-label='Page 3') 3
  li
    a(href='#', aria-label='Page 4') 4
  li
    a(href='#', aria-label='Page 4') 5
  li
    a(href='#', aria-label='Page 4') 6
  li
    a(href='#', aria-label='Page 4') 7
  li
    a(href='#', aria-label='Page 4') 8
  li
    a(href='#', aria-label='Page 4') 9
  li
    a(href='#', aria-label='Page 12') 10
  li.pagination-next
    a(href='#', aria-label='Next page') Следующая >>
