.fridge.fridge_top
  input(type="text",placeholder="Ник").nick
  button.button.button_mini ИСКАТЬ
  label(for="")
    |Город:
    select#1.city(name="map")
      option(value="") ---
      option(value="") Йошкар-ола
      option(value="") Москва
