.frame {
    position: relative;
    margin-bottom: rem-calc(20);

    &__img {
        max-width: rem-calc(200);
        max-height: rem-calc(200);
        position: absolute;
        bottom: rem-calc(5);
    }
}
