.header {
    background: url(../images/top.png)no-repeat center top;
    margin-bottom: rem-calc(53);

    &__black {
        position: relative;
    }

    &__line {
        padding-top: rem-calc(33);
        padding-bottom: rem-calc(20);
    }

    &__logo {
        text-shadow: rem-calc(2) rem-calc(3.5) rem-calc(3) #030303;
        color: #fff;
        font-size: rem-calc(54);
        text-transform: uppercase;
        font-family: $font-family-AGMelanie-Bold;
        margin-bottom: rem-calc(15);
        display: inline-block;
    }
    @include breakpoint(medium down) {
        &__black {
            background: #000 url("../images/black.png") no-repeat center top;
        }
    }
    @include breakpoint(small only) {
        &__toggle {
            margin-top: rem-calc(12);
            margin-bottom: rem-calc(14);
            display: inline-block !important;

            button {
                outline: none;
            }
        }

        &__line {
            padding-top: rem-calc(10);
        }

        &__logo {
            font-size: rem-calc(35);
        }
    }
}
