.list {
    margin: 0;
    list-style-type: none;

    &_foot {
        .list__item {
            border-bottom: rem-calc(0);
        }
    }

    &__item {
        display: inline-block;
        border-bottom: rem-calc(3) solid transparent;
        margin-right: rem-calc(16);
        margin-left: rem-calc(16);

        &:nth-child(1) {
            margin-left: rem-calc(0);
        }

        &:hover {
            border-bottom-color: #afafaf;
        }
    }

    &__link {
        font-size: rem-calc(14);
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding-top: rem-calc(24);
        padding-bottom: rem-calc(15);
        font-family: $font-family-AGMelanie-roman;
    }
    @include breakpoint(medium down) {
        padding-top: rem-calc(12);
        padding-bottom: rem-calc(12);

        &__item {
            border-bottom: rem-calc(0);
            margin-left: rem-calc(0);
            margin-right: rem-calc(30);
        }

        &__link {
            padding-top: rem-calc(12);
            padding-bottom: rem-calc(12);
        }
    }
    @include breakpoint(small only) {
        padding-top: rem-calc(0);

        &_foot {
            padding-top: rem-calc(12);
        }
    }
}
