.sheet {
    margin-bottom: rem-calc(40);


    &__table {
        table-layout: fixed;
    }

    tbody {
        border: 0;
    }

    &__day {
        vertical-align: top;
        border: 1px solid #e1e1e1;
        background: #fff;
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);


        &:hover {
            background: #f2f2f2;
        }
    }

    &__notice {
      display: block;
        font-weight: 400;
        color: #fff;
        font-size: rem-calc(11);
        background-color: #2199e8;
        border-radius: rem-calc(2);
        padding: rem-calc(8);
        text-decoration: none;
        &:hover {
          color: #fff;
        }

        &_green {
            background-color: #00802b;
        }

        &_red {
            background-color: #d94146;
        }

        &_yellow {
            background-color: #f8c928;
        }
    }

    &__num {
        margin-bottom: rem-calc(12);
        font-weight: 100;
        font-size: rem-calc(22);
        text-transform: uppercase;
    }

    &__week {
        border: 1px solid #e1e1e1;
        text-transform: uppercase;
        font-size: rem-calc(13);
        color: #bfbfbf;
        font-weight: 700;
    }

    &__month {
        font-size: rem-calc(24);
        font-weight: normal;
        font-family: $font-family-AGMelanie-roman;
    }

    &__arr {
        padding-left: rem-calc(0);
        padding-right: rem-calc(0);
        padding-top: rem-calc(17);

        a {
            font-weight: 300;
            font-size: rem-calc(11);
            text-transform: uppercase;
            text-decoration: none;
        }

        img {
            margin-top: rem-calc(-3);
        }

        &_right {
            img {
                margin-left: rem-calc(10);
            }
        }

        &_left {
            img {
                margin-right: rem-calc(10);
            }
        }
    }
    @include breakpoint(medium down) {
        @include table-scroll;
        &__table {
            width: rem-calc(700);
        }

        &__day {
            padding-left: rem-calc(8);
            padding-right: rem-calc(8);
        }
    }
}
