@font-face {
  font-family: "OpenSans-Bold";
  src: url(#{$fontsPath}/OpenSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Bold: "OpenSans-Bold", Arial, sans-serif;
@font-face {
  font-family: "OpenSans-Regular";
  src: url(#{$fontsPath}/OpenSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Regular: "OpenSans-Regular", Arial, sans-serif;
@font-face {
  font-family: "OpenSans-Semibold";
  src: url(#{$fontsPath}/OpenSans-Semibold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSans-Semibold: "OpenSans-Semibold", Arial, sans-serif;
@font-face {
  font-family: "Din-cyr";
  src: url(#{$fontsPath}/Din-cyr.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Din-cyr: "Din-cyr", Arial, sans-serif;
@font-face {
  font-family: "DINPro-Medium";
  src: url(#{$fontsPath}/DINPro-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-DINPro-Medium: "DINPro-Medium", Arial, sans-serif;
@font-face {
  font-family: "Gabriola";
  src: url(#{$fontsPath}/Gabriola.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Gabriola: "Gabriola", Arial, sans-serif;