.header
{
    position: absolute;
    top: 0;
    left: calc(50% - 583px);

    width: 100%;
    max-width: 1167px;
    padding-top: 23px;
    &__mini-logo
    {
        float: right;

        height: 60px;
        padding: 10px;
        & > img
        {
            height: 100%;
        }
    }
    .top-bar-left
    {
        padding-top: 27px;
    }
    .menu-icon
    {
        top: 17px;
        left: 17px;

        outline: none;
        &:after
        {
            background: #fff;
            box-shadow: 0 7px 0 #fff,0 14px 0 #fff;
        }
    }
    .top-bar
    {
        padding: 0;

        background: transparent;
    }
    &__logo
    {
        padding: 5px;

        border-radius: 20px;
        background: rgba(0, 0,0,.5);
    }
    &__menu
    {
        padding-top: 24px;
        padding-right: 0;

        text-align: right;
    }
    .menu
    {
        margin: 0;
        padding-bottom: 5px;

        list-style-type: none;

        background: transparent;
    }
    .header__li
    {
        display: inline-block;

        margin-left: 36px;
        &-link
        {
            font-family: $font-family-OpenSans-Bold;
            font-size: 14px;

            padding-top: 8px;
            padding-right: 17px;
            padding-bottom: 8px;
            padding-left: 17px;

            text-transform: uppercase;

            color: #fff;
            border: 2px solid transparent;
            &:hover
            {
                color: #fff;
                border-color: #fff;
                border-radius: 17px;
            }
        }
    }
}
@media (max-width:1185px)
{
    .header
    {
        left: 0;
        &__logo
        {
            padding-left: 10px;
        }
        &__menu
        {
            padding-right: 10px;
        }
    }
}
@media (max-width:960px)
{
    .header
    {
        padding-top: 10px;
        .top-bar-left
        {
            padding-top: 10px;
        }
        .header__li
        {
            margin-left: 5px;
            &-link
            {
                padding-right: 13px;
                padding-left: 13px;
            }
        }
    }
}
@media (max-width:640px)
{
    .header
    {
        top: -60px;

        padding-top: 0;
        .top-bar-left
        {
            padding-top: 0;
            padding-left: 0;
        }
        .menu
        {
            text-align: center;
        }
        .top-bar
        {
            background: #000;
        }
        .header__li
        {
            margin-left: 5px;
            &-link
            {
                padding-right: 17px;
                padding-left: 17px;
            }
        }
    }
}
