.learning
{
    padding-top: 72px;
    padding-bottom: 86px;
&__bri {
    padding-left: 0;
}
    background: url(../images/britain.png) no-repeat center top ;
    &__want
    {
        font-family: $font-family-OpenSans-Semibold;
        font-size: 44px;

        padding-bottom: 80px;

        text-align: left;
        text-transform: uppercase;

        color: #fff;
    }
    &__img
    {
        display: inline-block;

        width: 102px;
        height: 82px;

        background: url('../images/sprite-my.png') no-repeat -1180px -1246px;
    }
    &__britain
    {
        font-family: $font-family-Gabriola;
        font-size: 76px;

        padding-top: 5px;

        text-align: left;

        color: #fff;
    }
    &__rubr
    {
        padding-right: 77px;

        text-align: right;
    }
    &__link
    {
        display: inline-block;

        width: 61px;
        height: 60px;

        border: 2px solid #fff;
        border-radius: 3px;
        background: url('../images/sprite-my.png') no-repeat -271px -286px;
        &_right
        {
            position: relative;
            left: -1px;

            background: url('../images/sprite-my.png') no-repeat -232px -234px;
        }
    }
}
@media (max-width:1200px)
{
    .learning
    {
        &__bri {
            padding-left: 10px;
        }
        &__want
        {
            font-size: 35px;
        }
        &__britain
        {
            font-size: 60px;
        }
    }
}
@media (max-width:960px)
{
    .learning
    {
        padding-top: 25px;
        padding-bottom: 25px;
        &__want
        {
            font-size: 28px;
        }
        &__britain
        {
            font-size: 44px;
        }
        &__rubr
        {
            padding-right: 0;
            text-align: center;
        }
    }
}
@media (max-width:640px)
{
    .learning
    {
        &__want {
            padding-bottom: 20px;
            text-align: center;
        }
        &__britain {
            text-align: center;
        }
        background: url(../images/britain.png) no-repeat left top ;
        &__rubr
        {
            padding-bottom: 15px;
        }
    }
}
