.sections_params
  .sections_sorting.columns
    | Сортировать по:
    a.sections_sorting-link(href='#=') Цене
    a.sort_asc(href='#')
    a.sort_desc(href='#')
    a.sections_sorting-link(href='#')     Новизне
    a.sort_asc(href='#')
    a.sort_desc(href='#')
    include _catalog-show
