span.b-element-per-page.float-right
  | Показывать по:
  a.element-per-page.active(href='#') 24
  a.element-per-page(href='#') 48
  a.element-per-page(href='#') 96
  a.element-per-page(href='#') Показать все
