.row.column
    p.filter-selected-items
        span.label POLO CLUB С.H.A. &#160; &times;
        | &#160; &#160;
        span.label Хлопок &#160; &times;
        | &#160; &#160;
        span.label Шерсть &#160; &times;
        | &#160; &#160;
        span.label POLO CLUB С.H.A. &#160; &times;
        | &#160; &#160;
        span.label Хлопок &#160; &times;
        | &#160; &#160;
        span.label Шерсть &#160; &times;
        | &#160; &#160;
        span.label POLO CLUB С.H.A. &#160; &times;
        | &#160; &#160;
        span.label Хлопок &#160; &times;
        | &#160; &#160;
        span.label Шерсть &#160; &times;
        | &#160; &#160;
        span.label Шерсть &#160; &times;
        | &#160; &#160;
        span.label POLO CLUB С.H.A. &#160; &times;
        | &#160; &#160;
        span.label Хлопок &#160; &times;
        | &#160; &#160;

        a(href='#', title='').pseudo-link Сбросить всё