.nav-catalog__group.callout.hide-for-small-only#menu-catalog(data-toggler="hide-for-small-only")
    ul.menu.vertical.aside-menu
        //-li
            a(href='#') Инструменты
            block navCatalogSection
        li.is-active
            a(href='#'): b ТИП ФИГУРЫ
                span.item-count (47012)
            ul.menu.vertical.nested
                li.is-active
                    a(href='#', title='') Песочные часы
                        span.item-count (19516)
                li
                    a(href='#', title='') Груша
                        span.item-count (19516)
                li
                    a(href='#', title='') Треугольник
                        span.item-count (19516)
                li
                    a(href='#', title='') Прямоугольник
                        span.item-count (19516)
                li
                    a(href='#', title='') Овал
                        span.item-count (19516)