.row
    .small-6.hide-for-medium.medium-12.column
        .button.expanded.secondary(data-toggle="catalog-filter-dropdown")
            i.fa.fa-lg.fa-sliders &#160;
            | Фильтр
    .small-6.hide-for-medium.medium-12.column
        .button.expanded(data-toggle="menu-catalog")
            i.fa.fa-bars &#160;
            | Каталог