#menu-search.hide-for-small-only(data-toggler="hide-for-small-only")

    .callout.nav-catalog__group
        p: b НАЙДЕНО В КАТЕГОРИЯХ
        ul.menu.vertical.aside-menu

            li.is-active
                a(href='#', title=''): b БРЕНДЫ

                ul.menu.vertical.nested
                    li: a(href='#') Classic (5)
                    li: a(href='#') Elegance (1)
