.row.column
    hr
    br
    p Рассказать:&#160; &#160;
        a(href='#').text-secondary.fa.fa-lg.fa-facebook
        | &#160; &#160;
        a(href='#').text-secondary.fa.fa-lg.fa-twitter
        | &#160; &#160;
        a(href='#').text-secondary.fa.fa-lg.fa-vk