.product-top-line.clearfix
    span.label.success Акция
    span.text-dark-gray
        | &#160;&#160;&#160;Артикул 123456

    .float-right
        .product-rating.fa-lg
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star &#160;
            i.fa.fa-star-o &#160;
        a.pseudo-link(href='#', title='') Отзывы &#160(3)