h1.product-page-title Принтер лазерный HP LaserJet Pro M477fnw (CF377A#ACB)
br
p  А4, 600×600 dpi, 27/27 стр в мин., ADF, Duplex, USB, Ethernet

.row
    .small-12.large-2.column
        .product-param-title Цвет:
    .small-12.large-10.column
        img.thumbnail(src='', alt='', style='width: 38px; height: 38px; background: #eee;')
        | &#160;&#160;
        img.thumbnail(src='', alt='', style='width: 38px; height: 38px; background: #222;')
        | &#160;&#160;
        img.thumbnail(src='', alt='', style='width: 38px; height: 38px; background: #578b93;')
        | &#160;&#160;
        img.thumbnail(src='', alt='', style='width: 38px; height: 38px; background: #deb887;')
        | &#160;&#160;

.row
    .small-12.large-2.column
        .hide-for-medium.float-right
            a.pseudo-link(href='#', title='') Таблица размеров
        .product-param-title Размер:
    .small-12.large-6.column
        .button-group
            a(href='#').button.secondary.hollow 39
            a(href='#').button.secondary.hollow 40
            a(href='#').button.secondary.hollow.disabled 41
            a(href='#').button.secondary.hollow 42
            a(href='#').button.secondary.hollow 43
    .small-12.large-4.column
        p.show-for-medium.large-text-right
            a.pseudo-link(href='#', title='') Таблица размеров
.row
    .small-12.large-10.large-push-2.column
        p
            span.text-dark-gray Нет нужного размера или цвета? &#160;
            a.pseudo-link(href='#') Сообщим о появлении
br
p
    span.stat 25 280 руб &#160;
    del.text-dark-gray 27 150 руб
    |  &#160;&#160;
    span.label.warning Бонус <i>+45</i>
    br

.row
    .small-6.large-3.column
        .input-group
            .input-group-button
                button.button –
            input.input-group-field(type='text' value='1' )
            .input-group-button
                button.button +
    .small-6.end.column
        a(data-tooltip aria-haspopup="true" class="has-tip top" data-click-open="true" data-disable-hover="true" title="Товар добавлен в корзину").button.expanded
            i.fa.fa-shopping-cart.fa-lg &#160;
            | В корзину

.row.column
    br
    p
        //-a(data-tooltip aria-haspopup="true" class="has-tip top" data-click-open="true" data-disable-hover="true" title="Товар добавлен к сравнению. Сравнить: 3")
            i.fa.fa-lg.fa-signal &#160;
            | К сравнению
        //-| &#160; &#160; &#160;
        a(data-open="add-to-favourites-auth-popup")
            i.fa.fa-lg.fa-heart-o &#160;
            | Запомнить
        | &#160; &#160; &#160;
    hr
    br