include ../mixins/_mixin-product-tile

.row.small-up-2.medium-up-4.large-up-5
    +productTile('Платье MARIA COCA','g12')
    +productTile('Платье Дом','g9')
    +productTile('Топ Karen Millen','g7')
    +productTile('Платье Karen Millen','g5')
    +productTile('Топ Rachel Rachel Roy','g8')