.row
    .small-12.medium-11.large-12.end.column
        .row
            .small-2.medium-1.large-12.column
                p.text-center
                    i.fa.fa-chevron-up.show-for-large
                    i.fa.fa-chevron-left.hide-for-large

            .small-8.medium-10.large-12.column
                .product-thumbs
                    .row.small-up-3.large-up-1
                        .column
                            img.thumbnail(src='images/image.svg', alt='', style='width: 100%; background: #ccc;')
                        .column
                            img.thumbnail(src='images/image.svg', alt='', style='width: 100%; background: #ccc;')
                        .column
                            img.thumbnail(src='images/image.svg', alt='', style='width: 100%; background: #ccc;')
                        .column.show-for-large
                            img.thumbnail(src='images/image.svg', alt='', style='width: 100%; background: #ccc;')
                        .column.show-for-large
                            img.thumbnail(src='images/image.svg', alt='', style='width: 100%; background: #ccc;')

            .small-2.medium-1.large-12.column
                p.text-center
                    i.fa.fa-chevron-down.show-for-large
                    i.fa.fa-chevron-right.hide-for-large