#quickview-product.reveal.large(data-reveal)
    .row
        .small-12.medium-6.column
            .row
                .small-12.large-10.large-push-2.column
                    .row
                        .small-12.medium-11.end.column
                            +stub('title', 'woman')(style='background-color: #ddd; padding-bottom: 133%; margin-bottom: 1.5rem')
                .small-12.large-2.large-pull-10.column
                    include _product-images-reel

        .small-12.medium-6.column
            include _product-top-line
            br
            include _product-base-info
            br
            br

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;