.red-line.show-for-medium#red-line(data-toggler='show-for-medium')
    .row
        .column.small-12.large-10
            #main-menu
                //- .hide-for-medium
                //-     br
                //-     ul.menu.expanded.red-line_menu-cart-account
                //-         include _nav-cart-account
                //-     br

                ul.menu-base.menu-main.text-center.large-text-left
                    li.menu-main__item
                        a.menu-main__link(href='#') Женщинам
                        div.vertical.vertical_2level.vertical_woman.vertical_triplecol(role="menuitem")
                            ul.vertical__list
                                li.vertical__item
                                    a.vertical__link-top(href='#') Одежда
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Блузки
                                        li: a.vertical__link(href='#') Брюки
                                        li: a.vertical__link(href='#') Верхняя одежда
                                        li: a.vertical__link(href='#') Для спорта и отдыха
                                        li: a.vertical__link(href='#') Платья, сарафаны
                                        li: a.vertical__link(href='#') Туники
                                        li: a.vertical__link(href='#') Нижнее белье и утяжка
                                        li: a.vertical__link(href='#') Кардиганы
                                        li: a.vertical__link(href='#') Трикотаж
                                        li: a.vertical__link(href='#') Топы и футболки
                                        li: a.vertical__link(href='#') Колготки, носки и гольфы
                                        li: a.vertical__link(href='#') Шерстяные изделия
                                        li: a.vertical__link(href='#') Юбки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Обувь
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Туфли
                                        li: a.vertical__link(href='#') Домашние тапочки
                                        li: a.vertical__link(href='#') Валенки, угги
                                        li: a.vertical__link(href='#') Сабо, шлепанцы
                                        li: a.vertical__link(href='#') Мокасины
                                        li: a.vertical__link(href='#') Ботинки
                                        li: a.vertical__link(href='#') Балетки
                                        li: a.vertical__link(href='#') Кроссовки и кеды
                                        li: a.vertical__link(href='#') Босоножки, сандалии
                                        li: a.vertical__link(href='#') Сапоги
                                li.vertical__item
                                    a.vertical__link-top(href='#') Аксессуары
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Бижутерия
                                        li: a.vertical__link(href='#') Сумки
                                        li: a.vertical__link(href='#') Платки
                    li.menu-main__item
                        a.menu-main__link(href='#') Мужчинам
                        div.vertical.vertical_2level.vertical_man.vertical_triplecol
                            ul.vertical__list
                                li.vertical__item
                                    a.vertical__link-top(href='#') Одежда
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Блузки
                                        li: a.vertical__link(href='#') Брюки
                                        li: a.vertical__link(href='#') Верхняя одежда
                                        li: a.vertical__link(href='#') Для спорта и отдыха
                                        li: a.vertical__link(href='#') Платья, сарафаны
                                        li: a.vertical__link(href='#') Туники
                                        li: a.vertical__link(href='#') Нижнее белье и утяжка
                                        li: a.vertical__link(href='#') Кардиганы
                                        li: a.vertical__link(href='#') Трикотаж
                                        li: a.vertical__link(href='#') Топы и футболки
                                        li: a.vertical__link(href='#') Колготки, носки и гольфы
                                        li: a.vertical__link(href='#') Шерстяные изделия
                                        li: a.vertical__link(href='#') Юбки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Обувь
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Туфли
                                        li: a.vertical__link(href='#') Домашние тапочки
                                        li: a.vertical__link(href='#') Валенки, угги
                                        li: a.vertical__link(href='#') Сабо, шлепанцы
                                        li: a.vertical__link(href='#') Мокасины
                                        li: a.vertical__link(href='#') Ботинки
                                        li: a.vertical__link(href='#') Балетки
                                        li: a.vertical__link(href='#') Кроссовки и кеды
                                        li: a.vertical__link(href='#') Босоножки, сандалии
                                        li: a.vertical__link(href='#') Сапоги
                    li.menu-main__item
                        a.menu-main__link(href='#') Дом и сад
                        div.vertical.vertical_2level.vertical_household-appliancies-electronics.vertical_triplecol
                            ul.vertical__list
                                li.vertical__item
                                    a.vertical__link-top(href='#') Всё для хозяйства
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Платья и сарафаны
                                        li: a.vertical__link(href='#') Платья
                                        li: a.vertical__link(href='#') сарафаны
                                li.vertical__item
                                    a.vertical__link-top(href='#') Домашний текстиль
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Товары для кухни
                                        li: a.vertical__link(href='#') Сервировка стола
                                        li: a.vertical__link(href='#') Ножи
                                        li: a.vertical__link(href='#') Хранение продуктов
                                        li: a.vertical__link(href='#') Посуда для приготовления
                                        li: a.vertical__link(href='#') Кухонный инвентарь
                                        li: a.vertical__link(href='#') Овощерезки, терки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Товары для кухни
                                    ul.vertical__list.vertical-3level
                                        li: a.vertical__link(href='#') Товары для кухни
                                        li: a.vertical__link(href='#') Сервировка стола
                                        li: a.vertical__link(href='#') Ножи
                                        li: a.vertical__link(href='#') Хранение продуктов
                                        li: a.vertical__link(href='#') Посуда для приготовления
                                        li: a.vertical__link(href='#') Кухонный инвентарь
                                        li: a.vertical__link(href='#') Овощерезки, терки
                    li.menu-main__item
                        a.menu-main__link(href='#') Бытовая техника, электроника
                        div.vertical.vertical_2level.vertical_household-appliancies-electronics.vertical_singlecol
                            ul.vertical__list
                                li.vertical__item
                                    a.vertical__link-top(href='#') Техника для кухни
                                li.vertical__item
                                    a.vertical__link-top(href='#') Техника для уборки
                    li.menu-main__item
                        a.menu-main__link(href='#') Красота и здоровье
                        div.menu.vertical.vertical_2level.vertical_beauty-and-health.vertical_singlecol
                            ul.vertical__list
                                li.vertical__item
                                    a.vertical__link-top(href='#') Сумки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Украшения и бижутерия
                                li.vertical__item
                                    a.vertical__link-top(href='#') Очки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Кошельки и косметички
                                li.vertical__item
                                    a.vertical__link-top(href='#') Перчатки и варежки
                                li.vertical__item
                                    a.vertical__link-top(href='#') Палантины и Шарфы
                    li.menu-main__item
                        a.menu-main__link.menu-main__link-act(href='#')
                            img.menu-main__ico(src="images/hit.png")
                            | Хиты продаж
        .column.hide-for-small-only.medium-6.medium-offset-2.large-offset-0.end.large-2.text-center.large-text-left
            .search-box.top-bar-right
                ul.menu
                    li
                        input(type="search",placeholder="Искать на сайте")
                    li
                        button.button(type="button")
                            i.fa.fa-search
