.row.shape-type
    .small-12.medium-4.column.text-center
        img(src="./images/fig1.jpg",alt="")
    .small-12.medium-8.column
        p Если у вас широкие плечи и широкие бёдра
        p: b Что подойдет:
        ul
            li Туники, топы, блузки и облегающие свитера;
            li Слегка приталенные куртки и пальто;
            li Платья и брюки с поясом;


