.row
  .info.columns.medium-16.small-24
    .row
      .columns.news.news_cat
        .row
          .columns.news__title
            | Безопасность
    .row.secur
      .columns.secur__img
        a
          img(src='./images/eye1.png',alt='')
          .secur__title
            | Крупнейшие банки Южной Кореи будут идентифицировать пользователей по сетчатке глаза
          .secur__theme
            | главная тема
    include _pagin
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp1.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Обнаруженный экспертами троян заражает POS-терминалы

          .expert__text.expert__text_cat
            | Специалистам по информационной безопасности известно множество троянов, позволяющих киберпреступникам перехватывать обрабатываемые подобными устройствами данные.
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp2.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title ВТБ24 повысил уровень защиты от мошеннических угроз
          .expert__text.expert__text_cat
            | ВТБ24 совместно с компаниями «Техносерв» и ЕМС завершил проект внедрения системы противодействия мошенничеству на платформе RSA Transaction Monitoring & Adaptive...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp3.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Похитивших со счетов клиентов российских банков более 1,7 млрд рублей хакеров запустили сисадмины
          .expert__text.expert__text_cat
            | Стали известны подробности расследования резонансного уголовного дела хакерской группы...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp4.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Киберпреступники используют PayPal для распространения одного из вариантов трояна Zeus
          .expert__text.expert__text_cat
            | Эксперты компании Proofpoint зафиксировали вредоносную кампанию, эксплуатирующую...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp1.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Обнаруженный экспертами троян заражает POS-терминалы

          .expert__text.expert__text_cat
            | Специалистам по информационной безопасности известно множество троянов, позволяющих киберпреступникам перехватывать обрабатываемые подобными устройствами данные.
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp2.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title ВТБ24 повысил уровень защиты от мошеннических угроз
          .expert__text.expert__text_cat
            | ВТБ24 совместно с компаниями «Техносерв» и ЕМС завершил проект внедрения системы противодействия мошенничеству на платформе RSA Transaction Monitoring & Adaptive...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp3.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Похитивших со счетов клиентов российских банков более 1,7 млрд рублей хакеров запустили сисадмины
          .expert__text.expert__text_cat
            | Стали известны подробности расследования резонансного уголовного дела хакерской группы...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp4.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Киберпреступники используют PayPal для распространения одного из вариантов трояна Zeus
          .expert__text.expert__text_cat
            | Эксперты компании Proofpoint зафиксировали вредоносную кампанию, эксплуатирующую...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp1.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title Обнаруженный экспертами троян заражает POS-терминалы

          .expert__text.expert__text_cat
            | Специалистам по информационной безопасности известно множество троянов, позволяющих киберпреступникам перехватывать обрабатываемые подобными устройствами данные.
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    .row.expert.expert_blog.expert_last
      a
        .small-6.medium-4.columns.expert__img
          img(src='./images/exp2.png',alt='')
        .small-18.medium-20.columns.expert__block
          .expert__title ВТБ24 повысил уровень защиты от мошеннических угроз
          .expert__text.expert__text_cat
            | ВТБ24 совместно с компаниями «Техносерв» и ЕМС завершил проект внедрения системы противодействия мошенничеству на платформе RSA Transaction Monitoring & Adaptive...
          .expert__date.expert__date_ex 29 Июня 2016
          .expert__say.expert__say_cat 0
    include _pagin



  .bay.columns.medium-8.small-24
    .row
      .columns.news.news_det
        .row
          .columns.news__title новости о компании
        .row
          .columns.news__block
            a.news__category  Мобильные платежи
            a(href="#").news__name Android Pay запущен в Сингапуре
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Новости банков
            a(href="#").news__name
              | МДМ Банк запустил сервис бесконтактной оплаты с помощью мобильного телефона
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Регуляторы
            a(href="#").news__name
              | ЦБ Российской Федерации: от киберпреступников удалось спасти более 1,5 млрд рублей
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Мобильные платежи
            a(href="#").news__name
              | Android Pay запущен в Сингапуре
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Новости банков
            a(href="#").news__name
              | ЦБ Российской Федерации: от киберпреступников удалось спасти более 1,5 млрд рублей
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Регуляторы
            a(href="#").news__name
              | ЦБ Российской Федерации: от киберпреступников удалось спасти более 1,5 млрд рублей
            .news__date 29 Июня 2016
            .news__say 0
    .row
      .columns
        a.news__more-link(href='#') Еще новости
    .row.widget
      a
        img(src='./images/fabe.png',alt='')
    .row.request
      form
        .columns.request__title
          span.request__title-span Запрос
        .columns.request__main
          input(type='text',placeholder='Ваше имя').request__input
          input(type='text',placeholder='Ваш телефон').request__input
          input(type='email',placeholder='Ваша электронная почта').request__input
          button(type='submit').request__submit Отправить запрос
    .row.banner
      .columns
        a
          img(src='./images/iphone.png',alt='')
.row
  .medium-12.columns.ben
    img(src='./images/main1.png',alt='')
  .medium-12.columns.ben
    img(src='./images/main1.png',alt='')
