.row
  .info.columns.medium-16.small-24
    .row
      .columns.slogan
        img(src='./images/new.jpg',alt='')
        .slogan__title
          |Life.SREDA создает
          br
          |Фонд инвестиций в блокчейн
        .slogan__bottom.row(data-equalizer,data-equalize-by-row="true")
          .slogan__block.medium-6.small-12.columns(data-equalizer-watch)
            | 117105, г. Москва, Нагорный проезд, д. 5
            a.slogan__link все офисы
          .slogan__block.medium-6.small-12.columns(data-equalizer-watch)
            |+7 (495) 785-04-94
            br
            |+7 (495) 785-04-99
          .slogan__block.medium-6.small-12.columns(data-equalizer-watch)
            a.slogan__link http://www.bssys.com
          .slogan__block.medium-6.small-12.columns(data-equalizer-watch)
            | Сфера деятельности
    .row
      .columns.soft
        .row
          .medium-13.small-24.columns.soft__bank
            .soft__bank-title
              |ООО «Банк Софт Системс»
            .soft__bss
              img(src='./images/bss.png',alt='')
            .soft__social
              a.soft__icon
              a.soft__icon.soft__icon_vk
              a.soft__icon.soft__icon_tw
          .medium-11.small-24.columns.soft__contacts
            .soft__cont
              |Контактные лица:
            .row
              .small-12.medium-24.large-12.columns.soft__expert
                .soft__img
                  img(src='./images/expert.png',alt='')
                .soft__name
                  | Иван Иванов
                .soft__text
                  | специалист
                  br
                  | email@email.ru
              .small-12.medium-24.large-12.columns.soft__expert
                .soft__img
                  img(src='./images/expert.png',alt='')
                .soft__name
                  | Иван Иванов
                .soft__text
                  | специалист
                  br
                  | email@email.ru
        .row
          .columns.soft__main
            |Life.SREDA создает Фонд инвестиций в блокчейн
          .columns.soft__bolder
            |По сообщениям СМИ, компания создает новый Фонд совместно с Крисом Скиннером, экспертом по финансовым технологиям. Life.SREDA рассчитывает привлечь 100 млн долларов от средних банков на продвижение блокчейн в банкинге к концу 2017 года.
          .columns.soft__info
            p
             | Фонд блокчейн-инвестиций (Blockchain Investment Fund) надеется привлечь 50 млн долларов уже к концу 2016 года, и ещё 50 млн долларов – к концу 2017. Сообщается, что Life.SREDA уже инвестировала в Фонд 5 млн долларов.
            p
              | Управляющим директором нового Фонда станет Томас Лабенбахер, ранее работавший в Fidor Bank и Western Union. Дэвид Бреэр, бывший директор консалтинговых проектов компании Gartner, займет должность главного партнера Фонда.
          .columns.soft__credits
            .soft__date 29 Июня 2016
            .soft__talks 0
    .row.vid
      .medium-13.small-24.columns.vid__main
        .flex-video
          iframe(src='//www.youtube.com/embed/O5f55ZzH-rQ', allowfullscreen='')
      .medium-11.small-24.columns.vid__info
        .vid__title видео презентация компании
        .vid__text
          | Сам критерий «качество» на российском рынке сервиса устройств банковского постепенно самообслуживания постепенно  постепенно
    .row.stat
      .columns.stat__top-title статьи компании
      .columns
        .stat__slider
          .stat__slide
            a
              .stat__block
                .stat__img
                  img(src='./images/31.png',alt='')
                .stat__title Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
                .stat__text
                  |Массовая эмиссия российскими банками карт национальной платежной системы "Мир" начнется с третьего квартала 2016 года, в настоящее время участниками системы являются 70 банков, сообщил глава НСПК Владимир Комлев.
                .stat__date 29 Июня 2016
                .stat__talks 0
            a
              .stat__block
                .stat__img
                  img(src='./images/34.png',alt='')
                .stat__title Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы
                .stat__text
                  | Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы, мобильные решения, карты и платежи 2016»
                .stat__date 29 Июня 2016
                .stat__talks 0
          .stat__slide
            a
              .stat__block
                .stat__img
                  img(src='./images/32.png',alt='')
                .stat__title Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы
                .stat__text
                  | Сингапур – первый рынок в Азии, где внедрен сервис Android Pay, после запуска в США и Великобритании в...
                .stat__date 29 Июня 2016
                .stat__talks 0
            a
              .stat__block
                .stat__img
                  img(src='./images/35.png',alt='')
                .stat__title Android Pay запущен в Сингапуре
                .stat__text
                  | Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы, мобильные решения, карты и платежи 2016»
                .stat__date 29 Июня 2016
                .stat__talks 0
          .stat__slide
            a
              .stat__block
                .stat__img
                  img(src='./images/33.png',alt='')
                .stat__title Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
                .stat__text
                  | Массовая эмиссия российскими банками карт национальной платежной системы "Мир" начнется с третьего квартала 2016 года, в настоящее время участниками системы являются 70 банков, сообщил глава НСПК Владимир Комлев.
                .stat__date 29 Июня 2016
                .stat__talks 0
            a
              .stat__block
                .stat__img
                  img(src='./images/36.png',alt='')
                .stat__title Android Pay запущен в Сингапуре
                .stat__text
                  | Сингапур – первый рынок в Азии, где внедрен сервис Android Pay, после запуска в США и Великобритании в...
                .stat__date 29 Июня 2016
                .stat__talks 0
          .stat__slide
            a
              .stat__block
                .stat__img
                  img(src='./images/31.png',alt='')
                .stat__title Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
                .stat__text
                  | Массовая эмиссия российскими банками карт национальной платежной системы "Мир" начнется с третьего квартала 2016 года, в настоящее время участниками системы являются 70 банков, сообщил глава НСПК Владимир Комлев.
                .stat__date 29 Июня 2016
                .stat__talks 0
            a
              .stat__block
                .stat__img
                  img(src='./images/35.png',alt='')
                .stat__title Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
                .stat__text
                  | Сингапур – первый рынок в Азии, где внедрен сервис Android Pay, после запуска в США и Великобритании в...
                .stat__date 29 Июня 2016
                .stat__talks 0




  .bay.columns.medium-8.small-24
    .row
      .columns.news.news_det
        .row
          .columns.news__title новости о компании
        .row
          .columns.news__block
            a.news__category  Мобильные платежи
            a(href="#").news__name Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Новости банков
            a(href="#").news__name
              | МДМ Банк запустил сервис бесконтактной оплаты с помощью мобильного телефона
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Регуляторы
            a(href="#").news__name
              | Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Мобильные платежи
            a(href="#").news__name
              | Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Новости банков
            a(href="#").news__name
              | Спикер Мария Милашевич, аналитик Euromonitor International выступит на ПЛАС-Форуме «Дистанционные сервисы
            .news__date 29 Июня 2016
            .news__say 0
        .row
          .columns.news__block.news__block_bord
            a.news__category  Регуляторы
            a(href="#").news__name
              | Массовая эмиссия платежных карт "Мир" начнется с III квартала 2016
            .news__date 29 Июня 2016
            .news__say 0
    .row
      .columns
        a.news__more-link(href='#') Еще новости
    .row.widget
      a
        img(src='./images/fabe.png',alt='')
    .row.request
      form
        .columns.request__title
          span.request__title-span Запрос
        .columns.request__main
          input(type='text',placeholder='Ваше имя').request__input
          input(type='text',placeholder='Ваш телефон').request__input
          input(type='email',placeholder='Ваша электронная почта').request__input
          button(type='submit').request__submit Отправить запрос
    .row.banner
      .columns
        a
          img(src='./images/iphone.png',alt='')
      
