.row
  .large-8.medium-10.small-24.columns.news
    .row
      .columns.news__title Лента новостей
    .row
      .columns.news__block
        a.news__category  Мобильные платежи
        a(href="#").news__name Android Pay запущен в Сингапуре
        .news__post Эксперт-аналитик
        .news__expert Седов Сергей Иванович
        .news__date 29 Июня 2016
        .news__say 0
    .row
      .columns.news__block.news__block_bord
        a.news__category  Новости банков
        a(href="#").news__name
         |МДМ Банк запустил сервис бесконтактной оплаты с помощью мобильного телефона
        .news__post Эксперт-аналитик
        .news__expert Седов Сергей Иванович
        .news__date 29 Июня 2016
        .news__say 0
    .row
      .columns.news__block.news__block_blue
        .news__img
          img(src='./images/1.png',alt='')
        .news__text
          a.news__category  форум экспертов
          a(href="#").news__name
            | Международная платежная система Visa готова сотрудничать с правительством
          .news__post Эксперт-аналитик
          .news__say 0
          .news__expert Седов Сергей Иванович
          .news__date 29 Июня 2016
    .row
      .columns.news__block
        a.news__category  Регуляторы
        a(href="#").news__name
          | ЦБ Российской Федерации: от киберпреступников удалось спасти более 1,5 млрд рублей
        .news__post Эксперт-аналитик
        .news__expert Седов Сергей Иванович
        .news__date 29 Июня 2016
        .news__say 0
    .row
      .columns.news__block.news__block_bord
        a.news__category  Мобильные платежи
        a(href="#").news__name
          | Android Pay запущен в Сингапуре
        .news__post Эксперт-аналитик
        .news__expert Седов Сергей Иванович
        .news__date 29 Июня 2016
        .news__say 0





    .row
      .columns
        a.news__more-link(href='#') Еще новости
  .large-16.medium-14.small-24.columns.market.text-right
    .row
      .columns
        a
          img(src='./images/232.png',alt='')
    .row
      .columns
        a.market__main
          img(src='./images/hand.png',alt='')
          .market__theme главная тема
          .market__block
            .market__title
             |Мировой рынок биометрии достигнет объема в 24,8 млрд долларов к 2021 году
            .row
              .large-6.small-12.columns.market__text.show-for-large
                | Внедрение электронных паспортов и электронных виз
              .large-6.small-12.columns.market__text.show-for-large
                | Все более широкое использование биометрических данных в электронной коммерции
              .large-6.small-12.columns.market__text.show-for-large
                | Все более широкое использование биометрических данных в электронной коммерции
              .large-6.small-12.columns.market__text.show-for-large
                | Безошибочное установление личности по сравнению с традиционными методами
    .row
      .columns.medium-12.market__left-col
        a.market__mini
          img(src='./images/first.png',alt='')
          .market__theme главное за сутки
          .market__block.market__block_no-shad
            .market__name.hide-for-medium-only «КартСтандарт» обеспечил массовое подключение к платежной системе «Мир»
      .columns.medium-12.market__right-col
        a.market__mini.float-right
          img(src='./images/second.png',alt='')
          .market__theme Анонс
          .market__block.market__block_no-shad
            .market__name.hide-for-medium-only Visa будет сотрудничать с правительством РФ по вопросу о национальной платежной системе
    .row
      .columns
        a
          img(src='./images/third.png',alt='')
.row
  .medium-12.small-24.columns.events
    a
      img(src='./images/main1.png',alt='')
  .medium-12.small-24.columns.events.text-right
    a
      img(src='./images/main1.png',alt='')
.row(data-equalizer,data-equalize-on="medium")
  .large-8.medium-12.small-24.columns.journal(data-equalizer-watch)
    .journal__title ЖУРНАЛ ПЛАС № 6 (229)
    ul.journal__list
      each val in ['Читать онлайн', 'Купить', 'Подписаться', 'Архив']
        li.journal__li
          a.journal__li-link= val
    .journal__name BS&S: как вернуться к цивилизованному сервисному рынку
    .journal__text
      | Сам критерий «качество» на российском рынке сервиса устройств банковского самообслуживания постепенно девальвировался. И у BS&S есть рецепт, как исправить ситуацию О том, как развивается сегодня рынок сервиса устройств банковского самообслуживания и какие решения востребованы на нем в условиях «новой экономической реальности», журнал «ПЛАС» беседует с Натальей. нковского самообслуживания и какие решения востребованы на нем в
    a.journal__read Прочитать
    .journal__bord
  .medium-8.small-24.hide-for-medium-only.columns.journal(data-equalizer-watch)
    a
      img(src='./images/jo.png',alt='')
    .journal__cat ЖУРНАЛ ПЛАС
  .large-8.medium-12.small-24.columns.journal.journal_last(data-equalizer-watch)
    .journal__title форум экспертов
    .row.expert
      .small-6.columns.expert__img
        img(src='./images/bb.png',alt='')
      .small-18.columns.expert__block
        .expert__title Теория относительности
        .expert__text
          | Источники статистики, на основании которой обсуждаются реалии и перспективы
        .expert__text Эксперт
        .expert__say Седов Сергей Иванович
        .expert__date 29 Июня 2016
    .row.expert
      .small-6.columns.expert__img
        img(src='./images/bb1.png',alt='')
      .small-18.columns.expert__block
        .expert__title Cyberlocker & Gambling
        .expert__text
          | Источники статистики, на основании которой обсуждаются реалии и перспективы
        .expert__text Эксперт
        .expert__say Седов Сергей Иванович
        .expert__date 29 Июня 2016
    .row.expert.expert_last
      .small-6.columns.expert__img
        img(src='./images/bb1.png',alt='')
      .small-18.columns.expert__block
        .expert__title Основные ошибки, возникающие при проверке мерчантов.
        .expert__text
          | Источники статистики, на основании которой обсуждаются реалии и перспективы
        .expert__text Эксперт
        .expert__say Седов Сергей Иванович
        .expert__date 29 Июня 2016
    .journal__bord
.row.section
  .columns
    .section__slider
      .section__slide
        .section__inner
          img(src='./images/11.png',alt='')
          .section__cat Мобильные платежи
          .section__title Бесконтактные платежи теперь доступны и на платформе Windows 10
        .columns.journal
          .row.expert
            .columns.expert__block
              .expert__title Android Pay запущен в Сингапуре
              .expert__text
                | Сингапур – первый рынок в Азии, где внедрен сервис Android Pay, после запуска в США и Великобритании в...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .row.expert.expert_last
            .columns.expert__block
              .expert__title Android Pay запущен в Сингапуре
              .expert__text
                | Сингапур – первый рынок в Азии, где внедрен сервис Android Pay, после запуска в США и Великобритании в...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .journal__bord
      .section__slide
        .section__inner
          img(src='./images/12.png',alt='')
          .section__cat Безопасность
          .section__title Сбербанк запустит онлайн-приложение для хранения конфиденциальной...
        .columns.journal
          .row.expert
            .columns.expert__block
              .expert__title Средний объем потерь от утечки данных вырос до 4 млн долларов
              .expert__text
                | Глобальное исследование, в рамках которого были...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .row.expert.expert_last
            .columns.expert__block
              .expert__title PCI DSS 3.2: что изменилось
              .expert__text
                | 28 апреля 2016 года на официальном сайте Совета PCI SSC был опубликован пресс-релиз о выходе новой версии...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .journal__bord
      .section__slide
        .section__inner
          img(src='./images/13.png',alt='')
          .section__cat Регуляторы
          .section__title Рост объема дистанционных услуг – главный тренд финрынка
        .columns.journal
          .row.expert
            .columns.expert__block
              .expert__title Рускобанк лишен лицензии
              .expert__text
                | Центральный банк РФ отозвал банковскую лицензию у "Русского торгово-промышленного банка" (Рускобанк)
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .row.expert.expert_last
            .columns.expert__block
              .expert__title Госдума приняла закон, ограничивающий действия коллекторов
              .expert__text
                | Депутаты Госдумы на пленарном заседании приняли в...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .journal__bord
      .section__slide
        .section__inner
          img(src='./images/13.png',alt='')
          .section__cat Регуляторы
          .section__title Рост объема дистанционных услуг – главный тренд финрынка
        .columns.journal
          .row.expert
            .columns.expert__block
              .expert__title Рускобанк лишен лицензии
              .expert__text
                | Центральный банк РФ отозвал банковскую лицензию у "Русского торгово-промышленного банка" (Рускобанк)
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .row.expert.expert_last
            .columns.expert__block
              .expert__title Госдума приняла закон, ограничивающий действия коллекторов
              .expert__text
                | Депутаты Госдумы на пленарном заседании приняли в...
              .expert__date.expert__date_ex 29 Июня 2016
              .expert__say.expert__say_ex 0
          .journal__bord

.row
  .large-16.medium-14.small-24.columns.journal.journal_blog
    .journal__title Блогосфера
    .row.expert.expert_blog
      .small-6.medium-3.columns.expert__img
        img(src='./images/bb.png',alt='')
      .small-18.medium-21.columns.expert__block
        .expert__title Теория относительности
        .expert__text
          | Сегодня в Москве здания больше не передвигают. А зря. Так считает колумнист «РБК-Недвижимости», автор образовательного проекта «Москва глазами инженера» Айрат Багаутдинов
        .expert__say Сергей Седов
        .expert__date 29 Июня 2016
    .row.expert.expert_blog
      .small-6.medium-3.columns.expert__img
        img(src='./images/bb1.png',alt='')
      .small-18.medium-21.columns.expert__block
        .expert__title Cyberlocker & Gambling
        .expert__text
          | Сегодня в Москве здания больше не передвигают. А зря. Так считает колумнист «РБК-Недвижимости», автор образовательного проекта «Москва глазами инженера» Айрат Багаутдинов
        .expert__say Сергей Седов
        .expert__date 29 Июня 2016
    .row.expert.expert_blog
      .small-6.medium-3.columns.expert__img
        img(src='./images/bb1.png',alt='')
      .small-18.medium-21.columns.expert__block
        .expert__title Основные ошибки, возникающие при проверке мерчантов.
        .expert__text
          | Сегодня в Москве здания больше не передвигают. А зря. Так считает колумнист «РБК-Недвижимости», автор образовательного проекта «Москва глазами инженера» Айрат Багаутдинов
        .expert__say Сергей Седов
        .expert__date 29 Июня 2016
  .large-8.medium-10.small-24.columns.calendar
    table#calendar2.calendar__table
      thead
        tr
          td
            span.calendar__prev
          td(colspan='5')
          td
            span.calendar__next
        tr
          each val in ['Пн','Вт','Ср','Чт','Пт','Сб','Вс']
            td= val
      tbody



