.row.pagin
  .columns.pagin__block
    .pagin__stat.hide-for-small-only
      | Статей: 2246
    ul.pagin__ul
      li.pagin__li
        a.pagin__link.pagin__link_prev
      li.pagin__li
        a.pagin__link.pagin__link_active
          | 1
      li.pagin__li
        a.pagin__link
          | 2
      li.pagin__li
        a.pagin__link
          | 3
      li.pagin__li.pagin__li_med-hide
        a.pagin__link
          | 4
      li.pagin__li.pagin__li_med-hide
        a.pagin__link
          | 5
      li.pagin__li.pagin__li_med-hide
        a.pagin__link
          | 6
      li.pagin__li.pagin__li_med-hide
        a.pagin__link
          | 7
      li.pagin__li.pagin__li_med-hide
        a.pagin__link
          | 8
      li.pagin__li.pagin__li_hiding
        a.pagin__link
          | 9
      li.pagin__li.pagin__li_hiding
        a.pagin__link
          | 10
      li.pagin__li.pagin__li_hiding
        a.pagin__link
          | 11
      li.pagin__li.pagin__li_hiding
        a.pagin__link
          | 12
      li.pagin__li.pagin__li_hiding
        a.pagin__link
          | 13
      li.pagin__li
        a.pagin__link
          | &hellip;
      li.pagin__li
        a.pagin__link
          | 112
      li.pagin__li
        a.pagin__link.pagin__link_next