@font-face {
  font-family: "Roboto-Regular";
  src: url(#{$fontsPath}/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Roboto-Regular: "Roboto-Regular", Arial, sans-serif;

@font-face {
  font-family: "Raleway-Regular";
  src: url(#{$fontsPath}/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Raleway-Regular: "Raleway-Regular", Arial, sans-serif;
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(#{$fontsPath}/Raleway-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Raleway-ExtraBold: "Raleway-ExtraBold", Arial, sans-serif;
@font-face {
  font-family: "Raleway-Bold";
  src: url(#{$fontsPath}/Raleway-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-Raleway-Bold: "Raleway-Bold", Arial, sans-serif;
@font-face {
  font-family: "axis";
  src: url(#{$fontsPath}/axis.otf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-axis: "axis", Arial, sans-serif;