.b-form
{
    padding-bottom: 120px;

    background-color: #363636;
    .b-form__input,
    .b-form__tel
    {
        font-family: $font-family-Roboto-Regular;
        font-size: 14px;

        position: relative;

        height: 47px;
        margin-top: 3px;
        padding-left: 19px;

        color: #959595;
        border-radius: 2px 3px 3px 2px;
        background: #fff url($imagesPath + '/110.png') no-repeat right center;
        background-color: #fafafa;
        box-shadow: none;
    }
    .b-form__tel
    {
        background: #fff url($imagesPath + '/111.png') no-repeat right center;
    }
    &__block
    {
        padding-right: 14px;
        padding-left: 14px;
       
    }
    &__submit
    {
        font-size: 14px;

        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
        border-radius: 9px;
        outline: none;
        background-color: #8dc63f;
        transition: .5s all;
        &:hover {
             background-color: darken(#8dc63f, 14%);
        }
        &:active
        {
            transform: translateY(2px);
        }
    }
    &__title
    {
        font-size: 30px;
        line-height: 1;

        margin-top: 75px;
        margin-bottom: 70px;

        text-align: center;

        color: #fff;
    }
    &__text
    {
        font-family: $font-family-Roboto-Regular;
        font-size: 14px;
        line-height: 1.43;

        position: relative;

        margin-bottom: 100px;
        padding-bottom: 25px;

        text-align: center;

        color: #959595;
        &:after
        {
            position: absolute;
            bottom: 0;
            left: calc(50% - 85px);

            display: inline-block;

            width: 170px;
            height: 2px;

            content: '';

            background-color: #1697d4;
        }
    }
}
@media (max-width:960px)
{
    .b-form
    {
        padding-bottom: 20px;
        &__title
        {
            font-size: 25px;

            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__text
        {
            margin-bottom: 20px;
        }
    }
}
@media (max-width:640px)
{
    .b-form
    {
        &__title
        {
            font-size: 21px;
padding-top: 20px;
        }
        &__text
        {
        }
    }
}

