.b-header
{
    .sticky {
        width: 100%;
        z-index: 50;
    }
     .is-at-top {
        text-align: center;
        width: 100%;
        }
        .is-stuck {
            width: 100%;
            background: #fff;
            .b-header__top-bar {
                padding-bottom: 0;
            }
            .button {
                margin-top: 20px;
            }
            .b-header__list {
                
            }
            .b-header__logo {
                width: 6%;
            }
            .b-header__menu {
                margin-top: 20px;
            }
        }
    &__row
    {
        position: relative; 
        background: #fff;
        width: 100%;
       
    }
    .b-header__input
    {
        border-radius: 6px;
        width: 200px;
        margin-right: 5px;
        margin-bottom: 0px;
        float: left;
    }
    .b-header__sub {
        float: left;
        width: 60px;
        height: 39px;
    }
    .top-bar-left
    {
        width: 100%;
    }
    .menu-icon
    {
        outline: none;
    }
    .button
    {
        float: right;

        width: 19px;
        height: 19px;
        margin-top: 33px;
        padding: 0;

        border: 0;
        outline: none;
        background: url($imagesPath + '/sprite-my.png') no-repeat -72px -68px;
    }
    #example-dropdown
    {
        right: 0 !important;
        left: auto !important;
        bottom: -69px !important;
        top: auto !important;
        z-index: 100 !important;
        width: 320px !important;
    }
    &__list
    {
        padding-right: 40px;
        padding-left: 2px;
    }
    &__logo
    {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    &__li
    {
        float: left;

        padding-right: 23px;
        padding-left: 23px;
        text-align: center;
        &-link
        {
            font-size: 14px;
            line-height: 1.43;

            position: relative;

            text-transform: uppercase;
            &:hover
            {
                color: #1697d4;
                &:after
                {
                    position: absolute;
                    bottom: -4px;
                    left: 27%;

                    display: inline-block;

                    width: 41px;
                    height: 2px;

                    content: '';

                    background-color: #1697d4;
                }
            }
            &_active
            {
                color: #1697d4;
                &:after
                {
                    position: absolute;
                    bottom: -4px;
                    left: 27%;

                    display: inline-block;

                    width: 41px;
                    height: 2px;

                    content: '';

                    background-color: #1697d4;
                }
            }
        }
    }
    &__menu
    {
        float: left;

        width: calc(100% - 19px);
        margin: 0;
        margin-top: 36px;

        list-style-type: none;

        background-color: transparent !important;
    }
    &__top-bar
    {
        padding-bottom:20px;
        background-color: transparent !important;
    }
}
@media (min-width:1230px) {
    .b-header {
       // height: 114px !important;
       &__row {

       }
    }
}
@media (max-width:1230px) {
    .b-header {

    }
}
@media (max-width:960px)  and (min-width:640px) {
    .b-header {

        &__li {
            display: inline-block;
            float:none;
            padding-top: 5px;
        }
        &__menu {
            margin-top: 20px;
            text-align: center;
        }
        .button {
            margin-top: 21px;
        }
        .is-stuck
            {
                .b-header__menu {
                    margin-top: 10px;
                }
                .b-header__list {
                    width: 88%;
                }
                .b-header__logo {
                    margin-top: 10px;
                    width: 9%;
                }
            }
        &__row {
            
        }
    }
}
@media (min-width:640px)
{
    .b-header
    {
&__logo-img {
    display: none;
}
        .top-bar-title
        {
            .button {
                display: none;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-header
    {
        &__logo-img {
            height: 52px;
        }
        &__row {
         
           
        }
         .is-stuck
            {
                .b-header__menu {
                    margin-top: 0;
                }
            .button {
                margin-top: 19px;
            }
              
            }
        .button {
            margin-top: 19px;
            margin-bottom: 0;
        }
        &__list {
            margin-top: 0;
        }
        .menu-icon 
        {
            float: left;
            margin-top: 17px;
        }
        &__menu {
            width: 100%;
            margin-top: 0;
            background: #fff;
        }
        &__top-bar {
            position: relative;
            padding-bottom: 0;
            padding-left: 12px;
            padding-right: 12px;

        }
        .top-bar-left {
            position: absolute;
            z-index: 40;
            left: -2px;
            top: 64px;
            & .button {
                display: none;
            }
            width: calc(100% + 2px);
            background: #fff;
        }
        .top-bar-title
        {
            margin-bottom: 5px;
            text-align: center;
        }
        &__logo
        {
            
            display: none;
        }
        &__list
        {
            padding-right: 0;
        }
      
        &__li
        {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            padding-top: 5px;

        }
    }
}
