.b-help
{
    &__col
    {
        padding-right: 25px;
        padding-left: 25px;
    }
    &__name
    {
        font-size: 30px;

        position: relative;

        margin-bottom: 105px;
        padding-top: 38px;
        padding-bottom: 37px;

        text-align: center;

        color: #1697d4;
        &:after
        {
            position: absolute;
            bottom: 0;
            left: calc(50% - 85px);

            display: inline-block;

            width: 170px;
            height: 2px;

            content: '';

            background-color: #1697d4;
        }
    }
    &__block
    {
        position: relative;

        margin-bottom: 55px;
        padding-bottom: 50px;

        text-align: center;
        &:hover
        {
            .b-help__icon
            {
                background-color: #1697d4;
            }
            .b-help__title
            {
                color: #1697d4;
            }
            &:after
            {
                background-color: #1697d4;
            }
        }
        &:after
        {
            position: absolute;
            bottom: 0;
            left: calc(50% - 35px);

            display: inline-block;

            width: 70px;
            height: 2px;

            content: '';

            background-color: #363636;
        }
    }
    &__title
    {
        font-size: 24px;
        line-height: .83;

        padding-top: 23px;
        padding-bottom: 30px;

        color: #363636;
    }
    &__icon
    {
        left: calc(50% - 35px);

        display: inline-block;

        width: 70px;
        height: 70px;

        border-radius: 35px;
        background-color: #363636;
    }
    &__ico
    {
        display: inline-block;

        margin-top: 15px;
        &_1
        {
            width: 37px;
            height: 38px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -111px -107px;
        }
        &_2
        {
            width: 44px;
            height: 42px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -649px -658px;
        }
        &_3
        {
            width: 42px;
            height: 35px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -168px -165px;
        }
        &_4
        {
            width: 42px;
            height: 42px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -464px -468px;
        }
        &_5
        {
            width: 34px;
            height: 45px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -230px -220px;
        }
        &_6
        {
            width: 40px;
            height: 45px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -526px -530px;
        }
        &_7
        {
            width: 40px;
            height: 43px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -404px -405px;
        }
        &_8
        {
            width: 51px;
            height: 37px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -835px -853px;
        }
        &_9
        {
            width: 44px;
            height: 36px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -340px -349px;
        }
        &_10
        {
            width: 48px;
            height: 46px;
            margin-top: 10px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1172px -1174px;
        }
        &_11
        {
            width: 43px;
            height: 43px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -586px -595px;
        }
        &_12
        {
            width: 48px;
            height: 47px;
            margin-top: 8px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1240px -1240px;
        }
        &_13
        {
            width: 36px;
            height: 44px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -284px -285px;
        }
        &_14
        {
            width: 44px;
            height: 44px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -771px -789px;
        }
        &_15
        {
            width: 44px;
            height: 47px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -906px -910px;
        }
        &_16
        {
            width: 49px;
            height: 46px;
            margin-top: 8px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1308px -1307px;
        }
    }
    &__more
    {
        font-family: $font-family-Roboto-Regular;
        font-size: 14px;
        line-height: 1.43;

        position: absolute;
        bottom: 35px;
        left: calc(50% - 36px);

        display: inline-block;

        color: #959595;
    }
}
@media (max-width:960px) {
  .b-help {
    &__col {
      padding-left: 11px;
      padding-right: 11px;
    }
    &__title {
      font-size: 20px;
    }
    &__name {
      font-size: 24px;
      padding-top: 25px;
      margin-bottom: 15px;
      padding-bottom: 20px;
    }
    &__block {
      padding-bottom: 30px;
    }
    &__more {
      bottom: 15px;
    }
  }
}
@media (max-width:640px) {
  .b-help {
    &__name {
      font-size: 20px;
    }
    &__block {
      margin-bottom: 10px;
    }
  }
}