.b-why
{
    padding-bottom: 55px;
    &__name
    {
        font-size: 30px;

        position: relative;

        margin-bottom: 57px;
        padding-top: 56px;
        padding-bottom: 48px;

        text-align: center;

        color: #1697d4;
        &:after
        {
            position: absolute;
            bottom: 0;
            left: calc(50% - 85px);

            display: inline-block;

            width: 170px;
            height: 2px;

            content: '';

            background-color: #1697d4;
        }
    }
    &__row
    {
        max-width: 900px;
    }
    &__block
    {
        position: relative;

        margin-bottom: 55px;
        padding-bottom: 34px;

        text-align: center;
        &:hover
        {
            .b-why__title
            {
                color: #1697d4;
            }
            &:after
            {
                background-color: #1697d4;
            }
            .b-why__icon
            {
                background-color: #1697d4;
            }
        }
        &:after
        {
            position: absolute;
            bottom: 0;
            left: calc(50% - 35px);

            display: inline-block;

            width: 70px;
            height: 2px;

            content: '';

            background-color: #363636;
        }
    }
    &__icon
    {
        left: calc(50% - 35px);

        display: inline-block;

        width: 70px;
        height: 70px;

        border-radius: 35px;
        background-color: #363636;
    }
    &__ico
    {
        display: inline-block;

        margin-top: 6px;
        &_1
        {
            width: 47px;
            height: 50px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1447px -1439px;
        }
        &_2
        {
            width: 50px;
            height: 46px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1377px -1373px;
        }
        &_3
        {
            width: 48px;
            height: 43px;
            margin-top: 12px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -970px -977px;
        }
        &_4
        {
            width: 38px;
            height: 49px;
            margin-top: 12px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -713px -720px;
        }
        &_5
        {
            width: 47px;
            height: 47px;
            margin-top: 12px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1105px -1107px;
        }
        &_6
        {
            width: 47px;
            height: 47px;

            background: url($imagesPath + '/sprite-my.png') no-repeat -1038px -1040px;
        }
    }
    &__title
    {
        font-size: 24px;
        line-height: .83;

        padding-top: 25px;

        color: #363636;
    }
    &__text
    {
        font-family: $font-family-Roboto-Regular;
        font-size: 14px;
        line-height: 1.43;

        padding-top: 10px;

        color: #959595;
    }
}
@media (max-width:960px)
{
    .b-why
    {
        padding-bottom: 0;
        &__name
        {
            font-size: 25px;

            margin-bottom: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__block
        {
            padding-bottom: 5px;
        }
        &__title
        {
            font-size: 20px;
        }
    }
}
@media (max-width:640px)
{
    .b-why
    {
        &__name
        {
            font-size: 20px;

            margin-bottom: 30px;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        &__block
        {
            margin-bottom: 35px;
        }
        &__title
        {
            font-size: 18px;
        }
    }
}
