.b-years {
  background: url($imagesPath + "/3-layers.png") repeat-y center top;

  &__row {
    max-width: 900px;
  }
  &__now {
    text-align: center;
    color: #fff;
    font-size: 30px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
    &:after {
      content:"";
      display: inline-block;
      position: absolute;
      width: 170px;
      height: 2px;
      left: calc(50% - 85px);
      bottom: 30%;
      background-color: #fff;
    }
  }
  &__block {
    text-align: center;
    position: relative;
    margin-bottom: 85px;
    &:after {
      content:"";
      display: inline-block;
      position: absolute;
      width: 70px;
      height: 2px;
      left: calc(50% - 35px);
      bottom: 0%;
      background-color: #fff;
    }
  }
  &__num {
    color: #fff;
    display: inline-block;
    font-size: 36px;
    padding-top: 33px;
    &_1 {
      background: url($imagesPath + '/sprite-my.png') no-repeat -1692px -1689px;
      width: 130px;
      height: 130px;
    }
    &_2 {
      background: url($imagesPath + '/sprite-my.png') no-repeat -1842px -1839px;
      width: 130px;
      height: 130px;
    }
    &_3 {
      background: url($imagesPath + '/sprite-my.png') no-repeat -1992px -1989px;
      width: 130px;
      height: 130px;
    }
  }
  &__text {
    padding-top: 35px;
    color: #fff;
    font-size: 14px;
    position: relative;
    padding-bottom: 70px;
    line-height: 1.43;
    font-family: $font-family-Raleway-Regular;
    &-span {
      color: #fff;
      font-size: 24px;
      line-height: 0.83;
    }
    
  }
}
@media (max-width:960px) {
  .b-years {
    &__now {
      font-size: 24px;
      padding-top: 20px;
      padding-bottom: 30px;
    }
    &__num {
      font-size: 30px;
      padding-top: 40px;
    }
    &__block {

     margin-bottom: 30px;
    
    }
    &__text {
      padding-bottom: 20px;
      &-span {
        font-size: 20px;
      }
    }
  }
}
@media (max-width:640px) {
  .b-years {
    &__text {
      padding-top: 10px;
    }
    &__now {
      font-size: 20px;
      padding-top: 30px;
      padding-bottom: 50px;
    }
    &__block {

     
    }
    
  }
}