@font-face {
  font-family: "NotoSerif-Italic";
  src:
  url("fonts/NotoSerif-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src:
  url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src:
  url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src:
  url("fonts/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
