// .b-main-menu-container {
//   width: 40%;
//   text-align: justify;
//   // position: relative;
//   // z-index: 5;
//   // overflow: hidden;
// }

@media screen and (max-width: 800px) {
    a.b-main-menu__item, form.b-main-menu__item {
      line-height: 100px;
      font-size: 12px;
    }

}

.b-main-menu {
  background-color: #153f93;
  &__container {
    width: 40%;
  }
  &__center {
    width: 20%;
  }
  &__item {
    // background: red;
    display: inline;
    float: left;
    margin-top: auto;
    // height: 121px;
    // padding: 5px 10px;
    // vertical-align: middle;
    color: white;
    font-family: 'Conv_SegoeUISemiBold';
    font-size: 16px;
    font-weight: 600;
    line-height: 121px;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #2753ab;
    &_search {

    // position: relative;
      display: block;


      // height: 121px;
      // line-height: 121px;
      // white-space: nowrap;
      input {
        // position: absolute;
        // top: 50%;
        display: inline-block;
        font-family: 'Conv_SegoeUIRegular';
        background: #153f93;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid #fff;
        max-width: 120px;
        color: #fff;
        // margin-left: 70px;
        // margin-top: 12px;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        height: 26px;
        line-height: 26px;
        text-transform: uppercase;
        &::-ms-clear {
          display: none;
        }
      }
      button {
        // position: absolute;
        display: inline;
        width: 15px;
        height: 15px;
        background: url("../images/x.png");
        padding: 0;
        // top: 8px;
        // right: 22px;
        outline: none;
        box-shadow: none;
        border: none;
        display: none;
    }
  }

    &--quarter {
      width: 25%;
    }
    &--half {
      width: 50%;
    }
    &:hover {
      color: white;
    }
    &:focus {
      color: white;
    }
  }
  &__logo {
    position: relative;
    // width: 170px;
    height: 100px;
    max-width: 100%;
      &_link {
      position: absolute;
      top: -60px;
      // left: -5px;
      // width: 180px;
      // height: 180px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
        &_img {
          // width: 180px;
          // height: 180px;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
        }
      }
  }


  // &__item:nth-child(1) {
  //   width: 234px;
  //   border-left: 1px solid #2753ab;
  // }
  // &__item:nth-child(2) {
  //   width: 127px;
  // }
  // &__item:nth-child(3) {
  //   width: 136px;
  // }
}
// .b-main-menu-container__item_right .b-main-menu__item {
//   &:nth-child(1) {
//     width: 121px;
//   }
//   &:nth-child(2) {
//     width: 127px;
//   }
//   &:nth-child(3) {
//     width: 249px;
//   }
// }

.b-main-menu__item_basket__ico {
  display: inline-block;
  background: url("../images/b-main-menu__item_backet.png");
  width: 34px;
  height: 27px;
  position: relative;
  top: 3px;
  left: -6px;
}
.b-main-menu__item_basket__text {
  font-family: 'Conv_SegoeUIRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  top: -5px;
  left: 4px;
}
.b-main-menu__item_my__ico {
  display: inline-block;
  background: url("../images/b-main-menu__item_my.png");
  width: 29px;
  height: 28px;
  position: relative;
  top: 3px;
}
.b-main-menu__item_my__text {
  font-family: 'Conv_SegoeUIRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  top: -5px;
  left: 10px;
}

  & input::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  & input::-webkit-input-placeholder {
    color: #fff;
  }
  & input:focus {
    color: #fff;
    background-color: #153f93;
    border-color: #fff;
  }
  & input:active {
    color: #fff;
  }

  & .b-search__submit {
    border: none;
    position: absolute;
    display: block;
    width: 22px;
    height: 27px;
    background: url("../images/search-i.png");
    top: 1px;
    left: 28px;
    margin: 0;
  }

// .b-main-menu__item_form__search {
//   // position: relative;
//   // display: block;
//   // background: white;
//   // vertical-align: middle;
//   // line-height: 20px;
//   &:after {
//         display: inline-block;
//         height: 100%;
//         width: 0;
//         vertical-align: middle;
//         content: ''
//   }

  // & button {
  //   position: absolute;
  //   width: 15px;
  //   height: 15px;
  //   background: url("../images/x.png");
  //   padding: 0;
  //   top: 8px;
  //   right: 22px;
  //   outline: none;
  //   box-shadow: none;
  //   border: none;
  //   display: none;
  // }
// }

.b-main-menu__item_form input.active {
  width: 200px;
}
