@font-face
{
    font-family: 'ProximaRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ProximaRegular.otf') format('opentype');
}
@font-family-ProximaRegular: 'ProximaRegular', Verdana, sans-serif;
@font-face
{
    font-family: 'B';

    src: url('../fonts/B.otf')  format('opentype'),
    url('../fonts/B.ttf')  format('truetype'),/* Safari, Android, iOS */
    url('../fonts/B.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-family-Beauf: 'B', Verdana, sans-serif;
