.port {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  &__col {
    padding-bottom: 20px;
    img {
      border:2px solid transparent;
      
      transition:.6s all;
      &:hover {
        border-color:#000;
      }
    }
  }
}
@media (max-width: 767px) {
  .port {
    &__col {
      img {
        display: inline-block;
      }
    }
  }
}
