.product {
  border-left: 1px solid #d3d8df;
  border-right: 1px solid #d3d8df;
  padding-left: 18px;
  padding-right: 18px;
  color: $blue;
  box-sizing: border-box;
background: $white;
  &__par {
    text-align: center;
    font-size: 16px;
    margin-bottom: 18px;
    color: $blue;
    line-height: 1.5;

    a {
      color: #3c66a6;
    }
  }

  &__league {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 18px;
    color: $blue;
  }

  &__lab {
    font-weight: 700;
    margin-bottom: 7px;

    &_first {
      margin-bottom: 0;
    }
  }

  &__thank {
    font-size: 16px;
    font-weight: 700;
    color: $blue;
    margin-top: 12px;
    margin-bottom: 23px;
    text-align: center;
  }

  span {
    font-size: 13px;
  }

  &__city {
    margin-bottom: 7px;
    color: $white;
    font-weight: 700;
  }

  &__town {
    color: $white;
    text-align: center;
    display: block;
    font-weight: 700;
    color: #2126c4;
    margin-bottom: 7px;

    img {
      margin-bottom: -3px;
      margin-left: 2px;
      display: inline-block;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &__home {
    padding-bottom: 2px;
    padding-top: 40px;
  }

  &__cab {
    text-decoration: underline;
    color: #4579e5;
  }

  &__footer {
    background: $blue;
    padding: 25px 18px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: $white;
    box-sizing: border-box;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;

    .menu-item {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 24px !important;
    }

    .product__cab {
      text-decoration: underline;
      color: $white;
    }

    img {
      max-height: 24px;
    }
  }

  &__img {
    width: 380px;
  }

  &__consult {
    font-size: 15px;
    text-align: center;
    line-height: 1.6;

    a {
      color: #3c66a6;
    }
  }

  &__main {
    padding: 40px 0 9px;
  }

  &__hello {
    font-size: 31px;
    margin-bottom: 20px;
    font-weight: 700;
    color: $blue;
    text-align: center;
  }

  &__face {
    color: $white !important;
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
  }

  &__button {
    width: 100% !important;
    margin-bottom: 9px !important;

    table {
      width: 100% !important;
    }

    td {
      background: none !important;
    }

    &:active,
    &:focus,
    &:hover {
      td {
        background: none !important;
      }
    }

    a {
      text-align: center;
      width: 100%;
      background: #f9dc67 !important;
      padding-top: 12px !important;
      padding-bottom: 13px !important;
      padding-left: 5px;
      color: #000 !important;
      box-sizing: border-box;
      padding-right: 5px;
      border: 0 solid #c7ae4b !important;
      border-radius: 5px !important;

      &:active,
      &:focus,
      &:hover {
        color: $blue !important;
        background: #f9dc67 !important;
        border: 0 solid #c7ae4b !important;
        border-radius: 5px !important;
      }
    }

    &.product__button_small {
      width: auto !important;

      center {
        text-align: right;
      }

      table {
        width: auto !important;
      }

      &.product__button_google {
        center {
          text-align: left;
        }
      }

      a {
        padding-left: 19px;
        padding-right: 19px;
        width: auto !important;
      }
    }

    &.product__button_google {
      a {
        border: 0 solid #4579e5 !important;
        color: $white !important;
        background: #5a8aed !important;

        &:active,
        &:focus,
        &:hover {
          background: #5a8aed !important;
          border: 0 solid #4579e5 !important;
          color: $white !important;
        }
      }
    }

    &.product__button_rec {
      a {
        border: 2px solid #1f4773 !important;
        color: $white !important;
        background: #224d7e !important;

        &:active,
        &:focus,
        &:hover {
          background: #224d7e !important;
          border: 2px solid #1f4773 !important;
          color: $white !important;
        }
      }
    }
  }
}
