.exhibition {
    margin-left: rem-calc(0);
    list-style: none;
    display: inline-block;
    padding: rem-calc(0);
    margin-bottom: rem-calc(0);
    &_none {
      li {
        &:after {
          display:none;
        }
      }
    }

    &__item {
        display: inline-block;
        color: $yellow;
        margin-bottom: rem-calc(11);

        &:not(:last-child) {
            &:after {
                content: "|";
                color: #fff;
                margin-left: rem-calc(8);
                margin-right: rem-calc(6);
            }
        }
    }

    &__link {
        font-weight: 300;
        text-decoration: underline;
        color: #fff;

        &:hover {
            color: $yellow;
        }
    }
}
