.head {
    position: relative;

    &:after,
    &:before {
        content: "";
        position: absolute;
        background-color: #e5e5e5;
        height: rem-calc(1);
        width: calc(100% - 10px);
        bottom: rem-calc(26);
        right: rem-calc(10);
        z-index: -1;
    }

    &:after {
        width: rem-calc(5);
        height: rem-calc(5);
        background: #000;
        right: rem-calc(0);
    }

    &__main {
        padding-right: rem-calc(10);
        display: inline-block;
        background: #fff;
        font-weight: 500;
        font-size: rem-calc(18);
        text-transform: uppercase;
    }
}
