.logo {
    font-weight: 700;
    margin-bottom: rem-calc(21);
    font-size: rem-calc(24);
    color: $blue;
    margin-top: rem-calc(7);
    display: inline-block;

    &:hover {
        color: $dark-blue;
    }

    &_white {
        color: #fff;

        &:hover {
            color: $blue;
        }
    }

    img {
        margin-right: rem-calc(12);
        width: rem-calc(60);
    }
    @include breakpoint(medium down) {
        img {
            width: rem-calc(40);
        }
    }
    @include breakpoint(small only) {
        margin-top: rem-calc(0);
        margin-bottom: rem-calc(0);
    }
}
