.soc {
    .fa-stack-2x {
        color: transparent;
    }

    &_white {
        color: #fff;
    }

    &_mini {
        .fa-stack-1x {
            color: #fff;
        }

        .fa-stack-2x {
            color: #cacaca;
        }
    }

    &:hover {
        .fa-stack-2x {
            color: $blue;
        }

        .fa-stack-1x {
            color: #fff;
        }
    }
}
