.video {
    margin-bottom: rem-calc(40);

    &__block {
        position: absolute;
        bottom: rem-calc(0);
        right: rem-calc(0);
        background: #fff;
        display: none;
    }

    &__wrapper {
        position: relative;
        display: inline-block;

        &:hover {
            .video__block {
                display: block;
            }
        }
    }

    &__img {
        padding: rem-calc(7);
        border: rem-calc(1) solid #e7e7e7;
    }

    &__title {
        margin-bottom: rem-calc(4);
        display: block;
        font-weight: 500;
        color: $blue;
        font-size: rem-calc(16);
        text-decoration: underline;

        &:hover {
            color: $yellow;
        }
    }

    &__time {
        font-weight: 300;
        font-size: rem-calc(10);
    }

    &__tags {
        font-weight: 300;
        font-size: rem-calc(12);
    }
}
