.season {
    padding-top: rem-calc(212);
    position: relative;
    margin-bottom: rem-calc(85);

    &__arr {
        width: rem-calc(118);
        height: rem-calc(118);
        position: absolute;
        left: rem-calc(0);
        display: block;
        top: rem-calc(0);
    }

    &__link {
        font-weight: 700;
        font-size: rem-calc(24);
        color: $black;
    }

    &__text {
        padding-top: rem-calc(30);
    }

    &__title {
        font-size: rem-calc(150);
        line-height: 1;
        font-family: 'El Messiri';
    }
    @include breakpoint(large down) {
        padding-top: rem-calc(150);

        &__title {
            font-size: rem-calc(130);
        }
    }
    @include breakpoint(medium down) {
        padding-top: rem-calc(70);
        margin-bottom: rem-calc(30);

        &__arr {
            width: rem-calc(40);
            height: rem-calc(40);
        }

        &__text {
            padding-top: rem-calc(10);
        }

        &__title {
            font-size: rem-calc(90);
        }
    }
    @include breakpoint(small only) {
        padding-top: rem-calc(10);

        &__title {
            padding-left: rem-calc(50);
            font-size: rem-calc(35);
        }
    }
}
