doctype html
html.no-js(lang='ru')
    include components/service/_head
    body(data-spy="scroll",data-target="#navbar")
        include components/common/_header
        include components/common/_content
        include components/common/_modal
        
        include components/service/_js.html
