.callout.user-data-menu
    ul
        li: a(href='#', title='') Мои заказы
        li: a(href='#', title='') Избранные
        li: a(href='#', title='') Мои данные
        li: a(href='#', title='') Мои подписки
