ul.pagination.text-center
  li.pagination-previous
    a(href='#' title='' aria-label='Next page') Назад
  li.current
    span.show-for-sr Вы на странице
    |  1
  li.show-for-large
    a(href='#' title='' aria-label='Page 2') 2
  li
    a(href='#' title='' aria-label='Page 3') 3
  li.show-for-large
    a(href='#' title='' aria-label='Page 4') 4
  li.show-for-large
    a(href='#' title='' aria-label='Page 4') 5
  li.show-for-large
    a(href='#' title='' aria-label='Page 4') 6
  li.show-for-large
    a(href='#' title='' aria-label='Page 4') 7
  li.ellipsis
  li
    a(href='#' title='' aria-label='Page 12') 99
  li.pagination-next
    a(href='#' title='' aria-label='Next page') Вперед
