.row.column
    ul.breadcrumbs
        li
            a(href='#') Главная
        li
            a(href='#') Раздел
        li
            a(href='#') Подраздел
        li.current
            a(href='#') Страница