.row.large-up-3.small-up-2(data-equalizer)
  .columns
    .product(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro1.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
  .columns
    .product.product_action(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro2.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
  .columns
    .product(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro3.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
  .columns
    .product(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro4.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
  .columns
    .product(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro5.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
  .columns
    .product(data-equalizer-watch="foo")
      .text-center.product__img
        a(href="#")
          img(src="./images/pro6.png", alt="")
      .product__title
        a(href="#") Hammond Multiplex
      p Antique Shop is a family owned...
      .product__info
        .product__price $875.00
        .product__cross $1,534.00
      a(href="#").product__basket.text-center
        i.fa.fa-shopping-cart 
