table.b-main
  tr
    td.b-main__cen
      center(style="max-width:1200px; width:100%")
        table.b-main__wide
          tr
            td
              table.b-main__table
                tr
                  td.b-main__cen
                    a(target="_blank",href="http://perepel-krym.ru/")
                      img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/1.png", alt="Крымский Перепел")
                tr
                  td
                    table.b-main__title
                      tbody
                        tr
                          td События Крыма
          tr
            td
              table.b-main__gray
                tr
                   td
                     table.b-main__high
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__head
                      tr
                        td
                    table.b-main__tip
                      tr
                        td.b-main__tip-td
                          span.b-main__tip-span Главное
                    table.b-main__long
                      tr
                        td
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__wide
                      tr
                        td.b-main__three
                          span.b-main__free
                            a(target="_blank",href="#")
                              table.b-now
                                tr
                                  td
                                    img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/11.png", alt="Новость 1")
                                tr
                                  td.b-now__td
                                    span.b-now__date 26 апреля
                                    span.b-now__rubr Спорт
                                    span.b-now__title
                                      | "Бахчисарай" одолел "Рубин" и вышел на третье место премьер-лиги
                          span.b-main__free
                            a(target="_blank",href="#")
                              table.b-now
                                tr
                                  td
                                    img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/12.png", alt="Новость 1")
                                tr
                                  td.b-now__td
                                    span.b-now__date 26 апреля
                                    span.b-now__rubr Происшествия
                                    span.b-now__title
                                      | Инспекторы ДПС избили водителя
                          span.b-main__free
                            a(target="_blank",href="#")
                              table.b-now
                                tr
                                  td
                                    a(target="_blank",href="#")
                                      img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/13.png", alt="Новость 1")
                                tr
                                  td.b-now__td
                                    span.b-now__date 26 апреля
                                    span.b-now__rubr Общество
                                    span.b-now__mark 
                                      img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/rubr.png", alt="")
                                      | Алушта
                                    span.b-now__title
                                      | Прокуратура Алушты проверяет факты незаконной передачи земельных участков в собственность
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__tip
                      tr
                        td.b-main__tip-td
                          span.b-main__tip-span Картина дня
                    table.b-main__long
                      tr
                        td
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__table-cen
                      tbody.b-main__body
                        tr
                          td.b-main__waterfall
                            span.b-water
                              a(target="_blank",href="#").b-water__no
                                table
                                  tr
                                    td
                                      img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/4.jpg", alt="Водопады Крыма")
                                  tr
                                    td.b-water__td
                                      span.b-water__date 25 апреля
                                      span.b-water__rubr Туризм
                                      span.b-water__title
                                        | Водопады Крыма за один день глазами очевидца
                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ПОЛИТИКА
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Жители окраин Симферополя забили тревогу об утечке газа
                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ЭКОНОМИКА
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | МЧС Крыма потратит 130 миллионов рублей

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ОБЩЕСТВО
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Жители окраин Симферополя забили тревогу об утечке газа

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span КУЛЬТУРА
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | В Херсонесе готовят к открытию уникальную античную выставку

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ТУРИЗМ
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | В Крыму с апреля по октябрь пройдет 6 крупных фестивалей

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ПРЕДПРИЯТИЯ
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Завод «Пролив» собираются реконструировать

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span СПОРТ
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Лидерами мужского баскетбольного чемпионата являются ....

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ПРОИСШЕСТВИЯ
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Крымский врач изготавливал наркотические вещества

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span ЭКОЛОГИЯ
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Вода в Черном море «пожелтела» (ФОТО)

                        tr.b-main__poly
                          td.b-main__poly-pad
                            span.b-main__span СПЕЦ ТЕМЫ 
                        tr.b-main__poly
                          td.b-main__poly-pad.b-main__poly-pad_s
                            a(target="_blank",href="#").b-main__link
                              | Жители окраин Симферополя забили тревогу об утечке газа
                        tr.b-main__cen
                          td.b-main__stat-cen
                            table.b-main__tip
                              tr
                                td.b-main__tip-td
                                  span.b-main__tip-span Статьи
                            table.b-main__long
                              tr
                                td
                        tr.b-main__cen
                          td.b-main__white
                        tr.b-news
                          td
                            span
                              a(target="_blank",href="#1").b-news__stata
                                table
                                  tr
                                    td.b-news__rus
                                      img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/6.png", alt="Энергокризис",width="180",height="180")
                                    td
                                      table
                                        tbody
                                          tr
                                            td
                                              span.b-news__date 15 апреля
                                              span.b-news__rubr Энергокризис на полуострове
                                              span.b-news__tag Энергомост
                                          tr
                                            td.b-news__title
                                              | Запускается третья ветка энергомоста в Крым
                                          tr
                                            td.b-news__link-block
                                              span.b-news__link
                                                | Мощность поставок электроэнергии из Краснодарского края в Крым составит 600 МВт. Президент России Владимир Путин сообщил, что запускается третья очередь подачи электроэнергии в Крым.
                                  tr
                                    td.b-news__bot(colspan="2")
                tr
                  td
                    table.b-main__force
                      tr
                        td
                tr
                  td
                    table.b-main__wide
                      tr
                        td.b-main__read
                          span.b-main__padding-r
                            span.b-main__topper
                            span.b-main__blocker
                            span.b-main__topper
                          span.b-main__cheet
                            a.b-main__read-link(target="_blank",href="#")
                             | Читать все новости Крыма
                          span.b-main__padding-l
                            span.b-main__topper
                            span.b-main__blocker
                tr
                  td
                    table.b-main__force-min
                      tr
                        td
                tr
                  td.b-main__bot
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__table-cen
                      tr.b-main__sto
                        td
                      tr
                        td.b-col
                          span.b-col__span
                            table.b-main__str
                              tr
                                td
                                  a(target="_blank",href="#").b-col__afi  Афиша
                              tr
                                td.b-col__line
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__row
                                          span.b-col__date 22 мая
                                          span.b-col__rubr Детям
                                      tr
                                        td.b-col__td
                                          span.b-col__name Цокотуха: 1812
                                      tr
                                        td
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/21.png", alt="Цокотуха: 1812")
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__row
                                          span.b-col__date 22 мая
                                          span.b-col__rubr Детям
                                      tr
                                        td.b-col__td
                                          span.b-col__name Снежная Королева
                                      tr
                                        td.b-col__img
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/22.png", alt="Снежная Королева")
                          span.b-col__span
                            table.b-main__str
                              tr
                                td
                                  a(target="_blank",href="#").b-col__afi.b-col__afi_brown  Достопримечательности
                              tr
                                td.b-col__line.b-col__line_brown
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__super Массандровский дворец
                                      tr
                                        td.b-col__addr
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/slice.png", alt="")
                                          span.b-col__address
                                            | Массандра, ул. Набережная, 2
                                      tr
                                        td
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/23.png", alt="Массандровский дворец")
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__super Мыс Айя
                                      tr
                                        td.b-col__addr
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/slice.png", alt="")
                                          span.b-col__address
                                            | Балаклава
                                      tr
                                        td.b-col__img
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/24.png", alt="Массандровский дворец")
                          span.b-col__span
                            table.b-main__str
                              tr
                                td
                                  a(target="_blank",href="#").b-col__afi.b-col__afi_red  Конкурсы
                              tr
                                td.b-col__line.b-col__line_red
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__row
                                      tr
                                        td.b-col__sup Супер конкурс!
                                      tr
                                        td
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/25.png", alt="Супер конкурс!")
                              tr
                                td
                                  a(target="_blank",href="#").b-col__no
                                    table
                                      tr
                                        td.b-col__row
                                      tr
                                        td.b-col__sup Бонусы и подарки
                                      tr
                                        td.b-col__img
                                          img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/26.png", alt="Бонусы и подарки")
                tr.b-main__cen
                  td.b-main__gray-cen
                    table.b-main__greeb
                      tr
                        td
          tr
            td
              table.b-footer.b-main__wide
                tr
                  td.b-footer__img(colspan="3")
                    img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/si.png", alt="")
                tr
                  td
                    span.b-footer__first
                      span.b-footer__copy
                        | &copy; 2016 «Ваш гид по Крыму»
                      | Дизайн и разработка &mdash; 
                      a.b-footer__cetera(target="_blank",href="http://cetera.ru/") Cetera
                      a.b-footer__support(target="_blank",href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=cetera.ru%2F")
                        | Сообщить об ошибке
                    span.b-footer__second
                      table
                        tr
                          td(colspan="2").b-footer__left
                            img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/imga.png", alt="")
                            span.b-footer__yalta 
                              | г. Ялта, ул. Дзержинского д.8
                        tr
                          td.b-footer__left
                            img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/envelope.png", alt="")
                            a.b-footer__mail(target="_blank",href="mailto:1_perepel@mail.ru") 1_perepel@mail.ru
                          td.b-footer__left
                            img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/tel.png", alt="")
                            a.b-footer__mail(target="_blank",href="tel:+73654343254") +7 3654 34-32-54
                        tr
                          td.b-footer__left
                            img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/envelope.png", alt="")
                            a.b-footer__mail(target="_blank",href="mailto:info_perepel@mail.ru") info_perepel@mail.ru
                          td.b-footer__left
                            img(src="http://krymgid.beta3.ceteralabs.com/working/email/images/tel.png", alt="")
                            a.b-footer__mail(target="_blank",href="tel:+79782027080") +7 978-202-70-80

                    span.b-footer__thr
                      a.b-footer__contacts(title="Контакты",target="_blank",href="http://perepel-krym.ru/contacts/") Контакты
                      a.b-footer__contacts(title="Стань автором",target="_blank",href="http://perepel-krym.ru/stan-avtorom/") Стань автором
                    span.b-footer__thr
                      a.b-footer__contacts(title="Журнал",target="_blank",href="http://perepel-krym.ru/zhurnal/") "Журнал"
                      a.b-footer__contacts(title="Рекламодателям",target="_blank",href="http://perepel-krym.ru/reklamodatelyam/") Рекламодателям
                    span.b-footer__rhr
                      a.b-footer__contacts(title="Отписаться от рассылки",target="_blank",href="#") Отписаться от рассылки
                tr
                  td.b-footer__bot


