.hide-for-medium Страница 1
ul.pagination
    li.pagination-previous.disabled Назад
    li.current  1
    li
        a(href='#', aria-label='Page 2') 2
    li
        a(href='#', aria-label='Page 3') 3
    li
        a(href='#', aria-label='Page 4') 4
    li.ellipsis
    li
        a(href='#', aria-label='Page 12') 12
    li
        a(href='#', aria-label='Page 13') 13
    li.pagination-next
        a(href='#', aria-label='Next page') Вперёд