.row.columns
  .parameters
    table.parameters__table
      tr
        th.parameters__th
        th.parameters__th Вес, кг
        th.parameters__th Ширина, см
        th.parameters__th Высота, см
      tr
        td.parameters__td Heritage Realty
        td.parameters__td.text-center 50
        td.parameters__td.text-center 300
        td.parameters__td.text-center 120
      tr
        td.parameters__td Heritage Realty
        td.parameters__td.text-center 50
        td.parameters__td.text-center 300
        td.parameters__td.text-center 120
      tr
        td.parameters__td Heritage Realty
        td.parameters__td.text-center 50
        td.parameters__td.text-center 300
        td.parameters__td.text-center 120
      tr
        td.parameters__td Heritage Realty
        td.parameters__td.text-center 50
        td.parameters__td.text-center 300
        td.parameters__td.text-center 120
