form
    br
    label.text-center.lead Подпишитесь на обновления <br>и получайте специальные предложения и скидки
    br
    .row
        .column.small-12.large-5.large-centered
            .input-group
                input.input-group-field(type='text' placeholder="Ваш email" required)
                .input-group-button
                    button.button(type="submit") Подписаться
            br