head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='Alex')
    meta(name='author' content='Alex Ochirov')
    title Создание сайтов
    link(rel='stylesheet', href='css/style.css')
    link(rel="shortcut icon", href="./images/favicon.ico")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="theme-color", content="#000000")
