mixin job-description
    p.readable-light Мы ищем человека, уверенно владеющего Node.js, MongoDB, nginx, Docker, Linux, разбирающегося в сервисах Amazon. Необходимо будет разрабатывать API на Express, применять Server Side Rendering, процессить загружаемый пользовательский контент, оптимизировать запросы в MongoDB Replica Set, использовать Web Sockets и еще много чего интересного. Хорошо, если вы владеете React.js
    h3 Требования
    ul.sect
        li опыт разработки веб-приложений от 3-х лет
        li отличное знание
        li Javascript(ES5 &amp; ES6)
        li умение работать с React и похожими фреймворками. (Часть продукта написана на Backbone и постепенно переводится на React.)
        li знание CSS &amp; LESS, пре- или постпроцессоров
        li плюсом будет опыт работы с Node.js и MongoDB
        li знание английского языка на уровне чтения технической документации
    h3 Задачи
    ul.sect
        li участие в разработке архитектуры и реализация конкретных законченных фич. Разработка новых модулей и доработка существующих.
        li подбор инструментов и внедрение best practices в программирование, сборку и деплоймент кода.
        li кроссбраузерная оптимизация, рефакторинг полученных решений.
    h3 Условия
    ul.sect
        li офис в центре Москвы (Лялин переулок, 9)
        li уроки английского языка
        li конкурентная зарплата по результатам собеседования
        li мы пользуемся Slack и Notion, постоянно обсуждаем, как улучшить процесс, и учитываем мнение всех участников 
        li проект с международной аудиторией
        li демократичный стиль работы и гибкий график (пятница — день пиццы)
    p Если ваше резюме соответствует нашим требованиям, мы можем попросить вас выполнить тестовое задание.
    a.button.hollow(data-open='apply-for-job-modal') Ответить на вакансию
