mixin portfolio(title, description)
    .cell: a.card(href='', data-equalizer-watch)
        img(src='./i/photo.svg')
        .card-section
            .sect.text-size-large= title
            .sect= description