.april {
    &__month {
        line-height: rem-calc(35);
        text-transform: uppercase;
        font-size: rem-calc(10);
        font-weight: 500;
        display: inline-block;
        text-decoration: none;
        margin-right: rem-calc(10);
        margin-bottom: rem-calc(10);
    }

    &__line {
        width: rem-calc(65);
        height: rem-calc(1);
        background: $sky;
        display: inline-block;
        margin-left: rem-calc(7);
        margin-right: rem-calc(7);
        position: relative;
        top: rem-calc(-2);
    }

    &__circle {
        color: $secondary;
        margin-bottom: rem-calc(5);
        margin-top: rem-calc(5);
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: rem-calc(10);
        font-weight: 500;
        width: rem-calc(25);
        height: rem-calc(25);
        text-align: center;
        line-height: rem-calc(25);
        border: rem-calc(1) solid $asphalt;
        border-radius: 50%;
        margin-left: rem-calc(5);
        margin-right: rem-calc(5);

        &.active,
        &:hover {
            margin-left: rem-calc(0);
            width: rem-calc(35);
            margin-right: rem-calc(0);
            height: rem-calc(35);
            line-height: rem-calc(35);
            margin-bottom: rem-calc(0);
            margin-top: rem-calc(0);
        }

        &.active {
            background: $dark-gray;
            border-color: $dark-gray;
            color: $white;
        }

        &:hover {
            color: $sky;
            background: $asphalt;
            border-color: $asphalt;
        }

        &_long {
            padding-left: rem-calc(10);
            padding-right: rem-calc(10);
            height: rem-calc(35);
            line-height: rem-calc(35);
            width: auto;
            color: $sky;
            border-radius: rem-calc(17.5);
            background: $asphalt;
            border-color: $asphalt;

            &:hover {  background: $dark-gray;
              border-color: $dark-gray;
                width: auto;
                margin-top: rem-calc(5);
                margin-bottom: rem-calc(5);
                margin-left: rem-calc(5);
                margin-right: rem-calc(5);
            }
        }
    }
}
