.author {
    list-style-type: none;
    margin: rem-calc(21) rem-calc(0) rem-calc(0);

    &__item {
        display: inline-block;
        margin-left: rem-calc(10);
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: rem-calc(11);
        font-weight: 500;
    }
}
