.journal {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: rem-calc(24);
    padding: rem-calc(19) rem-calc(38);
    color: $white;
    font-size: rem-calc(15);



    
    &__text {
        &_left {
            color: $black;
            padding-left: 50%;
        }
    }
    @include breakpoint(medium down) {
        &__text {
            &_left {
                padding-left: rem-calc(0);
            }
        }
    }
}
