.mind {
    background: $sky;
    padding: rem-calc(39 34 29);
    margin-bottom: rem-calc(40);
    font-family: "PT Serif",sans-serif;
    font-size: rem-calc(14);

    &__img {
        margin-bottom: rem-calc(7);

        img {
            width: rem-calc(100);
            height: rem-calc(100);
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
        }
    }

    &__title {
        font-size: rem-calc(24);
    }
    @include breakpoint(small only) {
        padding: rem-calc(29 24 29);
    }
}
