.rel {
    margin-top: rem-calc(306);
    font-size: rem-calc(15);
    padding-bottom: rem-calc(1);

    &_no {
        margin-top: rem-calc(39);
        padding-left: rem-calc(38);
        padding-right: rem-calc(38);
    }
&__price {
  font-size: rem-calc(25);
  display: inline-block;
}
&__space {
  display: inline-block;
  width: rem-calc(10);
}
    &_text {
        margin-top: rem-calc(0);
        padding: rem-calc(38 38 18);
    }
    &__info {
      margin-bottom: rem-calc(5);
    }

    &__category {
        font-size: rem-calc(11);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        font-weight: 500;
        margin-bottom: rem-calc(15);
    }
    @include breakpoint(medium down) {
        margin-top: rem-calc(39);
    }
}
