.soc {
    margin-right: rem-calc(20);
    float: left;
    width: rem-calc(101);
    margin-bottom: rem-calc(24);

    &__net {
        width: rem-calc(50);
        float: left;
        height: rem-calc(50);
        border-radius: rem-calc(5 0 0 5);
        background: $fb;
        line-height: rem-calc(50);
        &_vk {
          background: $vk;
        }
        &_ok {
          background: $ok;
        }
    }

    &__counter {
        background: $light-gray;
        float: left;
        font-size: rem-calc(15);
        line-height: rem-calc(50);
        width: rem-calc(50);
        height: rem-calc(50);
        border-radius: rem-calc(0 5 5 0);
    }
}
