.callout.faq-question
  h4 Mедийный канал экономит рекламный блок?
  p Практика однозначно показывает, что медийный канал экономит рекламный блок. Ребрендинг ригиден. Несмотря на сложности, баланс спроса и предложения существенно усиливает связанный рекламный макет, не считаясь...
    br
  a.text-underline(href="faq-answer.html") Читать дальше...
.callout.faq-question
  h4 Фирменный стиль тормозит эксклюзивный стратегический маркетинг?
  p Практика однозначно показывает, что медийный канал экономит рекламный блок. Ребрендинг ригиден. Несмотря на сложности, баланс спроса и предложения существенно усиливает связанный рекламный макет, не считаясь...
    br
  a.text-underline(href="faq-answer.html") Читать дальше...
.callout.faq-question
  h4 Mедийный канал экономит рекламный блок?
  p Практика однозначно показывает, что медийный канал экономит рекламный блок. Ребрендинг ригиден. Несмотря на сложности, баланс спроса и предложения существенно усиливает связанный рекламный макет, не считаясь...
    br
  a.text-underline(href="faq-answer.html") Читать дальше...
.callout.faq-question
  h4 Анализ зарубежного опыта довольно хорошо сбалансирован?
  p Практика однозначно показывает, что медийный канал экономит рекламный блок. Ребрендинг ригиден. Несмотря на сложности, баланс спроса и предложения существенно усиливает связанный рекламный макет, не считаясь...
    br
  a.text-underline(href="faq-answer.html") Читать дальше...
