.office

  ul.chief
    li.chief__item.chief__item_menu
      a(href="#").chief__link Серии мебели

      ul.chief.chief_inside
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 1
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 2
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 3
    li.chief__item
      a(href="#").chief__link Столы для руководителя

    li.chief__item.chief__item_menu
      a(href="#").chief__link Шкафы для руководителя
      ul.chief.chief_inside
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 1
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 2
        li.chief__item
          a(href="#").chief__link.chief__link_inside Серии мебели 3
