.margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.expanded(data-toggle)
  i.fa.fa-lg.fa-bars
  | &nbsp;Навигация
.callout#menu-left.aside-menu.white-box
  ul.menu.vertical.aside-menu__list
    li
      a(href='#').menu__link.menu__link_green Частые вопросы
    li
      a(href='#').menu__link.menu__link_green Оплата
    li
      a(href='#').menu__link.menu__link_green Доставка
    li
      a(href='#').menu__link.menu__link_green Условия возврата
