.margin-bottom-6
  .margin-bottom-6
  hr.margin-bottom-6
  .grid-x.grid-padding-x
    .small-24.large-4.cell Отделка:
    .cell.auto.margin-bottom-5
      #color-tabs(data-tabs='', data-link-class='color-box', role='tablist', data-i='2qov8o-i')
        span.color-box(role='presentation')
          a(data-v-offset='15', data-trigger-class='', data-tooltip='', tabindex='-1', title='', href='#kit-5,#spec-5', aria-selected='false', role='tab', aria-controls='kit-5,#spec-5', id='kit-5,#spec-5-label', aria-describedby='ks591p-tooltip', data-yeti-box='ks591p-tooltip', data-toggle='ks591p-tooltip', data-resize='ks591p-tooltip', data-i='x45cqs-i')
            span.checkbox-group__label.change-color(data-color-id='5', for='offer-5', style='background-color: #2b2622;')  
        span.color-box(role='presentation')
          a(data-v-offset='15', data-trigger-class='', data-tooltip='', tabindex='-1', title='', href='#kit-8,#spec-8', data-tabs-target='kit-8,#spec-8', role='tab', aria-controls='kit-8,#spec-8', aria-selected='false', id='kit-8,#spec-8-label', aria-describedby='m6ydfc-tooltip', data-yeti-box='m6ydfc-tooltip', data-toggle='m6ydfc-tooltip', data-resize='m6ydfc-tooltip', data-i='wb5sdv-i')
            span.checkbox-group__label.change-color(data-color-id='8', for='offer-8', style='background-color: #b2977e;')  
        span.color-box.is-active(role='presentation')
          a(data-v-offset='15', data-trigger-class='', data-tooltip='', tabindex='0', title='', href='#kit-17,#spec-17', data-tabs-target='kit-17,#spec-17', role='tab', aria-controls='kit-17,#spec-17', aria-selected='true', id='kit-17,#spec-17-label', aria-describedby='0y03gb-tooltip', data-yeti-box='0y03gb-tooltip', data-toggle='0y03gb-tooltip', data-resize='0y03gb-tooltip', data-i='cb6ejo-i')
            span.checkbox-group__label.change-color(data-color-id='17', for='offer-17', style='background-color: #d0ad8b;')  
  hr.margin-bottom-3
  div(data-tabs-content='color-tabs')
    #kit-17.complete-kit.tabs-panel.is-active(data-color-id='17', data-kit-id='26', role='tabpanel', aria-labelledby='kit-17,#spec-17-label')
      input.x-options(type='hidden', name='Серия', value='STYLE')
      input.x-options(type='hidden', name='Цвет', value='акация лорка')
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/stoly-ofisnye/ldsp/1532672230_69034') Стол писменнный прямой
          span.complect-item__price
            strong.kit-item-price 3622
            strong  ₽
          .text-size-tiny арт. Л.СП - 2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15692', data-offer-id='2339', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/tumby-ofisnye/1532672232_87547') Тумба подкатная 
          span.complect-item__price
            strong.kit-item-price 3870
            strong  ₽
          .text-size-tiny арт. Л.ТМ -3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15746', data-offer-id='2505', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/aksessuary-dlya-ofisa/prochee/nadstavki-na-stol/1532672229_85924') Надставка на стол
          span.complect-item__price
            strong.kit-item-price 1736
            strong  ₽
          .text-size-tiny арт. Л.НС-3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15678', data-offer-id='2297', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672233_97491') Шкаф купе
          span.complect-item__price
            strong.kit-item-price 12758
            strong  ₽
          .text-size-tiny арт. Л.ШК-3.2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15757', data-offer-id='2538', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .margin-bottom-6.text-center.medium-text-left
        span.summ.margin-right-2.display-inline-block
          | На сумму: 
          strong.total-kit-price 40 592
          i.fa.fa-rub
    #kit-5.complete-kit.tabs-panel(data-color-id='5', data-kit-id='27', role='tabpanel', aria-labelledby='kit-5,#spec-5-label', aria-hidden='true')
      input.x-options(type='hidden', name='Серия', value='STYLE')
      input.x-options(type='hidden', name='Цвет', value='Венге Цаво')
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/stoly-ofisnye/ldsp/1532613927_88040') Стол письменный криволинейный левый
          span.complect-item__price
            strong.kit-item-price 4541
            strong  ₽
          .text-size-tiny арт. А.СА-1 Л.
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15390', data-offer-id='837', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/stoly-ofisnye/ldsp/1532613927_12718') Стол письменный криволинейный правый
          span.complect-item__price
            strong.kit-item-price 4541
            strong  ₽
          .text-size-tiny арт. А.СА-1 Пр.
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15391', data-offer-id='845', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/tumby-ofisnye/1532672233_67583') Тумба приставная
          span.complect-item__price
            strong.kit-item-price 5452
            strong  ₽
          .text-size-tiny арт. Л.ТП  - 4
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15749', data-offer-id='2512', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/aksessuary-dlya-ofisa/prochee/nadstavki-na-stol/1532672229_85924') Надставка на стол
          span.complect-item__price
            strong.kit-item-price 1736
            strong  ₽
          .text-size-tiny арт. Л.НС-3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15678', data-offer-id='2295', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672233_31682') Шкаф купе
          span.complect-item__price
            strong.kit-item-price 14334
            strong  ₽
          .text-size-tiny арт. Л.ШК-2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15755', data-offer-id='2530', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532613929_93378') Шкаф высокий широкий со стеклом
          span.complect-item__price
            strong.kit-item-price 8350
            strong  ₽
          .text-size-tiny арт. А.СТ-1.2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15411', data-offer-id='1005', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672231_95874') Шкаф высокий широкий закрытый
          span.complect-item__price
            strong.kit-item-price 7680
            strong  ₽
          .text-size-tiny арт. Л.СТ-1.9
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15712', data-offer-id='2397', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672233_97491') Шкаф купе
          span.complect-item__price
            strong.kit-item-price 12758
            strong  ₽
          .text-size-tiny арт. Л.ШК-3.2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15757', data-offer-id='2536', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .margin-bottom-6.text-center.medium-text-left
        span.summ.margin-right-2.display-inline-block
          | На сумму: 
          strong.total-kit-price 59 392
          i.fa.fa-rub
    #kit-8.complete-kit.tabs-panel(data-color-id='8', data-kit-id='28', role='tabpanel', aria-labelledby='kit-8,#spec-8-label', aria-hidden='true')
      input.x-options(type='hidden', name='Серия', value='STYLE')
      input.x-options(type='hidden', name='Цвет', value='Вяз благородный')
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/stoly-ofisnye/ldsp/1532613927_10427') Стол письменный криволинейный левый
          span.complect-item__price
            strong.kit-item-price 4347
            strong  ₽
          .text-size-tiny арт. А.СА-2 Л.
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15392', data-offer-id='0', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/stoly-ofisnye/ldsp/1532672230_99984') Стол письменный прямой
          span.complect-item__price
            strong.kit-item-price 3894
            strong  ₽
          .text-size-tiny арт. Л.СП - 3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15693', data-offer-id='2341', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/tumby-ofisnye/1532672233_67583') Тумба приставная
          span.complect-item__price
            strong.kit-item-price 5452
            strong  ₽
          .text-size-tiny арт. Л.ТП  - 4
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15749', data-offer-id='2513', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/tumby-ofisnye/1532613932_61888') Тумба подкатная
          span.complect-item__price
            strong.kit-item-price 3691
            strong  ₽
          .text-size-tiny арт. А.ТМ-3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15461', data-offer-id='0', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/aksessuary-dlya-ofisa/prochee/nadstavki-na-stol/1532672229_85924') Надставка на стол
          span.complect-item__price
            strong.kit-item-price 1736
            strong  ₽
          .text-size-tiny арт. Л.НС-3
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15678', data-offer-id='2296', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672233_31682') Шкаф купе
          span.complect-item__price
            strong.kit-item-price 14334
            strong  ₽
          .text-size-tiny арт. Л.ШК-2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15755', data-offer-id='2531', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672231_87389') Шкаф высокий широкий со стеклом
          span.complect-item__price
            strong.kit-item-price 9365
            strong  ₽
          .text-size-tiny арт. Л.СТ-1.2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15705', data-offer-id='2377', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .grid-x.grid-padding-x.complect-item
        .small-24.large-16.cell.medium-16.text-center.medium-text-left
          strong
            a.complect-item__title(href='/catalog/ofisnaya-mebel/shkafy-stellaji-i-garderoby/1532672233_97491') Шкаф купе
          span.complect-item__price
            strong.kit-item-price 12758
            strong  ₽
          .text-size-tiny арт. Л.ШК-3.2
        .small-12.large-6.cell.medium-8
          .input-group.safe
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_next(type='button', value='+')
            input.input-group-field.safe__input.kit-offer.text-center(data-prod-id='15757', data-offer-id='2537', type='number', value='1')
            .input-group-button
              input.button.expanded.safe__btn.safe__btn_prev(type='button', value='-')
        .large-2.cell.small-4.medium-24
          a(href="#").complect-item__basket: i.fa.fa-shopping-basket        
      .margin-bottom-6.text-center.medium-text-left
        span.summ.margin-right-2.display-inline-block
          | На сумму: 
          strong.total-kit-price 55 577
          i.fa.fa-rub
  .grid-x.grid-padding-x.align-middle
    .small-24.large-auto.cell.auto
      a.button.expanded.x-add-to-cart-kit(data-id='15659')
        i.fa.fa-shopping-basket.fa-lg
        span.text-size-large В корзину
    .small-24.large-shrink.cell.margin-bottom-6
      a.x-add-to-compare.margin-right-2(data-id='15659', title='Товар добавлен к сравнению.')
        i.fa.fa-lg.fa-balance-scale
        span.text-dark-gray  К сравнению
      a.x-add-to-wishlist(data-open='add-to-favourites-auth-popup', data-id='15659')
        i.fa.fa-lg.fa-heart-o
        span.text-dark-gray  Запомнить
  .grid-x.grid-padding-x.margin-top-6
    .cell
  .margin-bottom-3
    span.rating
      .fa-lg.text-primary
        i.fa.fa-star-o  
        i.fa.fa-star-o  
        i.fa.fa-star-o  
        i.fa.fa-star-o  
        i.fa.fa-star-o  
    em.text-primary  оценок 0
  hr.margin-bottom-6
  .grid-x.grid-padding-x
    .small-24.medium-12.cell
      .margin-bottom-6
        b Наличие:
        div
          | Магазин —
          span.text-success   много
    .small-24.medium-12.cell
      div
        i.fa.fa-truck
        b Доставка
        | :
      div Самовывоз — 17.03.2016
      .margin-bottom-6
        a(href='#', title='') Тарифы и условия доставки
  hr.margin-bottom-6
  .margin-bottom-6
    | Рассказать:
    a.text-success.margin-horizontal-2.fa-stack.fa-lg(href='http://www.facebook.com/sharer.php?u=http://lime-office.ru/catalog/ofisnaya-mebel/serii-mebeli-dlya-personala/STYLE', title='')
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-stack-1x.fa-facebook.fa-inverse
    a.text-success.margin-horizontal-2.fa-stack.fa-lg(href='http://twitter.com/intent/tweet?text=STYLE&url=http://lime-office.ru/catalog/ofisnaya-mebel/serii-mebeli-dlya-personala/STYLE', title='')
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-stack-1x.fa-twitter.fa-inverse
    a.text-success.margin-horizontal-2.fa-stack.fa-lg(href='http://vkontakte.ru/share.php?url=http://lime-office.ru/catalog/ofisnaya-mebel/serii-mebeli-dlya-personala/STYLE&image=http://lime-office.ru/uploads/20180813/Akaciya_3.jpg', title='')
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-stack-1x.fa-vk.fa-inverse
    a.text-success.margin-horizontal-2.fa-stack.fa-lg(href='http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=STYLE&st._surl=http://lime-office.ru/catalog/ofisnaya-mebel/serii-mebeli-dlya-personala/STYLE', title='')
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-stack-1x.fa-odnoklassniki.fa-inverse
