.b-afi
{
    &__select
    {
        display: inline-block;

        width: 100%;
        margin-top: 14px;
        margin-bottom: 10px;
        padding: 1px;
        &_active
        {
            padding: 0;

            border: 1px solid #f2392b;
            border-radius: .3125rem .3125rem 0 0;
            background: #fff;
        }
    }
    &__title
    {
        font-family: $font-family-OpenSansBold;
        font-size: 36px;
        font-weight: 700;
        line-height: 1;

        display: inline-block;

        padding-right: 5px;
        padding-left: 5px;

        text-transform: uppercase;

        color: #e5e2d8;
        border-bottom: 1px dotted;
    }
    &__list
    {
        position: absolute;
        z-index: 10;
        left: 15px;

        display: none;

        width: 300px;
        margin: 0;
        padding-right: 5px;
        padding-left: 5px;

        list-style-type: none;

        border: 1px solid #f2392b;
        border-top: 0;
        border-radius: 0 0 .3125rem .3125rem ;
        background: #fff;
    }
    &__li
    {
        float: left;

        width: 100%;
        &-link
        {
            font-size: 1rem;
            line-height: 1.5rem;

            position: relative;

            display: block;
            overflow: hidden;

            width: 100%;
            margin-bottom: .3125rem;

            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;

            color: #f2392b;
        }
    }
    &__social
    {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    &__ico
    {
        float: right;

        width: 31px;
        height: 31px;
        margin-left: 5px;

        border-radius: 100%;
        &_vk
        {
            background: #4b709a  url('../images/sprite-my.png') no-repeat -76px -72px;
        }
        &_tw
        {
            background: #55acee  url('../images/sprite-my.png') no-repeat -175px -164px;
        }
        &_fb
        {
            background: #3664a2  url('../images/sprite-my.png') no-repeat -45px -42px;
        }
        &_go
        {
            background: #dd4b39  url('../images/sprite-my.png') no-repeat -299px -307px;
        }
        &:hover
        {
            background-color: #0bacd3;
        }
    }
}
@media (max-width:780px)
{
    .b-afi
    {
        &__select
        {
            max-width: 315px;
        }
        &__title
        {
            font-size: 32px;
        }
    }
}
@media (max-width:640px)
{
    .b-afi
    {
        height: 95px;
        &__ico
        {
            margin-right: calc(12.5% - 16px);
            margin-left: calc(12.5% - 16px);
            &:last-child
            {
            }
        }
        &__title
        {
            font-size: 25px;
        }
        &__center
        {
            text-align: center;
        }
        &__select
        {
            margin-top: 10px;
            margin-bottom: 0;
        }
        &__social
        {
            padding-top: 5px;
            padding-bottom: 0;
        }
    }
}
