.b-centr
{
    height: 30px;
    margin-bottom: 0;

    text-align: center;

    border-bottom: 2px solid #440c2f;
    &__title
    {
        font-family: $font-family-OpenSansBold;
        font-size: 15px;
        line-height: 23px;

        position: relative;
        z-index: 100;
        top: 15px;

        display: inline-block;

        width: inherit;
        padding-top: 2px;
        padding-right: 64px;
        padding-bottom: 2px;
        padding-left: 64px;

        text-align: center;
        text-transform: uppercase;

        color: white;
        background-color: #85be46;
        
        &:before
        {
            font-size: 0;

            position: absolute;
            top: 0;
            left: -15px;

            width: 20px;
            height: 28px;

            content: '1';

            background: url('../images/rect11.png') no-repeat;
        }
        &:after
        {
            font-size: 0;

            position: absolute;
            top: 0;
            right: -15px;

            width: 20px;
            height: 28px;

            content: '1';

            background: url('../images/rect12.png') no-repeat;
        }
        &_red
        {
            background-color: #dd249a;
            padding-bottom: 3px;
            &:before
            {
                background: url('../images/left1.png') no-repeat;
            }
            &:after
            {
                background: url('../images/right1.png') no-repeat;
            }
        }
    }
}
@media (max-width:640px) {
    .b-centr {
        &__title {
            font-size: 14px;
        }
    }
}