.b-events
{
    padding-right: 15px;
    padding-left: 15px;
    &_filter
    {
        margin-bottom: 15px;
    }
    &_last
    {
        margin-bottom: 50px;
    }
    &__link
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 15px;
        line-height: 25px;

        position: relative;

        display: inline-block;

        min-width: 186px;
        padding-top: 4px;
        padding-right: 26px;
        padding-bottom: 4px;
        padding-left: 26px;

        transition: .3s all;
        text-align: center;

        color: white;
        border-bottom: 2px solid #4b6033;
        border-radius: 4px;
        background-color: #85be46;
        &:focus
        {
            color: #fff;
            background-color: #8ac549;
        }
        &:hover
        {
            color: #fff;
            background-color: #8ac549;
        }
        &:before
        {
            position: absolute;
            top: 17px;
            left: -103px;

            width: 81px;
            height: 1px;

            content: '';

            background-color: #781c55;
        }
        &:after
        {
            position: absolute;
            top: 17px;
            right: -103px;

            width: 81px;
            height: 1px;

            content: '';

            background-color: #781c55;
        }
    }
    &__block
    {
        overflow: hidden;

        margin-bottom: 19px;

        text-align: center;
    }
}
@media (max-width:960px)
{
    .b-events
    {
        margin-bottom: 0;
    }
}
@media (max-width:960px) and (min-width:640px) {
    .b-events {
        &_filter {
            margin-top: 120px;
        }
    }
}