.b-eve
{
    padding-right: 23px;
    padding-left: 32px;
    &__trek
    {
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 19px;
        & > .flex-video
        {
            margin-bottom: 0;
            padding-bottom: 53%;
        }
    }
    &__time
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 20px;

        text-align: center;

        color: pink;
    }
    &__disable-drag
    {
        font-size: .875rem;
        line-height: 1.125rem;

        position: absolute;
        z-index: 10;

        margin: .4375rem;
        padding: 0 .625rem;

        cursor: pointer;

        color: #fff;
        border-radius: .4375rem;
        background-color: #f57c00;
    }
    &__disable-drag1
    {
        font-size: .875rem;
        line-height: 1.125rem;

        position: absolute;
        z-index: 10;

        margin: .4375rem;
        padding: 0 .625rem;

        cursor: pointer;

        color: #fff;
        border-radius: .4375rem;
        background-color: #f57c00;
    }
    &__yandex
    {
        width: 100%;
        height: 322px;
        & > ymaps
        {
            width: 100%;
            height: 100%;
        }
    }
    &__submit
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 15px;

        float: right;

        padding-top: 7px;
        padding-right: 28px;
        padding-bottom: 7px;
        padding-left: 28px;

        color: #fff;
        border-bottom: 2px solid #4b6033;
        border-radius: 5px 4px 4px 5px;
        outline: none;
        background-color: #85be46;
        &:focus
        {
            background-color: #8ac549;
        }
        &:hover
        {
            background-color: #8ac549;
        }
    }
    &__stay
    {
        padding-right: 22px;
        padding-left: 22px;
    }
    &__line-cont
    {
        padding-right: 21px;
        padding-left: 22px;
    }
    &__line
    {
        height: 1px;

        background-color: #e6e6e6;
    }
    &__sli-container
    {
        padding-right: 20px;
        padding-bottom: 7px;
        padding-left: 21px;
    }
    &__photo
    {
        font-family: $font-family-OpenSansBold;
        font-size: 14px;

        padding-top: 33px;
        padding-bottom: 15px;
        padding-left: 22px;

        text-transform: uppercase;

        color: #383737;
    }
    &__text
    {
        padding-right: 20px;
        padding-left: 22px;
        &-cont
        {
            font-size: 17px;

            padding-top: 15px;
            padding-bottom: 17px;

            color: #383737;
            border-bottom: 1px solid #e6e6e6;
        }
    }
    &__tel
    {
        font-size: 15px;

        padding-bottom: 12px;

        color: #383737;
    }
    &__add
    {
        font-size: 13px;

        position: relative;

        display: inline-block;

        margin-top: 21px;
        padding-top: 6px;
        padding-right: 16px;
        padding-bottom: 7px;
        padding-left: 36px;

        color: #dd249a;
        border: 1px solid #dd249a;
        border-radius: 34px;
        &:before
        {
            position: absolute;
            left: 13px;

            width: 17px;
            height: 16px;

            content: '';

            background: url(../images/star.png) no-repeat;
        }
        &:focus
        {
            color: #781c55;
        }
        &:hover
        {
            color: #781c55;
        }
    }
    &__grey
    {
        color: #bbb;
    }
    &__pink
    {
        color: #dd249a;
    }
    &__memory
    {
        font-size: 13px;

        position: relative;

        display: inline-block;

        margin-top: 20px;
        margin-bottom: 32px;
        padding-top: 6px;
        padding-right: 16px;
        padding-bottom: 7px;
        padding-left: 36px;

        color: #dd249a;
        border: 1px solid #dd249a;
        border-radius: 34px;
        &:before
        {
            position: absolute;
            left: 13px;

            width: 17px;
            height: 16px;

            content: '';

            background: url(../images/clock.png) no-repeat;
        }
        &:focus
        {
            color: #781c55;
        }
        &:hover
        {
            color: #781c55;
        }
    }
    &__soc
    {
    }
    &__social
    {
        float: left;

        margin-right: 17px;
        &:last-child
        {
            margin-right: 0;
        }
    }
    &__img
    {
        padding-right: 9px;
        &_last
        {
            height: 322px;
            padding-right: 0;
        }
        &_map
        {
            overflow: hidden;
        }
        &:last-child
        {
            padding-left: 6px;
        }
    }
    &__info
    {
        padding-top: 40px;
        padding-right: 19px;
        padding-left: 19px;
    }
    &__date
    {
        font-family: $font-family-OpenSansBold;
        font-size: 13px;

        float: left;

        color: #dc249a;
    }
    &__cat
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 11px;
        line-height: 16px;

        float: left;

        margin-left: 10px;
        padding-right: 8px;
        padding-left: 8px;

        text-transform: uppercase;

        color: #fff;
        border-radius: 3px;
        background-color: #dd249a;
    }
    &__place
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;

        position: relative;

        float: left;

        margin-left: 41px;

        color: #bbb;
        &:before
        {
            font-size: 0;

            position: absolute;
            top: 6px;
            left: -11px;

            width: 6px;
            height: 6px;

            content: '';

            border-radius: 3px;
            background-color: #dd249a;
        }
    }
    &__title
    {
        font-family: $font-family-OpenSansBold;
        font-size: 25px;

        float: left;

        width: 100%;

        color: #383737;
    }
    &__cont
    {
        padding-bottom: 20px;

        background-color: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .22);
    }
    &__back
    {
        padding-right: 21px;
        padding-left: 21px;
        &-med
        {
            float: left;

            width: 100%;

            border-bottom: 1px solid #e6e6e6;
        }
        &-link
        {
            font-size: 15px;

            position: relative;

            display: inline-block;

            margin-left: 10px;
            padding-top: 16px;
            padding-bottom: 16px;

            color: #383737;
            &:hover
            {
                color: #781c55;
            }
            &:before
            {
                position: absolute;
                top: 24px;
                left: -10px;

                width: 5px;
                height: 8px;

                content: '';

                background: url(../images/left-ar.png) no-repeat;
            }
        }
    }
}
textarea.b-eve__input
{
    height: 150px;
    margin-bottom: 21px;

    resize: none;

    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: none;
}
@media (min-width:1000px) and (max-width:1200px)
{
    .b-eve
    {
        &__yandex
        {
            height: 277px;
        }
    }
}
@media (min-width:960px)
{
    .b-eve
    {
        &__disable-drag
        {
            display: none;
        }
    }
}
@media (max-width:960px) and (min-width:640px)
{
    .b-eve
    {
        padding-right: 30px;
        padding-left: 30px;
        &__info
        {
            padding-top: 10px;
        }
        &__img:last-child
        {
            padding-top: 10px;
            padding-left: 15px;
        }
    }
}
@media (max-width:640px)
{
    .b-eve
    {
        margin-top: 10px;
        padding-right: 30px;
        padding-left: 30px;
        &__trek
        {
            padding-right: 4px;
            padding-left: 9px;
        }
        &__back-link
        {
            padding-top: 5px;
            padding-bottom: 5px;
            &:before
            {
                top: 13px;
            }
        }
        &__date
        {
            width: 100%;

            text-align: center;
        }
        &__title
        {
            font-size: 13px;

            text-align: center;
        }
        &__info
        {
            padding-top: 15px;
        }
        &__text-cont
        {
            padding-top: 5px;
        }
        &__img
        {
            padding-right: 0;
            padding-bottom: 10px;
            padding-left: 0;
            &:first-child
            {
                text-align: center;
            }
            &_last
            {
                padding-right: 4px;
                padding-left: 15px;
            }
        }
    }
}
@media (max-width:400px)
{
    .b-eve
    {
        &__trek
        {
            & > .flex-video
            {
                padding-bottom: 48%;
            }
        }
    }
}
