.b-film
{
    position: relative;

    float: left;

    width: 100%;

    background-color: white;
    box-shadow: 1px 1.7px 4px rgba(0, 0, 0, .13);
    &_equa
    {
        .b-film__info
        {
            padding-bottom: 45px;
        }
    }
    &:hover
    {
        border-bottom: 4px solid #dd249a;
        & .b-film__place
        {
            bottom: 14px;
        }
    }
    &__img
    {
        text-align: center;
    }
    &__info
    {
        float: left;

        width: 100%;
        padding-top: 17px;
        padding-right: 22px;
        padding-bottom: 18px;
        padding-left: 22px;
        &_cart
        {
            padding-top: 8px;
            padding-left: 15px;
            padding-right: 10px;
            padding-bottom: 61px;
        }
    }
    &__date
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;
        line-height: 24px;

        display: inline-block;

        color: #dd249a;
        &_cart {
            padding-bottom: 3px;
        }
    }
    &__rubrika
    {
        display: inline-block;

        margin-left: 5px;
        &-link
        {
            font-family: $font-family-OpenSansSemiBold;
            font-size: 11px;
            line-height: 16px;

            display: inline-block;

            padding-right: 9px;
            padding-left: 9px;

            text-transform: uppercase;

            color: white;
            border-radius: 3px;
            background-color: #dd249a;
        }
    }
    &__title
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;
        line-height: 1.38;

        color: #383737;
        &-link
        {
            font-family: $font-family-OpenSansRegular;
            font-size: 15px;

            color: #383737;
        }
    }
    &__place
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;
        line-height: 15px;

        position: absolute;
        bottom: 18px;

        padding-top: 5px;
        padding-left: 14px;

        color: #bbb;
        &:before
        {
            font-size: 0;

            position: absolute;
            top: 9px;
            left: 0;

            width: 6px;
            height: 6px;

            content: '1';

            border-radius: 3px;
            background-color: #dd249a;
        }
    }
}
@media (max-width:960px) {
    .b-film {
        &__img {
            padding-top: 4px;
        }
    }
}
@media (max-width:640px)
{
    .b-film
    {
        &:hover
        {
            border-bottom: 0 ;
            & .b-film__place
            {
                bottom: 5px;
            }
        }
        &_equa
        {
            .b-film__info
            {
                padding-bottom: 25px;
            }
        }
        &__info
        {
            padding-top: 0;
            padding-bottom: 20px;

            text-align: center;
        }
        &__place
        {
            bottom: 5px;
            left: 0;

            width: 100%;
            // left: calc(50% - 75px);
            padding-left: 0;

            text-align: center;
            &:before
            {
               display: none;
            }
        }
    }
}
