.b-lenta
{
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 19px;
    &__block
    {
        float: left;

        width: 100%;
        padding-top: 28px;
        padding-bottom: 10px;

        border-bottom: 1px solid #e0e0e0;
        &:hover
        {
            border-color: #dd249a;
        }
        &_last
        {
            padding-bottom: 39px;

            border-bottom: 0;
        }
    }
    &__img
    {
        padding-bottom: 16px;
    }
    &__date
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;

        float: left;

        color: #dd249a;
    }
    &__category
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 11px;
        line-height: 16px;

        float: left;

        margin-top: 1px;
        margin-left: 9px;
        padding-right: 8px;
        padding-left: 8px;

        text-transform: uppercase;

        color: #fff;
        border-radius: 3px;
        background-color: #dd249a;
    }
    &__name
    {
        font-size: 15px;

        float: left;

        width: 100%;
        padding-bottom: 6px;

        color: #383737;
    }
    &__place
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;

        position: relative;

        float: left;

        width: 100%;
        padding-left: 13px;

        color: #bbb;
        &:before
        {
            font-size: 0;

            position: absolute;
            top: 6px;
            left: 2px;

            width: 6px;
            height: 6px;

            content: '';

            border-radius: 3px;
            background-color: #dd249a;
        }
    }
    &__cont
    {
        background-color: #fff;
        box-shadow: 1px 1.7px 4px rgba(0, 0, 0, .13);
    }
    &__title
    {
        font-family: $font-family-OpenSansBold;
        font-size: 15px;
        line-height: 24px;

        position: relative;

        float: left;

        width: 94%;
        margin-top: 12px;
        margin-left: 3%;
        padding-top: 2px;
        padding-bottom: 2px;

        text-align: center;
        text-transform: uppercase;

        color: white;
        background-color: #85be46;
        &:before
        {
            font-size: 0;

            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 28px;

            content: '1';

            background: url('../images/left-kino_g.png') no-repeat;
        }
        &:after
        {
            font-size: 0;

            position: absolute;
            top: 0;
            right: -3px;

            width: 20px;
            height: 28px;

            content: '1';

            background: url('../images/right-kino_g.png') no-repeat;
        }
    }
}
@media (max-width:640px)
{
    .b-lenta
    {
        padding-right: 30px;
        padding-left: 30px;
       
    }
}
@media (max-width:640px) and (min-width:430px) {
  .b-lenta {
    &__block {
      padding-left: calc(45% - 157px);
    }
  }
}