.b-month
{
    position: absolute;
    z-index: 300;
    left: 0;

    display: none;

    width: 100px;
    padding: 12px;

    border: 1px solid #dd249a;
    border-radius: 5px;
    background: #fff;
    &__link
    {
        font-family: $font-family-OpenSansBold;
        font-size: 14px;
        line-height: 2;

        cursor: pointer;
        text-transform: uppercase;
display: block;
        color: #dd249a;
        &:hover
        {
            color: #781c55;
            text-decoration: underline;
        }
    }
}
