.b-outer
{
    &__col
    {
        padding-right: 7px;
    }
    &__tab
    {
        padding-left: 13px;
    }
}
@media (max-width:640px)
{
    .b-outer
    {
        margin-top: 20px;
        &__col
        {
            padding-right: 15px;
        }
        &__tab
        {
            padding-left: 15px;
        }
    }
}
