button.slick-prev,
button.slick-next
{
    font-size: 0;

    position: absolute;
    z-index: 15;
    top: 17px;
    left: -20px;

    width: 10px;
    height: 17px;
    padding: 0;

    outline: none;
    background: url('../images/sprite-my.png') no-repeat -248px -241px;
    background-color: transparent;
    &:hover
    {
        background-color: transparent;
    }
}
button.slick-next
{
    right: -10px;
    left: auto;

    background: url('../images/sprite-my.png') no-repeat -278px -278px;
}
.b-plakat
{
    button.slick-prev,
    button.slick-next
    {
        font-size: 0;

        position: absolute;
        z-index: 15;
        top: 46%;
        left: -40px;

        width: 15px;
        height: 24px;
        padding: 0;

        outline: none;
        background: url('../images/arr-l.png') no-repeat ;
        background-color: transparent;
        &:hover
        {
            background-color: transparent;
        }
    }
    button.slick-next
    {
        right: -40px;
        left: auto;

        background: url('../images/arr-r.png') no-repeat ;
    }
}
.b-eve__sli-container
{
    .slick-prev
    {
        top: calc(100% + 42px);
        left: 0;

        width: 20px;
        height: 20px;

        background: url(../images/slick-prev.png);
    }
    .slick-next
    {
        top: calc(100% + 42px);
        right: 0;

        width: 20px;
        height: 20px;

        background: url(../images/slick-next.png);
    }
    .slick-dots
    {
        float: left;

        width: 93.4%;
        margin-bottom: 10px;
        margin-left: 3.3%;

        list-style-type: none;

        text-align: center;
        li
        {
            float: left;

            width: 14.26%;
            height: 64px;
            margin-top: rem-calc(20);
            button
            {
                font-size: 0;

                width: 89%;
                height: 100%;
                margin-bottom: 0;
                padding: 0;

                background: none;
            }
            .js-border
            {
                opacity: 1 !important;
                border: 2px solid #f33a2c;
            }
        }
    }
}
.b-calendar
{
    .slick-slide a
    {
        outline: none ;
        &:focus
        {
            outline: none;
        }
    }
}
@media (max-width:1300px)
{
    .b-plakat
    {
        button.slick-prev
        {
            left: 15px;
        }
        button.slick-next
        {
            right: 15px;
        }
    }
}
.b-calendar
{
    .slick-center .b-calendar__block
    {
    }
}
@media (max-width:960px)
{
    .b-eve__sli-container
    {
        .slick-prev,
        .slick-next
        {
            top: calc(100% + 34px);
        }
        .slick-dots
        {
            li
            {
                height: 50px;
            }
        }
    }
}
@media (max-width:780px)
{
    .b-eve__sli-container
    {
        .slick-prev
        {
            top: 45%;
            left: 5px;
        }
        .slick-next
        {
            top: 45%;
            right: 5px;
        }
        .slick-dots
        {
            li
            {
                height: 45px;
                button
                {
                }
            }
        }
    }
}

@media (max-width:640px)
{
    .b-eve__sli-container
    {
        .slick-dots
        {
            li
            {
                height: 30px;
            }
        }
    }
}
@media (max-width:400px)
{
    .b-eve__sli-container
    {
        .slick-dots
        {
            li
            {
                height: 20px;
            }
        }
    }
}
