.b-stat
{
    &__bot
    {
        padding-top: 40px;
    }
    &__wrapper
    {
        margin-bottom: 40px;
        padding-bottom: 15px;

        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .22);
    }
    &__inp
    {
        padding-right: 3px;
        padding-left: 3px;
    }
    &__block
    {
        padding-right: 38px;
        padding-left: 30px;
    }
    &__content
    {
    }
    &__article
    {
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 7px;
        padding-left: 0;

        border-bottom: 1px solid #e0e0e0;
        &:hover
        {
            border-color: #dd249a;
        }
    }
    &__top
    {
        float: left;

        width: 100%;
    }
    &__date
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 13px;

        float: left;

        color: #dd249a;
    }
    &__category
    {
        font-family: $font-family-OpenSansSemiBold;
        font-size: 11px;
        line-height: 16px;

        float: left;

        margin-left: 9px;
        padding-right: 8px;
        padding-left: 8px;

        text-transform: uppercase;

        color: #fff;
        border-radius: 3px;
        background-color: #dd249a;
    }
    &__title
    {
        font-size: 15px;
        line-height: 1.47;

        float: left;

        color: #383737;
    }
    &__img
    {
        float: left;

        width: 25%;
        padding-top: 6px;
        & + .b-stat__title
        {
            width: 75%;
            padding-left: 10px;
        }
    }
}
input.b-stat__input
{
    font-size: 13px;

    height: 50px;
    margin-bottom: 17px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #383737;
    border: 0;
    border-bottom: 1px solid #e6e6e6 ;
    background: url(../images/sea.png) no-repeat  right;
    box-shadow: none;
}
