doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        block season
        block content
          include components/common/_content

        include components/common/_footer
        include components/service/_js.html
