extend index
block season
  include components/common/_season
  include components/common/_header
block content
  .main.info
    .row.text-center
      .large-14.large-centered.columns
        p
          |Коттеджный поселок
          b «Четыре сезона»
          | располагается в 12 км от Звенигорода в удивительно красивом и экологически чистом месте.
          p
            b Подмосковная Швейцария
            |  — так уже более сотни лет называют эти места. Холмистый рельеф, нетронутые леса, обширные луга - все это действительно напоминает альпийские ландшафты.       По рельефу местности, характеру лесных массивов, водным факторам, климатической и микроклиматической обстановке этот район по праву считается лучшей местностью Подмосковья.  В отличие от ближнего Подмосковья здесь живет мало людей, нет массовых застроек — это прекрасное место для отдыха, где тихо и спокойно. Наш поселок граничит с большим лесным массивом, а всего в 800 метрах от него протекает Москва-река, где есть отличная          возможность для купания.
          p
            |Рядом с нашим поселком (200м) располагается уникальный санаторий:
            b «Голубая речка»
            |  — одно     из лучших мест Подмосковья для отдыха, оздоровления и лечения, на берегу Москва-реки. Этот санаторий располагает всеми необходимыми диагностическими и лечебными возможностями, как для экспресс-диагностики состояния здоровья, так и для полноценного санаторно-курортного лечения заболеваний опорно-двигательного аппарата, органов дыхания, мочеполовой системы. Первоклассное оборудование и высокая квалификация персонала дает возможность получения максимально полной информации о состоянии здоровья пациента, факторах риска различных заболеваний. Помимо этого, оздоровительный центр имеет: крытый бассейн, живописную     зеленую территорию, площадки с мангалами, бильярд, кафе-бар.
