.b-main
{
    font-family: $font-family-OpenSans-Regular;

    width: 100%;

    text-align: center;
    &__head
    {
        height: 45px;
    }
    &__long
    {
        width: 100%;
        height: 2px;

        background: #603711;
    }
    &__tip
    {
        background: #603711;
        &-td
        {
            padding-top: 5px;
            padding-right: 17px;
            padding-bottom: 5px;
            padding-left: 17px;
        }
        &-span
        {
            font-size: 21px;

            text-transform: uppercase;

            color: #fff;
        }
    }
    &__sto
    {
        height: 22px;
    }
    &__padding-r
    {
        display: inline-block;

        width: 160px;
        padding-left: 19%;
    }
    &__padding-l
    {
        display: inline-block;

        width: 180px;
    }
    &__cheet
    {
        display: inline-block;

        width: 350px;
        padding-right: 2%;
        padding-left: 2%;
    }
    &__topper
    {
        display: inline-block;

        width: 10px;
        height: 22px;
    }
    &__blocker
    {
        display: inline-block;

        width: 132px;
        height: 2px ;

        background: #d4d4d4;
    }
    &__bot
    {
        height: 20px;
    }
    &__read
    {
        &-link
        {
            font-size: 24px;

            width: 100%;
            padding-top: 8px;
            padding-right: 10px;
            padding-bottom: 8px;
            padding-left: 10px;

            text-align: center;
            text-decoration: none;

            color: #fff;
            border-bottom: 2px solid #007692;
            border-radius: 6px;
            background: #0bacd3;
            &:hover
            {
                color: #f33a2c;
            }
        }
    }
    &__free
    {
        display: inline-block;

        width: 350px;
        padding-bottom: 10px;

        text-align: center;
    }
    &__greeb
    {
        height: 65px;
    }
    &__str
    {
        width: 72%;
        margin-left: 12%;

        text-align: left;
    }
    &__left
    {
        width: 44px;
    }
    &__force
    {
        height: 40px;
        &-min
        {
            height: 12px;
        }
    }
    &__poly
    {
        text-align: left;
        &-pad
        {
            padding: 0 45px;
            &_s
            {
                padding: 0 45px 19px;
            }
        }
    }
    &__table-cen
    {
        width: 100%;
        padding: 0 45px;

        background: #fff;
    }
    &__span
    {
        font-size: 18px;
        line-height: 1;

        text-transform: uppercase;

        color: #603711;
    }
    &__link
    {
        font-size: 18px;
        line-height: 1;

        text-decoration: underline;

        color: #305899;
        &:hover
        {
            color: #f33a2c;
        }
    }
    &__stat-cen
    {
        padding: 0 45px;
    }
    &__body
    {
        padding: 0 43px;
        img
        {
            display: inline-block;
        }
    }
    &__waterfall
    {
        padding: 12px 0 44px  0;

        text-align: center;
    }
    &__high
    {
        height: 47px;
    }
    &__cen
    {
        text-align: center;
    }
    &__center
    {
        display: block;

        width: 100%;
        margin: 0 auto;
    }
    &__rasp
    {
        height: 44px;
    }
    &__wide
    {
        width: 100%;
    }
    &__table
    {
        width: 100%;

        background: #fff;
    }
    &__title
    {
        font-family: $font-family-NeueCyr;
        font-size: 48px;
        line-height: 1.1;

        width: 100%;

        text-align: center;

        color: #fff;
        background: #305899;
    }
    &__gray
    {
        width: 100%;

        background: #e6e6e6;
        &-cen
        {
            display: block;

            max-width: 1069px;
            margin: 0 auto;
            padding: 0 5px;
            &_center
            {
                max-width: 975px;

                text-align: center;
            }
        }
    }
    &__text
    {
        font-size: 21px;

        width: 129px;

        text-transform: uppercase;

        color: #fff;
        background: #603711;
        &_1
        {
            width: 182px;
        }
        &_2
        {
            width: 42px;

            background: #fff;
        }
        &_3
        {
            width: 182px;

            text-transform: none;
        }
    }
    &__three
    {
        padding: 37px 5px 25px  ;

        text-align: center;
        img
        {
            display: inline-block;
        }
    }
    &__line
    {
        width: 100%;
        height: 2px;

        background: #603711;
        &_mini
        {
            max-width: 975px;
        }
    }
    &__white
    {
        height: 20px;
    }
}
