.accordion {
    &-title {
        font-size: rem-calc(12);
        color: $black;
        font-family: $font-family-AGMelanie-roman;
        text-transform: uppercase;
        line-height: 1.3;
    }

    &__cat {
        list-style-type: none;

        li {
            position: relative;
            margin-bottom: rem-calc(15);
        }
    }

    &__art {
        font-size: rem-calc(13);
        font-weight: 300;

        &:before {
            content: "—";
            display: inline-block;
            left: rem-calc(-15);
            position: absolute;
        }
    }
}
