.breadcrumbs {
    background: transparent;
    padding-left: 0;
    padding-right: rem-calc(10);
    margin-bottom: rem-calc(10);

    li {
        margin-top: 6px;
        margin-bottom: 7px;

        &:not(:last-child)::after {
            color: #555;
        }
    }
}
