.cross {
    width: rem-calc(32);
    height: rem-calc(32);
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    padding-top: rem-calc(5);
    position: absolute;
    right: rem-calc(8);
    top: rem-calc(8);

    i {
        font-size: rem-calc(15);
    }

    &:hover {
        i {
            color: $red;
        }
    }
}
