.filter-tree {}
.filter-tree__item {}
.filter-tree__item-d2 {}
.filter-tree__item-d3 {
    margin-left: 10px;
}
.filter-tree__item-d4 {
    margin-left: 20px;
}
.filter-tree__item-d5 {
    margin-left: 30px;
}
.filter-tree__item-root {
    font-weight: bold;
}