.header-search-field {
  @include breakpoint(small only) {
    background-color: $primary-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint(medium) {
    padding-top: 1.5rem;
  }
}

.header-logo-image {
  margin: rem-calc(25 0 0 0);
 /* @include breakpoint(medium only) {
    margin: rem-calc(25 0 0);
  }*/

}