.main-sections-banners {
  margin-top: rem-calc(20);
  @include breakpoint(small only) {
    display: none;
  }

  .row {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  }
  .column {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .stub {
    max-width: 300px;
  }
  figure {
    border: rem-calc(1) solid transparent;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    img {
      width: 100%;
      height: auto;
      transition: 0.3s;
    }
  }
  figcaption {
    text-align: center;
    padding: rem-calc(12) rem-calc(10);
    background: white;
    position: relative;
    transition: 0.3s;


    h2 {
      color: $black;
      margin: 0;
      transition: 0.3s;
      font-size: rem-calc(24);
      line-height: 1.6;
      font-family: 'PTSerif', serif;
      font-weight: 400;

      @include breakpoint(medium only) {
        font-size: rem-calc(20);
        line-height: 1;
      }
    }
  }
  .stub a:hover figure  {
    border-color: $red;
    img {
      transform: scale(1.05);
    }
    figcaption {
      z-index: 1;
      background: $red;
      h2 {
        color: #ffffff;

      }
    }
  }
}