.news {
    &__title {
        font-size: rem-calc(24);
        font-family: $font-family-AGMelanie-roman;
    }

    .float-left {
        font-size: rem-calc(11);
        font-weight: 300;
        line-height: 2;
        margin-right: rem-calc(16);
    }

    .breadcrumbs {
        margin-bottom: rem-calc(15);

        a {
            font-size: rem-calc(11);
        }
    }
    @include breakpoint(small only) {
        &__title {
            font-size: rem-calc(18);
        }
    }
}
