.poetry {
    margin-bottom: rem-calc(28);

    &__star {
        path {
            fill: $grey;
        }
        width: rem-calc(21);
        height: rem-calc(20);
        display: inline-block;
        margin-right: rem-calc(3);

        &_red {
            path {
                fill: $red;
            }
        }
    }
    &__tinfo {
      margin-bottom: rem-calc(10);
    }

    &__submit {
        border-radius: rem-calc(3);
        background: $red;
        border: rem-calc(2) solid $red;
        width: 100%;
        padding-top: rem-calc(11);
        padding-bottom: rem-calc(11);
        max-width: rem-calc(276);
        text-transform: uppercase;
        color: #fff;display: inline-block;
        font-size: rem-calc(12);
        transition: 0.5s;
        margin-bottom: rem-calc(15);

        &:hover {
            color: $red;
            background: #fff;
        }
    }

    &__textarea {
        min-height: rem-calc(78);
        border: rem-calc(1) solid #ccc;
        background: #fff;
        resize: none;
    }

    &__input {
        width: 100%;
        border: rem-calc(1) solid #ccc;
        background: #fff;
        height: rem-calc(39);
    }

    &__date {
        color: #666;
    }

    &__answer {
        background: #fafafa;
        font-size: 13px;
        line-height: 17px;
        margin-left: 50px;
        margin-top: 10px;
        padding: 5px 0 5px 10px;
    }
    &__answer-user {}
    &__answer-text {}
}
