.product {
    border: 1px solid #e1e1e1;
    position: relative;
    padding: rem-calc(16);
    margin-bottom: rem-calc(23);
    transition: 0.6s all;

    &_action {
        &:before {
            content: "";
            left: rem-calc(0);
            top: rem-calc(0);
            position: absolute;
            display: block;
            width: rem-calc(78);
            height: rem-calc(78);
            background: url(../images/action.png)no-repeat;
        }
    }

    &__img {
        height: rem-calc(235);
        vertical-align: middle;
        width: 100%;
        margin-bottom: rem-calc(15);

        a {
            line-height: rem-calc(235);
        }

        img {
            max-height: 100%;
        }
    }

    &__title {
        letter-spacing: rem-calc(.6);
        padding-bottom: rem-calc(3);
        font-family: $font-family-AGMelanie-roman;
    }

    &__price {
        font-size: rem-calc(24);
        display: inline-block;
        font-family: $font-family-AGMelanie-Bold;
        padding-right: rem-calc(3);

        &:hover {
            color: $red;
        }
    }

    &__cross {
        color: #9b9b9b;
        display: inline-block;
        text-decoration: line-through;
        font-family: $font-family-AGMelanie-roman;
        font-size: rem-calc(15);
    }

    &__info {
        padding-right: rem-calc(50);
    }

    &__basket {
        border-left: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        width: rem-calc(52);
        height: rem-calc(52);
        position: absolute;
        right: rem-calc(0);
        bottom: rem-calc(0);
        padding-top: rem-calc(13);
        transition: 0.6s all;
        background: #fff;

        &:hover {
            background: $red;

            i {
                color: #fff;
            }
        }

        i {
            font-size: rem-calc(26);
        }
    }
    @media (max-width: 400px) {
        &__info {
            padding-right: rem-calc(0);
            margin-bottom: rem-calc(40);
        }

        &__basket {
            width: 100%;
            border-left: 0;
        }

        &__img {
            height: rem-calc(140);

            a {
                line-height: rem-calc(140);
            }
        }
    }
}
