.product-tile {
    border: 1px solid transparent;
    margin-bottom: rem-calc(40);
    position: relative;

    &__delete {
        color: grey;
        font-size: rem-calc(12);
        text-decoration: line-through;
    }

    del {
        position: absolute;
        bottom: 0;
        left: rem-calc(15);
        color: grey;
        font-size: rem-calc(12);
    }
    @include breakpoint(large up) {
        height: rem-calc(400);

        &_my {
            padding-bottom: 2rem;
            background: $white;

            &:hover {
                z-index: 3;
            }
        }
    }

    &_my {
        height: auto;
    }

    &:hover {
        border: 1px solid $red;

        .product-tile__measure,
        .product-tile__sizes {
            display: block;
        }

        .product-tile__wrapper-image {
            border-bottom-color: #e0e0e0;
        }

        .product-tile__buttons {
            display: table;
            opacity: 1;
        }

        img {
            /*transform: scale(1.05);*/
        }

        .button.to-cart {
            color: white;
            background: $red;
            border-color: $red;
        }
    }

    p {
        margin-bottom: 0;
        padding: 0 rem-calc(10);
    }

    .thumbnail {
        box-shadow: none;
        border: 0;
    }

    &__abs {
        position: absolute;
        left: rem-calc(10);
        top: rem-calc(10);
        z-index: 2;
    }

    &__sizes {
        position: absolute;
        right: rem-calc(7);
        top: rem-calc(7);
        z-index: 2;
        display: none;
    }

    &__net {
        display: block;
        font-size: rem-calc(11);
        margin-bottom: rem-calc(3);
        padding: rem-calc(3);
        border: rem-calc(1) solid $black;
    }

    &__measure {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        display: none;
    }

    &__skirt {
        padding-right: rem-calc(5);
    }
    @include breakpoint(small only) {
        &__measure,
        &__sizes {
            display: block;
        }
    }
}

.product-tile__wrapper-image {
    position: relative;
    transition: 0.3s;
    margin-bottom: 1rem;
    overflow: hidden;
    border-bottom: 1px solid transparent;
}
//.product-tile:hover .product-tile-buttons { display: block; }

.product-tile__buttons {
    /*display: none;
  //left: 10%;
  position: absolute;
  text-align: center;
  top: 30%;
  */
    width: 100%;
    text-align: center;
    display: table;
    opacity: 0;
    background-color: rgba(255,255,255,0.8);
    transition: 0.3s;
    list-style: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin: 0;
    padding-left: 2.14286rem;
    padding-right: 2.14286rem;
    border: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;

    li {
        display: table-cell;
        vertical-align: middle;
        border: none;
    }

    a.button {
        margin: 0.7rem 0 0.8rem;
        @media only screen and (width: 640px) {
            margin: 0 0 0.8rem;
        }
    }

    .button.secondary {
        background: transparent;
        border: 1px solid #a5a5a5;
        color: #a5a5a5;

        &:hover {
            background: $red;
            border-color: transparent;
            color: white;

            .product-tile__heart-icon {
                background: url("../images/icons/white-heart.svg");
                background-size: 19px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .product-tile__eye-icon {
                background: url("../images/icons/white-eye.svg");
                background-size: 19px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.product-tile__heart-icon {
    height: rem-calc(17);
    width: rem-calc(20);
    display: inline-block;
    background: url("../images/icons/gray-heart.svg");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
}

.product-tile__eye-icon {
    height: rem-calc(17);
    width: rem-calc(20);
    display: inline-block;
    background: url("../images/icons/gray-eye.svg");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
}
//.product-tile-buttons .button { width: 80%; }

.product-tile__thumbnail {
    //background: #ccc url('./images/image.svg') 0 0/100% 100% no-repeat;
    //max-width: 230px;
    //margin-bottom: 1rem;
    width: 100%;
    margin: 0;
}
//Этот стиль даёт соотношение размеров превью товара 1:1, т.к. padding наследует ширину родителя
//Make product preview ration 1:1. It works because child's padding inherits parent's width.
//.product-tile-thumbnail::after {
//  content: "";
//  display: block;
//  padding-bottom: 100%;
//}

.product-tile__name {
    color: $black;
    @include breakpoint(large up) {
        display: table-cell;
        vertical-align: middle;

        &_center {
            display: block;
        }
    }
}

.product-tile__name:hover {
    color: $primary-color;
}

.product-tile__price {
    font-size: $lead-font-size;
    line-height: $lead-lineheight;
    font-family: 'PTSerif', serif;
    //font-family: 'Merriweather';
    font-weight: bold;
    margin-top: rem-calc(12);
    padding: 0.83rem 0;
    display: inline-block;

    &_center {
        margin-top: rem-calc(0);
        padding-top: rem-calc(0);
        padding-bottom: rem-calc(0);
    }
}

.product-tile__info {
    margin-bottom: 0;
    padding: rem-calc(0 10);
    @include breakpoint(large up) {
        display: table;
        height: rem-calc(42);

        &_center {
            height: auto;
            display: block;
        }
    }
}

.product-tile__bottom-info {
    padding: rem-calc(0 15);
    width: 100%;
    @include breakpoint(large up) {
        position: absolute;
        bottom: 0;

        &_center {
            position: static;
        }
    }
}
