.product-tile {
  margin-bottom: 2rem;
  position: relative;
}

.product-tile:hover .product-tile-buttons { display: block; }

.product-tile-buttons {
  display: none;
  //left: 10%;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

//.product-tile-buttons .button { width: 80%; }

.product-tile-thumbnail {
  background: #ccc url('./images/image.svg') 0 0/100% 100% no-repeat;
  //max-width: 230px;
  margin-bottom: 1rem;
  width: 100%;
}

//Этот стиль даёт соотношение размеров превью товара 1:1, т.к. padding наследует ширину родителя
//Make product preview ration 1:1. It works because child's padding inherits parent's width.

//.product-tile-thumbnail::after {
//  content: "";
//  display: block;
//  padding-bottom: 100%;
//}

.product-tile_name {
  color: $black;
}

.product-tile_name:hover {
  color: $primary-color;
}

.product-tile_price {
  font-size: $lead-font-size;
  font-weight: 700;
  line-height: $lead-lineheight;
}