.rage.button {
    position: relative;
    left: rem-calc(-3);
    color: #000;
    font-size: rem-calc(13);
    padding: rem-calc(6) rem-calc(8);
    border-top-left-radius: rem-calc(0);
    border-color: $grey;
    border-bottom-left-radius: rem-calc(0);
}
