.shape-type {
  margin-top: 2rem;

  h4  {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem-calc(16);
    margin-bottom: 0.5rem;
  }
  small {
    font-size: 1rem;
    color: grey;

  }

  h4 + small {
    display: block;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 0.62rem;
  }

  ul {
    line-height: 1.62rem;
  }
}
