.sort {
    display: inline-block;
    position: relative;
    top: rem-calc(2);
    &__dark {
      color: #b3b3b3;
    }
    .submenu {
        border-radius: rem-calc(7);
        padding-top: rem-calc(7);
        padding-bottom: rem-calc(7);

        & > li > a {
            color: #ccc;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    & > li {
        & > a {
          padding-left: rem-calc(0);
          padding-right: rem-calc(14);
            outline: none;
            font-size: rem-calc(13);
            padding-top: rem-calc(0);
            padding-bottom: rem-calc(0);
            text-decoration: none;


            &.js-open {
                i {
                    transform: rotate(180deg);
                }
            }

            i {
                transition: 0.6s all;
                margin-left: rem-calc(6);
                font-size: rem-calc(12);
            }
        }
    }
}
