.tile {
    border: rem-calc(1) solid #e1e1e1;
    background: #fff;
    width: rem-calc(23);
    height: rem-calc(23);
    border-radius: rem-calc(3);
    display: inline-block;
    margin-left: rem-calc(10);
    transition: 0.6s all;
    margin-top: rem-calc(12);
    background: url(../images/tile.png)no-repeat center;

    &:hover {
        border-color: #000;
    }

    &_menu {
        background: url(../images/men.png)no-repeat center;
    }
}
