.top-line {
  border-bottom: 1px solid #ddd;
  font-size: rem-calc(13);
  padding: .5rem 0;
  margin-bottom: 1rem;
}

.top-line__humburger {
  display: block;
  padding: 0 0 0.5rem;
}

.top-line__menu {
  display: none;
  padding: 0;
}

.top-line__contacts {
  padding: 0;
  margin: 0;
  //padding: 1rem 0 0;
}

@media screen and #{breakpoint(medium)} {
  .top-line__humburger {
    display: none;
  }

  .top-line__menu {
    margin-top: 0;
    display: block;
  }
}

//@media screen and #{breakpoint(large)} {
//  .top-line__contacts {
//    padding: 0;
//    margin: 0;
//  }
//}