@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: './fonts' !default;

$fa-font-path: $fontsPath;

@import "fonts";

@import "common";
@import "main";
@import "news";
@import "col";
@import "footer";
@import "now";
@import "water";