footer.b-footer
  .row
    .medium-9.columns.small-24.b-footer__text
      |&copy; 2015 èxe, Design by 
      span.b-footer__theme ThemeFire
      |   /   Only for 
      span.b-footer__theme Envato Market
    .medium-15.columns.small-24.b-footer__menu
      ul.b-footer__list
        each tit in ["Home" ,     "About Us"   ,   "Pages"   ,   "Features"  ,    "Portfolio"  ,    "Blog"    ,  "Shop"    ,  "Contact Us"]
          li.b-footer__li
            a.b-footer__li-link(href="#")= tit
