.b-form
  .row
    .columns.b-form__title
      |Для консультации звоните на телефоны горячей линии:
      br
      |8 (499) 500 96 02 (для Москвы)
      br
      |8 (800) 333 22 79 (для регионов РФ)
    .large-12.large-offset-6.end.small-24.columns.b-form__text
      |или закажите обратный звонок, с вами свяжется высококвалифицированный юрист и ответит на все интересующие Вас вопросы
  form
    .row
      .medium-8.columns.b-form__block
        input.b-form__input(type="text",placeholder="Введите имя....")
      .medium-8.columns.b-form__block
        input.b-form__tel(type="text",placeholder="Номер телефона....")
      .medium-8.columns.b-form__block
        button.b-form__submit(type="submit") Заказать консультацию