header.b-header(data-sticky-container)
  .sticky(data-sticky,data-margin-top="0",data-sticky-on="small" )
    .row.b-header__row
      #example-dropdown.dropdown-pane(data-dropdown='', data-auto-focus='true')
        form
          .row
            .medium-24.columns
              label
                input(type='text', placeholder='Search', class="b-header__input")
              label
                input.b-header__sub(type="submit", value="Search")
      .b-header__logo.large-3.columns.medium-4.small-5.small-offset-9.medium-offset-0
          a(href="#") 
           img(src="./images/logo.png")
      .b-header__list.large-21.medium-20.small-24.columns
        .top-bar.b-header__top-bar
          .top-bar-title
            span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
              button.menu-icon.dark(type='button', data-toggle='')
            a(href="#") 
             img.b-header__logo-img(src="./images/logo.png")
            button.button(type='button', data-toggle='example-dropdown')

          #responsive-menu
            .top-bar-left
              ul.b-header__menu
                each title in ['о компании', 'стоимость', 'преимущества', 'схема работы', 'почему мы', 'отзывы', 'контакты']
                  li.b-header__li
                    a.b-header__li-link(href="#")= title
              button.button(type='button', data-toggle='example-dropdown')
            