.b-uri
  .row
    .b-uri__title.columns
      |Юридическая компания «Старт»
      span.b-uri__title-span 
       |Лидер на рынке предоставления юридических услуг
  .b-uri__slider
    .b-uri__slide
      .row.b-uri__row
        .b-uri__info.columns
          .small-up-2.medium-up-4(data-equalizer)
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-1
                  .b-uri__name
                    |Реорганизация 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-2
                  .b-uri__name
                    |Банкротство 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-3
                  .b-uri__name
                    |Регистрация 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-4
                  .b-uri__name
                    |Бухгалтерское сопровождение
                  .b-uri__more Подробнее
                  .b-uri__bot
    .b-uri__slide
      .row.b-uri__row
        .b-uri__info.columns
          ul.small-up-2.medium-up-4(data-equalizer)
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-1
                  .b-uri__name
                    |Реорганизация 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-2
                  .b-uri__name
                    |Банкротство 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-3
                  .b-uri__name
                    |Регистрация 
                    br
                    |ООО
                  .b-uri__more Подробнее
                  .b-uri__bot
            .column.b-uri__col
              a(href="#")
                .b-uri__block(data-equalizer-watch)
                  .b-uri__icon
                    .b-uri__ico-4
                  .b-uri__name
                    |Бухгалтерское сопровождение
                  .b-uri__more Подробнее
                  .b-uri__bot
.b-years
  .row
    .columns.b-years__now
      |Сегодня юридическая компания «Старт» это:
  .row.small-up-1.medium-up-3.b-years__row(data-equalizer, data-equalize-on="medium")
    .columns
      .b-years__block(data-equalizer-watch)
        .b-years__num.b-years__num_1 12
        .b-years__text
          span.b-years__text-span Квалифицированных
          br 
          |юристов в штате
    .columns
      .b-years__block(data-equalizer-watch)
        .b-years__num.b-years__num_2 8
        .b-years__text
          span.b-years__text-span Лет опыта
          br 
          | в сфере юр. услуг.
    .columns
      .b-years__block(data-equalizer-watch)
        .b-years__num.b-years__num_3 1356
        .b-years__text
          span.b-years__text-span Довольных
          br 
          |клиентов
.b-why
  .row
    .columns.b-why__name
      |Почему обращаются именно к нам?
  .row.b-why__row.small-up-1.medium-up-3(data-equalizer, data-equalize-on="medium")
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_1
        .b-why__title
          |Большой опыт
        .b-why__text
          |Средний стаж работы наших специалистов более 10 лет
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_2
        .b-why__title
          |Заключение договора
        .b-why__text
          |Наши отношения с клиентом всегда закреплены юридически
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_3
        .b-why__title
          |Гарантия сроков
        .b-why__text
          |Сроки оказания наших услуг всегда прописываются в договоре
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_4
        .b-why__title
          |Грамотные консультации
        .b-why__text
          |Мы всегда готовы ответить на все интересующие вас вопросы
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_5
        .b-why__title
          |Прозрачные цены
        .b-why__text
          |Мы сразу оговариваем окончательную стоимость услуг, вам не придется ни за что доплачивать
    .columns
      .b-why__block(data-equalizer-watch)
        .b-why__icon
          .b-why__ico.b-why__ico_6
        .b-why__title
          |Удобство
        .b-why__text
          |Наш офис находится в 4 минутах от метро Сокольники