.b-help
  .row
    .columns.b-help__name
      |Какие услуги мы предоставляем?
  .row.small-up-1.medium-up-3.large-up-4(data-equalizer, data-equalize-on="medium")
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_1
          .b-help__title
            |Реорганизация
            br
            |ООО
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_2
          .b-help__title
            |Банкротство
            br
            |ООО
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_3
          .b-help__title
            |Регистрация
            br
            |ООО
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_4
          .b-help__title
            |Бухгалтерское сопровождение
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_5
          .b-help__title
            |Защита прав, интересов пользователей фин. услуг
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_6
          .b-help__title
            |Оформление допусков СРО
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_7
          .b-help__title
            |Оформление ИП
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_8
          .b-help__title
            |Разработка договоров для вашего бизнеса
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_9
          .b-help__title
            |Абонентское  юридическое обслуживание
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_10
          .b-help__title
            |Предоставление юридического адреса
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_11
          .b-help__title
            |Внесение изменений в учредительные документы
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_12
          .b-help__title
            |Оформление сделок с недвижимостью
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_13
          .b-help__title
            |Добровольная ликвидация
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_14
          .b-help__title
            |Альтернативная ликвидация
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_15
          .b-help__title
            |Смена гендиректора 
            br
            |ООО
          .b-help__more Подробнее
    .columns.b-help__col
      a(href="#")
        .b-help__block(data-equalizer-watch)
          .b-help__icon
            .b-help__ico.b-help__ico_16
          .b-help__title
            |Смена учредителей
            br
            |ООО
          .b-help__more Подробнее
.b-client
  .row
    .columns.b-client__name Наши клиенты:
  .row
    .large-20.columns.large-offset-2.small-24.columns
      .b-client__slider
        .b-client__slide
          img(src="./images/100.png", alt="")
        .b-client__slide
          img(src="./images/101.png", alt="")
        .b-client__slide
          img(src="./images/102.png", alt="")
        .b-client__slide.b-client__slide_low
          img(src="./images/103.png", alt="")
        .b-client__slide
          img(src="./images/104.png", alt="")
        .b-client__slide
          img(src="./images/100.png", alt="")
        .b-client__slide
          img(src="./images/101.png", alt="")
        .b-client__slide
          img(src="./images/102.png", alt="")
        .b-client__slide.b-client__slide_low
          img(src="./images/103.png", alt="")
        .b-client__slide
          img(src="./images/104.png", alt="")
.b-otziv
  .row
    .columns.b-otziv__name
      |Отзывы наших клиентов
  .row
    .b-otziv__img.medium-10.small-24.columns
      img(src="./images/2-layers.png", alt="")
    .b-otziv__info.medium-14.small-24.columns
      .row
        a(href="#")
          .columns.b-otziv__block
            .b-otziv__photo
            .b-otziv__text
              .b-otziv__title
                |Савельев С.А.
              p.b-otziv__dol
                |Генеральный директор ООО «ЭкоСервис»
              p
                |Выражаем благодарность сотрудникам Юридической компании «Старт», за качественное предоставление услуг в сфере юриспруденции и бухгалтерии.
        a(href="#")
          .columns.b-otziv__block
            .b-otziv__photo
            .b-otziv__text
              .b-otziv__title
                |Говоров А.А.
              p.b-otziv__dol
                |Генеральный директор ООО «Тэлсистемс»
              p
                |Выражаем благодарность ООО «Старт». Обратились в эту компанию с целью регистрации бизнеса, после чего остались на бухгалтерское сопровождение. Все устраивает, всем довольны. Рекомендуем эту компанию коллегам и партнерам.
        a(href="#")
          .columns.b-otziv__block
            .b-otziv__photo
            .b-otziv__text
              .b-otziv__title
                |Кулешов С.А.
              p.b-otziv__dol
                |Генеральный директор ООО «ТоргМакСервис».
              p
                |Благодарим юридическую компанию «Старт» за оказанные услуги в сфере бухгалтерского обслуживания. Работаем с этой компанией уже второй год. Всегда все вовремя и в срок. Компетентность сотрудников подтверждается действиями. Спасибо за качественную работу!
