
.advance.text-center.medium-text-left
  .advance__slide
    .grid-container
      .grid-x.grip-padding-x
        .cell
          .advance__title Создаём
          .advance__text
            | Профессионально создаём сайты уже
            =" "
            strong 16
            |&#160;лет. 
            br
            | Создали 
            =" "
            strong 2000+
            |  сайтов для
            =" "
            strong 500+
            |  клиентов. 
            br
            strong 100+
            |  клиентов и 
            =" "
            strong 300+
            |  сайтов обслуживаем в данный момент. 
          a(href="#").advance__button.button Что же это?
  .advance__slide
    .grid-container
      .grid-x.grip-padding-x
        .cell
          .advance__title Поддерживаем 
          .advance__text
            | Обеспечиваем работоспособность сайтов.
            br 
            | Защищаем от вирусов, лечим вирусы. 
            br
            | Обеспечиваем регулярное резервное копирование. 
            br
            | Увеличиваем скорости работы сайта. 
          
          a(href="#").advance__button.button Что же это?
  .advance__slide
    .grid-container
      .grid-x.grip-padding-x
        .cell
          .advance__title Развиваем
          .advance__text
            | Превращаем сайты в бизнес-инструменты по привлечению клиентов. 
            br
            | Развиваем сайты под контролем конверсии, по заявкам заказчика и нашим рекомендациям. 
            br
            | Решаем на сайте инфраструктурные задачи (тендеры, кадры, обмен документами с контрагентами...)
            
          a(href="#").advance__button.button Что же это?
  .advance__slide
    .grid-container
      .grid-x.grip-padding-x
        .cell
          .advance__title Продвигаем
          .advance__text
            | Продвигаем в поиске, рекламных и социальных сетях. 
            br
            | Разрабатываем контент для продвижения сайтов. 
            br
            | Оптимизируем конверсии сайтов, повышаем посещаемость сайтов СМИ. 
            br
            | Создаём адаптивные а также мобильные сайты для SEO. 
          
          a(href="#").advance__button.button Что же это?
