+bread(['Каталог','(I) 4-12 лет ','Костюмы'])
.row
  .large-6.medium-8.columns
    include ../blocks/_menu

  .large-18.medium-16.columns
    .row.large-up-2(data-equalizer,data-equalize-by-row='true')
      .columns
        .order(data-equalizer-watch)
          .order__head
            img(src="./images/orders.svg", alt="")
            a(href="#").order__title Состояние заказов
          .order__body
            .order__blue Не отгруженных заказов: 2
            p.order__indent На сумму 200 252 руб.
            .order__blue Не оплаченных заказов: 1
            p.order__indent На сумму 153 438 руб.
            .order__blue Заказов со статусом «Отгружен»: 1
            p.order__indent На сумму 85 200 руб.
            .order__blue Заказов со статусом «Выполнен»: 1
            p.order__indent На сумму 153 438 руб.
            .order__blue Предзаказов: 1
            p.order__indent На сумму 1 530 438 руб.
      .columns
        .order(data-equalizer-watch)
          .order__head
            img(src="./images/news.svg", alt="")
            a(href="#").order__title Новости компании
          .order__body
            .order__name Приём предзаказов на школьную форму
            p с 1 октября 2016 г.
      .columns
        .order(data-equalizer-watch)
          .order__head
            img(src="./images/cond.svg", alt="")
            a(href="#").order__title Ваши условия
          .order__body
            .order__name Договор:
            p.order__contract Договор Б1 WEB №123458 от 01.01.2013
            .order__name Договор:
            p.order__contract Договор Б1 WEB №123458 от 01.01.2013
            .order__name Дисконтная карта:
            p.order__contract GOLD
            .order__name Доступность заказа с дополнительного склада:
            p.order__contract Нет
            .order__name Автоматическое резервирование заказов:
            p.order__contract Нет
      .columns
        .order(data-equalizer-watch)
          .order__head
            img(src="./images/actions.svg", alt="")
            a(href="#").order__title Акции
          .order__body
            .order__name С 1 октября 2015 г. – при заказе с сайта скидка на всю продукцию 2%
            p.order__indent
              a(href="#").order__link Подробнее
            .order__name С 1 октября 2016 г. – скидка за ранний предзаказ от 2%
            p.order__indent
              a(href="#").order__link Подробнее
            .order__name С 1 октября 2016 г. – скидка за предоплату предзаказа
            p.order__indent
              a(href="#").order__link Подробнее
p &#160;
