
@font-face {
    font-family: YesevaOne-Regular;
    src: url($fontsPath + '/YesevaOne-Regular.ttf');
}

@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Black.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-BlackItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-BoldItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Heavy;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-HeavyItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Italic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Italic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-LightItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-MediumItaicl;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-MediumItaicl.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-Thin.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-ThinItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-UltraLight;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-UltraLightItalic;
    src: url($fontsPath + '/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.otf');
}
