.b-buy
  input#block__print.b-buy__inpt(type='radio', name='block__print')
  label.b-buy__chck(for='block__print') Красно-синий
.b-buy
  input#block__print3.b-buy__inpt.b-buy__inpt_hide(type='radio', name='block__print')
  label.b-buy__chck(for='block__print3') Индивидуальный (2+2)
.b-buy
  input#block__print4.b-buy__inpt.b-buy__inpt_hide(type='radio', name='block__print')
  label.b-buy__chck(for='block__print4') Индивидуальный (4+4)
.b-buy.b-buy_hide
  .b-buy__legend.b-buy__legend_inherit Загрузить макет:
  input.b-buy__file#maket2(type="file")