.row.b-info__row
  .small-7.columns.b-info__name
    | Вид обложки:
  .small-17.columns.b-info__value
    .b-buy
      input#easycover.b-buy__inpt(type='radio', name='oblozka', checked,value="257")
      label.b-buy__chck(for='easycover') Простая
    .b-buy
      input#combycover.b-buy__inpt(type='radio', name='oblozka',value="258")
      label.b-buy__chck(for='combycover') Комбинированная 
    .b-buy
      input#oblozka_259.b-buy__inpt(type='radio', name='oblozka',value="259")
      label.b-buy__chck(for='oblozka_259') Полноцветная на кожзаме
    .b-buy
      input#oblozka_260.b-buy__inpt(type='radio', name='oblozka',value="260")
      label.b-buy__chck(for='oblozka_260') Полноцветная с ламинацией (7БЦ)
    .b-buy
      input#oblozka_261.b-buy__inpt(type='radio', name='oblozka',value="261")
      label.b-buy__chck(for='oblozka_261') Натуральная кожа