.row.b-info__row
  .small-7.columns.b-info__name
    | Резинка:
  .small-17.columns.b-info__value
    .b-buy
      input#rezinka.b-buy__inpt(type='radio', name='rezinka', checked)
      label.b-buy__chck(for='rezinka') Нет
    .b-buy
      input#rezinka2.b-buy__inpt(type='radio', name='rezinka')
      label.b-buy__chck(for='rezinka2') Горизонтальная
    .b-buy
      input#rezinka3.b-buy__inpt(type='radio', name='rezinka')
      label.b-buy__chck(for='rezinka3') Вертикальная
    .b-buy.b-buy_color
      .b-buy__legend Плоская
      img.b-info__color(src="./images/mat6.png", alt="Красный",title="Красный")
      img.b-info__color(src="./images/mat7.png", alt="Зеленый",title="Зеленый")
      img.b-info__color(src="./images/mat5.png", alt="Черный",title="Черный")
    .b-buy.b-buy_color
      .b-buy__legend Круглая
      img.b-info__color(src="./images/mat6.png", alt="Красный",title="Красный")
      img.b-info__color(src="./images/mat7.png", alt="Зеленый",title="Зеленый")
      img.b-info__color(src="./images/mat5.png", alt="Черный",title="Черный")