select#c.b-info__select(name="c")
  option(disabled,selected)
    | Выберите формат изделия
  option
    | ежедневник А5
  option
    | ежедневник А6+
  option
    | ежедневник А4 
  option
    | ежедневник В5