.row.b-info__row
  .small-7.columns.b-info__name
    | Установка кармана
  .small-17.columns.b-info__value
    .b-buy.b-buy_big Спереди
    .b-buy.b-buy_wide Вертикальный (Прямой)
    .b-buy
      input#verticalpocket.b-buy__inpt(type='radio', name='verticalpocket')
      label.b-buy__chck(for='verticalpocket') Нет
    .b-buy
      input#verticalpocket2.b-buy__inpt(type='radio', name='verticalpocket')
      label.b-buy__chck(for='verticalpocket2') Да
    .b-buy.b-buy_wide Вертикальный (Фигурный двухуровневый)
    .b-buy
      input#figurepocket.b-buy__inpt(type='radio', name='figurepocket')
      label.b-buy__chck(for='figurepocket') Нет
    .b-buy
      input#figurepocket2.b-buy__inpt(type='radio', name='figurepocket')
      label.b-buy__chck(for='figurepocket2') Да
    .b-buy.b-buy_big Сзади
    .b-buy.b-buy_wide Вертикальный (Прямой)
    .b-buy
      input#verticalpocketback.b-buy__inpt(type='radio', name='verticalpocketback')
      label.b-buy__chck(for='verticalpocketback') Нет
    .b-buy
      input#verticalpocketback2.b-buy__inpt(type='radio', name='verticalpocketback')
      label.b-buy__chck(for='verticalpocketback2') Да
    .b-buy.b-buy_wide Вертикальный (Фигурный двухуровневый)
    .b-buy
      input#figurepocketback.b-buy__inpt(type='radio', name='figurepocketback')
      label.b-buy__chck(for='figurepocketback') Нет
    .b-buy
      input#figurepocketback2.b-buy__inpt(type='radio', name='figurepocketback')
      label.b-buy__chck(for='figurepocketback2') Да