.row.b-info__row
  .small-7.columns.b-info__name
    | Тип крепления обложки:
  .small-17.columns.b-info__value
    .b-buy
      input#typeF1.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF1') Открытая пружина
    .b-buy
      input#typeF2.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF2') Полуоткрытая пружина
    .b-buy
      input#typeF3.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF3') Полузакрытая пружина
    .b-buy
      input#typeF4.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF4') Закрытая пружина
    .b-buy
      input#typeF5.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF5') Открытая пружина с клапаном (фиксация с помощью ручки)
    .b-buy
      input#typeF6.b-buy__inpt(type='radio', name='typeF')
      label.b-buy__chck(for='typeF6') Открытая пружина с клапаном (фиксация с помощью кнопки)