.row.b-info__row
  .small-7.columns.b-info__name
    | Выклейка материала
  .small-17.columns.b-info__value
    .b-buy
      input#vikleykamat.b-buy__inpt(type='radio', name='vikleykamat')
      label.b-buy__chck(for='vikleykamat') Материал обложки
    .b-buy
      input#vikleykamat2.b-buy__inpt(type='radio', name='vikleykamat')
      label.b-buy__chck(for='vikleykamat2') Другой материал