.pack(style="background-image:url(./i/img1.png);")
  .row.columns
    p.pack__title
      | ПОЛИЭТИЛЕНОВЫЕ
      br
      | ПАКЕТЫ ОПТОМ
    .row
      .large-9.columns
        a(href="#").button.large.expanded Сделать заказ
.row.large-up-5.medium-up-3.small-up-2.text-center
  a(href="#").columns.sack
    div.sack__img
      img(src="./i/sack1.png", alt="")
    div Пакеты «Майка»
  a(href="#").columns.sack
    div.sack__img
      img(src="./i/sack3.png", alt="")
    div Пакеты с вырубной ручкой
  a(href="#").columns.sack
    div.sack__img
      img(src="./i/sack2.png", alt="")
    div Активированные пакеты
  a(href="#").columns.sack
    div.sack__img
      img(src="./i/sack4.png", alt="")
    div Фасовочные пакеты
  a(href="#").columns.sack
    div.sack__img
      img(src="./i/sack6.png", alt="")
    div Биоразлагаемые пакеты
hr.dot
p
.row
  .large-16.columns.medium-14
    .polygon
      h2 Полиэтиленовые пакеты оптом: производство и продажа
      .autor Согласно статистических данных, ежегодно по всему миру продаётся около 100 000 000 000 пакетов, и подавляющее большинство из них сделано из пластика.
      p присутствуют в жизни людей. Производством данной продукции занимается большое количество компаний по всему миру. Стандартный пластиковый пакет сочетает в себе такие качества как универсальность применения, простота производства, малая стоимость, долговечность, испорченный пластиковый пакет можно использовать как вторсырьё.
      p.indent
        | Большинство пластиковых пакетов создают из полиэтилена. Полиэтилен является полимером этилена и состоит из нескольких углеводородных соединений. Средняя температура плавления для потребительского класса полиэтилена обычно находится между 100 и 120 градусов по Цельсию. Данный материал квалифицируется на несколько видов, в зависимости от его плотности.
        br
        | Пластиковые или их ещё называют полиэтиленовые пакеты могут быть изготовлены из полиэтилена низкого давления (ПНД), которые имею приблизительный диапазон плотности от 0,916 до 0,925 г/см
        sup 3
        | , или из полиэтилена высокого давления (ПВД)  с диапазоном от 0,941 до 0,965 г/см
        sup 3
        | .
        = "    "
        a(href="#") Читать далее
        | &#160;
        span.text-success →
      p
        strong Изготовление полиэтиленовых пакетов с логотипом
        br
        | Помимо своего традиционного назначения, полиэтиленовые пакеты можно использовать для широкого спектра других целей. Например, они могут быть использованы как пакеты для замораживания, почтовые сумки,  благодаря свойству гидроизоляции пакеты используют для защиты одежды (полиэтиленовые чехлы) и других уязвимых групп товаров.
        = "    "
        a(href="#") Читать далее
        | &#160;
        span.text-success →
  .large-8.columns.medium-10.type
    .type__main
      h2 Типовые размеры пакетов
      p
        a(href="#").type__title Пакеты с вырубной ручкой  →
      .type__img
        img(src="./i/pack-1.svg", alt="")
      p
        a(href="#").type__title Пакеты майка →
      .type__img
        img(src="./i/pack-2.svg", alt="")
      p
        a(href="#").type__title Активированные пакеты →
      p
        img(src="./i/pack-2.svg", alt="")
p
.row.columns.silk
  img(src="./i/ban-pack.png", alt="")
  .silk__block
    .silk__title ШЕЛКОГРАФИЯ И ФЛЕКСОПЕЧАТЬ
    p ПАКЕТЫ С ЛОГОТИПОМ
    .row
      .medium-9.columns
        a(href="#").button.expanded Заказать
.mb50
.row.columns
  h4.cockpit Новости
.row.medium-up-3.small-up-1(data-equalizer,data-equalize-by-row="true")
  +cart('cart1.png','Придут ли авоськи на смену полиэтиленовым пакетам?')
  +cart('cart2.png','Пришла пора переходить на биоразлагаемые пакеты')
  +cart('cart3.png','Методы печати логотипов на пластиковых пакетах')
.mb50
.row.columns.text-center
  a(href="#").button.hollow Посмотреть все новости
p &#160;
.row.columns
  h4.cockpit Отзывы клиентов
.row.large-up-4.medium-up-2.small-up-1
  .columns
    .feedback
      div
        span.feedback__date 12.04.2017
        span.feedback__name Александр
      .feedback__text Наконец, парадигма трансформации общества однозначно обретает онтологический марксизм. Политические учения Гоббса&hellip;
  .columns
    .feedback
      div
        span.feedback__date 12.04.2017
        span.feedback__name Аркадий
      .feedback__text Помимо своего традиционного назначения, полиэтиленовые пакеты можно использовать для широкого спектра других целей.
  .columns
    .feedback
      div
        span.feedback__date 12.04.2017
        span.feedback__name Прохожий
      .feedback__text Наконец, парадигма трансформации общества однозначно обретает онтологический марксизм. вызывает эмпирический тоталитарный тип политической культуры, что было отмечено П.Лазарсфельдом.
  .columns
    .feedback
      div
        span.feedback__date 12.04.2017
        span.feedback__name Александр
      .feedback__text Наконец, парадигма трансформации общества однозначно обретает онтологический марксизм. Политические учения Гоббса&hellip;
.row.columns.text-center
  a(href="#").button.hollow Посмотреть все отзывы
.mb50
