.content
    .row
        .small-24.large-14.columns
            h2 События компании
            article
                h4
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                p Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».

            hr
            p
            article
                h4
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                p Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
            hr
            p
            article
                h4
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                p Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .small-24.large-8.columns.large-offset-2
            p.hide-for-large &nbsp;
            h2 Календарь событий
            include ../common/_calendar
