footer.footer
  .row
    .large-10.medium-18.columns
      .row.footer__info
        .large-2.medium-4.small-4.columns
          i.fa.fa-phone.text-secondary
        .medium-8.large-10.small-20.columns
          a(href="tel:+74959791679").footer__tel +7 495 979-16-79
          a(href="tel:+74957283424").footer__tel +7 495 728-34-24
        .large-12.medium-12.columns
          a(href="#").footer__call.footer__call_top Заказать обратный звонок
      hr.footer__hr
      .footer__div
        i.fa.fa-map-marker.text-secondary
        span.footer__span г. Зеленоград, Панфиловский пр-т д. 8 стр. 13
      hr.footer__hr
      .footer__div
        i.fa.fa-clock-o.text-secondary
        span.footer__span Пн–Пт — с 09:00 до 18:00, Сб, Вс — выходной день
    .large-4.medium-6.large-offset-2.columns.text-center.medium-text-left
      ul.faq
        each title in ["О нас","Продукция","Портфолио","FAQ","Отзывы"]
          li.faq__item
            a(href="#").faq__link= title
    .large-8.columns.text-center.medium-text-left
      p.footer__copy ©2017 Paketville.ru
      div.footer__cetera
        | Разработка и создание сайта —
        =" "
        a(href="https://cetera.ru/").footer__call Cetera Labs
      p
        a(href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru&page=//cetera.ru/").footer__call Сообщить об ошибке
