.row.columns
  h2
    | Новое в
    =" "
    a(href="#").reg журнале
.row(data-equalizer,data-equalize-by-row="true")
  .medium-12.columns
    .journal(style="background-image:url(./i/place4.png);",data-equalizer-watch)
      .rel
        a(href="#").rel__category.text-white 100 вопросов про #отношения
        h3
          a(href="#").reg.text-white Отношения не приносят радости.
          br
          a(href="#").reg.reg_norm.text-white Как перестать тащить одеяло на себя?
        p Мы думаем, что бизнес — это наш ребёнок, и его надо растить, контролировать и спасать, и нельзя бросить. Но дело, предназначенное судьбой, будет жить само, не вгонит в долги и не навредит здоровью.
  .medium-12.columns
    .bg-white(data-equalizer-watch)
      p
        a(href="#")
          img(src="./i/place5.png", alt="")

      .rel.rel_no
        a(href="#").rel__category 100 вопросов про #бизнес
        h3
          a(href="#").reg Я отдал проекту всё.
          br
          a(href="#").reg.reg_norm Как перестать тащить дело своей мечты?
        p.text-black Мы думаем, что бизнес — это наш ребёнок, и его надо растить, контролировать и спасать, и нельзя бросить. Но дело, предназначенное судьбой, будет жить само, не вгонит в долги и не навредит здоровью.
