.send
  form(action="#")
    .row
      .large-12.medium-10.columns.send__text Я хочу получать еженедельную рассылку о новых статьях
      .large-8.medium-8.columns
        p.show-for-small-only
        input(type="text",placeholder="marinaorlova@mail.ru").mb0
        p.show-for-small-only
      .large-4.medium-6.columns
        button(type="submit").button.mb0.expanded Подписаться
