.large-offset-4.large-17.columns.project__think
  p Мы думаем, что бизнес — это наш ребёнок, и его надо растить, контролировать и спасать, и нельзя бросить. Но дело, предназначенное судьбой, будет жить само, не вгонит в долги и не навредит здоровью.
.columns
  p &#160;
.small-24.large-4.columns.project__part.large-text-right.text-center#part1 часть 1
.small-24.large-17.end.columns.text-center.large-text-left
  h2
    strong Будет ли проект жить?
.large-offset-4.large-17.columns.end
  p Эдик трудился системным администратором в бухгалтерской конторе. Работать приходилось сверх нормы, а платили мало. Его бывшие сокурсники давно были при деньгах и машинах.  Однажды и он решил — хватит! На листок бумаги записал свои увлечения и то, что, по его мнению, умел делать хорошо. Играть на гитаре — гласил первый пункт. В голове мгновенно развернулся план по открытию музыкальной школы.
  p Вскоре он уволился с работы и подыскал небольшое помещение в центре. Из-за плохого состояния — вечно влажных стен полуподвала — аренда стоила недорого. К тому же, деньги у него были — уже год Эдик копил на автомобиль. Он закрыл вклад, заплатил аренду за пять месяцев вперёд и сделал ремонт. Место было проходное — для потенциальных клиентов видное, рядом престижная муниципальная школа и много офисов. Одни друзья хвалили Эдика за смелый шаг, другие крутили пальцем у виска. Он сделал сайт, напечатал рекламу и давал пробные уроки бесплатно.
  h2 Четыре маячка
.small-2.large-4.columns.text-right 1
.small-22.large-17.end.columns
  p Сперва идея зарождается в твоей голове. Она захватывает ум, и всё, о чём ты думаешь, мечтаешь и говоришь, — это проект! Ты ищешь единомышленников, партнёров или сотрудников для старта. Если окружающие не загораются идеей, не пытайся их переубедить. Просто слушай, какая информация приходит к тебе через других людей. Но ты не слушаешь.
  p
    span.project__action Гнев и несогласие вызывают у тебя люди, которые не разделяют твоей мечты и не поддерживают тебя. Это первый маячок.
.small-2.large-4.columns.text-right 2
.small-22.large-17.end.columns
  p
    | Ты запустил свой бизнес. Допустим, он существует полгода или год. День первой сделки как пришествие мессии! А потом несколько дней был будто пьяный от эйфории. Каждую новую продажу, малейший интерес со стороны публики, одобрение экспертов или положительное упоминание о твоей работе, ты расцениваешь как ошеломительный успех.
    br
    span.project__action Бизнес на этом этапе как игра в казино. Один раз тебе везёт, и ты рискуешь дважды. Успех приходит как ослепительные вспышки.
    =" "
    span И ты делаешь новые ставки, пока не сорвёшь хотя бы маленький куш. Или не отдашь последнее.  
  p
.small-2.large-4.columns.text-right 3
.small-22.large-17.end.columns
  p Ты уже можешь оценить динамику развития своего бизнеса, и понять, сколько месяцев или лет тебе ещё придётся вкладывать в проект и экономить на себе, перед тем, как бизнес начнёт зарабатывать стабильно. Этот срок тебя пугает. Но отпустить своё дело ты уже не можешь. Это почти 100% твоей жизни. А как можно отпустить свою жизнь? От предпринимателей часто можно услышать фразу: «А что я буду делать, если не это? Больше мне ничего неинтересно».
.columns
  .mind
    .row
      .large-4.medium-6.columns.text-center
        div.mind__img
          img(src="./i/alex-mini.png", alt="")
        strong Словарь Алексеева
      .large-20.medium-18.columns
        .mind__title Что такое ум?
        p Ум – это сложная концепция, зарождается в детстве. Внешняя среда, воспитание, опыт, пережитые травмы и вкус успеха, формируют наш ум. Это концепция, которая зреет и костенеет годами. Наш компьютер, в котором заложены все алгоритмы действий. «Без труда не выловишь и рыбку из пруда», — говорила бабушка, пережившая голод и войну и передавала тебе стратегию выживания и сопротивления невзгодам. Красивые женщины и мужчины смотрели на тебя с обложек журналов и будто сообщали тебе: будь богатым, чтобы тебя любили.
.small-2.large-4.columns.text-right 4
.small-22.large-17.end.columns
  p Ты сильный. Поэтому продолжаешь бороться. И если твоё тело ещё не послало тебе сигнал SOS в виде болезней, ты попросту игнорируешь свои хронические простуды, аритмию и боль, объясняя всё усталостью. Отчаянный путь к свету в твоём уме — на деле стал падением в темноту, и ты отказываешься это признать.
  p Долги — четвёртый маячок. У тебя появляются финансовые обязательства перед сотрудниками, которые ты не можешь выполнить, или займы, или поспешные решения, ведущие к финансовым рискам: кто-за закупает на свои средства оборудование и материалы для неподтверждённой сделки, кто-то подписывает рабский контракт, лишь бы заполучить клиента.
  p Теперь вечерами ты испытываешь не просто усталость, а мандраж не справиться с финансовой нагрузкой.
.columns
  p &#160;
.small-2.large-4.columns.text-right &#9679;
.small-22.large-17.end.columns
  p Каждая из описанных проблем — не пропасть, которую во что бы то ни стало надо перепрыгнуть. А сигнал — осознай, что происходит, посмотри на себя со стороны. И реши, что делать дальше, остановиться или идти. И куда идти?
.columns
  p &#160;
.small-24.large-4.columns.project__part.large-text-right.text-center#part2 часть 2
.small-24.large-17.end.columns.text-center.large-text-left
  h2
    strong Остановиться или продолжать?
.large-17.large-offset-4.columns.end
  p У Андрея был торговый центр, где продавали товары для ремонта и интерьера. Самый большой в городе. По радио крутились его ролики, на билбордах светилась реклама, арендаторы вставали в очередь, чтобы получить несколько квадратных метров в проходном месте выставочного комплекса. Как настоящий предприниматель, Андрей всегда искал новые варианты развития.
  p
    span.project__action Желание быть всегда успешным — ловушка для предпринимателя. Дороже бизнеса обходится поддержание иллюзии.
  p &#160;
  p.project__think Золотое правило бизнеса — бизнес живёт сам. Если в какой-то момент ты замечаешь, что слишком много отдаёшь проекту, что направляешь туда:
  ol
    li своё внимание — безостановочно генерируешь идеи, оптимизируешь, улучшаешь,  
    li свои деньги — раздуваешь штат, запускаешь рекламу и нанимаешь консультантов,
    li свои физические ресурсы — встаёшь за кассу, ведёшь переговоры с подрядчиками, находишь клиентов и сам придумываешь рекламные тексты,  
  p.project__think значит что-то идёт не так
  p Чтобы понять, будет ли проект жить, отпусти его на время, перестань контролировать и тащить на своей воле, наблюдай. Если дело живёт без тебя, не спеши виниться в плохих управленческих навыках, радуйся — ты угадал с бизнесом! Значит, ему суждено жить. Может, не так, как ты хотел и требовал, не так как планировал, а в той форме, которая нужна миру.
  p &#160;
.small-24.large-4.columns.project__part.large-text-right.text-center#part3 часть 3
.small-24.large-17.end.columns.text-center.large-text-left
  h2
    strong Как собрать себя после поражения?
.large-17.large-offset-4.columns.end
  p Признать, Я — не проект. Я — не бизнес. Я — не план продаж. Я — не обложка журнала. Я — не популярный аккаунт в Instagram.
  ol
    li Растождествить себя и проект.
    li Остановить деятельность.
    li Не развивать следующих проектов для подстёгивания первого.
    li Не переходить из одного бизнеса в другой.
    li Отдохнуть, очистить ум. В чистоте сознания понять, как жить дальше.  
  h2 Как правильно очистить ум?
  p
  p Правила ретрита:
  p Чтобы выйти из привычной концепции ума, нужно выехать на природу и побыть в одиночестве: без семьи, друзей, мобильного телефона в течение семи дней. При этом не пить алкоголь, есть поменьше, ни с кем не разговаривать, погрузить внимание внутрь себя. Ничего не делай. Через три дня тебе захочется сбежать. Немедленно начать жизнь с чистого листа, что-то делать. Останови себя. Всё свою энергию, с которой ты делал бизнес, потрать теперь на остановку деятельности.
  .project__cite Есть такое правило. Встал поутру, умылся, привел себя в порядок — и сразу же приведи в порядок свою планету.»
  p.project__say Антуан Сент-Экзюпери
  p Зарядка, йога, медитация, молитва, душ, плавание, бег. Выбери свой способ, который поможет тебе ежедневно выходить за рамки концепции ума. Постепенно в твою жизнь будут приходить перемены.
  p.project__think#part4 Как распознать дело мечты?
  p Дело мечты — это то, что ты не можешь не делать. Без «надо», «хочу» и «должен». Просто делаю и получаю удовольствие. Могу работать без денег, но мне за это ещё и платят.
  p Мы думаем, что наш ум — это банк великих идей. Так и есть. Но заметь, идеи великих проектов будто висели в воздухе. Тех, кто их реализовал, называли везунчиками. Мы видим наш мир материальным. Реально то, что существует — что я могу распознать органами чувств: например, трава, дом, дождь, молоко; и то, о чём я знаю: космос, киты, атомный ледокол, язва желудка. Но это ещё не всё. Кроме материального или грубого плана, существует тонкий мир — проекты, которые могут проявиться в реальности — обрести форму. Например, любовь. Мы не знаем её и не чувствуем, но появляется человек — супруг, супруга или ребёнок, и любовь обретает форму, материализуется.
.columns.text-center
  p
    img(src="./i/turner.png", alt="")
.large-17.large-offset-4.columns.end
  p Каждый бизнес, которого ещё нет, уже существует в тонком плане. Если строитель решит сделать дом без расчетов, то у него получится неказистое здание, но если он отважится без проекта возводить небоскрёб, глыба рухнет, принеся многие беды. Так, и с бизнесом, если проекта твоего дела не существует в невидимом мире, он будет идти тяжело, принося потери. Если твоей идее суждено воплотиться, ты будешь работать легко. Тонкий мир можно назвать накопившейся потребностью.
.small-2.large-4.columns.text-right &#9679;
.small-22.large-17.columns
  p Интуиция — это не умение понимать мир, а распознавать отклики твоего внутреннего «Я» на внешний мир. Не спеши придумывать идею своей занятости, своего бизнеса, попробуй разглядеть её через сигналы. Тебе предложили проект, неожиданно нашлись ресурсы. Это не подвох — проект тонкого мира начинает проявляться. Пробуй и отпускай.
.small-2.large-4.medium-4.small-6.columns.text-left.large-text-right.project__img
  p
    a(href="#")
      img(src="./i/irene.png", alt="")
.large-17.columns.small-18.medium-20
  p
  p.text-secondary Автор — Ирина Кичкайло, 8 мая 2016
.large-offset-4.large-17.columns
  a(href="#").soc.text-center
    .soc__net
      i.fa.fa-facebook.fa-lg.text-white
    .soc__counter 46
  a(href="#").soc.text-center
    .soc__net.soc__net_vk
      i.fa.fa-vk.fa-lg.text-white
    .soc__counter 96
  a(href="#").soc.text-center
    .soc__net.soc__net_ok
      i.fa.fa-odnoklassniki.fa-lg.text-white
    .soc__counter 46
.columns
  .mb80
