.b-sravnenie {
    background-color: #eee;
    padding-top: 80px;
}

.b-sravnenie__container {
    padding-right: 30px;
    padding-left: 0;

    &:last-child {
        padding-right: 0;
        padding-left: 30px;
    }
}
@media (max-width:960px) and (min-width:640px) {
    .b-sravnenie {
        padding-left: 10px;
        padding-right: 10px;

        &__dest {
            height: 420px;
        }
    }
}
@media (max-width:640px) {
    .b-sravnenie__container:last-child {
        padding-left: 0;
        padding-right: 0;
    }

    .b-sravnenie__container {
        padding-right: 0;
    }
}

.b-sravnenie__block {
    background-color: white;
    border: 1px solid #eee;
}

.b-sravnenie__desc.row {
    margin-right: 0;
}

.b-sravnenie__img {
    padding: 24px 0 20px 34px;
}

.b-sravnenie__title {
    color: #005481;
    font-size: 18px;
    font-weight: 700;
    padding-top: 29px;
    padding-right: 19px;
    font-family: "DINPro-Bold";
}

.b-sravnenie__license {
    color: #005481;
    font-size: 16px;
    font-weight: 400;
}

.b-sravnenie__price {
    color: #fcb700;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 24px;
    font-family: "DINPro-Bold";
}

.b-sravnenie__text {
    font-size: 14px;
    font-weight: 300;
    color: #909090;
    padding-right: 20px;
    padding-bottom: 10px;
}

.b-sravnenie__more-link {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #09a6fb;
    text-decoration: underline;
}

.b-sravnenie__buy {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    background-color: #ffba00;
    width: 449x;
    height: 58px;
    text-align: center;
    padding-top: 15px;
    font-family: "DINPro-Medium";

    &:hover {
        background-color: #999900;
        color: #fff;
    }
}

.b-sravnenie__right-column {
    padding-left: 10px;
}

.b-sravnenie__version-link {
    border-bottom: 1px dashed #09a6fb;
    color: #09a6fb;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-family: "DINPro-Bold";

    &:hover {
        color: #5fbbfb;
        border-bottom: 1px solid #09a6fb;
    }
}

.b-sravnenie__versii {
    height: 56px;
    margin-bottom: 80px;
    padding-top: 12px;
    text-align: center;
    margin-top: 59px;
    border: 2px solid #09a6fb;
}
