.cont {
    list-style: none;
    margin-left: rem-calc(0);
    padding-left: rem-calc(11);
    padding-right: rem-calc(11);

    &__item {
        display: block;
        border-bottom: rem-calc(1) dotted rgba(209, 209, 209, .7);
        position: relative;
        padding-right: 50%;
        margin-bottom: rem-calc(2);
    }

    &__span {
        background: #fff;
        position: relative;
        display: inline-block;
        bottom: -7px;
        padding-right: rem-calc(14);
    }

    &__page {
        max-width: 50%;
        position: absolute;
        right: 0;
        padding-left: rem-calc(14);
        background: #fff;
        bottom: rem-calc(-7);
    }
}
