.globus {
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    &_mini {
      min-height: rem-calc(260);
    }

    &__btn {
        left: rem-calc(20);
        position: absolute;
        bottom: rem-calc(9);

        .button {
            margin-right: rem-calc(16);
        }
    }
&__input {
  border: rem-calc(0);
  box-shadow:0 0 rem-calc(8) $secondary;
  &:hover,&:focus {
    border: rem-calc(0);
  }
}
    &__country {
        position: absolute;
        left: rem-calc(200);
        top: rem-calc(200);
    }

    &__top {
      width:100%;
        z-index: 2;
        position: absolute;
        top: rem-calc(20);
        left: rem-calc(0);

    }
}
