.menu-line {
    background: $primary-color;
    padding: 1.5rem 0;

    &__bar {
        position: relative;
        top: rem-calc(6);
        margin-left: rem-calc(10);
    }
      @include breakpoint(small only) {
      &__logo {
        margin-top: rem-calc(8);
        img {
          width: rem-calc(85);
        }
      } }

}
