.object {
    letter-spacing: rem-calc(.5);

    &__input {
        display: none;

        &:checked + .object__label {
            background: url($imagesPath +"/check-active.svg")no-repeat left rem-calc(3);
        }
    }

    .object__label {

        margin-left: rem-calc(0);
        margin-right: rem-calc(0);
        text-transform: uppercase;
        font-weight: 700;
        color: $secondary;
        padding-left: rem-calc(28);
        background: url($imagesPath +"/check.svg")no-repeat left rem-calc(3);

        i {
            margin-right: rem-calc(11);
            font-size: rem-calc(17);
        }
    }
}
