.yand {
    border-radius: rem-calc(4);
    box-shadow: 0 rem-calc(1) rem-calc(4) 0 rgba($secondary,.5);
    display: inline-block;

    & .active {
        border-bottom-color: $green;
    }

    & > li {
        border-bottom: rem-calc(3) solid $light-gray;
        border-right: rem-calc(1) solid $medium-gray;
        background: $sky;

        &:hover {
            border-bottom-color: $dark-gray;
            background: $white;
        }

        & > a {
            color: $black;
            font-size: rem-calc(15);
            padding: rem-calc(23) rem-calc(40);
        }
    }
    @include breakpoint(small only) {
        & > li {
            & > a {
                padding-right: rem-calc(10);
                padding-left: rem-calc(10);
            }
        }
    }
}
