.callout.tabs-menu__content__inner.single-row
    .small-12.medium-6.large-3.medium-offset-6.large-offset-7.column.collapse
        .tab-menu__content__inner__row
            ul.tabs-menu
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") О компании
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") Документы и свидетельства
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") Комиссии и сборы
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") Виды деятельнсти
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") Публикуемые сведения
                li.tabs-menu__item
                    a.tabs-menu__link(href="#") Объявления

