section.about-block
    .row
        .small-12.large-4.column.end
            h2 О нас знают
                br.show-for-medium
                span.hide-for-medium &nbsp;
                | в мире
    .row
        .small-12.medium-6.large-4.column
            .about-text
                p.lead-text
                    a(href="#")
                        b Just2Trade
                    =" "
                    | предоставляет брокерские услуги с 2006 года и на сегодняшний день пользуется доверием более&nbsp;
                    b 155
                    =" "
                    |тысяч клиентов из
                    =" "
                    b 20
                    =" "
                    |стран мира.
                p.lead-text
                    | Для детального ознакомления с нашей компанией предлагаем просмотреть видео.
            p.small-centered.mb0
                a.button.blue-button.button-large.mb0(href="#") Узнать больше
            p.show-for-small-only
                br
        .small-12.medium-6.large-8.column
            a.video-showcase(href="#")
                figure.video-showcase__cover
                    img.video-showcase__cover__image(src="./i/macbook.png",alt="video-background")
                    figcaption.video-showcase__cover__overlay
                        span.play-button
