section.account-type
    .row.column
            h3.account-type_title Типы счетов
            p.account-type_desc Вы можете выбрать для себя наиболее подходящий вариант,
                br
                | из двух типов счетов на Forex.
            .row.column.account-type-columns(data-equalizer data-equalize-on='medium')
                .account-type-column
                    .account-type-column_header.text-center(data-equalizer-watch)
                        //- h3.account-type-column_title Forex и CFD Стандарт
                        h3.account-type-column_title Forex и CFD 
                            span.text-thin Стандарт
                        p.account-type-column_desc Торговый счет у лицензированного европейского брокера Just2Trade Online Ltd. Идеально подходит для начинающих трейдеров
                        a.account-type-column_link(href='#') Подробнее »
                    .account-type-column_table
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальная сумма
                            span.account-type-column_table-cell.text-right.text-bold $100
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Плечо *  
                            span.account-type-column_table-cell.text-right.text-bold до 1:500
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Спред   
                            span.account-type-column_table-cell.text-right.text-bold от 0,5
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальный лот
                            span.account-type-column_table-cell.text-right.text-bold 0,01
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Брокерская комиссия 
                            span.account-type-column_table-cell.text-right.text-bold 0
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                            span.account-type-column_table-cell.text-right.text-bold Да
                    .button-group
                      a(href='#').account-type-column_btn.account-type-column_btn__green Открыть счет
                      a(href='#').account-type-column_btn.account-type-column_btn__blue Демо
                    p.account-type-column_desc-shoulder * Мы предлагаем нашим розничным клиентам уровень кредитного плеча по умолчанию 1:50. Вы можете выбрать более высокий уровень кредитного плеча во время открытия счета.
                .account-type-column
                    .account-type-column_header.text-center(data-equalizer-watch)
                        h3.account-type-column_title Forex ECN
                        p.account-type-column_desc Уникальная технология обеспечивает прямое подключение к ECN и гарантирует максимальное качество и скорость исполнения. Подходит для опытных трейдеров
                        a.account-type-column_link(href='#') Подробнее »
                    .account-type-column_table
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальная сумма
                            span.account-type-column_table-cell.text-right.text-bold $200
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Плечо *  
                            span.account-type-column_table-cell.text-right.text-bold до 1:500
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Спред   
                            span.account-type-column_table-cell.text-right.text-bold от 0
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальный лот
                            span.account-type-column_table-cell.text-right.text-bold 0,01
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Брокерская комиссия 
                            span.account-type-column_table-cell.text-right.text-bold &le; $3 за лот
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                            span.account-type-column_table-cell.text-right.text-bold Нет
                    .button-group
                      a(href='#').account-type-column_btn.account-type-column_btn__green Открыть счет
                      a(href='#').account-type-column_btn.account-type-column_btn__blue Демо
                    p.account-type-column_desc-shoulder * Мы предлагаем нашим розничным клиентам уровень кредитного плеча по умолчанию 1:50. Вы можете выбрать более высокий уровень кредитного плеча во время открытия счета.
                .account-type-column
                    .account-type-column_header.text-center(data-equalizer-watch)
                        h3.account-type-column_title Forex ECN PRO
                        p.account-type-column_desc Индивидуальный подход и улучшенные торговые условия для профессиональных трейдеров
                        a.account-type-column_link(href='#') Подробнее »
                    .account-type-column_table
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальная сумма
                            span.account-type-column_table-cell.text-right.text-bold $100 000
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Плечо *  
                            span.account-type-column_table-cell.text-right.text-bold до 1:500
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Спред   
                            span.account-type-column_table-cell.text-right.text-bold от 0
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Минимальный лот
                            span.account-type-column_table-cell.text-right.text-bold 0,01
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Брокерская комиссия 
                            span.account-type-column_table-cell.text-right.text-bold &le; $2 за лот
                        .account-type-column_table-row
                            span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                            span.account-type-column_table-cell.text-right.text-bold Нет
                    .button-group
                      a(href='#').account-type-column_btn.account-type-column_btn__green Открыть счет
                      a(href='#').account-type-column_btn.account-type-column_btn__blue Демо
                    p.account-type-column_desc-shoulder * Мы предлагаем нашим розничным клиентам уровень кредитного плеча по умолчанию 1:50. Вы можете выбрать более высокий уровень кредитного плеча во время открытия счета.
                    
