section.account-opening
    .row
        h3.account-opening_title.column Заявка на открытие
            br
            | индивидуального счета
        form.account-opening_form(action='' method='')
            .tabs.column
              input#account-opening_real(type='radio', name='tabs', checked='')
              label#account-opening_btn-real(for='account-opening_real', title='Real') Real
              input#account-opening_demo(type='radio', name='tabs')
              label#account-opening_btn-demo(for='account-opening_demo', title='Demo') Demo

              #content-tab1
                .row.account-opening_row
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='text', placeholder='Фамилия*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='text', placeholder='Имя*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='email', placeholder='Email*' required)
                .row.account-opening_row
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='email', placeholder='Подтвердите Email*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='tel', placeholder='+7 (---) --- -- -- *' maxlength="30")
                    .medium-4.large-4.column
                        label.account-opening_label
                            input.account-opening_input.account-opening_input-sms(type='text', placeholder='Смс код*' required)
                            button.account-opening_get-sms(type='button', disabled,  data-action-url='', data-sms-reason='QuestionnaireConfirmPhone', data-default-error-text='При отправке sms-кода произошла ошибка.' )
                                span.confirmbysms__sendedtext(style='display: none;')
                                    i.fa.fa-check
                                    |  Отправлено
                                span.confirmbysms__notsendedtext(style='display: none;')
                                    i.glyphicon.glyphicon-remove
                                    |  Ошибка
                                span.confirmbysms__sendingtext(style='display: none;')
                                    img(style='margin-right: 5px;', src='/content/i/302smblue.gif')
                                    | Отправляется
                                span.confirmbysms__sendtext
                                    i.fa.fa-edit
                                    |  Получить смс-код

              #content-tab2
                .row.account-opening_row
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='text', placeholder='Фамилия*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='text', placeholder='Имя*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='email', placeholder='Email*' required)
                .row.account-opening_row
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='email', placeholder='Подтвердите Email*' required)
                    .medium-4.large-4.column
                        label
                            input.account-opening_input(type='tel', placeholder='+7 (---) --- -- -- *' maxlength="30")
                    .medium-4.large-4.column
                        label.account-opening_label
                            input.account-opening_input.account-opening_input-sms(type='text', placeholder='Смс код*' required)
                            button.account-opening_get-sms(type='button', disabled,  data-action-url='', data-sms-reason='QuestionnaireConfirmPhone', data-default-error-text='При отправке sms-кода произошла ошибка.' )
                                span.confirmbysms__sendedtext(style='display: none;')
                                    i.fa.fa-check
                                    |  Отправлено
                                span.confirmbysms__notsendedtext(style='display: none;')
                                    i.glyphicon.glyphicon-remove
                                    |  Ошибка
                                span.confirmbysms__sendingtext(style='display: none;')
                                    img(style='margin-right: 5px;', src='/content/i/302smblue.gif')
                                    | Отправляется
                                span.confirmbysms__sendtext
                                    i.fa.fa-edit
                                    |  Получить смс-код
                .row.account-opening_row
                    .medium-6.large-4.column
                        label
                            input.account-opening_input(type='text', placeholder='Пароль для демо-кабинета*' required)
            fieldset.large-12.columns
                input.account-opening_checkbox#account-opening_checkbox(type='checkbox' checked)
                label.account-opening_label#account-opening_label(for='account-opening_checkbox') Я подтверждаю, что согласен с 
                    a(href='#' title='Политикой Конфиденциальности') Политикой Конфиденциальности 
                    | и 
                    a(href='#' title='Общие правила и условия') Общими правилами и условиями 
            .column
                p.account-opening_required
                    |* Поля обязательные для заполнения
            .column
                input.account-opening_btn.button(type='submit', value='Отправить заявку')

