section.advantages
    .row.column
        h3.advantages_title Наши преимушества
        .row(data-equalizer='', data-equalize-on='medium')
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-1.svg' alt='')
                p.advantages_desc Широкий выбор торговых платформ на любой вкус: 
                    span.text-bold МТ4/5, веб и мобильные
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-2.svg' alt='')
                p.advantages_desc Максимальное плечо 
                    span.text-bold 1:500
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-3.svg' alt='')
                p.advantages_desc
                    span.text-bold Круглосуточная 
                    | служба поддержки
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-4.svg' alt='')
                p.advantages_desc Агрегация ликвидности от крупных банков позволяет нам предоставлять 
                    span.text-bold низкие спреды от 0 пунктов
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-5.svg' alt='')
                p.advantages_desc
                    span.text-bold Высокая скорость 
                    | исполнения
                    span.text-bold  от 0.05 сек.
            .columns.large-4.medium-6.advantages_col(data-equalizer-watch='')
                .advantages_img-wrap
                    img(src='images/icons/advantages-6.svg' alt='')
                p.advantages_desc Широкий выбор торговых инструментов