section.advantages
    .row.column
        h2 Наши преимущества
        p.subheader Мы выгодно отличаемся от многих конкурентов,
            br
            | благодаря ряду значимых преимуществ
    .row.small-up-1.medium-up-2.large-up-3
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/money.svg');")

            h4.advantage__header Лицензированный брокер EU, UK, USA
            p Обеспечиваем надежную защиту и безопасность вашего капитала
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/profits.svg');")
            h4.advantage__header Прямые доступы к биржам
            p  Низкие комиссии, мгновенное исполнение сделок и максимальная ликвидность
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/com.svg');")
            h4.advantage__header Поддержка 24/7
            p Индивидуальный подход к каждому клиенту
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/team.svg');")
            h4.advantage__header Профессиональная аналитическая поддержка
            p Качественная аналитика: охватывем все финансовые рынки и инструменты, зарекомендовавшие себя во всем мире
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/bst.svg');")
            h4.advantage__header Высокоскоростная инфраструктура
            p Наша ультрасовременная 100G сеть охватывает Европу, Америку, Азию и Россию, позволяя максимально увеличить скорость исполнения заявок
        .column.advantage
            span.advantage__image(style="background:url('./i/icons/teamwork.svg');")
            h4.advantage__header Институциональные услуги
            p Расширенные возможности сотрудничества: от реферального агента до представляющего брокера. А также возможность интеграции сторонних торговых программ через Open API
