.contact-buttons-block
    .contact-buttons-block__inner
        a.button.contact-button_letter(href="#")
        a.button.contact-button_speech(href="#")
        a.button.contact-button_call(href="#")

