table.currency
  tr.currency__tr
    th.currency__th Тикер
    th.currency__th Мин. сделка
    th.currency__th Своп (длинная позиция)
    th.currency__th Своп (короткая позиция)
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag1.svg", alt="")  
        img(src="./images/flag2.svg", alt="")
      .currency__text EUR/USD
    td.currency__td
      strong EUR 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag6.svg", alt="")
      .currency__text USD/CHF
    td.currency__td
      strong USD 1000
    td.currency__td
      strong 5,0000
    td.currency__td
      strong -7,0000
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag3.svg", alt="")  
        img(src="./images/flag2.svg", alt="")
      .currency__text GBP/USD
    td.currency__td
      strong GBP 1000
    td.currency__td
      strong -5,0670
    td.currency__td
      strong 2,8670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag9.svg", alt="")
      .currency__text USD/JPY
    td.currency__td
      strong USD 1000
    td.currency__td
      strong 3,7000
    td.currency__td
      strong -5,5680
  
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag7.svg", alt="")
      .currency__text USD/CAD
    td.currency__td
      strong USD 1000
    td.currency__td
      strong 3,7000
    td.currency__td
      strong -0,5000
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag4.svg", alt="")  
        img(src="./images/flag2.svg", alt="")
      .currency__text AUD/USD
    td.currency__td
      strong AUD 1000
    td.currency__td
      strong 0,4330
    td.currency__td
      strong -2,0000
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag5.svg", alt="")  
        img(src="./images/flag2.svg", alt="")
      .currency__text NZD/USD
    td.currency__td
      strong NZD 1000
    td.currency__td
      strong 0,7000
    td.currency__td
      strong -2,3000
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag8.svg", alt="")
      .currency__text USD/SGD
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag10.svg", alt="")
      .currency__text USD/NOK
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag11.svg", alt="")
      .currency__text USD/DKK
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag12.svg", alt="")
      .currency__text USD/SEK
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag13.svg", alt="")
      .currency__text USD/HKD
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag14.svg", alt="")
      .currency__text USD/HUF
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag15.svg", alt="")
      .currency__text USD/PLN
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag16.svg", alt="")
      .currency__text USD/ZAR
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
  tr.currency__tr
    td.currency__td
      .currency__flags
        img(src="./images/flag2.svg", alt="")  
        img(src="./images/flag17.svg", alt="")
      .currency__text USD/MXN
    td.currency__td
      strong USD 1000
    td.currency__td
      strong -6,8330
    td.currency__td
      strong 4,7670
