section.forex-cfd-standart-features-account__section.row
    .column
        h3.forex-cfd-standart-features-account__title Характеристики счета
    .column.medium-8.large-9
        .table-scroll
            table.forex-cfd-standart-features-account__table
                tbody.forex-cfd-standart-features-account__tbody
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Спрэд
                        td.forex-cfd-standart-features-account__td от 0
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Минимальный депозит
                        td.forex-cfd-standart-features-account__td $100000
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Плечо
                        td.forex-cfd-standart-features-account__td до 1:500
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Наименьший объем сделки
                        td.forex-cfd-standart-features-account__td 0.01
            table.forex-cfd-standart-features-account__table
                thead.forex-cfd-standart-features-account__thead
                    tr.forex-cfd-standart-features-account__tr
                        th.forex-cfd-standart-features-account__th Торговые инструменты
                tbody.forex-cfd-standart-features-account__tbody
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Forex
                        td.forex-cfd-standart-features-account__td 52 инструмента
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Металлы
                        td.forex-cfd-standart-features-account__td Золото, Серебро
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Криптовалюты
                        td.forex-cfd-standart-features-account__td Bitcoin
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td CFD на акции
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-no.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td CFD на индексы
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-no.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Нефть
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-no.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Исполнение ордеров
                        td.forex-cfd-standart-features-account__td Рыночное
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Re-quotes
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-no.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Комиссия на Форекс
                        td.forex-cfd-standart-features-account__td ≤ $2 за лот
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Комиссия по CFD
                        td.forex-cfd-standart-features-account__td 
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Валюта счета
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/flag-usa.svg' alt='Флаг США')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Своп
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td.forex-cfd-standart-features-account__td_no-border Платформы
                        td.forex-cfd-standart-features-account__td MetaTrader 4
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Мобильный трейдинг
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-android.svg' alt='')
                            img.forex-cfd-standart-features-account__img(src='images/features-ios.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Размер контракта
                        td.forex-cfd-standart-features-account__td 1 лот = 100000
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Ценооброзование
                        td.forex-cfd-standart-features-account__td 5 десятичных знаков
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Маржин-колл
                        td.forex-cfd-standart-features-account__td 100%
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Стоп-аут
                        td.forex-cfd-standart-features-account__td 50%
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Хеджирование позиций
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Торговля по телефону
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Автоматизированная торговля
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Торговля на новостях
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Скальпинг
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Новости Trading Central
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')
                    tr.forex-cfd-standart-features-account__tr
                        td.forex-cfd-standart-features-account__td Сигналы Trading Central
                        td.forex-cfd-standart-features-account__td 
                            img.forex-cfd-standart-features-account__img(src='images/features-yes.svg' alt='')

    .column.medium-4.large-3
        a.forex-cfd-standart-features-account__btn Инструменты
        //- a.forex-cfd-standart-features-account__btn.forex-cfd-standart-features-account__btn_green Пополнение счета
        a.forex-cfd-standart-features-account__btn Пополнение счета
        a.forex-cfd-standart-features-account__btn Вывод средств
        a.forex-cfd-standart-features-account__btn Платформы
        .mb50
        .types-accounts
            h3 Виды счетов
            hr.types-accounts__hr
            ul.types-accounts__lists
                li.types-accounts__items
                    a.types-accounts__link(href="") Сравнение счетов »
                li.types-accounts__items
                    a.types-accounts__link(href="") Forex и CFD стандарт »
                li.types-accounts__items
                    a.types-accounts__link(href="") Forex ECN »
                li.types-accounts__items.types-accounts__items_active
                    | Forex ECN PRO »
                    
                    
