.row.column
    h3.top-block-forex-cfd-standart__title Forex ECN PRO
    p.top-block-forex-cfd-standart__desc Индивидуальный подход и улучшенные торговые условия 
        br 
        | для профессиональных трейдеров
