.row.column
    h3.top-block-forex-cfd-standart__title Forex и CFD Стандарт
    p.top-block-forex-cfd-standart__desc Торговый счет у лицензированного европейского брокера Just2Trade 
        br 
        | Online Ltd. Идеально подходит для начинающих трейдеров