.row.column
    h3.top-block-forex-cfd-standart__title Forex ECN
    p.top-block-forex-cfd-standart__desc Уникальная технология обеспечивает прямое подключение к ECN и гарантирует максимальное 
        br 
        | качество и скорость исполнения. Подходит для опытных трейдеров 
