.row.columns
        h3.top-block-account-opening-header__title Безопасное открытие счета
        p.top-block-account-opening-header__desc Для открытия счета, Вам необходимо 
          br 
          |заполнить простую форму
