.row.column
  .column.large-7.medium-7
    h3.top-block-investment__title ПАММ инвестиции
    p.top-block-investment__desc Новые возможности получения прибыли
        br
        | от одного из самых доходных рынков в мире Forex
  .column.large-5.medium-5
    .top-block-investment__btns.medium-text-right
      a(href='#').top-block-investment__btn.top-block-investment__btn_green рейтинг памм управляющих
      a(href='#').top-block-investment__btn.top-block-investment__btn_orange открыть счет управляющего
