.callout.tabs-menu__content__inner.single-row
    .small-12.medium-6.large-3.medium-offset-2.large-offset-4.column
        .tab-menu__content__inner__row
                ul.tabs-menu
                    li.tabs-menu__item
                        a.tabs-menu__link.forex-link(href="#")
                            strong ПАММ
                            =" "
                            | инвестиции FX
                    li.tabs-menu__item
                        a.tabs-menu__link(href="#") Торговые сигналы
                    li.tabs-menu__item
                        a.tabs-menu__link(href="#") Доверительное управление


