section.map-block
    .row.column
        h2 Just2trade на карте
        p.lead-text Офисы &nbsp;
            b Just2Trade
            | &nbsp;открыты во многих городах по всей планете
    .row
        .small-12.large-10.large-centered.column
            .block-container
                span.city-pin.has-tip.right(style="top: 30%; left: 77.5%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Пекин<span class='city-country'>Китай</span></span>")
                span.city-pin.has-tip.right(style="top: 41%; left: 76.5%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Гонконг<span class='city-country'>Китай</span></span>")
                span.city-pin.has-tip.right(style="top: 38%; left: 66%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Дели<span class='city-country'>Индия</span></span>")
                span.city-pin.has-tip.right(style="top: 23%; left: 57%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Москва<span class='city-country'>Россия</span></span>")
                span.city-pin.has-tip.right(style="top: 24.1%; left: 54%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Киев<span class='city-country'>Украина</span></span>")
                span.city-pin.has-tip.right(style="top: 28%; left: 46.25%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Франкфурт<span class='city-country'>Германия</span></span>")
                span.city-pin.has-tip.right(style="top: 35.4%; left: 25.55%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Нью-Йорк<span class='city-country'>США</span></span>")
                span.city-pin.has-tip.right(style="top: 24.2%; left: 44.1%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Лондон<span class='city-country'>Великобритания</span></span>")
                span.city-pin.has-tip.right(style="top: 34.5%; left: 53.55%;",data-tooltip,aria-haspopup="true", data-disable-hover="false", tabindex="2", data-allow-html="true", title="<span class='city-name'>Лимассол<span class='city-country'>Кипр</span></span>")

                img.block-image(src="./i/map.png",alt="карта филиалов")

