table.currency
  tr.currency__tr
    th.currency__th Тикер
    th.currency__th Размер лота
    th.currency__th Своп (длинная позиция)
    th.currency__th Своп (короткая позиция)
  tr.currency__tr
    td.currency__td.currency__td_metal
      .currency__flags.currency__flags_metal
        img(src="./images/gold.svg", alt="")  
      .currency__text.currency__text_metal XAUUSD (золото)
    td.currency__td
      strong 1 troy.oz
    td.currency__td
      strong -6,2000
    td.currency__td
      strong 3,8000
  tr.currency__tr
    td.currency__td.currency__td_metal
      .currency__flags.currency__flags_metal
        img(src="./images/silver.svg", alt="")  
      .currency__text.currency__text_metal XAGUSD (серебро)
    td.currency__td
      strong 1 troy.oz
    td.currency__td
      strong -1,1540
    td.currency__td
      strong 0,3620
  tr.currency__tr
    td.currency__td.currency__td_metal
      .currency__flags.currency__flags_metal
        img(src="./images/gold.svg", alt="")  
      .currency__text.currency__text_metal XAUUSD100 (золото)
    td.currency__td
      strong 100 troy.oz
    td.currency__td
      strong -6,2000
    td.currency__td
      strong 3,8000
  tr.currency__tr
    td.currency__td.currency__td_metal
      .currency__flags.currency__flags_metal
        img(src="./images/silver.svg", alt="")  
      .currency__text.currency__text_metal XAGUSD5000 (серебро)
    td.currency__td
      strong 5000 troy.oz
    td.currency__td
      strong -1,1540
    td.currency__td
      strong 0,3620
      
