section.opening-individual-accounts
    .row.column
        //- h3.opening-individual-accounts__title Заявка на открытие
            br
            | индивидуального счета
            
        form.account-opening_form(action='' method='')
          .row 
            .column.medium-6
              .account-opening_form-logo
                each name in ['payment-mastercard', 'payment-swift', 'payment-paysafecard', 'payment-neteller', 'payment-cashu', 'payment-skrill']
                  img.account-opening_form-logo-img(src='images/' + name + '-small.svg')
              //- .tabs.column
              .tabs.tabs_mb
                input#account-opening_real(type='radio', name='tabs')
                label#account-opening_btn-real(for='account-opening_real', title='Real') CySEC
                input#account-opening_demo(type='radio', name='tabs', checked='')
                label#account-opening_btn-demo(for='account-opening_demo', title='Demo') FSA of Seychelles
          
                #content-tab1.content-tab
                  .account-opening_row
                    label
                        input.account-opening_input(type='text', placeholder='Фамилия*' required)
                    label
                        input.account-opening_input(type='text', placeholder='Имя*' required)
                    label
                        input.account-opening_input(type='email', placeholder='Email*' required)
                    label
                        input.account-opening_input(type='email', placeholder='Подтвердите Email*' required)
                    label
                        input.account-opening_input(type='tel', placeholder='+7 (---) --- -- -- *' maxlength="30")
                    label.account-opening_label
                        input.account-opening_input.account-opening_input-sms(type='text', placeholder='Смс код*' required)
                        button.account-opening_get-sms(type='button', disabled,  data-action-url='', data-sms-reason='QuestionnaireConfirmPhone', data-default-error-text='При отправке sms-кода произошла ошибка.' )
                            span.confirmbysms__sendedtext(style='display: none;')
                                i.fa.fa-check
                                |  Отправлено
                            span.confirmbysms__notsendedtext(style='display: none;')
                                i.glyphicon.glyphicon-remove
                                |  Ошибка
                            span.confirmbysms__sendingtext(style='display: none;')
                                img(style='margin-right: 5px;', src='/content/i/302smblue.gif')
                                | Отправляется
                            span.confirmbysms__sendtext
                                i.fa.fa-edit
                                |  Получить смс-код
          
                #content-tab2.content-tab
                  .account-opening_row
                    label
                        input.account-opening_input(type='text', placeholder='Фамилия*' required)
                    label
                        input.account-opening_input(type='text', placeholder='Имя*' required)
                    label
                        input.account-opening_input(type='email', placeholder='Email*' required)
                    label
                        input.account-opening_input(type='email', placeholder='Подтвердите Email*' required)
                    label
                        input.account-opening_input(type='tel', placeholder='+7 (---) --- -- -- *' maxlength="30")
                    label.account-opening_label
                        input.account-opening_input.account-opening_input-sms(type='text', placeholder='Смс код*' required)
                        button.account-opening_get-sms(type='button', disabled,  data-action-url='', data-sms-reason='QuestionnaireConfirmPhone', data-default-error-text='При отправке sms-кода произошла ошибка.' )
                            span.confirmbysms__sendedtext(style='display: none;')
                                i.fa.fa-check
                                |  Отправлено
                            span.confirmbysms__notsendedtext(style='display: none;')
                                i.glyphicon.glyphicon-remove
                                |  Ошибка
                            span.confirmbysms__sendingtext(style='display: none;')
                                img(style='margin-right: 5px;', src='/content/i/302smblue.gif')
                                | Отправляется
                            span.confirmbysms__sendtext
                                i.fa.fa-edit
                                |  Получить смс-код

              .column
                p.account-opening_required
                  |* Поля обязательные для заполнения
              //- fieldset.large-12.columns
              fieldset
                  input.account-opening_checkbox#account-opening_checkbox(type='checkbox' checked)
                  label.account-opening_label#account-opening_label(for='account-opening_checkbox') Я подтверждаю, что согласен с 
                      a(href='#' title='Политикой Конфиденциальности') Политикой Конфиденциальности 
                      | и 
                      a(href='#' title='Общие правила и условия') Общими правилами и условиями 
              //- .column
                  input.account-opening_btn.button(type='submit', value='Отправить заявку')
                    
            .column.medium-5.medium-offset-1
              p.opening-individual-accounts__desc.text-center 
                span.text-bold Just2Trade 
                | выбрало более 
                span.text_24s.text-bold 155000 
                | клиентов,
                br
                | потому что мы предлагаем:
              hr
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-1.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding Широкий выбор торговых платформ на любой вкус: 
                  span.text-bold МТ4/5, веб и мобильные
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-2.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding Максимальное плечо 
                  span.text-bold 1:500
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-3.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding
                  span.text-bold Круглосуточная 
                  | служба поддержки
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-4.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding Агрегация ликвидности от крупных банков позволяет нам предоставлять 
                  span.text-bold низкие спреды от 0 пунктов
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-5.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding
                  span.text-bold Высокая скорость 
                  | исполнения
                  span.text-bold  от 0.05 сек.
              .advantages_img-wrap.advantages__img-wrap_pos
                  img(src='images/icons/advantages-6.svg' alt='')
              p.opening-individual-accounts__desc.opening-individual-accounts__desc_padding Широкий выбор торговых инструментов
          .mb110
            
          .row.column
            h3.opening-individual-accounts__title.mb0 Выберите тип счета
          
          .row.account-type-columns(data-equalizer data-equalize-on='medium')
            .column.medium-4.text-center
              input(type='radio' name='type-account' id='type-account-1' checked)
              label(for='type-account-1') Выбрать
              .account-type-column.w100
                  .account-type-column_header.text-center(data-equalizer-watch)
                      h3.account-type-column_title Forex и CFD 
                          span.text-thin Стандарт
                      p.account-type-column_desc Торговый счет у лицензированного европейского брокера Just2Trade Online Ltd. Идеально подходит для начинающих трейдеров
                  .account-type-column_table
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Минимальная сумма
                          span.account-type-column_table-cell.text-right.text-bold $100
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Плечо *  
                          span.account-type-column_table-cell.text-right.text-bold до 1:500
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Спред   
                          span.account-type-column_table-cell.text-right.text-bold от 0,5
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Минимальный лот
                          span.account-type-column_table-cell.text-right.text-bold 0,01
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Брокерская комиссия 
                          span.account-type-column_table-cell.text-right.text-bold 0
                      .account-type-column_table-row
                          span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                          span.account-type-column_table-cell.text-right.text-bold Да
            .column.medium-4.text-center
              input(type='radio' name='type-account' id='type-account-2')
              label(for='type-account-2') Выбрать
              .account-type-column.w100
                .account-type-column_header.text-center(data-equalizer-watch)
                    h3.account-type-column_title Forex ECN
                    p.account-type-column_desc Уникальная технология обеспечивает прямое подключение к ECN и гарантирует максимальное качество и скорость исполнения. Подходит для опытных трейдеров
                .account-type-column_table
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Минимальная сумма
                        span.account-type-column_table-cell.text-right.text-bold $200
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Плечо *  
                        span.account-type-column_table-cell.text-right.text-bold до 1:500
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Спред   
                        span.account-type-column_table-cell.text-right.text-bold от 0
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Минимальный лот
                        span.account-type-column_table-cell.text-right.text-bold 0,01
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Брокерская комиссия 
                        span.account-type-column_table-cell.text-right.text-bold &le; $3 за лот
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                        span.account-type-column_table-cell.text-right.text-bold Нет
            .column.medium-4.text-center
              input(type='radio' name='type-account' id='type-account-3')
              label(for='type-account-3') Выбрать
              .account-type-column.w100
                .account-type-column_header.text-center(data-equalizer-watch)
                    h3.account-type-column_title Forex ECN PRO
                    p.account-type-column_desc Индивидуальный подход и улучшенные торговые условия для профессиональных трейдеров
                .account-type-column_table
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Минимальная сумма
                        span.account-type-column_table-cell.text-right.text-bold $100 000
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Плечо *  
                        span.account-type-column_table-cell.text-right.text-bold до 1:500
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Спред   
                        span.account-type-column_table-cell.text-right.text-bold от 0
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Минимальный лот
                        span.account-type-column_table-cell.text-right.text-bold 0,01
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Брокерская комиссия 
                        span.account-type-column_table-cell.text-right.text-bold &le; $2 за лот
                    .account-type-column_table-row
                        span.account-type-column_table-cell.text-left Защита от отрицательного баланса  
                        span.account-type-column_table-cell.text-right.text-bold Нет
          .row.column
            a.button.button_next(href="") Следующий шаг »
