section.our-partners
    .row.column
        h3.our-partners_title Наши партнеры
        .row.column
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-meta-quotes.svg' alt='logo meta quotes')
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-sucden-financial.svg' alt='logo sucden financial')
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-barclays.svg' alt='logo barclays')
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-jpmorgan-chase.svg' alt='logo jpmorgan chase')
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-credit-suisse.svg' alt='logo credit suisse')
            .our-partners_col.columns.large-2.medium-4.small-6
                img.our-partners_img(src='images/logo-hsbc.svg' alt='logo hsbc')