section.payment-methods
    .row.column
        h3.payment-methods_title Способы оплаты
        ul.payment-methods_lists
            li.payment-methods_list - Более 20 способов 
                span.text-normal ввода денежных средств
            li.payment-methods_list - Бесплатное пополнение 
                span.text-normal торгового счета
            li.payment-methods_list - Вывод денежных средств 
                span.text-normal внутри дня
    .row.columns
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-mastercard.svg' alt='payment mastercard')
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-swift.svg' alt='payment swift')
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-paysafecard.svg' alt='payment paysafecard')
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-neteller.svg' alt='payment neteller')
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-cashu.svg' alt='payment cashu')
        .payment-methods_col.columns.large-2.medium-4.small-4
            img(src='images/payment-skrill.svg' alt='payment skrill')