.row.column
    h3.top-block-rating__title ПАММ-сервис позволяет Вам инвестировать
        br
        |в стратегии успешных трейдеров
    p.top-block-rating__desc Выберите стратегию, соответствующую вашим финансовым
        br
        | ожиданиям, уровню риска и нажмите «Инвестировать»