section.simple-start
    .row
        .small-12.medium-6.column.article-image-left
            img(src="./i/devices.png",alt="devices")
            p.show-for-small-only
                br

        .small-12.medium-6.column.medium-text-right.small-text-left
            h2 Начать просто
            p.lead-text
                b Just2Trade
                | &nbsp; также ждет вас на самых бурноразвивающихся рынках планеты. Для того чтобы попробовать свои силы в торговле на финансовом рынке, откройте Демо счет.
                br
            .os-list
                .os-list__item
                    .os-list__item__image(style="background:url('./i/icons/win.svg');")
                    p.os-list__item__name Windows
                .os-list__item
                    .os-list__item__image(style="background:url('./i/icons/apple.svg');")
                    p.os-list__item__name macOS
                .os-list__item
                    .os-list__item__image(style="background:url('./i/icons/android.svg');")
                    p.os-list__item__name Android
                .os-list__item
                    .os-list__item__image(style="background:url('./i/icons/apple.svg');")
                    p.os-list__item__name iOS
            .p
                br
                a.button.blue-button.button-large.mb0(href="#") Демо

