#small-show
    .row
        .small-2.medium-1.column.hide-for-xxlarge
            .mobile-icon(data-responsive-toggle='menu-small', data-hide-for='large')
                .sandwich(data-toggle)
                    i.fa.fa-bars.fa-2x
        #menu-small.small-12.large-12.xxlarge-6.columns.menu-block

            ul.tabs.main-menu#main-menu(data-responsive-accordion-tabs="tabs small-accordion medium-tabs")
                li.tabs-title.main-menu__item: a.main-menu__link(href="#traders") Трейдерам
                li.tabs-title.main-menu__item: a.main-menu__link(href="#investors") Инвесторам
                li.tabs-title.main-menu__item: a.main-menu__link(href="#organization") Организациям
                li.tabs-title.main-menu__item: a.main-menu__link(href="#about") О компании
            .tabs-content(data-tabs-content="main-menu")
                #traders.tabs-panel.main-menu__tabs-panel
                    include ../jtc/_tab-menu-inner
                #investors.tabs-panel.main-menu__tabs-panel
                    include ../jtc/_tab-menu-inner
                #organization.tabs-panel.main-menu__tabs-panel
                    include ../jtc/_tab-menu-inner
                #about.tabs-panel.main-menu__tabs-panel
                    include ../jtc/_tab-menu-inner
        .small-10.column
            span.service-buttons.float-right.mr32
                a.button.hollow.blue-hollow.mr8(href="#") Открыть счет
                a.button.hollow.green-hollow(href="#") Демо
    .row

        .small-6.medium-3.large-2.columns
            a.main-logo(href='#' title='')
                img(src='./i/logo.svg', style='width: 127px; height: 20px', alt='logo')

        .small-6.medium-8.large-5.xxlarge-4.column
            span.service-buttons.float-right
                a.round-button.button-headphones(href="#")
                a.round-button.button-flag(href="#")
                a.round-button.button-exit(href="#")


