.row.callout.tabs-menu__content__inner(data-equalizer,data-equalize-by-row="true",data-equalize-on="medium")
    .small-12.medium-6.large-3.column.tab-menu__content__inner__row(data-equalizer-watch)
        h4.tabs-menu__header Торговые счета
        ul.tabs-menu
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") FOREX
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Единый торговый счет
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Биржи США
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Мировые фьючерсы
            li.tabs-menu__item
                a.tabs-menu__link(href="#") ROX

    .small-12.medium-6.large-3.column.tab-menu__content__inner__row(data-equalizer-watch)
        h4.tabs-menu__header Инструменты
        ul.tabs-menu
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") FOREX
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Акции
                .flag-set.float-right
                    span.flag-set__item
                        img(src="./i/icons/RUS.png",height="30",width="30")
                    span.flag-set__item
                        img(src="./i/icons/USA.png",height="30",width="30")
                    span.flag-set__item
                        img(src="./i/icons/EUR.png",height="30",width="30")
                    span.flag-set__item
                        img(src="./i/icons/ENG.png",height="30",width="30")
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Фьючерсы
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Опционы
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Облигации
            li.tabs-menu__item
                a.tabs-menu__link(href="#") CFD
            li.tabs-menu__item
                a.tabs-menu__link(href="#") ETF
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Фьючерсы

            li.tabs-menu__item
                a.tabs-menu__link(href="#") Опционы
            li.tabs-menu__item
                a.tabs-menu__link(href="#") Облигации

    .medium-12.column.show-for-medium-only
        p: br
    .small-12.medium-6.large-3.column.tab-menu__content__inner__row(data-equalizer-watch)
        h4.tabs-menu__header Платформы
        ul.tabs-menu
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") MetaTrader 4
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") MetaTrader 5
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") Transaq
            li.tabs-menu__item
                a.tabs-menu__link(href="#") CQG

    .small-12.medium-6.large-3.column.tab-menu__content__inner__row.last-row(data-equalizer-watch)
        h4.tabs-menu__header Аналитика
        ul.tabs-menu
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") Экономический календарь
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") Trading Central
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") Подписки на аналитические обзоры
            li.tabs-menu__item
                a.tabs-menu__link.forex-link(href="#") Архив обзоров от Just2Trade Analitics

