section.tools-block
    .row.column
        h2.tools-block__header Большой набор инструментов
            br.show-for-large
            | по выгодным тарифам
        h4.subheader.tools-block__subheader
            b Just2Trade
            =" "
            | — это полный спектр услуг по торговле и инвестициям:
    .row.small-up-1.medium-up-3.large-up-5
        .column
            .callout.tools-block__advantage
                span.tools-block__advantage__name Акции
                ul.tools-block__advantage__list
                    li Более 30 000 инструментов
                    li 20 бирж
                    li Торговля с плечом
                    li Маржинальное кредитование
                    li Выплата дивидендов
        .column
            .callout.tools-block__advantage
                span.tools-block__advantage__name Фьючерсы
                ul.tools-block__advantage__list
                    li Более 5 000 инструментов
                    li Все основные биржи
                    li Прямой доступ
                    li Исполнение от 10 мс
                    li От $1 за контракт
        .column
            .callout.tools-block__advantage
                span.tools-block__advantage__name Forex
                ul.tools-block__advantage__list
                    li Спреды от 0,0 пипсов
                    li Плечо до 1:500
                    li Защита от отрицательного баланса
                    li Быстрое исполнение
                    li STP ECN Брокер
        .column
            .callout.tools-block__advantage
                span.tools-block__advantage__name Еврооблигации
                ul.tools-block__advantage__list
                    li Еврооблигации
                    li Корпоративные и государственны
                    li Аналитическая поддержка
                    li Плечо до 1:3

        .column
            .callout.tools-block__advantage
                span.tools-block__advantage__name Опционы
                ul.tools-block__advantage__list
                    li Более 90 000 инструментов
                    li Фондовые
                    li Валютные
                    li Индексные
                    li Опционные доски

