section.top-block-account-opening
    .menu-line
        .row.expanded.top-menu-fluid
            include _xxlarge-menu
    .top-block-account-opening__line
        .gradient-line.show-for-xxlarge
    include _header-account-opening
