section.top-block-forex
    .menu-line
        .row.expanded.top-menu-fluid
            include _xxlarge-menu
    .top-block-forex__line
        .gradient-line.show-for-xxlarge
    include _license-info