section.top-block-rating
    .menu-line
        .row.expanded.top-menu-fluid
            include _xxlarge-menu
    .top-block-rating__line
        .gradient-line.show-for-xxlarge
    include _rating-header