section.top-block-forex-cfd-standart
    .menu-line
        .row.expanded.top-menu-fluid
            include _xxlarge-menu
    .top-block-forex-cfd-standart__line
        .gradient-line.show-for-xxlarge
    include _forex-header-ecn
