sectiom.page-header
    include ../corporate/_header
        p sss
section.top-block
    .row.column.info-block.text-center
        .info-block__inner
            h2.info-block__header Полный спектр услуг&nbsp;
                br.show-for-large
                | от международного брокера
            h3.info-block__subheader
                | От
                =" "
                b универсальных
                =" "
                |торговых счетов
                br
                | до
                =" "
                b специализированных
                =" "
                |продуктов
            p.info-block__buttons
                a.button.button-large(href="#") Начать торговать
                br
                | или открыть &nbsp;
                a(href="#") демо-счет


            .info-block__desc
                h3 Почему Just2Trade
                p Каждый счет клиента в Just2Trade Online Ltd застрахован Компенсационным фондом инвесторов Кипра на &nbsp;
                    b €20 000&nbsp;
                    br.show-for-large
                    | Регулируется Комиссией по ценным бумагам и биржам Республики Кипр(CySEC)&nbsp;
                    br.show-for-large
                    | Профессиональная поддержка 24 часа в сутки, 7 дней в неделю
                p
                    ul.brands-logo
                        //li: img(src="./i/logo.svg",width="127",height="20",alt="just2trade")
                        li: img(src="./i/finam.png",width="61",height="48",alt="finam")
                        //li: img(src="./i/whotr.png",width="129",height="21",alt="finam")





