section.top-block-investment
    .menu-line
        .row.expanded.top-menu-fluid
            include _xxlarge-menu
    .top-block-investment__line
        .gradient-line.show-for-xxlarge
    include _investment-header
