section.trading-platform
    .row
      .column
        h3.trading-platform_title Торговые платформы
        p.trading-platform_desc Скачайте торговое приложение 
            span.text-bold MetaTrade4 
            | и 
            span.text-bold Metatrader5
            br
            | для Windows и мобильных устройств
            
            
      .tabs.column
        input#account-opening_real2(type='radio', name='tabs')
        label#account-opening_btn-real2(for='account-opening_real2', title='MetaTrade4') MetaTrade4 
        input#account-opening_demo2(type='radio', name='tabs', checked='')
        label#account-opening_btn-demo2(for='account-opening_demo2', title='Metatrader5') Metatrader5

        #content-tab3
          .row.columns.trading-platform_columns
            a(href='#').trading-platform_col.trading-platform_windows.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Windows
            a(href='#').trading-platform_col.trading-platform_osx.columns.large-2.medium-4.small-6
                span.trading-platform_for-download macOS
            a(href='#').trading-platform_col.trading-platform_web.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Вэб-трейдер
            a(href='#').trading-platform_col.trading-platform_android.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Android
            a(href='#').trading-platform_col.trading-platform_ios.columns.large-2.medium-4.small-6.end
                span.trading-platform_for-download iOS

        #content-tab4
          .row.columns.trading-platform_columns
            a(href='#').trading-platform_col.trading-platform_windows.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Windows
            a(href='#').trading-platform_col.trading-platform_osx.columns.large-2.medium-4.small-6
                span.trading-platform_for-download macOS
            a(href='#').trading-platform_col.trading-platform_web.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Вэб-трейдер
            a(href='#').trading-platform_col.trading-platform_android.columns.large-2.medium-4.small-6
                span.trading-platform_for-download Android
            a(href='#').trading-platform_col.trading-platform_ios.columns.large-2.medium-4.small-6.end
                span.trading-platform_for-download iOS
            
            

    .row.trading-platform_tablet
        img.trading-platform_img(src='images/trading-platform-tablet.jpg' alt='')
