h4.text-dark-gray Пользователь
ul
    li: a(href='user-access-data.html', title='') Регистрационные данные
    li: a(href='user-personas.html', title='') Плательщики
    li: a(href='user-delivery-data.html', title='') Данные для доставки
    li: a(href='user-subscription.html', title='') Подписка

h4.text-dark-gray Заказы и корзина
ul
    li: a(href='cart.html', title='') Корзина
    li: a(href='wishlist.html', title='') Отложенные товары
    li: a(href='orders.html', title='') Заказы

h4.text-dark-gray Баланс и оплаты
ul
    li: a(href='user-balance.html', title='') Баланс
    li: a(href='user-balance-history.html', title='') История платежей
    li: a(href='user-balance-refill.html', title='') Пополнить баланс