extends corp-blog

block blog-content
  .grid-x.page-head

    .cell.auto
      a(href="corp-blog.html").button.button_low.hollow Все термины
    .cell.shrink.medium-3.text-center
      a.page-head__print(href="")
        include ../images/print.svg
    .cell.medium-shrink
      a(data-open="submit-term").button.button_low.hollow Предложить термин

  .grid-x.grid-padding-x.term-content
    .cell
      h1 B2B
      p B2B (англ. Business to business, – рус. «бизнес для бизнеса») – термин, определяющий вид информационного и экономического взаимодействия, классифицированного по типу взаимодействующих субъектов, в данном случае это – юридические лица, которые работают не на конечного рядового потребителя, а на такие же компании, то есть на другой бизнес.
      p Под термином В2В часто понимается любая деятельность одних компаний по обеспечению других производственных компаний сопроводительными услугами, дополнительным оборудованием, а также товарами, предназначенными для производства других товаров (средствами производства), товарами для профессионального использования и т. д. Такая сфера деятельности ориентирована на получение выгоды (прибыли) от оказания услуг или продажи товаров, где «объектами» являются услуги или товары, а «субъектами» – организации, взаимодействующие в рыночном поле. В качестве «продавца» и «покупателя» услуг или товаров здесь выступают организации и (или) индивидуальные предприниматели.

      .margin-vertical-12
        +advert('./i/580.png')

      h2 Азбука потребителя
      include components/corporate/_carousel-special-projects-3th
