extends corp-index
include components/mixins/_mixin-news-preview

block page
  .grid-container.margin-bottom-12: .grid-x.grid-padding-x
    .cell.auto
      .grid-x
        .cell.auto
          h1.margin-bottom-0 Retail&Loyalty news
        .cell.shrink.align-self-bottom
          a(href="").button.hollow.button_low Свежие статьи
      hr
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +advert('./i/580.png')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')

      include components/common/_pagination

    .cell.medium-9.large-6
      .margin-bottom-10
        include components/corporate/_subscribe-journal
      .margin-bottom-10
        include components/corporate/_expert-forum
      .margin-bottom-10
        include components/corporate/_subscribe-block
      .margin-bottom-10
        +advert('./i/ad-280x400.png')
      .margin-bottom-10
        include components/corporate/_figure-day