extends corp-index

block page
  .grid-container: .grid-x.grid-padding-x
    .cell.medium-9.large-6
      include components/corporate/_left-side
      include components/corporate/_figure-day
    .cell.auto
      .grid-x.page-head
        .cell.small-21.small-order-1.medium-order-1.medium-13.large-order-1.large-9
          a(href="#").button.button_low.hollow Новости ритейла
        .cell.small-24.small-order-3.medium-order-2.medium-11.large-order-2.large-8.page-head__time
          include ../images/time.svg
          span 20 Июля 2018, 14:20
        .cell.small-24.small-order-4.medium-11.medium-order-4.large-order-3.large-6.page-head__view
          include ../images/view.svg
          span 19 просмотров
        .cell.small-3.small-order-2.medium-order-3.medium-13.large-order-4.large-1
          a.page-head__print(href="")
            include ../images/print.svg

      .page-news
        h1.page-news__title М.Видео: какие гаджеты покупали к новому учебному году?

        p.page-news__embed.page-news__embed_full
          img.page-news__embed__img(src="./i/news-1-full.png" alt="")
          | Фото: название сайта

        p.font-italic Группа «М.Видео-Эльдорадо», крупнейшая российская розничная компания на рынке электроники и бытовой техники, входящая в ПФГ САФМАР Михаила Гуцериева, проанализировала спрос на цифровую электронику в преддверии нового учебного и бизнес года.
        p «В августе 2018 года наибольшим спросом пользовались смартфоны крупных китайских производителей и компьютерная техника, а также сопутствующие товары и аксессуары к ним.
        p Покупатели «М.Видео» и «Эльдорадо» приобрели в полтора раза больше смартфонов и на треть больше ноутбуков, чем в августе 2017 года. Такая динамика более, чем в 2 раза выше, чем в целом по рынку.
        p Наиболее востребованными стали модели ведущих китайских производителей, а также смартфоны Samsung и Apple. Первые пять позиций рыночного хитлиста занимают несколько моделей Honor: 10, 9 Lite, 7А, 7С и другие. В «М.Видео» наибольшим спросом пользовали iPhone 8 и 8 Plus, а также одни из последних моделей Huawei -  P Smart и P20 lite. В «Эльдорадо» наиболее популярны оказались Honor 10, Honor 9 lite, iPhone 7, а также Samsung Galaxy A5. Фактически именно эти четыре производителя – Samsung, Apple, Huawei и Honor - сейчас задают правила игры на рынке смартфонов.
        p В целом по рынку смартфоны китайских производителей (Huawei, Honor, Xiaomi, Nokia и другие) занимают более трети рынка – то есть как минимум каждый третий купленный в августе смартфон был произведён одним из этих китайских игроков. Наиболее сильны позиции у Huawei/Honor, которые по итогам лета вообще стали первыми по продажам в штуках на российском рынке смартфонов.

        .margin-bottom-10
          +advert('./i/580.png')

        p В сегменте компьютерной техники в августе наиболее заметно рос бюджетный ценовой сегмент – до 25 тысяч рублей. Базовые модели с 15-дюймовым экраном покупают школьникам и студентам к началу учебного года. Одновременно рос спрос на ноутбуки Apple, которые позиционируются как оптимальное бизнес-решение. Так, в «М.Видео» и «Эльдорадо» покупатели приобрели на 60% больше MacBook Air, чем в августе 2017 года.

        .page-recommend
          .page-shortcard.page-shortcard_low
            .page-shortcard__title Читайте также
            a(href="").page-shortcard__text Сбербанк и МЕTRO запустили партнерскую программу по кредитной бизнес-карте
            a(href="").page-shortcard__text ГК «О`КЕЙ» назначила нового генерального директора
        p В хит-лист ноутбуков в августе вошли модели Lenovo IdeaPad, упомянутый ранее MacBook Air, а также Acer Aspire. Из всех сопутствующих устройств к смартфонам наибольшим спросом пользовались смарт-часы от Apple и Samsung, а также детские часы с GPS от Elari и Jet. Сегмент детских часов только набирает обороты: в этой категории появляются новые игроки, а популярность устройств только растет. Спрос на смарт-часы в августе в обеих сетях вырос более чем вдвое.

        p.font-bold Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
        p В сегменте компьютерной техники очень активно развивалось направление игровых мониторов: их продажи в «М.Видео» и «Эльдорадо» выросли относительно августа прошлого года более чем в 2 раза. Такие устройства приобретают не только для гейминга, но и для учебы и работы: они обладают более быстрым откликом и отличным качеством картинки<sup>1</sup>.

        .page-anchor
          .page-anchor__block
            .page-anchor__text
              span.page-anchor__number 1
              | сноска текст, После постановки материала в админку портала, редактор нажимает на кнопку «опубликовать», срабатывает сервис, расставляя неразрывный пробел, в поле html, после это редактор еще раз нажимает на кнопку «опубликовать», материал публикуется

        p «Острая конкуренция на рынке смартфонов в связи с усилением крупных китайских производителей создала очень выигрышные условия для покупателей: они могут выбирать из десятков моделей в разных ценовых категориях, не переплачивая. Большинство масс-маркет предложений оптимально подходят под потребности молодого поколения. Они имею стильный современный дизайн, без рамок, с большим экраном, а также все функции, которые могут пригодиться в учебе или на работе: отличная камера, долго работающая батарея, мощный процессор.

        .page-anchor
          .page-anchor__block
            .page-anchor__text
              span.page-anchor__number 1
              | сноска текст, После постановки материала в админку портала, редактор нажимает на кнопку «опубликовать», срабатывает сервис, расставляя неразрывный пробел, в поле html, после это редактор еще раз нажимает на кнопку «опубликовать», материал публикуется

        .grid-x.page-highlight
          .cell.large-8.page-highlight__side
            .page-highlight__left
              | Острая конкуренция на рынке смартфонов в связи с усилением крупных китайских производителей создала очень выигрышные условия для покупателей
          .cell.large-16.page-highlight__side
            .page-highlight__right
              | Помимо широкого ассортимента мы предложили покупателям выгодные комплекты: приобретая смартфон, клиент получает в подарок нужный аксессуар – наушники, колонку, пауэрбанк – то, что он, скорее всего, приобрел бы сам со временем. Это весомый аргумент в пользу покупки нового смартфона к началу рабочего года», - прокомментировал промежуточные итоги back-to-school руководитель департамента «Мобильная техника» в Группе «М.Видео-Эльдорадо» Владимир Чайка.
        p Для удобства пользователей на mvideo.ru с середины августа заработал тематический хаб, где собраны самые интересные предложения в зависимости от бюджета и потребностей покупателя. А в течение сентября впервые действует рассрочка на 25 месяцев на все без исключения модели ноутбуков, моноблоков и системных блоков. На сайте сети «Эльдорадо» аналогично запущены тематические промо кампании. Ключевая – раздел с предложениями на цифровую технику в рамках проекта #будьвделе при участии Юрия Дудя (https://www.eldorado.ru/promo/prm-back-to-school/).

        p.page-news__source Источник: М.Видео и Эльдорадо

        .page-tags
          .page-tags__title Теги:
          a(href="").button.button_tag Москва
          a(href="").button.button_tag Правительство
          a(href="").button.button_tag Отставка

        .page-share
          h5.page-share__title Понравился материал? Поделись
          a(href="")
            i.fab.fa-facebook-f.fa-lg.page-share__link
          a(href="")
            i.fab.fa-twitter.fa-lg.page-share__link
          a(href="")
            i.fab.fa-telegram-plane.fa-lg.page-share__link

        form(action="#").page-newsletter
          .page-newsletter__title
            span.page-newsletter__count 8500
            | подписчиков новостей получили этот материал
          .page-newsletter__form
            input.page-newsletter__input(type="text" placeholder="Подпишитесь, на новостную рассылку")
            button(type="submit").page-newsletter__submit
              i.fas.fa-arrow-right.fa-lg

        .blank.blank_subscribe
          .blank__back
          .blank__container
            .blank__triangle
          .grid-x.align-middle
            .cell.small-4
              img(src="./i/subscribe-channel.png" alt="")
            .cell.small-20
              .blank__title
                | Подписывайтесь на канал&nbsp;
                span.text-primary RETAIL-LOYALTY.ORG &nbsp;
                | на Яндекс.Дзен&nbsp;

        .margin-bottom-10
          img(src="./i/facebook-comments.png" alt="")

        include components/corporate/_read-also

    .cell.large-6
      .margin-bottom-10
        include components/corporate/_subscribe-journal
      .margin-bottom-10
        include components/corporate/_expert-forum
      .margin-bottom-10
        include components/corporate/_subscribe-block