extends corp-index

block page
  .grid-container
    h1 Бюро переводов ПЛАС

    .grid-x.grid-padding-x.translation-head
      .cell.medium-12.large-shrink.small-order-2.medium-order-1
        h2.translation-head__title Перевод? Проще простого!*
        h3.translation-head__subtitle *Если с Вами профессионалы

        .grid-x.grid-padding-x
          .cell.shrink
            p.margin-bottom-0 Телефон:
            p.margin-bottom-0 e-mail:
          .cell.auto
            p.margin-bottom-0: a.text-black(href="tel:+74959611065") +7 495 961 1065
            p.margin-bottom-0: a.link(href="tel:translate@plusworld.ru") translate@plusworld.ru

      .cell.medium-12.large-auto.small-order-1.medium-order-2
        img.margin-bottom-2(src="./i/translation.png" alt="Бюро переводов")

    .grid-x.grid-padding-xh2.translation-content
      .cell.large-16
        h2.translation-content__heading Мы не следуем устаревшим правилам – мы задаем стандарты

        p Среди заказчиков #[span.text-primary бюро переводов ПЛАС] – международные платежные системы, ведущие мировые разработчики и производители банковского и торгового ПО и оборудования, IT-компании, с которыми мы успешно сотрудничаем с начала 90-х годов XX века: Visa, MasterCard, Diners Club, JCB, AmEx, Wincor Nixdorf, VeriFone, TSYS, ACI, CR2, MEI, BS2, Gemalto и многие другие.

        h2.translation-content__heading Мы не заглядываем в словари – мы их пишем и издаем

        p.margin-bottom-2 #[span.text-primary Бюро переводов ПЛАС] предлагает услуги по переводу, редактированию и адаптации текстов любого уровня сложности по следующей тематике:
        ul.list.list_unordered
          li.list__item платежные системы, карты, банкоматные и POS-терминальные сети (технологии эмиссии и эквайринга карт, процессинг, программы лояльности, транспортные проекты)
          li.list__item программное и аппаратное обеспечение для платежных систем, систем банковского самообслуживания и расчетно-кассовых узлов предприятий розничной торговли, систем замкнутого оборота наличных для отделений банков и розничных сетей
          li.list__item системы дистанционного банковского обслуживания / многоканальный банкинг
          li.list__item интернет-банкинг, мобильный банкинг, eCommerce
          li.list__item NFC и бесконтактные технологии
          li.list__item риск-менеджмент и борьба с мошенничеством; вопросы безопасности платежей
          li.list__item различные банковские системы (обработки кредитных заявок, системы обнаружения мошенничества и т. д.)
          li.list__item инструкции по эксплуатации и руководства пользователей банковского и розничного платежного оборудования (банкоматов, POS-терминалов и т.д.)
          li.list__item стандартная документация российских и зарубежных регуляторов безналичных платежей
          li.list__item исследования рынка (статистика, ценообразование), иностранные публикации и информация о новых технологиях и новейших достижениях
          li.list__item банковская документация, включая годовые отчеты
          li.list__item корпоративная документация (уставы, положения, соглашения, банковские письма и т. д.), тендерная документация (запрос на выражение заинтересованности, RFP, ТЗ и т. д.), контракты, деловая документация
          li.list__item управление проектами
          li.list__item контент веб-сайтов, локализация

        h2.translation-content__heading Мы помогаем рынку говорить на одном языке

        p #[span.text-primary В Бюро переводы выполняются профессионалами], которые являются не только дипломированными переводчиками, но и опытными специалистами той отрасли, с тематикой и терминологией которой они работают. В свою очередь, имеющиеся в Бюро переводов ПЛАС ресурсы экспертов-консультантов, технических и литературных редакторов, позволяют обеспечивать профессиональную завершенность и высокое качество конечного продукта.
        p #[span.text-primary При реализации крупных проектов], предполагающих большие объемы переводов и дальнейшее их сопровождение и координацию, Бюро предоставит Вам ответственного переводчика, который будет вести Ваш проект до его завершения в тесном контакте с Вашими специалистами, четко выполняя их указания и учитывая рекомендации и пожелания.
        p Гарантируем конфиденциальность информации и сохранность Ваших материалов! Возможно подписание специального соглашения о конфиденциальности.
