extends corp-index

block page
  .grid-container.advertising
    .grid-x.grid-padding-x
      .cell.large-14
        .advertising-head
          h1.advertising-head__title Рекламы на портале
          a(href="").button.hollow.button_low Получить медиакит

        p.margin-bottom-12 Информационный портал Retail-Loyalty.org – площадка для диалога профессионалов, на которой освещается передовой зарубежный и отечественный опыт в области офлайн- и онлайн ритейла, инновационные и оригинальные идеи в области розничного бизнеса и процесса обслуживания покупателей, анализ событий и трендов в индустриях, где обслуживается массовый покупатель, позиции участников, экспертов и регуляторов в области ритейла.

      .cell.large-19
        .grid-x.grid-padding-x
          .cell.medium-auto
            .advertising-categories
              h2.advertising-heading Аудитория Retail-Loyalty.org представляет следующие структуры:
              ul.list.list_unordered
                li.list__item торговые сети и традиционная розница - food, non-food, DIY, fashion и др.;
                li.list__item интернет-магазины;
                li.list__item гостиничный бизнес, туроператоры, авиакомпании, транспортные компании, компании-операторы АЗК;
                li.list__item банки и иные финансовые институты, платежные системы;
                li.list__item компании-поставщики продуктов, сервисов и решений для ритейла;
                li.list__item телеком;
                li.list__item госструктуры.
              img.advertising-categories__image(src="./i/partners.png" alt="Партнеры")
          .cell.medium-shrink
            .margin-top-12
              .acc.acc_mini
                span.acc__num +150 000
                span.acc__title количество просмотров
                span.acc__num 19%
                span.acc__title показатель отказов
                span.acc__num 2 мин
                span.acc__title среднее время пребывания на сайте
                .acc__info по данным metrika.yandex.ru

        .grid-x.grid-padding-x
          .cell.medium-auto
            p Посетители занимают ключевые позиции в индустрии ритейла и принимают непосредственное участие в подготовке и принятии решений, а также в реализации проектов. Являются представителями наиболее активного возраста – #[span.text-primary.font-bold.font-italic от 28 до 50 лет]. Количество просмотров в месяц – #[span.text-primary.font-bold.font-italic +150 000], количество подписчиков на онлайн-новости - #[span.text-primary.font-bold.font-italic +5 000], в Faсebook – #[span.text-primary.font-bold.font-italic +2500] постоянных подписчиков, в Twitter – #[span.text-primary.font-bold.font-italic +1000] подписчиков.
          .cell.medium-8.large-6
            p.font-italic.text-primary Мы держим руку на пульсе в мире ритейла и стремимся первыми сообщать читателям информацию о происходящих изменениях и событиях на рынке

        img.margin-bottom-12(src="./i/statistic.png" alt="График")

        .grid-x.grid-padding-x
          .cell.medium-auto.small-order-2.medium-order-1
            h2.advertising-heading Размещение рекламных материалов на портале:
            ul.list.list_unordered
              li.list__item баннер на сайте,
              li.list__item баннер в ежедневной рассылке Retail&Loyalty News,
              li.list__item публикация новостей компании на сайте,
              li.list__item публикация новостей в ежедневной рассылке Retail&Loyalty News.

            p Ежемесячно на ресурсе пользователям демонстрируется #[span.text-primary.font-bold.font-italic +750 418] показов баннерной рекламы. Воспользоваться маркетинговыми возможностями Retail-Loyalty.org вы можете, разместив баннер на сайте, в ежедневной рассылке новостей, став спонсором рубрик и др.
            p Ежедневно в редакцию Retail-Loyalty.org приходят новости индустрии со всего мира. Вы можете присоединиться к главным мировым ньюсмейкерам, направив свою новость на адрес #[a.link(href="mailto:news@plusworld.ru") news@plusworld.ru]
            p Под сотрудничеством мы понимаем не разовые рекламные активности в рамках сайта, а комплексное стратегическое партнерство, ставящее целью донести вашу информацию до как можно большего числа ключевых участников рынка!
            p Размещение Вашего материала в информационном потоке портала
            p Retail-Loyalty.org необходимо произвести так, чтобы ваш материал сначала гарантированно заметили, а потом еще и прочитали. Для этого вам необходимо выделить свой материал на фоне других.

            p Мы предлагаем следующие варианты такого выделения:
            ul.list.list_unordered
              li.list__item Сопровождение новости тематическим и уникальным иллюстративом
              li.list__item Спонсорство новостного сервиса «Retail-Loyalty News», новостных тематических рубрик портала Retail-Loyalty.org
              li.list__item Баннерная реклама

            p Мы уверены, что наше сотрудничество окажется плодотворным и взаимовыгодным, ведь для этого у нас есть три самые необходимые вещи: опыт, информация и узнаваемость!

            p Особое внимание заслуживают Специальные проекты:
            ul.list.list_unordered
              li.list__item «Cover Story» – статья, привязанная тематически и структурно к обложке журнала, которая имеет максимальный уровень просмотров, благодаря размещению на отдельной странице портала Retail-Loyalty.org (верстка Long read), продвижению в поисковых системах, а также выведению на месяц в Топ-самых популярных материалов сайта.
              li.list__item «Long read» – размещение статьи на отдельной странице Long read информационного портала, продвижение в поисковых системах и социальных сетях, а также выведение на месяц в Топ-самых популярных материалов сайта, при этом страница статьи размещается в электронной версии и архиве номеров журнала бессрочно. А также статья размещается в печатной версии журнала.
              li.list__item «Сайт в сайте» - подразумевает под собой полную верстку и размещение сайта на сервере редакции, наполнение материалами, техническое обслуживание и продвижение.
              li.list__item «Репортаж с мероприятия» – полный пакет опций включающий в себя анонсирование, подготовку и проведение репортажа, а также создание отчетной статьи с размещением в печатной версии журнала и онлайн версии.

            p Кроме того, мы ведем статистику рекламной кампании!
            p В ходе рекламной кампании ведется статистика показов и кликов.
            p Обращайтесь к нам! Мы готовы предложить различные креативные варианты размещения! Реклама Вашей компании не останется незамеченной!
            p Расскажите нам о Ваших маркетинговых задачах, и наша команда профессионалов предложит варианты оптимального взаимодействия.

            .contact
              p.contact__name Константин Гризов
              p.contact__position Директор по развитию бизнеса
              p.contact__tel Моб.: #[a.text-black(href="tel:+79250054005") +7 925 005 4005]
              p.contact__tel т./ф.: #[a.text-black(href="tel:+74959611065") +7 495 961 1065]
              p.contact__mail E-mail: #[a.link(href="mailto:konstantin@plusworld.ru") konstantin@plusworld.ru]
            .contact
              p.contact__name Редакция журнала Retail & Loyalty
              p.contact__position Россия, 117218 Москва, ул. Кржижановского, д. 29, корп. 5, оф. 1-3 "А"
              p.contact__tel т./ф.: #[a.text-black(href="tel:+74959611065") +7 495 961 1065]
              p.contact__mail E-mail: #[a.link(href="mailto:marketing@plusworld.ru") marketing@plusworld.ru]


          .cell.medium-8.large-6.small-order-1.medium-order-2
            p.font-italic.text-primary Мы поставщики информации для профессионалов розничного сектора и агрегаторы актуальной информации рынка

