extends corp-index
include components/mixins/_mixin-news-preview

mixin newsPreviewNumber(imgSrc, category, newsTitle, newsText)
  .grid-x.article-preview
    .cell.medium-offset-1.medium-8.large-7.large-offset-0
      img.article-preview__image(src=imgSrc alt="")
    .cell.medium-offset-1.medium-14
      a(href="").article-preview__category= category
      a(href="").article-preview__title
        h2= newsTitle
      p.article-preview__text= newsText

block page
  .grid-container.margin-bottom-20
    .grid-x.grid-padding-x.number
      .cell.medium-10.medium-offset-1.large-offset-0.large-8
        img(src="./i/page-preview-1.png" alt="").number__poster
        .number__buttons
          a(href="").button.button_low.large.hollow Купить номер
          a(href="").button.button_low.large.hollow Подписаться
      .cell.medium-auto.medium-offset-1
        a(href="").button.hollow.number__archive Архив номеров
        h1.number__title
          | RETAIL&LOYALTY&nbsp;
          span.number__date №4/2018 (75)
        h2.number__subtitle Аналитика больших данных.
          br
          | Взгляд ОФД «Такском»
        p.number__text Полтора года назад, когда компании начали массово переходить на онлайн-кассы, стало понятно, что на серверах ОФД скапливается огромное количество информации с кассовых чеков. И данные будут интересны как самим владельцам касс, так и многим другим участникам рынка. 54-ФЗ позволяет операторам использовать фискальные данные по своему усмотрению при условии их обезличенности. Какую аналитику можно построить на основе такой информации, кому она может быть интересна и какие тенденции существуют на рынке ОФД и больших данных, рассказывает Александр Тупицын, технический директор ОФД «Такском».

    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Российский ритейл консолидируется и уходит в цифру', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки.')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Аналитика больших данных. Взгляд ОФД «Такском»', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Какие технологии станут драйверами развития ритейла?', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Интернет вещей как способ создания потока дохода для ритейла', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Новые грани омниканальности – интерактивная открытка к празднику и QR-код на счетах ЖКХ', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Гарри Фридман: Два слагаемых успеха в ритейле', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')
    +newsPreviewNumber('./i/news-preview-1.png', 'Рубрика', 'Российский ритейл консолидируется и уходит в цифру', 'Для розничной индустрии второй квартал 2018 года оказался на редкость щедр на события, как позитивные, так и вынуждающие участников рынка задуматься о правильности выбранной ими стратегии и перспективах ее корректировки...')