extends corp-index
include components/mixins/_mixin-news-preview

block page
  .grid-container.margin-bottom-12: .grid-x.grid-padding-x
    .cell.medium-8.large-6
      include components/corporate/_left-side
    .cell.auto
      .grid-x.news-header
        .cell.auto
          h1.news-header__title E-Commerce
        .cell.shrink.news-header__right
          h2.news-header__category НОВОСТИ
          a.news-header__subtitle(href="") СТАТЬИ
      hr

      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      .grid-x.align-middle
        .cell.large-14
          .margin-bottom-4
            +advert('./i/580.png')
        .cell.large-offset-1.large-9
          include components/corporate/_subscribe-block
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')
      +newsPreview('./i/news-preview-1.png', '10:40, 13 Июля, 183 просмотра', 'Держатели карты «Халва» могут покупать на Биглион в рассрочку', 'Биглион – крупнейший в России онлайн-сервис скидок и кэшбэка – присоединился к партнерской программе Совкомбанка для держателей карты «Халва».')

      include components/common/_pagination
