extends corp-index

block page
  .grid-container: .grid-x.grid-padding-x.for-authors: .cell.large-16
    h1.for-authors__title Авторам
    h2.for-authors__subtitle Редакция журнала «Retail & Loyalty» приглашает Вас к информационному партнерству!

    .for-authors__text
      p Если Вы готовы предоставить свое экспертное мнение, касающиеся проблематики и трендов платежной индустрии, банковской розницы и т. д., мы будем рады сотрудничеству с Вами.

      p.margin-bottom-2 Общие требования к авторским материалам #[span.text-primary *]: 
      ul.list.list_unordered
        li.list__item материал должен представлять собой оригинальный авторский текст, рассматривающий	те или иные актуальные вопросы современного рынка и индустрии с позиций профессионала и ориентированный на профессионалов; 
        li.list__item материал должен относиться к тематике нашего журнала и представлять интерес для его целевой аудитории; 
        li.list__item материал принимается к рассмотрению в формате MS Word, отправленный по электронной почте на адрес #[a.link(href="mailto:marketing@plusworld.ru") marketing@plusworld.ru].

      p Работа с авторами осуществляется на безвозмездной основе. Редакция не публикует присланные материалы без уведомления авторов и правообладателей. Редакция не рецензирует присылаемые материалы.
      p Мнения автора публикаций могут не совпадать с мнением редакции. 
      p В случае отказа от публикации того или иного материала редакция оставляет за собой право не объяснять причин такого отказа. 
      p Ждем Вас в рядах наших авторов! 
      p.text-right.font-italic Редакция журнала «Retail & Loyalty»
      p #[span.text-primary *] (подробнее см. Требования и пожелания к присылаемым материалам)

      p.margin-bottom-2.font-bold Требования и пожелания к присылаемым материалам:
      ol.list.list_ordered
        li.list__item ФИО и фотографию автора, указание места работы, должности, ученой степени (если есть). 
        li.list__item Заголовок (название) материала, краткий тезисный план материала. 
        li.list__item В материале необходимо указать контактную информацию (рабочий телефон, мобильный телефон, e-mail) для обратной связи и оперативного взаимодействия. 
        li.list__item Если материал сопровождается иллюстрационным материалом (рисунки, графики, диаграммы, таблицы, формулы и т. п.), то такой материал должен быть пронумерован, иметь подрисуночные подписи и ссылки в основном тексте. 
        li.list__item Если материал сопровождается фотоматериалом, то он должен быть пронумерован, иметь подрисуночные подписи и ссылки в основном тексте. Фотоматериал должен быть сохранен в графическом формате .tif (300 dpi. СМУК) или .eps (шрифты в кривых, СМУК, текст отредактирован). 
        li.list__item Если автор цитирует какие-либо печатные источники или иных авторов, то в тексте в обязательном порядке должны быть ссылки на цитируемые источники. При использовании источников из Интернета необходимо применение гиперссылок на эти источники. 
