h2 Специальные проекты
include ../corporate/_carousel-special-projects
  
hr
include _breadcrumbs
.grid-x.grid-padding-x.margin-bottom-6
  .cell.large-18
    a(href="#").art
      .grid-x.grid-padding-x
        .cell.large-10
          .art__img.text-center
            img(src="./i/info11.png", alt="")
        .cell.xlarge-10.large-14
          .art__title.art__title_big Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
          .art__text С ноября 2017 года клиентам Росбанка из сегмента малого бизнеса стало доступно новое предложение: аренда платёжного терминала.
    .grid-x.grid-padding-x.large-up-3.small-up-2
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title В Китае и Индии стимулируют активность транзакционного рынка
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Прогнозы: Рынок мобильных кошельков вырастет к 2019 году в 18&#160;раз
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Alibaba тестирует собственный магазин без касс
  .cell.large-6
    a(href="#").blank.blank_high
      .blank__back
      .blank__container
        .blank__triangle
      .blank__man.text-center
        img(src="./i/man.png", alt="")
      .blank__info Дроны, навигаторы и 3D-печать: инновационные технологии на службе у логистики
      .blank__quote Секрет успеха логистического оператора

.text-center.margin-bottom-12
  a(href="#"): img(src="./i/1180.png", alt="")
hr
include _breadcrumbs
.grid-x.grid-padding-x.margin-bottom-6
  .cell.large-18
    a(href="#").art
      .grid-x.grid-padding-x
        .cell.large-10
          .art__img.text-center
            img(src="./i/info11.png", alt="")
        .cell.xlarge-10.large-14
          .art__title.art__title_big Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
          .art__text С ноября 2017 года клиентам Росбанка из сегмента малого бизнеса стало доступно новое предложение: аренда платёжного терминала.
    .grid-x.grid-padding-x.large-up-3.small-up-2
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title В Китае и Индии стимулируют активность транзакционного рынка
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Прогнозы: Рынок мобильных кошельков вырастет к 2019 году в 18&#160;раз
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Alibaba тестирует собственный магазин без касс
  .cell.large-6
    a(href="#").blank.blank_high
      .blank__back
      .blank__container
        .blank__triangle
      .blank__man.text-center
        img(src="./i/woman.png", alt="")
      .blank__cat видеоинтервью

      .blank__info Как оптимизировать работу ресторана во время Чемпионата
      .blank__quote Мнение Ирины Чирковов, управляющего партнера компании MPLUG.

h2 Азбука потребителя
include ../corporate/_carousel-special-projects

hr
include _breadcrumbs
.grid-x.grid-padding-x.margin-bottom-6
  .cell.large-18
    a(href="#").art
      .grid-x.grid-padding-x
        .cell.large-10
          .art__img.text-center
            img(src="./i/info11.png", alt="")
        .cell.xlarge-10.large-14
          .art__title.art__title_big Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
          .art__text С ноября 2017 года клиентам Росбанка из сегмента малого бизнеса стало доступно новое предложение: аренда платёжного терминала.
    .grid-x.grid-padding-x.large-up-3.small-up-2
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title В Китае и Индии стимулируют активность транзакционного рынка
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Прогнозы: Рынок мобильных кошельков вырастет к 2019 году в 18&#160;раз
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Alibaba тестирует собственный магазин без касс
  .cell.large-6
    a(href="#").blank.blank_high
      .blank__back
      .blank__container
        .blank__triangle
      .blank__man.text-center
        img(src="./i/calc.png", alt="")
      .blank__cat ИНФОГРАФИКА
      .blank__info Топ самых дорогих покупок в «черную пятницу»
      .blank__quote Самые дорогие покупки в “черную пятницу” от admitat

hr
include _breadcrumbs
.grid-x.grid-padding-x.margin-bottom-6
  .cell.large-18.medium-16
    a(href="#").art
      .grid-x.grid-padding-x
        .cell.large-10
          .art__img.text-center
            img(src="./i/info11.png", alt="")
        .cell.xlarge-10.large-14
          .art__title.art__title_big Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
          .art__text С ноября 2017 года клиентам Росбанка из сегмента малого бизнеса стало доступно новое предложение: аренда платёжного терминала.
    .grid-x.grid-padding-x.large-up-3.small-up-2
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title В Китае и Индии стимулируют активность транзакционного рынка
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Прогнозы: Рынок мобильных кошельков вырастет к 2019 году в 18&#160;раз
      .cell
        a(href="#").smart
          .smart__img.text-center.large-text-left
            img(src="./i/sm1.png", alt="")
          .smart__title Alibaba тестирует собственный магазин без касс
  .cell.large-6.text-center.medium-8
    a(href="#"): img(src="./i/big-b.png", alt="")
hr
include _breadcrumbs
.grid-x.grid-padding-x.margin-bottom-6
  .cell.large-18
    a(href="#").art
      .grid-x.grid-padding-x
        .cell.large-10
          .art__img.text-center
            img(src="./i/info11.png", alt="")
        .cell.xlarge-10.large-14
          .art__title.art__title_big Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
          .art__text С ноября 2017 года клиентам Росбанка из сегмента малого бизнеса стало доступно новое предложение: аренда платёжного терминала.

.grid-x.grid-padding-x.large-up-4.small-up-2
  .cell
    a(href="#").smart
      .smart__img.text-center.large-text-left
        img(src="./i/sm1.png", alt="")
      .smart__title В Китае и Индии стимулируют активность транзакционного рынка
  .cell
    a(href="#").smart
      .smart__img.text-center.large-text-left
        img(src="./i/sm1.png", alt="")
      .smart__title Прогнозы: Рынок мобильных кошельков вырастет к 2019 году в 18&#160;раз
  .cell
    a(href="#").smart
      .smart__img.text-center.large-text-left
        img(src="./i/sm1.png", alt="")
      .smart__title Alibaba тестирует собственный магазин без касс
  .cell
    a(href="#").smart
      .smart__img.text-center.large-text-left
        img(src="./i/sm1.png", alt="")
      .smart__title Alibaba тестирует собственный магазин без касс




hr
h6 Анонс мероприятий
.grid-x.grid-padding-x
  .cell.large-16
    .grid-x.grid-padding-x.events
      .cell.large-6.medium-5
        .events__date 06/06
        .events__time 10:00-18:00
        .events__city Санкт-Петербург
      .cell.large-18.medium-19
        a.events__link(title="")
          h6 "Актуальные вопросы микрофинансирования"
          p.events__preview На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...

    .grid-x.grid-padding-x.events
      .cell.large-6.medium-5
        .events__date 06/06
        .events__time 10:00-18:00
        .events__city Санкт-Петербург
      .cell.large-18.medium-19
        a.events__link(title="")
          h6 "Актуальные вопросы микрофинансирования"
          p.events__preview На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...

    .grid-x.grid-padding-x.events
      .cell.large-6.medium-5
        .events__date 06/06
        .events__time 10:00-18:00
        .events__city Санкт-Петербург
      .cell.large-18.medium-19
        a.events__link(title="")
          h6 "Актуальные вопросы микрофинансирования"
          p.events__preview На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...

  .cell.large-8.text-center.large-text-right
    .datepicker

.grid-x.grid-padding-x.align-center.margin-bottom-10.margin-top-10
  .cell.large-23
    .slide-events
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
      .slide-events__item
        a.slide-events__link(title=""): img.slide-events__image(src="./i/event_slide.png", alt="")
