.request {
  margin-top: 20px;
  &__title {
    padding-bottom: 30px;
    &-span {
      color: #212121;
      font-size: 16px;
      font-family: $font-family-OpenSansBold;
      border-bottom: 2px solid #46a3d8;
    }
  }
  &__main {

  }
  &__submit {
    color: #fff;
    font-size: 14px;
    background-color: #46a3d8;
    border-radius: 5px 4px 4px 5px;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 12px;
    padding-bottom: 13px;
    transition: .5s all;
    margin-top: 20px;
    text-align: center;
    &:hover {
      color: #ccc;
    }
  }

}

input.request__input {
  color: #9e9e9e;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;
  padding-left: 12px;
  &::-webkit-input-placeholder {
    color: #9e9e9e;
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .request {
    &__submit {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;

    }
  }
}