.special-projects.special-projects_3th
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/blog-slide-1.png)")
      .project-card__wrapper
        h3.project-card__title Подарки со скидкой: как экономить на новогоднем шоппинге
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/blog-slide-2.png)")
      .project-card__wrapper
        h3.project-card__title Лучшие игры и щедрые выплаты - в онлайн казино Shangrl La
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/blog-slide-3.png)")
      .project-card__wrapper
        h3.project-card__title Обслуживание корпоративных клиентов в Тинькофф банк
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/interview-3.png)")
      .project-card__wrapper
        h3.project-card__title Факторинг не дает деньгам «спать»
