.special-projects
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/interview-2.png)")
      .project-card__wrapper
        h3.project-card__title Как не отдать свою прибыль недобросовестным конкурентам
  .special-projects__item
    a.project-card(href="")
      .project-card__wrapper
        h3.project-card__title Marks & Spencer расширяет сеть магазинов в России с опорой на отечественную ИТ-инфраструктуру
        p.project-card__text Британский бренд движется по пути увеличения точек продаж в нашей стране и в то же время делает ставку на проверенную временем ИТ-инфраструктуру торгового бизнеса
  .special-projects__item
    a.project-card(href="")
      .project-card__wrapper
        h3.project-card__title «Платформа ОФД»: большие данные позволяют принимать правильные бизнес-решения
        p.project-card__text На смену бурным дискуссиям о поправках в 54-ФЗ пришло осознание, что онлайн-фискализацию можно использовать в интересах самого бизнеса. Обновленный закон 54-ФЗ и
  .special-projects__item
    a.project-card(href="")
      .project-card__image(style="background-image: url(./i/interview-3.png)")
      .project-card__wrapper
        h3.project-card__title Факторинг не дает деньгам «спать»
  .special-projects__item
    a.project-card(href="")
      .project-card__wrapper
        h3.project-card__title Marks & Spencer расширяет сеть магазинов в России с опорой на отечественную ИТ-инфраструктуру
        p.project-card__text Британский бренд движется по пути увеличения точек продаж в нашей стране и в то же время делает ставку на проверенную временем ИТ-инфраструктуру торгового бизнеса
