.blank.text-center
  .blank__back
  .blank__container
    .blank__triangle
  .blank__title
    | ФОРУМ
    |
    span.text-dark-gray ЭКСПЕРТОВ

  a(href="#").buy.text-left
    .grid-x.grid-padding-x
      .cell.xlarge-10.buy__img.text-center.xlarge-text-left
        img(src="./i/buy.png", alt="")
      .cell.xlarge-14.buy__title.align-self-middle.text-center.xlarge-text-left Дорогостоящих покупок стало меньше?
    .buy__text В последнее время нередко приходится слышать споры о том, как ведут себя россияне по отношению к шопингу
  a(href="#").buy.text-left
    .grid-x.grid-padding-x
      .cell.xlarge-10.buy__img.text-center.xlarge-text-left
        img(src="./i/buy.png", alt="")
      .cell.xlarge-14.buy__title.align-self-middle.text-center.xlarge-text-left Дорогостоящих покупок стало меньше?
    .buy__text В последнее время нередко приходится слышать споры о том, как ведут себя россияне по отношению к шопингу
  a(href="#").buy.text-left.show-for-xlarge
    .grid-x.grid-padding-x
      .cell.xlarge-10.buy__img.text-center.xlarge-text-left
        img(src="./i/buy.png", alt="")
      .cell.xlarge-14.buy__title.align-self-middle.text-center.xlarge-text-left Дорогостоящих покупок стало меньше?
    .buy__text В последнее время нередко приходится слышать споры о том, как ведут себя россияне по отношению к шопингу
  a(href="#").button.hollow.expanded Все статьи