.blank.text-center
  .blank__back
  .blank__container
    .blank__triangle
  .blank__title
    | Цифра
    |
    span.text-dark-gray дня
  .currency
    .currency__slide
      .currency__big 30
      .currency__percent процентов
      p.currency__text ни разу не слышали о криптовалюте
    .currency__slide
      .currency__big 5
      .currency__percent процентов
      p.currency__text ни разу не слышали о криптовалюте