footer.footer: .grid-container.text-center.medium-text-left: .grid-x.grid-padding-x
  .cell.large-7.medium-15
    a(href="#").footer__logo
      img(src="./images/logo.svg", alt="")
    a(href="#").footer__soc
      i.fab.fa-facebook-f(data-fa-transform='shrink-6 ', data-fa-mask='fas fa-circle', )
    a(href="#").footer__soc
      i.fab.fa-twitter(data-fa-transform='shrink-8 ', data-fa-mask='fas fa-circle', )
    a(href="#").footer__soc
      i.fab.fa-telegram-plane(data-fa-transform='shrink-6 ', data-fa-mask='fas fa-circle', )
    a(href="#").footer__soc
      i.fas.fa-rss(data-fa-transform='shrink-9 ', data-fa-mask='fas fa-circle', )
  .cell.large-13.medium-order-3.large-order-2
    .footer__wait Ждем ваших материалов по адресу 
      a(href="mailto:news@plusworld.ru").footer__mail news@plusworld.ru
    .footer__row
      a(target='_blank', href='http://cetera.ru/').footer__link Создание сайтов — Cetera Labs
      a(target='_blank', href='#').footer__link Политика конфиденциальности
      a(target='_blank', href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate_wireframe/').footer__link Сообщить об ошибке
    .margin-bottom-2 Copyright © 2012-2017 Retail-Loyalty.org. Все права защищены
    .margin-bottom-2 Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций. Свидетельства о регистрации ЭЛ № ФС77 — 70419 от 20 июля 2017 года.  
  .cell.large-4.padding-top-1.medium-order-2.large-order-3.medium-9
    a(href="#").footer__menu о портале
    a(href="#").footer__menu реклама
    a(href="#").footer__menu контакты
    
