h6 Новости
a(href="#").info
  .info__title Tesco запустила клубную карту лояльности следующего поколения
  .info__line
    .info__date 10:40, 13 Июля
    .info__cat Спецпроект 54-ФЗ
a(href="#").info
  .info__title Дорогостоящих покупок стало меньше
  .info__line
    .info__date 10:40, 13 Июля
    .info__cat Партнерский проект QIWI
a(href="#").info
  .info__title Ашан запустит трехэтажный флагман на Тверской
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info
  .info__title Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info
  .info__title АШАН открыл первый мобильный минимаркет AUCHAN BOX
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info
  .info__title Половина билетов на заказные автобусы будет продаваться онлайн?
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info
  .info__title Объем продаж на 18 крупнейших мировых онлайн-площадках превысил в 2016 году 1 трлн долларов
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info
  .info__title Троян Neutrino: безопасен для POS-терминалов, но не для рынка?
  .info__line
    .info__date 10:40, 13 Июля
a(href="#").info.info_last
  .info__title Tesco запустила клубную карту лояльности следующего поколения
  .info__line
    .info__date 10:40, 13 Июля
.margin-bottom-7
  a(href="#").button.button_arrow.hollow Читайте все новости
    include ../../../images/right-arrow.svg
.margin-bottom-11
  +advert('./i/rec.png')