.read-also
  .read-also__head Читайте также

  .read-also__item
    .grid-x.grid-padding-x
      .cell.large-10
        img.read-also__image(src="./i/sm1.png" alt="")
      .cell.large-14
        a(href="")
          h2.read-also__title «Актуальные вопросы микрофинансирования»
        p.read-also__text На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...

  .read-also__item
    .grid-x.grid-padding-x
      .cell.large-10
        img.read-also__image(src="./i/sm1.png" alt="")
      .cell.large-14
        a(href="")
          h2.read-also__title «Актуальные вопросы микрофинансирования»
        p.read-also__text На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...

  .read-also__item
    .grid-x.grid-padding-x
      .cell.large-10
        img.read-also__image(src="./i/sm1.png" alt="")
      .cell.large-14
        a(href="")
          h2.read-also__title «Актуальные вопросы микрофинансирования»
        p.read-also__text На конференции НАУМИР 6 июня в Санкт-Петербурге «Актуальные вопросы микрофинансирования» участники рынка обсудят эффективные бизнес-модели, ключевые вопросы автоматизации...
