div#data-stick-start
  div(data-sticky-container)
    .sticky(data-sticky data-top-anchor="data-stick-start:top" data-margin-top="1" data-btm-anchor="data-stick-end:bottom" data-sticky-on="medium")
      .read-in-nubmer
        h2.read-in-nubmer__head Читайте в номере

        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Закон о деятельности интернет-агрегаторов и повышение НДС: как отрасль восприняла новые инициативы регуляторов
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Факторинг не дает деньгам «спать»
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Новый имидж «Спасибо от Сбербанка»: в выигрыше все участники проекта!
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title LavkaLavka: как использовать блокчейн-технологии в построении уникальной системы лояльности
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title «Магнит»: ставка на цифровые технологии и искусственный интеллект
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Инновационные решения в ритейле: насколько это выгодно?
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title РЦ Ногинск – сердце кровеносной системы METRO
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg

        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Tax free для иностранцев в России: первые результаты оцениваются на отлично
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Автоматизация логистических процессов в HoReCa: почему по старинке уже не получится?
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title На пути ко всеобщей маркировке: взгляд Честного ЗНАКа
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Столото: лотерея как качественное дополнение к программе лояльности ритейла
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title «Wi-Fi-ловушки», или Как превратить «проходящих мимо» людей в покупателей
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Технологичный ритейл и искусство коммуникаций как драйверы розничного бизнеса
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title Проактивное руководство: формула успеха
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg
        .read-in-nubmer__item
          a(href="").read-in-nubmer__title R&L календарь 2018
          a(href="").read-in-nubmer__settings
            include ../../../images/lock.svg