ul
    li: a(href='corp-index.html' title='') Главная
    
    li: a(href='corp-regular.html' title='') Рядовая
    li: a(href='corp-about.html' title='') О портале
    li: a(href='corp-advertising.html' title='') Реклама
    li: a(href='corp-news.html' title='') Список новостей
    li: a(href='corp-news-category.html' title='') Список новостей категории
    li: a(href='corp-news-article.html' title='') Страница новости
    li: a(href='corp-events.html' title='') Список событий
    li: a(href='corp-event.html' title='') Страница события
    li: a(href='corp-archive-pages.html' title='') Архив номеров
    li: a(href='corp-page.html' title='') Номер
    li: a(href='corp-interview.html' title='') Интервью
    li: a(href='corp-rubric.html' title='') Рубрика
    li: a(href='corp-entry.html' title='') Статья
    li: a(href='corp-contacts.html' title='') Контакты
    li: a(href='corp-partners.html' title='') Партнеры
    li: a(href='corp-edition.html' title='') Редакция
    li: a(href='corp-for-authors.html' title='') Авторам
    li: a(href='corp-agencies.html' title='') Агентства
    li: a(href='corp-blog.html' title='') База знаний
    li: a(href='corp-blog.html#submit-term' title='') База знаний: Предложить термин
    li: a(href='corp-blog-article.html' title='') База знаний: Статья
    li: a(href='corp-translation.html' title='') Бюро переводов
    li: a(href='corp-form.html' title='') Форма
    li: a(href='corp-index.html#login-form' title='') Авторизация
    li: a(href='corp-index.html#login-form' title='') Регистрация
    li: a(href='corp-user-recovery.html' title='') Восстановление пароля
    li: a(href='corp-user-personal.html' title='') Личный кабинет
    li: a(href='corp-subscribe-page.html' title='') Подписка
    li: a(href='corp-search.html' title='') Результаты поиска
    li: a(href='corp-error.html' title='') Страница ошибки
    li: a(href='corp-sitemap.html' title='') Карта сайта
