.blank.blank_shadow(data-equalizer-watch)
  .blank__title.text-center будь в курсе
    br
    span.text-dark-gray новостей индустрии
  .blank__form
    input(type="text",placeholder="Электронная почта").blank__input
    button.blank__submit
      i.fas.fa-arrow-right