.blank.text-center.blank_journal
  .blank__title
    | ЖУРНАЛ
    |
    span.text-dark-gray RETAIL&#38;LOYALTY
    |
    | 5/2017
  p
    img(src="./i/rl4.png", alt="")
  .text-center
    a(href="#").button.hollow.blank__button читать online
    a(href="#").button.hollow.blank__button Подписатьcя