.journal#journal.show-for-large(data-toggler=".show-for-large"): .grid-container.journal__container: .grid-x.grid-padding-x
  .cell.medium-auto
    ul.news
      li.news__item
        a(href="#").news__link Журнал
      li.news__item
        a(href="#").news__link Новости
      li.news__item
        a(href="#").news__link Свежие статьи
      li.news__item
        a(href="#").news__link.news__link_add Плас-форумы
        .drop.drop_mini
          a(href="#").drop__link Ссылка
          a(href="#").drop__link Ссылка
          a(href="#").drop__link Ссылка
          a(href="#").drop__link Ссылка
      li.news__item
        a(href="#").news__link.news__link_add Проекты
        .drop.drop_mini
          a(href="#").drop__link Бюро переводов
          a(href="#").drop__link Исследования и обзоры
          a(href="#").drop__link Типография
      li.news__item
        a(href="#").news__link Реклама
      li.news__item
        a(href="#").news__link Контакты
      li.news__item
        a(href="#").news__link.news__link_subscribe Подписка
      li.news__item
        a(href="#").news__link.news__link_yellow Интернет-магазин

  .cell.medium-shrink.journal__info
    a(href="#").journal__flag
      img(src="./images/flag.svg", alt="")
    a(href="#").journal__enter
      span.journal__img: img(src="./images/Avatar.svg", alt="")
      span вход