table.header
  tr
    td.header__row
      span.header__logo
        a(href='http://servicekz.com/')
          img(src='http://servicekomplekt.beta3.ceteralabs.com/working/layout/images/logo.png',alt='')
  tr
    td.header__bord
      span.header__info
        table
          tr
            td.header__address
              | 150000 г.Ярославль, ул.Республиканская, 54-13
          tr
            td
              a(href='tel:74852672005').header__tel Тел. +7 4852 67-20-05
              a(href='tel:79106626867').header__tel сот. +7 910 662-68-67
          tr
            td
              a(href="mailto:manager@yamz-dizel.ru").header__tel E-mail: manager@yamz-dizel.ru
      span.header__info
        table.header__right
          tr
            td.header__inn
              | ИНН/КПП 7604204553/760401001
          tr
            td.header__inn
              | ОГРН 1117604006827
          tr
            td.header__inn
              | ОКПО 69949781
