table.b-main
  tr
    td(align="center").b-main__td
      center
        table.b-main__table
          tr
            td.b-main__pad
              table
                tr
                  td
                    include _header
                tr
                  td.b-main__topper
                    | Исх.№ 418/1 от 18.04.2016 года.
                tr
                  td
                    span.b-main__right.b-main__big
                      | ОАО «ПНК»
                      br
                      | Отдел снабжения
                tr
                  td.b-main__text
                    span.b-main__cap
                    | Предлагаем рассмотреть возможность поставки на Ваше предприятие запасных частей и агрегатов для автосамосвала Белаз:
                    br
                    | -  ГМП 7547-1700004-20 по цене 1 650 000 рублей с НДС. В наличие имеется 2 шт.
                    br
                    | -  ГМП 75405-1700004 по цене 630 000 рублей с НДС. В наличие имеется 2 шт.
                    br
                    | Данные агрегаты ранее не использовались.
                    br
                    | Перед отгрузкой проходят дополнительное ТО.
                    br
                    | Готовы рассмотреть доставку за счет Поставщика, для любого из Ваших предприятий.
                    br
                    | Форма оплаты – 40% предоплата, 30% отсрочка платежа 30 дней по факту отгрузки, 30% по факту отгрузки 60 дней.
                tr
                  td.b-main__text
                    | 1. Капитальный ремонт двигателей ЯМЗ:
                    br
                    | ЯМЗ-240М2 - 175 000 рублей
                    br
                    | ЯМЗ-240НМ2 210 000 рублей
                    br
                    br
                    | Срок выполнения заказа 5-7 рабочих дней.
                    br
                    br
                    | Также имеются в продаже восстановленные запчасти:
                    br
                    | ТНВД 901.8-20 (ямз-240НМ2) - 29500р
                    br
                    | ТНВД 90.8-20 (ямз-240м2) - 23500р
                    br
                    | форсунки 26.1112005 -230 - 550р
                    br
                    | головки цилиндров 240-1003013 - 4200р
                    br
                    | шатун 240-1004045 - 1900р
                tr
                  td.b-main__text
                    | 2. Капитальный ремонт агрегатов Белаз:
                    br
                    | ГМП:
                    br
                    | 540-1700004 - 240 000р
                    br
                    | 548-1700004 - 240 000р
                    br
                    | 7547-170000-01 (20) - 395 000р
                    br
                    | РЗМ:
                    br
                    | 75473-2402010 - 270 000р
                    br
                    | 540-2402010 - 150 000р
                    br
                    br
                    | Срок выполнения заказа 5-7 рабочих дней.
                tr
                  td.b-main__bottom.b-main__bigger
                    span.b-main__respect
                      | С уважением,
                      br
                      | Директор
                    span.b-main__half.b-main__director
                      | Трегубов А.И.

