.b-arrow
{
    position: fixed;
    right: 5px;
    bottom: 250px;

    display: none;

    width: 64px;
    height: 64px;

    background: url('../i/sprite-my.png') no-repeat -1430px -1334px;
    &__link
    {
        display: block;

        width: 100%;
        height: 100%;
        padding-top: 20px;

        text-align: center;
    }
    &__arr
    {
        display: inline-block;

        width: 37px;
        height: 24px;

        background: url('../i/sprite-my.png') no-repeat -1017px -1035px;
    }
}
