.b-basket
{
    &__rasporka
    {
        position: relative;

        width: 110px;
        height: 40px;
    }
    &__itog-row
    {
        padding-top: 8px;
    }
    &__cont-row
    {
        margin-top: 32px;
        padding-bottom: 30px;

        border-top: 1px solid #e9e9e9;
    }
    &__continue
    {
        float: right;

        padding-top: 19px;
        padding-right: 3px;
        padding-left: 3px;

        text-align: right;
        &-link
        {
            font-size: 24px;
            font-weight: 400;

            text-decoration: underline;

            color: #343436;
        }
    }
    &__itog
    {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;

        padding-right: 29px;
        padding-left: 33px;

        color: #343436;
    }
    &__sum
    {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.1;

        float: right;

        color: #343436;
    }
    &__oformit
    {
        float: right;

        width: 160px;
        height: 40px;

        background: url('../images/oformit.png');
        &-container
        {
            padding-right: 3px;
        }
        &:hover
        {
            background-color: transparent;
        }
    }
    &__table
    {
        width: 100%;

        border: 0;
    }
    &__thead
    {
        border: 0;
        background: none;
    }
    &__head-row
    {
        border: 0;
    }
    &__head-cell
    {
        font-size: 18px;
        font-weight: 400;

        text-align: center;

        color: #7f7f7f;
    }
    &__tbody
    {
    }
    &__row
    {
    }
    &__cell
    {
        padding: 2px 28px;

        text-align: center;

        border: 1px solid #e9e9e9;
        &_code
        {
            font-size: 18px;
            font-weight: 400;

            width: 9.5%;

            color: white;
            background-color: $myColor;
        }
        &_name
        {
            width: 43%;
        }
        &_cena
        {
        }
        &_ostalos
        {
            font-size: 18px;
            font-weight: 400;

            width: 8%;

            color: #333335;
        }
        &_sum
        {
            font-size: 30px;
            font-weight: 400;

            position: relative;

            color: #333335;
        }
    }
    &__close
    {
        position: absolute;
        top: 0;
        right: 0;

        display: inline-block;

        width: 23px;
        height: 23px;

        background: url('../i/sprite-my.png') no-repeat -431px -429px;
    }
    &__img
    {
        float: left;

        max-width: 128px;
    }
    &__title
    {
        padding-top: 5%;
        &-link
        {
            font-size: 18px;
            font-weight: 400;

            color: #333335;
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    &__price
    {
        font-size: 24px;
        font-weight: 400;

        width: 90px;
        margin-top: 19px;
        margin-bottom: 7px;
        margin-left: 5px;
        padding-top: 4px;
        padding-bottom: 4px;

        color: white;
        background-color: #c4d433;
    }
}
.scrollable .b-basket
{
    &__cell
    {
    }
}
@media (max-width:1020px)
{
    .b-basket
    {
        width: 99.4%;
        margin-right: .3%;
        margin-left: .3%;
    }
}
@media (max-width:960px)
{
    .b-basket
    {
        &__cell
        {
            padding: 3px 23px;
            &:first-child
            {
                padding: 3px 4px;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-basket__sum
    {
        float: none;
    }
}
@media (max-width:1020px) and (min-width:960px)
{
    .b-basket__itog
    {
        padding-right: 14px;
    }
}
