.b-oplata
{
    padding-top: 27px;
    &__col
    {
    }
    &__img
    {
    }
    &__title
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        color: #7f7f7f;
    }
    &__text
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        color: #d21531;
    }
    &__tel
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        color: #d21531;
    }
}
