.b-pop
{
    margin-top: 32px;
    &__show
    {
        position: absolute;
        right: 22px;
        bottom: 24px;

        width: 136px;
        height: 34px;
        padding-top: 6px;

        text-align: center;
        text-transform: uppercase;

        background-color: $myColor;
        &-link
        {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;

            color: white;
            &:hover
            {
                color: #000;
            }
        }
    }
    &__col
    {
        margin-bottom: 25px;
        padding-right: 0;
        padding-left: 0;
    }
    &__main
    {
        margin-top: 24px;
        padding-right: 23px;
        padding-left: 16px;
    }
    &__block
    {
        position: relative;
        &_active
        {
            z-index: 30;

            overflow: hidden;

            box-sizing: content-box;

            border: 2px solid #353535;
            a
            {
                display: block;
            }
            a > img
            {
                width: 105%;
                max-width: 105%;
                margin-right: 5%;
            }
        }
    }
    &__text
    {
        font-size: 18px;
        font-weight: 400;

        position: absolute;
        top: 22px;
        left: 10%;

        color: #383838;
    }
    &__bord
    {
        width: 55px;
        height: 6px;

        background-color: $myColor;
    }
}
@media (max-width:710px) and (min-width:350px)
{
    .b-pop__col
    {
        width: 50%;
        &:first-child
        {
            padding-left: 15px;
        }
    }
}
@media (max-width:350px)
{
    .b-pop__col
    {
        width: 80%;
        margin-left: 10%;
    }
}
