@font-face {
    font-family: 'Circe';
    src: url($fontsPath + '/Circe-ExtraBold.woff2') format('woff2'),
        url($fontsPath + '/Circe-ExtraBold.woff') format('woff'),
        url($fontsPath + '/Circe-ExtraBold.ttf') format('truetype'),
        url($fontsPath + '/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url($fontsPath + '/Circe-Bold.woff2') format('woff2'),
        url($fontsPath + '/Circe-Bold.woff') format('woff'),
        url($fontsPath + '/Circe-Bold.ttf') format('truetype'),
        url($fontsPath + '/Circe-Bold.svg#Circe-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url($fontsPath + '/Circe-ExtraLight.woff2') format('woff2'),
        url($fontsPath + '/Circe-ExtraLight.woff') format('woff'),
        url($fontsPath + '/Circe-ExtraLight.ttf') format('truetype'),
        url($fontsPath + '/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url($fontsPath + '/Circe-Regular.woff2') format('woff2'),
        url($fontsPath + '/Circe-Regular.woff') format('woff'),
        url($fontsPath + '/Circe-Regular.ttf') format('truetype'),
        url($fontsPath + '/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}




$font-circe: 'Circe', 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
