.site {
  position: relative;

  &__flow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__main {
    z-index: 8;
    position: relative;
  }

  &__order {
    width: 100%;
    display: block;
    margin-top: rem-calc(34);
    position: relative;
    font-size: rem-calc(18);
    color: $secondary-color;

    &:after {
      position: absolute;
      width: rem-calc(26);
      height: rem-calc(59);
      display: block;
      background: url($imagesPath +"/arrow-d.svg")no-repeat center;
      left: rem-calc(-28);
      top: rem-calc(-55);
      content: "";
    }
  }

  &__edit {
    font-weight: 700;
  }

  &__link {
    color: $quaternary;
    display: block;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(18);
  }

  &__inter {
    margin-bottom: rem-calc(30);
  }

  &__field {
    padding-top: rem-calc(214);
    height: rem-calc(750);
    padding-left: rem-calc(60);
    background-size: cover;
    background-position: center;
    padding-right: rem-calc(60);
    border: rem-calc(0);

    &_cat {
      padding-top: rem-calc(140);

      .header__logo svg * {
        fill: #ff5c80;
      }

      .header__logo rect+path {
        fill: $white;
      }
    }

    &_port {
      .header__logo svg * {
        fill: #ff5c80;
      }

      .header__logo rect+path {
        fill: $white;
      }
    }

    &_cont {
      padding-top: rem-calc(140);

      .header__logo svg * {
        fill: #64a4ec;
      }

      .header__logo rect+path {
        fill: $white;
      }
    }

    &_tertiary {
      .header__logo svg * {
        fill: $white;
      }

      .header__logo rect+path {
        fill: $tertiary;
      }
    }

    &_warning {
      .header__logo svg * {
        fill: $warning-color;
      }

      .header__logo rect+path {
        fill: $white;
      }
    }

    &_success {
      .header__logo svg * {
        fill: #6dc923;
      }

      .header__logo rect+path {
        fill: $white;
      }
    }
  }

  &__base {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  &__chevron {
    display: inline-block;
    margin-left: rem-calc(7);
    overflow: hidden;
    width: rem-calc(54);
    height: rem-calc(54);
    margin-right: rem-calc(7);
    margin-bottom: rem-calc(21);

    svg {
      width: rem-calc(54);
      height: rem-calc(54);
    }

    &:hover {
      use:nth-child(2) {
        fill: #f2f2f2;
      }
    }
  }

  &__icon {
    position: relative;
    top: rem-calc(3);
    width: rem-calc(14);
    display: inline-block;
    height: rem-calc(24);
  }

  &__span {
    margin-left: rem-calc(17);
  }

  &__faq {
    display: block;
    color: #73b5ef;
    font-size: rem-calc(20);
    font-weight: 800;
    margin-bottom: rem-calc(30);
    text-transform: uppercase;
    transition: 0s;

    &:active,
    &:focus,
    &:hover {
      path {
        fill: currentColor;
      }
    }

    &_alert {
      color: $alert-color;

      path {
        fill: $alert-color;
      }
      &:hover,&:focus,&:active{
        color: #e8447e;
        path {
          fill:#e8447e;
        }
      }
    }
  }

  &__port {
    margin-bottom: rem-calc(25);
  }

  &__way {
    font-size: rem-calc(16);
    height: calc(100% - 142px);
    overflow: auto;

    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
      background-color: $tertiary !important;
    }

    .mCSB_scrollTools .mCSB_dragger {}

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      width: rem-calc(4);
      border-radius: rem-calc(2);
      background-color: #73b5ef !important;
      margin-left: rem-calc(0);
      margin-top: rem-calc(3);
      margin-bottom: rem-calc(3);

      &:active,
      &:focus,
      &:hover {
        background-color: $tertiary !important;
      }
    }

    .mCSB_scrollTools .mCSB_draggerRail {
      width: rem-calc(10);
      border-radius: rem-calc(5);
      background: #e8e8e8;
      margin-left: rem-calc(-3);
      position: relative;

      &:after {
        width: rem-calc(10);
        height: rem-calc(7);
        border-radius: rem-calc(0 0 5 5);
        background: #e8e8e8;
        content: "";
        z-index: 5;
        position: absolute;
        bottom: rem-calc(0);
        left: rem-calc(0);
      }
    }
  }

  &__tel {
    font-size: rem-calc(18);
    color: $dark-gray;
    display: block;
    margin-bottom: rem-calc(11);
  }

  &__info {
    padding-top: rem-calc(48);
  }

  &__photo {
    width: rem-calc(250);
    overflow: hidden;
    max-width: 100%;
    box-shadow: rem-calc(4 4 18) rgba(46, 46, 46, 0.21);
    border-radius: rem-calc(16);
  }

  &__vacancy {
    font-size: rem-calc(18);
    line-height: 1;
    margin-bottom: 2rem;
  }

  &__manager {
    font-weight: 800;
    text-transform: uppercase;
    font-size: rem-calc(18);
    margin-bottom: rem-calc(10);
    color: $black;
  }

  &__text {
    color: $dark-gray;
    font-size: rem-calc(18);
    font-weight: 400;
    @include margin-level(bottom,yellow);
  }

  &__extra {
    font-size: rem-calc(48);
    letter-spacing: rem-calc(.76);
    font-weight: 800;
    display: block;
  }
  @include breakpoint(large down) {
    &__field {
      padding-top: rem-calc(130);
      padding-left: rem-calc(40);
      padding-right: rem-calc(40);
    }
  }
  @include breakpoint(medium down) {
    &__inter {
      margin-bottom: rem-calc(10);
    }

    &__vacancy {
      margin-bottom: rem-calc(10);
    }

    &__way {
      height: calc(100% - 82px);
    }

    &__info {
      padding-top: rem-calc(0);
    }

    &__base {
      justify-content: center;
    }

    &__flow {
      justify-content: flex-start;
    }

    &__extra {
      font-size: rem-calc(28);
    }
  }
  @include breakpoint(small only) {
    &__chevron {
      display: none;
    }

    &__order {
      margin-top: rem-calc(15);
      margin-left: rem-calc(10);

      &:after {
        top: rem-calc(-30);
      }
    }

    &__field {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      height: calc(100vh - 20px);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }
  @media (max-height: 770px) {
    &__field {
      height: calc(100vh - 20px);
    }
  }
  @media (max-height:600px) {
    &__field {
      padding-top: rem-calc(100);
    }
  }
  @media (max-height:460px) {
    &__h2 {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(0);
    }

    &__text {
      margin-bottom: rem-calc(10);
    }

    &__order {
      margin-top: rem-calc(15);
      margin-left: rem-calc(10);

      &:after {
        top: rem-calc(-30);
      }
    }

    .button_site {
      padding-top: rem-calc(13);
      padding-bottom: rem-calc(14);
    }

    &__extra {
      font-size: rem-calc(20);
    }

    &__row {
      display: flex;
      flex-flow: row wrap;
    }

    &__cell {
      width: 50%;
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
}
