@charset "utf-8";
// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$textSizes: (tiny: 0.7rem, xsmall: 0.8rem, small: 0.9rem, default: 1rem, large: 1.1rem, xlarge: 1.25rem, xxlarge: 1.5rem, xxxlarge: 2.5rem) !default;

@import "fonts";
@import "color";

@import "grid";
@import "mixins/margin-level";
@import "abide";
@import "card";
@import "drilldown";
@import "dropdown-menu";
@import "dropdown";
@import "media-object";
@import "off-canvas";
@import "orbit";
@import "slider";
@import "switch";
@import "thumbnail";
@import "title-bar";
@import "tooltip";
@import "top-bar";
@import "foundation-settings";

@import "slick.scss";
@import "foundation";
@import "motion-ui";
@import "fancybox";
@include foundation-everything(true, true);

@import "fa-layers";
@import "pagination";
@import "lead";
@import "progress";
@import "label";
@import "callout";
@import "sticky";
@import "responsive-embed";
@import "reveal";
@import "close-button";
@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "carousel/carousel";
@import "accordion";
@import "assist";
@import "background";
@import "badge";
@import "brand";
@import "breadcrumbs";
@import "button";
@import "canv";
@import "capt";
@import "cat";
@import "checkbox-group";
@import "client";
@import "comp";
@import "contacts";
@import "date";
@import "dd";
@import "desk";
@import "distinction";
@import "duct";
@import "enter";
@import "err";
@import "error";
@import "event";
@import "footer";
@import "header";
@import "hr";
@import "info";
@import "input-group";
@import "manager";
@import "map";
@import "mark";
@import "menu-base";
@import "menu-top";
@import "menu";
@import "news";
@import "object";
@import "partners";
@import "picture";
@import "postfix";
@import "prod";
@import "project";
@import "promo";
@import "quant";
@import "quest";
@import "rad";
@import "rating";
@import "referal";
@import "reg";
@import "rev";
@import "rubric";
@import "search";
@import "sect";
@import "services";
@import "share";
@import "shipment";
@import "side";
@import "soc";
@import "step";
@import "sticky-footer";
@import "tabs";
@import "text-size";
@import "text";
@import "tile";
@import "to-top";
@import "way";
@import "hangar";
@import "aloft";
@import "site";
@import "plane";
@import "field";
@import "mCustomScrollbar";
@import "vault";
@import "stage";
@import "phase";
@import "lot";
@import "space";
@import "js-hide";
