extends regular

block content
  .grid-container: .grid-x.grid-padding-x.align-center
    .cell.small-24.medium-16.large-12
      .info: h1 Вход для партнёров
      .info_down: .callout
        include components/common/_user-login-form      
