extends regular

block content
    .grid-container.info: .grid-x
        .cell.small-24.medium-15
            .sect: img(src='./i/photo.svg' alt='Страница сайта')
            .sect: img(src='./i/photo.svg' alt='Страница сайта')
            .sect: img(src='./i/photo.svg' alt='Страница сайта')
        .cell.small-24.medium-8.medium-offset-1
            h1 Сайт для сферы здравоохранения
            .info
                p.lead Откройте сайт больницы, поликлиники, частной клиники, стоматологического кабинета, массажного салона и других лечебно-профилактических учреждений. Привлекайте клиентов, информируйте пациентов.
                p: b Решение включает
                ul
                    <li>Веб-приложение «Сайт ЛПУ»</li>
                    <li>Веб-приложение «Интернет-аптека»</li>
                    <li><a href="https://cetera.ru/crm/">CRM</a> для ЛПУ</li>
                    <li><a href="https://cetera.ru/mobile/">Мобильное приложение</a>:
                    <ul>
                        <li>Семейный доктор</li>
                        <li>Мониторинг параметров</li>
                        <li>Запись ко врачу</li>
                        <li>Онлайн-консультации</li>
                        <li>Медицинская карта пациента</li>
                        <li>Назначения</li>
                        <li>Интерфейс интернет-аптеки</li>
                    </ul>
                    </li>
                    <li><a href="https://cetera.ru/crm/features/telephony/">Телефония</a></li>
                    <li><a href="https://cetera.ru/clients/ppc/">Контекстная&nbsp;реклама</a>
                    <ul>
                        <li><a href="https://cetera.ru/clients/geo/">Гиперлокальная&nbsp;реклама</a></li>
                    </ul>
                    </li>
                    <li><a href="https://cetera.ru/clients/smm/">Продвижение в соцсетях</a></li>
                    <li><a href="https://cetera.ru/clients/email/">Email-маркетинг</a></li>
                    <li><a href="https://cetera.ru/clients/content-marketing/">Контент-маркетинг</a></li>
                    <li><a href="https://cetera.ru/clients/inbound-marketing/">Inbound-маркетинг</a></li>

                p: b Возможности сайта
                ul
                    <li>Описание характеристик и фото автомобилей.</li>
                    <li>Прайс-лист на прокат.</li>
                    <li>Онлайн-оплата.</li>
                    <li>Новости.</li>
                    <li>Контактная информация.</li>
                    <li>Офисы проката на карте.</li>
                    <li>Информация о компании.</li>
                    <li>Форма обратной связи.</li>
                
                p: b Возможности платформы Fastsite
                ul
                    <li>Все <a href="http://www.fastsite.ru/about/">стандартные возможности</a> и <a href="http://www.fastsite.ru/about/advantages/">преимущества</a></li>
                    <li>Возможности редакции «<a href="http://www.fastsite.ru/about/editions/corp/">Корпоративный сайт</a>»</li>
                    <li>Индивидуальный дизайн и полный доступ к редактированию шаблонов</li>
                    <li>Добавление любых разделов и материалов</li>
                    <li>Полное управление всем текстовым содержимым сайта</li>
                    <li>Встроенные модули поисковой оптимизации</li>
                    <li>Домен второго уровня бесплатно</li>

                p
                    b Стоимость в месяц
                    br
                    span.stat 375&nbsp;000
                    |  руб
                    br
                p
                    <a href="https://cetera.ru/about/contacts/sales/">Уточните цены</a> на отдельные компоненты решения у менеджеров.
                
                p
                    a.button.expanded(href='') Заказать сайт
                    a.button.expanded.hollow(href='') Демо-версия
                p: a(href='') #[i.far.fa-file] Скачать типовой договор (pdf)
            hr.sect
            .sect.text-center: a(href=''): b Все решения
            