extends regular

include components/mixins/_mixin-madeonfastsite

block page
    .grid-container: .grid-x.grid-padding-x: .cell
        ul.breadcrumbs
            li
                a(href='corp-index.html' title='') Главная
        h1.text-center Что можно сделать на Fastsite
    .grid-container.info: .grid-x.grid-padding-x.align-center: .cell.large-20
        .grid-x.grid-padding-x.medium-up-3(data-equalizer data-equalize-by-row='true')
            +madeonfastsite('Мероприятие','Расскажите о мероприятии, покажите спикеров, настройте программу мероприятия по дням')
            +madeonfastsite('Ресторан','Расскажите о ресторане, покажите интерьеры, разместите меню, настройте бронирование столиков')
            +madeonfastsite('Салон красоты','Расскажите о салоне, опишите услуги и цены, настройте обратную связь')
            +madeonfastsite('Агентство недвижимости','Разместите каталог объектов недвижимости, опишите планировку и покажите фото объектов, расскажите об агентстве')
            +madeonfastsite('Новостройка','Опишите и сфотографируйте здания, настройте просмотр квартир')
            +madeonfastsite('Медицинский центр','Расскажите о медицинском центре, опишите услуги и выставьте прайс-лист, настройте обратную связь')
            +madeonfastsite('Банк','Расскажите об услугах банка, условиях кредитов и вкладов, настройте обратную связь')
            +madeonfastsite('Брокер','Опишите с какими рынками вы работаете, настройте обратную связь')
            +madeonfastsite('Управляющая компания (финансы)','Расскажите о компании, опишите услуги, настройте обратную связь')
            +madeonfastsite('Спортзал','Расскажите о спортзале, покажите тренеров, настройте покупку абонементов')
            +madeonfastsite('Автосервис','Расскажите об услугах, как проехать, время работы')
            +madeonfastsite('Автопрокат','Покажите фото и описание автомобилей, разместите прайс-лист')
            +madeonfastsite('Автосалон','Покажите модели автомобилей, настройте запись на тест-драйв')
            +madeonfastsite('Управляющая компания (ЖКХ)','Разместите график работы, документацию')
            +madeonfastsite('Здравоохранение','Расскажите о клинике, кабинете или салоне, разместите информаиию для клиентов и пациентов')
            +madeonfastsite('Развивающий центр для детей','Расскажите о своем центре, услугах, ценах')
            +madeonfastsite('Детский сад','Расскажите о детском саде, разместите информацию для родителей, покажите фотографии')
            +madeonfastsite('Школа','Опубликуйте информацию для родителей, выложите результаты экзаменов')
            +madeonfastsite('Школа иностранных языков','Расскажите о школе, добавьте курсы, настройте оплату')
            +madeonfastsite('Бизнес-тренинг','Расскажите о себе, и своих методиках, настройте обратную связь')
            +madeonfastsite('Гостиница','Опишите и сфотографируйте номера, настройте бронирование')
            +madeonfastsite('Парикмахерская','Опишите услуги,  добавьте прайс-лист и галерею')
            +madeonfastsite('Предприятие бытовых услуг','Расскажите о себе и своих услугах, разместите прайс-лист')