extends regular

block page
    .grid-container: .grid-x.grid-padding-x: .cell
        ul.breadcrumbs
            li
                a(href='corp-index.html' title='') Главная
            li
                a(href='corp-index.html' title='') Создание сайтов
        h1.text-center Возможности
    .grid-container.info
        .grid-x.grid-padding-x.align-center
            .cell.small-24.medium-14.large-16
                .info_down.lead.text-center В Fastsite всё что нужно для создания современных сайтов
        .grid-x.grid-padding-x.align-center: .cell.large-20
            .info_down.grid-x.grid-padding-x.align-center
                .cell.medium-11.large-8.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Структура
                    p Создавайте, изменяйте и удаляйте разделы сайта. 
                    .text-dark-gray
                        p В разделах можно размещать материалы разных типов (новости, товары, отзывы) и настраивать их отображение.
                        p На структуре разделов основано меню для посетителей.
                .cell.medium-11.medium-offset-1.large-8.large-offset-2.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Материалы
                    p Публикуйте материалы на сайт: новости, товары, отзывы. Редактируйте текст с помощью визуального редактора
                    .text-dark-gray
                        p Модуль позволяет создавать любое количество разных типов материалов с произвольным количеством полей.
                        p Визуальный редактор позволяет  форматировать текст, добалвять изображения, ссылки, загружать файлы для скачивания, вставлять скопированный текст с очисткой от HTML-тегов.
                .cell.medium-11.large-8.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Темы
                    p Меняйте дизайн сайта. Потребуются знания HTML, CSS, Twig
                    .text-dark-gray
                        P Редактор тем позволяет изменять оформление сайта, цвета, изображения фона; добавлять любые HTML-теги.
                .cell.medium-11.medium-offset-1.large-8.large-offset-2.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Права доступа
                    p Создавайте на сайте закрытые разделы с доступом по паролю
                .cell.medium-11.large-8.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 SEO-ссылки
                    p Закупайте SEO-ссылки для продвижения ваших сайтов в Интернете 
                    .text-dark-gray
                        p Закупка осуществляется в автоматическом или в ручном режимах. Источник ссылок — Seopult.
                .cell.medium-11.medium-offset-1.large-8.large-offset-2.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Контекстная реклама
                    p Создавайте рекламные объявления на основе страниц сайта автомаитчески или вручную
                    .text-dark-gray
                        p Модуль отправляет объявления в рекламные системы «Яндекс.Директ» и Google.Adwords.
                .cell.medium-11.large-8.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Формы
                    p: span.label Платный модуль от партнёра
                    p Создавайте на сайте формы любой сложности. Количество форм не ограничено. Каждую форму можно настроить отдельно.
                    .text-dark-gray
                        p Дизайн задается в шаблоне формы и позволяет интегрировать ее в любое место сайта.
                        p Набор доступных полей позволяет создать веб-форму любого типа: заявка, опрос и т.д.
                        p Результат формы отправляется на Email. Содержание и заголовок письма настраиваются в каждой форме.
                .cell.medium-11.medium-offset-1.large-8.large-offset-2.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 Карта сайта
                    p: span.label Платный модуль от партнёра
                    p Создавайте и размещайте список ссылок на самые важные разделы и страницы сайта.
                .cell.medium-11.large-8.info_down
                    .sect: img(src='./i/photo.svg')
                    h3 XML-sitemap
                    p: span.label Платный модуль от партнёра
                    p Формируйте sitemap.xml ссылок на страницы сайта для поисковых систем. 
                    .text-dark-gray
                        p Важный инструмент SEO оптимизации сайта. Создайтся для поисковых систем, а не для пользователей сайта.
                        p sitemap.xml указывает поисковым система страницы вашего сайта, которые нужно сканировать.
                        p Модуль автоматически сообщает поисковым системам о создании и обновлении sitemap.xml
                .cell.medium-11.medium-offset-1.large-8.large-offset-2.info_down
            
        .info_down.grid-x.grid-padding-x.align-center: .cell.medium-16
            h2.text-center Уникальный дизайн, широкая базовая функциональность, возможности развития сайта
            .text-center: a.button(href='') Создать сайт на Fastsite
            