extends regular

include components/mixins/_mixin-feedback

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1.text-center Отзывы
    .grid-container.info
        .grid-x.grid-padding-x.align-center
            .cell.small-24.medium-18.large-17
                .info_down.lead.text-center Fastsite помогает разным компаниям создавать и развивать присутствие в Интернете
            
        .grid-x.grid-padding-x
            .cell.medium-16.medium-offset-5
                .info_down: +feedback('Otto Group Russia')
                    p «После того, как мы достаточно плодотворно поработали в рамках Отто, мне хотелось бы видеть Cetera в составе потенциальных подрядчиков для моей новой компании»
            .cell.medium-16.medium-offset-2
                .info_down: +feedback('«К Сервис-ИТ», дистрибьютор IT оборудования')
                    p «Я на cetera готова просто молиться, там такая вдумчивая и оперативная тех.поддержка, что после *** я даже не представляла, что люди могут так хорошо работать.»
                    p «Что хотелось бы сказать. Начала работу с Сetera по тех.поддержке сайта. Они за 3 дня сделали больше, чем *** за месяц. Я не знаю, как дальше пойдет, но начало мне нравиться. Скорость реагирования гораздо быстрее, нет бесконечного согласования времени, огромной бюрократии, а главное нет безмозглого исполнения для галочки, зато есть понимание задач. Тьфу-тьфу, чтоб не сглазить.»
            .cell.medium-16.medium-offset-5
                .info_down: +feedback('Посёлок «Деревня мира»','Мая Вдовина')
                    p «Андрей, доброго дня! Я понимаю, что наш дизайн с этим меню не совсем удачен. Так как ваш дизайнер уже переработал большую часть нашего дизайна, можете обсудить задачу о изменении меню и вариантах. У нас уже оплачен дизайн страниц в рамках ДС с брендинговым агентством, но мы ребята очень живые, проектов очень много - каждый день что-то меняется, с вами работать в этом плане легче и оперативнее ;)»
            .cell.medium-16.medium-offset-2
                .info_down: +feedback('«Парацельс», сеть современных лечебных учреждений', 'Алла Сорокина')
                    p «Добрый день! Большое вам спасибо за профессионализм, за внимательность к деталям. Очень рада сотрудничеству с такой командой!»
            .cell.medium-16.medium-offset-5
                .info_down: +feedback('RRC Group', 'Ярослав Увенков')
                    p «Компания RRC выражает благодарность команде Cetera Labs, в частности менеджеру проекта Анастасии Мокшеевой за отличную работу в течении 4 лет. Отдельно просим поблагодарить программистов и системных администраторов проекта, которые беспрекословно и четко выполняют наши требования по внедрению новых функций на сайте и оперативно исправляют возникающие неполадки. Также передайте благодарность всем тем, кто учавствовал в обслуживании нашего веб-проекта.»
            .cell.medium-16.medium-offset-2
                .info_down: +feedback('Хоккейный клуб «Локомотив», Ярославль')
                    p Нашла вас через сайт интернет магазина ХК "Локомотив" Ярославль. Отличный сайт. Удобный и компактный.
            .cell.medium-16.medium-offset-5
                .info_down: +feedback('Торговая компания «Бизнес-мода»','Анна Булгакова')
                    p «Добрый вечер! Выставка началась. С сайтом нашим все хорошо. Я очень довольна. Начальство тоже не жалуется ;) Заодно на выставке есть возможность обсудить с генеральным запуск промосайтов. Надеюсь после выставки будет уже сформированное решение. Так что, ура!»
            .cell.medium-16.medium-offset-2
                .info_down: +feedback('Интернет-магазин «Василиса','Любовь Петрушенко')
                    p «Ирина, сказать как я рада вашему возвращению, ничего не сказать!) Выделите пожалуйста фразу Мы доставим его бесплатно. И инфо по купону нужно тоже выделить. Может сделать фон ярче? Как машинка цветом.»
                        br
                        | …
                        br
                        | — Был ли менеджер нормально доступен по Email и телефону в этом месяце? — Менеджер Анастасия Мокшеева, просто прекрасна, пре-кра-сна, так ей и передайте. обязательно!»
            .cell.medium-16.medium-offset-5
                .info_down: +feedback('Ruitstudio')
                    p «Мария, здравствуйте, на мой вкус, вы отличный менеджер по работе с клиентами. Поздравляю!»
            .cell.medium-16.medium-offset-2
                .info_down: +feedback('Галактика ИТ','Максим Горинский')
                    p «Божественно! ;-) Гениальная работа, Ирина! СПАСИБО от всей Души! В верстку СРОЧНО! Такой труд должен начать работать!!!»

            .cell.flex-container.align-center
                include components/common/_pagination
            