extends regular

mixin more-news(title, description)
    .card(data-equalizer-watch)
        .card-section.flex-container.flex-dir-column
            .flex-child-auto
                .sect.text-size-large= title
                .sect= description
            .flex-child-shrink.sect.text-dark-gray 08.11.2018

block content
    .grid-container.info: .grid-x.grid-padding-x
        .cell.small-24.medium-14.large-15
            .sect: img.width-75(src='./i/photo.svg')
            .sect.text-dark-gray 20 сентября 2018
            h1 Cetera заключила договор с ТМ «АВТОЛИГА»
            .info
                p Cetera заключила договор с ТМ «АВТОЛИГА» на комплексное обслуживание сайта http://avtoliga.net/. ТМ «АВТОЛИГА» занимается реализацией автозапчастей  и комплексным техническим обслуживанием и ремонтом любых легковых автомобилей,
                p ТМ «АВТОЛИГА»:
                    | магазины автозапчастей в г.Ярославле и г.Рыбинске для иномарок и отечественных автомобилей «ВАЗ, ОКА, ГАЗ, УАЗ»,
                    br
                    | магазины автоаксессуаров в г.Ярославле и г.Рыбинске,
                    br
                    | магазины автохимии и автомузыки в г.Ярославле и г.Рыбинске,
                    br
                    | Дилерский центр легковых автомобилей Honda и Hyundai
                    br
                    | Станция технического обслуживания по ремонту любых легковых автомобилей Honda и Hyundai. 
                include components/common/_share-links
            hr.sect
            .sect.text-center: a(href=''): b Все новости
        .cell.small-24.medium-10.large-8.large-offset-1
            h2 Другие новости
            +more-news('Cetera подписала договор с компанией «Европлант» на разработку промо-сайта www.gelositin.ru','Компания «Европлант» занимается дистрибуцией и продвижением продуктов на основе растительного сырья')
            +more-news('Cetera заключила договор с компанией ТОО «ДПД Казахстан»  на поисковую оптимизацию сайта','«ДПД Казахстан» оказывает транспортно-логистические услуг по уникальной технологии экспресс-экспедирования')
            +more-news('Сetera заключила договор с компанией ООО "Брокер Авто" на поисковую оптимизацию сайта standart-p.ru','ООО "Брокер Авто" — Российско-Шведская компания, оказывает микрофинансовые и консалтинговые услуги') 
                