extends corp-index

block slides
  .field.field_one
    .field__slide(style="background-image:url(./i/bg4.jpg);")
block inner-slides
  .site__field.site__field_cat(style="background-image:url(./i/under4.jpg);")
    include components/corporate/_header
    include components/common/_p1
    
