extends regular

block page
    .grid-container.info
        .grid-x.grid-padding-x.align-center: .cell.medium-18.large-16
            include components/common/_search
            .sect Результаты поиска 1-10 из 200
            hr.sect
            for i in [1,2]
                .sect
                    h3.project__title: a(href='' target='_blank') Сайт Бизнес «Индивидуальный дизайн»
                    div … создания до 450 #[b страниц], включая модули: #[b Страниц]а с текстом, HTML- #[b страниц]а , #[b Страниц]а с HTML ... Купон, Фотогалерея, Фотогалерея с альбомами, #[b Страниц]а с файлами (кол-во и ... пользователь). • Тестовое наполнение до 10 #[b страниц] сайта информацией о Вашей деятельности …
                    .sect.text-dark-gray Создание сайтов
                .sect
                    h3.project__title: a(href='' target='_blank') Сайт Бизнес «Дизайн из каталога»
                    div … основных разделов магазина: главной #[b страниц]ы , каталога товаров, карточки товара ... (5000 товаров), #[b Страниц]а с текстом, HTML- #[b страниц]а , #[b Страниц]а с HTML текстом, ... Индивидуальный тематический дизайн четырех #[b страниц] сайта (главная #[b страниц]а , каталог товаров, описание …
                    .sect.text-dark-gray Создание сайтов
                .sect
                    h3.project__title: a(href='' target='_blank') Посадочная #[b страниц]а «Новый год»
                    div Разработка лонгрида Новый год 2016 новогодняя #[b страниц]а на портале mos.ru #[b Страниц]а посвящена новогодним мероприятиям в столице. Создавая праздничное настроение, она должна рассказать посетителям …
                    .sect.text-dark-gray Портфолио
                .sect
                    h3.project__title: a(href='' target='_blank') Развитие сайта с нуля и увеличение продаж
                    div … Как правильно форматировать текст на #[b страниц]е , оптимизировать мета-теги и изображения ... . Как правильно оформлять #[b страниц]ы сайта Добрый день! После ... подбору запросов, распределению их по #[b страниц]ам , написанию текстов, подготовке изображений мы …
                    .sect.text-dark-gray Помощь
                .sect
                    h3.project__title: a(href='' target='_blank') Cайт Визитка
                    div … входит: * Создание сайта объемом 1 #[b страниц]а , с блоками: О компании, Продукция …
                    .sect.text-dark-gray Цены
            include components/common/_pagination