extends regular

block page
    .grid-container.info
        .grid-x.grid-padding-x.align-center: .cell.medium-18.large-16
            include components/common/_search
            p.text-size-xlarge Ничего не найдено