extends regular

block page
    .grid-container: .grid-x.grid-padding-x: .cell
        ul.breadcrumbs
            li
                a(href='corp-index.html' title='') Главная
        h1.text-center Создание сайтов
    .grid-container.info
        .grid-x.grid-padding-x.align-center
            .cell.small-24.medium-14.large-16
                .info_down.lead.text-center Fastsite — это конструктор сайтов от компании Cetera. Основан на Cetera CMS и методологии «Быстрый старт». Позволяет создать сайт за 1 минуту. 
        .grid-x.grid-padding-x.align-center: .cell.large-20
            .info_down.grid-x.grid-padding-x.medium-up-3(data-equalizer data-equalize-by-row='true')
                .cell: .callout(data-equalizer-watch)
                    h3 Корпоративный сайт
                    p.text-dark-gray Для сайта компании, сайта-визитки или лендинга (одностраничного сайта)
                    ul
                        li Все стандартные модули
                        li Базовая поисковая оптимизация
                        li Интеграция с социальными сетями
                        li Счётчик статистики посещаемости
                        li Адаптивный дизан — хорошо выглядит на большом экране и на телефоне
                        li Возможность изменение оформления сайта
                        li Возможность публикации материалов на сайт
                        li Загрузка и хранение файлов до 1 Гб бесплатно.
                    .grid-x.grid-padding-x
                        .cell.small-12
                            a.button.expanded(href='') Создать сайт
                        .cell.small-12
                            a.button.hollow.expanded(href='http://corp.fastsite.ru/') Демо-версия
                .cell: .callout(data-equalizer-watch)
                    h3 Интернет-СМИ
                    p.text-dark-gray Для Интернет-газеты или журнала, блога, сайта телеканала, фотопроекта
                    ul
                        li Все стандартные модули
                        li Базовая поисковая оптимизация
                        li Интеграция с социальными сетями
                        li Счётчик статистики посещаемости
                        li Адаптивный дизан — хорошо выглядит на большом экране и на телефоне
                        li Возможность изменение оформления сайта
                        li Возможность публикации материалов на сайт
                        li Загрузка и хранение файлов до 1 Гб бесплатно.
                        li: b Фотогалерея
                        li: b Новости и статьи
                        li: b Афиша событий
                        li: b Рассылка новостей
                        li: b Поиск по сайту
                        li: b Календарь материалов
                        li: b Комментарии
                    .grid-x.grid-padding-x
                        .cell.small-12
                            a.button.expanded(href='') Создать сайт
                        .cell.small-12
                            a.button.hollow.expanded(href='http://smi.fastsite.ru/') Демо-версия
                .cell: .callout(data-equalizer-watch)
                    h3 Интернет-магазин
                    p.text-dark-gray Для торговли через Интернет или корпоративного сайта с каталогом продукции
                    ul
                        li Все стандартные модули
                        li Базовая поисковая оптимизация
                        li Интеграция с социальными сетями
                        li Счётчик статистики посещаемости
                        li Адаптивный дизан — хорошо выглядит на большом экране и на телефоне
                        li Возможность изменение оформления сайта
                        li Возможность публикации материалов на сайт
                        li Загрузка и хранение файлов до 1 Гб бесплатно.
                        li: b Каталог неограниченной вложенности.
                        li: b Неограниченное количество товаров с любыми свойствами.
                        li: b Поиск по товарам
                        li: b Корзина
                        li: b Заказ
                        li: b Оплата (подключение к платёжному агрегатору PayU).
                        li: b Личный кабинет
                        li: b История заказов
                    .grid-x.grid-padding-x
                        .cell.small-12
                            a.button.expanded(href='') Создать сайт
                        .cell.small-12
                            a.button.hollow.expanded(href='http://shop.fastsite.ru/') Демо-версия
        .info_down.grid-x.grid-padding-x.align-center: .cell.medium-20
            h2.text-center В любой редакции Fastsite
            ul.grid-x.grid-padding-x.medium-up-2.no-bullet
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Возмоность заказать индивидуализацию от автора системы
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Возмоножсть отделить ваш сайт от системы и установить отдельно
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Наличие бесплатной версии
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Дополнительный зароботок за счёт партнёрской программы привлечения клиентов 
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Поддержка мобильных устройств по умолчанию
                li.cell.flex-container.sect
                    i.far.fa-check-circle.fa-lg.text-success.picture
                    |  Возможность продвижения сайтов включена в сосав системы   