extends regular

block content
  .grid-container: .grid-x.grid-padding-x
    .cell.small-24.medium-10.large-7.large-offset-1.medium-order-2
      include components/common/_sidebar-support
    .cell.small-24.medium-14.large-16.medium-order-1
      h1 Как создавать, редактировать и публиковать содержимое на сайт
      .info
        include components/common/_text