extends regular

block content
  .grid-container: .grid-x.grid-padding-x.align-center: .cell.large-20
    .info
      p: a(href='user-referal-program.html') #[i.fas.fa-chevron-left] Реферальная программа
      .callout
        h3 Статистика <a class="referal-stats-nav-item active" href="">по клиентам</a> <a class="referal-stats-nav-item" href="">по дате начисления</a></h3>
        table.unstriped
          thead
            tr
              <th>Email клиента</th>
              <th>Дата регистрации</th>
              <th>Окончания срока комиссии</th>
              <th>Сумма вознаграждения</th>
          tbody
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td><a data-toggle="user13-more" aria-controls="user13-more">7 145 ₽ <i class="fa fa-caret-down"></i></a>
                <div class="hide text-dark-gray" id="user13-more" data-toggler="hide" aria-expanded="false">Подробности списания</div>
              </td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td><a data-toggle="user15-more" aria-controls="user15-more">2 360 ₽ <i class="fa fa-caret-down"></i></a>
                <div class="hide text-dark-gray" id="user15-more" data-toggler="hide" aria-expanded="false">Подробности списания</div>
              </td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td><a data-toggle="user23-more" aria-controls="user23-more">7 145 ₽ <i class="fa fa-caret-down"></i></a>
                <div class="hide text-dark-gray" id="user23-more" data-toggler="hide" aria-expanded="false">Подробности списания</div>
              </td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td><a data-toggle="user25-more" aria-controls="user25-more">2 360 ₽ <i class="fa fa-caret-down"></i></a>
                <div class="hide text-dark-gray" id="user25-more" data-toggler="hide" aria-expanded="false">Подробности списания</div>
              </td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
            tr
              <td>clientmail@domain.com</td>
              <td>2018.04.03</td>
              <td>2019.04.04</td>
              <td>Ещё не было списаний</td>
                
        include components/common/_pagination    
