extends shop-regular

block content
    include components/mixins/_mixin-block

    .row
        .small-12.medium-5.column
            +stub('образ 1')(style='padding-bottom: 125%;')
        .small-12.medium-7.column
            .row
                .small-12.medium-11.medium-offset-1.column
                    h2 Элегантный Casual
                    p Насторящий тренд сеозна — цвет бордо, особенно если речь идёт о новых джегинсах в этом цвете. Сочетай как в формате тотал лук или добавляй небольшие акценты в небесных оттенках.
                    .row.small-up-1.medium-up-2.collapse
                        .column
                            a(href='#', title='')
                                +stub('товар')(class='stub-photo')
                        .column
                            a(href='#', title='')
                                +stub('товар')(class='stub-photo')
                        .column
                            a(href='#', title='')
                                +stub('товар')(class='stub-photo')
                        .column
                            a(href='#', title='')
                                +stub('товар')(class='stub-photo')

    br
    br
    hr

    .content
        .row.column
            h3 Другие образы
        .row.small-up-1.medium-up-3.large-up-5
            .column
                a(href='#', title='')
                    +stub('образ 1')(class='stub-photo')
            .column
                a(href='#', title='')
                    +stub('образ 2')(class='stub-photo show-for-medium')
            .column
                a(href='#', title='')
                    +stub('образ 3')(class='stub-photo show-for-medium')
            .column
                a(href='#', title='')
                    +stub('образ 4')(class='stub-photo show-for-large')
            .column
                a(href='#', title='')
                    +stub('образ 5')(class='stub-photo show-for-large')