a {
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  text-decoration-skip-ink: none;
}

*:focus {
  outline: none;
}
main {
  display: block;
}
fieldset {
  border: rem-calc(0);
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: rem-calc(22);
}

body:not(.outline) * {
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

body {
  line-height: 1.533;
  font-size: rem-calc(16);
  font-family: $font-messiri;
}


@media (max-width: 640px) {
  html {
    font-size: 2.8vw;
  }
}
