.header {
  margin: 0 auto;
  width: rem-calc(700);
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);

  &__logo {
    font-size: rem-calc(40);
    font-weight: 400;
  }

  &__block {
    padding-top: rem-calc(20);
    padding-left: rem-calc(100);
  }

  &__link {
    text-decoration: none;
    font-size: rem-calc(20);
    display: inline-block;
    margin-left: rem-calc(20);
    color: #222;
    font-weight: 600;

    &:active,
    &:focus,
    &:hover {
  text-shadow:rem-calc(0 0 0) #000;
    }
  }
  @media (max-width: 640px)
  {
    &__block {
      padding-left: rem-calc(20);
      text-align: right;
    }
  }
}
