footer.footer
  .row
    .large-6.columns.medium-9.columns.footer__logo
      a(href="#")
        img(src="./images/logo-copy.png", alt="")
      p.footer__par
        |&copy; 1991-2016 Центр Иностранных Языков 
    .large-5.columns.medium-7.footer__social
      a.footer__ico(href="#")
        span.footer__icon.footer__icon_vk
      a.footer__ico(href="#")
        span.footer__icon.footer__icon_fb
      a.footer__ico(href="#")
        span.footer__icon.footer__icon_tw
      a.footer__ico(href="#")
        span.footer__icon.footer__icon_in
    .large-7.columns.medium-7.footer__address
      a.footer__tel(href="tel:+74852731725") +7 (4852) 731-725 
      span.footer__geo ул.&nbsp;Республиканская, д.&nbsp;31, корп.&nbsp;2
    .large-6.columns.medium-24.columns.footer__info
      a.footer__tel(href="tel:+74852305080 ") +7 (4852) 305-080 
      span.footer__geo ул.&nbsp;Первомайская, д.&nbsp;25 
      .footer__par
        |ИН-ТИ-СИ Создание сайта - 
        a.footer__cetera(href="http://cetera.ru/") Cetera Labs 