.header
  .row
    .top-bar
      .top-bar-title
        span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
          button.menu-icon.dark(type='button', data-toggle='')
        a(href="#").header__mini-logo.show-for-small-only
          img(src="./images/logo.png", alt="Logotype")
      #responsive-menu
        .header__logo.medium-5.hide-for-small-only.columns
          a(href="#")
            img(src="./images/logo.png", alt="Logotype")
        .top-bar-left.medium-19.columns.text-right
          ul.dropdown.menu(data-dropdown-menu='')
            li.header__li
              a(href="#").header__li-link о нас
            li.header__li
              a(href="#").header__li-link новости
            li.header__li
              a(href="#").header__li-link услуги
            li.header__li
              a(href="#").header__li-link цены
            li.header__li
              a(href="#").header__li-link контакты
