.top
  .top__slider
    .top__slide
      img(src="./images/1.png", alt="")
      .top__block
        h1.top__h1 do you speak english?
        h2.top__h2 Английский язык для детей 
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ
    .top__slide
      img(src="./images/2.png", alt="")
      .top__block
        h1.top__h1.top__h1_business Деловой английский?
        h2.top__h2.top__h2_mini Полный спектр лингвистических
          span.top__h2.top__h2_micro услуг для корпоративных клиентов 
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ   
    .top__slide
      img(src="./images/3.png", alt="")
      .top__block
        h2.top__h2 Курсы иностранных языков!
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ 
    .top__slide
      img(src="./images/4.png", alt="")
      .top__block
        h1.top__h1.top__h1_business обучение за рубежом 
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ 
    .top__slide
      img(src="./images/5.png", alt="")
      .top__block
        h1.top__h1 Все виды переводов
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ 
    .top__slide
      img(src="./images/6.png", alt="")
      .top__block.top__block_left
        h1.top__h1 Все виды переводов
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ 
    .top__slide
      img(src="./images/7.png", alt="")
      .top__block.top__block_left
        h1.top__h2.top__h2_big Экзамен для эмигрантов
        h2.top__h1 по русскому языку
        a.top__enroll(href="#") записаться на курс
        a.top__walk(href="#") ПРОЙТИ ТЕСТ  
  .header
    .row
      .top-bar
        .top-bar-title
          span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
            button.menu-icon.dark(type='button', data-toggle='')
          a(href="#").header__mini-logo.show-for-small-only
            img(src="./images/logo.png", alt="Logotype")
        #responsive-menu
          .header__logo.medium-5.hide-for-small-only.columns
            a(href="#")
              img(src="./images/logo.png", alt="Logotype")
          .top-bar-left.medium-19.columns.text-right
            ul.dropdown.menu(data-dropdown-menu='')
              li.header__li
                a(href="#").header__li-link о нас
              li.header__li
                a(href="#").header__li-link новости
              li.header__li
                a(href="#").header__li-link услуги
              li.header__li
                a(href="#").header__li-link цены
              li.header__li
                a(href="#").header__li-link контакты
.services
  .row
    .columns.text-center.services__title наши услуги
  .row
    .large-17.large-centered.small-24.columns
      .row.medium-up-4.small-up-2
        .columns
          .services__block
            .services__img.services__img_1
            .services__text 
              | Языковые 
              br 
              | курсы
        .columns
          .services__block
            .services__img.services__img_2
            .services__text 
              | Экзамен по русскому
              br 
              | для мигрантов
        .columns
          .services__block
            .services__img.services__img_3
            .services__text 
              | Обучение
              br 
              | за рубежом
        .columns
          .services__block
            .services__img.services__img_4
            .services__text 
              | Переводы
        .columns
          .services__block
            .services__img.services__img_5
            .services__text 
              | Оформление
              br 
              | визы
        .columns
          .services__block
            .services__img.services__img_6
            .services__text 
              | Детские лагеря
        .columns
          .services__block
            .services__img.services__img_7
            .services__text 
              | Сведения
              br 
              | об организации
        .columns
          .services__block
            .services__img.services__img_8
            .services__text 
              | Русский язык
              br 
              | для иностранцев
.clients
  .row
    .large-21.large-centered.small-24.columns
      .row.medium-up-3.small-up-1
        .columns.text-center
          .clients__block
            .clients__img.clients__img_1
            .clients__text корпоративным клиентам
        .columns.text-center
          .clients__block
            .clients__img.clients__img_2
            .clients__text Взрослым
        .columns.text-center
          .clients__block
            .clients__img.clients__img_3
            .clients__text детям
.spec
  .row
    .columns.text-center.spec__title спецпредложения
  .row
    .columns.spec__first
      .spec__block
        img(src="./images/11.png", alt="курс подготовки к егэ по английскому")
        .spec__text
          |курс подготовки к егэ по английскому
      .spec__block
        img(src="./images/12.png", alt="городской лингвистический лагерь зимой")
        .spec__text
          |городской лингвистический лагерь зимой
    .columns.spec__second.hide-for-small-only
      .spec__block
        img(src="./images/13.png", alt="цены на корпоративное обучение")
        .spec__text
          |цены на корпоративное 
          br
          |обучение
      .spec__block
        img(src="./images/14.png", alt="сертификат по русскому языку")
        .spec__text
          |сертификат по 
          br
          |русскому языку
      .spec__block
        img(src="./images/15.png", alt="курс туристического английского")
        .spec__text
          |курс туристического
          br
          |английского
    .columns.spec__first.end
      .spec__block
        img(src="./images/16.png", alt="суперцены на обучение")
        .spec__text
          |суперцены
          br
          |на обучение
      .spec__block
        img(src="./images/17.png", alt="Английский клуб")
        .spec__text
          |Английский 
          br
          |клуб
.learning
  .row
    .medium-12.small-24.columns.text-center.learning__bri
      .learning__want хочу учиться
      .learning__img
      .learning__britain в Великобритании
      .learning__rubr
        a.learning__link.learning__link_left(href="#")
        a.learning__link.learning__link_right(href="#")
    .medium-12.small-24.columns.pay
      .pay__title Оплатить обучение
      form(action="#")
        input.pay__input(type="text",placeholder="имя студента")
        input.pay__input(type="text",placeholder="сумма оплаты")
        button(type="submit").pay__submit оплатить обучение
.gallery
  .row
    .large-15.columns.gallery__block
      .gallery__title галерея событий
      .gallery__text 1 смена городского лагеря 2014, конкурс Евровидение"
      a.gallery__link(href="#") смотреть все фотособытия
      a.gallery__video(data-open="exampleModal1")
        img(src="./images/vid.png", alt="")
      #exampleModal1.reveal.gallery__modal(data-reveal='')
        iframe( src='//www.youtube-nocookie.com/embed/wnXCopXXblE?rel=0', allowfullscreen='')
.welcome
  .row
    .columns.text-center.welcome__title Добро пожаловать на сайт ИН-ТИ-СИ!
  .row
    .large-12.small-24.columns.welcome__lpar
      p
        |ИН-ТИ-СИ – первая языковая школа в Ярославле. С 1991 года мы обучили иностранным языкам более 15000 человек.
      p
        |На наших курсах иностранных языков вы можете обучаться английскому, немецкому, французскому, испанскому, итальянскому или японскому языку как в группе, так и индивидуально, или выбрать корпоративную форму обучения. Вы можете пройти стандартный или интенсивный курс с русскоязычными преподавателями или с носителем языка, а также подготовиться к международным экзаменам. Мы обучаем детей и взрослых в течение года, а также организуем детские лингвистические лагеря во время каникул. Повысить эффективность обучения помогают наши клубы английского и французского языков, проходящие еженедельно с носителями языка.
      p
        |ИН-ТИ-СИ является официальным представителем зарубежных школ  и институтов, и предлагает языковые и специализированные курсы для взрослых, каникулярные программы для детей, среднее и высшее образование по всему миру.  
      p
        |Во время каникул мы организуем групповые образовательные поездки для школьников с нашими сопровождающими.
    .large-12.small-24.columns.welcome__rpar
      p
        |Мы работаем напрямую с зарубежными школами, по их ценам.
      p
        |Бюро переводов ИН-ТИ-СИ выполнит высококачественные устные или письменные переводы любой тематики и сложности в кратчайшие сроки. На данный момент переводы осуществляются с 55 языков, в том числе переводы документов с нотариальным заверением.
      p
        |Центр ИН-ТИ-СИ поможет получить визу в Великобританию, США, Канаду, Ирландию, а также в страны Шенгенского соглашения в максимально короткий срок, без необходимости личного присутствия в посольстве. Если вы испытываете трудности в получении визы, не уверены в положительном результате или просто не хотите тратить свое время на многочасовые очереди в посольстве, обращайтесь в ИН-ТИ-СИ!
      p
        |С февраля 2013 года ИН-ТИ-СИ является аккредитованным центром тестирования по сдаче экзамена по русскому языку для трудящихся мигрантов и для получения гражданства.
      p
        |Ждем Вас! 
