.row.large-up-3(data-equalizer,data-equalize-by-row="true").text-center.large-text-left.cartoon.cartoon_ico
  .columns.convector.cartoon__block
    p.text-center
      a(href="#")
        img(src="./i/lux1.jpg", alt="")
    .convector__info(data-equalizer-watch)
      a(href="#").convector__title Кварцевый камень
      p Соединение природного минерала кварца, высококачественной полиэфирной смолы и цветовых пигментов. Причём, доля природного кварца, одного из самых прочных природных материалов, составляет 91-93%, в зависимости от производителя, остальные 7-9% соответственно приходятся на смолы и пигменты.
    .convector__info
      p.convector__brands
        a(href="#")
          img(src="./i/brand1.jpg", alt="")
        a(href="#")
          img(src="./i/brand4.jpg", alt="")
        a(href="#")
          img(src="./i/brand3.jpg", alt="")
      p.text-center
        a(href="#").button.hollow Каталог кварцевого камня
  .columns.convector.cartoon__block
    p.text-center
      a(href="#")
        img(src="./i/lux2.jpg", alt="")
    .convector__info(data-equalizer-watch)
      a(href="#").convector__title Акриловый камень
      p Современный композитный материал. Был изобретён учеными фирмы DuPont под руководством Доналда Слокума в 1967 году. Основными компонентами искусственного камня являются акриловые смолы Метилметакрилат и Полиметилметакрилат, гидроксид алюминия, натуральные минеральные наполнители и пигментные добавки...
    .convector__info
      p.convector__brands
        a(href="#")
          img(src="./i/brand3.jpg", alt="")
        a(href="#")
          img(src="./i/brand4.jpg", alt="")
      p.text-center
        a(href="#").button.hollow Каталог акрилового камня
  .columns.convector.cartoon__block
    p.text-center
      a(href="#")
        img(src="./i/lux3.jpg", alt="")
    .convector__info(data-equalizer-watch)
      a(href="#").convector__title Керамика
      p Что может быть лучше старой, доброй, проверенной годами, керамики. Она лежит по всей стране и ещё пролежит долгие и долгие года. Только самый качественный материал для изготовления. Большой выбор цветовых оттенков. Укрепительные добавки,делающие изделие еще более прочным...
    .convector__info
      p.convector__brands
        a(href="#")
          img(src="./i/brand5.jpg", alt="")
        a(href="#")
          img(src="./i/brand4.jpg", alt="")
      p.text-center
        a(href="#").button.hollow Каталог керамики
