a.fa-stack.soc(href="#3")
  i.fa.fa-circle.fa-stack-2x
  i.fa.fa-facebook.fa-stack-1x.fa-inverse
a.fa-stack.soc(href="#3")
  i.fa.fa-circle.fa-stack-2x
  i.fa.fa-twitter.fa-stack-1x.fa-inverse
a.fa-stack.soc(href="#3")
  i.fa.fa-circle.fa-stack-2x
  i.fa.fa-google-plus.fa-stack-1x.fa-inverse
a.fa-stack.soc(href="#3")
  i.fa.fa-circle.fa-stack-2x
  i.fa.fa-instagram.fa-stack-1x.fa-inverse
a.fa-stack.soc(href="#3")
  i.fa.fa-circle.fa-stack-2x
  i.fa.fa-linkedin.fa-stack-1x.fa-inverse
