ul#tabs.tabs.tabs_blue(data-tabs='')
  li.tabs-title.is-active
    a(href='#panel1') Характеристики
  li.tabs-title
    a(href='#panel2') Сертификаты
  li.tabs-title
    a(href='#panel3') Виды кромок
  li.tabs-title
    a(href='#panel4') Галерея работ из этого камня
.tabs-content.tabs-content_blue(data-tabs-content='tabs')
  #panel1.tabs-panel.is-active
    strong Параметры слэба:
    p
      |Размер: 3050×1400 мм
      br
      |Толщина: 20 мм
    strong Область применения:
    p
      |Наружная облицовка - декоративные элементы фасада.
      br
      |Внутренняя облицовка - стена, колонна, пол, лестница, камин, столешница
    strong Форма поставки камня:
    p Плита (слэб) размером ~ 200-350×120-200 см
    strong Структура:
    p тонкозернистая
    strong Плотность:
    p 12,8 гр на дм2
  #panel2.tabs-panel
    .cert.cert_tabs
      .cert__slide
        p
          a(href="#")
            img(src="./i/certificate1.jpg", alt="")
      .cert__slide
        p
          a(href="#")
            img(src="./i/certificate2.jpg", alt="")
      .cert__slide
        p
          a(href="#")
            img(src="./i/certificate3.jpg", alt="")
      .cert__slide
        p
          a(href="#")
            img(src="./i/certificate1.jpg", alt="")
  #panel3.tabs-panel
    .quartz
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 1
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 2
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 3
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 4
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 5
      .quartz__slide.text-center
        .quartz__img
          a(href="#")
            img(src="./i/quartz.jpg", alt="")
        p.quartz__title Quartz Model 6

    hr
    p
  #panel4.tabs-panel
    h2 Галерея
