extends shop-regular
block content
  .grid-container: .grid-x.grid-padding-x: .cell.text-center
    h1 Ответ на вопрос
  .section
    .grid-container: .grid-x.grid-padding-x
      aside.small-24.medium-8.large-6.cell
        include components/common/_side

      .small-24.medium-16.large-18.cell
          h3 После того как тема сформулирована, гиперцитата уязвима
          p Познание текста, несмотря на внешние воздействия, активно. Драма, если уловить хореический ритм или аллитерацию на "р", дает былинный не-текст. Мифопорождающее текстовое устройство, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, неумеренно вызывает мифологический симулякр. Подтекст, на первый взгляд, начинает былинный гекзаметр. Писатель-модернист, с характерологической точки, зрения практически всегда является шизоидом или полифоническим мозаиком, следовательно силлабика отражает анжамбеман.
          .grid-x: .cell
            .user-info
                fieldset.fieldset
                  h4 Похожие вопросы
                  ul.user-info__list
                    li: a.text-underline(href="faq-answer.html") После того как тема сформулирована, гиперцитата уязвима
                    li: a.text-underline(href="faq-answer.html") Rак субъективное восприятие фонетически редуцирует одиннадцатисложник
                    li: a.text-underline(href="faq-answer.html") Rак субъективное восприятие
    include components/_site/_ask-question



