doctype html
html.no-js(lang='ru')
  include components/service/_head
  body(id="body")
    include components/mixins/_mixin-nested-menu
    include components/shop/_header-2

    include components/shop/_mixin-product-tile
    include components/shop/_mixin-product-tile-сoplect
    include components/shop/_mixin-product-line
    include components/shop/_add-to-favourites-auth-popup

    block page
      include components/common/_content
    


    include components/shop/_footer
    include components/service/_js
