extends shop-index

block page
  include components/common/_breadcrumbs
  block content
    .grid-container.text-center
      h1 Поиск по текстовым разделам
    .section
      .grid-container
        include components/common/_search
