.visit(data-toggler=".hide")#country.hide
  .row.collapse
    .small-12.columns.text-right
  .visit__main
    .row
      .small-6.columns.visit__title
        img(src="./i/Flag_of_Russia.svg", alt="") 
        | Россия
      .small-4.columns.visit__title.text-right
        span.visit__gray (14 119)
      .small-2.columns.text-right
        .visit__icons.visit__icons_country
          a(href="#",data-toggle="country").text-light-gray
            i.fa.fa-times  
  p
  .visit__main
    .row
      .column
        a(href="#").visit__link Подробнее
