@font-face {
  font-family: "Exo2-Light";
  src: url("../css/fonts/Exo2-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-Exo2-Light: "Exo2-Light", Arial, sans-serif;

@font-face {
  font-family: "Exo2-LightItalic";
  src: url("../css/fonts/Exo2-LightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-Exo2-LightItalic: "Exo2-LightItalic", Arial, sans-serif;

@font-face {
  font-family: "lcd";
  src: url("../css/fonts/lcd2.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-lcd: "lcd", Arial, sans-serif;

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../css/fonts/Philosopher-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-Philosopher-Bold: "Philosopher-Bold", Arial, sans-serif;

@font-face {
  font-family: "Philosopher-BoldItalic";
  src: url("../css/fonts/Philosopher-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-Philosopher-BoldItalic: "Philosopher-BoldItalic", Arial, sans-serif;


// @font-face {
//   font-family: "Philosopher-Italic";
//   src: url("../css/fonts/Philosopher-Italic.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }
// $font-family-Philosopher-Italic: "Philosopher-Italic", Arial, sans-serif;

@font-face {
  font-family: "Philosopher-Regular";
  src: url("../css/fonts/Philosopher-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$font-family-Philosopher-Regular: "Philosopher-Regular", Arial, sans-serif;
@font-face {
  font-family: "OpenSansBold";
  src: url("../css/fonts/OpenSansBold.eot");
  src: url("../css/fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("../css/fonts/OpenSansBold.woff") format("woff"),
  url("../css/fonts/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSansBold: "OpenSansBold", Arial, sans-serif;

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../css/fonts/OpenSansSemiBold.eot");
  src: url("../css/fonts/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"),
  url("../css/fonts/OpenSansSemiBold.woff") format("woff"),
  url("../css/fonts/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-OpenSansSemiBold: "OpenSansSemiBold", Arial, sans-serif;

