  @media #{$medium-only} {
    .b-contests {
      &__carousel{
        &-title {
          font-size: rem-calc(32);
          line-height: rem-calc(32);
        }
        &-desc {
          font-size: rem-calc(14);
        }
        &-time {
          font-size: rem-calc(14);
        }
        &-navigation{
          padding-bottom: rem-calc(15);
          &-time{
            font-size: rem-calc(11);
          }
          &-title {
            font-size: rem-calc(13);
          }
        }
        &-li {
          &-bg {
            background-position: center bottom;
          }
        }
      }
    }
  }

  @media #{$small-only} {
    .b-contests {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(10);
      &__carousel{
        &-title {
          font-size: rem-calc(24);
          line-height: rem-calc(24);
          margin-bottom: rem-calc(10);
        }
        &-desc {
          font-size: rem-calc(14);
        }
        &-time {
          font-size: rem-calc(14);
        }
        &-navigation{
          padding-bottom: rem-calc(15);
          &-time{
            font-size: rem-calc(11);
          }
          &-title {
            font-size: rem-calc(13);
          }
          &_prev {
            width: rem-calc(18);
            height: rem-calc(15);
            background-position: rem-calc(0 -234);
            margin-left: rem-calc(-10);
          }
          &_next {
            width: rem-calc(18);
            height: rem-calc(15);
            background-position: rem-calc(-21 -234);
            margin-right: rem-calc(-10);
          }
        }
        &-li {
          &-bg {
            background-position: center bottom;
          }
        }
      }
    }
  }