.b-dostoprim{
  &-items{
    &-four{
      &-item{
        .b-place__add {
          z-index: 11;
        }
        &-bg{
          &__link {
            display: inline-block;
            width: 100%;
            height: 100%;
            z-index: 10;
            position: relative;
          }
        }
      }
    }
  }
}
  @media #{$medium-only} {
    .b-dostoprim{
      &-items{
        &-four{
          &-item {
            &:nth-child(1), &:nth-child(2) {
              margin-bottom: rem-calc(10);
            }
            &:nth-child(1), &:nth-child(3)  {
              margin-right: 2%;
            }
            width: 49%;
            &-bg {
              max-width: 100%;
              height: rem-calc(400);
            }
            &-data{
              width: 100%;
            }
          }
        }
      }
      &-categories {
        &__second {
          right: 0;
          &:before {
            display: none;
          }
        }
      }
    }
    .js-dostoprim-items-four-item-bg__link {
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 10;
      position: relative;
    }
  }

  @media #{$small-only} {
    .js-dostoprim-items-four-item-bg__link {
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 10;
      position: relative;
    }
    .b-dostoprim{
      &-items{
        &-four{
          &-item {
            width: 100%!important;
            margin-bottom: rem-calc(20);
            height: rem-calc(350);
            &-bg {
              width: 100%;
              height: rem-calc(350);
            }
            &-data {
              width: 100%;
              &__desc{
                p {
                  font-size: rem-calc(13);
                  padding: 0;
                  padding-bottom: rem-calc(10);
                }
              }
            }
          }
        }
      }

      &-categories {
        margin-top: 0;
        &__second {
          left: 0;
          width: 100%;
          &:before {
            display: none;
          }
        }
      }
    }
  }