.b-footer {
    padding-bottom: 0;
  &-metrika {
    padding-bottom: 0;
    padding-top: 0;
  }
}
  @media #{$medium-only} {
    .b-footer{
      &__row {
        padding-bottom: rem-calc(15);
      }
    }
  }

  @media #{$small-only} {
    .b-footer{
      &__row {
        padding-bottom: rem-calc(15);
      }
    }
  }