.b-map {
  &__inner{
    &-block {
      &.b-map {
        &__inner{
          &-block {
            &_41 {
              top: rem-calc(28);
            }
          }
       }
      }
    }
  }
  &__disable{
    &-drag {
      cursor: pointer;
      z-index: 10;
      position: absolute;
      height: rem-calc(18);
      line-height: rem-calc(18);
      padding: rem-calc(0 10);
      font-size: rem-calc(14);
      background-color: $orange;
      margin: rem-calc(7);
      border-radius: rem-calc(7);
      color: #fff;
    }
  }
}
