.b-object {
  &-detail {
    &__tabs{
      &-border{
        border-top: 1px solid #d7cab4;
      }
    }
    &__header {
        margin-bottom: rem-calc(5);
    }
  }
}
  .b-object {
    &-detail{
      &-hotel{
        &__comfort {
          &:before {
            float: left;
            margin-top: rem-calc(7);
          }
          &-div {
            float: left;
            position: relative;
            width: 90%;
          }
        }
      }
    }
  }
  @media #{ $large-down} {
  .b-object {
    &-detail{
      &__tabs{
        &-li {
          margin-right: 0;
        }
        &-border{
          border-bottom: 1px solid #d7cab4;
        }
      }
      &-hotel{
        &__comfort {
          font-size: rem-calc(13);
        }
      }
    }
  }

  .b-objects {
    &__content{
      &-item {
        &-big {
          width: 100%;
          margin-left: 0;
          top: 50%;
          height: 50%;
          &__title {
            left:3%;
            padding-top: 5%;
            width: 90%;
          }
          &__corner {
            display: none;
          }
        }
        &__box{
          &_bottom{
            &-big{
              width: 100%;
              padding-left: rem-calc(15);
            }
          }
        }
      }
    }
  }
}
@media #{ $large-down} {
  .b-objects{
    &__content{
      &-item{
        &-more {
          font-size: rem-calc(12);
          width: auto;
          padding-left: rem-calc(5);
          padding-right: rem-calc(5);
          height: rem-calc(20);
          line-height: rem-calc(20);
          margin-top: rem-calc(8);
        }
      }
    }
  }
}
  @media #{$medium-only} {
    .b-objects {
      &__content{
        &-box{
          &_cols{
            &21 {
              width: 65.5%;
            }
            &12 {
              width: 32.5%;
            }
          }
          &_21 {
            width: 48.5%;
          }
          &_11 {
            width: 48.5%;
          }
        }
        &-item {
          &__box{
            &-title {
              width: 100%;
              float: none;
            }
            &-counter {
              width: 100%;
              float: none;
              position: relative;
              margin-top: rem-calc(-15);
            }
          }

          &-desc{
            max-height: 50%;
            overflow: hidden;
          }
          &-title{
            font-size: rem-calc(18);
          }
        }
      }
    }
  }

  @media #{$small-only} {
    .b-object {
      &-detail{
        &__more{
          &-inf{
            padding-left: 0;
          }
        }
        &__adress{
          &-span {
            word-break: normal;
            max-width: 80%;
          }
        }
        &__title{
          &-h1 {
            font-size: rem-calc(24);
            line-height: rem-calc(28);
          }
        }
      }
    }

    .b-objects {
      &-list {
        &__filter{
          &-name{
            &-box {
              margin-top: 0;
            }
          }
        }
        padding-top: 0;
        &__select{
          &-separate {
            height: rem-calc(30);
          }
        }
      }

      &__title {
        font-size: rem-calc(19);
        line-height: rem-calc(20);
      }
      &__content{
        &-box{
          &_cols{
            &21 {
              width: 100%;
              height: auto;
            }
            &12 {
              width: 100%;
              height: rem-calc(285);
            }
          }
          &_21 {
            width: 100%;
          }
          &_11 {
            width: 100%;
          }
        }
        &-item {
          &-title{
            font-size: rem-calc(16);
          }
        }
      }
      &__back {
        margin: 0;
        margin-bottom: rem-calc(10);
      }
    }
    .back-box {
      height: rem-calc(45)!important;
    }
    .chosen-select {
      margin-bottom: 0!important;
    }
  }
