  @media #{$medium-only} {
    .b-plan{
      background-image: url("../i/bg-plan_1024.jpg");
      &__title {
        font-size: rem-calc(32);
        line-height: rem-calc(32);
      }
      &__desc {
        font-size: rem-calc(14);
      }
    }
  }

  @media #{$small-only} {
    .b-plan{
      background-image: url("../i/bg-plan_640.jpg");
      height: rem-calc(400);
      padding-top: rem-calc(20);
      &-i{
        height: 100%;
        &__button {
          top: rem-calc(-60);
          position: relative;
          margin-top: 0;
        }
      }

      &__title {
        font-size: rem-calc(24);
        line-height: rem-calc(24);
        margin-bottom: rem-calc(15);
      }
      &__desc {
        font-size: rem-calc(12);
      }
    }
  }