@media #{$medium-only} {
  .b-sights{
    &__title {
      font-size: rem-calc(32);
      line-height: rem-calc(32);
    }
    &__desc {
      font-size: rem-calc(14);
    }
  }
}

@media #{$small-only} {
  .b-sights{
    &__title {
      font-size: rem-calc(19);
      line-height: rem-calc(24);
      margin-bottom: 0;
    }
    &__desc {
      font-size: rem-calc(12);
    }
  }
  hr {
    margin: rem-calc(10 0);
  }
}