@media #{ $large-down} {
  .b-tabs{
    &_turn {
      cursor: pointer;
      margin-bottom: rem-calc(5);
      color: white;
      background-color: $orangelighter;
      border-radius: rem-calc(5);
      padding: rem-calc(0 10);
    }
  }
}

@media #{ $small-only} {
  .b-tabs{
    &_turn {
      &-box {
        display: inline-block;
        width: 100%;
      }
    }
  }
}