doctype html
html.no-js(lang='ru')
    include components/service/_head
    body(style="background-image: url(./images/background.png);")
        include components/common/_header
        include components/common/_content
        
        include components/common/_footer
        include components/service/_js.html
