doctype html
html.no-js(lang='ru')
    include components/service/_head
    body(style="background-image: url(./images/kids.png);")
        include components/common/_header
        
        include components/mixins/_mixin-slider
        include components/common/_menu
        include components/common/_cat
        
        +slider('kid.png')
        include components/common/_news
        include components/common/_photo
        include components/common/_partners
        
        include components/common/_footer
        include components/service/_js.html
