.cloud
  .row.columns.text-center
    .control 
      h2.control__main Облака под контролем_
    p.lead Платформа Bento Cloud предлагает своим партнерам уникальный инструмент для построения нового и расширения текущего бизнеса, основанного на управлении и контроле доступа к облачным решениям и сервисам ведущих мировых и отечественных производителей  
  .row.medium-up-2
    .columns.feature
      .row
        .small-4.columns.feature__img
          img(src="./images/earth.svg", alt="")
        .small-20.columns  
          h4 Широкие возможности
          p Персональный подход к партнеру, техническая экспертиза, ориентированность на клиента и географическое присутствие в 15 крупных городах России, позволяют нам гибко адаптироваться к потребностям партнера и расширять его текущий бизнес быстро и эффективно
    .columns.feature
      .row
        .small-4.columns.feature__img
          img(src="./images/compas_arrow.svg", alt="")
        .small-20.columns  
          h4 Операционная деятельность
          p Наш успех в организации управления всего процесса продаж, обеспечении простоты и доступности процесса управления заказчиками, что является гарантией достижения положительных результатов для партнеров Bento Cloud
    .columns.feature
      .row
        .small-4.columns.feature__img
          img(src="./images/platform.svg", alt="")
        .small-20.columns  
          h4 Платформа Bento Cloud
          p Платформа Bento Cloud представляет собой экосистему для партнеров и их заказчиков, позволяющая и предоставляющая доступ к облачным сервисам, управлению финансовыми потоками, формированию счетов и актов выполненных работ по методу единого окна.
    .columns.feature
      .row
        .small-4.columns.feature__img
          img(src="./images/user.svg", alt="")
        .small-20.columns  
          h4 Команда
          p Дополнительным ресурсом, который мы предоставляем нашим партнерам, является команда профессионалов Bento Cloud, состоящая из экспертов по маркетингу, продажам, бухгалтерскому учету, финансам и технической поддержки
.additional
  .row.columns.text-center
    .control
      h2.control__main
        | Дополнительные предложения от 
        br
        b Bento Cloud
  .row
    .large-23.large-centered.columns      
      .row.large-up-5.medium-up-3.small-up-2.collapse
        a(href="/appstore").columns.shop.text-center
          .shop__inner
            .shop__img
              img(src="./i/f05.jpg", alt="")
              img(src="./images/wallet.svg", alt="").shop__icon
            .shop__title.text-left Промо программы и Акции от Bento Cloud
        a(href="/appstore").columns.shop.text-center
          .shop__inner
            .shop__img
              img(src="./i/f01.jpg", alt="")
              img(src="./images/shopbag.svg", alt="").shop__icon
            .shop__title.text-left Он-лайн магазин от Bento Cloud
            p.text-left Он-лайн магазин с вашим логотипом
        a(href="/appstore").columns.shop.text-center
          .shop__inner
            .shop__img
              img(src="./i/f02.jpg", alt="")
              img(src="./images/settings.svg", alt="").shop__icon
            .shop__title.text-left Программы для партнеров
            p.text-left Управляйте своей комиссией сами
        a(href="/appstore").columns.shop.text-center
          .shop__inner
            .shop__img
              img(src="./i/f03.jpg", alt="")
              img(src="./images/folder_cloud.svg", alt="").shop__icon
            .shop__title.text-left Университет Bento Cloud
            p.text-left Вся база знаний в одном месте
        a(href="/appstore").columns.shop.text-center
          .shop__inner
            .shop__img
              img(src="./i/f04.jpg", alt="")
              img(src="./images/platform.svg", alt="").shop__icon
            .shop__title.text-left Программы для производителей
            p.text-left Сервис ваш — платформа наша
.know
  .row.columns.text-center
    .control
      h2.control__main
        | Узнайте, что такое 
        b Bento Cloud
  .row
    .large-7.medium-11.columns.calendar.text-center.medium-text-left
      .calendar__title Календарь событий 
      include _table
      .calendar__legend.text-left
        div
          .calendar__square.calendar__square_simple
          | - Предстоящее событие
        div
          .calendar__square.calendar__square_important
          | - Важное событие
        div
          .calendar__square
          | - Прошедшее событие
    .large-12.medium-13.columns.know__text
      h3 Наш продуктовый портфель
      .mb45
      p Задача, которую мы ставим перед собой, представить Вам наиболее популярные облачные сервисы и решения от лидирующих производителей, которые помогут повысить вашу привлекательность на рынке и упростить способы ведения бизнеса.     
      p
        a(href="/services/").know__more Узнать больше 
    .large-5.columns.medium-13
      .download
        img(src="./images/pdf.svg", alt="").download__pdf
        span.download__info
          .download__line PDF
          .download__size 1,4 МБ
      p
        a(href="#").know__link Презентация компании   
.gradient 
  .row.columns.text-center
    .control
      h2.control__main Новости
  .row.medium-up-3(data-equalizer,data-equalize-by-row="true")
    .columns.news(data-open="exampleModal1")
      .news__img(data-equalizer-watch)
        img(src="./i/news1.png", alt="")
      .news__date 04 апреля | 2017
      h4.news__title Семинар «Персональные данные, безопасность и конфиденциальность в облачных сервисах»    
      p.news__text Компания RRC совместно с лидером мировых поставок ИТ решений Microsoft приглашают вас принять участие в мероприятии с обсуждением самой актуальной темы последнего времени: ...
      #exampleModal1.reveal.large(data-reveal='')
        button.close-button.reveal__close-button(data-close='', aria-label='Close modal', type='button')
          span(aria-hidden='true') × 
        include _news-detail
        
    .columns.news(data-open="exampleModal1")
      .news__img(data-equalizer-watch)
        img(src="./i/news2.png", alt="")
      .news__date 04 апреля | 2017
      h4.news__title Показ платформы Bento Cloud   
      p.news__text Хотите узнать больше об облачной платформе Bento Cloud? Зарегистрируйтесь на показ платформы 30-го марта!...
    .columns.news(data-open="exampleModal1")
      .news__img(data-equalizer-watch)
        img(src="./i/news3.png", alt="")
      .news__date 04 апреля | 2017
      h4.news__title Новые технологии — новые каналы?
      p.news__text Развитие облачных вычислений приведет к большей специализации. Облака повлияют на модель потребления ИТ....
  .testimonials
    .row.columns
      .chief.text-center
        .chief__slide
          p.chief__text Мы считаем, что благодаря платформе Bento Cloud, партнеры смогут укрепить свои позиции на рынке, и выделить себя из числа конкурентов. А команда профессионалов Bento Cloud, состоящая из экспертов по технической поддержке, маркетингу, продажам, бухгалтерскому учету и финансам всегда готова прийти на помощь!
          .boss
            .boss__img
              img(src="./i/default-boy.jpg", alt="")  
            .boss__author Александр Колмыков
            .boss__role Руководитель проекта Bento Cloud
        .chief__slide
          p.chief__text В рамках нашего стратегического партнерства, BentoCloud помог нам укрепить наши взаимоотношения с Заказчиками благодаря расширению наших собственных облачных сервисов, управлению ценообразованием и маркетинговыми программами.
          .boss
            .boss__img
              img(src="./i/default-boy.jpg", alt="")  
            .boss__author Вадим Габель
            .boss__role Руководитель отдела по Стратегическому развитию компания NetCube
include _vendors
  
          
    
