.dropdown-pane#dropdown1.project( data-dropdown data-hover="true" data-hover-pane="true")
  .row.medium-up-2(data-equalizer,data-equalize-by-row="true")
    .columns
      .project__block(data-equalizer-watch)
        .row
          .small-4.columns.project__img.text-center
            img(src="./images/structure.svg", alt="")
          .small-20.columns
            .project__info
              a(href="http://www.bentocloud.ru/services#infrastructure").project__title Инфраструктура
            .row.small-up-2
              .columns
                a(href='/services/azure/').project__link Azure  
              .columns
                a(href='/services/ProAzure/').project__link ProAzure
    .columns
      .project__block(data-equalizer-watch)
        .row
          .small-4.columns.project__img.text-center
            img(src="./images/services.svg", alt="")
          .small-20.columns
            .project__info
              a(href='/services#services').project__title Сервисы
            div
              a(href='/services/visio/').project__link Microsoft Visio Pro для Office 365
            div
              a(href='/services/MS-CRM/').project__link Microsoft Dynamics CRM Online
            div
              a(href='/services/ms-one-drive/').project__link Microsoft One Drive
            div
              a(href='/services/exchange-online/').project__link Microsoft Exchange Online
    .columns
      .project__block(data-equalizer-watch)
        .row
          .small-4.columns.project__img.text-center
            img(src="./images/cloud.svg", alt="")
          .small-20.columns
            .project__info
              a(href='/services#biz-apps').project__title Бизнес-приложения
            div
              a(href='/services/ms-project/').project__link Microsoft Project
            div
              a(href='/services/O365/').project__link Office 365
            div
              a(href='/services/ms-windows/').project__link Microsoft Windows 10
    .columns
      .project__block(data-equalizer-watch)
        .row
          .small-4.columns.project__img.text-center
            img(src="./images/message.svg", alt="")
          .small-20.columns
            .project__info
              a(href='/services#communications').project__title Коммуникации
            div
              a(href='/services/skype/').project__link Microsoft Skype for Business
.dropdown-pane#dropdown2.project( data-dropdown data-hover="true" data-hover-pane="true")
  .row.medium-up-2(data-equalizer,data-equalize-by-row="true")
    .columns
      .project__block(data-equalizer-watch)
        .project__info(data-magellan)
          a.project__title(href='#stories') Истории успеха
    .columns
      .project__block(data-equalizer-watch)
        .project__info
          a.project__title(href='https://store.bentocloud.ru/') Тестовый магазин
    .columns
      .project__block(data-equalizer-watch)
        .project__info(data-magellan)
          a.project__title(href='#info') Информация о сервисах
.dropdown-pane#dropdown3.project( data-dropdown data-hover="true" data-hover-pane="true")
  .row.medium-up-2(data-equalizer,data-equalize-by-row="true")
    .columns
      .project__block(data-equalizer-watch)
        .project__info
          a.project__title(href='/about/news/') Новости
    .columns
      .project__block(data-equalizer-watch)
        .project__info
          a.project__title(href='/about/promo/') Промо-программы

          
