footer.footer
  .row.columns.text-center.medium-text-left
    ul.support
      each title in ['Решения','Поддержка','Стать партнером','База знаний','О проекте']
        li.support__item
          a(href="#").support__link= title
    div © ООО «БТИ Клауд», 2017. Все права защищены.      
