.row.news-detail
  .row.news-detail__header
    .column.small-24.medium-4
      | 10 мая | 2017
    .column.small-24.medium-14.text-right
      | Источник: http://www.bentocloud.ru
  .row.column 
    h2.news-detail__title Быстрое создание профессионально выглядящих схем
    .news-detail__slider
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img.jpg" alt="")
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img.jpg" alt="")
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img.jpg" alt="")
    p Облака – один из немногих сегментов ИТ-рынка, который растет двузначными темпами, несмотря на кризис, а во многом даже благодаря нему. На российском рынке обозначились ярко выраженные локальные тенденции. Драйвером рынка является не экономия, а доступность ИТ-инфраструктуры «по запросу». Процветает клиентоориентированный подход, что объясняется ориентацией провайдеров на крупный бизнес в отсутствие СМБ. Растет ответственность поставщиков, выраженная в деньгах. Клиенты критикуют провайдеров за высокую стоимость услуг. Несмотря на позитивную динамику сегмента, у заказчиков по-прежнему много претензий к облакам, выяснилось во время конференции, которую провели CNews Conferences и CNews Analytics 8 сентября 2016 г.
    .news-detail__line
    p В настоящий момент за более чем 45 минут простоя мы возвращаем клиенту 25% месячной стоимости, за 8 часов – 50%, за сутки простоя – 100%, сообщил директор по развитию облачных сервисов LanCloud Сергей Ерин. Однако в некоторых случаях ущерб от простоя сервиса для заказчика может оказаться значительно выше стоимости месячной подписки. В этом случае облачный провайдер может застраховать риски в страховой компании и включить стоимость страховки в цену облачной услуги.
    .news-detail__slider
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img-2.jpg" alt="")
        .news-detail__slider-desc-wrap.medium-10
          p.news-detail__slider-desc Сергей Ерин, директор по развитию облачных сервисов LanCloud:
          p.news-detail__slider-desc Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img-2.jpg" alt="")
        .news-detail__slider-desc-wrap.medium-10
          p.news-detail__slider-desc Сергей Ерин, директор по развитию облачных сервисов LanCloud:
          p.news-detail__slider-desc Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»
      .news-detail__slider-text-box
        img.news-detail__slider-img(src="i/news-img-2.jpg" alt="")
        .news-detail__slider-desc-wrap.medium-10
          p.news-detail__slider-desc Сергей Ерин, директор по развитию облачных сервисов LanCloud:
          p.news-detail__slider-desc Западе рынок движется в сторону стандартизации услуг: «либо ешь как есть, либо не ешь совсем»

    p С точки зрения заказчиков, важным фактором доверия провайдеру является не только наличие гарантий в SLA, но и примеры реальных кейсов, когда клиенты получали возмещение в случае отказа сервисов. В работе LanCloud было два подобных случаях, поделился Сергей Ерин: «Один раз в течение трех часов был недоступен сервис Skype for Business, во время второго инцидента в течение часа не работал сервис «1С». После обоих инцидентов мы выплатили клиентам 25% стоимости месячной подписки». По его словам, в одном случае причиной сбоя стал некорректный апдейт ПО Microsoft, в другом – ошибка инженера. При этом совершенствуются не только договоры SLA, но и качество самих услуг. «Потенциальные проблемы с соседством заказчиков в публичном облаке мы решили внедрением флэш-массивов. Теперь у нас есть очень производительные диски в облаке, до 100 тыс. IOPS. Полностью управляемая производительность дает нам возможность предоставлять дополнительный SLA на производительность дисковых подсистем», – рассказал Сергей Зинкевич, эксперт по гибридным облакам «Крок». Проблему удалось решить с помощью внедрения флеш-массивов, благодаря чему в облаке появились сверхпроизводительные диски с показателями до 100 тыс. IOPS. 
    .row.column.text-right.news-detail__footer
        | Павел Лебедев
    .row.column
        h3.news-detail__title-similar-theme Новости на похожую тему
    .row.large-up-4.medium-up-3.small-up-1        
      .columns.news(data-open="exampleModal1")
        .news__img(data-equalizer-watch)
          img(src="./i/news4.png", alt="")
        .news__date 10 мая | 2017
        h4.news__title Подборка полезных материалов по Azure
        p.news__text У нас накопилось много бесплатных материалов по работе с облаком, поэтому мы решили поделиться с вами самыми последними из них. Под катом вы найдёте описание 6 ...
      .columns.news(data-open="exampleModal1")
        .news__img(data-equalizer-watch)
          img(src="./i/news5.jpg", alt="")
        .news__date 05 мая | 2017
        h4.news__title Интервью Исполнительного директора RRC Group, Михаила Косилова, телеканалу ПРО БИЗНЕС
        p.news__text Как заработать миллионы на ИТ-дистрибуции, как управлять  "облаками" с помощью Bento Cloud...
      .columns.news(data-open="exampleModal1")
        .news__img(data-equalizer-watch)
          img(src="./i/news6.png", alt="")
        .news__date 04 мая | 2017
        h4.news__title Microsoft Windows 10 E3/E5 – новый сервис на платформе Bento Cloud
        p.news__text Познакомьтесь с функциональными возможностями платформы Bento Cloud, которые помогут расширить Ваши коммерческие предложения для Заказчиков и увеличить продажи ...
      .columns.news(data-open="exampleModal1")
        .news__img(data-equalizer-watch)
          img(src="./i/news6.png", alt="")
        .news__date 04 мая | 2017
        h4.news__title Microsoft Azure и платформа Bento Cloud – просто о сложном
        p.news__text Возможности платформы Bento Cloud при предоставлении такого сервиса как Microsoft Azure....
