.vendors
  .row.columns.text-center
    .control
      h2.control__main Наши вендоры и решения
    .solution.text-center
      .solution__slide
        img(src="./i/v1.svg", alt="")
      .solution__slide
        img(src="./i/v2.svg", alt="")
      .solution__slide
        img(src="./i/v3.svg", alt="")
      .solution__slide
        img(src="./i/v4.svg", alt="")
      .solution__slide
        img(src="./i/v5.svg", alt="")
      .solution__slide
        img(src="./i/v6.svg", alt="")
      .solution__slide
        img(src="./i/v7.svg", alt="")
      .solution__slide
        img(src="./i/v8.svg", alt="")
      .solution__slide
        img(src="./i/v9.svg", alt="")
      .solution__slide
        img(src="./i/v10.svg", alt="")
