.advantages {
  padding-top: 40px;
  margin-bottom: 42px;
  &__block {
    height: inherit;
    text-align: center;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
    position: relative;
    margin-bottom: 23px;
    float: left;
    border: 1px solid #d3d4d5;
  }
  &__img {
    padding-bottom: 21px;
  }
  &__title {
    padding-bottom: 40px;
    color: #303030;
    font-size: 18px;
    line-height: 1.44;
    font-family: $font-family-futuraBold;
    &_share {
      text-align: left;
      padding-bottom: 55px;

    }
  }
  &__date {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.99);
    color: #00accc;
    line-height: 1.1;
    font-size: 18px;
    text-align: left;
    width: calc(100% - 28px);
    bottom: 17px;
    position: absolute;

  }
}
@media (max-width:959px) {
    .advantages {
      &__img {
        width: 50%;
        float: left;
      }
      &__title {
        text-align: left;
        font-size: 24px;
        padding-bottom: 20px;
        padding-left: 23px;
        float: left;
        width: 50%;
        &_share {
          padding-bottom: 40px;
        }
      }
      &__date {
        left:calc(50% + 23px);
        width: calc(50% - 23px);
      }
    }
}
@media (max-width:640px) {
    .advantages {
      &__date {
        font-size: 20px;
        width:calc(100% - 30px);
        left: 15px;
        bottom: 9px;
      }
      &__block {
        padding-left: 14px;
        padding-right: 14px;
      }
      &__img {
        width: 100%;
        padding-bottom: 16px;
      }
      &__title {
        padding-left: 0;
        width: 100%;
        &_share {
          padding-bottom: 45px;
        }
      }
    }
}