.breadcrumbs {
  background: #f9f9f9;
  &__list {
    list-style-type: none;
    margin: 0;
  }
  &__li {
    float: left;
    &:last-child a {
      &:after {
        display: none;
      }
    }
    &-link {
      margin-top: 7px;
      display: block;
      font-size: 16px;
      color: #a5a8ab;
      &:after {
        margin-left: 14px;
        margin-right: 10px;
        color: #e1e1e1;
        content: '\002F';
      }
    }
  }
}