.email {
  padding-top: 38px;
  background: #f7f7f7;
  padding-bottom: 44px;
  &__title {
    color: #303030;
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 23px;
  }
  &__submit {
    background-image: linear-gradient(to top, #00accc 0%, #0cd 100%);
    border: 1px solid #eaeaea;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(0, 172, 204, 0.2);
    text-align: center;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 45px;
    padding-left: 51px;
    padding-right: 51px;
    transition:.5s all;
    outline:none;
    font-size: 18px;
    &:hover {
      color: #2f44dd;
    }
    &:active {
      box-shadow:none;
      transform:translateY(2px);
    }
  }
}
input.email__input {
  color: #a5aaad;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 10px;border: 1px solid #d3d4d5;
  border-radius: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 47px;

}
@media (max-width:960px) {
    .email {
      &__submit {
        font-size: 24px;
      }
      &__title {
        font-size: 22px;

      }
    }
  input.email__input {
    font-size: 24px;
    padding-left: 18px;
    margin-bottom: 29px;
  }
}