@font-face {
  font-family: "futuraNormal";
  src: url(#{$fontsPath}/futuraNormal.ttf) ;
  font-style: normal;
  font-weight: normal;
}

$font-family-futuraNormal: "futuraNormal", Arial, sans-serif;

@font-face {
  font-family: "futuraBold";
  src: url(#{$fontsPath}/futuraBold.woff) ;
  font-style: normal;
  font-weight: normal;
}

$font-family-futuraBold: "futuraBold", Arial, sans-serif;

@font-face {
  font-family: "futuraLight";
  src: url(#{$fontsPath}/futuraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-futuraLight: "futuraLight", Arial, sans-serif;

@font-face {
  font-family: "georgiaItalic";
  src: url(#{$fontsPath}/georgiaItalic.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

$font-family-georgiaItalic: "georgiaItalic", Arial, sans-serif;
