.footer {
  background: #00395d;
  position: relative;

  &__copy {
    color: #fff;
    font-size: 17px;
    padding-bottom: 48px;
  }
  &__soc {
    padding-right: 48px;

  }
  &__address {
    padding-left: 0;

    padding-top: 48px;
    font-size: 18px;
    line-height: 1.54;
    color: #fff;
  }
  &__mail {
    color: #00bdcd;
  }
  &__cetera {
    font-size: 18px;
    line-height: 1.44;
    padding-left: 0;
    text-align: right;
    padding-top: 106px;
    color: #fff;
  }
  &__link {
    color: #00bdcd;
    display: inline-block;
    padding-left: 11px;
  }
}

@media (max-width: 1200px) {
  .footer {
    &__soc {
      padding-right: 0;
    }
    &__address {
      padding-left: 65px;
    }

  }
}

@media (max-width: 960px) {
  .footer {
    &__copy {
      position: absolute;
      left: calc(-200% + 15px);
      top: 150px;
      padding-bottom: 20px;
    }
    &__cetera {
      padding-top: 0;
      padding-bottom: 32px;
    }

    &__soc {
      padding-right: 15px;
      padding-left: 0;
    }
    &__address {
      padding-top: 5px;
      font-size: 20px;
      padding-left: 15px;
    }
    &__link {

      &_error {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 640px) {
  .footer {
    &__address {
      height: 185px;
      text-align: center;
      top: -112px;
      position: relative;
      padding-left: 10px;
      font-size: 24px;
    }
    &__soc {
      top: 200px;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__copy {
      font-size: 18px;
      text-align: center;
      position: static;
      padding-top: 10px;
      padding-bottom: 38px;

    }
    &__cetera {
      text-align: center;
      padding-left: 10px;
      position: relative;
    }
    &__link {
      &_error {
        left: 0px;
        top: -23px;
        position: absolute;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
      }
    }
  }
}