.header {
  background: #f7f7f7;
  &__logo {
    padding-top: 30px;
    padding-bottom: 27px;
    padding-right: 0;
  }
  &__search {
    padding-top: 32px;
    position: relative;
  }
  &__menu {
    padding-left: 78px;
    padding-top: 35px;
  }
  &__list {
    list-style-type: none;
    margin: 0;
  }
  &__li {
    float: left;
    &:not(:last-child) {
      margin-right: 22px;
    }
    &-link {
      color: #00788f;
      font-size: 16px;
    }
  }
  &__submit {
    position: absolute;
    width: 16px;
    height: 16px;
    outline: none;
    color: #a5aaad;
    right: 24px;
    top: 39px;
    .fa {
      font-size: 17px;
    }
  }
  &__search-link {
    color: #a5aaad;

    .fa {
      font-size: 17px;
    }
  }
}

.header__inp {
  max-width: 169px;
  float: right;
  color: #a5aaad;
  font-size: 16px;
  padding-right: 23px;
  padding-left: 16px;
  border: 1px solid #d3d4d5;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 6px;
  height: 34px;

  &::-webkit-input-placeholder {
    color: #a5aaad;
    font-size: 16px;
  }

}

@media (max-width: 960px) {
  .header {
    &__search-link {
      .fa {
        font-size: 24px;
      }
    }
    &__li {
      margin-bottom: 11px;
    }
    &__menu {
      padding-left: 43px;
    }
    &__search-link {
      margin-top: 6px;
      display: block;
    }
  }
}
@media (max-width:770px) {
    .header {
      &__menu {
        padding-left: 30px;
        padding-right: 0;
      }
    }
}
@media (max-width:640px) {
    .header {
      &__list {
        text-align: center;
      }
      &__search {
        position: absolute;
        right: 0;
      }
      &__li {
        float: none;
        margin-bottom: 0;
        display: inline-block;
      }
      &__logo {
        padding-right: 12px;
      }
      &__search-link {
        padding-top: 7px;
      }
      &__toggle {
        width: 31px;
        margin-left: -5px;
        height: 31px;
        margin-top: 44px;
        background: url(../images/menu.png)no-repeat;
      }
      &__menu {
        display: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 10px;
      }
      &__menu.js-opened {
        display: block;
      }
    }
}