.rain {
  color: #303030;
  font-weight: 400;
  font-size: 18px;
  margin-top: 37px;
  line-height: 1.15;
  &__big {
    display: block;
    font-size: 24px;
  }
}
@media (max-width:960px) {
    .rain {
      font-size: 24px;
    }
}
@media (max-width:640px) {
    .rain {
      margin-bottom: 20px;
    }
}