.scr {
  margin-bottom: 120px;
  &__col {
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 17px;
  }
  &__block {
    position: relative;
    background-color: #033c5c;
    img {
      transition: .5s all
    }
    &:hover {
      .scr__text {
        display: block;
      }
      img {
        transform: translate(-7px, -7px)
      }
    }
  }
  &__text {
    display: none;

    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 18px;
    line-height: 1.44;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 90px;
    padding-left: 10%;
    padding-right: 10%;
    &:before {
      content: '';
      left: calc(50% - 10px);
      display: inline-block;
      background: url('../images/sprite-my.png') no-repeat -78px -85px;
      width: 19px;
      height: 23px;
      position: absolute;
      margin-top: -30px;
    }
  }
}
@media (max-width:1000px) {
    .scr {
      &__text {
        padding-top: 40px;
      }
    }
}
@media (max-width:960px) {
    .scr {
      margin-bottom: 40px;
      &__text {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
      }
    }
}
@media (max-width:640px) {
    .scr {
      &__text {
        padding-top: 60px;
        display: block;
      }
      &__block {
        text-align: center;
        background: none;
      }
    }
}