.secur {
  background: url(../images/secur.png) no-repeat center top;
  &__text {
    padding-bottom: 270px;
    color: #333;
    padding-right: 35px;
    font-size: 18px;

    p {
      color: #333;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  &__title {
    color: #333;
    padding-bottom: 20px;
    font-size: 32px;
    font-family: $font-family-futuraLight;
    line-height: 1.1;
    padding-top: 80px;
  }
  &__more {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(to top, #00aaca 0%, #5fc7da 100%);
    margin-top: 33px;
    border-radius: 2px 3px 3px 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(0, 170, 202, 0.2);
    display: inline-block;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition:.5s all;
  }
}
@media (max-width:960px) {
 .secur {
   background-image: linear-gradient(to top, #fff 0%, #f9f9f9 100%);
   &__text {
     padding-bottom: 50px;
     padding-right: 15px;
   }
   &__title {
     padding-top: 20px;
   }
   &__more {
     margin-top: 0;
   }
 }
}
@media (max-width:640px) {
    .secur {
      &__text {
        padding-right: 10px;
      }
    }
}