.stat {
  margin-bottom: 40px;
  &__block {
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__num {
    position: relative;
    padding-left: 30px;
    &:before {
      content:'';
      display: inline-block;
      background: url('../images/sprite-my.png') no-repeat -117px -128px;
      width: 24px;
      height: 22px;
      position: absolute;
      bottom:13px;
      margin-left: -30px;

    }
    &_1:before {
      background: url('../images/shi.png') no-repeat ;
      width: 19px;
      height: 23px;
    }
    &_2:before {
      background: url('../images/sprite-my.png') no-repeat -161px -170px;
      width: 24px;
      height: 22px;
    }
    &_3:before {
      background: url('../images/sprite-my.png') no-repeat -248px -256px;
      width: 26px;
      height: 24px;
    }
    &_4:before {
      background: url('../images/sprite-my.png') no-repeat 0 0;
      width: 19px;
      height: 22px;
    }
    &_5:before {
      background: url('../images/sprite-my.png') no-repeat -205px -212px;
      width: 23px;
      height: 24px;
    }
    line-height: 1.05;
    color: #333;
    font-size: 48px;
    font-family:$font-family-futuraBold;
  }
  &__text {
    color: #333;
    font-size: 18px;
  }
}