.stock {

  margin-top: 44px;

  &__title {
    float: left;
    color: #303030;
    font-size: 40px;
    line-height: 1;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: $font-family-futuraBold;
  }
  &__link {
    float: right;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.99);
    color: #00accc;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(to top, #f2f2f2 0%, #fff 100%);
    border: 1px solid #d3d4d5;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 12px;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), inset 0 2px 0 rgba(255, 255, 255, 0.2);
    i {
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

@media (max-width: 960px) {
  .stock {
    &__link {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 24px;
    }
  }
}
