ul
    li: a(href='corp-index.html' title='') Главная
    li
        a(href='services.html') Создание сайтов
        ul
            li: a(href='features.html') Возможности
    li
        a(href='explore.html') Решения
        ul
            li: a(href='explore-item.html') Решение
    li: a(href='pricing.html') Цены 
    li
        a(href='portfolio.html') Портфолио 
        //- ul
        //-     li: a(href='portfolio-item.html') Работа
        //- Считаю, что не нужна. В спике работ дать ссылку на сайт или открыть изображение страницы сайта поверх списка работ
    li: a(href='order.html') Заказать
    li
        a(href='support.html') Помощь 
        ul
            //- li: a(href='support-category.html') Рубрика
                Нет такой страницы. Если для неё есть содержимое — это страница статьи. В крайнем случае, на странице перечислены ссылки на страницы рубрики.
            li: a(href='support-article.html') Статья
            li: a(href='support-search.html') Поиск в помощи
    li
        a(href='about.html') О компании
        ul
            li: a(href='feedback.html') Отзывы
    li
        a(href='news.html' title='') Новости
        ul
            li: a(href='news-article.html' title='') Статья
    li: a(href='contacts.html' title='') Контакты
    li
        a(href='affiliate.html') Партнёрская программа
        ul
            li: a(href='affiliate.html#affiliate-form-modal') Стать партнёром
            li: a(href='affiliate.html#affiliate-link-modal') Получить партнёрскую ссылку
            li: a(href='user-referal-program.html') Реферальная программа
            li: a(href='user-referal-program-details.html') Детали выплат по реферальной программе
            li: a(href='affiliate-data.html') Личные данные партнёра
            li: a(href='affiliate-login.html') Вход для партнёров
            li: a(href='user-recover.html') Восстановить доступ
    li: a(href='releases.html') Обновления
    li: a(href='search.html' title='') Поиск
    li: a(href='search-empty.html' title='') Поиск ничего не нашёл
    li: a(href='regular.html' title='') Рядовая страница
    li: a(href='error.html' title='') Ошибка 404
    li: a(href='sitemap.html' title='') Карта сайта
