.cloth__slide
  a(href="#")
    img(src="./i/girl.png", alt="")
  .cloth__text
    .cloth__block Одежда от лучших
    br
    .cloth__block брендов в стиле
    br
    .cloth__block «Military»
    p
    p.show-for-large
      a(href="#").button.large В корзину
