include components/mixins/_mixin-video
extends main
block content
  p &nbsp;
  .row
    .large-18.medium-16.columns
      +head('О компании')   
      .row.columns.about
        p Группа сайтов Sakh.com — крупнейшая рекламная площадка в сахалинском интернете, включающая в себя самые популярные сахалинские интернет-ресурсы.
        p
          a(href="#") Сахалинский портал Sakh.com
        p
          a(href="#") Интернет-издание Sakhalin.info
        p
          a(href="#") Бизнес-справочник Sakhalin.biz
        p
          a(href="#") Сахалинский форум Forum.sakh.com
        p 
          |Сайты объявлений:
          br
          a(href="#") Market.sakh.com
          |, 
          a(href="#") Rabota.sakh.com
          |, 
          a(href="#") Afisha.sakh.com
          |, 
          a(href="#") Auto.sakh.com
          |, 
          a(href="#") Dom.sakh.com
          |, 
          a(href="#") Mobile.sakh.com
          |, 
          a(href="#") Travel.sakh.com
          p
            |Карты: 
            a(href="#")  Maps.sakh.com
        p
          |Сайты районов области: 
          a(href="#")  City.sakh.com
        p
          |Видеосайт: 
          a(href="#")  Sakhalin.tv
        p
          |Развлекательный сайт:
          a(href="#")  Sakhalin.name
        p
          |Интернет-магазин:
          a(href="#")  Shoppy.ru
        p
          |Заказ такси:
          a(href="#")  Taxi.sakh.com
        p
          |Сервис заказа еды:
          a(href="#")  Eda.sakh.com
        p 
          |По статистике посещаемости и рекламы на портале (
          a(href="#") sakh.com/company/stat/
          |, 
          a(href="#")  sakhalin.biz/reklama/stat/
          |,
          a(href="#")  li.ru
          |, данные на март 2014 г.) Сах.ком обеспечивает ежесуточно:
        ul
         li
           |аудиторию — около 
           b 80 000 
           | человек;
         li
           |общее количество просмотров страниц портала — более
           b  3 200 000
           | ;
         li
           |переходов на сайты рекламодателей по рекламе и из каталога — более 
           b 14 000
           | ;
         li
           |просмотров контактной информации компаний в каталоге — более 
           b 40 000
           | .
        p Доля сахалинских пользователей интернет — около 80%.
        p Аудитория портала отличается от традиционных СМИ постоянным ростом, более высоким средним доходом (по статистике в 4 раза выше, чем у телезрителя или читателя газет), более высокой активностью. Интернет имеет преимущества, недоступные ни одному другому виду рекламы (печатные издания, наружная реклама, теле, аудио-ролики) — оперативность, интерактивность, оценка эффективности. Интернет-реклама на портале sakh.com позволяет не только адресовать рекламное сообщение нужной целевой группе, но и видеть в реальном времени реакцию на данное сообщение. Различная тематическая и географическая направленность сайтов позволит точнее выделить целевую аудиторию вашей рекламы.
        p Для клиентов ООО «Сах.ком» разработана система статистики, позволяющая им в любое время просматривать статистику собственной рекламы на портале, статистику интереса посетителей к компании в каталоге Сахалин. Бизнес, просматривать выписанные счета, размещать свои вакансии.
        p За 15 лет работы Sakh.com приобрел огромную популярность и заслуженное доверие своих посетителей, стал одним из узнаваемых сахалинских брендов.
        p
          a(href="#") Стоимость размещения рекламы
        p
          a(href="#") Регистрация доменов и хостинг сайтов
    .large-6.medium-8.columns   
      +head('Документы')   
      .fridge.fridge_top
        p
          b.title Свидетельства о регистрации СМИ
        p
          b Электронное периодическое издание:
          br
          |Sakhalin.info (Сахалин.инфо).
          br
          |Свидетельство о регистрации СМИ: Эл№ФС77-40747 от 7.07.2010 г.
          br
          |Учредитель: ООО «Сах.ком». Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор).
        p
          b Информационное агентство:
          br
          |ИА Sakh.com
          br
          |Свидетельство о регистрации СМИ: ИА№ФС15-0048 от 21.02.2005 г. 
          br
          |Учредитель: ООО «Сах.ком». 
          br
          |Зарегистрировано Управлением Федеральной службы по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия по Дальневосточному федеральному округу.
        p
          b.title Свидетельство на товарный знак
        p
          |№ 359808, дата регистрации 15.09.2008 г.
          br
          |Зарегистрировано Федеральной Службой по интеллектуальной собственности, патентам и товарным знакам РФ.
        p
          a(href="#").link Сводная ведомость 
          | результатов проведения специальной оценки условий труда.
      
