extends index
block event
  +head('новости по теме') 
  .row.columns.deputy
    ul.tags
      each title in ['Образование','Южно-Сахалинск']
        li.tags__item
          a(href="#").tags__link= title
    h1 Южно-сахалинская гимназия №3 отметила 15 день рождения
    .deputy__date 3 ноября, 2016
    p Южно-сахалинская гимназия №3 отметила 15-летний юбилей. Торжественное мероприятие состоялось в актовом зале общеобразовательного учреждения. В этот день поздравить коллектив пришли ученики, выпускники, коллеги и представители власти.
    p Сегодня гимназия №3 — это современное инновационное общеобразовательное заведение. История его развития началась в далеком 1961 году, когда в Южно-Сахалинске открылась школа-интернат. С того времени учреждение пережило несколько этапов реорганизации. В 1992 году оно было получило новый статус — стало лицеем искусств, а через девять лет — гимназией. Таким образом, 15 день рождения совпал с 55-летним юбилеем учреждения.  
    p
      img(src="./images/mayor.png", alt="")    
    p В своем приветственном слове мэр Южно-Сахалинска Сергей Надсадин поблагодарил педагогов за высокий профессионализм, самоотверженный труд, доброту и уважение к ученикам, преданность профессии.

    p — Гимназия №3 — одна из немногих школ города, где учебный процесс нацелен не только на передачу знаний, но и на выявление творческого потенциала учащихся, — сказал глава администрации. — Не всякий крупный город может похвастаться такой школой. Мы гордимся тем, что наши дети учатся в подобных условиях.
    p К поздравлениям присоединился депутат городской думы Южно-Сахалинска Роман Альперович. Он пожелал коллективу получать искреннюю радость от учебного процесса и передал в подарок большой плазменный телевизор.  
    p.text-right
      a.deputy__author(href="#") ИА Sakh.com
    p
      hr  
      p &nbsp;
    
