extends main
block content
  p &nbsp;
  .row
    .large-18.medium-16.columns
      +head('Фотовыставка')
      .row.columns.about
        h4.title
          b Сахалин глазами сахалинцев
        |Интернет-выставка фотоклуба "Зеркало"
        p
        p
          |Коллеги! Приём фотографий на выставку прекращён.
          br
          |Спасибо всем авторам за участие!
          br
          |Всего 
          b 1097 
          |фото от 
          b 69 
          | авторов.
        p
          img(src="./images/beauty.png", alt="")  
        p
          |Фотограф: 
          a(href="#") Валентина Табаченко  
        p
          hr
        p
          |Фотографии на выставку можно присылать по адресу: 
          a(href="#").about__mail kantrobas@yandex.ru
          br 
          |Фотографии публикуются после отбора.    
    .large-6.medium-8.columns
      +head('Фотографы')
      .fridge.fridge_top.text-center.medium-text-left
        ul.company.company_low
          each title in ['А. Зиновьев (15)','А. Катков (9)','Александр Павликов (8)','Александр Журавлёв (8)','Александр Федотов (8)','Алексей Бублик (29)','Алексей Грасмик (1)','Алексей Чижов (3)','Альберт Юн (1)','Альбина Байдина (2)','Анастасия Захарова (9)','Андрей Клитин (79)','Андрей Куницын (9)','Андрей Селезнёв (2)','Андрей Серенков (7)']
            li.company__item
              a(href="#").company__link
                i.fa.fa-folder-open
                | 
                |#{title}
      include components/common/_img
                
