.grid-container
  .grid-x.grid-padding-x
    .cell 
      .breadcrumbs
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(href='/', title='Главная', itemprop='item')
            span(itemprop='name')  Главная 
            meta(itemprop='position', content='0')
        p  &gt;
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(href='/katalog/', title='Каталог', itemprop='item')
            span(itemprop='name')  Каталог 
            meta(itemprop='position', content='1')
        p  &gt; 
        p.breadcrumbs_last(title='PlayStation')
          | PlayStation


  .grid-x.grid-padding-x
    .cell 
      h1.expect Вас ожидает:    

  .grid-x.grid-padding-x
    .cell 
      #myCarousel(data-carousel-3d='')
        img(src='./i/wait1.png')
        img(src='./i/wait1.png')
        img(src='./i/wait1.png')
        img(src='./i/wait1.png')
        img(src='./i/wait1.png')
        img(src='./i/wait1.png', selected='')
