.x-carousel-main.carousel-main
    .carousel-main__item(style='background-image: url("./images/slider-1.jpg"); background-color: #0c75bc; background-size: 100% 100%;')
        .vertical-bottom
            p.text-white
                a.button.red.carousel-main__button(href='#') Купить
    .carousel-main__item(style='background-image: url("./images/slider-2.jpg"); background-color: #0c75bc; background-size: 100% 100%;')
        .vertical-bottom
            p.text-white
                a.button.red.carousel-main__button(href='#') Купить
    .carousel-main__item(style='background-image: url("./images/slider-1.jpg"); background-color: #0c75bc; background-size: 100% 100%;')
        .vertical-bottom
            p.text-white
                a.button.red.carousel-main__button(href='#') Купить

