.content
    .row
        .column
            h2.decorative-title Наши бренды
            .x-carousel-brands.carousel-brands
                .carousel-brands__item
                    img(src='./images/brand-can.png', alt='canon')
                .carousel-brands__item
                    img(src='./images/brand-hp.png', alt='hp')
                .carousel-brands__item
                    img(src='./images/brand-lenovo.png', alt='lenovo')
                .carousel-brands__item
                    img(src='./images/brand-pc.png', alt='power-color ')
                .carousel-brands__item
                    img(src='./images/brand-can.png', alt='canon')
                .carousel-brands__item
                    img(src='./images/brand-can.png', alt='canon')
                .carousel-brands__item
                    img(src='./images/brand-hp.png', alt='hp')
                .carousel-brands__item
                    img(src='./images/brand-lenovo.png', alt='lenovo')
                .carousel-brands__item
                    img(src='./images/brand-pc.png', alt='power-color ')
                .carousel-brands__item
                    img(src='./images/brand-can.png', alt='canon')