.content
    .row.small-up-2.medium-up-4.collapse
        .column.services-box
            .text-center
                p
                    img(src='./images/truck.svg', alt='Сверхскорость',  class="services-box__ico")
                p.services-box__text
                    | Доставка бесплатно от 20000 руб
        .column.services-box
            .text-center
                p
                    img(src='./images/compass.svg', alt='Компас', class="services-box__ico")
                p.services-box__text
                    | Доставка по всей России
        .column.services-box
            .text-center
                p
                    img(src='./images/lock.svg', alt='Замок', class="services-box__ico")
                p.services-box__text
                    | Безопасность платежей
        .column.services-box
            .text-center
                p
                    img(src='./images/umbrella.svg', alt='Зонт', class="services-box__ico")
                p.services-box__text
                    | Гарантии и возврат товара