.row.collapse.small-up-2.medium-up-3.large-up-4.catalog(data-equalizer='', data-equalize-by-row='true')
  .column.product-tile.product-tile_my(link='/catalog/816270/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 48-50
        span.product-tile__net 50-52
        span.product-tile__net 52-54
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816270/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Куртка "Кристина"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816270')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816270', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816270/')
          | Куртка "Кристина"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 5,999 руб.
      div(data-carousel-images='\'["\/upload\/images\/016084\/00\/preview.jpg","\/upload\/images\/016084\/01\/preview.jpg","\/upload\/images\/016084\/02\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816271/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 48-50
        span.product-tile__net 50-52
        span.product-tile__net 52-54
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816271/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Куртка "Кристина"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816271')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816271', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816271/')
          | Куртка "Кристина"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 5,999 руб.
      div(data-carousel-images='\'["\/upload\/images\/016085\/00\/preview.jpg","\/upload\/images\/016085\/01\/preview.jpg","\/upload\/images\/016085\/02\/preview.jpg","\/upload\/images\/016085\/03\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816294/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 48-50
        span.product-tile__net 50-52
        span.product-tile__net 52-54
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816294/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Куртка "Кристина"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816294')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816294', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816294/')
          | Куртка "Кристина"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 5,999 руб.
      div(data-carousel-images='\'["\/upload\/images\/016352\/00\/preview.jpg","\/upload\/images\/016352\/01\/preview.jpg","\/upload\/images\/016352\/02\/preview.jpg","\/upload\/images\/016352\/03\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816059/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816059/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Платье "Руфь"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816059')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816059', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816059/')
          | Платье "Руфь"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,499 руб.
      div(data-carousel-images='\'["\/upload\/images\/016008\/00\/preview.jpg","\/upload\/images\/016008\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816060/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816060/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Платье "Руфь"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816060')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816060', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816060/')
          | Платье "Руфь"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,499 руб.
      div(data-carousel-images='\'["\/upload\/images\/016009\/00\/preview.jpg","\/upload\/images\/016009\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816062/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816062/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Пижама "Ева"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816062')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816062', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816062/')
          | Пижама "Ева"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,399 руб.
      div(data-carousel-images='\'["\/upload\/images\/016011\/00\/preview.jpg","\/upload\/images\/016011\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816063/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816063/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Халат "Руслана"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816063')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816063', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816063/')
          | Халат "Руслана"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,199 руб.
      div(data-carousel-images='\'["\/upload\/images\/016013\/00\/preview.jpg","\/upload\/images\/016013\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816064/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net 52
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816064/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Платье домашнее "Настя"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816064')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816064', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816064/')
          | Платье домашнее "Настя"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,599 руб.
      div(data-carousel-images='\'["\/upload\/images\/016014\/00\/preview.jpg","\/upload\/images\/016014\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816065/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816065/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Блузка "Ливия"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816065')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816065', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816065/')
          | Блузка "Ливия"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,299 руб.
      div(data-carousel-images='\'["\/upload\/images\/016016\/00\/preview.jpg","\/upload\/images\/016016\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816066/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816066/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Брюки "Ливия"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816066')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816066', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816066/')
          | Брюки "Ливия"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,199 руб.
      div(data-carousel-images='\'["\/upload\/images\/016017\/00\/preview.jpg","\/upload\/images\/016017\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816067/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816067/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Блузка "Гликерия"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816067')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816067', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816067/')
          | Блузка "Гликерия"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 999 руб.
      div(data-carousel-images='\'["\/upload\/images\/016021\/00\/preview.jpg","\/upload\/images\/016021\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816068/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net 52
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816068/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Брюки "Гликерия"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816068')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816068', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816068/')
          | Брюки "Гликерия"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 999 руб.
      div(data-carousel-images='\'["\/upload\/images\/016022\/00\/preview.jpg","\/upload\/images\/016022\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816069/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816069/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Халат "Елена"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816069')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816069', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816069/')
          | Халат "Елена"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,399 руб.
      div(data-carousel-images='\'["\/upload\/images\/016026\/00\/preview.jpg","\/upload\/images\/016026\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/816058/')
    .clearfix(data-equalizer-watch='')
      .product-tile__abs
        .label.label_new.text-center NEW!
      .product-tile__sizes
        span.product-tile__net 46
        span.product-tile__net 48
        span.product-tile__net 50
        span.product-tile__net ...
      .product-tile__wrapper-image.text-center
        a(href='/catalog/816058/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Домашний костюм "Руфь"')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='816058')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='816058', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/816058/')
          | Домашний костюм "Руфь"
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,799 руб.
      div(data-carousel-images='\'["\/upload\/images\/016006\/00\/preview.jpg","\/upload\/images\/016006\/01\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/815794/')
    .clearfix(data-equalizer-watch='')
      .product-tile__sizes
        span.product-tile__net 52-56
      .product-tile__wrapper-image.text-center
        a(href='/catalog/815794/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Джемпер')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='815794')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='815794', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/815794/')
          | Джемпер
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,699 руб.
      div(data-carousel-images='\'["\/upload\/images\/016181\/00\/preview.jpg","\/upload\/images\/016181\/01\/preview.jpg","\/upload\/images\/016181\/02\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
  .column.product-tile.product-tile_my(link='/catalog/815795/').hide-for-medium-only
    .clearfix(data-equalizer-watch='')
      .product-tile__sizes
        span.product-tile__net 52-56
      .product-tile__wrapper-image.text-center
        a(href='/catalog/815795/').product-tile__girl
          img.thumbnail.product-tile__thumbnail(src='./images/preview-c.jpg', alt='Джемпер')
        ul.product-tile__buttons
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='В избранное')
            a.button.secondary.js-add2fav(title='Запомнить', data-product-id='815795')
              span.product-tile__heart-icon
          li.has-tip.tip-top(data-tooltip='', aria-haspopup='true', title='Быстрый просмотр')
            a.button.secondary.fast-preview(data-id='815795', title='Быстрый просмотр', href='#')
              span.product-tile__eye-icon
      .text-center
        .stars.js-selectable
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
          span.stars__item.stars__item_gray
      .product-tile__info.product-tile__info_center.text-center
        a.product-tile__name.product-tile__name_center(href='/catalog/815795/')
          | Джемпер
      .product-tile__bottom-info.product-tile__bottom-info_center.text-center
        span.product-tile__price.product-tile__price_center 1,699 руб.
      div(data-carousel-images='\'["\/upload\/images\/016182\/00\/preview.jpg","\/upload\/images\/016182\/01\/preview.jpg","\/upload\/images\/016182\/02\/preview.jpg"]\'')
      script(type='text/javascript').
        //beginCarousel(JSON.parse(.replace(/&quot;/g,'\\'')));
