
#menu-catalog.left_menu.nav-catalog__group.wear.callout.hide-for-small-only(data-toggler='hide-for-small-only')
  ul.aside-menu
    li
      a.aside-menu__link.aside-menu__link_l1.aside-menu__link_active(href='/woman/clothes').hide-for-small-only
        | Одежда
      ul.aside-menu__list.aside-menu__list_clothes.aside-menu__nested
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/blouses') Блузки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/trousers') Брюки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/outerwear') Верхняя одежда
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/homewear') Домашняя одежда
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tunicdress') Платья, сарафаны
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tunic') Туники
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/slim') Нижнее белье
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/cardigans') Кардиганы
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/knitwear') Трикотаж
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tops') Топы и футболки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/socks') Колготки, носки и гольфы
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/skirt') Юбки
  .row
    hr.pole.pole_thin.show-for-small-only
