.row
  .small-6.hide-for-medium.medium-12.column
    .button.expanded.secondary(data-toggle='search-filter') Фильтр
  .small-6.hide-for-medium.medium-12.column
    .button.expanded(data-toggle='menu-catalog', aria-controls='menu-catalog') Каталог
#menu-catalog.left_menu.nav-catalog__group.callout.hide-for-small-only(data-toggler='hide-for-small-only')
  ul.aside-menu
    li
      a.aside-menu__link.aside-menu__link_l1.aside-menu__link_active(href='/woman/clothes')
        | Одежда
      ul.aside-menu__list.aside-menu__nested
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/blouses') Блузки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/trousers') Брюки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/outerwear') Верхняя одежда
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/homewear') Домашняя одежда
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tunicdress') Платья, сарафаны
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tunic') Туники
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/slim') Нижнее белье
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/cardigans') Кардиганы
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/knitwear') Трикотаж
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/tops') Топы и футболки
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/socks') Колготки, носки и гольфы
        li
          a.aside-menu__link.aside-menu__link_l(href='/woman/clothes/skirt') Юбки
