.row.large-up-6.medium-up-3.small-up-2.text-center
  .columns.rec
    .rec__img
      img(src="./images/dre1.png",alt="")
    div
      a(href="#").rec__title Платье BCBGeneration
    .rec__price 2&nbsp;300&nbsp;руб.
  .columns.rec
    .rec__img
      img(src="./images/dre2.png",alt="")
    div
      a(href="#").rec__title Платье BCBGeneration
    .rec__price 2&nbsp;300&nbsp;руб.
  .columns.rec
    .rec__img
      img(src="./images/dre3.png",alt="")
    div
      a(href="#").rec__title Платье TAMMY TWIST BARDOT DRESS
    .rec__price
      |1&nbsp;800&nbsp;руб.
      span.rec__through 2&nbsp;200&nbsp;руб.
  .columns.rec
    .rec__img
      img(src="./images/dre4.png",alt="")
    div
      a(href="#").rec__title Платье TONI WRAP TOP LAYERED HEM DRESS
    .rec__price 11&nbsp;300&nbsp;руб.
  .columns.rec
    .rec__img
      img(src="./images/dre5.png",alt="")
    div
      a(href="#").rec__title Платье BCBGeneration
    .rec__price 2&nbsp;300&nbsp;руб.
    p.rec__already В корзине
  .columns.rec
    .rec__img
      img(src="./images/dre6.png",alt="")
    div
      a(href="#").rec__title Платье BCBGeneration
    .rec__price 2&nbsp;300&nbsp;руб.
