#menu-catalog.left_menu.person.nav-catalog__group.callout(data-toggler='hide-for-small-only', aria-expanded='true')
  ul.aside-menu
    li.aside-menu__text
      span.aside-menu__link_l1.aside-menu__link_active
        | Важная информация
    ul.aside-menu__list.aside-menu__nested
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/privacy/') Обработка персональных данных
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/uslovia-prodazhi/') Условия продажи
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/kontakty/') Контакты
  ul.aside-menu
    li.aside-menu__text
      span.aside-menu__link_l1.aside-menu__link_active
        | Помощь в покупках
    ul.aside-menu__list.aside-menu__list_last.aside-menu__nested
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_size_slim/') Размер нижнего белья
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_size_textiles/') Размер постельного белья
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_size_varezhki/') Размер варежек
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_size_clothes/') Как узнать размер фигуры
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_size_shoes/') Размер обуви
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/sizechart/') Таблицы размеров
      li
        a.aside-menu__link.aside-menu__link_l.aside-menu__link_active(href='/info/kak-sdalat-zakaz/') Как сделать заказ
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/help_oplata/') Оплата
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/info-o-dotavke/') Способы доставки
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/vozvrat/') Возврат
      li
        a.aside-menu__link.aside-menu__link_l(href='/info/promo-terms/') Условия акций
  .left_menu__line.hide-for-small-only
  .text-center
    .person__wrapper
      .person__back
        h2.person__title
          | Служба поддержки 
          br.hide-for-small-only
          | и заказов
    p#ct_left_menu.mm.person__tel
      | 8 (495) 640 72 27 
      br
      a(href='mailto:info@domalina.ru', onclick='helpEmail()') info@domalina.ru
    .call_i
