ul.pagination.plate.text-center
  li.pagination-previous Previous
  li.current
    span.show-for-sr You're on page
    |  1
  li
    a(href='#', aria-label='Page 2') 2
  li
    a(href='#', aria-label='Page 3') 3
  li.ellipsis
  li
    a(href='#', aria-label='Page 8') 8
  li
    a(href='#', aria-label='Page 9') 9
  li.pagination-next
    a(href='#', aria-label='Next page') Next
