.row.hide-for-small-only
  .column.small-12
    .text
      .row.column.section-header
        h1
          strong Интернет-магазин одежды, обуви, товаров для кухни, домашнего текстиля
      p
        strong Domalina.ru
        |  — интернет-магазин, созданный специально для российского потребителя. Коллекции одежды и текстиля были разработаны специально для нас с Вами. Мы отобрали интересные расцветки и модели, чтобы Вас порадовала покупка красивых, удобных и практичных товаров для себя и своих близких. А главное – по ценам, которые можно позволить себе даже во время кризиса!
      p
        | В нашем каталоге Вы найдете яркие сезонные тренды и всегда модную классику, оригинальные и эффектные модели для торжественных случаев и элегантные, лаконичные вещи на каждый день.
      p Вот лишь несколько преимуществ, которые Вы найдёте только в «Домалине»:
      ul
        li элегантные и практичные модели одежды с 46 по 62 размер;
        li
          | лекала одежды, специально созданные, чтобы подчеркнуть достоинства российских фигур;
        li натуральные материалы – хлопок, шерсть;
        li наши любимые расцветки, узоры и дизайны;
        li действительно выгодные цены.
      p
        | Мы стремимся делать всё возможное, чтобы оперативно обрабатывать все заказы, своевременно реагировать на предложения и пожелания, оказывать всестороннюю помощь и поддержку в любой ситуации, связанной с оформлением и обработкой заказа.
      p Приятных покупок на Domalina.ru!
      p С уважением, команда «Домалина».
