form

  label.text-center.subscribe__trust 
    | Подпишитесь на обновления 
    br
    | и получайте специальные предложения и скидки

  .row
    .column.small-12.medium-7.large-5.medium-centered
      .input-group
        input.input-group-field(type='text' placeholder="Ваш email" required)
        .input-group-button
          button.button(type="submit") Подписаться
