footer.footer
  .grid-container: .grid-x.grid-padding-x
    .cell.medium-12.text-center.medium-text-left
      a(href="tel:+4917620385737").footer__phone +49 17620385737 
      a(href="mailto:info@medical-concept.com").footer__mail  info@medical-concept.com

    .cell.medium-12.medium-text-right.text-center
      .footer__block
        div © 2018 «Medical Concept»
        a(href="https://cetera.ru/").footer__dark Создано Cetera
