.grid-container: .grid-x.grid-padding-x
  .cell.large-11
    header.header
      include _top
      .header__block
        h1 Пишите историю медицинского туризма вместе с нами!
      a(href="#").button Зарегистрироваться       
  .cell.large-13
    .hat
      .hat__back(style="background-image:url(./i/med.jpg);")
      .hat__soc
        a(href="#").hat__link
          i.fab.fa-facebook-f
        a(href="#").hat__link
          i.fab.fa-instagram
        a(href="#").hat__link
          i.fab.fa-twitter
        a(href="#").hat__link
          i.fab.fa-linkedin-in
        a(href="#").hat__link
          i.fab.fa-youtube
      .hat__dot(style="background-image:url(./images/dot.svg);")      
      .hat__doctor
        img(src="./i/med2.png", alt="")
        
