mixin readCommentTile(title)
  .project
    .grid-x
      .cell.small-5.medium-24.project__img
        img(src='./i/photo.svg', alt='Статья')
      .cell.small-18.medium-24.small-offset-1.medium-offset-0
        h5.project__title
          if title
            a(href='#' data-equalizer-watch='readCommentTile')= title
          else
            a(href='#' data-equalizer-watch='readCommentTile') Приняли на комплексное обслуживание новый сайт
        block
    .project__text Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
    a(href='#') Читать
      i.fas.fa-long-arrow-alt-right.canv
