.presentation h3{
	text-align: center;
	color:#05376c;
	margin-top: 35px;
}

.presentation{
	background-color:#fff;
	padding-left: 0px;
}

.presentation .btn {
	width: 80%;
	margin-left: 30px;
	margin-top: 40px;
}