.b-grid {
  width: 100%;
}

.b-container {
  @include grid-row;
  &__item {
    @include grid-column;
    box-sizing: border-box;
    &_half {
      @include grid-column(50%);
      box-sizing: border-box;
    }
    &_special {
      @include grid-column(40%);
      box-sizing: border-box;
    }
    &_min {
      @include grid-column(20%);
      box-sizing: border-box;
    }
    &_right {
      text-align: right;
    }
  }

  &__left {
    @include float-left;
  }
  &__right {
    @include float-right;
  }
}

.clearfix {
  @include clearfix;
}
