#add-to-favourites-auth-popup.reveal.small(data-reveal)
    .row
        .show-for-medium.medium-6.column
            .row
                .small-12.medium-11.end.column
                    +stub('фото товара', 'woman')(style='background-color: #ccc; padding-bottom: 120%;')

        .small-12.medium-6.text-center.column
            //-i.fa.fa-3x.fa-check
            br
            svg(version="1.1" width="50" height="50" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
                g(stroke="#00caa7" stroke-width='5' fill="transparent")
                    polyline(points="10 57,40 82, 95 23")
            br

            h3 Товар добавлен в список любимых товаров!
            p Чтобы сохранить список, вам нужно:

            a(href='login.html', title='').button.expanded Войти

            p или

            a(href='login.html', title='').button.expanded Зарегистрироваться

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;