.row.hide-for-small-only
    .small-12.medium-3.column
        +stub('Блузки', 'info1')
    .small-12.medium-3.column
        +stub('Домашний текстиль', 'info2')
    .small-12.medium-3.column
        +stub('Ювелирные украшения', 'info3')
    .small-12.medium-3.column
        +stub('Обувь', 'info4')
