
.row
    .small-12.medium-3.column
        +stub('Женщинам', 'woman')
    .small-12.medium-3.column
        +stub('Мужчинам', 'mens')
    .small-12.medium-3.column
        +stub('Детям', 'kids')
    .small-12.medium-3.column
        +stub('Для дома', 'forhome')