mixin benefits(image, text)
    .column.text-center
        img(src="./images/icons/"+image+".svg",style='width:450px;height:45px;').benefit__img
        p.benefit__text= text


.section.benefits.hide-for-small-only
    .row.small-up-2.medium-up-6.large-up-6
        +benefits('signs','Доставка в любую точку России')
        +benefits('speed','Доставка за 7 – 10 дней')
        +benefits('delivery','Доставка курьером или Почтой России')
        +benefits('cash','Оплата наличными или картой при получении')
        +benefits('arrows','Возврат товара в течении 14 дней')
        +benefits('calendar','Доставка в любой удобный для вас день и время')
