.row.column.section-header
    h2 Бренды
.row.small-up-3.medium-up-6
    .column.text-center
        a(href="#")
            img(src="images/logo1.jpg",alt="логотип бренда", width="120", height="80")
    .column.text-center
        a(href="#")
            img(src="images/logo2.jpg",alt="логотип бренда", width="120", height="80")
    .column.text-center
        a(href="#")
            img(src="images/logo3.jpg",alt="логотип бренда", width="120", height="80")
    .column.text-center
        a(href="#")
            img(src="images/logo4.jpg",alt="логотип бренда", width="120", height="80")
    .column.text-center
        a(href="#")
            img(src="images/logo1.jpg",alt="логотип бренда", width="120", height="80")
    .column.text-center
        a(href="#")
            img(src="images/logo2.jpg",alt="логотип бренда", width="120", height="80")
.text-center.hide-for-small-only
    a.button(href='#', title='').button_brand Все бренды
hr.mt5.mb22.show-for-medium-only
