section.callout
    br
    h3.text-center Не забудьте расходные материалы к вашему заказу
    br
    .row
        .small-8.small-offset-2.medium-offset-0.medium-2.large-1.column
            p.small-text-center
                img.product-tile-thumbnail(src='./images/image.svg' alt='Фото товара')
        .small-12.medium-10.large-11.column
            .row
                .small-12.large-4.column
                    p
                        a(href='product.html') Обои Graham&Brown Rome 10,05&times;1,06 м
                        br
                        | белые
                        br
                        span.text-gray Артикул: 31-832
                .small-5.medium-3.large-2.column
                    p.small-text-right.no-wrap 2 200 руб
                .small-7.medium-3.large-2.column
                    .input-group
                        .input-group-button
                            button.button –
                        input.input-group-field(type='text' value='1' )
                        .input-group-button
                            button.button +
                .small-12.medium-5.medium-offset-1.large-2.large-offset-1.end.column
                    a(href='#').button
                        i.fa.fa-shopping-cart &#160;
                        | В корзину