-
    var data = [
    {
    'sku':'129488',
    'title':'LOST INK',
    'description':'Платье JEMMA LADDER Insert',
    'size':'40',
    'color':'Зелёный',
    'price':'120 390',
    'discount':'130 990',
    'qty':'1',
    'total':'120 390'
    },
    {
    'sku':'CO037EWIZQ76',
    'title':'Concept Club',
    'description':'Юбка',
    'size':'38/40',
    'color':'Зелёный',
    'price':'1 999',
    'qty':'2',
    'total':'3 998'
    }
    ]