include ../mixins/_mixin-product-tile

.x-carousel-services.carousel-services
    .carousel-services__item
        .row.small-up-5
            +productTile
            +productTile
            +productTile(false,false,'discount')
            +productTile
            +productTile
    .carousel-services__item
        .row.small-up-5
            +productTile(false,'incart')
            +productTile
            +productTile