.x-carousel-main.carousel-main.main-slider
    a(href='#')
        img(alt='slide', title='', src='./images/slides/1.jpg')
    a(href='#')
        img(alt='slide', title='', src='./images/slides/2.jpg')
