.x-carousel-main.carousel-main.main-slider
    a(href='#')
        img(alt='slide', title='', src='./images/slides/1.png')
    a(href='#')
        img(alt='slide', title='', src='./images/slides/1.png')
