#comp_fbed2fe5c9ebfb02fcca60206e1b343a.hide-for-small-only
  .fashion-item
    #bx_2375023775_814509.row
      .small-12.medium-5.column
        .text-center
          figure
            p
              a(href='/catalog/811081/')
                img(src='./images/f1.jpg', alt='Мода на каждый день', title='Мода на каждый день')
      .small-12.medium-7.column
        .row
          .small-12.medium-11.medium-offset-1.column
            .row.columns.section-header
              a(href='/fashion/814509')
                h2 Мода на каждый день
            p.light-text
            .row.small-up-2.medium-up-2.collapse.section-4x
              .column
                .stub.stub-photo.casual
                  a(href='/catalog/811103/')
                    figure.casual__figure
                      img(src='./images/f2.jpg')
                      figcaption.casual__figcaption
                        h2 Блузка
              .column
                .stub.stub-photo.casual
                  a(href='/catalog/814073/')
                    figure.casual__figure
                      img(src='./images/f3.jpg')
                      figcaption.casual__figcaption
                        h2 Украшения
              .column
                .stub.stub-photo.casual
                  a(href='/catalog/813885/')
                    figure.casual__figure
                      img(src='./images/f4.jpg')
                      figcaption.casual__figcaption
                        h2 Кеды
              .column
                .stub.stub-photo.casual
                  a(href='/catalog/811020/')
                    figure.casual__figure
                      img(src='./images/f5.jpg')
                      figcaption.casual__figcaption
                        h2 Джеггинсы
    p
