include ../mixins/_mixin-resetFilterBtn
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-price") Цена
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-size",data-array="Размер,размера,размера,размера,размеров") Размер
    span.badge
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-brand",data-array="Бренд,бренда,бренда,бренда,брендов") Бренд
    span.badge
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-style",data-array="Стиль,стиля,стиля,стиля,стилей") Стиль
    span.badge
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-material",data-array="Материал,материала,материала,материала,материалов") Материал
    span.badge
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-color",data-array="Цвет,цвета,цвета,цвета,цветов") Цвет
    span.badge
.bandage
  .button.hollow.material(data-toggle="catalog-filter-dropdown-origin",data-array="Сезон,сезона,сезона,сезона,сезонов") Сезон
    span.badge



.dropdown-pane#catalog-filter-dropdown-price(data-dropdown)
  .slider(data-slider, data-initial-start="25", data-initial-end="75")

    span.slider-handle(data-slider-handle, role="slider", tabindex="1", aria-controls="sliderOutputStart")
    span.slider-fill(data-slider-fill)
    span.slider-handle(data-slider-handle,  role="slider", tabindex="1", aria-controls="sliderOutputEnd")
    input(type="hidden")
    input(type="hidden")
  .row.collapse
    .small-5.column
      input#sliderOutputStart(type="text")
    .small-2.column.text-center
      | —
    .small-5.column
      input#sliderOutputEnd(type="text")
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-size(data-dropdown,data-close-on-click='true')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox')
      | 40
    label
      input(type='checkbox', checked)
      | 42
    label
      input(type='checkbox')
      | 44
    label
      input(type='checkbox')
      | 46
    label
      input(type='checkbox')
      | 48
    label
      input(type='checkbox')
      | 50
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-brand(data-dropdown,data-close-on-click='true')

  input(type='text' placeholder='Искать по названию')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox')
      | POLO CLUB С.H.A.
    label
      input(type='checkbox')
      | Adelin Fostayn
    label
      input(type='checkbox')
      | Aria
    label
      input(type='checkbox')
      | Armani Jeans
    label
      input(type='checkbox')
      | ASKOMI
    label
      input(type='checkbox')
      | ASTON MARTIN
    label
      input(type='checkbox')
      | Baby Dior
    label
      input(type='checkbox')
      | BegAl
    label
      input(type='checkbox')
      | BERENIS
    label
      input(type='checkbox')
      | BERKLINE
    label
      input(type='checkbox')
      | BGN
    label
      input(type='checkbox')
      | Blugirl
    label
      input(type='checkbox')
      | Blumarine
    label
      input(type='checkbox')
      | BOSSINI
  br
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-style(data-dropdown,data-close-on-click='true')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox')
      | с длинным рукавом
    label
      input(type='checkbox')
      | c воротником
    label
      input(type='checkbox')
      | в стиле рубашка
    label
      input(type='checkbox')
      | мини (короткие)
    label
      input(type='checkbox')
      | повседневные (на каждый день)
    label
      input(type='checkbox')
      | приталенные
    label
      input(type='checkbox')
      | без рукавов
    label
      input(type='checkbox')
      | открытые
    label
      input(type='checkbox')
      | с v-образным вырезом
    label
      input(type='checkbox')
      | с принтами
    label
      input(type='checkbox')
      | в стиле халат
    label
      input(type='checkbox')
      | спортивные
  br
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-material(data-dropdown,data-close-on-click='true')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox' checked)
      | хлопок
    label
      input(type='checkbox')
      | лайкра
    label
      input(type='checkbox')
      | полиэстер
    label
      input(type='checkbox')
      | полиамид
    label
      input(type='checkbox')
      | спандекс
    label
      input(type='checkbox')
      | лён
    label
      input(type='checkbox')
      | натуральная замша
    label
      input(type='checkbox')
      | вискоза
    label
      input(type='checkbox' checked)
      | шерсть
  br
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-color(data-dropdown,data-close-on-click='true')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox' checked)
      | синий
    label
      input(type='checkbox' checked)
      | белый
    label
      input(type='checkbox' checked)
      | зеленый
    label
      input(type='checkbox' checked)
      | розовый
    label
      input(type='checkbox' checked)
      | красный
    label
      input(type='checkbox' checked)
      | серый
    label
      input(type='checkbox' checked)
      | черный
    label
      input(type='checkbox' checked)
      | бежевый
    label
      input(type='checkbox' checked)
      | желтый
    label
      input(type='checkbox' checked)
      | фиолетовый
    label
      input(type='checkbox' checked)
      | мультицвет
    label
      input(type='checkbox' checked)
      | оранжевый
    label
      input(type='checkbox' checked)
      | коричневый
    label
      input(type='checkbox' checked)
      | голубой
  br
  a(href='#').button.expanded.js-apply-filter Применить

.dropdown-pane#catalog-filter-dropdown-origin(data-dropdown,data-close-on-click='true')

  .crossbow
    +resetFilterBtn
    label
      input(type='checkbox' checked)
      | Испания
    label
      input(type='checkbox' checked)
      | Италия
    label
      input(type='checkbox' checked)
      | США
  br
  a(href='#').button.expanded.js-apply-filter Применить
