footer.footer
  .row.footer-inner
    .small-12.medium-3.large-3.column.text-center.medium-text-left
      p.text-center.large-text-left
        b &copy; ООО «Почта-сервис»<br>
        | 127220, Россия, г.&#160;Москва,
        br.show-for-small-only
        |  ул. Нижняя Масловка, д.8 <br>

        p.text-gray

      p.text-center.float-left.footer__order
        b
          | Проблемы с заказом?
          br
          | Напишите нам на
          =" "
          br.hide-for-small-only
          a(href='mailto:info@domalina.ru') info@domalina.ru
    .small-12.medium-3.large-3.column.text-left.medium-text-left.footer__white
      ul.menu.bottom-menu
        li.hide-for-small-only Магазин
        li: a(href="#") Как сделать заказ
        li: a(href="#") Условия продажи
        li: a(href="#") Каталоги
        li: a(href="#") Контакты
        li: a(href="#") Оптовые заказы
        li: a(href="#") Обработка персональных данных


    .small-6.medium-3.column.text-center.medium-text-left.hide-for-small-only
      ul.menu.bottom-menu
        li Покупателям
        li: a(href="#") Доставка
        li: a(href="#") Оплата
        li: a(href="#") Возврат
        li: a(href="#") Условия акций
        li: a(href="#") Призёры
        li: a(href="#") Статьи


    .small-12.medium-3.column.text-center.medium-text-left.hide-for-small-only
      p
        span.copyright
          | Создание сайта —
          = ' '
          a(href='#', title='') Cetera Labs
        a(href='#', title='') Сообщить об ошибке
