.row#header.head
  .small-10.medium-3.large-3.column
    a(href='shop-index.html')
      img.header-logo-image(src='./images/domalina_logo.png' alt='Логотип')
  .small-2.hide-for-medium.column
    a(href='#' title='Меню' data-toggle='red-line' class='menu-icon')
      span
  .medium-9.large-9.column.text-center.medium-text-right.large-text-left.head__wrap
    ul.head__list
      li.head__item
        .phone-num.text-center
          span.phone-num__top-text с 9 до 20 (МСК)
          a(href="phone:88002507737").phone-num__link
            img.head__item-big-icon(src='./images/icons/phone.svg', alt='телефон')
            |8 (800) 250 77 37
          span.phone-num__bottom-text Бесплатно для всей России
      li.head__item
        .head__vert-middle

          a(href="#")
            img.head__item-icon(src='./images/icons/black-heart.svg', alt='избранное')
            span.head__link.hide-for-medium-only Избранное
            span.counter 5
      li.head__item
        .head__vert-middle

          a(href="#")
            img.head__item-icon(src='./images/icons/shopping-bag.svg', alt='корзина')
            span.head__link.hide-for-medium-only Корзина
            span.counter 10
      li.head__item
        .head__vert-middle

          a(href="#")
            img.head__item-icon(src='./images/icons/sign-in.svg', alt='корзина')
            span.head__link Личный кабинет
