.nav-catalog__group.callout.hide-for-small-only#menu-catalog(data-toggler="hide-for-small-only")
    ul.menu.vertical.aside-menu
        //-li
            a(href='#') Инструменты
            block navCatalogSection
        li.is-active
            a(href='#'): b ЖЕНЩИНАМ
                
            ul.menu.vertical.nested
                li.is-active
                    a(href='#', title='') Одежда
                        
                    ul.menu.vertical.nested
                        li
                            a(href='#', title='') Платья и сарафаны
                                
                        li
                            a(href='#', title='') Брюки, юбки, шорты
                                
                        li
                            a(href='#', title='') Блузы и рубашки
                                
                        li
                            a(href='#', title='') Свитера и кардиганы
                                
                        li
                            a(href='#', title='') Пиджаки и жакеты
                                
                        li
                            a(href='#', title='') Костюмы
                                
                        li
                            a(href='#', title='') Футболки и поло
                                
                        li
                            a(href='#', title='') Майки и топы
                                
                        li
                            a(href='#', title='') Джинсы
                                
                        li
                            a(href='#', title='') Спортивная одежда
                                
            li
                a(href='#', title='') Сумки и аксессуары
                    
                ul.menu.vertical.nested
                li
                    a(href='#', title='') Обувь
                        
                li
                    a(href='#', title='') Белье и купальники
                        
                li
                    a(href='#', title='') Косметика и парфюмерия
                        
                li
                    a(href='#', title='') Верхняя одежда
                        

        li
            a(href='#'): b ДЕТЯМ
                
            ul.menu.vertical.nested
                li
                    a(href='#', title='') Девочки
                        
                li
                    a(href='#', title='') Мальчики
                        
                li
                    a(href='#', title='') Игрушки
                        
                li
                    a(href='#', title='') Новорожденные
                        
                li
                    a(href='#', title='') Детские товары
                        
                li
                    a(href='#', title='') Косметика
                        

        li
            a(href='#'): b ДЛЯ ДОМА
                
            ul.menu.vertical.nested
                li
                    a(href='#', title='') Домашний текстиль
                        
                li
                    a(href='#', title='') Посуда
                        
                li
                    a(href='#', title='') Предметы интерьера
                        
                li
                    a(href='#', title='') Хозяйственные товары
                        
                li
                    a(href='#', title='') Сезонные товары
                        

        li
            a(href='#'): b МУЖЧИНАМ
                
            ul.menu.vertical.nested
                li
                    a(href='#', title='') Одежда
                        
                li
                    a(href='#', title='') Обувь
                        
                li
                    a(href='#', title='') Сумки и аксессуары
                        
                li
                    a(href='#', title='') Верхняя одежда
                        
                li
                    a(href='#', title='') Белье
                        
                li
                    a(href='#', title='') Косметика и парфюмерия
                        
