extends _nav-catalog

block navCatalogSection
    ul.menu.vertical.nested
        li: a(href='#') Аккумуляторный инструмент
        li: a(href='#') Гайковёрты
        li
            a(href='#') Дрели
            ul.menu.vertical.nested
                li: a(href='#') Аккумуляторные
                li: a(href='#') Безударные
                li: a(href='#') Угловые
                li.active: a(href='#') Ударные
        li: a(href='#') Краскопульты
        li: a(href='#') Лобзики электрические
        li: a(href='#') Наборы интсрументов
        li: a(href='#') Пилы
        li: a(href='#') Степлеры
        li: a(href='#') Фены
        li: a(href='#') Фрезеры
        li: a(href='#') Шрифмашины
        li: a(href='#') Шуруповёрты
        li: a(href='#') Электро рубанки