block accountLinks
    li
        a(href='login.html')
            span.show-for-large
                i.fa.fa-user
                | &#160; Личный раздел
            span.hide-for-large
                i.fa.fa-lg.fa-user
li
    a(href='wishlist.html', title='')
        span.show-for-large
            i.fa.fa-heart-o
            | &#160; Любимые товары: 0
        span.hide-for-large
            i.fa.fa-lg.fa-heart-o
            | &#160; 0
li
    a(href='cart.html', title='')
        span.show-for-large
            i.fa.fa-shopping-cart
            | &#160; Корзина: 0
        span.hide-for-large
            i.fa.fa-lg.fa-shopping-cart
            b &#160; 0