.menu-dropdown-products
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#'): b Тара по назначению
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#'): b Акции
        br
        div
            a(href='#'): b Новинки
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Ящики и аксессуары
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Ящики
            li: a(href='#', title='') Лотки
            li: a(href='#', title='') Подносы
            li: a(href='#', title='') Комплектующие
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Вёдра и канистры
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Вёдра
            li: a(href='#', title='') Куботейнеры
            li: a(href='#', title='') Контейнеры
            li: a(href='#', title='') Канистры
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Ёмкости
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Еврокубы
            li: a(href='#', title='') Ёмкости
            li: a(href='#', title='') Ёмкости в обрешётке
            li: a(href='#', title='') Комплектующие
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Ёмкости для отходов
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Мусорные контейнеры и баки
            li: a(href='#', title='') Комплектующие
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Большие контейнеры
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Неразборные контейнеры
            li: a(href='#', title='') Разборные контейнеры
            li: a(href='#', title='') Контейнеры Polybox
            li: a(href='#', title='') Комплектующие
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Бочки
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Термоконтейнеры
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Складские системы
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Ящики для склада
            li: a(href='#', title='') Контейнеры KLT
            li: a(href='#', title='') Лотки Logic Store
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Напольные покрытия
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Экопарковка
            li: a(href='#', title='') Универсальное покрытие
            li: a(href='#', title='') Деревокомпозит
            li: a(href='#', title='') Термодерево
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Паллеты
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Паллеты
            li: a(href='#', title='') Паллеты  для бутылей
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Аксессуаоры для флористики
        ul.menu-dropdown-products__submenu
            li: a(href='#', title='') Вазы для цветов
            li: a(href='#', title='') Аксессуары
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Ванна детская
    .menu-dropdown-products__item
        img(src='./images/image.svg', style='width: 70px; height: 70px; background: #ccc')
        div
            a(href='#') Антистатическая тара