.row
    .small-6.hide-for-medium.column
        .button.expanded(data-toggle="menu-search")
            i.fa.fa-bars &#160;
            | Категории
    .small-6.hide-for-medium.column
        .button.expanded.secondary(data-toggle="search-filter")
            i.fa.fa-lg.fa-sliders &#160;
            | Фильтр
