img(src='./images/visa.gif', style='width: 48px; height: 24px', alt='visa')
img(src='./images/mc.gif', style='width: 42px; height: 24px', alt='mc')
img(src='./images/sber.gif', style='width: 30px; height: 24px', alt='sber')
img(src='./images/qiwi.gif', style='width: 65px; height: 24px', alt='qiwi')
img(src='./images/ym.gif', style='width: 32px; height: 24px', alt='ym')
img(src='./images/pp.jpg', style='width: 39px; height: 24px', alt='pp')
