include ../mixins/_mixin-additional
p
h2.text-center.section-header ВАШИ СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ЗА ЗАКАЗ ОТ 1999&#160;РУБЛЕЙ

.row.large-up-4
    +additional('Зонт-флора','poncho')
    +additional('Кольцо Сова, Размер 6','ring')
    +additional('Женский шарф Джулия','scarf')
    +additional('Пончо Лионетта','zont')
p
