#modal10.reveal.offer(data-reveal='')

  .row.collapse
    .medium-7.columns.text-center.offer__img
      img(src="./images/rocher.jpg", alt="")
    .medium-5.columns
      .offer__text
        .offer__block
        h2 Двусторонний уютный плед
        .offer__moments Моменты уюта и счастливого отдыха!
        div
          span.rating.rating_active
            span.rating__star
            span.rating__star
            span.rating__star.rating__star-active
            span.rating__star
            span.rating__star
          span.offer__comm
            a(href="#") 0&#160;отзыв
        .offer__code Код Z35175
        p Моменты уюта и счастливого отдыха! Мягкий плед сочного сиреневого цвета с одной стороны и белоснежного с другой украсит любой интерьер и подарит тепло прохладными вечерами. Он просто незаменим зимними вечерами в кругу семью. Укройтесь уютным пледом и ощутите настоящий комфорт!
        p Размеры: 110 х 150 см. Материал: полиэстер.
        button.button.expanded Применить код

  button.close-button(data-close='', aria-label='Close modal', type='button')
    span(aria-hidden='true') ×
