.shampoo
  .row
    .medium-2.small-12.columns.text-center.medium-text-left
      a(href="#").shampoo__img
        img(src="./images/shampoo.jpg", alt="")
    .medium-10.columns
      .row
        .columns.text-center.medium-text-left
          p
            a(href="#").shampoo__title Шампунь-ополаскиватель 2 в 1 "Сияние день за днем", 400 мл
        .medium-4.small-6.columns
          span.shampoo__cross 260&#160;руб.
          span.shampoo__usual Обычная цена
          p.shampoo__price 149&#160;руб.
        .medium-4.small-6.columns
          .input-group
            .input-group-button
              button.button –
            input.input-group-field(type='text' value='12' )
            .input-group-button
              button.button +
        .medium-4.columns.text-center
          a(href="#").button Добавить в корзину
