.special.text-center.medium-text-left
  .columns
    h3.special__title ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ -38% - Очищающий гель для лица
  .medium-3.columns.text-center
    a(href="#").special__img
      img(src="./images/goods/ring.jpg", alt="")
  .medium-4.columns
    .special__price 219&#160руб.
    p
      a(href="#").special__more Узнать больше
  .medium-5.columns.text-center.medium-text-right
    a(href="#").button.special__add
      |Добавить в корзину
      i.fa.fa-shopping-bag.fa-lg
