.js-recommendation(data-retailrocket-markup-block='56718eba9872e53a94899ba2')
  .orbit(role='region', aria-label='Рекомендуем', data-orbit='', data-infinite-wrap='true', data-auto-play='false')
    ul.orbit-container
      button.orbit-previous
        span.show-for-sr Предыдущий список
      button.orbit-next
        span.show-for-sr Следующий список
      li.orbit-slide(data-slide="0").is-active
        .row.small-up-2.medium-up-5.large-up-5
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__abs
                  .label.label_sale.text-center SALE

                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217.jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217 (1).jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217.jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217 (1).jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
  
        
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217 (2).jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
      li.orbit-slide(data-slide='1')
        .row.small-up-2.medium-up-5.large-up-5
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217.jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217.jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217.jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217 (1).jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
  
        
          .column
            .product-tile.product-tile_my
              .clearfix
                .product-tile__wrapper-image.text-center.medium-text-left
                  a.js-rrlink(href='/catalog/809353/', data-product-id='809353', data-item_id='809353', data-method_name='popular')
                    img.thumbnail.product-tile__thumbnail(src='./images/preview217 (2).jpg', alt='')
                  ul.product-tile__buttons
                    li.has-tip.tip-top(data-tooltip='hba221-tooltip', aria-haspopup='true', title='Запомнить', aria-describedby='jr3vlr-tooltip', data-yeti-box='jr3vlr-tooltip', data-toggle='jr3vlr-tooltip', data-resize='jr3vlr-tooltip')
                      a.button.secondary.js-add2fav(title='Запомнить', data-product-id='809353')
                        span.product-tile__heart-icon
                    li.has-tip.tip-top(data-tooltip='at6d88-tooltip', aria-haspopup='true', title='Быстрый просмотр', aria-describedby='d17cyi-tooltip', data-yeti-box='d17cyi-tooltip', data-toggle='d17cyi-tooltip', data-resize='d17cyi-tooltip')
                      a.button.secondary(title='Быстрый просмотр', href='/catalog/809353/')
                        span.product-tile__eye-icon
                .text-center
                  .stars.js-selectable.hide-for-small-only
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                    span.stars__item.stars__item_gray
                .product-tile__info.product-tile__info_center.text-center
                  a.product-tile__name.product-tile__name_center.js-rrlink(data-product-id='809353', data-item_id='809353', data-method_name='popular', href='/catalog/809353/') Бальзам для похудения Диевит
                .product-tile__bottom-info.product-tile__bottom-info_center.text-center
                  span.product-tile__price.product-tile__price_center 299 руб.
                  .product-tile__delete
    nav.orbit-bullets.hide-for-small-only
      button(data-slide='0').is-active
      button(data-slide='1')
