@charset "UTF-8"; // Default Variables
$slick-arrow-color: rgb(255, 255, 255) !default;
$slick-arrow-color-hover: rgba(255, 255, 255, 0.5) !default;
$slick-arrow-color-disabled: rgba(255, 255, 255, 0.2) !default;
$slick-background-color: #e8e8e8 !default;
$slick-background-color-hover: rgba(0, 0, 0, 0.2) !default;
$slick-background-color-disabled: rgba(0, 0, 0, 0.02) !default;
$slick-dot-color: rgba(0, 0, 0, 0.05) !default;
$slick-dot-color-active: rgba(0, 0, 0, 0.2) !default;
/* Slider */
/*.slick-list {
  .slick-loading & {
    background: #fff url("ajax-loader.gif") center center no-repeat;
  }
}*/
.slick-slide {
    outline: none !important;

    &:focus,
    a {
        outline: none;
    }
}
/* Arrows */
.slick-next,
.slick-prev {
    z-index: 1;
    display: block;
    position: absolute;
    top: 45%;
    cursor: pointer;
    color: $slick-arrow-color;
    background: $slick-background-color;
    border: none;
    outline: none;

    &:focus,
    &:hover {
        background: $slick-background-color-hover;
    }

    &.slick-disabled {
        color: $slick-arrow-color-disabled;
        background: $slick-background-color-disabled;
    }
}

.slick-prev {
    left: 0.8rem;
    border-radius: 0 30px 30px 0;
    padding: 0 1.5rem 0 0.5rem;

    [dir="rtl"] & {
        left: auto;
        right: 1rem;
    }
}

.slick-next {
    right: 0.8rem;
    border-radius: 30px 0 0 30px;
    padding: 0 0.5rem 0 1.5rem;

    [dir="rtl"] & {
        left: 1rem;
        right: auto;
    }
}

/* Dots */
.slick-dots {
    margin: rem-calc(0);
    list-style: none;
    display: block;
    position: absolute;
    bottom: rem-calc(40);
    text-align: center;
    padding: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: $black;
            display: block;
            height: rem-calc(16);
            width: rem-calc(16);
            outline: none;
            cursor: pointer;
            line-height: 0;
            font-size: 0;
            margin: rem-calc(5);
            padding: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: rem-calc(1) solid $white;

            &:focus,
            &:hover {
                outline: none;
            }
        }

        &.slick-active button {
            background: $white;
        }
    }
}

@include breakpoint(small only) {
    .slick-next,
    .slick-prev {
        display: none !important;
    }
}
