.paper {
  width: rem-calc(1000);
  margin: 0 auto;
  padding-bottom: rem-calc(56);
  max-width: 100%;
  background: url($imagesPath +"/paper.jpg")repeat-y center;
  background-size: rem-calc(1000 1933);
  padding-left: rem-calc(112);
  padding-top: rem-calc(48);
  padding-right: rem-calc(54);

  &__field {
    max-width: 100%;
  }

  &__area {
    margin-bottom: rem-calc(64);
  }

  &__date {
    width: rem-calc(391);
    max-width: 100%;
  }

  &__self {
    padding-bottom: rem-calc(9);
  }

  &__textarea {
    width: 100%;
    background: none;
    margin-bottom: rem-calc(31);
    resize: none;
    border: rem-calc(0);
    font-size: rem-calc(30);
    font-family: $font-courier;
    color: #231f20;
    background: url($imagesPath +"/border-text.png")repeat-y center rem-calc(-10);
    line-height: rem-calc(59.5);
    background-size: rem-calc(900 59.5);
    overflow: hidden;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(0);
    min-height: rem-calc(180);
    word-break: break-word;

    &::-webkit-input-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &::-moz-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &:-moz-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &:-ms-input-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }
  }

  &__section {
    width: calc(100% + 4px);
    padding-bottom: rem-calc(1);
  }

  &__info {
    margin-bottom: rem-calc(48);
  }

  &__data {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: rem-calc(50);
  }

  &__cell {
    width: 33.33%;

    &:nth-child(3n) {
      width: 31.6%;
      margin-left: 1.6%;
    }
  }

  &__main {
    padding-right: rem-calc(64);
    width: 100%;
  }

  &__block {
    padding-top: rem-calc(14);
  }

  &__file {
    margin-bottom: rem-calc(43);
    margin-top: rem-calc(-6);
    padding-right: rem-calc(38);
    text-align: center;
  }

  &__secret-img {
    width: rem-calc(252);
    height: rem-calc(106);
  }

  &__logo {
    width: rem-calc(154);
    height: rem-calc(52);
  }

  &__file-img {
    width: rem-calc(221);
    height: rem-calc(118);
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
  }
  @media (max-width: 992px) {
    padding-left: rem-calc(35);
    padding-right: rem-calc(35);

    &__main {
      padding-right: rem-calc(0);
    }
  }
  @media (max-width: 768px) {
    &__cell {
      width: 50%;
    }

    &__textarea {
      line-height: rem-calc(40);
      font-size: rem-calc(20);
      background-size: rem-calc(700 40);
    }
  }
  @media (max-width: 550px) {
    &__cell {
      width: 100%;
    }

    &__date {
      width: 100%;
    }

    &__row {
      justify-content: center;
    }
  }
}
