.paper {
  width: rem-calc(1000);
  margin: 0 auto;
  padding-bottom: rem-calc(56);
  max-width: 100%;
  background: url($imagesPath +"/paper.jpg")repeat-y center;
  padding-left: rem-calc(112);
  padding-top: rem-calc(46);
  padding-right: rem-calc(54);

  &__field {
    max-width: 100%;
  }

  &__area {
    margin-bottom: rem-calc(52);
  }

  &__date {
    width: rem-calc(395);
    max-width: 100%;
  }

  &__textarea {
    width: 100%;
    background: none;
    margin-bottom: rem-calc(30);
    resize: none;
    border: rem-calc(0);
    font-size: rem-calc(30);
    font-family: $font-courier;
    color: #231f20;
    background: url($imagesPath +"/border-text.png")repeat center rem-calc(-10);
    line-height: rem-calc(60);
    background-size: rem-calc(776 60);
    overflow: hidden;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(0);
    min-height: rem-calc(180);
    word-break: break-word;

    &::-webkit-input-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &::-moz-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &:-moz-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }

    &:-ms-input-placeholder {
      color: #231f20;
      font-size: rem-calc(30);
    }
  }

  &__info {
    margin-bottom: rem-calc(46);
  }

  &__data {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: rem-calc(52);
  }

  &__cell {
    width: 33.33%;
  }

  &__main {
    padding-right: rem-calc(58);
    width: 100%;
    
  }

  &__block {
    padding-top: rem-calc(17);
  }

  &__file {
    margin-bottom: rem-calc(42);
    text-align: center;
  }

  &__secret-img {
    width: rem-calc(252);
    height: rem-calc(106);
  }

  &__logo {
    width: rem-calc(154);
    height: rem-calc(52);
  }

  &__file-img {
    width: rem-calc(221);
    height: rem-calc(118);
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
  }
  @media (max-width: 992px) {
    padding-left: rem-calc(35);
    padding-right: rem-calc(35);

    &__main {
      padding-right: rem-calc(0);
    }
  }
  @media (max-width: 768px) {
    &__cell {
      width: 50%;
    }

    &__textarea {
      line-height: rem-calc(40);
      font-size: rem-calc(20);
      background-size: rem-calc(517 40);
    }
  }
  @media (max-width: 550px) {
    &__cell {
      width: 100%;
    }

    &__date {
      width: 100%;
    }

    &__row {
      justify-content: center;
    }
  }
}
