table.characteristics
  tr
    td(colspan="2")
      strong Характеристики печати
  tr
    td.characteristics__td Цвета картриджей
    td голубой    
  tr
    td.characteristics__td Технология печати
    td Лазерная
  tr
    td.characteristics__td Количество страниц (в цвете)
    td Приблизительно 7500 страниц при заполнении 5%*
  tr
    td.characteristics__td Сноска на ресурс печати
    td *Информация о ресурсе картриджей содержится на web-сайте www.hp.com/go/pageyield
  tr
    td(colspan="2")
      strong Условия эксплуатации
  tr
    td.characteristics__td Влажность при эксплуатации
    td От 10 до 70% относительной влажности
  tr
    td.characteristics__td Температура хранения
    td От -20 до 40° C
  tr
    td(colspan="2")
      strong Размеры/вес/гарантия
  tr
    td.characteristics__td Размеры упаковки (Ш x Г x В)
    td 400 x 148 x 268 мм
  tr
    td.characteristics__td Вес пакета
    td 2,2 кг
  tr
    td.characteristics__td Гарантия
    td Этот продукт HP сопровождается гарантией отсутствия дефектов в материалах и производственных дефектов.
.text-center.medium-text-right.scope
  span.scope__text Нашли неточность в описании? &nbsp;&nbsp;&nbsp;
  button.button.scope__button Сообщить   
