.column
  .product-tile.product-tile_compare.text-center.medium-text-left
    .clearfix(data-equalizer-watch)
      .product-tile__buttons
        a.product-tile__del
      p
        a(href='#')
          img(src='./images/item-2.jpg',alt='Товар')
      a(href='#').product-tile__name Картридж струйный HP 178 Photo Black (CB317HE)
      div
        include _rating
        span.product-tile__awards 15 отзывов
      .row
        .small-12.medium-6.columns
          .product-tile__price
            del.product-tile__price-old 4 500 руб.
            span.product-tile__price-current 3 270 руб.

        .small-12.medium-6.columns
          a.product-tile__buy.button.primary Купить
