.row.columns
  .goods
    .goods__container
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, true, 'item-3.jpg', false, true)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, true, 'item-1.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, false, 'item-3.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, false, 'item-2.jpg', true, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, false, 'item-2.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, false, 'item-3.jpg', true, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, false, 'item-3.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, false, 'item-2.jpg', true, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, false, 'item-2.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, false, 'item-3.jpg', true, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', true, false, 'item-3.jpg', false, false)
      .goods__item
        +productTile('Картридж струйный HP178 Photo Black(CB317HE)', false, false, 'item-2.jpg', true, false)
