.columns
  .novelty(data-equalizer-watch)
    .novelty__img.text-center
      a(href="#")
        img(src="./images/news.png", alt="")    
    .novelty__info
      a(href="#").novelty__title Равным образом рамки и место обучения кадров играет важную роль в формировании систем
      p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Идейные соображения высшего порядка
      .novelty__date Сегодня, 15:24  
