ul.pagination(role='navigation', aria-label='Pagination')
  li.pagination-previous.disabled
    i.fa.fa-chevron-left.fa-lg
  li
    a(href='#', aria-label='Page 1') 1
  li
    a(href='#', aria-label='Page 2') 2
  li.current 3
  li
    a(href='#', aria-label='Page 4') 4
  li
    a(href='#', aria-label='Page 5') 5
  li.ellipsis(aria-hidden='true')  
  li
    a(href='#', aria-label='Page 16') 16
  li.pagination-next
    a(href='#', aria-label='Next page')
      i.fa.fa-chevron-right.fa-lg
