@media (min-width:800px) {
  .b-about__title {

  margin: 101px 0 15px 0;
  }
}
@media (max-width:800px) {
  .b-about__title {
    
  margin: 31px 0 15px 0;
  }
}
.b-about {
  font-family: 'RobotoCondensed-Regular', sans-serif;
}
.b-about__title {
  color: #15659d;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  background: url('../i/sprites.png') no-repeat 0 -673px;
}
.b-about__info {
  color: #555;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  font-family: 'RobotoCondensed-Light', sans-serif;
}
.b-about__command {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding-top: 33px;
}
.b-about__comm {
  padding-top: 30px;
  padding-bottom: 92px;
}
.b-about__work {
  text-align: center;
}
.b-about__name {
  color: #1b9bd6;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
}
.b-about__work-inf {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 0 10px 0 ;
  display: block;
}
.b-about__link-mail {
  color: #1b9bd6;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: block;
}