@media (min-width:940px) {
  .b-advantages__title {

  margin-top: 95px;
  background: url('../i/sprites.png') no-repeat 0 -287px;
  } 
}
@media (max-width:940px) and (min-width:640px) {
  .b-advantages__title {
    text-decoration: underline overline;
    width: 390px;
    margin-top: 20px;
  }
}
@media (max-width:640px)  {
.b-advantages__title {
    text-decoration: underline overline;
    margin-top: 20px;
    text-align: center;
  }
  .b-advantages {
    margin-bottom: 20px;
  }
}

.b-advantages {
  background-color: #fff;
  font-family: "RobotoCondensed-Regular", sans-serif;
}
.b-advantages__title {
  color: #15659d;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  height: 40px;
  margin-bottom: 17px;
}
.b-advantages__block {
  background: url('../i/sprites.png') no-repeat -509px -160px;
  height: 180px;
  padding: 0;
  margin-top: 31px;
}
.b-advantages__block_four {
  margin-right: 0px;
  &>.b-advantages__text-ico {
    padding-top: 12px;
  }
}
.b-advantages__text-ico {
  background: url('../i/sprites.png') no-repeat 0 -340px;
  width: 179px;
  height: 57px;
  font-family: "RobotoCondensed-Light", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-left: 11px;
  padding-top: 4px;
}
.b-advantages__ico1 {
  background: url('../i/sprites.png') no-repeat -501px -560px;
  width: 88px;
  height: 85px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-advantages__ico2 {
  background: url('../i/sprites.png') no-repeat -603px -446px;
  width: 97px;
  height: 91px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 14px;
}
.b-advantages__ico3 {
  background: url('../i/sprites.png') no-repeat -505px -359px;
  width: 80px;
  height: 81px;
  margin-left: 46px;
  margin-top: 22px;
  margin-bottom: 20px;
}
.b-advantages__ico4 {
  background: url('../i/sprites.png') no-repeat -607px -572px;
  width: 82px;
  height: 83px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-advantages__ico5 {
  background: url('../i/sprites.png') no-repeat -621px -359px;
  width: 68px;
  height: 72px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 32px;
}
.b-advantages__ico6 {
  background: url('../i/sprites.png') no-repeat -412px -279px;
  width: 89px;
  height: 71px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 32px;
}
.b-advantages__ico7 {
  background: url('../i/sprites.png') no-repeat -507px -461px;
  width: 76px;
  height: 76px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 32px;
}
.b-advantages__foot {
  height: 101px;
}