.b-complex {
  background-image: url(../i/back.png);
  font-family: 'RobotoCondensed-Regular', sans-serif;
}
.b-complex__title {
  color: #15659d;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 30px;
  padding: 0;
  font-weight: 700;
  
}
@media (min-width:1024px) {
  .b-complex__title {
    background: url('../i/sprites.png') no-repeat 0 -673px;
    margin: 101px 0 53px 0;
  }
}
@media (max-width:1024px) {
  .b-complex__title {
    text-decoration: underline overline;
    margin: 21px 0 13px 0;
    text-align: center;
  }
}