@media (max-width:640px)  {
.b-otz__project  {
  padding-left: 0;
  padding-right: 0;
  font-size: 17px;
}
}
@media (max-width:900px) {
  .b-otz__title  {
    margin: 31px 0 13px 0;
  }
  .b-otz__list-item  {
  }
  .jcarousel {
    background-image: url(../i/slide.png);
    background-repeat: repeat-y;
  }
}
@media (min-width:900px)  and (max-width:1070px) {
  .b-otz__title  {
    margin: 101px 0 33px 0;
  }
  .jcarousel {
    background-image: url(../i/slide.png);
    background-repeat: repeat-y;
  }
  .b-otz__link-item {
      left: 70%;
    }
    .b-otz__project  {
      bottom: -0px;
      font-size: 20px;
    }
}
@media (min-width:1070px) {
  .b-otz__title  {
    margin: 101px 0 33px 0;
    }
  .b-otz__list-item  {
    width: 840px !important;
  }
  .b-otz__back {
    background-image: url(../i/slide.png) }
    .b-otz__link-item {
      left: 73%;
    }
    .b-otz__project { 
      bottom: -0px;
      font-size: 20px;
    }
}

.b-otz {
  font-family: 'RobotoCondensed-Light', sans-serif;
  background-image: url(../i/otz.png);
}
.b-otz__title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  background: url('../i/sprites.png') no-repeat -4px -589px;
}
.b-otz__back {
  ;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  min-height: 560px;
}
.b-otz__slider {
  margin-top: 61px;
}
.b-otz__list {

}
.b-otz__list-item {
    
 &>p {
    
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  width: 100%;
 }
}
.b-otz__link-item{
  color: #1b9bd7;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  top: 230%;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  padding: 0;
  min-height: 520px;
  ul {
    position: relative;
    width: 20000em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
  }
}

.jcarousel-pagination {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  a {
    font-size: 11px;
    line-height: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 15px;
    text-decoration: none;
    text-indent: -9999px;
    color: #4e443c;
    border-radius: 10px;
    background: #fff;
    &.active {
      opacity: 1;
      color: #fff;
      background: #018cd1;
    }
  }
}

.jcarousel-prev {
  font-size: 110px;
  position: absolute;
  top: 45%;
  left: 15px;
  display: block;
  width: 23px;
  height: 43px;
  text-indent: -9999px;
  background: transparent url('../i/slider_left.png') no-repeat left top;
}

.jcarousel-next {
  font-size: 110px;
  position: absolute;
  top: 45%;
  display: block;
  width: 23px;
  height: 43px;
  text-indent: -9999px;
  right: 15px;
  background: transparent url('../i/slider_right.png') no-repeat left top;
}
.b-otz__project {
  color: white;
  font-weight: 700;
  line-height: 34px;
  position: relative;
  background-image: url(../i/project.png);
  min-height: 50px;
  padding-top: 10px;
  margin-bottom: 41px;
  text-align: center;
}
.b-otz__bottom {
  height: 91px;
}