.b-top {
  background: url(../i/top.png) ;
}
.b-top__info-stark {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: "RobotoCondensed-Bold", sans-serif;
}
.b-top__stark {
  font-size: 72px;
  line-height: 48px;
}
@media (max-width:800px) {
  .b-top__info-stark {
      padding-top: 10px;
  }

  .b-top__info-block {
    padding-top: 0px;
  }
  .b-top__ytb > iframe {
    width: 100% !important;
    height: 250px;
  }
  .b-top__btn-price {
    width: 360px;
  }
  .b-top__buy-stark {
    width: 360px;
  }
}
@media (min-width:800px) {
  .b-top__info-stark {
  padding-top: 85px;
  }

  .b-top__info-block {
    padding-top: 10px;
  }
  .b-top__btn-price {
  width: 380px;
  margin-left: 0 !important;
  padding-right: 15px;
  float: right;
  }
  .b-top__buy-stark {
    width: 380px;
  }
}
.b-top__programm {
  font-size: 18px;
  line-height: 46px;
}
.b-top__special-price {
  font-size: 30px;
  line-height: 30px;
}
.b-top__ytb {
  padding-left: 0px;
  padding-right: 0;
  padding-top: 5px;
}
.b-top__action {
  line-height: 36px;
  padding: 0;
  color: #fff;
  font-family: "RobotoCondensed-Light", sans-serif;
}
.b-top__price {
  padding: 0;
}
.b-top__price-bgn {
  font-size: 24px;
  font-weight: 300;
}
.b-top__price-nmb {
  font-size: 35px;
  font-weight: 400;
  background: url('../i/sprites.png') no-repeat 0 0;
  width: 147px;
  height: 2px;
}
.b-top__prc {
  font-size: 70px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 94px;
}
.b-top__rubl {
  font-family: "Times New Roman";
  font-size: 76px;
  font-weight: 700;
  line-height: 42px;
}
.b-top__str {
  color: #fe0000;
  font-size: 30px;
  font-weight: 400;
  top: -30px;
}
.b-top__btn-price {
  background: url('../i/sprites.png') no-repeat 0 -48px;
  height: 163px;
  padding-left: 0;
  margin-top: 17px;
  padding-top: 22px;
}
.b-top__buy-stark {
  background: url('../i/sprites.png') no-repeat 0 -223px;
  height: 53px;
}
.b-top__str-act {
  color: #fe0000;
}
.b-top__action-inf {
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  padding-left: 94px;
}
.b-top__buy-btn {
  display: block;
  padding-left: 152px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 9px;
  height: 50px;
}