.banner {
  &s {
    position: relative;
    display: none;
    @media (min-width: 1890px) {
      display: block;
    }
  }
  &-left {
    position: absolute;
    top: rem-calc(292);
    left: rem-calc(-245);
  }
  &-right {
    position: absolute;
    top: 0;
    right: rem-calc(-245);
  }
  &-center {
    display: none;
    @media (min-width: 40em) {
      display: block;
    }
  }
}
