.callout {
  margin: 0;
  border: none;
  border-left: rem-calc(1) solid #e1e1e1;
  border-bottom: rem-calc(1) solid #e1e1e1;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  @media(min-width: 60em) {
    padding-left: rem-calc(41);
    padding-right: rem-calc(41);
  }
  &__title {
    font-size: rem-calc(30);
    // font-family: $font-helveticaNeueltstd;
    font-family: $font-helvetica-neue-condensed-bold;
    text-transform: uppercase;
    text-align: center;
  }
  &_nplr {
    padding: rem-calc(20 0 20 0);
    @media (min-width: 40em) {
      padding: rem-calc(25 0 0 0);
    }
  }
}
