a {
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: $font-helvetica-neue-condensed-bold;
}

.bg-white {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: rem-calc(100);
		bottom: 0;
		left: 0;
		right: rem-calc(1);
		background-color: white;
		z-index: -1;
	}
}