.header {
  padding-top: rem-calc(23);

  &__logo {
    margin-top: rem-calc(21);
    display: block;
    margin-bottom: rem-calc(10);
  }

  &__search {
    margin-top: rem-calc(17);
    float: right;
  }

  &__toggle {
    cursor: pointer;
    display: inline-block;
  }

  &__tel {
    background: none;
    float: right;
    border: rem-calc(2) solid $white;
    padding: rem-calc(14) rem-calc(13);
    margin-top: rem-calc(13);

    img {
      margin-right: rem-calc(6);
      margin-top: rem-calc(-2);
    }

    &:active,
    &:focus,
    &:hover {
      border-color: $primary-color;
    }
  }
  @include breakpoint(large down) {
    &__tel {
      font-size: rem-calc(15);
    }
  }
  @include breakpoint(medium down) {
    padding-top: rem-calc(0);

    &__logo {
      margin-top: rem-calc(24);
    }

    &__tel {
      float: none;
      margin-top: rem-calc(17);
    }
  }
    @include breakpoint(small only) {
      &__toggle {
        margin-top: rem-calc(13);
      }
      &__logo {
        margin-bottom: rem-calc(20);
      }
    &__search {
      margin-top: rem-calc(9);
    } }
}
