.ol-list {
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset:  item; /* Обнуляем счетчик списка */
  position: relative;
  &__item {
    padding-left: rem-calc(15);
    &:before {
      position: absolute;
      left: rem-calc(-18);
      content: counter(item); /* Добавляем к числам скобку */
      counter-increment: item; /* Задаём имя счетчика */
    }
    &:not(:last-child) {
      margin-bottom: rem-calc(15);
    }
  }
}
.ul-list {
  &__item {
    padding-left: rem-calc(15);
    &:not(:last-child) {
      margin-bottom: rem-calc(15);
    }
  }
}
