.live-feeds {
  border-bottom: rem-calc(1) solid #dcdcdc;
  padding: rem-calc(11 15 100 15);
  position: relative;
  @media(min-width: 75em) {
    padding: rem-calc(11 50 115 80);
  }
  &:before {
    position: absolute;
    content: '';
    top: rem-calc(111);
    bottom: rem-calc(100);
    border-left: rem-calc(1) solid #dcdcdc;
    width: rem-calc(1);
    @media (min-width: 75em) {
      top: rem-calc(111);
      bottom: rem-calc(114);
    }
  }
  &-header {
    display: flex;
    flex-direction: row;
    padding-top: rem-calc(15);
    margin-bottom: rem-calc(62);
    @media (max-width: 400px) {
      padding-left: rem-calc(25);
    }
    &__panel-switcher {
      @media (min-width: 90em) {
        padding-top: rem-calc(4);
        padding-bottom: rem-calc(4);
      }
    }
  }

  &__desc {
    @media (max-width: 75em) {
      padding-top: rem-calc(25);
      padding-left: rem-calc(25);
    }
  }
  &-news {
    &:not(:last-child) {
      margin-bottom: rem-calc(30);
    }
    &__date {
      padding: rem-calc(0 35 0 25);
      display: flex;
      align-items: flex-start;
      position: relative;
      &:before {
        content: '';
        left: rem-calc(-4);
        top: rem-calc(17);
        border-radius: 50%;
        border: rem-calc(2) solid map-get($foundation-palette, dark-red);
        height: rem-calc(9);
        width: rem-calc(9);
        position: absolute;
      }
    }
    &__number, &__month {
      color: #a4a4a4;
    }
    &__number {
      font-size: rem-calc(60);
      line-height: rem-calc(40);
      margin-right: rem-calc(20);
    }
    &__month {
      line-height: rem-calc(14);
    }
    &__desc {
      @media(max-width: 60em) {
        padding-left: rem-calc(20);
      }
    }
    &__col {
      @media(max-width: 60em) {
        padding-top: rem-calc(20);
        padding-right: rem-calc(5);
      }
      @media(min-width: 60em) {
        padding-right: rem-calc(20);
      }
      &_inner-link {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 60em) {
        }
      }
    }
    &__paragraph {
      margin: 0;
    }
    &__title-paragraph {
      color: map-get($foundation-palette, blue) !important;
      font-family: $font-helvetica-neue-condensed-bold;
      margin-bottom: 1.5rem;
      @media(min-width: 60em) {
        display: inline-block;
      }
      &_pt {
        @media(max-width: 60em) {
          padding-top: rem-calc(25);
          display: inline-block;
          margin: 0;
        }
      }
    }
    &__write-comment {
      padding-left: rem-calc(30);
      background-image: url($imagesPath+'/edit-comment.svg');
      background-repeat: no-repeat;
      background-position: left center;
      color: #dcdcdc;
      font-family: $font-helvetica-neue-condensed-bold;
      margin-top: rem-calc(10);
      display: inline-block;
    }
  }
}
.live-feeds-panel-switcher__span {
  padding-left: 3rem;
  margin-right: rem-calc(20);
  text-transform: none;
  font-size: rem-calc(12);
  font-family: $font-pt-sans-regular;
  @media (min-width: 25em) {
    padding-left: rem-calc(50);
  }
}
.live-feeds-panel-switcher__label:after {
  background-color: #e1e1e1;
  right: auto;
}
.live-feeds-panel-switcher__label:before {
  left: 0;
  right: auto;
}
.aside-games-panel-switcher__input-live-feeds:checked + .live-feeds-panel-switcher__label:before {
  left: rem-calc(14);
  right: auto;
}
.aside-games-panel-switcher__input-live-feeds:checked + .live-feeds-panel-switcher__label:after {
  background-color: map-get($foundation-palette, red);
}

.aside-games-panel-switcher__label:after, .aside-games-panel-switcher-club__label:after {
	background-color: map-get($foundation-palette, red);
}
