.match {
  margin-bottom: rem-calc(60);
  &__border {
    border: rem-calc(1) solid #d1d1d1;
    margin-bottom: rem-calc(15);
  }
  &__title {
    color:  map-get($foundation-palette, blue);
    font-style: rem-calc(18);
    font-family: $font-helvetica-neue-condensed-bold;
  }
  &__img {
    max-height: rem-calc(45);
    text-align: center;
    vertical-align: middle;
  }
  &__about {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(30);
    color: white;
    background-color:  map-get($foundation-palette, blue);
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-family: $font-helvetica-neue-condensed-bold;
  }
  &__link {
    color:  map-get($foundation-palette, blue);
    font-family: $font-helvetica-neue-condensed-bold;
    text-transform: uppercase;
    margin-bottom: rem-calc(30);
    display: inline-block;
  }
}
