.menu-bottom {
  margin: 0;
  font-size: 0;
  &__item {
    display: inline-block;
    position: relative;
    font-size: rem-calc(13);
    line-height: rem-calc(16);
    &:not(:last-child) {
      margin-right: rem-calc(18);
      &:before {
        position: absolute;
        content: '';
        background-color:  map-get($foundation-palette, blue);
        width: rem-calc(2);
        height: rem-calc(10);
        right: rem-calc(-10);
        top: rem-calc(3);
        bottom: 0;
        margin: auto;
      }
    }
  }
}
