.search-form {
  padding-top: 1.35rem;
  @media (min-width: 40em) and (max-width: 1860px) {
    padding-left: rem-calc(18);
  }
  @media (min-width: 1860px) {
    position: absolute;
    right: -16.5rem;
    top: 0;
    width: rem-calc(230); //fix ms
  }
  &__input {
    background-color: #0d4c75;
    border-color: #0d4c75;
    color: white;
    height: rem-calc(42); //fix ie
    &:focus {
      color: white;
    }
  }
  &__buttom {
    background-color: transparent;
  }
  &__group {
    background-color: #0d4c75;
    margin-bottom: rem-calc(19);
  }
}
