.slider-video {
  margin-top: rem-calc(25);
  overflow: hidden;
  &__multimedia {
    overflow: hidden;
  }
  &__link{
    display: block;
    height: 100%;
  }
  &__img {
    height: 100%;
    object-fit: cover;
  }
  &__item {
    display: flex !important;
    min-height: rem-calc(200);
    max-height: rem-calc(200);
    @include breakpoint(xlarge) {
      min-height: rem-calc(250);
      max-height: rem-calc(250);
    }
  }
  &__desc {
    background-color: map-get($foundation-palette, blue);
    color: white;
    padding: rem-calc(20 20 0 20);
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-family: $font-helvetica-neue-condensed-bold;
    // height: 100%;
    @media(min-width: 87.5em) {
      padding: rem-calc(70 50 0 50);
    }
  }
  &__time {
    font-size: rem-calc(30);
    font-family: $font-quadon-medium;
  }
  &-dots {
    position: absolute;
    bottom: rem-calc(20);
    display: block;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    // text-align: center;
    left: 50%;
    padding-left: rem-calc(50);
    & li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    & li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: white;
      border: 0;
      outline: none;
      background: transparent;
    }
    & li button:hover,
    & li button:focus {
      outline: none;
    }
    & li button:hover:before,
    & li button:focus:before {
      // opacity: 1;
      color: map-get($foundation-palette, red);
    }
    & li button:before {
      font-family: 'slick';
      font-size: 35px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      // opacity: .25;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    & li.slick-active button:before {
      // opacity: .75;
      color: map-get($foundation-palette, dark-red);
    }
  }
}
.slider-foto {
  margin-top: rem-calc(25);
  overflow: hidden;
}

.slider-news {
  &__container {
    // min-height: rem-calc(526);
    min-height: rem-calc(347);
    border-bottom: .07143rem solid #e1e1e1;
    background-color: white;
  }
  &__nav {
    // width: rem-calc(272);
    border-right: .07143rem solid #e1e1e1;
    display: flex;
    flex-direction: column;
  }
  &__cell {
    padding: rem-calc(10 25 10 25);
    flex-grow: 1;
    height: 25%;
    // border-bottom: .07143rem solid #e1e1e1;
    &:not(:last-child) {
      border-bottom: .07143rem solid #e1e1e1;
    }
    &_selected {
      background-color: map-get($foundation-palette, blue);
      color: white;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: rem-calc(-34);
        z-index: 1;
        background-image: url($imagesPath+ '/triagle.svg');
        background-position: left center;
        background-repeat: no-repeat;
        width: rem-calc(35);
        @include breakpoint (small only) {
          display: none;
        }
      }
    }
  }
  &__item {
    width: 100%;
    position: relative;
    height: 100%;
    & > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    &-desc {
      text-overflow: ellipsis;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: rem-calc(22 75 20 29);
      background-color: rgba(255,255,255,0.7);
      color: map-get($foundation-palette, blue);
      margin: 0;
      text-overflow: ellipsis;
      font-size: rem-calc(18);
      line-height: rem-calc(24);
      &-tbold {
        font-size: rem-calc(30);
        line-height: rem-calc(24);
        font-family: $font-helvetica-neue-condensed-bold;
      }
    }
  }
  &__date {
    font-size: rem-calc(12);
    color: #868686;
    cursor: pointer;
  }
  &__desc {
    cursor: pointer;
    font-size: rem-calc(13);
    margin: 0;
    line-height: rem-calc(16);
    // overflow: hidden;
    // height: rem-calc(32);
  }
  &__tbold {
    font-size: rem-calc(15);
    font-family: $font-helvetica-neue-condensed-bold;
  }
}
.slider-video .slider-video-dots{
    left: 0px;
}