.soc {
  width: rem-calc(35);
  height: rem-calc(35);
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  margin-right: rem-calc(9);
  border-radius: 50%;
  margin-bottom: rem-calc(7);
  text-align: center;
  line-height: rem-calc(32);
  border: rem-calc(2) solid $white;
  &:hover,&:focus,&:active {
    border-color: $primary-color;color: $primary-color;
  }
    @include breakpoint(small only) {
    margin-bottom: rem-calc(20); }
}
