extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Дистижения
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-team-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                p Достижения команды «Реактор»
                ul
                    li Двукратный Чемпион России и МХЛ 1993/1994, 1995/1996
                    li Серебряный призер чемпионата России 2004/005
                    li Серебряный призер чемпионата РХЛ 1996/1997
                    li Серебряный призер России и МХЛ 1992/1993, 1994/1995
                    li Бронзовый призер чемпионата России 2002/2003, 2003/2004
                    li Обладатель Кубка Европы 1996/1997
                    li Обладатель Кубка МХЛ 1994
                    li Серебряный призер Суперкубка Европы 1997
                    li Вице-чемпион Кубка Европы 1994/1995
                    li Обладатель Континентального Кубка 2006
                    li Серебряный призер Кубка Шпенглера 1995
