extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Клуб
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-club-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                .callout
                    p Основан 22 февраля 2008 года
                    p Цвета клуба: синий, белый, красный.
                    p Домашняя арена: стадион «Нефтехимик»

                h2 Состав клуба
                ul
                    li Команда «Нефтехимик». Выступает в КХЛ (Континентальной хоккейной лиге).
                    li Молодежная команда «Реактор». Выступает в МХЛ (Молодежной хоккейной лиге).

                h2 История клуба
                p #[b 1950-1962. Рождение клуба]. Хоккей с шайбой или канадский хоккей, как его порою называли в середине прошлого века, прочно начал культивироваться в нашей стране сразу после Великой отечественной войны.
                p #[b 1981-1993]. Сезон 1983-84. в своей истории команда преодолела рубеж 300 заброшенных шайб, улучшив прежний рекорд на 30 точных бросков ( 306 против 276 в сезоне 1977/78).
                    | Сезон 1984-85. 22-летний Николай Мариненко стал соавтором сразу двух достижений, непобитых и поныне. Он 58 раз огорчал вратарей соперников, а в матче с магнитогорским "Металлургом" записал на свой счет 7 шайб!
                    | Сезон 1986-87. Хоккеисты и все болельщики получили долгожданный подарок - вступил в действие СКК "Иртыш". Первый матч в ледовом дворце состоялся 6 февраля в присутствии почти 4 500 зрителей.
                p #[b 2000-2002]. Путь к чемпионству получился долгим, тернистым и занял несколько сезонов. Тем слаще были первые золотые медали, которые примерили на себя хоккеисты 10 апреля 2004 года в пятом, решающем матче финальной серии с магнитогорским "Металлургом".
                p #[b 2008-2009]. Первый сезон в Континентальной хоккейной лиге получился одним из самых насыщенных и, скорее всего, самым заметным в истории клуба. В новый сезон «Авангард» вступил под руководством вернувшегося в Омск главного тренера Раймо Сумманена и с самым молодым в истории клуба капитаном.

                p: a(href='') Полная история клуба #[i.fa.fa-angle-right]

                h2 Достижения клуба
                ul
                    li Двукратный Чемпион России и МХЛ 1993/1994, 1995/1996
                    li Серебряный призер чемпионата России 2004/005
                    li Серебряный призер чемпионата РХЛ 1996/1997
                    li Серебряный призер России и МХЛ 1992/1993, 1994/1995
                    li Бронзовый призер чемпионата России 2002/2003, 2003/2004
                    li Обладатель Кубка Европы 1996/1997
                    li Обладатель Кубка МХЛ 1994
                    li Серебряный призер Суперкубка Европы 1997
                    li Вице-чемпион Кубка Европы 1994/1995
                    li Обладатель Континентального Кубка 2006
                    li Серебряный призер Кубка Шпенглера 1995
