extends regular

include components/mixins/_mixin-comment-author

block content
    .grid-container
        .grid-x.grid-padding-x: .cell
            .text-medium-gray= '15.08.2017 • '
                a(href='') Матчи
            h1 Александр Матерухин: думаю, мы выглядели лучше
        .grid-x.grid-padding-x
            .cell.small-12.medium-7.large-8

                .content
                    a.button.hollow(href='news-article.html' title='К тексту статьи') #[i.fa.fa-chevron-left] К статье

                h3.text-dark-gray Комментарии (7)

                +commentAuthor
                .margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
                hr.margin-bottom-6

                +commentAuthor
                .margin-bottom-6 Обязательно придём!!!
                hr.margin-bottom-6

                +commentAuthor
                .margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
                hr.margin-bottom-12

                include components/common/_pagination

                .callout.margin-top-12
                    h3 Добавить комментарий
                    form(action='' method='post', data-abide='', novalidate='novalidate')
                        .grid-x.grid-padding-x: .cell
                            input(type='text', placeholder='Представьтесь *', required='')
                            p.help-text Ваше имя для комментария
                        .grid-x.grid-padding-x: .cell
                            input(type='email', placeholder='Ваша электронная почта', required='')
                        .grid-x.grid-padding-x: .cell
                            textarea(placeholder='Текст комментария' rows='2')
                        .grid-x.grid-padding-x: .cell
                            button.button(type='submit') Отправить сообщение &nbsp;
                                i.fa.fa-envelope-o.fa-lg

            .cell.small-12.medium-5.large-4
                include components/smi/_aside-news-index