extends regular

include components/mixins/_mixin-news-tile

block content
    .grid-container
        .grid-x.grid-padding-x
            .cell
                div #[i.fa.fa-camera] 71 &#160; #[span.text-medium-gray 13.08.2017] •&#160;
                    a(href='photos.html') Матчи
                h1 Фоторепортаж с матча Клуб—Соперник (1:0)
        .grid-x.grid-padding-x
            .cell.small-12.medium-7.large-8

                .content
                    p.lead Реализовавший большинство в поединке с «Локомотивом» Александр Матерухин отметил, что динамовцы должны были побеждать.
                    p.text-medium-gray Фотограф: Юрий Неверов

                    .grid-x.grid-padding-x.grid-margin-y.small-up-2.medium-up-3
                        - var n = 0
                        while n < 18
                            - n++
                            .cell
                                img(src='http://via.placeholder.com/140x100', alt='Фото #{n}' style='width:100%;' data-toggle='photoModal')

                    .margin-top-12
                        include components/common/_pagination

                    br
                    .callout.text-center
                        span.show-for-large.text-medium-gray Поделиться в соц. сетях: &#160;
                        a(href='#', title='').fa-stack.fa-lg.text-vk
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-vk.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-twi
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-fb
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-ok
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-insta
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-gp
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-google-plus.fa-stack-1x.fa-inverse

                a.button.hollow(href='photos.html') #[i.fa.fa-chevron-left] К списку фотоальбомов

                .content
                    h3.text-dark-gray Похожие фотоальбомы
                    .grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='similar-news', data-equalize-by-row='true')
                        .cell
                            .card(data-equalizer-watch='similar-news')
                                .card-image
                                    img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;')
                                .card-section
                                    h4: a(href='photo-album.html') Соперник — Клуб: стартовые составы
                                    p #[i.fa.fa-camera] 24 &#160; #[span.text-medium-gray 10.07.2017 • ]
                                        a(href='photos.html') On road
                        .cell
                            .card(data-equalizer-watch='similar-news')
                                .card-image
                                    img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;')
                                .card-section
                                    h4: a(href='photo-album.html') Матч Соперник—Клуб. Представляем главного судью матча
                                    p #[i.fa.fa-camera] 12 &#160; #[span.text-medium-gray 12.08.2017 • ]
                                        a(href='photos.html') Матчи

                hr
                .content
                    h3.text-dark-gray Свежие фотоальбомы
                    .grid-x.grid-padding-x.small-up-1.medium-up-3(data-equalizer='recent-news', data-equalize-by-row='true')
                        .cell
                            .card(data-equalizer-watch='recent-news')
                                .card-image
                                    img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;')
                                .card-section
                                    h4: a(href='photo-album.html') Предматчевая тренировка на Stade de Suisse
                                    p #[i.fa.fa-camera] 30 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                        a(href='photos.html') События
                        .cell
                            .card(data-equalizer-watch='recent-news')
                                .card-image
                                    img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;')
                                .card-section
                                    h4: a(href='photo-album.html') Армейцы вылетели в Швейцарию
                                    p #[i.fa.fa-camera] 52 &#160; #[span.text-medium-gray 14.08.2017 • ]
                                        a(href='photos.html') Интервью
                        .cell
                            .card(data-equalizer-watch='recent-news')
                                .card-image
                                    img(src='http://via.placeholder.com/140x100', alt='Фото' style='width:100%;')
                                .card-section
                                    h4: a(href='photo-album.html') Соперник – Клуб — 0:1
                                    p #[i.fa.fa-camera] 8 &#160; #[span.text-medium-gray 15.08.2017 • ]
                                        a(href='photos.html') Матчи

                .reveal(id='photoModal' data-reveal data-deep-link='true')
                    img(src='http://via.placeholder.com/1200x900', alt='Фото' style='width:100%;')
                    button.close-button(data-close aria-label='Закрыть' type='button')
                        span(aria-hidden='true') &times;

            aside.cell.small-12.medium-5.large-4
                include components/smi/_aside-photos-index