extends team

block team
    .grid-x.grid-padding-x.margin-bottom-8
        .cell.medium-5.large-4
            img(src='http://via.placeholder.com/300x400' alt='Фото игрока' style='width:100%;')
        .cell.auto
            h2 Станислав Крицюк
            p: b #[span.badge 88] Россия
            ul
                li #[b Амплуа]: вратарь
                li #[b Возраст]: 26 лет
                li #[b Рост]: 182 см
                li #[b Вес]: 84 кг
                li #[b Хват]: правый
                li #[b День рождения]: 29.04.1991
                li #[b В команде]: с 20.01.2016

    ul.tabs#player-info-tabs(data-tabs)
        li.tabs-title.is-active: a(href='#player-info-tab1' aria-selected="true") Статистика
        li.tabs-title: a(href='#player-info-tab6') Игры
        li.tabs-title: a(href='#player-info-tab2') Карьера
        li.tabs-title: a(href='#player-info-tab3') Новости
        li.tabs-title: a(href='#player-info-tab4') Фото
        li.tabs-title: a(href='#player-info-tab5') Видео

    .tabs-content(data-tabs-content="player-info-tabs")
        .tabs-panel.is-active#player-info-tab1
            //-Статистика
            include components/smi/_player-stats-tab

        .tabs-panel#player-info-tab6
            //-Игры
            include components/smi/_player-games-tab

        .tabs-panel#player-info-tab2
            //-Карьера
            include components/smi/_player-career-tab

        .tabs-panel#player-info-tab3
            //-Новости
            include components/smi/_player-news-tab

        .tabs-panel#player-info-tab4
            //-Фото
            include components/smi/_player-photo-tab

        .tabs-panel#player-info-tab5
            //-Видео
            include components/smi/_player-video-tab