extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Правила поведения
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-tickets-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                p: b Уважаемые посетители матчей «Нефтехимик»

                p Напоминаем вам о том, что во время проведения футбольных матчей на арене «быков» действуют правила поведения для зрителей, от соблюдения которых напрямую зависит ваш комфорт и комфорт окружающих. Просим вас внимательно ознакомиться с информацией, представленной ниже.

                h2 Возможности

                ul
                    li Приносить на трибуны стадиона и использовать средства поддержки, отвечающие этим требованиям.
                    li Поддерживать участников матча стоя (не вставая на сидения), если при этом нет возражений со стороны других зрителей.
                    li Производить фото- и видеосъемку непрофессиональными устройствами, если их запрещение не предусмотрено организатором матча и/или регламентом соревнования, о чем должна быть сделана соответствующая запись на входных билетах.
                    li Проходить на трибуны с безалкогольными напитками в пластмассовых или бумажных стаканах и едой, купленными на стадионе.
                    li Обеспечивать безопасность своей жизни и здоровья, а также предотвращать причинение вреда своему имуществу.
                    li Рассчитывать на оказание необходимой медицинской помощи в случаях и в порядке, установленных законодательством Российской Федерации.

                h2 Обязательства

                ul
                    li Находясь на стадионе и прилегающей к нему территории, соблюдать общественный порядок и общепринятые нормы поведения.
                    li Вести себя уважительно по отношению к другим зрителям и участникам матча, обслуживающему персоналу, лицам, ответственным за соблюдение порядка, не допускать действий, создающих опасность для окружающих.
                    li Незамедлительно сообщать представителям контрольно-распорядительных органов и сотрудникам полиции о случаях обнаружения подозрительных предметов, вещей, случаях возникновения задымления или пожара, о необходимости оказания медицинской помощи себе или другим людям, находящимся на стадионе.
                    li В целях обеспечения безопасности и воспрепятствованию проноса запрещенных предметов при проходе или проезде на стадион проходить спецконтроль (досмотр).
                    li Сдавать в камеры хранения стадиона громоздкие и / или запрещенные к проносу на территорию стадиона предметы. Громоздким предметом считается любой объект, размеры которого превышают 25 см х 25 см х 25 см, кроме барабанов.

                h2 Запреты

                ul
                    li Проход и пребывание на территории стадиона в состоянии алкогольного или наркотического опьянения.
                    li Курение в тех частях стадиона, где это запрещено.
                    li Бросание предметов, в том числе овощей, фруктов или жидкостей любого рода (в таре или без неё), в направлении участников матча, зрителей, других лиц, а также в направлении футбольного поля или на само поле.
                    li Использование элементов одежды, предметов и методов с целью сокрытия лица при проходе на стадион и во время нахождения на нем.
                    li Нахождение на строениях и конструкциях стадиона, не предназначенных для пользования зрителями: фасады, заборы, стены, ограждения, барьеры, столбы освещения, платформы телевизионных камер, деревья, крыши и т.д.
                    li Выкрики, скандирование, речёвки или песни, публичная демонстрация знаков и / или иной символики, распространение печатных материалов, а также иные действия, направленные на унижение человеческого достоинства участников мероприятия и зрителей, оскорбляющие нравственность, либо носящие экстремистский характер, либо направленные на разжигание расовой, социальной, национальной розни, против РФС, его должностных лиц, ветеранов футбола, в том числе умерших.
                    li Проходить на матч с животными и птицами, за исключением собак-поводырей в намордниках.
                    li Проводить любые политические акции, в частности направленные на публичное выражение политических взглядов, одобрение / неодобрение, поддержку / протест в отношении политических решений государственных или местных органов власти.
                    li Использование огнеопасных и пиротехнических изделий, независимо от вида и назначения, включая предметы, которые могут быть использованы для изготовления пиротехнических изделий (за исключением сигарет, спичек, карманных пластиковых зажигалок), в том числе дымовые шашки, файеры, сигнальные ракеты, петарды, взрывчатые, ядовитые, отравляющие и едко пахнущие вещества; радиоактивные материалы; газовые баллоны, едкие, горючие вещества, красители или резервуары, содержащие вещества, опасные для здоровья, а также легковоспламеняющиеся и горючие жидкости и материалы.
                    li Использование духовых приспособлений для извлечения звуков (в т. ч. вувузелы).
                    li Пронос, демонстрация и использование пропагандистских материалов экстремистского характера.
                    li Пронос, демонстрация и использование нацистской атрибутики или символики либо атрибутики, сходной с нацистской атрибутикой или символикой до степени смешения.
                    li Пронос и использование технических средств, способных помешать проведению матча или его участникам (в т. ч. лазерных устройств, фонарей и т. п.), средств звукоусиления (за исключением установленных правилами), радиостанций.

                h2 Ответственность

                ul
                    li Лица, не соблюдающие требования настоящих правил или отказывающиеся от их соблюдения, могут быть удалены со стадиона без возмещения стоимости входных билетов. В случаях совершения зрителями противоправных действий они привлекаются к ответственности в соответствии с административным, уголовным и / или гражданским законодательством Российской Федерации.
                    li К лицам, нарушающим данные правила, организатором матча (РФС) и соответствующими государственными органами могут быть применены следующие санкции, в том числе по совокупности:
                        ul
                            li удаление нарушителя со стадиона без возмещения стоимости входного билета и иных расходов;
                            li аннулирование абонемента (клубной карты) на посещение матчей;
                            li привлечение к административной или уголовной ответственности;
                            li привлечение к гражданско-правовой ответственности в случае причинения материального ущерба стадиону или клубу;
                            li запрет посещения стадиона в дни проведения спортивных мероприятий способами, не противоречащими действующему законодательству Российской Федерации, в том числе отказ в продаже билетов или в проходе на стадион.
                    li Организатор матча вправе требовать возмещения материального ущерба от правонарушителей в установленном законодательством РФ порядке.

                h2 Средства поддержки и атрибутики

                ul
                    li Баннеры и флаги размером 2 м х 1,5 м, а также меньших размеров, изготовленные из негорючих малоопасных материалов, в том числе на пластиковых гибких пустотелых древках, размеры которых не превышают 1,5 м в длину и 5 см в диаметре, также изготовленные из не воспламеняющихся материалов.
                    li Не должны содержать надписей политического, экстремистского, провокационного или рекламного характера.
                    li Размещение в секторах трибун стадиона, свободных от зрителей, или в иных местах, на которых не будут мешать просмотру матча другими зрителями.
                    li Средства поддержки, содержащие слова и выражения на государственных языках республик Российской Федерации, должны иметь заверенный клубом перевод.
                    li Средства поддержки, содержащие слова и выражения на иностранном языке, должны иметь нотариально заверенный перевод.
                    li Средства поддержки, содержащие аббревиатуры и сочетания цифр, должны иметь письменное разъяснение значения аббревиатур и сочетаний цифр, заверенное клубом.
                    li Мегафон разрешено проносить и использовать только организованным группам фан-клубов. Мощность – не более 200 Вт, не более 1 единицы на сектор.
                    li Барабан разрешено проносить и использовать только организованным группам фан-клубов.
                    li Флаг до 1,5 м в длину и 5 см в диаметре. Только на пластиковых пустотелых (телескопических) древках.
                    li Баннер-транспарант до 2 м х 1,5 м. Содержание надписей не должно нарушать нормы действующего административного и уголовного законодательства РФ, а также содержать оскорбления в адрес участников футбольного матча, судей, других зрителей и сотрудников полиции.
                    li Баннер-полотнище разрешено проносить и использовать только организованным группам фан-клубов.
                    li Флаг-полотнище разрешено проносить и использовать только организованным группам фан-клубов.

                p: b Призываем вас соблюдать правила приличия, беречь окружающих и труд сотрудников стадиона.

                p: b: em Болейте красиво!

