doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        block header
          include components/smi/_header

        block article

        block page
          .grid-container
              .grid-x.bg-white 
                  .cell.small-12.medium-7.large-7.xlarge-8.small-order-2.medium-order-1
                    include components/neftehimik/_news-index
                    .content
                      include components/neftehimik/_live-feeds
                      include components/neftehimik/_shop-popular
                      include components/neftehimik/_team-static
                      include components/neftehimik/_sponsors-club
                  .cell.small-12.medium-5.large-5.xlarge-4.small-order-1.medium-order-2
                    include components/smi/_aside-index-for-index
                      
          .grid-container
              .grid-x
                .cell.banner-center
                  img(src='http://via.placeholder.com/1400x145')
          .grid-container
              .grid-x
                include components/neftehimik/_sponsors
          
        include components/smi/_footer
        include components/service/_js
