extends regular

include components/mixins/_mixin-player

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1#title Турнирные таблицы
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            .content
                .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
                    span.button.light-gray.expanded(data-toggle)
                    i.fa.fa-lg.fa-bars
                    | &nbsp;Навигация
                .card#menu-left
                    ul.menu.vertical
                        li.active: a(href='#' title='') «Нефтехимик»
                        li: a(href='#' title='') «Реактор»
            hr
            include components/smi/_aside-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                ul.menu.dropdown.margin-bottom-6(data-dropdown-menu)
                    li
                        a(href='') 2017-2018 Регулярный чемпионат
                        ul.menu
                            li.active: a(href='') 2017-2018 Регулярный чемпионат
                            li: a(href='') 2016-2017 Плей-офф
                            li: a(href='') 2016-2017 Регулярный чемпионат
                            li: a(href='') 2015-2016 Плей-офф
                            li: a(href='') 2015-2016 Регулярный чемпионат
                            li: a(href='') 2014-2015 Плей-офф
                            li: a(href='') 2014-2015 Регулярный чемпионат
                            li: a(href='') 2013-2014 Плей-офф
                            li: a(href='') 2013-2014 Регулярный чемпионат
                            li: a(href='') 2012-2013 Плей-офф
                            li: a(href='') 2012-2013 Регулярный чемпионат
                            li: a(href='') 2011-2012 Плей-офф
                            li: a(href='') 2011-2012 Регулярный чемпионат
                            li: a(href='') 2010-2011 Плей-офф
                            li: a(href='') 2010-2011 Регулярный чемпионат

                ul.tabs#teams-standings-tabs(data-tabs)
                    li.tabs-title.is-active: a(href='#teams-standings-tab1' aria-selected="true") По конференциям
                    li.tabs-title: a(href='#teams-standings-tab2') По дивизаонам
                    li.tabs-title: a(href='#teams-standings-tab3') Чемпионат

                .tabs-content(data-tabs-content="teams-standings-tabs")
                    .tabs-panel.is-active#teams-standings-tab1
                        //-Конференции
                        include components/smi/_teams-standings-by-conference-tab

                    .tabs-panel#teams-standings-tab2
                        //-Дивизионы
                        include components/smi/_teams-standings-by-division-tab

                    .tabs-panel#teams-standings-tab3
                        //-Чемпионат
                        include components/smi/_teams-standings-championship-tab