extends regular

include components/mixins/_mixin-news-tile

block content
    .grid-container
        .grid-x.grid-padding-x
            .cell
                div #[span.label 01:15] &#160; #[span.text-medium-gray 13.08.2017 • ]
                    a(href='videos.html') Интервью
                h1 Владимир Денисов - о турнире и предстоящем старте сезона
        .grid-x.grid-padding-x.align-center
            .cell.small-12.large-8
                .content
                    p.text-center
                        img(src='http://via.placeholder.com/800x500', alt='Видео' style='width:100%;')

                    .callout.text-center
                        span.show-for-large.text-medium-gray Поделиться в соц. сетях: &#160;
                        a(href='#', title='').fa-stack.fa-lg.text-vk
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-vk.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-twi
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-fb
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-ok
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-insta
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x.fa-inverse
                        | &nbsp;
                        a(href='#', title='').fa-stack.fa-lg.text-gp
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-google-plus.fa-stack-1x.fa-inverse

                    a.button.hollow(href='videos.html') #[i.fa.fa-chevron-left] К списку видео

        .grid-x.grid-padding-x: .cell
            hr
            .content
                h3.text-dark-gray Похожее видео
                .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer='similar-news', data-equalize-by-row='true')
                    .cell
                        .card(data-equalizer-watch='similar-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Виктор Ганчаренко: Дома Янг Бойз играет сильнее, чем на выезде
                                p #[span.label 02:34] &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='videos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='similar-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Виктор Васин: Искусственное поле не станет проблемой
                                p #[span.label 01:15] &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='videos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='similar-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Соперник – Клуб — 0:1
                                p #[span.label 03:12] &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='videos.html') On road
                    .cell
                        .card(data-equalizer-watch='similar-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Соперник — Клуб: стартовые составы
                                p #[span.label 02:09] &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='videos.html') События

            hr
            .content
                h3.text-dark-gray Свежее видео
                .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer='recent-news', data-equalize-by-row='true')
                    .cell
                        .card(data-equalizer-watch='recent-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Соперник – Клуб — 0:1
                                p #[span.label 03:12] &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='videos.html') On road
                    .cell
                        .card(data-equalizer-watch='recent-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Соперник — Клуб: стартовые составы
                                p #[span.label 02:09] &#160; #[span.text-medium-gray 15.08.2017 • ]
                                    a(href='videos.html') События
                    .cell
                        .card(data-equalizer-watch='recent-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Виктор Ганчаренко: Дома Янг Бойз играет сильнее, чем на выезде
                                p #[span.label 02:34] &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='videos.html') Интервью
                    .cell
                        .card(data-equalizer-watch='recent-news')
                            .card-image
                                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
                            .card-section
                                h4: a(href='video.html') Виктор Васин: Искусственное поле не станет проблемой
                                p #[span.label 01:15] &#160; #[span.text-medium-gray 14.08.2017 • ]
                                    a(href='videos.html') Интервью