.place
  .row
    .large-12.medium-15.columns.text-center.medium-text-left.large-text-right.place__text
      img(src="./images/placeholder.svg", alt="")
      | 400078, Волгоград, пр-т Ленина, дом 100, оф. 134
    .large-5.medium-9.columns.text-center.medium-text-right.large-text-center
      a(href="#").button.hollow.place__btn Заказать звонок
    .large-7.columns.place__text.place__text_cont.text-center.large-text-right
      a(href="#")
        span.fa-stack.place__phone
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-phone.fa-stack-1x
        |  +7 (8442) 983-083
      span.place__pole |
      a(href="#") +7 (961) 081 3000
