include _place
.stairs(style="  background-image: url(./i/stairs.png)")
  include _header
  .row.text-center
    .columns.stairs__title Бетонные лестницы любых форм и размеров
    .large-9.columns.large-centered.stairs__main
      .stairs__architect Свои архитекторы и дизайнеры в штате разработают Ваш проект с нуля
      a(href="#").button Заказать бесплатный замер
  .action
    .row
      .large-6.columns.action__left.show-for-large
        .action__percent
          img(src="./images/discount.svg", alt="")
      .large-8.medium-14.columns.text-center.medium-text-left
        .action__title Акция!
        .action__order при заказе от двух проектов
        .action__discount скидка от 10%
      .large-10.medium-10.columns.text-center.medium-text-left
        a(href="#").button.hollow.action__btn Узнать подробности
