mixin build (img)
  .columns.build
      a(href="#").build__img
        img(src="./i/"+ img, alt="")
        .build__search
          span.fa-stack.fa-2x
            i.fa.fa-circle-thin.fa-stack-2x
            i.fa.fa-search-plus.fa-stack-1x
