.row.large-up-3.medium-up-3.small-up-1(data-equalizer,data-equalize-by-row="true")
  .columns
    .journal(style="background-image:url(./i/place1.png);",data-equalizer-watch)
      .journal__text
        strong Еженедельный журнал «100 вопросов»
        br
        | Подпишитесь и получайте свежие статьи на почту.
  .columns
    .journal(style="background-image:url(./i/place2.png);",data-equalizer-watch)
      .journal__text.journal__text_left
        strong Предзаказ книги
        br
        | 100 вопросов на пути к себе
  .columns
    .journal(style="background-image:url(./i/place3.png);",data-equalizer-watch)
      .journal__text
        strong Задайте свой вопрос Андрею Алексееву
        br
        | Самые интересные вопросы читайте в рубрике Вопросы и ответы.
.row.columns
  .bg-white
    .row
      .medium-12.columns
        .restaurant
          h6 Немного об авторе
          p Он открывал магазины и рестораны, строил торговые центры, инвестировал в кино и электронную коммерцию. Его имя связано с развитием фаст-фуда в России. Будучи состоятельным и успешным человеком, однажды он разочаровался в жизни.
          p Пройдя через триумф и финансовый крах, благополучие и утрату смысла, Андрей создал собственную философию, где материальное и духовное — две части гармоничной жизни. Он основал проект «Мира» для развития культуры спокойного отдыха и поддержки осознанного предпринимательства. Опыт своей трансформации Андрей Алексеев описывает в книгах, на встречах с читателями и практикумах.
      .medium-12.columns.poster.text-right
        img(src="./i/alex.png", alt="")
        .poster__text
          | — Хочешь быстро — иди один,
          br
          |хочешь дальше, пойдём вместе.
.mb80
include _relationship
p
include _send
.mb80
.row.columns
  h2
    | Популярные
    =" "
    a(href="#").reg вопросы
.row(data-equalizer,data-equalize-by-row="true")
  .large-17.medium-15.columns
    .question(style="background-image:url(./i/img1.png);",data-equalizer-watch)
      .rel.rel_text.text-white
        p
          a(href="#").rel__category.text-white 100 вопросов на пути к себе
        strong Николай , Новосибирск:
        br
        p.rel__info
          | «Здравствуйте, Андрей. Мне 42 года, за плечами 2 развода. И женщины вроде обе были хорошие, хозяйственные, красивые. Сначала все было хорошо и складно. Я любил и баловал так, как только мог. На руках носил, цветы охапками таскал, завтрак в постель приносил, выкладывался по полной, не экономил, старался окружить счастьем, взять все проблемы на себя. Но взамен не получал ничего. Заботливые поначалу, обе мои женщины через 2-3 года превращались в капризных и бездушных кукол. Когда у меня возникали проблемы — никакой поддержки от них не было. В общем, недавно снова встретил женщину, конечно, о свадьбе пока речи не идет. Красивая, заботливая. Но я уже боюсь. А вдруг это я своей заботой и опекой все порчу? Или все эти люди даны мне как урок? Только какой?»
        a(href="#").rel__category.text-white Читать ответ
  .large-7.medium-9.columns
    .question(style="background-image:url(./i/man.png);",data-equalizer-watch)
      .rel.rel_text.text-white
        p
          a(href="#").rel__category.text-white 100 вопросов на пути к себе
        .mb80
        div
          strong  Александр, Новосибирск:
        h3 «Какими способами кроме медитации можно успокоить ум?»
        a(href="#").rel__category.text-white Читать ответ
.mb80
.send
  .row
    .columns
      h2
        a(href="#").reg Расписание
        =" "
        | событий на май
    .columns.april.text-left
      a(href="#").april__month Апрель
      a(href="#").april__circle 1
      a(href="#").april__circle 2
      a(href="#").april__circle 3
      a(href="#").april__circle 4
      a(href="#").april__circle 5
      a(href="#").april__circle 6
      a(href="#").april__circle 7
      a(href="#").april__circle 8
      a(href="#").april__circle 9
      a(href="#").april__circle 10
      a(href="#").april__circle 11
      a(href="#").april__circle 12
      a(href="#").april__circle 13
      a(href="#").april__circle.active 14
      a(href="#").april__circle 15
      a(href="#").april__circle 16
      a(href="#").april__circle 17
      a(href="#").april__circle 18
      a(href="#").april__circle 19
      a(href="#").april__circle 20
      a(href="#").april__circle 21
      a(href="#").april__circle 22
      a(href="#").april__circle.april__circle_long
        | 23
        span.april__line
        | 27
      a(href="#").april__circle 28
      a(href="#").april__circle 29
      a(href="#").april__circle 30
      a(href="#").april__circle 31
      a(href="#").april__month Июнь
    p &#160;
    .columns.text-center
      h3
        a(href="#").reg 14 мая
      h3
        a(href="#").reg.reg_norm Встреча с читателями в Кемерово
      p.small
        | Магазин «Плиний старший», проспект Ленина, 28
        br
        | Начало в 18:00, вход свободный
  p
.retreat(style="background-image:url(./i/place6.png);")
    .row.columns.text-center
      .retreat__date 23 - 27 мая, горный алтай
      p.retreat__title
        | Ретрит с Андреем Алексеевым
        br
        a(href="#").reg.reg_norm «Медитация Алтая»
      a(href="#").button.hollow Купить билет
.mb80
.row.columns
  h2
    | Новое в
    =" "
    a(href="#").reg магазине
.row(data-equalizer,data-equalize-by-row="true")
  .medium-12.columns
    .bg-white(data-equalizer-watch)
      p
        a(href="#")
          img(src="./i/place7.png", alt="")

      .rel.rel_no
        h3
          a(href="#").reg Видеосеминар
          br
          a(href="#").reg.reg_norm Путь к себе». 3 серии, чтобы изменить себя.
        p.text-black Мы думаем, что бизнес — это наш ребёнок, и его надо растить, контролировать и спасать, и нельзя бросить. Но дело, предназначенное судьбой, будет жить само, не вгонит в долги и не навредит здоровью.
        span.rel__price 350&#160;&#8381;
        span.rel__space
        a(href="#").button Заказать
        span.rel__space
        a(href="#").button.hollow Смотреть фрагмент
  .medium-12.columns
    .journal(style="background-image:url(./i/book.png);",data-equalizer-watch)
      .rel
        h3
          a(href="#").reg Книга
          br
          a(href="#").reg.reg_norm Андрей Алексеев. Путь к себе.
        p Второе издание книги с авторскими правками и новыми главами будет интересно как поклонникам Автора, так и людям стремящимся к самосовершенствованию.
        span.rel__price 450&#160;&#8381;
        span.rel__space
        a(href="#").button.white Заказать
        span.rel__space
        a(href="#").button.hollow.white Читать фрагмент
.mb80
.row.columns.text-center
  | — Будьте активными внешне и спокойными внутри.
  br
  .text-secondary Андрей Алексеев
p
