.grid-x.match
  .cell.medium-11.match__border
    p.margin-top-6.text-center
        span(title='Дата и время проведения') 15 августа 2017, 21:45 МСК
        br
        span.match__title(title='Место проведения') Химки Арена
    
    .grid-x.text-center
        .cell.small-4.small-offset-1.medium-2.medium-offset-2
            img.match__img(src="images/logo.svg")
            br
            | Нефтехимик
        .cell.small-1.medium-2: span.stat -
        .cell.shrink: span.stat :
        .cell.small-1.medium-2: span.stat -
        .cell.small-4.medium-2
            img.match__img(src="images/tractor.svg")
            br
            | Трактор
        .cell.text-center
          a.button.match__about(href='news-article.html') Об игре
  .cell
    a.match__link(href="#") &laquo; другой матч
