.grid-x.sponsors-club
  .cell
    h6.sponsors-club__title Спонсоры клуба
  .cell.large-4
    .responsive-embed.sponsors-club__responsive-embed
      .sponsors-club__cell
        img(src='images/sponsors-club/kamaspetcstroy-logo.svg')
  .cell.large-4
    .responsive-embed.sponsors-club__responsive-embed
      .sponsors-club__cell
        img(src='images/sponsors-club/kama-himsnab.jpg')
  .cell.large-4
    .responsive-embed.sponsors-club__responsive-embed
      .sponsors-club__cell
        img(src='images/sponsors-club/past-logo.svg')
