.search-refine {
  display: block;
  padding: rem-calc(8 0 0);
  border-bottom: 1px solid $light-gray;
  margin-bottom: rem-calc(6);
  transition: 0.3s ease;

  &__title {
    margin-bottom: rem-calc(15);
    display: block;
  }

  &_high {
    margin-bottom: rem-calc(23);
    padding-bottom: rem-calc(13);
  }

  &_long {
    padding-bottom: rem-calc(0);
  }

  &:hover {
    background: #f9f9f9;
  }
}
