.sort {
  margin-left: rem-calc(0);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-top: rem-calc(4);
  list-style-type: none;

  &__item {
    margin-left: rem-calc(24);
  }

  &__link {
    font-size: rem-calc(14);
    font-weight: 700;
    color: $dark-gray;
    text-transform: uppercase;
  }
}
