@charset "utf-8";
// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$iPath: '../i/' !default;
$fontsPath: '../fonts' !default;

@import "fonts";
@import "color";

@import "grid";
@import "mixins/margin-level";
@import "abide";
@import "card";
@import "switch";
@import "slider";
@import "title-bar";
@import "top-bar";
@import "tooltip";
@import "thumbnail";
@import "drilldown";
@import "dropdown";
@import "dropdown-menu";
@import "media-object";
@import "off-canvas";
@import "orbit";

@import "slick.scss";
@import "foundation";
@import "motion-ui";
@import "fancybox";
@import "../../node_modules/noty/src/noty.scss";
@import "../../node_modules/noty/src/themes/light.scss";
@include foundation-everything(true, false);

@import "fa-layers";
@import "pagination";
@import "lead";
@import "progress";
@import "label";
@import "callout";
@import "sticky";
@import "responsive-embed";
@import "reveal";
@import "close-button";
@import "typography";
@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "carousel/carousel-volunteers";
@import "accordion";
@import "art";
@import "article-showcase";
@import "aside-right";
@import "assist";
@import "badge";
@import "brand";
@import "breadcrumbs";
@import "button";
@import "calendar";
@import "canv";
@import "capt";
@import "cat";
@import "checkbox-group";
@import "client";
@import "comp";
@import "consultation";
@import "contacts";
@import "date";
@import "dd";
@import "desk";
@import "distinction";
@import "duct";
@import "enter";
@import "err";
@import "error";
@import "event";
@import "footer";
@import "filter-by-edition-content";
@import "header-box";
@import "header";
@import "hr";
@import "info";
@import "input-group";
@import "issue-detail";
@import "magazine";
@import "main-search";
@import "manager";
@import "map";
@import "mark";
@import "menu-base";
@import "menu-top";
@import "menu";
@import "multiselect";
@import "news";
@import "object";
@import "partners";
@import "picture";
@import "postfix";
@import "prod";
@import "project";
@import "promo";
@import "quant";
@import "quest";
@import "rad";
@import "rating";
@import "rect";
@import "reg";
@import "rev";
@import "rubric";
@import "search-refine";
@import "search-result";
@import "search";
@import "sect";
@import "services";
@import "share";
@import "shipment";
@import "side";
@import "soc";
@import "sort-item";
@import "step";
@import "sticky-footer";
@import "tabs";
@import "tile-block";
@import "tile";
@import "user";
@import "volunteer-info";
@import "way";
@import "drop";
@import "paper";
@import "sort";
@import "sky";
@import "wing";
@import "lake";
@import "craft";
@import "letter";
@import "tag";
@import "newspaper";
@import "chassis";
@import "rail";
@import "flame";
@import "place";
@import "stat";
@import "scene";
@import "worker";
@import "level";
@import "jacket";
@import "porter";
@import "file";
@import "indent";
@import "print";
