extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Игровая форма
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-club-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                h2 Форма клуба «Нефтехимик»
                p: img(src='http://via.placeholder.com/800x500' alt='Изображение формы' style='width: 100%')

                h2 Форма клуба «Реактор»
                p: img(src='http://via.placeholder.com/800x500' alt='Изображение формы' style='width: 100%')
