extends regular

include components/mixins/_mixin-player

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Календарь игр
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-team-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                .grid-x.grid-padding-x.margin-bottom-6
                    //- .cell.shrink
                        ul.menu
                            li.active: a(href='games-calendar.html' title='Календарём'): i.fa.fa-lg.fa-calendar
                            li: a(href='games-list.html' title='Списком'): i.fa.fa-lg.fa-list
                    .cell.auto
                        ul.menu.dropdown(data-dropdown-menu)
                            li
                                a(href='') Сезон: 2017-2018
                                ul.menu
                                    li.active: a(href='') 2017-2018
                                    li: a(href='') 2016-2017
                                    li: a(href='') 2015-2016
                                    li: a(href='') 2014-2015
                                    li: a(href='') 2013-2014
                                    li: a(href='') 2012-2013
                                    li: a(href='') 2011-2012
                                    li: a(href='') 2010-2011

                include components/neftehimik/_calendar.pug

            //- .reveal(id='recentGameModal' data-reveal data-deep-link='true')
                include components/smi/_recent-game
                button.close-button(data-close aria-label='Закрыть' type='button')
                    span(aria-hidden='true') &times;

            //- .reveal(id='upcomingGameModal' data-reveal data-deep-link='true')
                include components/smi/_upcoming-game
                button.close-button(data-close aria-label='Закрыть' type='button')
                    span(aria-hidden='true') &times;
