extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 История
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-club-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                p.lead Пять сезонов провела во второй лиге СССР (третий дивизион), десять — в первой лиге СССР (второй дивизион), один — в высшей лиге СНГ (первый дивизион), четыре — в Межнациональной хоккейной лиге, три — в Российской хоккейной лиге, двенадцать— в Суперлиге чемпионата России, два - в Континентальной хоккейной лиге, четыре - в Высшей хоккейной лиге (ВХЛ).

                p: img(src='http://via.placeholder.com/800x500' alt='Фото игрока' style='width: 75%;')

                p С начала своего существования команда называлась «Торпедо», а в 1989 году сменила свое название на единственно верное — «Лада» — по имени самой популярной в России марки автомобиля, выпускаемого владельцем команды - Акционерным обществом «АвтоВАЗ».
                p Новое имя, новый главный тренер — Геннадий Цыгуров, создание в 1990 году профессионального хоккейного клуба сотворили чудо. В 1991 году «Лада» уверенно выиграла турнир в первой лиге и шагнула в главный дивизион российского хоккея, где в год дебюта заняла 9 место.
                p В первом чемпионате Межнациональной хоккейной лиги (сезон 1992/1993) команда выиграла турнир в Восточной конференции, а в серии плей-офф дошла до финала, став в итоге обладателем серебряных медалей.

                p: img(src='http://via.placeholder.com/800x500' alt='Фото игрока' style='width: 75%;')

                p Сезон 1993/1994 привел к бенефису тольяттинской «Лады». Впервые в истории российско-советского хоккея немосковская команда стала абсолютным победителем чемпионата, выиграв золотые медали по итогам четырехкругового регулярного сезона, а затем и Кубок Межнациональной хоккейной лиги в серии плей-офф.
                p Событием огромного значения для «Лады» в декабре 1994 года стало первое в ее истории участие в финале клубного Кубка Европы, который проходил в Финляндии. Проиграв лишь суперфинальный матч клубу «Йокерит» (Хельсинки), «Лада» завоевала серебряные медали, получив титул вице-чемпиона Европы. В этом же сезоне «Лада» вновь выиграла турнир в Восточной конференции чемпионата МХЛ и вновь вышла в финал серии плей-офф, став обладателем серебряных наград.
                p В декабре 1995 года «Лада» успешно дебютировала в старейшем клубном европейском турнире Кубок Шпенглера в швейцарском Давосе. Выиграв круговой турнир, она лишь в финале уступила главный приз сборной Канады, составленной из легионеров, выступающих в Европе.
                p В чемпионате МХЛ 1995/96 гг. «Лада» вновь вернула себе звание чемпиона страны в год своего 20-летия, 30-летия ВАЗа и 50-летия отечественного хоккея. В декабре 1996 года команда в германском Оберхаузене участвовала в последнем розыгрыше клубного Кубка Европы и стала обладателем главного приза, которым российские клубы не владели в течение пяти лет подряд!

                p: img(src='http://via.placeholder.com/800x500' alt='Фото игрока' style='width: 75%;')

                p В чемпионате Российской хоккейной лиги 1996/97 гг. «Лада» уверенно выиграла круговой турнир, а в серии плей-офф проиграла финальный раунд ярославскому «Торпедо» и стала обладателем серебряных наград.
                p Летом 2001 года команду возглавил авторитетнейший специалист Петр Ильич Воробьев, и под его руководством «Лада» в сезоне 2002/2003 гг. вернулась на пьедестал почета, на котором отсутствовала с 1997 года. Впервые в своей истории тольяттинцы стали обладателями бронзовых наград чемпионата России.

                p: img(src='http://via.placeholder.com/800x500' alt='Фото игрока' style='width: 75%;')