doctype html
html.no-js(lang='ru')
    include components/service/_head
    body.padding-vertical-20
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Прототипы сайта

            .content
                include components/smi/_sitemap

        include components/service/_js