extends smi-index
block header
  include components/smi/_header-for-regular
block page
    include components/common/_breadcrumbs
    block content
        .grid-container
            .grid-x
                .cell.small-12.medium-7.large-7.xlarge-8.small-order-2.medium-order-1
                  .content.content_pd
                    h1 Заголовок страницы h1
                    include components/common/_text
                .cell.small-12.medium-5.large-5.xlarge-4.small-order-1.medium-order-2
                  .content
                      include components/common/_sidebar
                      include components/smi/_aside-index
