extends regular

include components/mixins/_mixin-player

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1#title Статистика
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-team-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                ul.menu.dropdown.margin-bottom-6(data-dropdown-menu)
                    li
                        a(href='') 2017-2018 Регулярный чемпионат
                        ul.menu
                            li.active: a(href='') 2017-2018 Регулярный чемпионат
                            li: a(href='') 2016-2017 Плей-офф
                            li: a(href='') 2016-2017 Регулярный чемпионат
                            li: a(href='') 2015-2016 Плей-офф
                            li: a(href='') 2015-2016 Регулярный чемпионат
                            li: a(href='') 2014-2015 Плей-офф
                            li: a(href='') 2014-2015 Регулярный чемпионат
                            li: a(href='') 2013-2014 Плей-офф
                            li: a(href='') 2013-2014 Регулярный чемпионат
                            li: a(href='') 2012-2013 Плей-офф
                            li: a(href='') 2012-2013 Регулярный чемпионат
                            li: a(href='') 2011-2012 Плей-офф
                            li: a(href='') 2011-2012 Регулярный чемпионат
                            li: a(href='') 2010-2011 Плей-офф
                            li: a(href='') 2010-2011 Регулярный чемпионат

                ul.tabs#stats-tabs(data-tabs)
                    li.tabs-title.is-active: a(href='#stats-tab1' aria-selected="true") Статистика игроков
                    li.tabs-title: a(href='#stats-tab2') Статистика команды

                .tabs-content(data-tabs-content="stats-tabs")
                    .tabs-panel.is-active#stats-tab1
                        //- Статистика игроков
                        include components/smi/_players-stats-tab

                    .tabs-panel#stats-tab2
                        //- Статистика команды
                        include components/smi/_team-stats-tab