extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Купить билет On-Line
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-tickets-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                .callout
                    p.text-center
                        span(title='Дата и время проведения') 15 августа 2017, 21:45 МСК
                        br
                        span.text-dark-gray(title='Место проведения') Химки Арена
                    p.text-center Команда #[i.fa.fa-3x.fa-firefox] #[span.stat —] #[i.fa.fa-3x.fa-chrome] Соперник
                p: a.text-dark-gray(href='tickets-online.html') #[i.fa.fa-chevron-left] Другой матч

                p.text-center: b Выберите сектор арены

                table.text-center.unstriped(data-equalizer='arena-sections')
                    tr
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown")
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;')
                            //-Эта ячейка задаёт отступы всем остальным
                            .margin-bottom-12.margin-top-12 Сектор 3
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 4
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 5
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 6
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown")
                    tr
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 2
                        td(colspan='4' rowspan='2').text-dark-gray.text-center ЛЁД
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 7
                    tr
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 1
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 8
                    tr
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown")
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 12
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 11
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 10
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown" style='background: #eee;') Сектор 9
                        td(data-equalizer-watch='arena-sections' data-toggle="sector-dropdown")

                .dropdown-pane.text-center(id='sector-dropdown' data-dropdown data-hover='true' data-hover-pane='true')
                    h3 Сектор 7 #[small Трибуна B]
                    p 650 - 700 руб.
                    a.button.hollow(data-toggle='seatsModal') Посмотреть места

                .reveal.large(id='seatsModal' data-reveal data-deep-link='true')
                    include components/smi/_tickets-online-seats
                    button.close-button(data-close aria-label='Закрыть' type='button')
                        span(aria-hidden='true') &times;