extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Купить билет On-Line
    .grid-container: .grid-x.grid-padding-x
        aside.cell.small-12.medium-5.large-4.medium-order-2
            include components/smi/_aside-tickets-index

        .cell.small-12.medium-7.large-8.medium-order-1
            .content
                p: b Выберите матч

                ul.menu.margin-bottom-6
                    li: a(href='tickets-online.html' title='Календарём'): i.fa.fa-lg.fa-calendar
                    li.active: a(href='tickets-online-list.html' title='Списком'): i.fa.fa-lg.fa-list

                table
                    thead
                        tr
                            td.text-dark-gray(colspan='2') #[i.fa.fa-lg.fa-arrow-left] Июль 2017
                            th(colspan='2').text-center Август 2017
                            td(colspan='2').text-right
                                a(href='#' title='Сентябрь 2017')
                                    | Сентябрь 2017 #[i.fa.fa-lg.fa-arrow-right]
                    tbody
                        tr.text-dark-gray
                            td
                            td 12 августа 2017, Сб, 19:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Соперник #[i.fa.fa-3x.fa-chrome]
                            td: span.stat 0 : 1
                            td #[i.fa.fa-3x.fa-firefox] Команда
                            td

                        tr.text-dark-gray
                            td: i.fa.fa-home
                            td 14 августа, 2017, Пн, 15:30 МСК
                                br
                                span.text-dark-gray  Плей-офф
                            td Команда #[i.fa.fa-3x.fa-firefox]
                            td: span.stat 4 : 2
                            td #[i.fa.fa-3x.fa-chrome] Соперник
                            td
                        tr.text-dark-gray
                            td
                            td 16 августа, 2017, Ср, 15:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Соперник #[i.fa.fa-3x.fa-chrome]
                            td: span.stat 2 : 3
                            td #[i.fa.fa-3x.fa-firefox] Команда
                            td
                        tr.text-dark-gray
                            td
                            td 17 августа, 2017, Чт, 15:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Соперник #[i.fa.fa-3x.fa-chrome]
                            td: span.stat 3 : 2
                            td #[i.fa.fa-3x.fa-firefox] Команда
                            td
                        tr
                            td: i.fa.fa-home
                            td 23 августа 2017, Ср, 19:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Команда #[i.fa.fa-3x.fa-firefox]
                            td: span.stat.text-dark-gray – : –
                            td #[i.fa.fa-3x.fa-chrome] Соперник
                            td: a(href='tickets-online-sectors.html') Билеты
                        tr
                            td: i.fa.fa-home
                            td 25 августа 2017, Пт, 19:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Команда #[i.fa.fa-3x.fa-firefox]
                            td: span.stat.text-dark-gray – : –
                            td #[i.fa.fa-3x.fa-chrome] Соперник
                            td: a(href='tickets-online-sectors.html') Билеты
                        tr
                            td: i.fa.fa-home
                            td 27 августа 2017, Вс, 17:00 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Команда #[i.fa.fa-3x.fa-firefox]
                            td: span.stat.text-dark-gray – : –
                            td #[i.fa.fa-3x.fa-chrome] Соперник
                            td: a(href='tickets-online-sectors.html') Билеты
                        tr
                            td
                            td 30 августа 2017, Ср, 19:30 МСК
                                br
                                span.text-dark-gray Регулярный чемпионат
                            td Соперник #[i.fa.fa-3x.fa-chrome]
                            td: span.stat.text-dark-gray – : –
                            td #[i.fa.fa-3x.fa-firefox] Команда
                            td: a(href='tickets-online-sectors.html') Билеты

                p #[i.fa.fa-home] — Домашний матч