
// Формируем цветовую схему сайта

@primary:    #ff7116; // primary
@secondary:  #8fbf00; // secondary
@additional: #ffb400; // additional


@textDark:   #484646; // textDark
@textLight:  #999999; // textLight


@white:       #fff;       // white
@gray:        #e2e2e2;    // gray
@grayLight:   #bfbfbf;    // grayLight
@grayLight1:  #f2f2f2;    // grayLight1
@grayLight2:  #cdcbcb;    // grayLight2
@grayDark:    #484646;    // grayDark
@grayDark2:   #474546;    // grayDark2
@gray1Dark:   #484646;    // gray1Dark
@grayDark0:   @textLight; // grayDark0
@grayExtra:   @textLight; // grayExtra
@black:       #181818;    // black
@blackExtra:  #2d2d2d;    // blackExtra
@greenDark:   #6ea300;    // greenDark

// Цвета ошибок, предупреждений и уведомлений

@info:    #5bc0eb; // info
@warning: #ffc857; // warning
@error:   #f6511d; // error
@success: #8fbf00; // success


// Именованные цвета, для удобства использования
@bodyColor:       @white;       // bodyColor
@textColor:       @textDark;    // textColor
@selectionColor:  @additional;  // selectionColor
@linkColor:       @primary;     // linkColor
@linkHoverColor:  @secondary;   // linkHoverColor
@placeholderText: @grayLight;   // placeholderText


// Цвета кнопок
@btnColor:           @white;      // btnColor
@btnBackground:      @secondary;  // btnBackground
@btnHoverColor:      @white;      // btnHoverColor
@btnHoverBackground: @primary;    // btnHoverBackground



// Шрифты
@fontCondensed: "Roboto Condensed", "Helvetica Narrow", "Arial Narrow", "PT Sans Condensed", Arial, sans-serif; //fontCondensed
@sans: "Roboto", "San Francisco", "Helvetica", "PT Sans", Arial, sans-serif; // sans
@serif: "Times New Roman", Times, serif;    // serif

// Размеры

@baseFontSize: 16px;   // baseFontSize
@baseLineHeight: 20px; // baseLineHeight
@inputHeight: 40px;    // inputHeight


// Прочие переменные

@allIconsUrl: '/local/mobile/images/all-icons.png'; // allIconsUrl
@allIconsUrlRetina: '/local/mobile/images/all-icons@2x.png'; // allIconsUrlRetina
@allIconsRetinaBgZ: 60px 300px; //allIconsRetinaBgZ
