.admin-panel {
  position: fixed;
  z-index: 999999;
  top: 50px;
  left: 0;
}
.admin-panel .admin-button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}
.admin-panel .admin-button:hover:after {
  opacity: 1;
}
.admin-panel .admin-button:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 18px;
  height: 18px;
  background-image: url(/styles/skins/modern/design/img/icons/icons_small.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.admin-panel .admin-button-list:hover {
  border-right: 1px solid #eee;
}
.admin-panel .admin-button-list:hover .list {
  display: block;
}
.admin-panel .admin-button-list .list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 1px;
}
.admin-panel .admin-button-list .list a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  background: #f5f5f5;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}
.admin-panel .admin-button-list .list a:hover {
  color: #000;
}
.admin-panel .ico-edit:after {
  background-position: -108px 0;
}
.admin-panel .ico-user:after {
  background-image: url(../images/admin/user.png);
}
