.pager {
	position: relative;
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;

	& > * {
		display: inline-block;
		min-width: 26px;
		height: 26px;
		line-height: 26px;
		background: @bg;
		border: 2px solid @bg;
		color: @default;
	}
	a {
		.hover &:hover {
			border-color: @green1;
		}
	}
	.active {
		background-color: @green1;
		border-color: @green1;
		color: #fff;
	}
	.prev,
	.next {
		position: absolute;
		top: 100%;
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.prev {
		right: 50%;
		margin-right: 12px;
	}
	.next {
		left: 50%;
		margin-left: 12px;
	}

	@media @tablet {
		margin-bottom: 60px;
		font-size: 18px;

		& > * {
			min-width: 36px;
			height: 36px;
			line-height: 36px;
		}
		.prev,
		.next {
			position: static;
			top: 0;
			margin-top: 0;
		}
	}
}

.post-top {
	margin: 50px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;

	.cont {
		padding: 0 0 8px;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}
	.content {
		margin-right: -4%;
	}
	.share {
		margin: 24px 0;
	}

	@media @tablet {
		margin: 62px 0 80px;

		.cont {
			margin-left: 50%;
			padding: 10px 0 0;
		}
		img {
			float: left;
			margin-left: -100%;
			width: 85%;
		}
		.content {
			float: right;
			margin-right: 0;
		}
		.share {
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.tags {
			clear: left;
			float: left;
			margin-left: -100%;
			margin-top: 15px;
		}
	}

	@media @desktop {
		margin: 93px 0 145px;
		font-size: 21px;
	
		.border {
			&:before {
				right: 0px;
			}
		}
		.cont {
			margin-left: 36%;
		}
		img {
			position: absolute;
			margin-left: -36%;
			width: 32%;
			margin-top: -10px;
		}
		.content {
			padding-right: 50px;
		}
		.share {
			margin-top: 30px;
			margin-right: -50px;
		}
		.tags {
			margin-top: 20px;
			margin-left: 0;
		}
	}
}

aside {
	margin-right: 4%;
	background: @bg;

	.person {
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 20px;
		text-align: center;

		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			right: 0;
			height: 5px;
			background: @red;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 28px auto 0;
			border-radius: 50%;
		}
		.title {
			margin: 20px 0 0;
			font-family: 'PT Serif', serif;
			font-size: 28px;
			font-weight: 700;
			text-transform: uppercase;
			color: @default;
		}
		.pdesc {
			margin-top: -4px;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 300;
			color: @grey2;
		}
	}
	.quote {
		position: relative;
		z-index: 10;
		max-width: 280px;
		margin: 32px auto;
		font-family: 'Ubuntu', sans-serif;
		font-style: italic;
		font-size: 18px;
		text-align: center;
		line-height: 1.45;

		&:before,
		&:after {
			position: absolute;
			z-index: -1;
			content: "";
			width: 99px;
			height: 80px;
		}
		&:before {
			top: -5px;
			left: 0;
			background: url(../images/x1/quote-left.png);
		}
		&:after {
			bottom: -10px;
			right: -10px;
			background: url(../images/x1/quote-right.png);
		}
	}

	.banner {
		width: 240px;
		margin: 53px auto 40px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
		& + .quote {
			width: 190px;
			margin-left: 20px;
			margin-bottom: 66px;
			font-size: 16px;
			line-height: 1.6;
			text-align: left;
		}
	}

	@media @tablet {
		margin: 40px auto;

		&:before {
			left: -40px;
		}
		&:after {
			right: -40px;
		}

		.person {
			margin-top: -24px;
			&:after {
				width: 240px;
				margin: 0 auto;
			}
		}
		.quote {
			&:before {
				left: -35px;
			}
			&:after {
				right: -35px;
			}
		}
		.banner {
			margin: 75px auto 60px;

			& + .quote {
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
		}

		&.float {
			float: left;
			width: 240px;
			margin-top: 26px;
			margin-left: -25px;
			margin-bottom: 0;
			border-right: 70px solid @bg;
		}
	}

	@media @desktop {
		position: absolute;
		// top: 10%;
		max-width: 220px;

		.person {
			&:after {
				width: 100%;
			}
		}
		.quote {
			margin-left: 10px;
			margin-right: 10px;
			text-align: left;

			&:before {
				left: 0px;
			}
			&:after {
				right: 0px;
			}
		}
		.banner {
			width: 100%;

			& + .quote {
				margin-left: 10px;
			}
		}
	}
}

article.content {
	position: relative;
	margin-right: -4%;

	img {
		max-width: 100%;
		height: auto;
	}
	p {
		margin: 20px 0;
	}
	h2 {
		font-family: 'PT Serif', serif;
		font-weight: 700;
	}
	ul {
		margin: 24px 0;
		line-height: 1.9;

		li {
			position: relative;
			padding-left: 15px;

			&:before {
				position: absolute;
				content: "";
				top: 0.85em;
				left: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: @red;
			}
		}
		ul {
			margin: 0;
		}
	}
	ol {
		margin: 68px 0 0;
		padding-bottom: 25px;
		counter-reset: li;
		list-style: none;

		li {
			position:relative;
			margin-top: 25px;
			padding-top: 65px;
			padding-bottom: 33px;

			&:first-child {
				margin-top: 0;
			}
			&:before {
				content: counter(li);
				counter-increment: li;
			}
			&:before,
			.n {
				position: absolute;
				top: 0;
				left: 0;

				font-family: 'PT Serif', serif;
				font-size: 38px;
				font-weight: 700;
				color: @red;
			}
			&:after {
				position: absolute;
				z-index: -1;
				content: " ";
				bottom: 0;
				left: 0;
				right: 0;
				height: 5px;
				background: @grey1;
			}
		}

		&.nums li:before {
			display: none;
		}
	}
	table {
		td {
			vertical-align: top;
		}

		img {
			width: 100%;
		}
	}

	@media @tablet {
		margin-right: 0;

		ol {
			margin: 80px 0 0;

			li {
				padding-left: 45px;
				padding-top: 12px;

				&:before,
				.n {
					left: auto;
					top: -4px;
					margin-left: -52px;
				}
				&:after {
					left: 45px;
				}
			}
		}
	}

	@media @desktop {
		margin-left: 260px;

		.content-mode-center & {
			margin-left: 0;
		}
		.content-mode-center.content-mode-center-content & {
			width: 80%;
			margin: auto;
		}

		.content-mode-left & {
			margin-left: 0;
			margin-right: 260px;
		}

		&.full {
			margin-left: 0;

			ol {
				margin-left: 0;

				li {
					float: left;
					width: 40%;
					margin-top: 0;
					margin-left: 6%;
					margin-right: 4%;
					padding-left: 0;

					&:after {
						left: 0;
					}
				}
			}
		}

		ol {
			margin-left: 50px;
		}

		aside {
			// top: 15%;
			left: -260px;

			&.float {
				position: static;
				margin-left: -260px;

				& > * {
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.section-blockquote {
	position: relative;
	margin: 40px 0 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.45;

	&:before {
		position: absolute;
		content: "";
		top: -16px;
		right: 0;
		bottom: -24px;
		width: 20px;
		background: @grey1;
	}
	.wrapper {
		position: relative;

		&:before {
			position: absolute;
			content: "";
			top: -16px;
			left: -20px;
			right: -10%;
			bottom: -24px;
			border: 5px solid @grey1;
		}
	}
	.content {
		margin-right: 0;
	}

	@media @tablet {
		&:before {
			width: 40px;
		}
		.wrapper {
			&:before {
				left: -30px;
			}
		}
	}

	@media @desktop {
		&:before {
			display: none;
		}
		.wrapper {
			&:before {
				display: none;
			}
		}

		blockquote {
			&:before {
				position: absolute;
				content: "";
				top: -20px;
				left: -30px;
				right: -30px;
				bottom: -20px;
				border: 5px solid @grey1;
			}
			&:after {
				position: absolute;
				content: "";
				top: -20px;
				bottom: -20px;
				right: -65px;
				width: 40px;
				background: @grey1;
			}
		}
	}
}

.section-video {
	position: relative;
	max-width: 1200px;
	margin: 70px auto 35px;

	.cont {
		position: relative;
		max-height: 620px;
		overflow: hidden;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.play {
		.absolute-center();
		width: 60px;
		height: 60px;
		background: #fff;
		cursor: pointer;

		i {
			.absolute-center();
			width: 0;
			height: 0;
			left: 3px;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 18px solid @blue;
			.btnscale-transition();
		}

		.hover &:hover {
			i {
				.btnscale-transform();
			}
		}
	}
	.title {
		position: relative;
		top: 15px;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 400;
		color: @grey2;

		a {
			color: @grey2;
		}
	}

	@media @tablet {
		margin-bottom: 40px;
		.play {
			width: 80px;
			height: 80px;
			i {
				border-top-width: 16px;
				border-bottom-width: 16px;
				border-left-width: 24px;
			}
		}
		.title {
			font-size: 16px;
		}
	}
	@media @desktop {
		margin-top: 35px;
		margin-bottom: 35px;

		.title-in {
			float: left;
			padding: 30px 0 0 10px;

			.t {
				float: left;
			}
			.d {
				float: left;
				width: 160px;
				margin-left: 5px;
			}
		}
	}
}

.section-slider {
	margin: 40px 0 15px;
	overflow: hidden;

	.slider-rel {
		position: relative;
	}
	.slider {
		position: relative;
		height: 600px;
		overflow: hidden;

		&.slider-initialized {
			height: auto;
			overflow: visible;
		}
		
		.scroller {
			position: relative;
			width: 500%;
			left: -200%;
		}
		.item {
			// float: left;
			// width: 20%;
			overflow: hidden;
		}
		img {
			display: block;
			width: auto;
			max-width: 100%;
			// height: 600px;
			height: auto;
			margin: auto;
		}
		.prev,
		.next {
			position: absolute;
			z-index: 10;
			top: 0;
			height: 100%;
			width: 13%;
			background: rgba(0,0,0,0.4);
			cursor: pointer;

			&:before {
				.absolute-center();
				content: "";
				width: 13px;
				height: 14px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 100%;
			}
		}
		.prev {
			right: 100%;
			&:before {
				background-image: url(../images/x1/slider-prev.png);
			}
		}
		.next {
			left: 100%;
			&:before {
				background-image: url(../images/x1/slider-next.png);
			}
		}
	}
	.title {
		font-family: 'PT Serif', serif;
		font-weight: 700;
		margin: 0 0 20px;
	}
	.info {
		font-size: 18px;
	}
	.counter {
		margin-top: 12px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.desc {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
	}

	@media @tablet {
		margin-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 0;

		.slider {
			.prev,
			.next {
				width: 10%;
				&:before {
					width: 20px;
					height: 20px;
				}
			}
		}
		.info {
			position: relative;
			z-index: 20;
			font-size: 21px;
			line-height: 1.5;

			&:before {
				position: absolute;
				z-index: -1;
				content: "";
				top: -20px;
				left: -30px;
				right: -30px;
				bottom: -20px;
				background: @bg;
				border: 5px solid @grey1;
			}
		}
		.counter {
			margin-top: 0;
		}
	}

	@media @desktop {
		margin: 75px 0 0;

		.title {
			margin-left: 260px;
		}
		.slider {
			// overflow: hidden;
		}
		.info {
			margin-left: 40px;
			margin-right: 100px;
		}
	}
}

.section-doubleimg {
	margin: 20px 0 50px;
	background: @grey1;

	.wrapper {
		width: 100%;
	}
	.cont {
		padding: 20px;
		overflow: hidden;
	}
	.in {
		&:first-child {
			img {
				margin-top: 0;
			}
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		margin-top: 20px;
	}

	@media @tablet {
		.cont {
			margin-left: -30px;
		}
		.in {
			float: left;
			width: 50%;
		}
		.m {
			margin-left: 30px;
		}
		img {
			margin-top: 0;
		}
	}

	@media @desktop {
		background: none;

		.cont {

		}
	}
}