/**
    Fix spacing between inline-blocks element
    Set font-size: 0 to perent element
    Set font-size to child-inline element if it need
*/
.simple-carousel-wrapper {
    font-size: 0;
}

.section-elist .slider .scroller {
	margin-left: 0;
    padding-left: 0;
}

@media screen and (min-width: 640px) {
	.goods-item .goods-item-link {
		margin-left: 20px;
	}
}

/**
    2.4 - temporary
*/
.sort .sort-item:last-child {
    display: none;
}

.product-trend.section-elist .elem {
    margin: 30px 0;
}

.product-trend.section-elist .elem .info .clear {
    display: none;
}

.product-trend,
.section-goods-page ~ .section-elist{
	display: none;
}

.section-title-goods .trends {
	display: none;
}
