mixin prod(title, discount)
  -var id =  Math.ceil(Math.random() * 8);
  -var randSvg = 'r'+ Math.ceil(Math.random() * 8000);
  .cell
    a(href="#" data-equalizer-watch).prod
      .prod__img(style="background-image:url(./i/"+id + ".jpg);")
      .prod__main
        .prod__title Газета «Советская молодежь»
        .prod__row
          .prod__rating
            i.fas.fa-star
            .prod__num 5.0
          .prod__quant
            svg.prod__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 14 14')
              defs
                path( id=randSvg d='M365 1161v-14h2v14zm-4 0v-14h2v14zm8 0v-14h2v14zm4 0v-14h2v14z')
              g
                g(transform='translate(-361 -1147)')
                  use(fill='#ffda75', xlink:href='#' + randSvg)

            .prod__num 2243 шт.  
