mixin user-multiselect(n)
    select.user-multiselect(id="ms0" + n)
        optgroup(label="A")
            option Александров Борис
            option Аникеев Вячеслав
        optgroup(label="Б")
            option Барабанов Сигизмунд
            option Баранов Поликарп
