.b-activepage
{
    font-size: 15px;

    position: relative;

    overflow: hidden;

    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 19px;

    color: #424242;
    border-radius: 5px 4px 4px 5px;
    background-color: #fff;
    box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, .04);
    &__list
    {
        font-size: 15px;

        margin-bottom: 0;
    }
    &__item
    {
        display: inline-block;

        margin-right: 15px;
        padding-left: 10px;

        background-image: url('../images/sens_right.png');
        background-repeat: no-repeat;
        background-position: left center;
    }
    &__link
    {
        font-family: $font-family-Philosopher-Bold;

        color: rgb( 33, 33, 33 );
    }
    &__left,
    &__right
    {
        position: relative;

        float: left;

        width: calc(100% - 280px);
    }
    &__right
    {
        width: 260px;
        padding-right: 20px;
    }
    &-search
    {
        font-family: $font-family-Philosopher-BoldItalic !important;

        position: relative;
        z-index: 90;

        float: right;

        width: 100% !important;
        height: 30px !important;
        margin-bottom: 0 !important;
        padding-right: 25px !important;

        text-align: right;

        border: none !important;
        background: url(../images/loupe.png) no-repeat right !important;
        background-color: white;
        box-shadow: none !important;
        &::-webkit-input-placeholder
        {
            font-family: $font-family-Philosopher-BoldItalic;

            color: rgb( 33, 33, 33 );
        }
        &:-moz-placeholder
        {
            font-family: $font-family-Philosopher-BoldItalic;

            color: rgb( 33, 33, 33 );
        }
        &::-moz-placeholder
        {
            font-family: $font-family-Philosopher-BoldItalic;

            color: rgb( 33, 33, 33 );
        }
        &:-ms-input-placeholder
        {
            font-family: $font-family-Philosopher-BoldItalic;

            color: rgb( 33, 33, 33 );
        }
    }
    &__trair
    {
        position: absolute;
        z-index: 100;
        right: 47px;

        width: 2px !important;
        height: 18px !important;
        margin-top: 8px;

        border-left: solid 1px rgb( 33, 33, 33 );;
    }
}

@media (max-width:640px)
{
    .b-activepage
    {
        margin-top: 10px;
        &__left,
        &__right
        {
            width: 100%;
        }
    }


    .b-activepage__right
    {
        margin-top: 0;
    }
}
