.b-breadcrumbs
{
  width: 100%;
  float: left;
    &__list
    {
        margin: 0;
        float: left;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 4px;
    }
    &__li
    {
        float: left;

        margin-left: 29px;

        color: #fab113;
        &:last-child
        {
            color: #4e9e4c;
        }
        &-link
        {
            font-family: $font-family-Philosopher-Bold;
            font-size: 15px;

            color: #212121;
            &:hover {
               text-decoration: underline;

                color: #2daa25;
            }
            &_current
            {
                text-decoration: underline;

                color: #2daa25;
                pointer-events:none;
            }
        }

    }
}
