.b-card
{
    margin-top: 20px;
    padding-right: 9px;
    &__block
    {
        height: 100%;
        padding-right: 37px;
        padding-bottom: 10px;
        padding-left: 37px;

        border-radius: 3px;
        background-color: #fff;
        box-shadow: 2px 3.5px 4px rgba(0, 0, 0, .18);
    }
    &__img
    {
        padding-top: 54px;
        padding-bottom: 65px;

        text-align: center;
    }
    &__title
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 22px;

        padding-bottom: 11px;

        color: #424242;
    }
    &__about
    {
        font-family: $font-family-Philosopher-BoldItalic;
        font-size: 15px;
        line-height: 1.47;

        padding-bottom: 6px;

        color: #212121;
    }
    &__desc
    {
        font-size: 15px;
        line-height: 1.33;

        color: #424242;
    }
}
@media (max-width:960px) and (min-width:640px)
{
    .b-card
    {
        &__desc
        {
            padding-bottom: 20px;
        }
    }
}
@media (max-width:960px)
{
    .b-card
    {
        padding-right: 15px;
    }
}
@media (max-width:640px)
{
    .b-card
    {
        &__img
        {
            padding-top: 15px;
            padding-bottom: 10px;
        }
    }
}
