.b-comp
{
    &__quest
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 20px;
        line-height: 1.3;

        padding-top: 24px;

        text-align: center;

        color: #212121;
    }
    &__distr
    {
        font-family: $font-family-Philosopher-Regular;
        font-size: 15px;

        display: block;

        padding-top: 7px;

        color: #212121;
    }
    &__kartina
    {
        float: left;
        overflow: hidden;

        width: 122px;
        height: 122px;
        margin-top: 9px;
        margin-right: calc(50% - 61px);
        margin-bottom: 16px;
        margin-left: calc(50% - 61px);

        text-align: center;

        border-radius: 61px;
    }
    &__name
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        padding-bottom: 5px;

        text-align: center;

        color: #212121;
    }
    &__tel
    {
        font-size: 15px;

        display: inline-block;

        width: 160px;
        margin-left: 65px;
        padding-top: 4px;

        text-decoration: underline;

        color: #424242;
        &:before
        {
            position: relative;

            display: inline-block;

            width: 12px;
            height: 12px;
            margin-right: 8px;

            content: '';

            background: url('../images/sprite-my.png') no-repeat -82px -99px;
        }
        &:hover
        {
            text-decoration: none;

            color: #424242;
        }
        &_mail
        {
            margin-left: 62px;
            &:before
            {
                width: 16px;

                background: url('../images/sprite-my.png') no-repeat -180px -196px;
            }
        }
        &_skype
        {
            margin-left: 62px;
            &:before
            {
                width: 16px;
                height: 16px;

                background: url('../images/sprite-my.png') no-repeat -288px -297px;
            }
        }
    }
    &__block
    {

        float: left;

        width: 100%;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-right: 17px;
        padding-left: 20px;

        border-radius: 5px 4px 4px 5px;
        background-color: #fff;
        box-shadow: 2px 3.5px 4px rgba(0, 0, 0, .18);
        &_new {
            margin-top: 28px;
            padding-top: 0;
        }
    }
    &__txt
    {
        & *
        {
            font-size: 15px;
            line-height: 1.47;

            margin-bottom: 23px;

            color: #424242;
        }
    }
    &__title
    {
        float: left;

        width: calc(100% - 310px);
        &_photo
        {
            width: 100%;
        }
    }
    &__h1
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 32px;

        margin-bottom: 8px;

        color: #212121;
        &_low {
            line-height: 1.1;
        }
    }
    &__righter
    {
        float: right;

        width: 281px;
        margin-top: 30px;
        margin-left: 20px;
        padding-bottom: 26px;

        border-radius: 4px 5px 5px 4px;
        background-color: #fcfbf6;
        box-shadow: 2px 2px 11px rgba(0, 0, 0, .18);
        &-scroll
        {
            max-height: 381px;
        }
    }
    &__quest
    {
    }
    &__bot
    {
        float: left;

        width: 100%;
        padding-bottom: 15px;

        border-top: 1px solid #e0e0e0;
        &_none
        {
            padding-left: 10px;

            border-radius: 0 0 4px 5px;
            background: #fff;
            box-shadow: 2px 3.5px 4px rgba(0,0,0,.18);
        }
        &_no {
            border-top:0;
        }
    }
    &__social
    {
        float: left;

        margin-bottom: 0;
        padding-right: 15px;
        &:nth-child(2) {
            padding-bottom: 3px;
        }
        &_tw
        {
            padding-left: 5px;
        }
        &_vk
        {
            padding-left: 4px;
        }
        &_ok
        {
            padding-left: 7px;
        }
    }
    &__img
    {
        float: left;

        padding-top: 11px;
    }
    &__num
    {
        font-size: 12px;

        float: left;

        padding-top: 20px;
        padding-left: 5px;

        color: #424242;
    }
}
@media (max-width:640px)
{
    .b-comp
    {
        &__quest
        {
            line-height: 1.1;

            padding-top: 0;
        }
        &__distr
        {
            padding-top: 0;
        }
        &__kartina
        {
            margin-top: 0;
        }
        &__h1
        {
            font-size: 25px;
        }
        &__title
        {
            width: 100%;

            text-align: center;
        }
        &__righter
        {
            width: 100%;
            margin-top: 0;
            margin-bottom: 10px;
            padding-bottom: 5px;
            &-scroll
            {
                max-height: 180px;
            }
        }
    }
}
