.b-contacts
{
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 29px;

    width: 238px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 20px;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 3.5px 4px rgba(0, 0, 0, .18);
    &__inner
    {
        float: left;

        width: 100%;
        max-height: 200px;
    }
    &__svernut
    {
        font-size: 13px;

        float: right;

        margin-bottom: 0;
        padding-top: 3px;
        padding-right: 5px;
        padding-bottom: 3px;
        padding-left: 5px;

        text-align: center;
    }
    &__row
    {
        font-size: 15px;
        line-height: 1.2;

        color: #424242;
    }
    &__bold
    {
        font-family: $font-family-Philosopher-Bold;

        color: #212121;
    }
    &__btn
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        display: block;

        width: 100%;
        margin-top: 4px;
        margin-bottom: 3px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;

        transition: .5s;
        text-align: center;

        color: #fff;
        border-bottom: 2px solid #1d6123;
        border-radius: 5px 4px 4px 5px;
        outline: none;
        background-image: linear-gradient(to top, #33944e 0%, #8ccb45 99%, #8ccb45 100%);
        &:hover
        {
            color: #0078a0;
        }
    }
}
@media (max-width:960px)
{
    .b-contacts
    {
        &__inner
        {
            max-height: 100px;
        }
    }
}
@media (max-width:640px)
{
    .b-contacts
    {
        top: 280px;
        left: 15px;

        width: calc(100% - 30px);
    }
}
