.b-delivery
{
    &__block
    {
        margin-top: 20px;
        padding-top: 21px;
        padding-bottom: 30px;

        border-radius: 7px;
        background-color: #fff;
        box-shadow: 2px 3.5px 4px rgba(0, 0, 0, .18);
    }
    .row
    {
        margin: 0;
    }
    &__left
    {
        padding-left: 44px;
    }
    &__right
    {
        padding-right: 6px;
    }
    &__dlvr
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 16px;

        color: #212121;
    }
    &__text
    {
        font-size: 15px;

        color: #424242;
    }
    &__total
    {
        font-size: 15px;

        text-align: right;

        color: #424242;
        &_bold
        {
            font-family: $font-family-Philosopher-Bold;
        }
    }
    &__sum
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 16px;

        color: #424242;
    }
    &__big-num
    {
        font-size: 18px;
    }
    &__btns
    {
        padding-top: 32px;

        text-align: right;
    }
    &__continue
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        display: inline-block;

        margin-right: 6px;
        margin-bottom: 10px;
        padding-top: 8px;
        padding-right: 33px;
        padding-bottom: 8px;
        padding-left: 33px;

        transition: .5s;

        color: #186d2e;
        border: 2px solid #009036;
        border-radius: 4px;
        &:hover
        {
            color: #fff;
            background: #009036;
        }
    }
    &__buy
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        display: inline-block;

        padding-top: 10px;
        padding-right: 41px;
        padding-bottom: 10px;
        padding-left: 41px;

        transition: .5s;

        color: #fff;
        border-radius: 4px;
        background-image: linear-gradient(to top, #33944e 0%, #8ccb45 99%, #8ccb45 100%);
    }
}
@media (max-width:960px)
{
    .b-delivery
    {
        &__left
        {
            padding-left: 15px;
        }
    }
}
@media (max-width:640px)
{
    .b-delivery
    {
        &__continue
        {
            margin-right: 0;
        }
        &__btns
        {
            text-align: center;
        }
        &__text
        {
            text-align: justify;
        }
        &__dlvr
        {
            text-align: center;
        }
        &__right
        {
            padding-top: 10px;
            padding-right: 15px;
        }
        &__total
        {
            padding-left: 0;
        }
        &__sum
        {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
