.b-disable-drag
{
    font-size: .875rem;
    line-height: 1.125rem;

    position: absolute;
    z-index: 10;

    display: none;

    width: 120px;
    margin: .4375rem;
    padding: 0 .625rem;

    cursor: pointer;

    color: #fff;
    border-radius: .4375rem;
    background-color: #f57c00;
}
@media (max-width:960px)
{
    .b-disable-drag
    {
        display: block;
    }
}
@media (max-width:640px)
{
    .b-disable-drag
    {
        bottom: 10px;
    }
}
