.b-header
{
    padding-top: 30px;
    &__rubrika
    {
        font-size: 15px;

        margin-top: 32px;
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 19px;

        color: #424242;
        border-radius: 5px 4px 4px 5px;
        background-color: #fff;
        box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, .04);
    }
    &__bold
    {
        font-family: $font-family-Philosopher-Bold;

        color: #212121;
    }
    &__logo
    {
    }
    &__title
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 32px;

        padding-top: 14px;

        color: #2daa25;
    }
    &__view
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        padding-left: 23px;

        text-align: center;

        color: #212121;
    }
    &__calc
    {
        padding-top: 6px;
        padding-bottom: 6px;

        border-radius: 2px;
        background-color: #fff;
        box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, .04);
    }
    &__block
    {
        padding-top: 2px;
    }
    &__all
    {
        font-size: 15px;

        float: left;

        width: 40%;

        text-align: right;

        color: #424242;
    }
    &__num
    {
        font-family: $font-family-lcd;
        font-size: 12px;

        float: left;

        margin-left: 14px;
        padding-right: 12px;
        padding-left: 12px;

        letter-spacing: 1.8px;

        color: #73f36b;
        border-top: 1px solid #727272;
        border-right: 1px solid #585858;
        border-bottom: 1px solid #282828;
        border-left: 1px solid #494949;
        border-radius: 3px;
        background-image: linear-gradient(to top, #4a4a4a 0%, #7c7c7c 99%, #7c7c7c 100%);
    }
}
@media (max-width:960px)
{
    .b-header
    {
        &__all
        {
            width: 30%;
        }
        &__title
        {
            font-size: 25px;
        }
    }
}
@media (max-width:640px)
{
    .b-header
    {
        &__rubrika
        {
            margin-top: 10px;
        }
        &__title
        {
            padding-top: 0;
        }
        &__all
        {
            width: 20%;
        }
    }
}
