.b-info
{
    padding: 20px 0 20px 20px;

    border-radius: 2px;
    background-image: linear-gradient(to top, #33944e 0%, #8ccb45 99%, #8ccb45 100%);
    &__block
    {
        font-size: 15px;

        display: inline-block;

        margin-right: 20px;
        padding-bottom: 3px;

        color: #fff;
    }
}
