.b-price
{
    margin-top: 20px;
    padding-left: 2px;
    &__block
    {
        padding-top: 31px;
        padding-right: 19px;
        padding-bottom: 40px;
        padding-left: 19px;
margin-top: 20px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 2px 3.5px 4px rgba(0, 0, 0, .18);
    }
    &__num
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 36px;
        line-height: 1.17;

        text-align: center;

        color: #e42e2e;
    }
    &__rubl
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 24px;

        color: #e42e2e;
    }
    &__basket
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        display: block;

        margin-top: 30px;
        margin-bottom: 14px;
        padding-top: 10px;
        padding-bottom: 10px;

        transition: .5s;
        text-align: center;

        color: #fff;
        border-radius: 4px;
        background-image: linear-gradient(to top, #33944e 0%, #8ccb45 99%, #8ccb45 100%);
        &:hover
        {
            color: #ccc;
        }
    }
    &__content
    {
        font-family: $font-family-Philosopher-Bold;
        font-size: 15px;

        display: block;

        padding-top: 10px;
        padding-bottom: 10px;

        transition: .5s;
        text-align: center;

        color: #186d2e;
        border: 2px solid #009036;
        border-radius: 4px;
        background: #fff;
        &:hover
        {
            color: #fff;
            background: #009036;
        }
    }
}
@media (max-width:960px)
{
    .b-price
    {
        padding-left: 15px;
        margin-top: 10px;
    }
}
@media (max-width:640px) {
    .b-price {
        &__block {
            padding: 15px;
        }
    }
}
