.b-rond
{
    line-height: 204px;

    position: relative;

    width: 204px;
    height: 204px !important;
    margin: auto;
    margin-top: 60px;

    text-align: center;

    color: white;
    border-radius: 50%;
    background-image:    -moz-linear-gradient( 90deg, rgb(255,104,5) 0%, rgb(255,188,27) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,104,5) 0%, rgb(255,188,27) 99%);
    background-image:     -ms-linear-gradient( 90deg, rgb(255,104,5) 0%, rgb(255,188,27) 99%);
    &__slide
    {
      outline:none;
    }
    &__title {
      text-align: center;
      &-link {
        color: #fff;
      }
    }
    .slick-arrow {
      top:calc((100% - 16px) / 2);
      position: absolute;
      z-index: 3;
    }
    .slick-prev {
      left: 8px;

   }
   .slick-next {
    right: 8px;
   }
}
