.b-access
{
    font-family: 'segoe ui';

    margin-top: 93px;
    margin-bottom: 120px;
    &__title
    {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;

        text-align: center;
        text-transform: uppercase;

        color: #383838;
        &-link
        {
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;

            text-transform: uppercase;

            color: #153f93;
        }
    }
    &__text
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        padding-top: 23px;
        padding-bottom: 22px;

        color: #a1a1a1;
        &-link
        {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            color: #153f93;
        }
    }
    &__oplata
    {
        font-size: 16px !important;
        font-weight: 600 !important;
        line-height: 50px !important;

        display: block !important;

        text-align: center !important;
        text-transform: uppercase !important;

        color: #fff !important;
        border-bottom: 3px solid #bf2626 !important;
        background-color: #e23131 !important;
        padding: 0 !important;
        width: 100%;
    }
}
