.b-404-error {
    width: 100%;
    max-width: 53.875rem;
    margin: 0 auto;
    &-list {
        text-align: center;
        a {
            line-height: normal;
            margin: rem-calc(15);
        }
    }
}

@media (max-width:375px) {
    .b-404-error {
        &-list {
            a {
            display: block;
            }
        }
    }
}
