.b-contacts-font{
  &-20{
    font-family: "Segoe UI";
    font-size: rem-calc(20);
    font-weight: 600;
    text-transform: uppercase;
  }
  &-20_h3{
    font-family: "Segoe UI";
    font-size: rem-calc(20);
    font-weight: 600;
  }
  &-16{
    font-family: "Segoe UI";
    font-size: rem-calc(16);
  }
  &-14_boild{
    font-family: "Segoe UI";
    font-size: rem-calc(14);
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  &-14{
    font-family: 'PTSerifRegular';
    font-size: rem-calc(14);
  }
  &-14_color{
    color: #a1a1a1;
    font-family: 'PTSerifRegular';
    font-size: rem-calc(14);
  }
  &-14_link{
    color: #153f93;
    font-family: 'PTSerifRegular';
    font-size: rem-calc(14);
  }
}
.b-organization__form-box{
  padding: 0 50px 50px 50px;
  border: 0.0625rem solid #e2e2e2;
  margin: 20px 0 100px 0;
}
.b-contacts_name-center{
  position: relative;
  text-align: center;
  width: 265px;
  left: 38%;
  top: -18px;
  background: #ffffff;
}
.b-contacts-items{
  padding-top: 30px;
}
.b-contacts__form-phone{
  padding-right: 25px;
  padding-bottom: 10px;
  & input{
    width: 510px;
    height: 45px;
  }
}
.b-contacts__form-email{
  padding-left: 22px;
  padding-bottom: 10px;
  & input{
    width: 510px;
    height: 45px;
  }
}

.b-contacts__form-textarea{
  padding-bottom: 10px;
  & label textarea{
    height: 90px;
  }
}
.b-contacts__form-name{
padding-bottom: 10px;
}
.b-contacts-form-text {
  padding-bottom: 10px;
  & input{
    height: 45px;
  }
}
.b-catalog-button{
  margin: 0 auto;
}
.b-catalog-button-position{
  margin: 0 auto;
  width: 306px;
}
