.b-catalog {
    &__sorting {
        &+ .b-catalog_search-icon-box {
            .b-catalog-main-select__item {
                border-width: 1px!important;
            }

            .b-catalog-main-select__item-spisok-spisok {
                border-left: 0 !important;
            }
        }
    }

    &-search {
        &_entry {
            padding-right: 10px;
        }
    }

    &-item {
        margin-top: rem-calc(45);
        /*&-data {
  padding-left: 5%;
}*/

        &__default-picture {
            margin-top: 110px !important;
        }
        &__title {
            font-size: rem-calc(20);
            font-weight: 600;
            margin-bottom: rem-calc(20);
            text-transform: uppercase;
            color: #383838;
        }

        &-block {
            &__vote {
                &-title {
                    font-family: 'PTSerifRegular';
                    font-size: rem-calc(14);
                    float: left;
                    margin-right: rem-calc(5);
                    color: #a1a1a1;
                }

                &-star {
                    display: block;
                    float: left;
                    width: rem-calc(15);
                    height: rem-calc(14);
                    margin-left: rem-calc(5);
                    background-image: url('../i/star.png');
                    background-repeat: no-repeat;

                    &-active {
                        background-image: url('../i/star-active.png');
                    }
                }
            }

            &__artikul {
                font-family: 'PTSerifRegular';
                font-size: rem-calc(14);
                color: #a1a1a1;
            }

            &__like {
                display: block;
                float: right;
                width: rem-calc(27);
                height: rem-calc(26);
                cursor: pointer;
                background-image: url('../i/like.png');
                background-repeat: no-repeat;
                margin-top: 10px;

                &.active,
                &:hover {
                    background-image: url('../images/like_hover.png');
                }

                &.active:hover {
                    background-image: url('../i/like.png');
                }
            }

            &__print {
                display: block;
                float: right;
                width: rem-calc(33);
                height: rem-calc(26);
                margin-left: rem-calc(15);
                background-image: url('../i/print.png');
                background-repeat: no-repeat;
                margin-top: 10px
            }
        }
        &-buy-wrapper {
          margin-top: 10px;
        }

        &__price {
            font-size: rem-calc(36);
            font-weight: bold;
            color: #383838;

            span {
                font-size: rem-calc(16);
            }
        }

        &__detail-link {
            margin-bottom: rem-calc(10);
        }

        &__buy {
            float: left;
            width: 48%;
            margin-right: 15px !important;
            text-align: center;
        }

        &__buy-group-price {
          margin-right: 0 !important;
        }

        &__group {
            line-height: 21px;
            float: left;
            width: 48%;
            text-align: center;
        }
    }

    &-description {
        position: relative;
        margin-top: rem-calc(100);
        border-top: rem-calc(1) solid #e2e2e2;
        border-bottom: rem-calc(1) solid #e2e2e2;
        background-color: #f8f8f8;

        &-payment {

            &__item {
                font-size: 14px;
                padding-right: 70px;
            }

            &__title {
                font-family: 'Conv_SegoeUIBold';
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: #153f93;
                padding: 20px 0 20px 100px;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100px;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &_card {
                    &:before {
                        background-image: url('../i/card_payment.png');
                    }
                }

                &_cash {
                    &:before {
                        background-image: url('../i/cash_payment.png');
                    }
                }
            }

            &__text {
                font-size: 14px;
            }
        }

        &-delivery {

            &__text {
                font-size: 14px;
            }

            &__item {
                display: flex;
                height: 50px;

                &-inner {
                    margin: auto;
                }
            }
        }

        li.tab-title {
            line-height: 1;
            width: 25%;
        }

        &-header {
            margin-bottom: rem-calc(16);
            padding-bottom: rem-calc(2);
            border-bottom: rem-calc(1) solid #e2e2e2;
        }

        &-opisanie {
            font-family: 'PTSerifRegular';
            font-size: rem-calc(14);
            margin: 0 0 rem-calc(30);

            &__title {
                font-family: 'PTSerifBold';
                font-size: rem-calc(16);
                margin-bottom: rem-calc(15);
            }

            &__block {
                font-family: inherit;
                font-size: 1rem;
                font-weight: normal;
                line-height: 1.6;
                position: relative;
                margin-bottom: rem-calc(10);
                margin-bottom: 1.25rem;
                text-rendering: optimizeLegibility;
            }

            &__dotted {
                position: absolute;
                right: 0;
                bottom: rem-calc(7);
                left: 0;
                border-bottom: 1px dotted black;
            }

            &__left {
                position: relative;
                z-index: 9;
                padding-right: rem-calc(5);
                background: #f8f8f8;
            }

            &__right {
                position: relative;
                z-index: 9;
                padding-left: rem-calc(5);
                background: #f8f8f8;
            }

            hr {
                margin: rem-calc(35 0);
            }

            &__columns {
                width: 29%;
                margin-right: 6.5%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-vote {
            font-family: 'PTSerifRegular';
            font-size: rem-calc(14);
            margin-bottom: rem-calc(50) !important;

            &__item {
                &-stars {
                    float: left;
                    margin: rem-calc(3 20 0 -5);
                }

                &-date {
                    color: #a1a1a1;
                }

                &-name {
                    color: #a1a1a1;
                }

                &-text {
                    margin-top: rem-calc(15);
                }
            }

            &-form {
                font-family: segoe ui, Arial, sans-serif;
                font-size: rem-calc(16);
                width: 43%;
                color: #a1a1a1;

                &__title {
                    font-family: 'PTSerifBold';
                    font-size: rem-calc(16);
                    margin-bottom: rem-calc(15);
                    color: #383838;
                }

                &__your-vote {
                    margin-bottom: rem-calc(5);
                    margin-left: rem-calc(15);
                }

                input,
                textarea {
                    width: 65%;
                    padding: rem-calc(10);
                    color: #a1a1a1;
                }

                button {
                    width: 50%;
                }

                &-stars {
                    margin-bottom: rem-calc(25);
                    margin-left: rem-calc(15);

                    &__star {
                        display: block;
                        float: left;
                        width: rem-calc(30);
                        height: rem-calc(29);
                        margin-left: rem-calc(5);
                        background-image: url('../i/star-big.png');
                        background-repeat: no-repeat;

                        &-active {
                            background-image: url('../i/star-big-active.png');
                        }
                    }
                }
            }
        }

        .row {
            position: relative;
        }

        .tabs {
            position: absolute;
            top: rem-calc(-50);
            width: 100%;
        }

        .tabs .tab-title > a,
        .tabs dd > a {
            padding-right: rem-calc(10);
            padding-left: rem-calc(10);
            text-align: center;
            text-transform: uppercase;
            border-width: rem-calc(1 0 1 1);
            border-style: solid;
            border-color: #e2e2e2;
            background-color: #fff;
        }

        .tabs .tab-title:last-child > a,
        .tabs dd > a {
            border-width: rem-calc(1 1 1 1);
        }

        .tabs .tab-title.active a,
        .tabs dd.active a {
            font-weight: bold;
            border-bottom: rem-calc(1) solid #f8f8f8;
            background-color: #f8f8f8;
        }

        .tabs-content {
            padding: 15px 10px 10px 15px;
            margin-bottom: 0;
        }
    }

    &__shop {
        margin-bottom: rem-calc(30) !important;

        &-logo {
            display: block;
            margin-right: 20px;
        }

        &-name {
            font-size: 20px;
            font-weight: bold;
            display: block;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #383838;
        }

        &-button {
            margin-top: rem-calc(20) !important;
        }
    }
}

.download_file {
    span {
        color: #a1a1a1;
    }
}

.b-analogs {
    border: none;
    background: transparent;

    &-header {
        h2 {
            color: inherit;
        }
    }
}

.b-looking {
    margin-bottom: rem-calc(60);

    &-header {
        h2 {
            color: inherit;
        }
    }
}

.jcarousel-wrapper {
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-wrap {
    padding-right: rem-calc(20);
}
/** Carousel **/
.jcarousel {
    margin-top: 0 !important;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    position: relative;
    width: 20000em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.jcarousel li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #fff;
    text-align: center;
}

.jcarousel img {
    display: block;
    /*width: 100%;*/
    margin: 0 auto;
    max-width: 100%;
    height: auto !important;
    max-height: 400px;
}
/** Carousel Controls **/
.jcarousel-control-next,
.jcarousel-control-prev {
    font: 24px/27px Arial, sans-serif;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #4e443c;
    -webkit-box-shadow: 0 0 4px #f0efe7;
    -moz-box-shadow: 0 0 4px #f0efe7;
    box-shadow: 0 0 4px #f0efe7;
    text-shadow: 0 0 1px #000;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}
/** Carousel Pagination **/
.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.jcarousel-pagination a {
    font-size: 11px;
    line-height: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    text-decoration: none;
    text-indent: -9999px;
    color: #4e443c;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 2px #4e443c;
    -moz-box-shadow: 0 0 2px #4e443c;
    box-shadow: 0 0 2px #4e443c;
}

.jcarousel-pagination a.active {
    opacity: 1;
    color: #fff;
    background: #4e443c;
    -webkit-box-shadow: 0 0 2px #f0efe7;
    -moz-box-shadow: 0 0 2px #f0efe7;
    box-shadow: 0 0 2px #f0efe7;
}

.navigation {
    position: relative;
    width: 260px;
    margin: 20px auto;
}

.carousel-navigation {
    width: 240px;
    height: 60px;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.carousel-navigation li {
    cursor: pointer;
}

.carousel-navigation li img {
    display: block;
    border: 5px solid #fff;
}

.carousel-navigation li.active img {
    border-color: #ccc;
}

.jcarousel-slider-tovar {
    &-control-pagination {
        position: relative;
        height: 405px;
        padding-right: 20px;
    }

    &-pagination-block {
        position: absolute;
        top: 1.5rem;
        overflow: hidden;
        width: calc(100% - 20px);
        height: 340px;
    }

    &-control {
        &-next img,
        &-prev img {
            width: 100%;
        }

        &-next {
            position: absolute;
            bottom: 0;
            width: calc(100% - 20px);
        }
    }

    &-pagination a {
        display: block;
        margin-top: 1rem;
        padding: 0.3125rem;
        border: 0.0625rem solid #e2e2e2;

        &.active {
            border-color: #ccc;
        }
    }
}
.shop-name-small {
  display: none;
}
@media (max-width: 1200px) {
    .b-catalog {
        &-search {
            &_entry {
                margin-top: 40px;

                input {
                    padding-right: 40px;
                }
            }
        }

        &__snap {
            border-right: 1px solid #e2e2e2;
        }

        &-description {
            .tabs {
                top: -55px;

                .tab-title {
                    margin-top: 5px;

                    & > a {
                        border-width: 1px;
                        margin-right: 3px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }

        &-item {
            &-image {
                padding-left: 10px;
            }

            &-data {
                padding-right: 10px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .b-catalog {
        &-description {
            .tabs {
                top: -52px;

                .tab-title {
                    & > a {
                        font-size: 13px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }

        &-item {
            &-image {
                padding-right: 10px;
            }

            &-data {
                padding-left: 10px;
            }
        }
    }

    .jcarousel-slider-tovar {
        &-pagination-block {
            top: 40px;
        }
    }

    .b-catalog-item__title {
      text-align: center;
    }

    .b-catalog-item-block__color {
      width: auto !important;
    }
}
@media (max-width: 760px) {
    .b-catalog {
        &-description {
            &-vote {
                &-form {
                    width: 100%;

                    button {
                        width: 100%;
                    }
                }
            }
        }

        &__shop {
            &-button {
                & > .columns {
                    width: calc(100% - 10px);

                    .btn {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .jcarousel-slider-tovar {
        &-pagination-block {
            top: 25px;
        }
    }
}

@media (max-width: 640px) {
  .b-catalog-description .tabs {
    display: none !important;
  }
  .tabs-content>.content {
    display: block !important;
  }
  .b-catalog-description {
    margin-top: rem-calc(10);
  }
  .b-shop-about {
    width: 100%;
  }
  .b-catalog__shop-name {
    display: none;
  }
  .shop-name-small, .b-catalog__shop-logo {
    display: block;
    width: 50%;
    float: left;
    margin: 0;
  }
  .b-catalog__shop-logo-wrapper {
    width: 100% !important;
    overflow: hidden;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }

}
@media (max-width: 640px) {
    .b-catalog {
        &__new-li {
            .b-catalog-spisok__select {
                bottom: 0;
                left: 0;
            }

            .b-catalog-main-items-hover {
                padding: 30px 15px;
            }
        }

        &-search {
            &_entry {
                margin-top: 0;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 15px;

                .btn {
                    right: 10px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .jcarousel-slider-tovar {
        &-control-pagination {
            padding-right: 5px;
        }

        &-pagination-block {
            width: calc(100% - 5px);
            top: 20px;
        }

        &-control-next {
            width: calc(100% - 5px);
        }
    }

    .b-catalog-item {
        &__buy,
        &__group {
            width: 100%;
        }
    }
}
