.b-header-middle {
  border-bottom: 1px solid #e2e2e2;
  background-color: #f8f8f8;
  padding-bottom: rem-calc(35);

  &__row {
    position: relative;
  }
}
@media (max-width:640px) {
  .b-header-middle  {
    border-bottom: 0;

    .b-nav {
      display: none;
    }

    &__row {
      display: -webkit-flex;
      display:    -moz-flex;
      display:     -ms-flex;
      display:      -o-flex;
      display:         flex;
      flex-direction: column-reverse;
    }
  }
}
