.b-news-item_big {}

.b-news-item_small {
    padding-bottom: 13px;
    height: 241px;

    p {
        margin-bottom: 0;
    }

    .b-news-item__link {
        padding: 4px 14px;
    }

    .b-news-item__text {
        height: 100px;
        overflow: hidden;
    }
}

.b-news-item {
    border: 1px solid #e2e2e2;
    background-color: white;

    &_october {
        height: 272px;
    }

    &_ho {
        height: 514px;
    }

    &_big {
        height: 483px;
    }

    &-container-ri {
        padding-left: 8px;
    }

    &__head {
        position: relative;
    }

    &__head__date {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        position: absolute;
        top: -6px;
        left: 13px;
        width: 62px;
        height: 77px;
        padding-top: 23px;
        text-align: center;
        color: #383838;
        background: url('../images/date.png');
    }

    &__head h3 {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 21px;
        padding-right: 20px;
        padding-left: 93px;
        color: #383838;
        height: 81px;
        overflow: hidden;
    }

    &__text {
        & p {
            font-family: 'Conv_PTSerif';
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            padding: 0 18px;
            color: #a1a1a1;
            height: 140px;
            overflow: hidden;
        }
    }

    &__img {
        padding: 0 15px;
        text-align: center;
        height: 175px;

        & img {
            max-height: 100%;
        }
    }

    &__link {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        padding: 14px;
        text-align: right;
        color: #153f93;

        & a {
            position: relative;
            margin-right: 22px;
            color: #153f93;

            &:hover {
                text-decoration: underline;
                color: #153f93;
            }

            &:after {
                position: absolute;
                top: 5px;
                right: -15px;
                display: block;
                width: 7px;
                height: 11px;
                content: '';
                background: url('../images/r.png');
            }
        }
    }
}
@media (max-width: 1200px) {
    .b-news-item {
        &_october {
            height: 236px;
        }

        &-container-cal,
        &-container-dal {
            width: 100%;
        }
    }
}
@media (max-width:1024px) {
    .b-news-item {
        &_po {
            margin-bottom: 10px;
        }

        &_october {
            height: 274px;
        }

        &_small {
            padding-bottom: 0;
        }

        &-container-cal,
        &-container-dal {
            width: 50%;
            margin-top: 5px;
            display: none;
        }

        &-container-cal {
            margin-top: 10px;
        }
    }
}
@media (max-width:960px) {
    .b-news-item {
        &__text {
            padding-top: 17px;
        }

        &_small {
            padding-bottom: 10px;
        }
    }
}
@media (max-width: 640px) {
    .b-news-item {
        &_october {
            height: 236px;
        }

        &_big {
            height: auto !important;
        }

        &_ho {
            height: auto;
            margin-bottom: 10px;
        }

        &_po {
            height: auto !important;
        }

        &__text {
            p {
                height: auto;
            }
        }

        &-container-ri {
            padding-left: 0;
        }

        &-container-left,
        &-container-right {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        &-container-cal,
        &-container-dal {
            width: 100%;
        }
    }
}
