.b-orders-menu {
  display: table;
  width: 100%;
  margin: 0;
  list-style: outside none none;
  background: none repeat scroll 0 0 #f8f8f8;
  border: none;

  &__button {
    font-size: 0.875rem;
    position: relative;
    display: table-cell;
    padding: 0.6875rem 1.1875rem;
    cursor: pointer;
    border: 0.0625rem solid #e2e2e2;

    &-icon {
      margin-right: 10px;
    }

    &.submenu-button {
      display: block;
    }

    &:hover>ul.submenu {
      display: block;
    }
  }

  &.submenu {
    display: none;
    position: absolute;
    left: -1px;
    margin-top: 0.6875rem;
    float: left;
    width: calc(100% + 2px);
    border-width: 0px;
  }
}

.b-orders-table {
  width: 100%;
  border: none;
  margin-bottom: 30px;

  tr {
    background: none !important;
    border-bottom: 1px solid #e2e2e2;
  }
  td, th {
    padding: 25px 15px 25px 0;
    vertical-align: top;
    text-align: left;

    p {
      margin: 0;
      padding: 0 0 10px 0;
      line-height: 1em;
      font-size: 14px;

      a {
        font-size: 14px;
      }
    }
  }
}
.b-orders-total-cost {
  margin: 0;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #4c4c4c;

  span {
    margin-left: 40px;
    font-size: 22px;
    color: #e23131;
  }
}

.b-orders-print-only {
  display: none !important;
}

.b-orders__item-props {
  font-size: 12px;
  text-transform: lowercase;
  &:first-child {
    margin-top: 5px;
  }
}

.b-orders-month-title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.b-orders-month-table {
  float:left;

  th {
    padding: 10px;
    border: 1px solid black;
    width:20%;
  }

  td {
    padding: 10px;
    border: 1px solid black;
    text-align:center;
  }
}