.b-top-menu
{
    background-color: #1b1c1c;
    &__item
    {
        font-family: 'Conv_SegoeUIRegular';
        font-size: 11px;
        font-weight: 400;
        line-height: 26px;

        display: inline-block;

        margin-top: 18px;
        margin-bottom: 18px;

        text-align: center;
        vertical-align: top;
        text-transform: uppercase;

        color: #a1a1a1;

        width: 23%;
        &:hover
        {
            color: white;
        }
    }

    &__item-location-wrapper {
      font-family: 'Conv_SegoeUIRegular';
      font-size: 11px;
      font-weight: 400;
      line-height: 26px;

      display: inline-block;

      margin: 18px 0 18px 50px;

      text-align: left;
      vertical-align: top;
      text-transform: uppercase;

      color: #a1a1a1;
    }

    &__item_location
    {
        width: auto !important;
        text-align: left;

        padding-right: 20px;
    }
    &__item_location_city, &__item_location_city:active
    {
      background: url(../images/arrow-gray.svg) no-repeat right center;
      text-decoration: none;
      margin: 0 30px 0 0;

      color: #a1a1a1;

      span {
        border-bottom: 1px dotted #a1a1a1;
      }
    }
}
.b-top-menu-container__item.left .b-top-menu__item
{
    &:nth-child(1)
    {
        width: 45%;
    }
    &:nth-child(2)
    {
        width: 25%;
    }
    &:nth-child(3)
    {
        width: 25%;
    }
}
.b-top-menu-right__item_auth
{
    position: relative;

    color: white;
    &:before
    {
        top: 4px;

        display: inline-block;

        width: 17px;
        height: 18px;

        content: '';

        background: url('../images/b-top-menu__item_icoauth.png');

        margin-bottom: -5px;
        margin-right: 5px;
    }
}
.b-top-menu-container__item
{
    width:calc(50% - 90px);
    text-align: center;
}
@media (max-width:1200px)
{
    .b-top-menu
    {
        &-container__item
        {
            width:calc(50% - 70px);
        }
    }
}
@media (max-width:930px)
{
    .b-top-menu
    {
        &__item
        {
            &_med
            {
                display: none;
            }
        }
    }
}
@media (max-width:760px)
{
    .b-top-menu
    {
        &__item
        {
            font-size: 9px;
        }
        &-right
        {
            &__item_auth
            {
                
                margin-left: 0px;
            }
        }
        &-container__item
        {
            width:calc(50% - 40px);
        }
    }
}
