.b-breadcrumbs {
    margin-top: 4rem;
    &__list {
        text-align: center;
        &-item {
            float: none !important;
            display: inline-block;
        }
        &-home {
            float: none !important;
            display: inline-block;
            padding-left: rem-calc(16);
            &:after {
                background: url(/i/i-home.png) no-repeat;
                content: "";
                display: inline-block;
                width: 2rem;
                height: 2rem;
                position: relative;
                top: 1.2rem;
                right: -.2rem;
            }
        }
        &-link {
            color: #3aaa35 !important;
            font-weight: 400;
            text-decoration: underline;
            text-transform: none;
            font-size: 1rem;
        }
    }
}
