.cab {
    padding: 1vmax 1.8vmax;
    border-radius: 50%;
    line-height: 6.75vmax;
    background: rgba(194, 76, 40, 0.8);
    top: -10vmax;
    margin-bottom: 12%;

    &:before {
        display: none;
    }

    &:hover {
        background: rgba(194, 76, 40, 0.9);
    }
    @media (max-width: 1600px) {
        top: -15vmax;
    }
    @include breakpoint(small only) {
        top: rem-calc(0);
    }
}
