.chapter {
  list-style-type: none;
  margin: 0;

  & > li {
    text-transform: uppercase;
    font-family: 'Conv_SegoeUIRegular';
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 32px;
    background: #fff url(../images/ar-menu.png) no-repeat calc(100% - 16px) 18px;
    &:not(:last-child) {
      border-bottom: 1px solid #e2e2e2;
    }
    &:hover, &.js-opened {
      background: #e4c1c1 url(../images/ar-menu.png) no-repeat calc(100% - 16px) 18px;
    }
    & > ul {
      display: none;

    }
    &.js-opened {
      & > ul {
        display: block;
        li {

          cursor: pointer;
          .js-sel {
            color: #fff;
          }
        }
      }
    }
  }
}