.b-club {
  &__title {
    color: #505050;
    font-family: CirceRounded;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 3.813rem;
    letter-spacing: -3.5px;
    margin-top: 1.875rem;
    }
  &__title2 {
    color:#505050;
    font-family:CirceRounded;
    font-size:3.5rem;
    font-weight:300;
    line-height:3.813rem;
    letter-spacing:-3.5px;
    margin-top:2.625rem;
    }
  &__numder {
    color: #505050;
    font-family: CirceRounded;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.813rem;
    margin-bottom: -0.3rem;
  }
  &__box {
      margin-top: 1rem;
      margin-bottom: 6.4375rem;
     &-text {
      color: #505050;
      font-family: Circe;
      font-weight: 300;
      line-height: 1.75rem;
      letter-spacing: 0;
    }
    &-text2 {
      color: #505050;
      font-family: Circe;
      font-weight: 300;
      line-height: 1.75rem;
      letter-spacing: 0;
      margin-top:60px;
      margin-bottom:40px;
    }
  }
  &__img {
    margin-top:1rem;
    margin-bottom:1rem;
     &-icon {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      width: 127px;
      top: 25px;
      &:after {
        content: "";
        position: absolute;
        width: 52px;
        height: 2px;
        top: 55px;
        left: 124px;
        background: url("/i/kl06.png") no-repeat;
    }
    &:last-of-type {
        margin: 0;
    &:after {
         display: none;
    }

}
}
}
&__img2 {
     &-icon {
      position:relative;
      display:inline-block;
      vertical-align:top;
      margin-right:30px;
      width:127px;
      margin-bottom:60px;
      &:last-of-type {
       &:after {
         display: none;
    }

}
}
}
}
@media all and  (max-width: 880px){
  .b-club {
		&__title {
			font-size: 2.5rem;
		}
		&__title2 {
			font-size: 2.5rem;
			margin-top: rem-calc(48);
		}
		&__img {
			margin-bottom: rem-calc(32);
			&-icon {
				margin-right: 0;
				&:after {
					content: none;
				}
			}
		}
	}
}