.b-documents {
  padding-top:rem-calc(80);
  &__box {
    margin-bottom:rem-calc(63);
    &-c {
      display: inline-block;
    }
  }
  &__img {
    padding: rem-calc(8);
    border: 0.063rem solid #e4e4e4;
    width: rem-calc(250);
    height: rem-calc(340);
    margin-bottom:rem-calc(13);
    &_3 {
      padding: rem-calc(20);
    }
    &_5 {
      width: 21.25rem;
      height: auto;
      margin-top:rem-calc(9);
    }
  }
  &__text {
    max-width: rem-calc(250);
    margin: 0 auto;
    color: #505050;
    font-family: Circe;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    display: block;
    text-align: center;
    &_5 {
      max-width: rem-calc(340);
    }
  }
}
