.fabric {
  float: left;
  padding-left: rem-calc(8);

  &__info {
    padding: rem-calc(9 0 8);
  }

  &__link {
    font-family: 'Conv_SegoeUIRegular';
    font-size: rem-calc(12);
    font-weight: 400;
    text-transform: uppercase;
    color: #383838;
    display: flex;
    border-top: rem-calc(1) solid $border-gray;

    &_first {
      font-family: 'Conv_SegoeUIBold';
      font-weight: bold;
      color: #153f93;
      font-size: rem-calc(14);
      border-bottom: rem-calc(1) solid #153f93 !important;
      background: url("../images/arrow_right.png") no-repeat calc(100% - 10px) center;
    }
  }

  &__img {
    width: rem-calc(22);
    display: block;
    margin-right: rem-calc(13);
    text-align: center;
    height: rem-calc(37);
    line-height: rem-calc(33);
  }

  &__li {
    border: rem-calc(1) solid transparent;

    &:last-child {
      &:hover {
        border-bottom: rem-calc(0) !important;
      }

      & > a {
        padding-bottom: rem-calc(1);
      }
    }

    &:nth-child(2) {
      & > a {
        border-top: rem-calc(0);
      }
    }

    &:hover {
      padding-left: rem-calc(11);
      margin-left: rem-calc(-11);
      border-top: rem-calc(1) solid $border-gray;
      border-left: rem-calc(1) solid $border-gray;
      background-color: $white;
      border-right: rem-calc(1) solid $white !important;

      & + li > a {
        border-top: none;
      }

      & > ul {
        display: block;
      }

      & > a {
        color: #153f93;
        border-top-color: transparent;
      }
    }

    &_first {
      border-top: rem-calc(0);

      &:hover {
        border-left: rem-calc(1) solid transparent;
        border-bottom: rem-calc(0) !important;
        background: none;
        border-top: rem-calc(0);
        border-right: rem-calc(1) solid $border-gray !important;
      }
    }
  }

  &__ul {
    width: rem-calc(203);
    margin: 0 0 rem-calc(0);
    list-style: none;

    &:hover {
      .fabric__li {
        padding-right: rem-calc(20);
        margin-right: rem-calc(-20);
        border-right: rem-calc(1) solid $border-gray;

        &:hover {
          padding-bottom: rem-calc(1);
          border-bottom: rem-calc(1) solid $border-gray;
        }
      }
    }
  }

  &__inside {
    font-family: 'Conv_SegoeUIRegular';
    font-size: 12px;
    font-weight: 400;
    display: block;
    height: auto;
    padding: rem-calc(11 0);
    text-transform: uppercase;
    color: #383838;
    border-bottom: rem-calc(1) solid #ddd;
    vertical-align: middle;
  }

  &__block {
    display: inline-block;
    float: none;

    vertical-align: top;
width: rem-calc(308);
  }

  &__level-1 {
    position: absolute;
    z-index: 5;
    top: 0;
    left: rem-calc(231);
    display: none;
    width: rem-calc(646);
    height: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
    background-color: $white;
    border-right: rem-calc(1) solid $border-gray;
    border-top: rem-calc(1) solid $border-gray;
    padding: rem-calc(21 28 30);

    &_art {
      background-image: url("../images/art-new.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    &_clothes {
      background-image: url("../images/clothes.jpg");
      background-repeat: no-repeat;
      background-position: calc(100% - -173px) calc(100% + 356px);
    }

    &_bag {
      background-image: url("../images/bag-woman.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 45px) calc(100% + -28px);
    }

    &_souvenir {
      background-image: url("../images/souvenir.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 30px) calc(100% + -28px);
    }

    &_best {
      background-image: url("../images/best.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 30px) calc(100% + -28px);
    }

    &_towel {
      background-image: url("../images/textile.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) calc(100% + -15px);
    }

    &_sport {
      background-image: url("../images/ping.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 34px) calc(100% + -32px);
    }

    &_plate {
      background-image: url("../images/plate.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) calc(100% + -15px);
    }

    &_kid {
      background-image: url("../images/kid.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) calc(100% + -15px);
    }

    &_zoo {
      background-image: url("../images/zoo.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 3px) calc(100% + 1px);
    }

    &_shoes {
      background-image: url("../i/shoe-new.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 30px) calc(100% + -47px);
    }

    &_pc {
      background-image: url("../images/pc.jpg");
      background-repeat: no-repeat;
      background-position: calc(100% - 50px) calc(100%);
    }

    &_auto {
      background-image: url("../images/wheel.png");
      background-repeat: no-repeat;
      background-position: calc(100% + 20px) calc(100% + 20px);
      background-size: 200px;
    }

    &_fun {
      background-image: url("../images/kid.jpg");
      background-repeat: no-repeat;
      background-position: calc(100% - 30px) calc(100% - 20px);
    }

    &_tools {
      background-image: url("../images/tools.jpg");
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) calc(100%);
    }

    &_food {
      background-image: url("../images/food.jpg");
      background-repeat: no-repeat;
      background-position: calc(100% - 30px) calc(100% - 30px);
    }
  }
}
@media (max-width:1200px) {
  .fabric {
padding-left: rem-calc(12);
padding-right: rem-calc(11);

    &__block {
  width: 70%;
    }

    &__level-1 {
      left: rem-calc(235);
      background: $white;
    }
  }
}
@media (max-width: 960px) {
  .fabric {
    &__level-1 {
      width: calc(100% - 245px);
    }
  }
}
@media (max-width:640px) {
  .fabric {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    width: 100%;
    background: $white;

    &__link {
      border-top: 0;
      padding-left: rem-calc(15);

      &_first {
        pointer-events: none;
        border-bottom: 0 !important;
        background: url("../images/arrow_right.png") no-repeat calc(100% - 10px) center;
        font-size: 20px;
        font-family: 'Conv_SegoeUIBold';
        color: #383838;
        text-align: center;
      }
    }

    &__ul {
      width: 100%;
      margin-top: 19px;
      text-align: center;
      border: rem-calc(1) solid $border-gray;
      border-bottom: 0;

      li + li {
        display: none;
      }

      &:hover {
        .fabric__li {
          margin-right: rem-calc(0);
          padding-right: rem-calc(0);
          border-right: 0;

          &:hover {
            border-right: rem-calc(1) solid transparent !important;
          }
        }
      }
    }

    &__li {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      cursor: pointer;
      text-align: left;

      &:not(:first-child) {
        border-top: rem-calc(1) solid $border-gray;
      }

      &:hover {
        border-bottom: 0;

        &:first-child {
          border-top: 0;
        }

        & > ul {
          display: none;
        }
      }
    }
  }
}
