.file {
  display: none;
  padding-bottom: 10px;
  &.js-show {
    display: block;
  }
  &__img {
    width: 137px;
    height: 112px;
    text-align: center;
    padding-right: 25px;
    float: left;
    img {
      max-height: 100%;
    }
  }
  &__name {
    width: calc(100% - 249px);
    overflow: hidden;
    height: 112px;
    padding-right: 10px;

  }
  &__main {
    width: 112px;
  }
  .js-file-inp {
    position: absolute;
    left: -140px;
    outline: none;
    top: 30px;
    width:calc(100% + 120px);

  }
  &__delete {
    color: #a1a1a1;
    cursor: pointer;
    padding-top: 56px;
    font-size: 14px;
    line-height: 1.29;
  }
}
input.file__inpt
{
  display: none;
}

label.file__chck
{
  color: #a1a1a1;
  margin: 0 !important;
  font-size: 14px;
  padding-left: 47px;
  padding-top: 30px;


  &:after
  {
    position: absolute;
    left: 0;
    top: 29px;


    display: block;

    width: 30px;
    height: 30px;
    margin-top: 0;

    content: '';

    background: url('../images/check.png') no-repeat ;
  }
}


.file__inpt:checked + label:after
{
  width: 30px;
  height: 30px;

  background: url('../images/check2.png') no-repeat ;
}
@media (max-width:640px) {
    .file {
      &__name {
        width:calc(100% - 137px);
        padding-right: 0;
        max-width:163px;

      }
      &__main {
        float: left !important;
      }

    }
}