
@font-face {
    font-family: 'Xenia';
    src: url($fontsPath + '/xenia-extended-cyrillic.eot');
    src: url($fontsPath + '/xenia-extended-cyrillic.eot?#iefix') format('embedded-opentype'),
         url($fontsPath + '/xenia-extended-cyrillic.woff2') format('woff2'),
         url($fontsPath + '/xenia-extended-cyrillic.woff') format('woff'),
         url($fontsPath + '/xenia-extended-cyrillic.ttf') format('truetype'),
         url($fontsPath + '/xenia-extended-cyrillic.svg#xenia_extendedcyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
$PTSans:'PT Sans', sans-serif;
