.garage {
  @include clearfix;
  max-width: rem-calc(1160);
  margin-left: auto;
  margin-right: auto;

  &__example {
    color: $white;
    font-size: rem-calc(22);
    text-transform: none;
  }

  &__link {
    cursor: pointer;
    color: $green;
  }
}
