.gen {
  font-size: rem-calc(18);

  &__title {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(23);
  }

  &__offers {
    width: auto;
    flex: 1 1 0;
    text-align: right;
  }

  &__art {
    display: flex;
    margin-bottom: 1.0625rem;
    flex-flow: row wrap;
    color: #383838;
    font-size: 0.875rem;
  }

  &__choose {
    width: auto;
    padding-top: rem-calc(17);
    font-size: rem-calc(18);
    flex: 0 0 auto;
  }

  &__link {
    display: block;
    margin-bottom: rem-calc(7);
  }

  &__select {
    border: rem-calc(1) solid #e1e1e1;
    font-size: rem-calc(18);
    width: rem-calc(153);
    padding-top: rem-calc(3);
    padding-bottom: rem-calc(3);
    background-color: #f5f5f5;
  }

  &__color {
    max-width: 100%;
    width: rem-calc(380);
    margin-bottom: rem-calc(10);
  }

  &__pen {
    width: 1.875rem;
    margin-right: rem-calc(9);
    margin-bottom: rem-calc(6);
    height: 1.875rem;
  }

  &__info {
    margin-bottom: rem-calc(12);
    font-size: rem-calc(18);

    &_mini {
      margin-bottom: rem-calc(7);
    }
  }
}
