.identity {
    color: #4c4c4c;
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);
    border-right: rem-calc(1) solid #e2e2e2;
    border-bottom: rem-calc(1) solid #e2e2e2;

    &__header {
        font-weight: 700;
        margin-top: rem-calc(30);
        text-transform: uppercase;
        font-size: rem-calc(14);
    }

    &__block {
        color: #4c4c4c;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(4);
    }

    &__label {
        height: rem-calc(49);
        display: table;
        padding-right: rem-calc(10);

        label {
            vertical-align: middle;
            display: table-cell;
        }
    }

    &__link {
        color: #153f93;
        display: inline-block;
    }
    &__submit {
      color: #4c4c4c;
      text-transform: uppercase;
      margin-top: rem-calc(10);
      font-weight: 600;font-size: rem-calc(14);background-color: #ddd;
      padding-top: rem-calc(9);
      padding-bottom: rem-calc(9);
      padding-left: rem-calc(24);
      padding-right: rem-calc(24);
    }
    @media (max-width: 1024px) {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
    }
    @media (max-width: 640px) {
        height: auto !important;
        border-left: rem-calc(1) solid #e2e2e2;
    }
}

input.identity__input {
    color: #4c4c4c;
    font-size: rem-calc(14);
    height: rem-calc(49);
    box-shadow: none;
    padding-left: rem-calc(10);
    border: rem-calc(1) solid #e2e2e2;
}

input.identity__check {
    margin-right: rem-calc(10);
    margin-bottom: rem-calc(7);
}
