input.b-input-number
{
    font-family: 'segoe ui';
    font-size: 16px;
    font-weight: 400;

    width: 68px;
    height: 38px;
    margin-left: 57px;

    text-align: center;

    color: #4c4c4c;
    border: 1px solid #e2e2e2;
    background-color: white;
    box-shadow: none;
}
.ui-spinner-up,
.ui-spinner-down
{
    position: absolute;


    display: inline-block;

    width: 38px ;
    height: 38px;

    cursor: pointer;

    border: 1px solid #e2e2e2;
    background-color: white;
}
.ui-spinner-up
{
    left: 125px;

    border-left: 0;
    background: url('../images/plus-basket.png') no-repeat center center;
}
.ui-spinner-down
{
    left: 19px;

    border-right: 0;
    background: url('../images/minus-basket.png') no-repeat center center;
}
.ui-widget-content
{
    position: relative;
    top: 7px;


    border: 0;
}
@media (max-width:1024px) {
    input.b-input-number {
        margin-left: 37px;
    }
    .ui-spinner-down {
        left: -1px;
    }
    .ui-spinner-up {
        left: 105px;
    }
}