.jcarousel-hots {
  &:not(.js-carousel-hots-main) {
    ul {
      li {
        margin-left: rem-calc(-10);
        padding-left: rem-calc(12);
        padding-right: rem-calc(12);
      }
    }
  }
}
