.knob {
    margin-bottom: 0 !important;

    &__button {
        background: #1cb271 url("../images/plus.png") no-repeat center;
        width: 40px;
        height: 40px;
        border-bottom: 3px solid #149765;
        padding: 0;

        &:hover {
            background: #1cb271 url("../images/plus.png") no-repeat center;
        }
    }

    &__label {
        color: #4c4c4c;
        font-size: 16px;
        line-height: 1.25;
        float: right;
        width: calc(100% - 60px);
    }

    &__row {
        border-bottom: 1px solid #e2e2e2;
    }

    &__input {
        display: none;
    }

    &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #e2e2e2;
        padding: 0;
        background: #ebebeb url("../images/closemy.png") no-repeat center;
    }

    &__name {
        color: #a1a1a1;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 20px !important;
        line-height: 1.25;


    }

    &__price {
        color: #a1a1a1;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 20px !important;
        line-height: 1.25;
        width: calc(50% - 10px) !important;
        float: left;

        &+input {
            width: calc(50% - 10px);
            float: right;
        }
    }
}

label.knob__lab {
    color: #4c4c4c;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 50px;
    height: 50px;
    padding-top: 3px;
    float: left;
    background: url("../images/buy-grup-check1.png") no-repeat left top;
}

.knob__input:checked + label {
    background: url("../images/buy-grup-check2.png") no-repeat left top;
}
input.knob__name_region {
  display: none;
}
