.b-lk-nav
{
    padding-right: 40px;
    &__arrow
    {
        position: absolute;
        z-index: 5;
        top: -2px;
        right: 5px;

        width: 50px;
        height: 50px;

        cursor: pointer;

        background: url('../images/ar-menu.png') no-repeat center center;
    }
    &__menu
    {
        margin: 0;
        margin-bottom: rem-calc(20);

        list-style: none;

        border: 1px solid #e2e2e2;
        background: #f8f8f8;
        &-item
        {
            position: relative;

            border-bottom: 1px solid #e2e2e2;
            &.has-drop
            {
                background: url(../images/ri.png)no-repeat 92% center;
            }
            &:last-child
            {
                border-bottom: 0;
            }
        }
        &-link
        {
            font-size: rem-calc(14);
            display: block;

            padding: rem-calc(13 20);

            text-transform: uppercase;

            color: #383838;
            &:hover,
            &.active
            {
                font-family: 'Conv_SegoeUIBold';

                color: #383838;
            }
        }
        &.level-2
        {
            margin: 0 20px;

            border-right: 0;
            border-bottom: 0;
            border-left: 0;
            .b-lk-nav__menu-link
            {
                text-transform: none;
            }
        }
    }
}
@media (max-width:1200px)
{
    .b-lk-nav
    {
        padding-left: 10px;
        &__menu-link
        {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }
}
@media (max-width:960px)
{
    .b-lk-nav
    {
        padding-right: 30px;
        &__menu-link
        {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
@media (max-width:640px)
{
    .b-lk-nav
    {
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
        float: none;
        flex-direction: column-reverse;

        padding-right: 15px;
        padding-left: 15px;
        &__menu
        {
            padding-right: 15px;
            padding-left: 15px;
            &-link
            {
                padding-left: 0;
                padding-right: 0;
                font-family: 'Conv_SegoeUIBold';
            }
            &-item.has-drop
            {
                background: url(../images/ri.png)no-repeat 99% center;
            }
        }
    }
}
