.b-modals {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  max-width: 940px;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 10;
  .b-house__top-price {
    margin-left:rem-calc(-56);
  }
}
.b-modal {
  &-project {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 940px;
    top: 0;
    background: white;
    text-align: center;
    &__close {
      position: absolute;
      right: 30px;
      top: 30px;
      color: black;
      width: 40px;
      height: 38px;
      background: url(../images/x.png) center no-repeat;
      background-size: 100% 100%;
      z-index: 15;
    }
  }
  &__content {
    margin-top: rem-calc(16);
    max-width: 660px;
    width: 100%;
    float: right;
    padding: 0 rem-calc(20);
    padding-bottom: rem-calc(70);
  }
  &__text-box {
    display: inline-block;
    margin-right:rem-calc(70);
  }
  &__text {
    &-1 {
      color: #505050;
      font-family: Circe;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom:rem-calc(10);
    }
    &-2 {
      color: #505050;
      font-family: CirceRounded;
      font-size: 59px;
      font-weight: 300;
      line-height: 45px;
      letter-spacing:-5px;
      & > sup {
        font-size: 55%;
        top: -20px;
        left: 5px;
      }
    }
    &-3 {
      color: #505050;
      font-family: Circe;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }
  &__button {
    color: #fff !important;
    font-family: Circe;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    background-color: #0c0;
    padding: 7px 23px;
    letter-spacing: 2px;
    margin: 30px 0;
    border-radius: 35px;
    display: inline-block;
    text-transform: uppercase;
  }
}
.b-plan__top {
  z-index: 1;
}
.gp__price {
  position: relative;
  margin-top: rem-calc(-60);
  margin-bottom:rem-calc(33);
}
.gp__slider {
  position: relative;
}
.gp__slider * {
  outline: none;
}
.gp__slider .slick-prev {
  position: absolute;
  z-index: 10;
  left: 3px;
  background: url(../images/prev.png) center no-repeat;
  width: 6rem;
  height: 100%;
  font-size: 0;
  top: 0
}
.gp__slider .slick-next {
  position: absolute;
  z-index: 10;
  right: 3px;
  background: url(../images/next.png) center no-repeat;
  width: 6rem;
  height: 100%;
  font-size: 0;
  top:0;
}

@media screen and (max-width: 54.9375em) {
  .b-modals {
    .b-house__top-price {
      margin-left:0;
    }
  }
}
