.b-nav {
  padding-bottom: rem-calc(48);
  & .title-bar {
    background: #3c0;
  }
  & .menu-icon {
    outline: none;
  }
  &__menu {
    display: table;
    text-align: center;
    border: 1px solid #33cc00;
    margin: 0 auto;
    margin-top: rem-calc(40);
    border-radius: rem-calc(25);
    overflow: hidden;
    background: #fff;
    &-title {
        color: #505050;
        font-family: CirceRounded;
        font-size: 3.688rem;
        font-weight: 700;
        line-height: 3.438rem;
        margin-top: rem-calc(16);
        text-align: center;
        border-bottom: 1px solid rgba(146, 146, 146, 0.3);
        padding-bottom: rem-calc(48);
    }
    &-item {
      display: table-cell;
      &:first-child {
        border-radius: rem-calc(25) 0 0 rem-calc(25);
        overflow: hidden;
        & > a {
          padding-left: rem-calc(25);
          border-radius: rem-calc(25) 0 0 rem-calc(25);
        }

      }
      &:last-child {
        & > a {
          padding-right: rem-calc(25);
          border-radius: 0 rem-calc(25) rem-calc(25) 0;
        }
      }
    }
    &-link {
      color: #505050;
      font-family: Circe;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 2.875rem;
      text-transform: uppercase;
      padding: rem-calc(1) rem-calc(20);
      display: block;
      white-space: nowrap;
      &.active {
        background: #33cc00;
        color: white;
        &:focus {
          color: white;
        }
        &:hover {
          color: white;
        }
      }
      &:hover {
        color: white;
        background: #33cc00;
        &:focus {
          color: white;
        }
      }
      &:focus {
        color: #505050;
      }
    }
  }
}

@media screen and (max-width: 54.9375em) {
  .b-nav {
    & > .row {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 880px) {
  .b-nav {
    & .title-bar {
      display: none;
    }
  }
}


@include breakpoint(medium down) {
  .b-nav {
    &__menu {
      display: block;
      margin-top:0;
      border-radius: 0;
      background: rgba(51, 204, 0, .25);
      &-item {
        &:first-child {
          border-radius: 0;
        }
        display: block;
        border-top: 1px solid #33cc00;
      }
      &-link {
        &.active {
          background: transparent;
          color: #505050;
          &:focus {
            color: #505050;
          }
          &:hover {
            color: #505050;
            &:focus {
              color: #505050;
            }
          }
        }
        &:hover {
          color: #505050;
          background: transparent;
          &:focus {
            color: #505050;
          }
        }
      }
    }
  }
}

@include breakpoint(large down) {
  .b-nav {
    padding-bottom: 0;
  }
}

@include breakpoint(small only) {


}
