.b-order
{
    width: 100%;
    max-width: rem-calc(473);
    &__status
    {
        font-family: segoe ui, Arial, sans-serif;
        font-size: .6875rem;
        line-height: 2.5rem;

        display: inline-block;

        width: 13.4375rem;
        height: 2.5rem;
        padding-left: .9375rem;

        text-transform: uppercase;

        color: #fff;
        &.green
        {
            background: #3da054;
        }
    }
    &__cost
    {
        margin-top: rem-calc(30) !important;
        margin-bottom: rem-calc(30) !important;
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);

        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        &-qw
        {
            font-family: segoe ui, Arial, sans-serif;
            font-size: rem-calc(16);
            line-height: 32px;

            width: rem-calc(144);

            color: #4c4c4c;
        }
        &-answ
        {
            font-family: segoe ui, Arial, sans-serif;
            font-size: rem-calc(16);
            font-weight: bold;
            line-height: 32px;

            max-width: rem-calc(328);

            color: #383838;
            span
            {
                font-size: rem-calc(22);
            }
        }
    }
    &__info
    {
        &-title
        {
            font-family: segoe ui, Arial, sans-serif;
            font-size: rem-calc(16);
            font-weight: bold;

            padding-bottom: rem-calc(10);

            color: #4c4c4c;
        }
        &-desc
        {
            margin-bottom: rem-calc(35);
        }
    }
    &__inform
    {
        &-qw
        {
            width: rem-calc(120);
        }
        &-answ
        {
            width: 100%;
            max-width: rem-calc(353);
            padding-left: rem-calc(15);
            a
            {
                color: #153f93;
                &:hover
                {
                    color: #153f93;
                }
            }
        }
    }
}
@media (max-width:960px)
{
    .b-order
    {
        &__info
        {
            &-desc
            {
                margin-bottom: rem-calc(20);
            }
        }
        &__inform
        {
            &-qw
            {
                width: 40%;
            }
            &-answ
            {
                width: 60%;
                padding-left: 10px;
            }
        }
        &__cost
        {
            &-qw
            {
                width: 45%;
            }
            &-answ
            {
                width: 55%;
                padding-left: 10px;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-order
    {
        max-width: none;
        &__inform
        {
            &-answ,
            &-qw
            {
                font-size: 14px;
                line-height: 1.5;
            }
        }
        &__info
        {
            &-title
            {
                padding-bottom: 3px;
            }
            &-desc
            {
                margin-bottom: 14px;
            }
        }
        &__cost
        {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
