.b-plans {
  padding-bottom:rem-calc(110);
  &__s1 {
    margin-top:rem-calc(60);
  }
  &__img {
    width: 17.5rem;
    height: 17.5rem;
  }
  &__box {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(80);
  }
  &__title {
    color: #505050;
    font-family: CirceRounded;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: -2px;
    margin-top:rem-calc(46);
  }
  &__text {
    color: #3c0;
    font-family: Circe;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2.625rem;
    display: block;
    margin-top:rem-calc(13);
    letter-spacing: -.5px;
  }
  &__items {
    position: relative;
    margin-top:rem-calc(24);
    &:before {
      position: absolute;
      background: #99e57f;
      width: 1px;
      left: 50%;
      height: 100%;
      content: '';
      z-index: -1;
    }
    &-title {
      background: #33cc00;
      width: 8.75rem;
      height: 8.75rem;
      padding-top: rem-calc(10);
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      &-s {
        color: white;
        font-family: CirceRounded;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2rem;
        padding-top: rem-calc(20);
      }
      &-y {
        color: white;
        font-family: CirceRounded;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2.625rem;
      }
    }
  }
  &__item {
    text-align: center;
    margin-top:rem-calc(80);
    margin-bottom:rem-calc(160);
    position: relative;
    &-img {
      width: rem-calc(840);
      height: auto;
    }
    &_l {
      margin-bottom:0;
    }
    &-content {
      position: absolute;
      bottom: rem-calc(42);
      width: 100%;
      padding: 0 rem-calc(10);
      max-height: 100%;
    }
    &-text {
      font-family: CirceRounded;
      font-size: 2.375rem;
      font-weight: 300;
      line-height: 2.375rem;
      color: white;
      margin-bottom: rem-calc(23);
      letter-spacing: -2px;
      &-2 {
        color: #cf6;
        display: block;
      }
    }
    &-link {
      color: white;
      font-family: Circe;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 2.875rem;
      text-transform: uppercase;
      background: #15c304;
      padding: rem-calc(15) rem-calc(20);
      border-radius: rem-calc(25);
      letter-spacing: 2px;
      &:hover, &:focus {
        color: white;
      }
    }
  }
  &__more {
    color: #0c0;
    font-family: CirceRounded;
    font-size: 2.375rem;
    font-weight: 300;
    line-height: 2.375rem;
    margin-top: rem-calc(109);
    margin-bottom: rem-calc(23);
    letter-spacing: -1px;
    &-i {
      background: url("../images/pb.png") no-repeat;
      width: rem-calc(160);
      height: rem-calc(40);
      display: inline-block;
    }
  }
}

@include breakpoint(medium down) {
.b-plans {
  &__title {
    font-size: rem-calc(40);
  }
  &__item {
    &-img {

    }
  }
  }
}


@include breakpoint(small only) {
  .b-plans {
    &__item {
      overflow: hidden;
      &-text {
        font-size: rem-calc(28);
        line-height:rem-calc(1.8rem);
        margin-bottom:0;
        &-br {
          display: none;
        }
      }
      &-img {
        min-width: 120%;
      }
      &-link {
        font-size: rem-calc(12);
        padding: rem-calc(5) rem-calc(10);
      }
      &-content {
        bottom: rem-calc(15);
      }
    }
  }
}
