.produce {
  display: block;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(52);

  &__num {
    color: #afafaf;
  }

  &__img {
    margin-bottom: rem-calc(7);
    height: rem-calc(170);
    line-height: rem-calc(170);
    border: rem-calc(1) solid #e1e1e1;

    img {
      max-height: rem-calc(163);
    }
  }
  @media (max-width: 1024px) {
    margin-bottom: rem-calc(30);
  }
  @media (max-width: 640px)
  {
    margin-bottom: rem-calc(5);
  }
}
