.profile {
    color: #4c4c4c;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    background-color: #f8f8f8;
    padding-top: rem-calc(14);
    border: rem-calc(1) solid #e2e2e2;
    border-top: rem-calc(0);
    padding-bottom: rem-calc(24);
    font-size: rem-calc(14);

    &__name {
        font-weight: 700;
        margin-bottom: rem-calc(10);
    }

    &__img {
      border: rem-calc(1) solid #e2e2e2;

        margin-bottom: rem-calc(5);
        display: inline-block;
        padding-top: rem-calc(15);
    }

    &__info {
        &_last {
            margin-bottom: rem-calc(20);
        }
    }

    &__link {
        color: #153f93;
        font-weight: 400;
        display: inline-block;
        margin-right: rem-calc(10);
    }
    @media (max-width: 640px) {
      height:auto !important;

        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
border-bottom: 1px solid #e2e2e2;
        &__img {
            margin-right: rem-calc(10);
        }
    }
}
