
.b-razd-tov {
  margin: 0;
  margin-bottom: 1.25rem;
  list-style: none;
  border: 1px solid #e2e2e2;
  background: #f8f8f8;
}
.b-razd-tov ul {
  list-style: none;
  margin: 0;
}
.b-razd-tov > ul ul {
  margin-left: 20px;
}

.b-razd-tov .js-arrow {
  width: rem-calc(35);
  height: rem-calc(35);

}
.b-razd-tov .b-razd-tov__razd-level {
  font-size: 0.875rem;
  font-weight: normal;
  display: block;
  padding: 10px 20px;
  padding-right: 2.5rem;
  text-transform: uppercase;
  color: #383838 !important;
  cursor: pointer;
  border-bottom: #e2e2e2 1px solid;
  &:hover {
    background: #C1C1E4;

  }
  &.active {
    background: #E4C1C1;
  }
}

