.remember {
    font-weight: 400;
    font-family: 'MyriadPro-Regular';
    margin-bottom: rem-calc(27);
    display: block;

    &__img {
        margin-bottom: rem-calc(16);
        height: rem-calc(101);
        line-height: rem-calc(101);

        img {
            max-height: 100%;
        }
    }

    &__title {
        color: #000000;
        text-transform: uppercase;
        font-size: rem-calc(27);
    }

    &__text {
        color: #5b5b5b;
        font-size: rem-calc(20);
    }
    @include breakpoint(small only) {
        &__title {
            font-size: rem-calc(21);
        }

        &__text {
            font-size: rem-calc(17);
        }
    }
}
