.rest {
  font-family: $PTSans;
  margin-top: rem-calc(75);
  margin-bottom: rem-calc(4);
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  &__block {
    display: inline-block;
  }

  &__weekday {
    margin-right: rem-calc(5);
    padding-right: rem-calc(5);
    padding-left: rem-calc(5);
    border-radius: rem-calc(2);
    text-align: center;
    line-height: 1;
    padding-bottom: rem-calc(4);
    padding-top: rem-calc(6);
    font-size: rem-calc(14);
    display: inline-block;
    border: rem-calc(1) solid $red;
  }

  &__submit {
    border: rem-calc(1) solid $red;
    border-radius: rem-calc(8);
    background-color: $red;
    width: 16%;
    float: left;
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
    cursor: pointer;
    color: $white;
    font-size: rem-calc(20);
  }

  &__button {
    margin-bottom: rem-calc(20);
    position: relative;
    padding-left: rem-calc(5);
    padding-right: rem-calc(5);
    border: rem-calc(1) solid rgba(255, 255, 255, 0.51);
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    margin-right: rem-calc(23);
    text-transform: none;
    width: calc(25% - 23px);
    border-radius: rem-calc(8);
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
    cursor: pointer;
    transition: 0.3s;
    color: $white;
    font-size: rem-calc(20);

    &:hover {
      border-color: $white;
    }

    &_way {
      padding-left: rem-calc(23);
      padding-right: rem-calc(23);
    }

    &_big {
      width: calc(34% - 23px);
    }
  }

  &__cross {
    width: rem-calc(15);
    position: absolute;
    z-index: 10;
    top: calc(50% - 8px);
    right: rem-calc(10);
  }

  &__check-in {
    padding-right: rem-calc(12);
    position: relative;
    display: inline-block;

    &:after {
      position: absolute;
      right: rem-calc(-5);
      top: rem-calc(-2);
      content: "";
      height: rem-calc(35);
      width: rem-calc(1);
      background: $white;
    }
  }

  &__icon {
    img {
      height: rem-calc(19);
    }
    top: rem-calc(4);
    padding-left: rem-calc(12);
    padding-right: rem-calc(12);
    position: relative;
  }
  @media (max-width: 1200px) {
    &__submit {
      width: 30%;
    }

    &__button {
      &_big {
        width: calc(75% - 35px);
      }
    }
  }
  @media (max-width: 800px) {
    &__button {
      width: calc(40% - 23px);

      &_big {
        width: calc(60% - 23px);
      }
    }

    &__submit {
      width: calc(60% - 23px);
    }
  }
  @media (max-width: 700px) {
    &__block {
      margin-bottom: rem-calc(3);
    }

    &__button,
    &__submit {
      width: 100%;
      margin-right: rem-calc(0);
    }
  }
  @media (max-width: 450px) {
    &__button {
      &_big {
        text-align: left;
      }
    }

    &__check-in {
      &:after {
        display: none;
      }
    }
  }
}
