.room {
  @include clearfix;
  background: #f0f3f6;
  padding-bottom: rem-calc(6);
  color: #626c78;
  margin-top: rem-calc(20);
  position: relative;

  &:before {
    width: 100%;
    height: rem-calc(2);
    content: "";
    left: rem-calc(0);
    top: rem-calc(-10);
    position: absolute;
    border-top: rem-calc(2) dotted #d1d5df;
  }

  &_first {
    margin-top: rem-calc(0);

    &:before {
      display: none;
    }
  }

  &__number {
    width: rem-calc(116);
    line-height: rem-calc(55);
    font-size: rem-calc(18);
    padding-left: rem-calc(15);
    float: left;
    position: relative;
  }

  &__picker {
    border-radius: rem-calc(2);
    height: rem-calc(35);
    width: rem-calc(66);
    position: relative;
    background: $white;
    border: rem-calc(1) solid #d1d5df;
  }

  &__input {
    padding-left: rem-calc(5);
    width: rem-calc(40);
    font-size: rem-calc(15);
    height: rem-calc(33);
    border: rem-calc(1) solid transparent;

    &:focus {
      border-color: $mint;
    }
  }

  &__label {
    font-size: rem-calc(14);
    line-height: 1.5;
  }

  &__adults,
  &__age,
  &__children {
    float: left;
    line-height: 1;
    padding-right: rem-calc(15);
  }

  &__age {
    padding-right: rem-calc(0);
  }

  &__up-1,
  &__up-2,
  &__up-3,
  &__up-4 {
    @include clearfix;
    width: rem-calc(145);

    input {
      background: $white;
      border: rem-calc(1) solid #d1d5df;
      border-radius: rem-calc(2);
      padding-left: rem-calc(0);
      float: left;
    }
  }

  &__up-1 {
    & > input {
      width: 100%;
    }
  }

  &__up-2 {
    & > input {
      width: calc(50% - 5px);
      margin-left: rem-calc(5);

      &:first-child {
        margin-left: rem-calc(0);
      }
    }
  }

  &__up-3 {
    & > input {
      width: calc(33% - 5px);
      margin-left: rem-calc(5);

      &:first-child {
        margin-left: rem-calc(0);
      }
    }
  }

  &__up-4 {
    & > input {
      width: calc(25% - 5px);
      margin-left: rem-calc(5);

      &:first-child {
        margin-left: rem-calc(0);
      }
    }
  }

  &__remove {
    position: absolute;
    bottom: rem-calc(1);
    font-size: rem-calc(12);
    color: $mint;
    line-height: 1;
    left: rem-calc(15);
    border-bottom: rem-calc(1) dotted $mint;

    &:hover {
      border-bottom: rem-calc(1) solid $mint;
      color: $green;
    }
  }

  &__less,
  &__more {
    position: absolute;
    top: rem-calc(-3);
    height: rem-calc(10);
    right: rem-calc(9);

    img {
      width: rem-calc(8);
    }
  }

  &__less {
    top: rem-calc(28);
    transform: rotate(180deg);
  }

  &__body {
    float: left;
  }
  @media (max-width: 700px) {
    &__body {
      padding-left: rem-calc(15);
    }
  }
  @media (max-width: 450px)
  {
    &__age {
      width: 100%;
    }
    &__line {
      width: 100%;
    }
  }
}
