.b-teh {
padding-top:4.0625rem;
  &__title {
  color:#505050;
  font-family:CirceRounded;
  font-size:3.5rem;font-weight:300;
  line-height:3rem;
  letter-spacing:-3px;
  margin-top:2rem;
  margin-bottom:2rem;
    }
  &__title2 {
    color:#505050;
    font-family:CirceRounded;
    font-size:2.3rem;
    font-weight:300;
    line-height:2.353rem;
    letter-spacing:-0.7px;
    margin-bottom:1.875rem;
    }
  &__text {
    color:#505050;
    font-family:Circe;
    font-size:1.25rem;
    font-weight:300;
    line-height:1.75rem;
    letter-spacing:0;
    }
    &__text2 {
    color:#505050;
    font-family:CirceRounded;
    font-size:2.77rem;
    font-weight:300;
    line-height:2.813rem;
    letter-spacing:-0.5px;
    margin-top:1.5rem;
    margin-bottom:1.6rem;
    }
  &__icon {
      margin-top:1.5rem;
      margin-bottom:1.5rem;

     &-text {
      max-width:15.625rem;
      color:#505050;
      font-family:Circe;
      font-size:0.92rem;
      font-weight:400;
      line-height:1.25rem;
      text-align:center;
      }
      &-text2 {
      font-size:1rem;
      font-weight:600;
      }
    }
	&__mitek {
		margin-top: 2rem;
		&-title {
			color: #3aaa35;
			font-size: 1.7rem;
			font-weight: 500;
		}
		&-subtitle {
			display: inline-block;
			color: #3aaa35;
			font-size: 1.7rem;
			vertical-align: top;
			margin-top: 1.5rem;
		}
		&-text {
			margin-left: 4.4rem;
			margin-top: -1rem;
		}
		&-line {
			margin-bottom: -1rem;
			&:before {
				content: "";
				display: inline-block;
				width: 4rem;
				height: 4rem;
				position: relative;
				right: 0;
				top: .5rem;
			}
		}
		&-eco:before {
			background: url(/i/teh1.png) no-repeat;
		}
		&-time:before {
			background: url(/i/teh2.png) no-repeat;
		}
		&-shrink:before {
			background: url(/i/teh3.png) no-repeat;
		}
		&-arch:before {
			background: url(/i/teh4.png) no-repeat;
		}
		&-durab:before {
			background: url(/i/teh5.png) no-repeat;
		}
		&-climate:before {
			background: url(/i/teh6.png) no-repeat;
		}
		&-energ:before {
			background: url(/i/teh7.png) no-repeat;
		}
		&-sound:before {
			background: url(/i/teh8.png) no-repeat;
		}
	}
  &__img {
    margin-top:1rem;
    margin-bottom:1rem;
    width:100%;
    }
  }
@media all and  (max-width: 880px){
  .b-teh {
		padding-top: rem-calc(32);
		&__title {
			font-size: 2.5rem;
			margin-top: rem-calc(32);
			margin-bottom: rem-calc(32);
		}
		&__title2 {
			font-size: 2rem;
		}
		&__text2 {
			font-size:2rem;
		}
		&__icon {
			margin-top: 0;
			margin-bottom: 0;
			& :last-child {
				margin-bottom: rem-calc(32);
			}
			&-text {
				max-width: 100%;
			}
		}
	}
}