.trip {
  @include clearfix;
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(10);
  &__country {
    float: left;
    width: 30%;
    padding-right: rem-calc(10);
  }

  &__city {
    margin-right: rem-calc(5);
  }

  &__destination {
    font-size: rem-calc(14);
    padding-left: rem-calc(20);
    padding-top: rem-calc(1);
    padding-bottom: rem-calc(1);
    line-height: 2.1;
    float: left;
    width: 50%;
    color: $mint;

    &:hover {
      color: $green;
      background-color: #f0f3f6;
    }
  }

  &__hotels {
    font-size: rem-calc(15);
    color: #626c78;
  }

  &__button {
    display: block;
    margin-bottom: rem-calc(5);
    border: rem-calc(1) solid $mint;
    color: $mint;
    font-size: rem-calc(13);
    line-height: 1.8;
    border-radius: rem-calc(40);
    padding-left: rem-calc(6);
    padding-right: rem-calc(6);
    background: none;
    width: 100%;
    cursor: pointer;
    padding-top: rem-calc(1);
    padding-bottom: rem-calc(2);

    &.active,
    &:hover {
      color: $white;
      background: $mint;
    }
  }

  &__cities {
    float: left;
    width: 70%;
  }
  @media (max-width: 700px)
  {
    &__country,&__cities {
      width: 100%;
    }
  }
}
