.b-video {
  background: #000;
  position: relative;
  &__container {
    max-width: rem-calc(862);
    margin: 0 auto;
    &-2 {
      padding-right:rem-calc(10);
      &_2 {
        padding-right:0;
        padding-left:rem-calc(10);
      }
    }
  }
  & .b-header {
    position: absolute;
    z-index: 10;
    width: 100%;
    //top: -20px;
    & .b-nav {
      &__menu {
        //border-color: white;
        &-link {
          //color: white;
          &.active, &:hover {
            //color: #0c0;
            //background: white;
          }
        }
      }
      .title-bar {
        margin-top:rem-calc(20);
      }
    }
  }
}

@media screen and (max-width: 54.9375em) {
  .b-video {
    & .b-nav {
      & > .row {
        max-width: 100%;
      }
    }
    & .b-nav__menu {
      background: white;
      border-bottom: 1px solid #3c0 !important;
      &-link {
        color: #0c0 !important;
      }
    }
    &__container {
      padding-top:rem-calc(40);
    }
  }

}

@include breakpoint(medium down) {
  .b-video {
    & .b-header {
      top: rem-calc(-20);
    }
    &__container {
      &-2 {
        padding-right:0;
        max-width: rem-calc(400);
        &_2 {
          padding-left:0;
        }
      }
    }
  }
}

.vedeoplayeer {
    margin-left: -50px;
    margin-right: -50px;
}
.blur {
  height: auto;
  width: 100%;
  z-index: -1;
  position: relative;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px); 
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: url(#blur);
  overflow: hidden;
}
.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}
.videoarea {
    margin-top: 14rem;
    text-align: center;
    color: white;
    position: relative;
    z-index: 9999;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
}
.videoarea h3 {
    color: #fff;
    font-size: 2rem;
    line-height: 2.375rem;
    letter-spacing: -1.8px;
    margin-bottom: 2.25rem;
    font-family: CirceRounded;
    font-weight: 300;
} 