.b-vipa
{
    position: relative;

    display: none;
    &__wrapper
    {
        position: absolute;
        z-index: 10;
        top: 121px;
        left: 668px;

        width: 302px;
        height: 276px;
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;

        border: 1px solid #1c479d;
        background-color: #153f93;
    }
    &__btn
    {
        font-family: segoe ui,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;

        display: block;

        width: 242px;

        text-align: center;
        text-transform: uppercase;

        color: white;
        background-color: #e23131;
        border-bottom: 3px solid #bf2626;
    }
    &__all-sum
    {
        font-family: segoe ui,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        padding-bottom: 21px;

        color: white;
        &-numb
        {
            font-weight: 700;
        }
    }
    &__group-tovars
    {
        font-family: segoe ui,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        padding-top: 23px;

        color: white;
        &-numb
        {
            font-weight: 700;
        }
    }
    &__sum
    {
        font-family: segoe ui,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        padding-bottom: 20px;

        color: white;
        border-bottom: 1px solid  #1c479d;
        &-numb
        {
            font-weight: 700;
        }
    }
    &__tovars
    {
        font-family: segoe ui,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        color: white;
        &-numb
        {
            font-weight: 700;
        }
    }
}
