.voyager {
  margin-bottom: rem-calc(24);
  padding-left: rem-calc(100);
  padding-right: rem-calc(100);

  &__slide {
    padding-left: rem-calc(15);
    outline: none;
    padding-right: rem-calc(15);
  }

  .slick-arrow {
    border: rem-calc(1) solid #e1e1e1;
    width: rem-calc(37);
    height: rem-calc(77);
    z-index: 3;
    top: calc(50% - 38px);
    transform: none;
    background: $white url("../images/chevron-left.svg")no-repeat center;

    &:after,
    &:before {
      display: none;
    }

    &:active,
    &:focus,
    &:hover {
      border-color: #bbb;
    }
  }

  .slick-prev {
    left: rem-calc(0);
  }

  .slick-next {
    transform: rotate(180deg);
    right: rem-calc(0);
  }

  &__block {
    border: rem-calc(1) solid #e1e1e1;
    padding: rem-calc(10);

  }
  @media (max-width: 1024px) {
    margin-bottom: rem-calc(30);
  }
  @media (max-width: 640px) {
    display: none;
  }
}
