.i-cart{
	.b-breadcrumb_chain{
		margin-left:0px;
		float:none;
		margin-bottom:20px;
	}
	h1 { 
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
	h2{
		@include h2Style;
		margin-bottom:15px;
	}
	h3 {
    font-size: 16px;
		font-weight:bold;
    margin: 5px 0;
  }
	.b-msg_status{
		margin:30px 0 40px 0;
	}
}
.b-cart-table{
	margin: 20px 0 40px 0;
	thead{
		border-top:1px solid $cGrayLine;
		border-bottom:1px solid $cGrayLine;
	}
	td,th{
		text-align:left;
		padding:0 24px;
		vertical-align:middle;
	}
	th{
			font-size:16px;
			font-weight:bold;
			padding:5px 0;
			div{
				border-right:1px solid $cGrayLine;
				padding:3px 24px;
			}
	}
	.b-cart-table__td-last{
        text-align: left;
		div{
			border-right:0px;
            padding-left: 110px;
		}
	}
    .b-cart-table__th-last div {
        border-right:0px;
    }
	.b-cart-table__buttons{
		text-align:left;
		button{
			margin-right:10px;
		}
	}
	.b-cart-table__image{
		width:165px;
		padding-rigth:20px;
		position:relative;
		text-align: center;
	}
	.b-cart-table__name{
		width:190px;
		font-size:13px;
	}
	tbody{
		td{
			border-bottom:1px solid $cGrayLine;
			padding:20px 24px;
		}
		.b-cart-table__price{
			font-size:30px;
			font-weight:bold;
			width:90px;
			white-space:nowrap;
			.b-cart-table__credit-price{
				color:$cRed;
				font-size:14px;
			}
		}
		.b-cart-table__sum{
			font-size:40px;
			font-weight:bold;
			white-space:nowrap;
			.b-cart-table__credit-price{
				color:$cRed;
				font-size:16px;
			}
		}
		.b-cart-table__quantity{
			font-size:18px;
			padding-left:36px;
			vertical-align:middle;
		}
		.b-cart-table__name a{
			color:$cBlack;
		}
		.b-cart-table__name small{
			display:block;
			font-size:10px;
			margin:5px 0;
		}
	}
	.b-cart-table__counter{
		display:inline;
	}
	.b-cart-table__counter-minus{
		display:inline-block;
		float:left;
		width:18px;
		height:18px;
		background: url("../images/icons_sprite.png") no-repeat scroll 0px -516px;
		margin-top:2px;
	}
	.b-cart-table__counter-plus{
		display:inline-block;
		float:left;
		width:18px;
		height:18px;
		background: url("../images/icons_sprite.png") no-repeat scroll -22px -516px;
		margin-top:2px;
	}
	.b-cart-table__counter-num{
		display:inline-block;
		float:left;
		padding: 0 12px;
	}
	.b-cart-table__quantity{
		text-align:center;
	} 
	tfoot{
		td{
			text-align:right;
			font-size:13px;
			border-bottom:1px solid $cGrayLine;
			padding:12px 0;
		}
	}
	.b-cart-table__sum_final{
		font-size:16px;
		font-weight:bold;
		margin-bottom:3px;
		span{
			font-size:40px;
			color:$cRed;
		}
		b{
			font-size:20px;
		}
	}
}

.b-cart-table__del-link{
	display:block;
	width:13px;
	height:13px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -535px;
}
.b-cart-table__shelve-link{
	margin:5px 0 0 1px;
	display:block;
	width:11px;
	height:11px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -685px;
}
.b-cart-table__shelve-add-link{
	background: url("../images/icons_sprite.png") no-repeat scroll -16px -685px;
}
.b-order-form{
	/*padding:20px 50px 50px 24px;*/
	padding:0px 50px 50px 0px;
	position:relative;
	width:906px;
	.b-msg_error{
		width:451px;
	}
}
.b-order-form__line{
	margin-bottom:10px;
	small{
		display:block;
		width:310px;
		padding:3px 0 0 5px;
		font-size:11px;
	}
}
.b-order-form__line-radio{
	display:block;
	width:475px;
	margin: 10px 0;
	input{
		line-height:19px;
		vertical-align:middle;
		margin-top:0px;
	}
	label{
		line-height:19px;
		vertical-align:middle;
		margin:0 6px 0 0;
	}
}
.b-order-form__label{
	width:160px;
  float: left;
	text-align:right;
	margin:5px 15px 0 0;
	font-size:16px;
	font-weight:bold;
	.b-required{
		font-size:22px;
	}
}
.b-order-form__label-required{
	margin-top:0px;
}
.b-order-form__label-comment{
	margin-top:0px;
}
.b-order-form__input{
	float:left;
	input{
		@include regTextInput;
	}
	textarea{
		@include regTextInput;
		height:110px;
		resize: none;
		padding-top:5px;
		width:300px;
	}
	p{
		margin-bottom:5px;
	}
	span{
		font-size:11px;
		width:328px;
		display:block;
	}
}
.b-product-paysystem__visa{
	display:inline-block;
	vertical-align:middle;
	background: url("../images/icons_payment_sprite.png") no-repeat scroll -35px -38px;
	width: 37px;
	height: 12px;
	margin: 3px 7px 0 0;
}
.b-product-paysystem__mastercard{
	display:inline-block;
	vertical-align:middle;
	background: url("../images/icons_payment_sprite.png") no-repeat scroll 0px -37px;
	width: 32px;
	height: 19px;
	margin: 0 7px 0 0;
}
.b-product-paysystem__maestro {
	display: inline-block;
	vertical-align: middle;
	background: url("../images/logo_maestro_sml.jpg");
	width: 35px;
	height: 22px;
}
.b-product-paysystem__qiwi {
	margin-left:5px;
  display: inline-block;
  vertical-align: middle;
  background: url(/bitrix/templates/smks_common/images/qiwi.jpg) no-repeat;
  width: 63px;
  height: 30px; 
}

.b-product-paysystem__yandex-money {
  display: inline-block;
  vertical-align: middle;
  background: url(/bitrix/templates/smks_common/images/yandex-money.jpg) no-repeat;
  width: 80px;
  height: 30px; }
.b-order-form__sum{
	float:left;
	text-align:right;
	width:265px;
	margin-right:30px;
	font-size:16px;
	font-weight:bold;
	margin-bottom:3px;
	span{
		font-size:36px;
	}
	b{
		font-size:20px;
	}
}
.b-order-form__submit{
	float:left;
	margin-top:3px;
}
.b-button_create-order{
	padding:7px 20px;
}
.b-order-help{
	position:absolute;
	width:190px;
	right:50px;
	top:30px;
	font-size:13px;
	span{
		display:block;
		font-size:16px;
		font-weight:bold;
		margin:5px 0;
	}
}
.b-fancypop__buttons{
	margin:10px 0;
	button{
		margin-right:10px;
	}
}
.b-yandex-button{
	background: none repeat scroll 0 0 #FECD00;
	border: 1px dotted;
	float: left;
	height: 92px;
	padding: 0 15px;
	position: relative;
	width: 160px;
}
.b-yandex-button_ref{
	font-family: Arial;
	font-size: 40px;
	position: absolute;
}
.b-yandex-button__title{
	font-family:Calibri;
	font-size:15px;
	font-weight:bold;
	margin:10px 0 15px 0;
	.b-yandex-button_ref{
		font-family: Arial;
    font-size: 40px;
    position: absolute;
    right: 58px;
    top: -6px;
	}
}
.b-yandex-button_descr{
	position:relative;
	margin:110px 0 20px 0;
	span{
		font-size:12px;
		display:inline;
	}
	b{
		margin-left:20px;
	}
	p{
		display:inline-block;
	}
	.b-yandex-button_ref{
		font-family: Arial;
    font-size: 40px;
    position: absolute;
    left:0px;
    top: -15px;
	}
}
.b-yandex-address-modal{
	display:none;
}
.b-yandex-address-modal__button{
	margin-top:15px;
	text-align:center;
}
.b-order-form__line-paysistem_item{
	white-space:nowrap;
}
.b-order-form__line-submit{
	margin-bottom:30px;
}
.b-order-form__ur{
	.b-order-form__label{
		width:185px;
	}
} 
.b-order-form__input-error-link{
	position:relative;
}
.b-order-form__input-error{
	input{
		border-color:#EC3D3F;
		background-color:#FFCBDB;
	}
	textarea{
		border-color:#EC3D3F;
		background-color:#FFCBDB;
	}
	#s2id_ORDER_PROP_5{
		.select2-choice{
			border:1px solid #EC3D3F;
			background-color:#FFCBDB;
		}
	}
	.select2-dropdown-open{
		.select2-choice{
			border-color:#AAA !important;
		}
	}
}
.b-cart-table tbody .b-cart-table-tr__no-border td {
	border:none;
}
.b-cart-table__quantity small {
	font-size: 15px;
	color: grey;
	line-height: 1;
	display: block;
	padding-left: 32px;
	text-align: left;
}
.b-cart-table__price small{
	font-size: 15px;
	color: grey;
	line-height: 1;
	display: block;
	text-align: center;
}
.b-cart-table__icons_col {
  vertical-align: middle;
}
.b-cart-table__icons {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("/bitrix/templates/smks_common/images/lending_icon_sprite.png");
  vertical-align: middle;

  &.b-cart-table__icons_personal {
    background-position: 0px 0px;
    margin-left: 20px;
  }
  &.b-cart-table__icons_prepare {
    background-position: 0px -80px;
  }
  &.b-cart-table__icons_delivery {
    background-position: 0px -160px;
    margin-right: 0px;
  }

}
.b-cart-auth {
  width: 600px;

  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }

  .b-reg__input {
    width: 229px;
  }

  .b-auth-form, .b-reg-form {
    width: 100%;
  }

  .b-auth-form-button {
    margin-right: 15px;
  }
}
.b-cart-auth__col {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.b-cart-auth__col_left {
  border-right: 1px solid #d8d8d8;
  width: 60%;
  padding-right: 0px;
}
.b-cart-auth__col_right {
  width: 40%;
}
.b-cart-auth__link {
  display: block;
  text-align: center;
}
.b-cart-auth__title {
  margin-bottom: 6px;
}