.i-catalog{
	.b-center-col{
		margin: 0 0 40px 225px;
		width: 755px;
	}
	.b-left-col{
		width: 200px;
		margin-left:-980px;
	}
	.b-breadcrumb{
		ul{
			margin-top:5px;
		}
	}
	h1{
		@include h1Style;
		margin:15px 0 20px 0;
	}
	h2{
		@include h2Style;
		a{
			font-size:12px;
			font-weight:normal;
		}
	}
	h3 {
    font-size: 16px;
    margin: 15px 0 20px 0;
		font-weight:bold;
		a{
			color:$cBlack;
		}
  }
	.b-text{
		margin-bottom:0px;
		ul{
			margin:10px 0;
			li{
				@include liRedMarker;
				margin-top:5px;
				margin-bottom:5px;
			}
		}
	}
	.b-breadcrumb_chain{
		margin-left:0px;
		float:none;
		ul{
			margin-left:0px;
		}
	}
	.b-breadcrumb{
		padding-top:0px;
	}

}
.b-catalog-paging {
	font-size:13px;
	ul{
		margin-left:0px;
	}
}
.b-catalog-sort{
	float:left;
	margin-right:15px;
}
.b-catalog-sort__item{
	text-transform:lowercase;
	display:inline-block;
	padding:0 0 0 2px;
	.b-catalog-list_open__arrow{
		display:none;
	}
	a{
		display:inline-block;
		color:$cBlack;
	}
}
.b-catalog-sort__item-descr{
	text-transform:none;
}
.b-catalog-sort__item-active{
	.b-catalog-list_open__arrow{
		display:inline-block;
		z-index:1;
	}
	a{
		color:$cRed;
	}
}
.b-elements-quantity{
	float:left;
}
.b-elements-quantity__item{
	display:inline-block;
	padding: 0 2px;
	a{
		color:$cBlack;
	}
}
.b-elements-quantity__item-active{
	a{
		color:$cRed;
	}
}
.b-catalog-pagenav{
	float:right;
	ul{
		height:24px;
		line-height:24px;
		margin:8px 0 0 0;
	}
}
.b-catalog-pagenav__item{
	display:inline-block;
	padding:3px 3px;
	a{
		color:$cBlack;
	}
	vertical-align: top;
}
.b-catalog-pagenav__item-inactive{
	color:#cdcdcd;
}
.b-catalog-pagenav__item-active{
	background: $cRed;
	color:#fff;
	border-radius:4px;
	padding:0;
	margin-top:4px;
	a{
		display:inline-block;
		text-decoration:none;
		color:#fff;
		height:17px;
		padding:0px 8px 3px 8px;
	}
}
.b-center-col ul li.b-catalog-pagenav__item{
	margin:0px;
}
.b-center-col ul li.b-catalog-pagenav__item-active{
	margin:3px 0 0 0;
}
.b-catalog-pagenav__item-link_first{
	padding:3px 0px;
	a{
		width:24px;
		height:24px;
		display:inline-block;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -580px; 
	}
}
.b-catalog-pagenav__item-link_last{
	padding:3px 0px;
	a{
		width:24px;
		height:24px;
		display:inline-block;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -606px; 
	}
}
.b-catalog-pagenav__item-link_prev{
	padding:3px 0px;
	a{
		width:24px;
		height:24px;
		display:inline-block;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -632px; 
	}
}
.b-catalog-pagenav__item-link_next{
	padding:3px 0px;
	a{
		width:24px;
		height:24px;
		display:inline-block;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -658px; 
	}
}
.b-product-list_4in-row{
	margin:5px 0 0 0;
	.b-product-item{
		width:181px;
		margin-right:7px;
		margin-bottom:7px;
	}
	.b-product-item__marks{
		top:5px;
	}
	.b-product-item__right{
		margin-right:0px;
	}
	.b-product-item:nth-child(4n){
		margin-right:0px;
	}
	.b-product-item__buy_credit{
		width:58px;
		margin-top:2px;
	}
	.b-buy-credit__sum{
		white-space:nowrap;
	}
	.b-catalog-item__preview{
		display:none;
	}
	.b-catalog-item__preview_link__wrap{
		display:none;
	}
}
.b-product-list_5in-row{
	.b-product-item{
		margin-right:9px;
		margin-bottom:8px;
		width:186px;
	}
	.b-product-item:nth-child(5n){
		margin-right:0px;
	}
	.b-product-item__right{
		margin-right:0px;
	}
	.b-product-item__buy_credit{
		width:58px;
		margin-top:2px;
	}
	.b-buy-credit__sum{
		white-space:nowrap;
	}
	.b-catalog-item__preview{
		display:none;
	}
	.b-catalog-item__preview_link__wrap{
		display:none;
	}
	.b-product-item__marks{
		top:5px;
	}
}
.i-catalog__depth1{
	margin-bottom:45px;
	.b-catalog-sections__line{
		margin-bottom:85px;
	}
	.b-catalog-sections__item{
		width:260px;
		float:left;
		margin-right:100px;
	}
	.b-catalog-sections__item-right{
		margin-right:0px;
	}
	.b-catalog-sections__item:nth-child(3n){
		margin-right:0px;
	}
	.b-catalog-sections__item_icon{
		display:block;
		height:70px;
	}
	.b-catalog-sections__item_icon_garden {
		background: url("../images/garden.png") no-repeat scroll;
	}
	.b-catalog-sections__item_icon_tractor {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -58px;
	}
	.b-catalog-sections__item_icon_benz {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -135px;
	}
	.b-catalog-sections__item_icon_kvadro {
		 background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -500px;
	}
	.b-catalog-sections__item_icon_irrigation {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -193px;
	}
	.b-catalog-sections__item_icon_power {
		background: url("../images/silovaya_tekhnika.png") no-repeat scroll;
	}
	.b-catalog-sections__item_icon_snow {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -318px;
	}
	.b-catalog-sections__item_icon_accessory {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -375px;
	}
	.b-catalog-sections__item_icon_expendables {
		background: url("../images/archive.png") no-repeat scroll;
	}
	.b-catalog-sections__item_icon_electropower {
		background: url("../images/electropower.jpg") no-repeat scroll;
	}
	.b-catalog-sections__item_icon_washing{
		background: url("../images/washing.jpg") no-repeat scroll;
	}
	.b-catalog-sections__item_icon_discounted_goods {
		background: url("../images/discounted_goods.png") no-repeat scroll;
	}
    .b-catalog-sections__item_icon_kultivator {
        background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 12px;
    }
    .b-catalog-sections__item_icon_teplovye_pushki {
        background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -250px;
    }
    .b-catalog-sections__item_icon_elektrostantsii_i_generatory {
        background: url("../images/elektrostantsii_i_generatory.png") no-repeat scroll;
    }
    .b-catalog-sections__item_icon_dvigateli_dlya_sadovoy_tekhniki {
        background: url("../images/dvigateli_dlya_sadovoy_tekhniki.png") no-repeat scroll;
    }
    .b-catalog-sections__item_icon_tekhnika_dlya_gazona {
        background: url("../images/tekhnika_dlya_gazona.png") no-repeat scroll;
    }
    .b-catalog-sections__item_icon_card {
      background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -578px;
    }
	/*.b-catalog-sections__item_icon_expendables {
		background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -440px;
	}*/
	.b-catalog-sections__item_icon_viking_grass-cutter {
  		background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 4px;
	}
	.b-catalog-sections__item_icon_viking_aerator {
	  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -62px;
	}
	.b-catalog-sections__item_icon_viking_rider {
	  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -135px;
	}
	.b-catalog-sections__item_icon_viking_kultivator {
	  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -202px;
	}
	.b-catalog-sections__item_icon_viking_wood-chipper {
	  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -281px;
	}
	.b-catalog-sections__item_icon_stihl_minimoika {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -687px;
	}
	.b-catalog-sections__item_icon_stihl_pilesos {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -770px;
	}
	.b-catalog-sections__item_icon_stihl_motokos {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -59px;
	}
	.b-catalog-sections__item_icon_stihl_benzopil {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 10px;
	}
	.b-catalog-sections__item_icon_stihl_benzobur {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -366px;
	}
	.b-catalog-sections__item_icon_stihl_acc {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -998px;
	}
	.b-catalog-sections__item_icon_stihl_nojnizi {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -130px;
	}
	.b-catalog-sections__item_icon_stihl_oprisk {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -210px;
	}
	.b-catalog-sections__item_icon_stihl_vozduhoduv {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -290px;
	}
	.b-catalog-sections__item_icon_stihl_podmet {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -853px;
	}
	.b-catalog-sections__item_icon_stihl_bezorez {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -444px;
	}
	.b-catalog-sections__item_icon_stihl_defend {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -928px;
	}
	.b-catalog-sections__item_icon_stihl_kombi {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -604px;
	}
	.b-catalog-sections__item_icon_stihl_mm55 {
	  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -523px;
	}
	.b-catalog-subsections__inner__item__link_expandable{
		@include plusIcon;
		margin-top:3px;
	}
	.b-catalog-subsections__inner__sub{
		display:none;
	}
	.b-catalog-subsections__inner__item__link{
		display:block;
		color:$cBlack;
		margin-left:17px;
	}
	.b-catalog-subsections__inner__sub{
		margin: 10px 0 0 15px;
	}
	.b-catalog-subsections__inner__item{
		margin-bottom:10px;
		line-height:16px;
	}
	.b-catalog-subsections__more{
		margin:10px 0 0 17px;
	}
	.b-rotator_catalog{
		float:left;
		margin-top:0px;
	}
}
.i-catalog__depth2{
	margin-bottom:45px;
	.b-catalog-sections__line{
		margin-bottom:30px
	}
	.b-catalog-sections__item{
		width:200px;
		float:left;
		margin-right:60px;
	}
	.b-catalog-sections__item-right{
		margin-right:0px;
	}
	.b-catalog-sections__item_icon{
		/*border: 1px solid silver;
    border-radius: 5px 5px 5px 5px;
	  text-align: center;
		*/
    display: block;
    height: 190px;
    line-height: 190px;
    vertical-align: middle;
		img{
			vertical-align: inherit;
		}
	}
	.b-catalog-sections__item_link{
		display:inline-block;
		margin:10px 0 20px 0;
	}
	.b-catalog-subsections__inner__item__link{
		color:$cBlack;
	}
	.b-catalog-subsections__more{
		margin:10px 0 0 0;
	}
	.b-catalog-subsections__inner__item{
		margin-bottom:10px;
	}
	.b-rotator_catalog{
		float:right;
		margin-top:0px;
	}
	.b-text{
		margin-bottom:15px;
	}
	.b-catalog-pagenav{
		margin-top:-15px;
		margin-right:2px;
	}
	.b-product-list_5in-row{
		width:985px;
	}
	.b-filter__item{
		margin-right:25px;
		width:170px;
	}
	.b-filter__item-right{
		margin-right:0px;
	}
}
.i-catalog__depth3{
	.b-breadcrumb{
		display:none;
	}
	.b-center-col{
		.b-breadcrumb{
			display:block;
		}
		.b-product-list_4in-row{
			width:760px;
		}
	}
	.b-side-title{
		margin-top:0px;
	}
}
.b-catalog-subsections__more_link{
	color:$cBlack;
	text-decoration:none;
	border-bottom:1px dotted $cBlack;
}
.b-catalog-subsections__more_arrow{
	@include redArrow;
}
.b-catalog-subsections__inner__more{
	display:none;
}
.b-catalog-manuf__item{
	border: 1px solid silver;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 50px;
	line-height: 60px;
	margin: 0 7px 7px 0;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width:140px;
}
.b-catalog-manuf{
	margin:15px 0 45px 0;
}
.b-catalog-banners__item{
	display:inline-block;
	margin-right:45px;
}
.b-catalog-banners__item:nth-child(4n){
	margin-right:0px;
}
.b-catalog-view__list{
	display:inline-block;
	width:14px;
	height:14px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0 -564px; 
}
.b-catalog-view__list-inactive{
	background: url("../images/icons_sprite.png") no-repeat scroll -14px -564px; 
	cursor:default;
}
.b-catalog-view__mosaic{
	display:inline-block;
	width:14px;
	height:14px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -550px; 	
	margin:0 5px;
}
.b-catalog-view__mosaic-inactive{
	background: url("../images/icons_sprite.png") no-repeat scroll -14px -550px; 	
	cursor:default;
}
.b-catalog-view{
	height:24px;
	line-height:24px;
	vertical-align:top;
	padding-top:1px;
	display:inline-block;
}
.b-product-list_4in-row-list{
	.b-product-item{
		margin-right:0px;
		width:755px;
	}
	.b-product-item__left-col{
		float:left;
		margin-right:10px;
	}
	.b-product-item__center-col{
		float:left;
		width:380px;
		margin-right:10px;
	}
	.b-product-item__right-col{
		float:left;
	}
	.b-product-item__marks{
		position:relative;
	}
	.b-product-item__name{
		height:auto;
	}
	.b-product-item__image{
		margin-bottom:0px;
		margin-top:10px;
		border-bottom:0px;
		padding:0px;
		width:179px;
		text-align:left;
		a{
			line-height:normal
		}
	}
	.b-product-item__buy_credit{
		display:block;
	}
	.b-product-item__prices{
		margin-top:10px;
		width:144px;
		height:auto;
	}
	.b-catalog-item__preview{
		display:block;
		margin-top:20px;
		margin-bottom:10px;
		overflow:hidden;
		height:auto
	}
	.b-catalog-item__preview_closed{
		height:58px;
	}
	.b-catalog-item__preview_open__arrow{
		@include redArrow;
		background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
		margin-left:3px;
	}
	.b-catalog-item__preview_link__wrap{
		display:inline-block;
	}
	
}

.b-catalog-filter{
	position:relative;
	padding: 10px 15px 15px 15px;
	margin:0 0 30px 0;
	background:url('../images/filter-bg1.png') no-repeat top left, url('../images/filter-bg2.png') no-repeat bottom right #cdcdcd;
	border-radius:4px;
	input[type=text]{
		width:67px;
		height:23px;
		border-radius:5px;
		border:1px solid #FFFFFF;
		border-top: 1px solid #B1B1B1;
	}
	input[type=text].select2-input{
		height:14px;
	}
	.select2-choices{
		border-radius:5px 5px 5px 5px;
		.select2-search-choice{
			margin-right:5px;
		}
	}
	.select2-dropdown-open{
		.select2-choices{
			border-radius:5px 5px 0px 0px;
		}
	}

}
.b-filter__item{
	float:left;
	width:160px;
	margin:0px 15px 30px 0;
}
.b-filter__item-right{
	margin-right:0px;
}
.b-filter__item_title{
	display:block;
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	word-wrap: break-word;
}
.x-interval{
	.b-filter__slider__line {
		position: relative;
		width:148px;
	}

	.b-filter__slider_scale {
		height: 25px;
		position: relative;
		width: 157px;
		z-index: 2;
		left:-2px;
	}

	.b-filter__slider_delimer {
		background-color: #b9bfc3;
		height: 11px;
		position: absolute;
		top: 0;
		width: 0px;
		z-index: 2;
	}

	.b-filter__slider_delimer__num {
		bottom: 5px;
		color: $cBlack;
		font-size: 12px;
		height: auto;
		position: absolute;
		top: 15px;
		white-space: nowrap;
		width: auto;
		display:block;
	}

	.b-filter__slider {
		margin-top: 22px;
	}

	.ui-slider {
		position: relative;
		cursor: pointer;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 9px;
		height: 16px;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -699px; 
		cursor: pointer;
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		overflow: hidden;
	}

	.ui-slider-horizontal {
		/*height: 5px;*/
	}

	.ui-slider-horizontal .ui-slider-handle {
		top: -5px;
		margin-left: -3px;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 5px;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: 0;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: 0;
	}

	.ui-widget-content {
		background: #9AA3A8;
		height:5px;
	}

	.ui-widget-header {
		background: #EC3D3F;
	}
}
.b-filter__del{
	position:absolute;
	top:25px;
	right:20px;
}
.b-filter__del-link{
	float:left;
} 
.b-filter__del-link_text{
	span{
		font-family:Myriad Pro;
		font-size:12px;
		color:$cRed;
		text-decoration:none;
		border-bottom:1px dotted $cRed;
	}
}
.b-filter__del-link_img{
	button{
		display:block;
		width:18px;
		height:18px;
		background: url("../images/icons_sprite.png") no-repeat scroll 0 -733px; 
		margin-left:8px;
		border:0px;
	}
}
.b-filter__button_set{
	text-align:right;
}
.b-button__set-filter{
	span{
		background: url("../images/icons_sprite.png") no-repeat scroll -23px -733px; 
		display:inline-block;
		height:18px;
		padding:1px 0px 0px 24px;
	}
}
.b-filter__item-hidden{
	display:none;
}
.b-filter__expand{
	position:absolute;
	background:#CDCDCD;
	border-radius:5px;
	padding:6px 8px;
	bottom:-10px;
	left:300px;
	cursor:pointer;
}
.b-filter__expand__text{
	float:left;
	font-size:12px;
	font-weight:bold;
	border-bottom:1px dotted $cBlack;
}
.b-filter__expand__arrow{
	float:left;
	width:14px;
	height:8px;
	margin:4px 0 0 6px;
	background: url("../images/icons_sprite.png") no-repeat scroll -1px -720px; 
}
.b-catalog-filter__opened{ 
	.b-filter__expand__arrow{
		background: url("../images/icons_sprite.png") no-repeat scroll -22px -720px; 
	}
	.b-filter__item-hidden{
		display:block;
	}
}
.b-product_item__status_text{ 
	display:inline-block;
	color:#fff;
	width:100%;
	text-align:center;
	font-size:12px;
	font-weight:normal;
	text-transform:lowercase;
	padding:1px 0px;
}
.b-product_item__status_text-32{ 
	background:#009d2a;
}
.b-product_item__status_text-789{
	background:#00741f;
}
.b-product_item__status_text-34,
.b-product_item__status_text-35{
	background:#ecab00;
}
.b-product_item__status_text-33,
.b-product_item__status_text-790{
	background:#e73937;
}
.b-catalog-filter-tmpl{
	margin:8px 0;
	ul{
		margin:0px;
	}
}
.b-catalog-filter-tmpl__item{
	display:inline-block;
	padding-right:15px;
	margin:5px 0;
}

.b-catalog-set{
	margin-top:25px;
}
.b-catalog-set__item{
	float:left;
	position:relative;
	width:130px;
}
.b-catalog-set__item-image{
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 20px;
	padding-right:30px;
	padding-top:20px;
	height:100px;
	width:100px;
	line-height:100px;
	text-align:center;
	display:inline-block;
	img{
		vertical-align:middle;
	}
}
.b-catalog-set__item-operation{
	float:left;
	width:70px;
	text-align:center;
	height:120px;
	padding-top:20px;
	border-bottom: 1px solid #C0C0C0;
}
.b-catalog-set__item-operation-plus{
	display:inline-block;
	width:19px;
	height:19px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0 -1401px; 
	margin-top:50px;
}
.b-catalog-set__item-operation-equal{
	display:inline-block;
	width:20px;
	height:23px;
	background: url("../images/icons_sprite.png") no-repeat scroll -23px -1401px; 
	margin-top:50px;
}
.b-catalog-set__item-check{
	width:16px;
	height:16px;
	position:absolute;
	border:1px solid $cRed;
	top:20px;
	right:0px;
	cursor:pointer;
	border-radius:3px;
	background: url("../images/icons_sprite.png") no-repeat scroll -25px -1426px; 
}
.b-catalog-set__item-check-disactive{
	background: none;
	opacity:0.5;
}
.b-catalog-set__item-name{
	height:40px;
	overflow:hidden; 
	font-size:11px;
	padding-top:20px;
	a{
		font-size:11px;
	}
}

.b-catalog-set__item-main{
	width:130px;
	.b-catalog-set__item-image{
		padding-right:0px;
		width:130px;
	}
}
.b-catalog-set__item-prices{
	margin-top:12px;
}
.b-catalog-set__item-price-old{
	color: #C0C0C0;
	font-size: 18px;
	font-weight: normal;
	text-decoration: line-through;
}
.b-catalog-set__item-price-new{
	color:$cRed;
	font-size: 30px;
  font-weight: bold;
}
.b-catalog-set__item-price-new6{
	font-size:26px;
}
.b-catalog-set__item-price-new7{
	font-size:23px;
}
.b-catalog-set__result{
	float:left;
}
.b-catalog-set__result-top{
	height:99px;
	padding:20px 30px;
	border: 1px solid #C0C0C0;
	border-radius: 5px 5px 5px 0px;
	width:168px;
	p{
		font-size:18px;
		font-weight:bold;
	}
}
.b-catalog-set__item-spacer{
	float:left;
	width:20px;
	padding-top:20px;
	height:120px;
	border-bottom: 1px solid #C0C0C0;
}
.b-catalog-set__item-spacer-small{
	width:10px;
}
.b-catalog-set__result-oldPrice{
	color: #C0C0C0;
	font-size: 20px;
	font-weight: normal;
	text-decoration: line-through;
	margin-top:8px;
	margin-bottom:3px;
}
.b-catalog-set__result-newPrice{
	font-size: 38px;
  font-weight: bold;
	span{
		font-size:24px;
	}
}
.b-catalog-set__result-newPrice6{
	font-size:36px;
}
.b-catalog-set__result-newPrice7{
	font-size:31px;
}
.b-catalog-set__result-bottom{
	padding-top:20px;
}
.b-catalog-set__result-icon{
	float:left;
	width:20px;
	height:18px;
	margin-left:10px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -1425px; 
}
.b-catalog-set__result-descr{
	float:left;
	font-size:11px;
	margin-left:12px;
	width:135px;
}
.b-catalog-set__btn{
	margin-top:35px;
	margin-left:20px;
}
.b-catalog-set__disactive{
	opacity:0.5;
}
.b-catalog-set__lines{
	float:left;
	margin-left:50px;
	position:relative;
}
.b-catalog-set__item-right{
	width:100px;
	float:left;
}
.b-catalog-set__item-rightTop{
	.b-catalog-set__item-right-top{
		border-bottom: 1px solid #C0C0C0;
		height:140px;
	}
	.b-catalog-set__item-right-bottom{
		border-right: 1px solid #C0C0C0;
		height:160px;
	}
}
.b-catalog-set__item-rightBottom{
	.b-catalog-set__item-right-top{
		border-right: 1px solid #C0C0C0;
		height:140px;
	}
	.b-catalog-set__item-right-bottom{
		border-top: 1px solid #C0C0C0;
		height:130px;
	}
}
.b-catalog-set4{
	.b-catalog-set__item-main{
		margin-top:150px;
		.b-catalog-set__item-image{
			border-bottom:0px; 
		}
	}
	.b-catalog-set__result{
		margin-top:220px;
	}
	.b-catalog-set__result-top{
		border-left:0px;
		border-radius:0px 5px 5px 0px;
	}
	.b-catalog-set__item-operation{
		width:95px;
	}
}
.b-catalog-set5{
	.b-catalog-set__item-main{
		margin-top:150px;
		.b-catalog-set__item-image{
			border-bottom:0px; 
		}
	}
	.b-catalog-set__result{
		margin-top:220px;
	}
	.b-catalog-set__result-top{
		border-left:0px;
		border-radius:0px 5px 5px 0px;
	}
	.b-catalog-set__item-right{
		width:1px;
	}
	.b-catalog-set__line-second{
		.b-catalog-set__item-operation{
			width:90px;
		}
	}
}
.b-catalog-set6{
	.b-catalog-set__item-main{
		margin-top:150px;
		.b-catalog-set__item-image{
			border-bottom:0px; 
		}
	}
	.b-catalog-set__result{
		margin-top:220px;
	}
	.b-catalog-set__result-top{
		border-left:0px;
		border-radius:0px 5px 5px 0px;
	}
	.b-catalog-set__item-right{
		width:1px;
	}
}	

.b-catalog-set__plusBig{
	width:38px;
	height:38px;
	position:absolute;
	top:290px;
	left:0px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -1485px; 
}
.b-catalog-set__equalBig{
	width:38px;
	height:30px;
	position:absolute;
	right:40px;
	top:290px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -1448px; 
}
.b-catalog-help-icon {
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    right: 60px;
    bottom: 15px;
    z-index: 50;
    background: url("/bitrix/templates/smks_common/images/help_icon.png") center center no-repeat;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
}
.view_filter {
	position: absolute;
	padding: 4px 4px;
	background: #ec3d3f;
	border: 2px dashed #fff;
	color:#fff;
	margin-left: 4px;
	z-index: 11;
}