.i-compare{
	.b-msg_status{
		margin:20px 0 25px 0;
	}
}

.b-product-item-compare{
	margin:10px 0 0 0; 
	.add2compare{
		line-height:20px;
		vertical-align:top;
		margin-left:3px;
		font-size:10px;
	}
}
.b-product_compare__items {
    float: left;
    padding-top: 10px;
}
.b-product_compare__btns {
    float: left;
    width: 240px;
		margin-top:20px;
}
.b-product_compare__item {
    float: left;
    margin-left: 22px;
    position: relative;
    width: 50px;
}
.b-product_compare__item_del {
    position: absolute;
    right: -7px;
    top: -5px;
}


div.compare-props {
    border: 1px solid #E5E5E5;
    margin: 0 0 25px;
    padding: 10px;
}
.compare-grid {
    overflow-x: auto;
    overflow-y: visible;
    padding-bottom: 1.5em;
    width: 100%;
}
table.compare-props input {
    float: left;
    margin-right: -23px;
}
table.compare-props label {
    display: block;
    margin-left: 23px;
    padding-top: 2px;
}
div.compare-props label.unchecked {
    color: #B2B2B2;
}
table.compare-grid td {
    font-size: 13px;
    padding: 11px 8px 10px 15px;
    vertical-align: top;
}
table.compare-grid thead td {
    background-color: #ECECEC;
    border-color: #D9D9D9;
}
table.compare-grid td.compare-property {
    border: medium none;
    font-weight: bold;
}
table.compare-grid tr.alt td {
    background-color: #F6F6F6;
}
.compare-list-result{
	margin:20px 0 25px 0;
}
.compare-filter{
	margin-bottom:10px;
}
.compare-list-result p {
    margin: 10px 0 0;
}
table.compare-grid .compare-delete-item, .cart-item-actions .cart-delete-item {
    background: url("../images/tooltip_close.png") no-repeat scroll 0 0 transparent;
}
td.cart-item-actions a.cart-delete-item {
    display: inline-block;
    height: 13px;
    width: 13px;
}
table.compare-grid .compare-delete-item {
    display: inline-block;
    float: right;
    height: 13px;
    margin-left: 15px;
    width: 13px;
}