/* left col */
.b-side-title {
  @include h2Style;
  margin-top:0;
}
h2.b-side-title a{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #2f2f36;
}
h2.b-side-title a:hover{
	color: $cRed;
	}
/* left menu */
$cYellow: #ffd201;
.b-side-menu__item {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: $cGray $cWhite $cWhite $cWhite;
  position: relative;

  &:hover {
    border-color: $cGray $cWhite $cGray $cGray;
    border-radius: 5px 0 0 5px;
    width: $leftColWidth + 6px;
  }

  /*&:hover .b-side-menu__drop-down {
    display: block;
  }*/

  &:hover .b-side-menu__item_icon {
    background-color: $cWhite;
  }

  &:hover .b-side-menu__item__link {
    z-index: 3;

  }
	.b-product-item__image-wrap{
		width:198px;
	}
	.b-product-item__marks {
		margin-left:0px;
	}
}
.b-side-menu__item:hover + .b-side-menu__item{
	border-top: 1px solid $cWhite;
}
.b-side-menu__item:first-child{
	border-color: $cWhite;
	&:hover {
    border-color: $cGray $cWhite $cGray $cGray;
    border-radius: 5px 0 0 5px;
    width: $leftColWidth + 6px;
  }
}
.b-side-menu__item:last-child{
	border-color: $cGray $cWhite $cGray $cWhite;
	&:hover {
    border-color: $cGray $cWhite $cGray $cGray;
    border-radius: 5px 0 0 5px;
    width: $leftColWidth + 6px;
  }
}
.b-side-menu__item__shop {
  text-align: center;
  padding: 5px 0;
}
.b-side-menu__item__link {
  color: $cBlack;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 104%;

  &:hover {
    color: $cRed;
  }
}
.b-side-menu__item_icon {
  display: inline-block;
  height: 70px;
  padding: 10px 5px 10px 90px; 
  margin-left: 5px;
}
.b-side-menu__item__prev-selected{
	border-bottom:1px solid #FFF;
}
.b-side-menu__item_icon_garden {
  background: url("../images/garden.png") no-repeat scroll;
}
.b-side-menu__item_icon_tractor {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -58px;
  padding-top: 21px;
}
.b-side-menu__item_icon_benz {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -135px;
  padding-top: 12px;
}
.b-side-menu__item_icon_kvadro {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -500px;
  padding-top: 12px;
}
.b-side-menu__item_icon_irrigation {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -193px;
  padding-top: 13px;
}
.b-side-menu__item_icon_power {
  background: url("../images/silovaya_tekhnika.png") no-repeat scroll;
  padding-top: 12px;
}
.b-side-menu__item_icon_snow {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -318px;
  padding-top: 12px;
}
.b-side-menu__item_icon_accessory {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -375px;
  padding-top: 19px;
}
.b-side-menu__item_icon_card {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -578px;
  padding-top: 19px;
}
.b-side-menu__item_icon_expendables {
  background: url("../images/archive.png") no-repeat scroll; }
.b-side-menu__item_icon_discounted_goods {
  background: url("../images/discounted_goods.png") no-repeat scroll; }

.b-side-menu__item_icon_electropower {
  background:url("../images/electropower.jpg") no-repeat scroll}

.b-side-menu__item_icon_teplovye_pushki {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 -250px;
}
.b-side-menu__item_icon_elektrostantsii_i_generatory {
  background: url("../images/elektrostantsii_i_generatory.png") no-repeat scroll;
}
.b-side-menu__item_icon_tekhnika_dlya_gazona {
  background: url("../images/tekhnika_dlya_gazona.png") no-repeat scroll;
}
.b-side-menu__item_icon_kultivator {
  background: url("../images/icons_catalog_sections_sprite.png") no-repeat scroll 0 12px;
}
.b-side-menu__item_icon_washing {
  background: url("../images/washing.jpg") no-repeat scroll;
}
.b-side-menu__item_icon_viking_grass-cutter {
  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 4px;
	padding-top: 21px;
}
.b-side-menu__item_icon_viking_aerator {
  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -62px;
}
.b-side-menu__item_icon_viking_rider {
  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -135px;
}
.b-side-menu__item_icon_viking_kultivator {
  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -202px;
	padding-top: 21px;
}
.b-side-menu__item_icon_viking_wood-chipper {
  background: url("../images/icons_catalog_sections_viking_sprite.jpg") no-repeat scroll 0 -281px;
}
.b-side-menu__item_icon_stihl_minimoika {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -687px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_pilesos {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -770px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_motokos {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -59px;
}
.b-side-menu__item_icon_stihl_benzopil {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 10px;
}
.b-side-menu__item_icon_stihl_benzobur {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -366px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_acc {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -998px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_nojnizi {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -130px;
}
.b-side-menu__item_icon_stihl_oprisk {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -210px;
}
.b-side-menu__item_icon_stihl_vozduhoduv {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -290px;
}
.b-side-menu__item_icon_stihl_podmet {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -853px;
}
.b-side-menu__item_icon_stihl_bezorez {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -444px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_defend {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -928px;
}
.b-side-menu__item_icon_stihl_kombi {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -604px;
	padding-top: 21px;
}
.b-side-menu__item_icon_stihl_mm55 {
  background: url("../images/icons_catalog_sections_stihl_sprite.jpg") no-repeat scroll 0 -523px;
}
.b-side-menu__item_icon_stihl{
	padding-top:21px;
	background: url("../images/logo_stihl-left.png") no-repeat 5px 15px;
}
.b-side-menu__item_icon_viking{
	padding-top:21px;
	background: url("../images/logo_viking-left.png") no-repeat 5px 10px;
}
.b-side-menu__item_icon_ggmain{
	padding-left:5px;
	padding-top:40px;
	height:115px;
	width:203px;
	text-align:center;
	background: url("../images/gardengear-site.png") no-repeat 55px 10px;
}
.b-side-menu__item_icon_ggmain:hover{
}
.b-side-menu__item_icon_gardengear {
  background: url("../images/gardengear-site.png") no-repeat 0;
}

.b-side-menu__drop-down {
  display: none;
  position: absolute;
  width: 525px;
  z-index: 2;
  left: $leftColWidth + 5px;
  top:-1px;
}
.b-side-menu__drop-down_wide{
	width:775px;
	.b-side-menu__drop-down__menu{
		padding: 20px 10px 30px 25px;
		width:230px;
	}
	.b-side-menu__drop-down__menu-second{
		padding: 20px 30px 30px 15px;
	}
}
.b-side-menu__drop-down_empty{
	width:243px;
	.b-side-menu__drop-down__menu{
		width:0px;
		padding: 20px 0 30px 10px;
		ul{
			display:none;
		}
	}
}
.b-side-menu__drop-down_tbl {
  border-collapse: separate;

  td {
    vertical-align: top;
  }
}

.b-side-menu__drop-down__menu {
  background-color: $cWhite;
  border-width: 1px;
  border-style: solid;
  border-color: $cGray $cWhite $cGray $cGray;
  border-radius: 0 0 0 5px;
  padding: 20px 30px 30px 25px;
}
.b-side-menu__drop-down__menu-second{
	border-left:0px;
	border-radius:0px;
}

.b-side-menu__drop-down__product {
  border: 1px solid $cYellow;
  border-radius: 0 5px 5px 0;
  padding: 20px 10px 30px 10px;
  background: url(../images/sidemenu_yellow_bg.png) no-repeat right bottom $cYellow;

  .b-product-item {
    width: 200px;
    border: none;
    padding: 0;
  }
  .b-product-item__image {
    border-bottom: none;
  }
	.b-product-item__name{
		height:auto;
	}
}

.auto_load_krug {
   background: url(../images/sidemenu_yellow_bg.png) no-repeat right bottom,url(../images/ajax-loader_krug.gif) no-repeat center center #ffd201;
}


.b-product-item__image-wrap {
  background-color: $cWhite;
  border-radius: 5px;
  padding: 5px;
}
.b-side-menu__inner {

  & > .b-side-menu__inner__item {
    border-bottom: 1px solid $cGray;
    display: block;
    font-size: 12px;

    & .b-side-menu__inner__sub {
      display: none;
			margin-top:4px;
      .b-side-menu__inner__item {
        padding: 5px 0 3px 15px;
      }
    }
  }
}
.b-side-menu__inner__item {
  padding: 10px 0 10px 10px;
  position: relative;
}
.b-side-menu__inner__item__link {
  color: $cBlack;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;

  &:hover {
    color: $cRed;
  }
}
.b-side-menu__inner__item__link_expandable {
	@include plusIcon;
}
.b-side-menu__inner__item__link_important {
  color: $cRed;
  font-weight: normal;
}

.b-side__link {
  display: inline-block;
  margin: 15px 0 0 0;
}

.b-banner__link {
  display: inline-block;
  margin: 30px 0 0;
}


/* small rotator */
.b-rotator_small {
  margin: 30px 0;
  background: url(../images/small_rotator_bg.png) no-repeat -140px 0 $cRed;
  border-radius: 7px;
  padding: 15px;

  .b-rotator__wrap {
    width: 170px;
    height: 210px;
    text-align: center;
  }

  .b-rotator__item {
    width: 170px;
    height: 210px;
		.b-rotator__name{
			white-space: normal;
		}
  }

  .b-rotator_arrows__left {
    background: url(../images/icons_sprite.png) no-repeat 0 -385px;
    left: 10px;
  }
  .b-rotator_arrows__right {
    background: url(../images/icons_sprite.png) no-repeat -25px -385px;
    right: 10px;
  }
  .b-rotator_arrows__link {
    width: 21px;
    height: 33px;
    top: 100px;
  }
	.b-rotator__name{
		white-space: nowrap;
	}

}
.b-rotator__name {
  color: $cWhite;
  text-decoration: none;
  font-family: "Franklin Gothic Medium Cond" $baseFF;
  font-size: 14px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.b-info-important {
  background-color: $cDarkRed;
  font-size: 18px;
  border-radius: 3px;
  padding: 3px 5px;
}
/* end left col */