.b-contacts-phone{
	float:left;
	margin-right:30px;
}
.b-contacts-phone__icon{
	float:left;
	width:35px;
	height:47px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px 0px transparent;
	margin-right:10px;
}
.b-contacts-phone__text{
	float:left;
	a{
		color:$cBlack;
		text-decoration:none;
	}
	p{
		line-height:18px;
		font-size:15px;
		font-weight:bold;
		margin: 15px 0 5px 0
	}
	span{
		font-size:14px;
		font-weight:bold;
		vertical-align:top;
	}
}
.b-contacts-schedule{
	float:left;
	padding:9px;
	margin-top:-10px;
	margin-left:-10px;
	margin-bottom:-10px;
	border:1px solid #fff;
	border-radius:10px;
}
.b-contacts-schedule__icon{
	float:left;
	width:40px;
	height:48px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -54px transparent;
	margin-right:10px;
}
.b-contacts-schedule__text{
	float:left;
}
.b-contacts-address{
	float:left;
	margin-right:10px;
}
.b-contacts-address__icon-physical{
	float:left;
	width:32px;
	height:45px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -162px transparent;
	margin-right:13px;
}
.b-contacts-address__text{
	float:left;
	span{
		font-size:14px;
		font-weight:bold;
	}
	p{
		margin-top:0px;
		margin-bottom:10px;
	}
}
.b-contacts-line__title{
	margin:45px 0 10px 45px;
}
.b-contacts-address__icon-juristical{
	float:left;
	width:32px;
	height:45px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -109px transparent;
	margin-right:8px;
}
.b-contacts-address__icon-post{
	float:left;
	width:42px;
	height:45px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -213px transparent;
	margin-right:8px;
}
.b-contacts-map{
	margin:35px 0 0 0;
}
.b-contacts-auto__icon{
	float:left;
	width:35px;
	height:41px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -263px transparent;
	margin-right:10px; 
}
.b-contacts-line__auto{
	margin-top:25px;
}
.b-contacts-auto__text{
	float:left;
	width:545px;
	p{	
		margin-top:0px;
		font-size:14px;
	}
	b{
		font-size:14px;
		display:inline-block;
		vertical-align:top;
	}
}
.b-contacts-auto__text_title{
	line-height:20px;
	margin-bottom:5px;
}
.b-contacts-auto__icon_blue{
	display:inline-block;
	width:37px;
	height:20px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -309px transparent;
	margin-left:10px;
}
.b-contacts-afoot__icon{
	float:left;
	width:32px;
	height:42px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -334px transparent;
	margin-right:13px; 
}
.b-contacts-autobus__icon{
	float:left;
	width:32px;
	height:42px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -405px transparent;
	margin-right:13px; 
}
.b-contacts-auto__icon_yellow{
	display:inline-block;
	width:37px;
	height:20px;
	background: url("../images/contacts_icons_sprite.png") no-repeat scroll 0px -382px transparent;
	margin-left:10px;
}
.b-contacts-form{
	margin-top:45px;
	margin-left:45px;
}
.b-contacts-form__line{
	margin-bottom:15px;
}
.b-contacts-form__label{
	float:left;
	width:100px;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	margin-right:10px;
}
.b-contacts-form__input{
	input{
		@include regTextInput;
	}
	textarea{
		@include regTextInput;
		height:185px;
		resize: none;
		padding:5px;
	}
	img{
		margin-top:5px;
	}
}
.b-contacts-form__label-name,
.b-contacts-form__label-email{
	margin-top:6px;
}
.b-contacts-form__submit{
	margin-left:318px;
}