/* center col */
/* rotator */
$rotatorHeight: 275px;

.b-rotator {
  margin-bottom: 25px;
  position: relative;
}

.b-rotator__wrap {
  height: $rotatorHeight;
  overflow: hidden;
  position: relative;
  width: $centerColWidth;
  z-index: 1;
  margin: auto;
}

.b-rotator__items {
  clear: both;
  position: absolute;
  width: 20000em;
  z-index: 1;
}
.b-rotator__item {
  position: relative;
  width: $centerColWidth;
  height: $rotatorHeight;
  float: left;
	text-align:center;
}

.b-rotator_nav {
  position: absolute;
  bottom: 3px;
  height: 19px;
  z-index: 1;
	width:100%;
	text-align:center;
}

.b-rotator_nav_link {
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url(../images/icons_sprite.png) no-repeat 0 -326px;
}

.m-rotator_nav_link_active {
  background: url(../images/icons_sprite.png) no-repeat -23px -326px;
}

.b-rotator_nav_link:hover {
  background: url(../images/icons_sprite.png) no-repeat -23px -326px;
}

.b-rotator_arrows__link {
  display: inline-block;
  width: 39px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 110px;
}

.b-rotator_arrows__left {
  background: url(../images/icons_sprite.png) no-repeat 0 -94px;
  left:-16px;
}

.b-rotator_arrows__right {
  background: url(../images/icons_sprite.png) no-repeat 0 -145px;
  right: -16px;
}

.b-jump-to_h2 {
  margin-top: -28px;
}
.b-jump-to_right {
  text-align: right;
}

/* product list */
.b-product-list {
  margin: 15px 0;
}
.b-product-item {
  display: inline-block;
  width: 188px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid $cGray;
  padding: 5px 15px 15px;
  border-radius: 5px;
  position: relative;
  vertical-align: top;
  margin: 0 9px 10px 0;
}
.b-product-list_3in-row .b-product-item:nth-child(3n) {
  margin-right: 0;
}
.b-product-item__marks {
  position: absolute;
  z-index: 1;
  margin-left: -10px
}
.b-product-item__icon {
  width: 31px;
  height: 31px;
  margin-right: 0px;
}
.b-product-item__icon_present {
  background: url(../images/icons_sprite.png) no-repeat 0 -947px;
}
.b-product-item__icon_delivery {
  /*background: url(../images/icons_sprite.png) no-repeat 0 -883px;*/
	background: url(../images/delivery-icon-animated.gif);
}
.b-product-item__icon_recommend {
  background: url(../images/icons_sprite.png) no-repeat 0 -260px;
}
.b-product-item__icon_presale {
  background: url(../images/icons_sprite.png) no-repeat 0 -915px;
}
.b-product-item__icon_action{
	background: url(../images/icons_sprite.png) no-repeat 0 -1011px;
}
.b-product-item__icon_stock{
	background: url(../images/icons_sprite.png) no-repeat 0 -197px;
}
.b-product-item__image {
  border-bottom: 1px solid $cGray;
  padding: 10px 0 10px 0;
  margin: 0 0 10px;
	text-align:center;
	min-height:165px;
	img{
		max-width:156px;
		vertical-align:bottom;
	}
	a{
		display:inline-block;
		line-height:165px; 
	}
}
.b-product-item__name {
  margin: 10px 0 15px;
  font-size: 14px;
  font-weight: bold;
  height: 85px;
	line-height:17px;
  overflow: hidden;
}
.b-product-item__link {
  text-decoration: none;
  color: $cBlack;
}
.b-product-item__prices {
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  height: 60px;
}
.b-product-item__status{
	font-size:13px;
	font-weight:bold;
	margin:10px 0;
}
.b-product-item__prices__ask{
	font-size:17px;
	.b-product__price_inactive{
		padding-top:8px;
	}
}
.b-product__price_old {
  color: $cGray;
  font-size: 18px;
  text-decoration: line-through;
  font-weight: normal;
}
.b-product__price_active {
  color: $cRed;
}
.b-product__price_inactive {
  color: $cBlack;
}
.b-product__price7{
	font-size:26px;
	padding-top:4px;
}
.b-product-item__buy {
  margin: 20px 0 0;
	min-height:28px;
}
.b-product-item__buy_button {
  display: inline-block;
  width: 85px;
  vertical-align: top;
}
.b-button_buy {
  background: url("../images/icons_sprite.png") no-repeat scroll 5px -356px $cRed;
  padding-left: 25px;
}
.b-product-item__buy_credit {
  display: inline-block;
  width: 65px;
  margin-left: 2px;
}
.b-buy-credit__sum {
  font-size: 10px;
}
.b-text {
  margin: 25px 0;
}
.b-text_main {
  margin-top: 45px;
}

/* news */
.b-news-list {
  margin: 25px 0;
}
.b-news-item {
  display: inline-block;
  width: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0 21px 10px 0;
}

.b-news-list_3in-row .b-news-item:nth-child(3n) {
  margin-right: 0;
}
.b-news-item__name_link {
  text-decoration: none;
  color: $cBlack;
  /*margin-top: 15px;*/
  display: inline-block;
}
.b-news-item__date {
  margin-top: 15px;
  display: inline-block;
  color: $cGray;
}
.b-buy-button__window{
	h1{
		@include h1Style;
	}
	p{
		font-size:14px;
	}
	li{
		@include liRedMarker;
		font-size:13px;
		margon-bottom:5px;
	}
	ul{
		margin:5px 0;
	}
}
.b-product-list_3in-row{
	.b-product-item__marks{
		top:5px;
	}
	.b-catalog-item__preview{
		display:none;
	}
	.b-catalog-item__preview_link__wrap{
		display:none;
	}
}
.b-product-list_3in-row-list{
	.b-product-item{
		margin-right:0px;
		width:590px;
	}
	.b-product-item__left-col{
		float:left;
		margin-right:10px;
	}
	.b-product-item__center-col{
		float:left;
		width:215px;
		margin-right:10px;
	}
	.b-product-item__right-col{
		float:left;
	}
	.b-product-item__marks{
		position:relative;
	}
	.b-product-item__name{
		height:auto;
	}
	.b-product-item__image{
		margin-bottom:0px;
		margin-top:10px;
		border-bottom:0px;
		padding:0px;
		width:179px;
		text-align:left;
		a{
			line-height:normal
		}
	}
	.b-product-item__buy_credit{
		display:block;
	}
	.b-product-item__prices{
		margin-top:10px;
		width:144px;
		height:auto;
	}
	.b-catalog-item__preview{
		display:block;
		margin-top:20px;
		margin-bottom:10px;
		overflow:hidden;
		height:auto
	}
	.b-catalog-item__preview_closed{
		height:58px;
	}
	.b-catalog-item__preview_open__arrow{
		@include redArrow;
		background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
		margin-left:3px;
	}
	.b-catalog-item__preview_link__wrap{
		display:inline-block;
	}
}
.b-catalog-view_recommend{
	 margin-left: 172px; 
	 margin-top: -33px;
}



/* end center col */