.b-menu {
    /*background: url("../images/menu-bg.jpg") left center/cover;*/
    min-height: 0;
    line-height: 0;
    overflow: visible;

}
.menu-icon {
    outline: none;
}
.b-menu .title-bar {
    display: none;
}
.b-communication__top {
    background: transparent;
    position: relative;
}
.b-communication__top-content {
    background: url(../images/com-bg.jpg) center top no-repeat;
    background-size: auto 100%;
    padding-top: 465px;
    padding-bottom: 3.75rem;
}
.b-communication__top-title {
    margin-top: 0;
    margin-bottom:8px;
}
.b-communication__top .b-header {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
}
#menu {
    display: block !important;
}
@media all and (max-width: 879px) {
    .b-menu.home-page .b-menu__logo {
        display: none;
    }
    .b-content {
        position: relative;
    }
    .b-menu {
        position: static;
    }
    .b-menu__list {
        padding: 1rem 0;
        margin: 0;
        width: 100%;
        position: absolute;
        width: 100%;
        background: #fff;
        left: 0;
        top: 45px;
        z-index:100;
        padding: 0;
    }
    .b-menu__list #random-menu-bg {
        background: #fff !important;
    }
    .b-menu__list-item {
        display: block;
        text-align: center;
        margin-right:0;
    }
    .b-menu__list-item-link {
        text-transform: none;
    }
    .b-menu {
        background: #fff;
    }
    .b-menu__list-item-link {
        color: #545454 !important;
    }
    .b-menu .title-bar {
        background: #3c0;
    }
    .b-nav .title-bar {
        display: none !important;
    }
    .b-menu__logo {
        position: absolute;
        right: 0;
        top: 45px;
        z-index: 15;
    }
    .b-nav__menu {
        background-position: left center;
        background-size: cover;
        padding-right:25%;
        padding-left: 43px;
        text-align: left;
        padding-top: 56px;
        padding-bottom: 16px;
        border: none;
        min-height: 13.125rem;
        padding-bottom:50px;
    }
    .b-nav__menu-item {
        border: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 18px;
    }
    .b-contacts__top .b-nav__menu,
    .b-house__top .b-nav__menu,
    .b-video .b-nav__menu {
        border: none !important;
    }
    .b-house__top .b-header,
    .b-video .b-header,
    .b-contacts__top .b-header,
    .b-communication__top .b-header {
        top: 0;
        position: static;
    }
    .b-contacts__top,
    .b-video__container,
    .b-house__top-img-box {
        padding-top: 0;
    }
    .b-nav__menu-link.active, .b-nav__menu-link:hover, .b-nav__menu-link, .b-nav__menu-item:first-child>a,
    .b-contacts__top .b-nav__menu-link,
    .b-house__top .b-nav__menu-link,
    .b-video .b-nav__menu-link {
        color: #fff !important;
        font-size: 24px;
        font-weight: 400;
        padding: 0;
        line-height: 34px;
        white-space: normal;
    }
    .b-communication__top-content {
        background-size: 100%;
        height: 200px;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .b-communication__top-title {
        font-size: 2.3rem;
        line-height: 2rem;
    }

}
@media all and (max-width: 39.9375em) {
    .b-nav__menu-link.active, .b-nav__menu-link:hover, .b-nav__menu-link, .b-nav__menu-item:first-child>a,
    .b-contacts__top .b-nav__menu-link,
    .b-house__top .b-nav__menu-link,
    .b-video .b-nav__menu-link {
        font-size: 18px;
        max-width: 190px;
        overflow-x: hidden;
    }
    .b-nav__menu {
        padding-right: 35%;
        padding-left: 20px;
    }
    .b-nav__menu-item {
        display: block;
        margin-right:0;
    }
}
@media all and (min-width: 880px) {
    .b-nav__menu {
        background-image: none !important;
    }
}
.sign-up2__title {
    font-size: 2.688rem;
    margin-top: 1.375rem;
    margin-bottom: 1.75rem;
}
#sign-up2 {
    max-width: 600px !important;
}
.sign-up2__top {
    margin-bottom: 0rem;
}
.feedback-form label {
    margin-top: 5px;
}
.feedback-form input[type=text] {
    width: 100%;
    height: 40px;
}
.feedback-form textarea {
    height: 120px;
}
.feedback-form input[type=submit] {
    margin: 1rem 0;
}
.feedback-form {
    padding: 0 20px;
}
@media screen and (max-width: 480px) {
    table.table_home {
        border: 0;

    }
    table.table_home thead {
        display: none;
    }
    table.table_home tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #a0a0a0;
    }
    table.table_home td {
        display: block;
        text-align: right;
        font-size: 15px;
        border: 0;
        border-bottom: 1px dotted #a0a0a0;
        width: 100%;
    }
    table.table_home td:last-child {
        border-bottom: 0;
    }
    table.table_home td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 0 8px;
        background: #eee;
    }
}
.text_green{color:#33cc00;}
.star_t{font-family: Arial;}
.b-menu__question-button{
    font-size: 1.0rem;
    color: #fff !important;
    font-weight: 400;
    border-radius: 0.3125rem;
    padding: 0.4vh 1.9vh;
    margin-top: 3.5vh;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
    padding: 2.0rem 0;
    background-color: #3aaa35;
    position: fixed;
    top: 10%;
    left: 68%;
    border-radius: 200px;
}
.b-menu__question-button-2 {
    font-size: 1.0rem;
    color: #fff !important;
    font-weight: 400;
    border-radius: 0.3125rem;
    padding: 0.4vh 1.9vh;
    margin-top: 3.5vh;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
    padding: 2.0rem 0;
    background-color: #3aaa35;
    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 200px;
}
.menu__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: black;
    background-image: none !important;
}
.b-menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    z-index: 900;
}
.b-content{
    width: 100%;
}
.b-menu ul.b-menu__list {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}
.b-menu ul.b-menu__list:after{
    position: absolute;
    display: inline-block;
    content: "";
    top: 0.7291666666666667vw;
    height: 2.0833333333333335vw;
    margin-left: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.8);
}
.b-menu{
    padding: 0 2.35vw;
    background-color: rgba(23, 23, 18, 0.8);
}
.b-menu ul.b-menu__list li {
    float: left;
}
.b-menu__logo{
    display: inline-block;
    position: absolute;
}
.b-menu__list-item-link,
.b-menu__list-sub-link,
.b-menu__list-sub-link-active
{
    display: block;
    border: 0;
    margin-left: 0;
    width: 100%;
    font-size: 1.24vw;
    padding: 0.8854166666666667vw 1.25vw;
    line-height: normal;
    font-weight: normal;
}

.b-menu__list-item{
    border: 0;
    position: relative;
}
.b-menu__contact {
    margin: 0;
    display: inline-block;
    line-height: normal;
    padding: 0.7vw 0;
}
.b-menu__contact-text-2 {
    margin: 0;
    position: relative;
    display: inline-block;
    font-family: Circe;
    color: #fff;
    letter-spacing: .01vw;
    font-size: 1.5vw;
    line-height: normal;
    float: left;
}
.b-menu__contact-text-2:before{
    content: "";
    display: inline-block;
    position: relative;
    width: 1.9791666666666667vw;
    height: 1.9791666666666667vw;
    background-image: url(../images/phone.png);
    background-size: 1.9791666666666667vw 1.9791666666666667vw;
    margin-left: 1.67vw;
    margin-right: 0.5vw;
    line-height: normal;
    float: left;
}
.b-menu__social {
    display: inline-block;
    position: relative;
    line-height: normal;
    float: left;
    margin-left: 1vw;
    padding: 0.10416666666666667vw 0;
}
.b-menu__social-vk,
.b-menu__social-fb,
.b-menu__social-in
{
    position: relative;
    /* top: 0.5vw; */
    width: 1.9791666666666667vw;
    height: 1.6666666666666667vw;
    display: block;
    margin-left: 0.3vw;
    float: left;
    background-image: url(/local/templates/main/css/../images/social.png);
    background-size: 8vw;
    line-height: normal;
}
.b-menu__social-vk{
    background-position: -0.65vw 0vw;
}
.b-menu__social-fb{
    background-position: 4.6vw 0vw;
}
.b-menu__social-in{
    background-position: 2vw 0vw;
}
.b-menu__flag{
    position: absolute;
    top: 0;
    display: inline-block;
    margin-left: .5vw;
    width: 6.9vmax;
    height: 9.555vmax;
    background-position: 0vw;
    background-size: 8vmax;
    background-image: url(../images/flag.png);
}
.b-menu__flag-logo{
    top: 0.575vmax;
    margin: 0 auto;
    position: relative;
    width: 4.4vmax;
    height: 6.25vmax;
    display: block;
    background-image: url(../images/logo.png);
    background-size: 4.4vmax 6.25vmax;
    background-position: 0;
}
.b-menu__list a:hover{
    background: #548d31;
}


.b-menu__ul,
.b-menu__ul-active,
.b-menu__social,
.b-menu,
#menu-r,
.b-menu__contact-text-2,
.title-bar{
    display: none;
}
.normal .b-menu__social,
.normal.b-menu,
.normal #menu-r,
.normal .b-menu__contact-text-2{
    display: block;
}
.normal .b-menu__list
{
    overflow: visible !important;
}

.title-bar{
    background: transparent !important;
    padding: 0;
    line-height: normal;
}

/*** Mobile Menu ***/
.mobile .title-bar{
    display: inline-block !important;
}
.mobile.b-menu{
    display: block;
}
.mobile .b-menu__contact{
    padding: 0;
    float: right;
}
.mobile .b-menu__contact .b-menu__flag{
    right: 2vw;
}
.mobile .b-menu__list.active{
    display: block !important;
}
.mobile #menu-r{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: inherit;
    top: 100%;
    z-index: 0;
    float: none;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0;
}
.mobile #menu-r:after{
    content:none;
}
.mobile .b-menu__list ul,
.mobile b-menu__ul-active {
    position: relative !important;
    background-color:transparent;
    line-height: 0;
    padding-left: 5vmax !important;
}
.mobile .b-menu__list-item-link,
.mobile .b-menu__list-sub-link,
.mobile .b-menu__list-sub-link-active {
    font-size: 2.24vmax;
    text-align: left;
    padding: 0.8854166666666667vmax 1.25vmax;
    color: white !important;
}

.mobile .b-menu__list-item{
    float: none !important;
}
.mobile .open{
    display: block;
}
.mobile .b-menu__list-sub{
    list-style-type: square;
    color:white;
}
[data-popup-open="opened"] ul{
    display:block !important;
}
.mobile .menu-title{
    display: block !important;
    color: white;
    position: relative;
    line-height: normal;
    margin: 0 auto;
    width: 19%;
    padding: 1vh 0;
}
.mobile .title-bar{
    position: absolute;
    top: 0px;
    display: inline-block !important;
    line-height: 0;
    padding: 1.7vh 0;
}
.mobile .b-menu__flag-logo {
    width: 5.4vmax;
    height: 8.25vmax;
    background-size: 5.4vmax 8.25vmax;
    background-repeat: no-repeat;
}
.mobile .b-menu__flag {
    width: 8.9vmax;
    height: 12.555vmax;
    background-size: 8.9vmax 12.555vmax;
    background-image: url(/local/templates/main/css/../images/flag.png);
    background-repeat: no-repeat;
    background-position-y: -.4vmax;
}
/***  Mobile Menu  ***/

.title-bar-title{
    display:none;
}

.menu-icon{
    margin: 0 !important;
}

#menu-r{
    margin-left: -1vw;
}

.b-menu__list ul,
b-menu__ul-active{
    position:absolute;
    background-color: rgba(23, 23, 18, 0.8);
    left: 0;
    margin:0;
    padding:0;
    min-width: 15vw;
}

.b-menu__list ul li{
    float:none !important;
}
.b-menu__list{
    float: left;
    overflow: hidden;
}
.b-menu{
    overflow:visible !important;
}
