.b-error {
	display:inline-block;
	width:100%;
}
.b-error__desc {
	display:inline-block;
	text-align:left;
	width:60%;
}
.b-error__desc a {
	margin-right:20px;
} 
.b-error__desc__icon_404 {
	width:100px;
	height:100px;
	display:inline-block;
	text-align:left;
	background: url(../images/404.png) no-repeat;
}
.b-error__desc__icon_down {
	width:100%;
	height:50px;
	display:inline-block;
	text-align:center;
	background: url(../images/down.png) center center no-repeat;
}
.b-error__img {
	width:200px;
	height:200px;
	display:inline-block;
	text-align:center;
}
.sad_tractor {
	background: url(../images/sad_tractor.png) no-repeat;
	
}
.cheerful_tractor {
	background: url(../images/cheerful_tractor.png) no-repeat;
}
.b-error__search .b-search__input {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
	border:1px solid #ccc;
}

