/* ================================ FOOTER */
$footerRadius: 7px;

.i-footer {
  background: url(../images/footer_bg.png) no-repeat -190px -150px $cBlack;
  border-radius: $footerRadius 20px 20px $footerRadius;
  position: relative;
}
.b-footer_nav_expand {
  width:750px;
  margin: 25px 0 25px 25px;
  float:left;
  
  td {
    padding: 0 30px 0 0;
  }
	ul{
	  padding:0 10px;
	}
}
.b-footer_nav__link {
  text-decoration: none;
  background-color: $cRed;
  color: $cWhite;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.b-footer_nav__item_link {
  color: $cWhite;
  line-height: 1.7;
}
.b-footer_external {
  background-color: $cRed;
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 0 $footerRadius $footerRadius 0;
  padding: 25px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  .b-share {
    padding: 0 !important;
  }
}
.b-footer__title {
  font-size: 14px;
  font-weight: bold;
  color: $cWhite;
  margin: 10px 0;
}
.b-footer__title_no-tm {
  margin-top: 0;
}
.b-icon_big_vk {
  width: 54px;
  height: 54px;
  background: url(../images/icons_big_sprite.png) no-repeat 0 -64px;
  margin-right: 5px;
}
.b-icon_big_youtube {
  width: 54px;
  height: 54px;
  background: url(../images/icons_big_sprite.png) no-repeat -55px -64px;
  margin-right: 5px;
}
.b-icon_payment_mc {
  width: 55px;
  height: 34px;
  background: url(../images/icons_payment_sprite.png) no-repeat 0 0;
  margin-right: 5px;
}
.b-icon_payment_visa {
  width: 55px;
  height: 34px;
  background: url(../images/icons_payment_sprite.png) no-repeat -55px 0;
  margin-right: 5px;
}
.b-under-footer {
  margin: 20px 0 40px;
}
.b-under-footer__link {
  color: $cBlack;
}
.right_button_write_review {
	background: url(../images/button_write_review.png) no-repeat 0 0;
	background-size:contain;
	overflow: visible;
	position: fixed;
	z-index: 99990;
	width: 30px;
	height: 178px;
	right: -2px;
	top: 30%;
}
.right_button_write_review:hover  {
  margin-right: 2px
}

#modal_yandex {
	font-size:15px;
	display:none;
	width:500px;
	padding:20px;
}
#modal_yandex h1 {
	font-size:140%
}

.yandex_block {
	float:left;
	padding-top:20px;
	padding-bottom:20px;
}

.block_yandex_href {
	float:left;
	margin-left:20px;
	width:200px;
}

.block_yandex_href a {
	float:left;
	margin:10px;
	width:200px
}

#box {
	display:none;
	margin-top:0px;
	margin-left:25px;
}
.b-footer-mobileLink{
	text-align:center;
	margin-top:15px;
	width:125px;
	a{
		color:#fff !important;
	}
}

.modal_callback_hunter {position: fixed;
bottom: 0;
right: 0;
background: #ec3d3f;
color: white;
padding: 10px 30px;
border-radius: 10px 0 0 0;
font-size: 16px;}
.modal_callback_hunter_phone {
width: 300px;
height: 33px;
border: 1px solid #FFFFFF;
background: #F2F2F2;
border-top: 1px solid #B1B1B1;
border-radius: 7px;
padding: 0 5px;
font-size: 16px;
}
.b_modal_callback_hunter-form{width:330px;display:none}
.b_modal_callback_hunter-form_title {font-size: 20px;font-weight: bold}
/* ================================ END FOOTER */