.icheckbox_minimal-aero {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 14px;
    height: 14px;
    background: url('../images/checkbox_sprite.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-aero {
    background-position: 0 0;
}
.icheckbox_minimal-aero.checked {
    background-position: 0 -14px;
}