.logotip,.milo,.rekv,.i-site__gg .b-head-item__shop .b-head-item__title-small_rek {display: none; }

@media print {  
  #rh-badge, 
  #bx-panel,
  .b-breadcrumb_manuf,
  .b-breadcrumb,
  .b-under-footer,
  .i-footer,
  .b-head__logo,
  .b-product-cart__disclaimer,
  .b-product-cart__similar,
  .b-breadcrumb_chain,
  .b-product-cart__recommend,
  .i-top-toolbar, 
  .b-menu, 
  .b-breadcrumb, 
  .b-catalog-list_open, 
  .b-product-cart__buy_button,
  .b-product-image-col h3, 
  .b-product-all-images,
  .b-product__tabs_top,
  .b-product-gray_line,
  .b-product-delivery__link,
  .b-head-item__descr-small,
  .b-red, .b-head-item__descr span,
  .i-site__gg .b-head-item__phone .b-head-item__descr a,
  .b-product-all-images,
  .b-product-video,
  .b-product-properties__table-more_link,
  .b-product-cart__package,
  .b-product-image-col h3, .fancybox-detail_image,
  .b-product-files,
  .b-product-buy-col h2,
  .b-product-item__preview_link__wrap,
  .b-product-cart__buy_button_credit,
  .i-site__gg .b-head-item__shop .b-head-item__title-small,
  .i-site__gg .b-head-item__shop .b-head-item__title-big,
  .b-product-cart__parameters .b-product-item__preview_link__wrap,
  .b-product-cart__parameters .b-product-item__preview_link,
  .b-product-delivery__text b,
  .b-product-paysystem__text b,
  .b-product_analogs,
   h3 a   
  { display: none; }
  body {background:none;}
 .b-product-image .fancybox-detail_image{display: block;}
 .i-site__gg .b-head-item__shop .b-head-item__title-small_rek {font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
	display: block;
	text-decoration: none;
	color: #2f2f36;float:left;
	 font-family: Arial, Helvetica, Tahoma, sans-serif;}
 .b-product-cart__certificates .fancybox-detail_image{display: block;float:left;
}
@page {
        margin: 10pt;
    }
body, article {
        width: 100%;
        margin: 0;
        padding: 0;
		float:none; 
       font-size: 100%;
    }
h2, h3 { page-break-inside:avoid; 
}
.i-product_page h1 {font-size:24px;}
img {
 page-break-inside:avoid; 
}
     
p, ul, ol {
    line-height:14pt;
}
a { border:none;text-decoration: none; }

.logotip {display: block;
float:left;
 width: 427px;
  height: 133px;
  margin-top:-60px;
  }
.rekv {display: block;font-size:8px;line-height:14px;font-weight:normal;margin-top:10px;}
.milo {font-size:10px;line-height:10pt;display: block;}
 .i-site__gg .b-head-item__phone {margin-left: 30px; margin-top:-60px;}
 .i-site__gg .b-head-item__delivery {margin-left: 10px;margin-top:-60px;}
 .i-site__gg .b-head-item__shop { margin-left: 10px;margin-top:-60px; }
 .b-product-title {width: 660px;}
 .i-product_page h1 {width: 660px;}
 .b-product-properties-col h2 {font-size:24px;}
 .b-product__tabs_item h3 {font-size:24px;}
 .b-product-image {display:block}

 .b-product-buy-col {float:left;margin-left:-400px;width:660px}
  .b-product-paysystem__cash {float:left }
  
  .b-product-prices_line .b-product__price_credit {float:left;width: 200px;margin-top:-20px;margin-left:64px;font-size:8pt;}
 .b-product-delivery_line {float:left;margin-left:200px;margin-top:-40px}
 .b-product-paysystem_line {font-size:8pt;float:left;margin-left:200px;margin-top:10px}
      .b-product-paysystem__items { margin-top:0px}
	  
  .b-product-status .b-product_item__status_text-32 {float:left;margin-top:0px;margin-left:0px;}
 
 .b-product-prices_line clearfix {float:left}
 
 .b-product-properties__table {width:170%;}
      .b-product-properties__table td ,.b-product-properties__value {border:2px solid #f4f4f4; font-size:14px; line-height:14px;}
 .b-product__tabs_items,.b-product-cart__table {padding-top:0px;}
 .b-product-cart__parameters .b-product-item__preview {line-height:18px;}
 .b-product-cart__table .b-product-cart__table-2col {padding-top:-40px;line-height:18px;}
 .b-product-cart__table .b-product-cart__table-1col {padding-top:-40px;line-height:18px;}
 .b-product-list__accessories .b-product-item {margin-right:2px;}
 .b-product-item__buy_button {display: none;}
 
.i-content  {margin-top:60px}
 .b-product-properties-col {margin-top:80px}
 
} 