.b-product-item__popup-link{
	width:137px;
	height:22px;
	padding-top:8px;
	border-radius:7px;
	background:#f69c00;
	color:#fff;
	font-size:12px;
	text-align:center;
	position:absolute;
	top:100px;
	left:20px;
	display:none;
	cursor:pointer;
}
.b-side-menu__item{
	.b-product-item__popup-link{
		left:37px;
	}
}
.i-product_popup{
	.b-product-buy-col{
		margin-top:-75px;
	}
	.b-breadcrumb_chain{
		margin-left:0px;
	}
	.b-product-detail_link{
		a{
			font-size:14px;
		}
	}
	.b-product-title{
		width:585px;
	}
	.b-product-properties-col{
		width:300px;
	}
	.b-product-buy-col{
		width:260px;
	}
	.b-product-article{
		margin-right:15px;
	}
	.b-product-sub_title{
		width:300px;
	}
	.b-product-article__item{
		width:127px;
	}
	.b-product-item__marks{
		float:right;
		text-align:right;
	}
	.b-product-properties__table-more{
		position:relative;
		z-index:100;
	}
}
.b-popup-larr{
	width:22px;
	height:35px;
	left:-70px;
	top:170px;
	cursor:pointer;
	position:absolute;
	background: url('/bitrix/templates/smks_common/images/popup-larr.png');
}
.b-popup-rarr{
	width:22px;
	height:35px;
	right:-70px;
	top:170px;
	cursor:pointer;
	position:absolute;
	background: url('/bitrix/templates/smks_common/images/popup-rarr.png');
}
.b-product-propeties__preview_text_wrap{
	position:relative;
}
.b-product-propeties__preview_text{
	max-height:220px;
	overflow:hidden;
	position:relative;
}
.b-product-propeties__preview_text_gradient{
	position:absolute; 
	background: url('/bitrix/templates/smks_common/images/bottom_gradient_transp_white.png');	
	top:200px;
	height:20px;
	width:300px;
}
.fancybox-detail_videoPopup{
border-radius:5px;
text-align:center;
display:block;
img{
width:30px;
height:21px;
margin-top:33px;
}
}

.b-product-prices_line {
	.b-product-cart__buy_button 
	{margin-right: -15px;}
}

.b-product-list_4in-row {
	 .b-product-item__buy_credit {
		width:auto;
		margin-right: -14px;
	}
}