/* ================================ PRODCUT CART */
$cOrange: #f98d3b;
.i-product_page{
	position:relative;
	h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
	width:380px;
	font-weight:bold; 
  }
	h2 {
    font-size: 18px;
    margin: 10px 0 15px 0;
		font-weight:bold;
  }
	h3 {
    font-size: 18px;
    margin: 10px 0;
		font-weight:bold;
  }
	h3.b-redH3{
		color:$cRed;
	}
	h4 {
		font-size: 16px;
    margin: 10px 0;
		font-weight:bold;
	}
	h5{
		font-size: 16px;
		margin: 10px 0 20px 0;
		font-weight:bold;
		color:$cRed;
	}
	.b-breadcrumb{
		padding-top:15px;
		&:first-child{
			display:none;
		}
	}
	.b-breadcrumb_chain{
		margin-left:194px;
		padding-left:25px;
		border-left:1px solid $cGray;
	}
	.b-side-menu{
		width:200px;
		border:1px solid silver;
		border-radius:4px;
		padding: 20px 20px 25px 20px;
		position: absolute;
		background:#FFF;
		z-index:200;
		margin-top:10px;
		.b-side-menu__items{
			margin-bottom:20px;
		}
	}
}
.b-product__tabs{
	h3{
	  font-size: 18px;
    margin: 10px 0;
		position: relative;
		a{
			font-size:12px;
			padding-left:10px;
		}
	}
	position:relative;
}
.b-product__tabs_items{
	padding-top:105px;
}
.b-product__tabs_top{
	position:absolute;
	top:0px;
}
.b-catalog-list_open{
	color: $cRed;
	position:absolute;
	top:15px;
	left:0px;
}
.b-catalog-list__overlay{
	  background: url("../images/fancybox/fancybox_overlay.png") repeat scroll 0 0 transparent;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 100;
		bottom: 0;
    position: fixed;
    right: 0;
		width: auto; 
		height: auto; 
		display: block;
}
.b-catalog-list_open-link{
	z-index:200;
	position:relative;
}

.b-catalog-list_open__arrow{
	@include redArrow;
}
.b-catalog-list_open__arrow_down{
	background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
}
.b-catalog-list_open__arrow_up{
	background: url("../images/icons_sprite.png") no-repeat scroll -34px -419px transparent;
}
.b-catalog-list{
	display:none;
}
.b-catalog-list__opened{
	display:block;
}
.b-product-info{
	margin-top:30px;
}
.b-product-image-col{
	float:left;
	width:300px;
	margin-right:20px;
}
.b-product-properties-col{
	float:left;
	width:380px;
	margin-right:20px;
}
.b-product-buy-col{
	float:left;
	width:260px;
	margin-top:-105px;
	.b-product_item__status_text{ 
		width:150px;

        &.b-product_item__status_text_large {
          width: 164px;
        }
	}
    .b-product_item__status_info {
      margin: 5px 0px 2px;
      font-size: 11px;
      font-weight: normal;
      line-height: 15px;
    }
}
.b-product-image{
	padding:8px;
	border: 1px solid $cGray;
	border-radius: 5px;
	text-align:center;
	height:282px;
	line-height:282px;
	a{
		display:inline-block;
	}
	img{
		vertical-align:middle;
	}
}
.b-product-all-images{
	position:relative;
	.b-product-all-videos__rotator,
	.b-product-all-images__rotator{
		width:198px;
		height:94px;
		overflow: hidden;
		z-index: 1;
		position: relative;
		margin:0px 0px 15px 25px;
	}
	.b-rotator__item{
		margin-right:10px;
		width:94px;
		height:94px;
	}
	.b-rotator_arrows__link{
		top:33px;
		width:16px;
		height:25px;
	}
	.b-rotator_arrows__left{
		left:0px;
		background: url("../images/icons_sprite.png") no-repeat scroll 0px -1045px;
	}
	.b-rotator_arrows__right{
		right:52px;
		background: url("../images/icons_sprite.png") no-repeat scroll -20px -1045px;
	}
}
.b-product-social{
	margin-top:20px;
}
.b-product-social__item{
	margin:0 0 10px 0;
}
.b-product-social__item-fb{
	margin:0 0 4px 0;
}
.b-product-social__item-vk{
	margin:10px 0 10px 0;
}
.b-product-all-images img,
.b-product-video img{
	width:94px;
	height:94px;
	border-radius:5px;
	margin-right:6px;
	margin-bottom:6px;
}
.fancybox-detail_image-right img{
	margin-right:0px;
}
.b-product-video{
	margin-bottom:20px;
}
.b-product-title{
	float:left;
	width:380px;
}
.b-product-tags__item{
	display:inline-block;
	font-size:9px;
}
.b-product-tags__link{
	color:$cBlack;
	font-size:11px;
}
.b-product-sub_title{
	margin-top:15px;
	
	.b-product-article{
		float:left;
		margin:8px 35px 0 0;
	}
	.b-product-item__marks{
		float:left;
		position:relative;
	}
}
.b-product-properties__table{
	width:100%;
}
.b-product-properties__name{
	width:223px;
	font-weight:bold;
}
.b-product-properties__value{
	width:145px;
	word-wrap: break-word;
}
.b-product-properties__table td{
	background:#E8E8E8;
	padding:3px;
}
.b-product-properties__table{
	.b-product-properties__line-even{
		td{
			background:#FFFFFF;
		}
	}
	.b-product-properties__line-hidden{
		display:none;
	}
}
.b-product-prices_line{
	.b-product__price_inactive{
		font-size:48px;
		font-weight:bold;
		float:left;
	}
	.b-product__price_currency{
		font-size:24px;
	}
	.b-product-cart__buy_button{
		margin-top:10px;
		.b-button_buy{
			background:#f69c00;
			padding: 9px 12px 9px 2px;
			span{
				padding: 3px 0 3px 35px;
				background: url("../images/icons_sprite.png") no-repeat scroll 5px -359px #f69c00;
			}
			&:disabled {
				background: $cGray;
			}
			padding: 8px;
			margin: 10px 0 0 0;
			background-position: 31px -352px;
			width: 164px;
		}
	}
	.b-product-cart__buy_button-left{
		float:left;
	}
	.b-product__price_credit{
		float:left;
		margin-top:10px;
		width:150px;
		text-align:right;
	}
	.b-product-cart__buy_button_credit{
		float:right;
		width:98px;
		text-align:left;
		margin-top:10px;
		a{
			text-decoration:none;
		}
	}
}
.b-product-prices_line5{
	.b-product__price_inactive{
		font-size:40px;
	}
	.b-product-cart__buy_button{
		margin-top:4px;
	}
}
.b-product-prices_line6{
	.b-product__price_inactive{
		font-size:35px;
	}
	.b-product-cart__buy_button{
		margin-top:0px;
	}
}
.b-product-prices_line__noprice{
	.b-product__price_inactive{
		font-size:30px;
	}
}

.b-product-delivery_line{
	margin-top:25px;
	font-size:11px;
}
.b-product-delivery__icon{
	float:left;
	width:23px;
	height:17px;
	margin: 0 10px 0 5px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -432px;
}
.b-product-delivery__text{
	float:left;
	width:220px;
}
.b-product-delivery__link{
	margin: 10px 0 0 0;
}

.b-product-secure_line {
  margin-top: 25px;
  font-size: 11px; }

.b-product-secure__icon {
  float: left;
  width: 23px;
  height: 17px;
  margin: 0 10px 0 5px;
  background: url("../images/icons_sprite.png") no-repeat scroll 0px -1534px; }

.b-product-secure__text {
  float: left;
  width: 220px; }  
  
.b-product-paysystem_line{
	margin:20px 0 0 0;
}
.b-product-paysystem__icon{
	float:left;
	width:20px;
	height:20px;
	margin: 0 10px 0 8px;
	background: url("../images/icons_sprite.png") no-repeat scroll -24px -432px;
}
.b-product-paysystem__text{
	float:left;
}
.b-product-paysystem__items{
	margin:5px 0 0 0;
}
.b-product-paysystem__item{
	float:left;
}
.b-product-paysystem__visa{
	background: url("../images/icons_payment_sprite.png") no-repeat scroll -35px -38px;
	width:37px;
	height:12px;
	margin:3px 7px 0 0;
}
.b-product-paysystem__mastercard{
	background: url("../images/icons_payment_sprite.png") no-repeat scroll 0px -37px;
	width:32px;
	height:19px;
	margin:0 7px 0 0;
}
.b-product-paysystem__cash{
	text-transform: lowercase;
	width:80px;
	line-height:10px;
}

.b-product__tabs{
	margin-top:45px;
}
.b-product__tabs_head__item_wrap{
	width:196px;
	float:left;
	text-align:center;
}
.b-product__tabs_head__item{
	margin-top:7px;
	margin-bottom:7px;
	height:73px;
	line-height:73px;
	background:$cBlack;
	color:$cWhite;
	font-size:14px;
	display:block;
}
.b-product__tabs_head__item_wrap:first-child{
	.b-product__tabs_head__item{
		margin-left:6px;
		border-radius:7px 0 0 0;
	}
	.b-product__tabs_head__item_tab{
		border-left:0px;
	}
}
.b-product__tabs_head__item_wrap:last-child{
	.b-product__tabs_head__item{
		margin-right:6px;
		border-radius:0 7px 0 0;
	}
}
.b-product__tabs_head__item_tab{
	display: inline-block;
  vertical-align: middle;
	line-height: normal;
	padding: 8px 35px;
	text-align:left;
	border-left: 1px solid #6B6B74;
}
.b-product__tabs_subhead_line{
	height:25px;
	background: $cRed;
	border-radius: 7px 7px 0 0;
	margin-top:-7px;
}
.b-product__tabs_head__item_wrap-active{
	background: $cRed;
	border-radius: 7px 7px 0 0;
	.b-product__tabs_head__item{
		background: $cRed;
	}
	.b-product__tabs_head__item_tab{
		border-left-color:$cRed;
	}
}
.b-product__tabs_head__item_wrap-active + .b-product__tabs_head__item_wrap{
	.b-product__tabs_head__item_tab{
		border-left-color:$cBlack;
	}
}
.b-product__tabs_item{ 
	padding: 10px 0px 10px 20px;
}
.b-product__tabs_item-comments{
	h3{
		padding-right:140px;
	}
}
.b-product-cart__parameters{
	p{
		margin-bottom:2px;
	}
	.b-product-item__preview{
		line-height:14px;
	}
	.b-product-item__preview_closed{
		height:216px;
		overflow:hidden;
	}
	.b-product-item__preview_open__arrow{
		@include redArrow;
		background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
	}
	.b-product-item__preview_link__wrap{
		display:none;
		margin-top:10px;
	}
	.b-product-item__preview_link{
		color:$cBlack;
		border-bottom:1px dotted $cBlack;
		text-decoration:none;
	}
}
.b-product-cart__certificates{
	img{
		margin:0px 10px 10px 0;
	}
}
.b-product-cart__table{
	td{
		padding-right:10px;
	}
	li{
		@include liRedMarker;
		margin:0 0 6px 16px;
		line-height:18px;
	}
	.b-product-cart__features{
		padding-right:20px;
		.b-more{
			margin-left:16px;
		}
	}
	.b-product_detail{
		padding-left:20px;
		line-height:17px;
		ul{
			margin-top:10px;
		}
	}
}
.b-product-cart__table-1col
{	
	td{
		width:100%;
	}
	.b-product_detail{
		padding-left:0px;
	}
}
.b-product-cart__table-2col{
	td{
		width:50%;
	}
}
.b-product-cart__table-3col{
	td{
		width:33%;
	}
	.b-product-cart__certificates{
		padding-left:45px;
	}
	.b-product-cart__package{
		padding-left:45px;
	}
}
.b-product-cart__accessories{
	margin: 20px 0 0 0;
	padding: 25px 0;
	/*border-bottom: 1px solid $cGrayLine;*/
}
.b-product-list__accessories{
	.b-product-item{
		width:180px;
		margin-right:9px;
	}
	.b-product-item__image{
		border-bottom:0px;
		text-align:center;
		min-height:130px;
	}
	.b-product-item__name{
		font-size:11px;
		font-weight:normal;
		height:50px;
		line-height:13px;
	}
	.b-product-item__buy{
		height:45px;
		line-height:45px;
		vertical-align:middle;
		.empty_price{
			line-height:normal;
			font-size:11px;
			display:inline-block; 
			margin-left:10px;
		}
	}
	.b-product-item__buy_button{
	}
	.b-product-item__buy_price{
		font-size:20px;
		color:$cRed;
		font-weight:bold;
		line-height:18px;
		padding-top:3px;
		span{
			font-size:12px;
		}
	}
	.b-product-item__buy_price5{
		font-size:15px;
	}
	.b-product-item__buy_price6{
		font-size:13px;
	}
	.b-product-item__buy_price7{
		font-size:11px;
		span{
			font-size:11px; 
		}
	}
}
.b-button_buy__add{
	font-size:11px;
	line-height:10px;
	background:$cRed;
	padding: 3px 4px 3px 0;
	span{
		padding: 3px 0 3px 30px;
		background: url("../images/icons_sprite.png") no-repeat scroll 5px -357px;
		text-align:left;
		display:inline-block;
		white-space: normal;
	}
	&:disabled {
		height:35px;
		vertical-align: top;
		span{
			background:none;
			padding-left:0px;
		}
	}
}
.b-product-item__buy_price{
	display:inline-block;
	width:58px;
}
.b-product-cart__video_item{
	float:left;
	margin-right:35px;
	margin-top:15px;
}
.b-product-cart__recommend{
	padding:15px 0px;
	margin:20px 0px 20px 20px;
	border-top:1px solid $cGrayLine;
	border-bottom:1px solid $cGrayLine;
}
.b-product-list__recommend{
	margin:15px 0 0 0;
	.b-product-item{
		width:180px;
		margin-right:9px;
	}
	.b-product-item__image{
		height:180px;
	}
	.b-product-item__prices{
		height:60px;
	}
	.b-product-item__name{
		/*height:130px;*/
	}
	.b-buy-credit{
		width:55px;
		margin:6px 0 0 2px;
	}
}
.b-product-item__category{
	font-size:12px;
	font-weight:normal;
}
.b-product-cart__similar{
	margin-bottom:20px;
}
.b-product-cart__help{
	margin:0 20px;
	padding:0 0 0 20px;
	width:229px;
	float:left;
}
.b-product-cart__help_phone{
	font-size:16px;
	font-weight:bold;
	margin:3px 0;
}
.b-product-cart__similar_news{
	width:650px;
	padding:10px 0 20px 0;
}
.b-product-cart__similar_manuf{
	width:650px;
	padding:10px 0 20px 0;
}
.b-product-cart__similar_category{
	width:650px;
	padding:10px 0 20px 0;
}
.b-product-cart__similar_manuf-item,
.b-product-cart__similar_category-item,
.b-product-cart__similar_news-item{
	display:inline-block;
	margin:7px 20px 0 0;
	width:auto;
	a{
		font-size:11px;
	}
}
.b-product-cart__similar_category-item{
	width:auto;
	padding-right:0px;
}
.b-product-cart__similar_right{
	float:left;
	width:650px;
	border-left:1px solid $cGrayLine;
	padding-left:20px;
}


.b-side-menu__product_cart{
	width:200px;
	border:1px solid silver;
	border-radius:4px;
	padding: 20px 20px 25px 20px;
	position: absolute;
	background:#FFF;
	z-index:200;
	margin-top:10px;
	.b-side-menu__items{
		margin-bottom:20px;
	}
}
.b-product-list__accessories{
	margin-top:20px;
}
.b-product-cart__accessories_item{
	display:inline-block;
	width:165px;
	margin-right:24px;
	margin-bottom:10px;
	vertical-align:top;
}
.x-accessory_items{
	display:inline;
}
.b-product-cart__guarantee{
	margin:20px 0;
}
.b-product-cart__guarantee_icon{
	width:31px;
	height:29px;
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -454px;
	margin:0 20px 0 30px;
	float:left;
}
.b-product-cart__guarantee_text{
	float:left;
	width:859px;
}
.b-product-cart__guarantee_select_text{
	font-size:16px;
	font-weight:bold;
	float:left;
	margin-right:20px;
	margin-top:8px;
}
.b-product-cart__guarantee_select_wrap{
	float:left;
}
.b-product-cart__guarantee_list{
	margin-top:25px;
	ul{
		margin:0px;
	}
}
.b-product-cart__guarantee_item{
	display:inline-block;
	min-height:50px;
	width:290px;
	padding-bottom:20px;
	padding-right:20px;
	vertical-align:top;
}
.b-product-cart__guarantee_item-hidden{
	display:none;
}
.b-product-cart__guarantee_item-title{
	font-size:16px;
	font-weight:bold;
}
.b-product-cart__guarantee_item-title{
	padding-bottom:10px;
}
.b-product-cart__guarantee_item-PHONE{
	padding-bottom:2px;
}
.b-product-cart__comments_items{
	margin-top:30px;
}
.b-product-cart__comments_item{
	border-bottom:1px dotted $cGray;
	padding-bottom:15px;
	margin-bottom:15px;
}
.b-product-cart__comments_add{
	position:absolute;
	display:inline-block;
	padding-top:4px;
	right:0px;
}
.b-product-cart__comments_name{
	float:left;
	font-weight:bold;
	font-size:13px;
}
.b-product-cart__comments_date{
	float:right;
	color:$cGray;
	font-size:11px;
}
.b-product-cart__comments_controls{
	float:left;
	color:$cGray;
	font-size:13px;
	margin-left:10px;
	span{
		margin-right:8px;
	}
	a{
		color:$cGray;
	}
}
.b-product-cart__comments_notice{
	float:left;
	color:$cRed;
	font-size:13px;
}
.b-product-cart__comments_rating{
	font-size:11px;
	font-weight:bold;
	margin:5px 0 10px 0;
	.x-rating_comment_vote{
		white-space: nowrap;
	}
}
.b-product-cart__comments_rating-item{
	display:inline-block;
	width:15px;
	height:14px;
	background: url("../images/icons_sprite.png") no-repeat scroll -18px -499px;
}
.b-product-cart__comments_rating-item_active{
	background: url("../images/icons_sprite.png") no-repeat scroll 0px -499px;
}	
.b-product-cart__comments_footer{
	margin:10px 0 0 0;
}
.b-product-cart__comments_vote{
	float:left;
	color:$cGrayFont;
	font-size:11px;
}
.b-product-cart__comments_vote-yes{
	color:$cGreen;
	text-decoration:none;
	border-bottom:1px dotted $cGreen;
	font-size:12px;
	margin:0 5px;
}
.b-product-cart__comments_vote-no{
	color:$cRed;
	text-decoration:none;
	border-bottom:1px dotted $cRed;
	font-size:12px;
}
.b-product-cart__comments_reply_link-wrap{
	float:right;
}
.b-product-cart__comments_reply_link{
		color:$cGrayFont;
		text-decoration:none;
		border-bottom:1px dotted $cGrayFont;
}
.b-product-cart__comments_reply_form_line {
	margin:10px 0;
}
.b-product-cart__comments_reply_form{	
	margin-top:20px;
	display:none;
	.b-product-cart__comments_reply_name,
	.b-product-cart__comments_reply_email,
	.b-product-cart__comments_reply_descr,
	.b-product-cart__comments_reply_rating{
		font-size:16px;
		font-weight:bold;
		float:left;
		text-align:right;
	}
	.b-product-cart__comments_reply_input{
		float:left;
	}
	.b-product-cart__comments_reply_email{
		margin: 0 15px; 
	}
	textarea{
		@include regTextInput;
		height:80px;
		resize: none;
		width:666px;
		margin-bottom:5px;
		padding: 5px;
	}
	input[type=text]{
		@include regTextInput;
		width:288px;
	}
	label{
		margin-left:4px;
	}
	.b-product-cart__comments_reply_name,
	.b-product-cart__comments_reply_descr{
		width:110px;
		margin-right:15px;
	}
	.b-product-cart__comments_reply_name,
	.b-product-cart__comments_reply_email{
		margin-top:6px;
	}
}
.b-button_send-reply{
	padding:7px 20px;
}
.b-product-cart__comments_reply_send{
	float:right;
	margin-right:15px;
}
.b-product-cart__comments_reply_cancel{
	float:right;
	margin-top:8px;
}
.b-product-cart__comments_reply_cancel-link{
	color:$cGrayFont;
	font-size:13px;
}
.b-product-cart__comments_items .b-product-cart__comments_items{
	margin-left:100px;
}
.b-product__tabs .b-red_h3{
	color:$cRed;
	font-size:20px;
	margin-top:25px;
}
.b-product-cart__comments_reply_mainform{
	display:block;
	.b-product-cart__comments_reply_email{
		width:110px;
		margin-left:0px;
		margin-top:6px;
	}
	textarea{
		width:288px;
		padding:5px 5px
	}
	.b-product-cart__comments_reply_rating{
		width:110px;
		margin-right:15px;
		margin-top:4px;
	}
	.b-product-cart__comments_reply_send{
		float:left;
		margin:20px 0 0 92px;
	}
}
.b-presale-item{
	float:left;
	width:445px;
	margin-right:50px;
	p{
		margin-bottom:10px;
		line-height:16px;
	}
	li{
		@include liRedMarker;
		margin:0 0 6px 16px;
		line-height:16px;
	}
}
.b-presale-item__even{
	margin-right:0px;
}
.b-presale-item__line{
	border-bottom: 1px solid #d6d6d6;
	padding-bottom:20px;
	margin-bottom:20px;
}
.b-presale-item__gray{
	background:#e8e8e8;
	padding:30px 30px 15px 30px;
	min-height:250px;
	width:405px;
	margin-top:20px;
}
.b-presale-item__line-last{
	border-bottom:0px;
	margin-bottom:0px;
}
.b-presale-item__gray-line td{
	padding-bottom:12px
}
.b-presale-item__gray-name{
	width:200px;
	padding-right:30px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	vertical-align:middle;
	span{
		display:block;
		font-size:12px;
		text-transform:none;
		font-weight:normal;
	}
	
}
.b-presale-item__gray-price{
	width:160px;
	font-size:26px;
	font-weight:bold;
	color:$cRed;
	vertical-align:middle; 
	span{
		font-size:14px;
		font-weight:normal
	}
}
.b-more{
	margin:10px 0;
}
.b-more__link{
	color:$cBlack;
	text-decoration:none;
	border-bottom:1px dotted $cBlack;
}
.b-more__link-arrow{
	@include redArrow;
	background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
}
.b-product-gray_line{
	background: $cGrayLine;
	width:100%;
	height:1px;
	margin:30px 0 20px 0;
}
.b-product-status{
	font-size:14px;
	font-weight:bold;
	margin:10px 0;
}
.b-product-properties__table-more{
	margin:15px 0 0 0;
}
.b-product-properties__table-more_arrow{
	@include redArrow;
	background: url("../images/icons_sprite.png") no-repeat scroll -25px -419px transparent;
}
.b-product-files{
	margin-top:20px;
	p{
		margin-bottom:10px;
	}
	div{
		p{
			margin:5px 0;
		}
	}
}
.b-product-cart__disclaimer{
	font-size:10px;
	margin-bottom:25px;
	padding-left:20px;
}
.b-breadcrumb_manuf{
	padding-top:13px;
	margin-left:194px;
	padding-left:25px;
	border-left:1px solid $cGray;
	
	.b-breadcrumb__link,
	span{
		display:inline-block;
		color:#fff;
		background:$cRed;
		font-size:11px;
		text-decoration:none;
		padding:5px;
		border-radius:3px;
		text-transform:none;
		margin-top:5px;
	}
	span{
		background:#fff;
		color:$cBlack;  
		padding-left:0px;
	}
	b{
		display:inline-block;
		width:5px;
		height:7px;
		background: url("../images/icons_sprite.png") no-repeat scroll -38px -1391px transparent;
		margin:0px 3px 0px 8px;
	}
}


/* Аналоги   */

.b-product_analogs_item {
	float: left;
	width: 260px;
	border: 2px solid #E8E8E8;
	border-bottom: none; 
	border-radius: 7px; 
	background-color: white;
	position: absolute;
}

.b-product_analogs_b-product-image {
	width: 130px;
	text-align:center;
	float: left;
}

.b-product_analogs_b-product-image_cherta {
    height:80px;
    width:2px;
	background-color:#E8E8E8;
	float:left;
	margin-top:-110px;
	margin-left:130px;
}

.b-product-image_analogs img {
	margin-top:20px;
	margin-bottom:20px;
  }

.b-product_analogs_title {
	display: inline-block;
	color: #fff;
	float: left;
	background: $cRed;
	font-size: 11px;
	text-decoration: none;
	border-radius: 0px 0px 7px 7px;
	text-transform: none;
	margin-top: 130px;
	width: 264px;
	

	   }

.b-product_analogs_title .b-breadcrumb__link {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	text-transform: none; 
  }
  
.b-breadcrumb__item_analogs_title {
	width: 120px;
	float: left; 
	padding: 10px;
	padding-right: 0px;
	padding-top: 14px
 }
 
.b-product_analogs_price {
	 width:132px;
	 text-align:center;
	 float:left;
	 color:#fff;
	 text-decoration: none;
 }
 
.b-product-cart__rotate3d{
	position:relative;
}
.b-product-cart__rotate3d-icon{
	position:absolute;
	top:0px;
	left:20px;
	background: url("../images/icons_big_sprite.png") no-repeat scroll 0px -350px transparent;
	width:72px;
	height:21px;
}
.b-product-all-analogs{
	position:relative;
	.b-rotator_arrows__left{
		top: 115px;
		width: 16px;
		height: 25px;
		left:-3px;
		background-color:transparent; 
		background-position:0px -1045px;
	}
	.b-rotator_arrows__right{
		top: 115px;
		width: 16px;
		height: 25px;
		right: -20px;
		background-color:transparent;
		background-position:-20px -1045px;
	}
}
.b-product-all-analogs__rotator{
	width: 240px; 
	min-height: 266px;
	overflow: hidden;
	z-index: 1;
	position: relative; 
	margin: 0px 0px 0px 12px;
}
.b-product-all-analogs__single{
	.b-product-all-analogs__rotator{
		margin-left: -8px;
	}
}
.b-product-all-analogs{
	.b-rotator__items{
		clear: both;
		position: absolute;
		width: 20000em;
		z-index: 1;
	}
	.b-rotator__item{
		margin: 10px 10px 0 10px;
		width: 230px;
		height:auto;
		.b-rotator__item-link{
			display:inline-block;
			border:2px solid #E8E8E8;
			border-radius:7px 7px 0px 0px;
			border-bottom:none;
			width:210px;
			min-height:100px;
			text-align:center;
			padding:8px;
		}
		img{
			max-width:194px;
			max-height:150px;
		}
	}
} 
.b-product-all-analogs-name{
	display:inline-block;
	width:210px;
	padding:8px;
	text-align:left;
	height:auto;
	border-radius: 0px 0px 7px 7px;
	border:2px solid #E8E8E8;
}
.b-product-all-analogs-name__link{
	font-size: 11px;
	color:black;
	font-weight:bold;
	max-height:41px;
	overflow:hidden;
	display:inline-block;
}
.b-product-all-analogs-price{
	font-size: 11px;
	text-decoration: none;
	color:black;
	font-weight:bold;
	padding-top:8px;
	display:inline-block;
}

.b-product-item__buy_button {
float:left;width:auto;
}

.b-product-item__buy_credit {
float: right;
margin-right: -7px;
width:auto;
}
.ocb_intaro_call{
	background: url('/bitrix/templates/.default/components/intaro/one.click.buy/smks/intaro_click.jpg');
	width: 144px;
	text-align: center;
	background-repeat: no-repeat;
	background-color: #00a19b;
	padding-left: 20px;
	padding: 7px 0 7px 20px;
}
.ocb_intaro_call_b-product-list {
	width: 87%;
	display: block;
	margin-bottom: 9px;
	padding: 6px 0 6px 20px;
}
/* ================================ END PRODCUT CART */