$cOrange: #f98d3b;


.i-site__stihl {
  a {
    color: $cOrange;
  }
  .b-title-link{
		color:$cBlack;
		text-decoration:none;
		&:hover{
			color:$cRed;
		}
	}

  .b-site_item {
    display: inline-block;
    width: 117px;
    height: 32px;
    margin: 5px 15px 5px 0;
  }
  .b-site_item__gg {
    background: url(../images/site_list_sprite.png) 0 0 no-repeat;
  }
  .b-site_item__viking {
    background: url(../images/site_list_sprite.png) 0 -34px no-repeat;
    margin-left: 15px;
    float: none;
  }

  .i-top-toolbar {
    height: auto;
    background: #f37b20;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Recent browsers */
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#ffae59),
        to(#f37b20)
    );
    background: -webkit-linear-gradient(
        top,
        #ffae59,
        #f37b20
    );
    background: -moz-linear-gradient(
        top,
        #ffae59,
        #f37b20
    );
    background: -o-linear-gradient(
        top,
        #ffae59,
        #f37b20
    );
    background: linear-gradient(
        top,
        #ffae59,
        #f37b20
    );
  }

  .b-head__logo {
    background: url(../images/logo_stihl.png) no-repeat 0 0;
    width: 432px;
    height: 120px;
  }
  .b-icon_big_phone {
    background: url("../images/icons_big_sprite.png") no-repeat scroll 0 -119px transparent;
  }
  .b-icon_big_delivery {
    background: url("../images/icons_big_sprite.png") no-repeat scroll -64px -119px transparent;
  }

  .b-phone__code,
  .b-phone__number {
    color: $cBlack;
  }

  .b-menu__link {
    color:$cWhite;
  }
  .b-menu__item:hover {
    background-color: $cOrange;
    &:after {
      border-color: transparent transparent transparent $cOrange;
    }
  }
  .b-icon_actions {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1100px transparent;
  }
  .b-icon_search {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1128px transparent;
  }


  .b-side-menu__item__link,
  .b-side-menu__inner__item__link {
    color: $cBlack;
    &:hover {
      color: $cOrange;
    }
  }
  .b-side-menu__inner__item__link_important {
    color: $cOrange;
  }

  .b-rotator_small {
    background: url("../images/small_rotator_bg_stihl.png") no-repeat scroll -140px 0 $cOrange;
  }
  .b-info-important {
    background-color: #9d4c0e;
  }
  .b-rotator__name {
    color: $cWhite;
  }
  .b-rotator_nav_link:hover {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1161px transparent;
  }
  .m-rotator_nav_link_active {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1161px transparent;
  }

  .b-product-item__link {
    color: $cBlack;
  }
  .b-product-item__status {
    /*text-transform: lowercase;
    text-align: center;
    color: $cWhite;
    font-weight: normal;
    padding: 1px;
    max-width: 200px;*/
  }
  .b-product-item__status_available,
  .b-product-item__status_in-stock {
    background-color: #009d2a;
  }
  .b-product-item__status_order,
  .b-product-item__status_find-availability {
    background-color: #ecab00;
  }
  .b-product-item__status_not-available,
  .b-product-item__status_stop-production {
    background-color: #e73937;
  }

  .b-product-item__buy {
    text-align: center;
  }
  /*.b-product-item__buy_button {
    width: auto;
  }*/
  .b-button {
    background: $cOrange;
	color:#FFF;
  }
	.b-button-gray{
		background: $cGray;
	}
  .b-button_buy {
    padding: 5px;
		color:#FFF;
  }
  .b-news-item__name_link {
    color: $cBlack;
  }

  .b-footer_nav__link {
    background-color: $cOrange;
    color: $cWhite;
  }
  .b-footer_nav__item_link {
    color: $cWhite;
  }
  .b-footer_external {
    background-color: $cOrange;
  }

  .b-side__link-block {
    background-color: $cOrange;
    color: $cWhite;
  }




  /* PRODUCT PAGE*/
  .b-breadcrumb__link,
  .b-product-tags__link {
    color: $cBlack;
  }
  .b-product__tabs_head__item_wrap-active {
    background-color: $cOrange;
    .b-product__tabs_head__item {
      background-color: $cOrange;
    }
    .b-product__tabs_head__item_tab {
      border-left-color: $cOrange;
    }
  }
  .b-product__tabs_head__item {
    color: $cWhite;
  }
  .b-product__tabs_subhead_line {
    background-color: $cOrange;
  }
  .b-product-cart__comments_vote-yes {
    color:$cGreen;
  }
  .b-product-cart__comments_vote-no {
    color:$cRed;
  }

  .b-product-list__accessories .b-product-item__buy_price {
    color: $cOrange;
  }
  .b-button_buy__add span {
    background: none;
    padding: 3px 0;
  }
  .b-button_buy__add {
    font-size: 13px;
  }
	.b-catalog-pagenav__item-active {
		background:$cOrange;
		a{
			color:#FFF;
		}	
	}
	.b-catalog-list_open__arrow_down, 
	.b-product-properties__table-more_arrow {
    background: url("../images/icons_sprite.png") no-repeat scroll 0px -1394px transparent;
	}
	.b-catalog-list_open__arrow_up {
    background: url("../images/icons_sprite.png") no-repeat scroll -9px -1394px transparent;
	}
	.b-breadcrumb__item_last{
		display:none;
	}
	.i-catalog{
		.b-breadcrumb__item_last{
			display:inline-block;
		}
		.b-breadcrumb__item_last_elem{
			display:none;
		}
	}
  .b-product-cart__table li {
    list-style-image: url("../images/list-marker-orange.png");
  }
	.modal_callback_hunter {
		background: #f98d3b;
		color: #fff;
	}
}

