//begin of - its only for local. doesnt need to add this style to battle site
@font-face {
  font-family: 'Bender';
  src: url("../font/bender/bender.eot");
  src: url("../font/bender/bender.eot?#iefix") format('embedded-opentype'),url("../font/bender/bender.woff") format('woff'),url("../font/bender/bender.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
//end of - its only for local. doesnt need to add this style to battle site
//begin of flexible styles
@import 'unit';
@media (max-width: 1030px) {
  #footer,
  #footerInfo,
  #header,
  #headerLine,
  #mainContent,
  .wrapper {
    min-width: 0;
  }

  #headerLeft {
    width: rem-calc(120);
    float: left;
    position: relative;

    img {
      width: 100%;
    }
  }

  ,
  .socButtons {
    display: none;
  }

  #headerRight {
    float: right;
    width: rem-calc(275);
  }

  #topContacts {
    width: calc(100% - 478px);
    margin-left: rem-calc(30);
    margin-right: rem-calc(0);
  }

  .security_system {
    font-size: rem-calc(12);
    position: absolute !important;
    left: auto !important;
    width: rem-calc(80);
    right: rem-calc(9);
    top: rem-calc(50) !important;
  }
}
@media (max-width: 910px) {
  .towns_line {
    display: none;
  }
}
@media (max-width: 700px) {
  #topMenu li ul {
    left: 0;
    right: auto;
  }

  #topContacts {
    display: none;
  }
}
@media (max-width: 500px) {
  .security_system {
    display:none;
  }
  #topMenu {
    margin-right: 0;
    float: right;
    padding-right: rem-calc(0);

    &>li {
      display: none !important;

      ul {
        left: auto;
        right: rem-calc(0);
      }

      &.slide {
        display: list-item !important;
        float: right;
        padding-right: rem-calc(0);
      }
    }
  }

  #headerRight {
    display: none;
  }

  #header {
    float: left;
    width: rem-calc(150);
  }

  #headerLine {
    float: left;
    height: auto;
    border-top: rem-calc(0) !important;
    box-shadow: none;
    width: calc(100% - 153px);
  }

  #headerLineRight {
    float: left;
    width: rem-calc(150);
    z-index: 10;
  }

  #topCart li {
    padding-left: rem-calc(9);
  }

  #headerLineLeft {
    float: right;
  }
}
//end of flexible styles
