.b-supersale{
	.b-product-item__prices{
		height:auto;
		margin-bottom:25px;
	}
	.b-product__price_active {
		color:$cBlack;
	}
}

.b-supersale__item{
	padding:40px 0;
	border-top: 1px solid #C0C0C0;
	.b-supersale__item-text{
		float:left;
		width:270px;
		margin-right:20px;
	}
	.b-supersale__item-image{
		float:right;
		width:290px;
	}
}
.b-supersale__item-even{
	.b-supersale__item-text{
		float:right;
		width:270px;
		margin-left:20px;
		margin-right:0px;
	}
	.b-supersale__item-image{
		float:left;
		width:290px;
	}
}
.b-supersale__item-first{
	border-top:0px;
} 
h2.b-supersale__item-name{
	margin:30px 0 20px 0;
	color:$cRed;
	font-size:18px;
	line-height:22px;
}
.b-supersale__item-button{
	padding:8px 15px 8px 25px;
	background: url("../images/white-arrow.png") no-repeat scroll 9px 10px #EC3D3F;
}
.b-supersale-header{
	height:100px;
	padding-top:24px;
	background: url("../images/supersale-header.png") no-repeat top right scroll;
	h1{
		font-size:40px;
	}
}
.b-supersale__item-noimage{
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	height: 280px;
	line-height: 280px;
	padding: 8px;
	text-align: center;
	img{
		vertical-align:middle;
	}
}
.b-supersale__banner{
	text-align:center;
	margin-bottom:25px;
}