$cGreen2: #55a94c;


.i-site__viking {
  a {
    color: $cGreen2;
  }
  .b-title-link{
		color:$cBlack;
		text-decoration:none;
		&:hover{
			color:$cRed;
		}
	}

  .b-site_item {
    display: inline-block;
    width: 117px;
    height: 32px;
    margin: 5px 15px 5px 0;
  }
  .b-site_item__gg {
    background: url(../images/site_list_sprite.png) 0 -102px no-repeat;
  }
  .b-site_item__viking {
    background: url(../images/site_list_sprite.png) 0 -68px no-repeat;
    margin-left: 15px;
    float: none;
  }

  .i-top-toolbar {
    height: auto;
    background: $cGreen2;
  }
  .b-top-toolbar__delim {
    background-color: $cWhite;
  }

  .b-head__logo {
    background: url(../images/logo_viking.png) no-repeat 0 0;
    width: 432px;
    height: 150px;
  }
  .b-icon_big_phone {
    background: url("../images/icons_big_sprite.png") no-repeat scroll 0 -183px transparent;
  }
  .b-icon_big_delivery {
    background: url("../images/icons_big_sprite.png") no-repeat scroll -64px -183px transparent;
  }

  .b-phone__code,
  .b-phone__number {
    color: $cBlack;
  }

  .b-menu__link {
    color:$cWhite;
  }
  .b-menu__item:hover {
    background-color: $cGreen2;
    &:after {
      border-color: transparent transparent transparent $cGreen2;
    }
  }
  .b-icon_actions {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1246px transparent;
  }
  .b-icon_search {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1274px transparent;
  }


  .b-side-menu__item__link,
  .b-side-menu__inner__item__link {
    color: $cBlack;
    &:hover {
      color: $cGreen2;
    }
  }
  .b-side-menu__inner__item__link_important {
    color: $cGreen2;
  }

  .b-rotator_small {
    background: $cGreen2;
  }
  .b-info-important {
    background-color: darken($cGreen2, 10%);
  }
  .b-rotator__name {
    color: $cWhite;
  }
  .b-rotator_nav_link:hover {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1308px transparent;
  }
  .m-rotator_nav_link_active {
    background: url("../images/icons_sprite.png") no-repeat scroll 0 -1308px transparent;
  }

  .b-product-item__link {
    color: $cBlack;
  }
  .b-product-item__status {
    /*text-transform: lowercase;
    text-align: center;
    color: $cWhite;
    font-weight: normal;
    max-width: 200px;
    padding: 1px;*/
  }
  .b-product-item__status_available,
  .b-product-item__status_in-stock {
    background-color: #009d2a;
  }
  .b-product-item__status_order,
  .b-product-item__status_find-availability {
    background-color: #ecab00;
  }
  .b-product-item__status_not-available,
  .b-product-item__status_stop-production {
    background-color: #e73937;
  }

  .b-product-item__buy {
    text-align: center;
  }
  .b-product-item__buy_button {
    width: 85px;
  }
  .b-button {
    background: $cGreen2;
	color:#fff;
  }
	.b-button-gray{
		background: $cGray;
	}
  .b-button_buy {
    padding: 5px;
		color:#fff;
  }

  .b-news-item__name_link {
    color: $cBlack;
  }

  .b-footer_nav__link {
    background-color: $cGreen2;
    color: $cWhite;
  }
  .b-footer_nav__item_link {
    color: $cWhite;
  }
  .b-footer_external {
    background-color: $cGreen2;
  }

  .b-side__link-block {
    background-color: $cGreen2;
    color: $cWhite;
  }


  /* PRODUCT PAGE*/
  .b-breadcrumb__link,
  .b-product-tags__link {
    color: $cBlack;
  }
  .b-product__tabs_head__item_wrap-active {
    background-color: $cGreen2;
    .b-product__tabs_head__item {
      background-color: $cGreen2;
    }
    .b-product__tabs_head__item_tab {
      border-left-color: $cGreen2;
    }
  }
  .b-product__tabs_head__item {
    color: $cWhite;
  }
  .b-product__tabs_subhead_line {
    background-color: $cGreen2;
  }
  .b-product-cart__comments_vote-yes {
    color:$cGreen;
  }
  .b-product-cart__comments_vote-no {
    color:$cRed;
  }

  .b-product-list__accessories .b-product-item__buy_price {
    color: $cGreen2;
  }
  .b-button_buy__add span {
    background: none;
    padding: 3px 0;
  }
  .b-button_buy__add {
    font-size: 13px;
  }
	.b-catalog-pagenav__item-active {
		background:$cGreen2;
		a{
			color:#FFF;
		}	
	}
	.b-catalog-list_open__arrow_down, 
	.b-product-properties__table-more_arrow {
    background: url("../images/icons_sprite.png") no-repeat scroll -18px -1394px transparent;
	}
	.b-catalog-list_open__arrow_up {
    background: url("../images/icons_sprite.png") no-repeat scroll -27px -1394px transparent;
	}
	.b-breadcrumb__item_last{
		display:none;
	}
	.i-catalog{
		.b-breadcrumb__item_last{
			display:inline-block;
		}
		.b-breadcrumb__item_last_elem{
			display:none;
		}
	}
  .b-product-cart__table li {
    list-style-image: url("../images/list-marker-green.png");
  }
	.modal_callback_hunter {
		background: #55a94c;
		color: #fff;
	}
}