.b-wikimart-table {
table {
border:solid 1px grey;
}
tr {
border:solid 1px grey;
}
td {
border:solid 1px grey;
text-align:left;
padding:3px;
	a {
	color:black;
	}
}
th{
border:solid 1px grey;
font-weight:bold;
text-align:left;
padding:2px;
}
}