extends shop-regular

block content
    include components/shop/_quickview-product
    include components/shop/_add-to-favourites-auth-popup

    .content
        .row
            .small-12.medium-4.large-3.columns
                //-include components/shop/_nav-link-compare
                include components/shop/_nav-catalog-toggle
                //-include components/shop/_nav-catalog-section
                include components/shop/_nav-catalog
                //-.dropdown-pane#catalog-filter-dropdown(data-dropdown)
                    include components/shop/_filter-catalog
            .small-12.medium-8.large-9.columns
                block catalogAddon

                block catalogBody
                    h1.section-header 404: Страница не найдена
    .content
        .row.column
            h4 Вы смотрели
        include components/shop/_products-viewed
