extends user-account

block userAccount
    h1 Сменить пароль
    br
    .row
        .column.small-12.large-8
            form(action='user-access-data.html')
                label Старый пароль
                input(type='password')

                label Новый пароль
                input(type='password')

                label Повторите новый пароль
                input(type='password')

                button.button.small-expanded Сохранить