extends components/_index

block body
    .content(style='background: #fafafa;')
        .row
            .column.small-12.medium-10.large-8.medium-centered
                h1 Прототип
                br
                ol
                    li
                        a(href='cart.html' target='_blank') cart.html
                    li
                        a(href='change-password.html' target='_blank') change-password.html
                    li
                        a(href='checkout.html' target='_blank') checkout.html
                    li
                        a(href='login.html' target='_blank') login.html
                    li
                        a(href='order.html' target='_blank') order.html
                    li
                        a(href='order-confirmation.html' target='_blank') order-confirmation.html
                    li
                        a(href='orders.html' target='_blank') orders.html
                    li
                        a(href='recover-password.html' target='_blank') recover-password.html
                    li
                        a(href='recover-password-confirmation.html' target='_blank') recover-password-confirmation.html
                    li
                        a(href='registration-confirmation.html' target='_blank') registration-confirmation.html
                    li
                        a(href='user-access-data.html' target='_blank') user-access-data.html
                    li
                        a(href='user-account.html' target='_blank') user-account.html
                    li
                        a(href='user-balance.html' target='_blank') user-balance.html
                    li
                        a(href='user-balance-history.html' target='_blank') user-balance-history.html
                    li
                        a(href='user-balance-refill.html' target='_blank') user-balance-refill.html
                    li
                        a(href='user-delivery-data.html' target='_blank') user-delivery-data.html
                    li
                        a(href='user-personal-data.html' target='_blank') user-personal-data.html
                    li
                        a(href='user-personas.html' target='_blank') user-personas.html
                    li
                        a(href='user-subscription.html' target='_blank') user-subscription.html
                    li
                        a(href='wishlist.html' target='_blank') wishlist.html