extends components/_regular

block content
    .row
        .column.small-12.medium-9.large-8.medium-centered
            br
            br
            .callout
                h1 Спасибо за заказ!
                br

                p.lead Копия заказа отправлена вам по электронной почте

                p
                    a.button(href='#', title='') Оплатить заказ

            section.accordion(data-accordion data-allow-all-closed='true')
                .accordion-item(data-accordion-item)
                    a.accordion-title(href='#', title='') Показать подробности заказа
                    .accordion-content(data-tab-content)
                        a.medium-float-right(href='#', title='') Распечатать заказ

                        include components/shop/_order
            p &#160;

            p.text-center  Есть вопросы? —
                = ' '
                a(href='#') Контакты
                = ', '
                a(href='#', title='') Помощь покупателю
            p.text-center
                a(href='#', title='В каталог') Вернуться в каталог
