extends components/_regular

block page
    .content
        .row
            .small-12.medium-6.large-4.medium-centered.column
                h1 Восстановить пароль

                p.text-dark-gray Введите адрес электронной почты (email), указанный при регистрации. Вы получите ссылку для восстановления пароля.
                form
                    label Адрес электронной почты
                    input(type='email')
                    a(href='recover-password-confirmation.html').button.small-expanded Восстановить пароль

                p
                    a(href="login.html") ← Вернуться