extends components/_regular

block page
    .content
        .row
            .small-12.medium-6.large-4.medium-centered.column
                .callout
                    p.text-center.lead Если пользователь с таким email у нас зарегистрирован, на электронную почту высланы инструкции по восстановлению пароля

                p
                    a(href="login.html") ← Вернуться