extends components/_regular

include components/mixins/_mixin-login-form

block page
    .content
        .row
            .column.small-12.medium-6.large-4.medium-centered
                .callout.text-center
                    h3 Спасибо за регистрацию!
                    p На почту 123@123.ru, указанную при регистрации, выслано письмо для подтверждения регистрации.
            br
            br
