extends shop-regular

block content
    include components/shop/_quickview-product
    include components/shop/_add-to-favourites-auth-popup

    .content
        .row
            .small-12.medium-4.large-3.columns
                //-include components/shop/_nav-link-compare
                include components/shop/_nav-catalog-toggle
                //-include components/shop/_nav-catalog-section
                include components/shop/_nav-catalog-shape
                //-.dropdown-pane#catalog-filter-dropdown(data-dropdown)
                    include components/shop/_filter-catalog
            .small-12.medium-8.large-9.columns
                h1.section-header.shape-header Силуэт "Песочные часы"
                block catalogAddon

                block catalogBody
                    include components/shop/_shape-type

                    include components/mixins/_mixin-product-tile
                    #search-filter.show-for-medium.filter-figure(data-toggler='show-for-medium')
                        include components/shop/_filter-catalog
                    .row
                        .small-12.medium-9.large-10.column
                            include components/shop/_filter-selected-items
                        .small-12.medium-3.large-2.column
                            include components/shop/_catalog-sort
                    br
                    .row.small-up-1.medium-up-2.large-up-4(data-eualizer="cat-page")
                        +productTile('Платье Vis-a-vis','g1', '1','cat-page')
                        +productTile('Брюки спортивные Pucci','g2','2','cat-page')
                        +productTile('Топ Rachel Rachel Roy','g3','3','cat-page')
                        +productTile('Брюки спортивные','g1','4','cat-page')
                        +productTile('Бриджи Tommy Hilfinger','g5','5','cat-page')
                        +productTile('Шорты Mohinto','g6','cat-page')
                        +productTile('Платье MARIA COCA','g7','cat-page')
                        +productTile('Платье Петербургский Швейный Дом','g8',false,'discount','cat-page')
                        +productTile('Топ Karen Millen','g9','cat-page')
                        +productTile('Платье Karen Millen','g10','cat-page')
                        +productTile('Топ Rachel Rachel Roy','g11','discount','cat-page')
                        +productTile('Брюки Dolce&Gabbana','g12','cat-page')

                        +productTile('Платье Vis-a-vis','g5','cat-page')
                        +productTile('Брюки спортивные Emilio Pucci','g8','cat-page')
                        +productTile('Топ Rachel Rachel Roy','g2','cat-page')
                        +productTile('Брюки спортивные','g3','cat-page')
                        +productTile('Бриджи Tommy Hilfinger','g6','cat-page')
                        +productTile('Шорты Mohinto','g9','cat-page')
                        +productTile('Платье MARIA COCA','g12','cat-page')
                        +productTile('Платье Петербургский Швейный Дом','g9',false,'discount','cat-page')
                        +productTile('Топ Karen Millen','g7','cat-page')
                        +productTile('Платье Karen Millen','g5','cat-page')
                        +productTile('Топ Rachel Rachel Roy','g8','discount','cat-page')
                        +productTile('Брюки Dolce&Gabbana','g3','cat-page')
                    .row.column.text-center
                        a.button.show-more(href="#") Показать еще
                        //include components/common/_pagination
    .content
        .row.column
            h4 Вы смотрели
        include components/shop/_products-viewed
