extends user-account

block userAccount
    -
        var data = [
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'success',
            'transaction':'пополнение',
            'sum':'20 000'
            },
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'warning',
            'transaction':'списание',
            'sum':'20 000'
            },
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'success',
            'transaction':'пополнение',
            'sum':'40 000'
            },
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'warning',
            'transaction':'списание',
            'sum':'40 000'
            },
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'warning',
            'transaction':'списание',
            'sum':'60 000'
            },
            {
            'date':'06.09.2016',
            'order':'№ 123456789',
            'statusClass': 'success',
            'transaction':'пополнение',
            'sum':'30 000'
            }
        ]

    h2 История платежей

    .row
        .medium-2.column: b Дата
        .medium-3.column: b Заказ
        .medium-3.column: b Операция
        .medium-2.column: b Сумма
        .medium-2.column: b Документы

    each item in data
        .row
            .medium-2.column= item.date
            .medium-3.column= item.order
            .medium-3.column
                span.label(class='#{item.statusClass}')= item.transaction
            .medium-2.column= item.sum
            .medium-2.column: a(href='#', title='') Скачать
            .column
                br
                hr.hide-for-large
                br.hide-for-large