extends user-account

block userAccount
    h2 Пополнить баланс с помощью

    .row
        .small-12.medium-4.column
            .callout.text-center
                br
                br
                a(href='#', title='') Visa, MasterCard
                br
                br
        .small-12.medium-4.column
            .callout.text-center
                br
                br
                a(href='#', title='') Яндекс.Деньги
                br
                br
        .small-12.medium-4.column
            .callout.text-center
                br
                br
                a(href='#', title='') Безналичный перевод
                br
                span.text-dark-gray Выставить счёт