extends user-account

block userAccount
    h2 Данные плательщика

    .row
        .column.small-12.large-8
            form#user-account-form(data-toggler='show-corporate-data')
                fieldset
                    input#usertype1(type='radio' name='usertype' data-toggle='user-account-form' checked)
                    label(for='usertype1') Физ. лицо
                    input#usertype2(type='radio' name='usertype' data-toggle='user-account-form')
                    label(for='usertype2') Юр. лицо

                fieldset.fieldset
                    legend.user-account-form_corporate-data Персональные данные

                    label Имя *
                    input(type='text' required)

                    label Фамилия
                    input(type='text')

                    label Контактный телефон *
                    input(type='text' required)

                    label.user-account-form_corporate-data Должность
                        input(type='text')

                fieldset.fieldset.user-account-form_corporate-data
                    legend.user-account-form_corporate-data Данные организации

                    label Название организации
                    input(type='text')

                    label ФИО руководителя
                    input(type='text')

                    label ИНН
                    input(type='text')

                    label ОГРН
                    input(type='text')

                    label КПП
                    input(type='text')

                    label Расчётный счёт
                    input(type='text')

                    label БИК
                    input(type='text')

                    label Корр. счёт
                    input(type='text')

                    label Название банка-получателя
                    input(type='text')

                    label Юридический адрес
                    input(type='text')

                    label Фактический адрес
                    input(type='text')

                    label Телефон организации
                    input(type='text')

                button.button Сохранить
                | &#160; &#160;
                button.button.secondary Удалить