extends user-account

block userAccount
    h2 Получать на электронную почту

    .row
        .column.small-12.large-8
            form
                label
                    input(type='checkbox' checked required disabled)
                    | Информацию о заказах
                label
                    input(type='checkbox')
                    | Сообщения о наших акциях
                label
                    input(type='checkbox')
                    | Сообщения про обновления ассортимента
                br
                p
                    button.button Сохранить