extends components/_authorized

block content
    .row
        .column.small-12.medium-4.large-3
            .hide-for-medium.button.hollow(data-toggle='menu-section')
                i.fa.fa-bars &#160;
                | Меню личного раздела
            .show-for-medium#menu-section(data-toggler='show-for-medium')
                include components/account/_nav-account
        .column.small-12.medium-8.large-9
            block userAccount
                .callout.text-center
                    p.lead
                        = 'Ваш '
                        a(href='#') заказ №123 от 30.06.2016
                        = ' подтверждён'

                    a.button(href='#', title='') Оплатить заказ

                .row
                    .small-12.medium-4.column
                        .callout.text-center
                            br
                            br
                            a(href='#', title='') Корзина
                            br
                            br
                    .small-12.medium-4.column
                        .callout.text-center
                            br
                            br
                            a(href='#', title='') Отложенные товары
                            br
                            br
                    .small-12.medium-4.column
                        .callout.text-center
                            br
                            br
                            a(href='#', title='') Заказы
                            br
                            br
        p &#160;
