extends user-account

block userAccount
    h2 Плательщики

    a.button.hollow.success(href='#', title='') Добавить плательщика

    - var n = 0
    while n < 4
        - n++
        .row
            .small-10.large-11.column
                a(href="user-personal-data.html" title='Реквизиты плательщика') Название плательщика
            .small-2.large-1.text-center.large-text-left.column
                a.lead(href="" title='Удалить плательщика')
                    img(src='./images/delete-circle.svg' style='width: 28px; margin-top: -.5em;' alt='&times;')
            .column
                br
                hr.hide-for-large
                br.hide-for-large