extends user-account

block userAccount
    h2.section-header Мои подписки

    .row
        form
            .small-12.column
                label.hide
                    input(type='checkbox')
                    | По SMS
                label
                    input(type='checkbox')
                    | По электронной почте

                br
                hr
                br


                label
                    input(type='checkbox' checked required disabled)
                    | Информацию о заказах
                label
                    input(type='checkbox')
                    | Сообщения о наших акциях и новинках

                br
                hr
                br





            .small-12.column.themes
                p: b Я хочу получать дополнительные новости:
            .row.column
                .small-12.medium-3.column
                    p.text-grey: b Для женщин
                    label
                        input(type='checkbox')
                        | Тренды
                    label
                        input(type='checkbox')
                        | Премиум
                    label
                        input(type='checkbox')
                        | Спорт
                    label
                        input(type='checkbox')
                        | Красота

                .small-12.medium-3.column
                    p.text-grey: b Для мужчин
                    label
                        input(type='checkbox')
                        | Тренды
                    label
                        input(type='checkbox')
                        | Премиум
                    label
                        input(type='checkbox')
                        | Спорт
                    label
                        input(type='checkbox')
                        | Красота

                .small-12.medium-3.column
                    p.text-grey: b Дом и сад
                    label
                        input(type='checkbox')
                        | Все для хозяйства
                    label
                        input(type='checkbox')
                        | Товары для кухни
                    label
                        input(type='checkbox')
                        | Домашний текстиль
                    label
                        input(type='checkbox')
                        | Бытовая техника
                .small-12.medium-3.column
                    label
                        input(type='checkbox')
                        b Красота и здоровье
            .row.column.text-center
                br
                br
                a.button(href="#") Сохранить






