extends user-account

block userAccount
    h2 Регистрационные данные пользователя

    .row
        .column.small-12.large-8
            p
                span.text-dark-gray Электронная почта (логин): &#160;
                | user@email.com
            p
                span.text-dark-gray Пароль: &#160;
                a(href='change-password.html' title='') Сменить пароль