extends user-account

block userAccount
    h2 Баланс

    .row
        .column.small-12.large-8
            p
                span.text-dark-gray Средства на счету: &#160;
                | 30 000 руб
            p
                span.text-dark-gray Сумма заказов, ожидающих оплаты: &#160;
                | 60 000 руб
            p
                span.text-dark-gray Задолженность: &#160;
                | 10 000 руб
            p
                span.text-dark-gray Сальдо: &#160;
                span.text-alert –40 000 руб