.about {
    margin-left: 20px;
    list-style-type: none;
    margin-top: 17px;
    margin-bottom: 17px;

    &__item {
        display: inline-block;
        margin-right: calc(20% - 50px);

        &.active a {
            color: #ca3034;
        }
    }

    &__link {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
    }
    @include breakpoint(medium down) {
        margin-left: 0;
    }
    @include breakpoint(small only) {
        margin-top: 10px;
        margin-bottom: 0;

        &__item {
            margin-left: calc(10% - 25px);
            margin-right: calc(10% - 25px);
        }
    }
}
