.brick {
    background: #fff;
    padding-top: 25px;

    &__pass {
        padding-left: 16px;
        padding-right: 16px;
    }

    &_partners {
        margin-bottom: 20px;
    }

    &_world {
        background-color: #ebebeb;
    }

    &_photo {
        background-color: #6dd7ff;
    }

    &__all {
        color: #04205c;
        font-size: 14px;
    }

    &__title {
        color: #000;
        font-size: 24px;
        margin-bottom: 21px;
        text-transform: uppercase;
        font-family: $font-family-futurademicregular;
    }
    @include breakpoint(medium down) {
      &__pass {
        padding-left: 0;
        padding-right: 0;
      }
    }
    @include breakpoint(small only) {
        &__title {
            font-size: 18px;
        }
    }
}
