@font-face {
    font-family: 'futurabookcregular';
    src: url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.eot');
    src: url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.eot?#iefix') format('embedded-opentype'), url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.woff2') format('woff2'), url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.woff') format('woff'), url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.ttf') format('truetype'), url('#{$fontsPath}/futurabookcregular/futurabookc-webfont.svg#futurabookcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font-family-futurabookcregular: 'futurabookcregular',Arial,sans-serif;
@font-face {
    font-family: 'futurademicregular';
    src: url('#{$fontsPath}/futurademicregular/futurademic-webfont.eot');
    src: url('#{$fontsPath}/futurademicregular/futurademic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$fontsPath}/futurademicregular/futurademic-webfont.woff2') format('woff2'), url('#{$fontsPath}/futurademicregular/futurademic-webfont.woff') format('woff'), url('#{$fontsPath}/futurademicregular/futurademic-webfont.ttf') format('truetype'), url('#{$fontsPath}/futurademicregular/futurademic-webfont.svg#futurademicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font-family-futurademicregular: 'futurademicregular',Arial,sans-serif;
