.header {
    margin-bottom: 22px;

    &__main {
        background-color: #1a1c27;
    }

    &__input {
        height: 26px;
        border-radius: 13px;
        background: url(../images/search.png)no-repeat 3px center;
        color: #fff;
        padding-left: 23px;
        padding-right: 10px;
        border-style: solid;
        outline: none;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 296px;
    }

    &__our {
        display: inline-block;
        width: 100%;
        color: #fff;
        margin-right: -10px;
        height: 55px;
        padding-left: 75px;
        font-size: 16px;
        padding-right: 29px;
        padding-top: 10px;
        line-height: 1.25;
        font-family: $font-family-futurademicregular;
        max-width: 296px;
        background: #124170 url('../images/3-layers.png') no-repeat left;
    }

    &__reg {
        padding: 19px 0 18px;
    }

    &__enter {
        color: #fff;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .header {
        &__our {
            font-size: 13px;
        }
    }
}
@include breakpoint(medium down) {
    .header {
        &__our {
            padding-right: 10px;
            font-size: 15px;
        }

        &__input {
            width: 100%;
        }
    }
}
@include breakpoint(small only) {
    .header {
      &__reg {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
      }
        &__input {
            margin-top: 0;
            margin-bottom: 10px;
        }

        &__our {
            font-size: 18px;
            margin-right: 0;
        }
    }
}
