.soc {
    padding-top: 16px;
    padding-bottom: 5px;
    position: relative;

    &:after,
    &:before {
        width: 1px;
        height: 31px;
        background-color: #fff;
        content: "";
        position: absolute;
        left: 3px;
        top: 12px;
        display: block;
    }

    &:after {
        right: 3px;
        left: auto;
    }

    &_foot {
        &:after,
        &:before {
            display: none;
        }

        .soc__icon {
            margin-bottom: 20px;
        }
    }

    &__icon {
        background: url('../images/sprite-my.png') no-repeat 0 0;
        width: 23px;
        height: 24px;
        display: inline-block;
        margin-right: 4px;
        margin-left: 4px;

        &_vk {
            background: url('../images/sprite-my.png') no-repeat -86px -88px;
        }

        &_in {
            background: url('../images/sprite-my.png') no-repeat -43px -44px;
        }
    }
    @include breakpoint(small only) {
        &:before {
            display: none;
        }
    }
}
