.upwork {
    margin-left: 45px;
    list-style-type: none;

    &__item {
        &.active a {
            color: #ca3034;
        }
    }

    &__link {
        color: #fff;
        font-size: 12px;
        display: block;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    @include breakpoint(medium down) {
        margin-left: 0;

        &_center {
            margin-bottom: 0;

            li {
                margin-left: 10px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    @include breakpoint(small only) {
        &_mini {
            li {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}
