doctype html
html(lang='ru')
  include components/service/_head
  body
    .world
      header.header
        .header__logo Alex Ochirov
        .header__block
          a(href="#portfolio").header__link Портфолио
          a(href="#about").header__link Обо мне
    main.manner
      .manner__info
        .manner__links#portfolio
          a(class='manner__link' href='https://alexochirov.github.io/Best/aksc/dist/') https://alexochirov.github.io/Best/aksc/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/bmc/dist/catalog.html') https://alexochirov.github.io/Best/bmc/dist/catalog.html
          a(class='manner__link' href='https://alexochirov.github.io/Best/bmc/dist/card.html') https://alexochirov.github.io/Best/bmc/dist/card.html
          a(class='manner__link' href='https://alexochirov.github.io/Best/bssc/dist/') https://alexochirov.github.io/Best/bssc/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/ERFC/dist/') https://alexochirov.github.io/Best/ERFC/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/esd/dist/') https://alexochirov.github.io/Best/esd/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/fsc/dist/') https://alexochirov.github.io/Best/fsc/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/lux/dist/') https://alexochirov.github.io/Best/lux/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/NRMD/dist/') https://alexochirov.github.io/Best/NRMD/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/PAS%20main/dist/') https://alexochirov.github.io/Best/PAS%20main/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/rgc/dist/') https://alexochirov.github.io/Best/rgc/dist/
          a(class='manner__link' href='https://alexochirov.github.io/Best/segd/dist/') https://alexochirov.github.io/Best/segd/dist/
        #about
          p Люблю верстать. Использую в работе HTML, шаблонизатор PUG, использую методологию БЭМ, CSS, препроцессоры LESS и SCSS(этот мне нравится больше); большую часть сайтов сверстал на CSS-фреймворке Foundation, но также знаком и с Bootstrap; применяю Javascript, библиотеку Jquery и сборщик Gulp.
          p Знаком с GIT.
          p В свободное время изучаю нативный JS.
      
  
    include components/service/_js
