extends smi-regular

block content
  .grid-container.info: .grid-x.grid-padding-x.align-center
    .cell.text-center
      h1: a.worker(href='arch-article.html' title='Весь номер')
        | «Северный рабочий», 23 марта 1986 г.
    .cell.large-16.text-left.medium-text-justify
      h2 Заголовок статьи с полным текстом
      .info__autor Николай Симферополев • 16 Ноября 1986 г
      p Парадигма трансформации общества верифицирует конструктивный феномен толпы. Референдум ограничивает гносеологический феномен толпы, впрочем, не все политологи разделяют это мнение. Капиталистическое мировое общество стабильно. Либерализм ограничивает доиндустриальный тип политической культуры, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Управление политическими конфликтами доказывает христианско-демократический национализм.
      p Трансформации общества верифицирует конструктивный феномен толпы. Референдум ограничивает гносеологический феномен толпы, впрочем, не все политологи разделяют это мнение. Капиталистическое мировое общество стабильно. Либерализм ограничивает доиндустриальный тип политической культуры, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Управление политическими конфликтами доказывает христианско-демократический национализм.
      p Общества верифицирует конструктивный феномен толпы. Референдум ограничивает гносеологический феномен толпы, впрочем, не все политологи разделяют это мнение. Капиталистическое мировое общество стабильно. Либерализм ограничивает доиндустриальный тип политической культуры, отмечает автор, цитируя К.Маркса и Ф.Энгельса. Управление политическими конфликтами доказывает христианско-демократический национализм.
