doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    .info
      .grid-container
        .grid-x.grid-padding-x: .cell
          h1 Прототипы
    .info
      .grid-container
        .grid-x.grid-padding-x: .cell
          include components/smi/_sitemap
    include components/service/_js
