extends smi-regular
block content
  .grid-container: .grid-x.grid-padding-x
    .small-24.large-16.cell.small-order-2.large-order-1.info
      include components/arch/_search-box
      .grid-x.grid-padding-x.align-middle
        .cell
          h3 Результаты поиска:&nbsp;текст поискового запроса
      
        .cell.small-auto.medium-shrink
      .info
        include components/arch/_search-result
        include components/common/_pagination
    .small-24.large-8.small-order-1.large-order-2.cell
      .aside-right
        h4 Уточнить результаты
        ul.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')
          include components/arch/_filter-by-date
          include components/arch/_filter-by-edition
          include components/arch/_filter-by-added
