extends smi-regular
block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Расширенный поиск
  .grid-container: .grid-x.grid-padding-x
    .small-24.large-16.cell.small-order-2.large-order-1.info

      include components/common/_search
    .small-24.large-8.small-order-1.large-order-2.cell
      .callout
        h4 Как искать
        p Психология восприятия рекламы, конечно, ускоряет конструктивный инвестиционный продукт. Метод изучения рынка, в рамках сегодняшних воззрений, масштабирует формирование имиджа. Ретроконверсия национального наследия усиливает принцип восприятия.
