.b-content {
  padding-top: 38px;
  background: #fff;
  &__pagination {
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    &_room {
    float: left;
    margin-left: 30%;
    margin-top: 60px;
    }
  }
}
@media (max-width:960px) {
  .b-content {
    padding-top: 10px;
  }
}
@media (max-width:640px) {
  .b-content {
    padding-top: 0px;
    &__pagination_room {
    margin-top: 0;
    margin-left: 15%;
    }
  }
}
@media (min-width:640px) and (max-width:960px) {
  .b-content__pagination_room {
    margin-top: 10px;
  }
}