.b-films
{
    margin-bottom: 56px;
    padding-right: 5px;
    padding-left: 15px;

    background: #fff;
    &__delimiter
    {
        width: 100%;
        height: 1px;

        background-color: #eee;
    }
    &__film
    {
        margin-right: -5px;
        margin-left: -15px;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 15px;
        &:hover
        {
            background-color: #eee;
        }
    }
    &__place
    {
        font-family: 'PT_Serif_Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        padding-top: 5px;
        padding-bottom: 14px;

        color: #9a9a9a;
    }
    &__name
    {
        &-link
        {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            color: #282828;
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
    &__time
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        float: left;

        padding-right: 15px;

        color: #00c3d8;
    }
    &__title
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        padding-top: 16px;
        padding-bottom: 3px;

        color: #454545;
        border-top: 1px solid #eee;
    }
    &__show-all
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        display: block;

        width: 100%;
        margin-right: -5px;
        margin-left: -15px;
        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;
        text-transform: uppercase;

        color: #999;
        border: 1px solid #999;
        border-radius: 17px;
    }
}
