.b-menu
{
    &__list
    {
        margin: 0;
        padding-right: 14px;
        padding-left: 14px;

        list-style-type: none;

        border-bottom: 1px solid #e3e3e3;
        &-item
        {
            float: left;

            height: 66px;
            margin-right: 66px;
            &:last-child
            {
                margin-right: 0;
            }
            &:hover
            {
                border-bottom: 3px solid #00c3d8;
            }
        }
        &-link
        {
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;

            display: block;

            width: 100%;
            height: 100%;
            padding-top: 15px;

            color: #2c2c2c;
            &:hover
            {
                color: #2c2c2c;
            }
            &_active
            {
                color: #00c3d8;
            }
        }
    }
}
@media (max-width:1230px) {
    .b-menu {
        &__list {
            &-item {
                margin-right: 30px;
            }
        }
    }
}
@media (max-width:877px) {
    .b-menu {
        &__list {
            &-item {
                margin-right: 16px;
            }
        }
    }
}
@media (max-width:760px) {
    .b-menu {
        display: none;
    }
}