.b-partners
{
    &__title
    {
        margin-bottom: 100px;
        padding-top: 16px;
        padding-left: 21px;

        
    }
    &__part
    {
        display: inline-block;
        border-bottom: 2px solid #3ea7b3;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__h1
    {
        font-size: 33px;
        font-weight: 400;
        line-height: 18px;

        color: #2c2c2c;
    }
    &__img
    {
        text-align: center;
    }
    &__name
    {
        padding-top: 43px;
        &-link
        {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            color: #00c3d8;
        }
    }
    &__text
    {
        font-family: 'PT_Serif_Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        color: #999;
    }
    &__block
    {
        margin-bottom: 100px;
    }
}
@media (max-width:960px)
{
    .b-partners
    {
        &__title
        {
            margin-bottom: 0;

            text-align: center;
        }
        &__block
        {
            margin-bottom: 5px;
        }
        &__name
        {
            padding-top: 5px;
        }
        &__title {
            background-position: center 26px;
            padding-left: 0;
            padding-top: 20px;
        }
        &__h1 {
            font-size: 29px;
        }
    }
}
@media (max-width:640px)
{
    .b-partners
    {
        &__name
        {
            padding-right: 15px;
            padding-left: 15px;

            text-align: center;
        }
        &__text
        {
            width: 60%;
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
@media (max-width:440px)
{
    .b-partners
    {
        &__text
        {
            width: 100%;
        }
    }
}
