.b-search
{
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: #eee;
    &__title
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        padding-top: 22px;
        padding-bottom: 19px;
        padding-left: 15px;

        text-transform: uppercase;

        color: #454545;
    }
    &__name
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        width: 100%;
        padding-bottom: 10px;

        color: #979ca4;
    }
    &__block
    {
        padding-right: 8px;
        &_long
        {
            padding-right: 0;
        }
        &_high
        {
            padding-top: 33px;
        }
    }
    .b-search__input
    {
        font-family: 'PT_Serif_Italic';
        font-size: 16px;
        font-style: italic;
        line-height: 24px;

        padding-left: 15px;

        color: #cfd0d2;
        border: 1px solid #cacaca;
        border-radius: 18px;
        background-color: #fefefc;
    }
    .b-search__select
    {
        font-family: 'PT_Serif_Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 15px;

        color: #454545;
        border: 1px solid #cacaca;
        border-radius: 18px;
        background-color: #fefefc;
        background-image: url('../images/select-ico.png');
        background-position: right 15px;
    }
    &__city
    {
        font-family: 'PT_Serif_Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #2c2c2c;
    }
    &__change
    {
        font-family: 'PT_Serif_Italic';
        font-size: 16px;
        font-style: italic;
        line-height: 24px;

        display: block;

        width: 131px;
        margin-top: -6px;
        padding-top: 5px;
        padding-bottom: 5px;

        text-align: center;
        text-decoration: underline;

        color: #f64c4b;
        border: 1px solid #f64c4b;
        border-radius: 18px;
    }
    &__cheblock
    {
        position: relative;
    }
    .b-search__inp
    {
        display: none;
    }
    .b-search__checkbox
    {
        font-family: 'PT_Serif_Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        margin-left: 24px;

        color: #454545;
        &:after
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 14px;
            height: 14px;
            margin-top: 5px;

            content: '';

            background: url(../images/input.png);
            background-repeat: no-repeat;
        }
    }
    .b-search__inp:checked + label:after
    {
        width: 14px;
        height: 14px;

        background: url(../images/input_chc.png);
    }
    &__another
    {
        display: block;

        width: 100%;
        height: 38px;

        border: 1px dashed #cacaca;
        border-radius: 18px;
    }
    &__variants
    {
        font-family: 'PT_Serif_Italic';
        font-size: 16px;
        font-style: italic;
        line-height: 24px;

        display: block;

        width: 100%;
        margin-top: 20px;
        padding-top: 6px;
        padding-bottom: 6px;

        text-align: center;

        color: white;
        border-radius: 18px;
        background-color: #00c3d8;
        box-shadow: 0 3px 0 #00879b;
        &:hover
        {
            color: #fff;
            background-color: #00dbf3;
        }
    }
}
@media (min-width:960px) and (max-width:1119px)
{
    .b-search
    {
        &__block_high
        {
            padding-top: 58px;
        }
    }
}
@media (min-width:640px) and (max-width:709px)
{
    .b-search
    {
        &__block_high
        {
            padding-top: 57px;
        }
    }
}
@media (max-width:640px)
{
    .b-search
    {border-radius:0;
        border: 0;
        background: #fff;
        &__name
        {
            max-width: 285px;
            margin-right: auto;
            margin-left: auto;
            padding-bottom: 0;

            text-align: left;
        }
        &__city
        {
            max-width: 285px;
            margin-right: auto;
            margin-left: auto;

            text-align: left;
        }
        &__title
        {
            text-align: center;
        }
        &__block
        {
            text-align: center;
            &_high
            {
                padding-top: 0;
            }
        }
        .b-search__input
        {
            max-width: 288px;
            margin-right: auto;
            margin-left: auto;
        }
        .b-search__select
        {
            max-width: 288px;
            margin-right: auto;
            margin-left: auto;
        }
        .b-search__change
        {
            width: 288px;
            margin-right: auto;
            margin-left: auto;
        }
        .b-search__checkbox
        {
            text-align: left;
        }
        &__cheblock
        {
            max-width: 285px;
            margin-right: auto;
            margin-left: auto;

            text-align: left;
        }
        &__variants
        {
            max-width: 288px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 15px;
            padding-bottom: 15px;
font-size: 18px;
            border-radius: 25px;
            box-shadow: 0 3px 0 #00889d;
        }
    }
    .b-search .b-search__checkbox:after
    {
    }
}
