.reveal.reveal_login#login-recovery(data-reveal data-deep-link='true')
  ul.tabs.tabs_recovery#recovery-tabs(data-tabs)
    li.tabs-title.is-active: a(href="#user-recovery") Напомнить пароль
    li.tabs-title: a(href="#user-reg" data-tabs-target="user-reg") Регистрация

  .tabs-content.tabs-content_recovery(data-tabs-content="recovery-tabs")
    .tabs-panel.is-active#user-recovery
      form.modal-form(action="#" method="POST")
        input.modal-form__input_hight(type="text" placeholder="Электронная почта")
        button.button.button_login.expanded(type="submit") Прислать пароль

    .tabs-panel#user-reg
      form.modal-form(action="#" method="POST")
        input.modal-form__input(type="text" placeholder="Логин")
        input.modal-form__input_low(type="email" placeholder="Электронная почта")
        span.modal-form__help На указанный адрес будет выслан пароль
        input.modal-form__input(type="tel" placeholder="Мобильный телефон")
        input.modal-form__input(type="password" placeholder="Пароль")
        p.modal-form__text Нажатием кнопки «Зарегистрироваться» я подтверждаю свое согласие с #[a(href='#' title='Правила') Правилами сайта] и #[a(href='#' title='Условия') Условиями обработки данных]
        button.button.button_register.expanded(type="submit") Зарегистрироваться

  button.close-button.show-for-small-only(data-close aria-label="Close modal" type="button")
    span(aria-hidden="true") &times;