.world
  header.header
    .container
      .row
        .col-md-8.col-sm-5.header__logo 
          span.header__big A
          |lex 
          span.header__big O
          |chirov
        .col-md-16.col-sm-19
          ul.header__menu
            li.header__li
              a.header__link(href="#portfolio") Портфолио
            li.header__li
              a.header__link(href="#about") Обо мне
