.world
  header.header
    .container
      .row
        .col-md-8.col-sm-5.header__logo 
          span.header__big A
          |lex 
          span.header__big O
          |chirov
        .col-md-16.col-sm-19
          ul.header__menu
            li.header__li
              a.header__link(href="#portfolio") Портфолио
            li.header__li
              a.header__link(href="#about") Обо мне
.container#portfolio
  .row.port
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my1")
        img.img-responsive(src="./images/d/1_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/Best/INTC/")
        img.img-responsive(src="./images/d/3_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my2")
        img.img-responsive(src="./images/d/4_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/Best/PIC%20landing/dist/")
        img.img-responsive(src="./images/d/7_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/buildsoft%20archicad/")
        img.img-responsive(src="./images/d/8_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/buildsoft%20nanocad/nano.html")
        img.img-responsive(src="./images/d/9_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/buildsoft%20starkon/")
        img.img-responsive(src="./images/d/10_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/Calhoun/dist/")
        img.img-responsive(src="./images/d/11_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/CeteraPromo%20landing/")
        img.img-responsive(src="./images/d/12_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my3")
        img.img-responsive(src="./images/d/13_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my4")
        img.img-responsive(src="./images/d/24_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my5")
        img.img-responsive(src="./images/d/28_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my6")
        img.img-responsive(src="./images/d/34_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my7")
        img.img-responsive(src="./images/d/37_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my8")
        img.img-responsive(src="./images/d/47_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/MayerBochPro/Zimber/zimber.html")
        img.img-responsive(src="./images/d/52_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my9")
        img.img-responsive(src="./images/d/53_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/NOC/dist/")
        img.img-responsive(src="./images/d/57_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my10")
        img.img-responsive(src="./images/d/64_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="https://alexochirov.github.io/PremiumCardComplex/")
        img.img-responsive(src="./images/d/66_result.png", alt="")
    .col-lg-6.col-md-8.col-sm-12.port__col
      a(href="#",data-toggle="modal",data-target="#my11")
        img.img-responsive(src="./images/d/67_result.png", alt="")
.about#about
  .container
    .row
      .col-lg-14.col-lg-offset-5
        p Люблю верстать. Использую в работе HTML, шаблонизатор JADE, использую методологию БЭМ, CSS, препроцессоры LESS и SCSS(этот мне нравится больше); большую часть сайтов сверстал на CSS-фреймворке Foundation, но также знаком и с Bootstrap; применяю Javascript, библиотеку Jquery и сборщик Gulp.
        p Знаком с GIT (на Github лежит данный сайт)).
        p В свободное время изучаю нативный JS,а после планирую изучить один из крупныx JS-фреймворков(Angular, React). 
