.modal.fade#my1(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Best/RSEC/dist/")
              img.img-responsive(src="./images/d/1_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Best/RSEC/dist/regular.html")
              img.img-responsive(src="./images/d/2_result.png", alt="")    
.modal.fade#my2(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Best/PAS%20main/dist/")
              img.img-responsive(src="./images/d/4_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Best/PAS%20main/dist/category.html")
              img.img-responsive(src="./images/d/5_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Best/PAS%20main/dist/detail.html")
              img.img-responsive(src="./images/d/6_result.png", alt="")    
.modal.fade#my3(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/")
              img.img-responsive(src="./images/d/13_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/02_catalog.html")
              img.img-responsive(src="./images/d/14_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/03_tovar.html")
              img.img-responsive(src="./images/d/15_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/09_sravn.html")
              img.img-responsive(src="./images/d/16_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/10_search.html")
              img.img-responsive(src="./images/d/17_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/11_zayavka.html")
              img.img-responsive(src="./images/d/18_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/13_rad.html")
              img.img-responsive(src="./images/d/19_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/14_razdel.html")
              img.img-responsive(src="./images/d/20_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/15_otrasl.html")
              img.img-responsive(src="./images/d/21_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/16_news.html")
              img.img-responsive(src="./images/d/22_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/desten/18_404.html")
              img.img-responsive(src="./images/d/23_result.png", alt="")  
.modal.fade#my4(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/afisha/")
              img.img-responsive(src="./images/d/24_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/afisha/event.html")
              img.img-responsive(src="./images/d/25_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/afisha/filter.html")
              img.img-responsive(src="./images/d/26_result.png", alt="")   
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/afisha/main.html")
              img.img-responsive(src="./images/d/27_result.png", alt="")   
.modal.fade#my5(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/")
              img.img-responsive(src="./images/d/28_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/afi-and-news.html")
              img.img-responsive(src="./images/d/29_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/basket.html")
              img.img-responsive(src="./images/d/30_result.png", alt="")   
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/krim-object2.html")
              img.img-responsive(src="./images/d/31_result.png", alt="")   
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/news-bez-afi.html")
              img.img-responsive(src="./images/d/32_result.png", alt="")   
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/kurort/tovar.html")
              img.img-responsive(src="./images/d/33_result.png", alt="")   
.modal.fade#my6(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/main_layout/attraction.html")
              img.img-responsive(src="./images/d/34_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/KrymGidComplex/main_layout/planirov-list.html")
              img.img-responsive(src="./images/d/35_result.png", alt="")    
.modal.fade#my7(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine.html")
              img.img-responsive(src="./images/d/37_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-404.html")
              img.img-responsive(src="./images/d/38_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-basket.html")
              img.img-responsive(src="./images/d/39_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-col.html")
              img.img-responsive(src="./images/d/40_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-contact.html")
              img.img-responsive(src="./images/d/41_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-level.html")
              img.img-responsive(src="./images/d/42_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-oplata.html")
              img.img-responsive(src="./images/d/43_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-price.html")
              img.img-responsive(src="./images/d/44_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-rega.html")
              img.img-responsive(src="./images/d/45_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Loraine/loraine-tovar.html")
              img.img-responsive(src="./images/d/46_result.png", alt="")    
.modal.fade#my8(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Mayer/mayer.html")
              img.img-responsive(src="./images/d/47_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Mayer/mayer-action.html")
              img.img-responsive(src="./images/d/48_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Mayer/mayer-news.html")
              img.img-responsive(src="./images/d/49_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Mayer/mayer-text.html")
              img.img-responsive(src="./images/d/50_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/MayerBochPro/Mayer/mb-pro.html")
              img.img-responsive(src="./images/d/51_result.png", alt="")    
.modal.fade#my9(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Miraman")
              img.img-responsive(src="./images/d/53_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Miraman/nedvi.html")
              img.img-responsive(src="./images/d/54_result.png", alt="")    
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Miraman/partners.html")
              img.img-responsive(src="./images/d/55_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/Miraman/peoples.html")
              img.img-responsive(src="./images/d/56_result.png", alt="")       
.modal.fade#my10(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/PAS%20proto/")
              img.img-responsive(src="./images/d/64_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/PAS%20proto/regular.html")
              img.img-responsive(src="./images/d/65_result.png", alt="")         
.modal.fade#my11(tabindex="-1",role="dialog").more
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        |Подробно
        button.close(type='button',data-dismiss="modal",aria-label="Close")
          span(aria-hidden='true') &times;
      .modal-body
        .row.port
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/")
              img.img-responsive(src="./images/d/67_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/bank.html")
              img.img-responsive(src="./images/d/68_result.png", alt="")         
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/change-region.html")
              img.img-responsive(src="./images/d/69_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/contacts.html")
              img.img-responsive(src="./images/d/70_result.png", alt="")         
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/details.html")
              img.img-responsive(src="./images/d/71_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/det-red.html")
              img.img-responsive(src="./images/d/72_result.png", alt="")         
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/enter.html")
              img.img-responsive(src="./images/d/73_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/key.html")
              img.img-responsive(src="./images/d/74_result.png", alt="")         
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/met-red.html")
              img.img-responsive(src="./images/d/75_result.png", alt="")
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/reg.html")
              img.img-responsive(src="./images/d/76_result.png", alt="")         
          .col-lg-6.col-md-8.col-sm-12.port__col
            a(href="https://alexochirov.github.io/WIC/requisite-red.html")
              img.img-responsive(src="./images/d/77_result.png", alt="")         
