mixin perm(img,bread)
  .product.columns
    a(href="#")
      .product__img
        img(src="./i/"+ img, alt="")
        .product__block
          h3.product__desc= bread
          .product__smallest  7 Товары
