extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Цены Термы Мира «Набережная»
        .padding-top-12.padding-bottom-6
            .grid-container: .grid-x.grid-padding-x
                .cell.small-24.medium-8.large-6.medium-order-2
                    include components/site/_mira-thermes-sidebar
                .cell.auto.medium-order-1
                    p
                        img(src='./i/price1.jpg' alt='')
                        img(src='./i/price2.jpg' alt='')
                    p
                        img(src='./i/price-promo1.jpg' alt='')
                    p
                        img(src='./i/price-promo2.jpg' alt='')
                //-
                    h3 Основноые посещение «Ceмeйный» зaл
                    table
                        tr.text-dark-gray
                            td
                            td Будни
                            td Выходные и праздники*
                        tr: th(colspan='3') Три часа
                        tr
                            td Дети (1-6 лет)
                            td 270 р
                            td 270 р
                        tr
                            td Дети (7-13 лет)
                            td 560 р
                            td 730 р
                        tr
                            td Взрослые от 14 лет
                            td 1 040 р
                            td 1 200 р
                        tr: th(colspan='3') Весь день
                        tr
                            td Дети (1-6 лет)
                            td(colspan='2').text-center 400 р
                        tr
                            td Дети (7-13 лет)
                            td(colspan='2').text-center 850 р
                        tr
                            td Взрослые от 14 лет
                            td(colspan='2').text-center 1 450 р
                        tr: th(colspan='3') Продление на 1 час
                        tr
                            td Дети (7-13 лет)
                            td 230 р
                            td 300 р
                        tr
                            td Взрослые от 14 лет
                            td 380 р
                            td 460 р

                    h3 Основноые посещение «Ceмeйный» зaл + Зал «Релакс»
                    table
                        tr.text-dark-gray
                            td
                            td Будни
                            td Выходные и праздники*
                        tr
                            th Три часа
                            td 1 330 р
                            td 1 630 р
                        tr
                            th Вес день
                            td(colspan='2').text-center 1 950 р
                        tr
                            th Продление на 1 час
                            td 420 р
                            td 700 р

                    h3 Доплата за зал «Релакс» при посещении семейного зала
                    table
                        tr.text-dark-gray
                            td
                            td Будни
                            td Выходные и праздники*
                        tr
                            th Три часа
                            td 290 р
                            td 430 р
                        tr
                            th Вес день
                            td(colspan='2').text-center 550 р

                    h3 Специальное предложение «Семейный» зал
                    table
                        tr
                            th «Золотой возраст» #[sup 1], 3 часа
                            td Понедельник и четверг, вход с 9:00 до 15:00
                            td 460 р
                        tr
                            th «Мамин час» #[sup 2], 3 часа
                                br
                                .text-dark-gray C одним взрослым может бесплатно пройти один ребёнок 1-6 лет
                            td Вторник с 9:00 до 17:00. Четверг с 9:00 до 15:00
                            td 750 р
                        tr
                            th «День студента» #[sup 3], 3 часа
                            td Будни, в любое время
                            td 610 р
                        tr
                            th «Женский день»
                                br
                                .text-dark-gray К посещению допускаются только женщины и девочки от 7 лет
                            td Среда, вход с 9:00 до 23:00
                            td По основному тарифу
                        tr
                            th «Взрослая пятница»
                                br
                                .text-dark-gray К посещению допускаются только взрослые от 14 лет
                            td Пятница, вход с 9:00 до 23:00
                            td По основному тарифу
                        tr
                            th «Счастливые часы», 3 часа
                            td Вторник и пятница, вход с 9:00 до 14:00
                            td 700 р

                    h3 Специальное предложение «Семейный» зал + Зал «Релакс»
                        br
                        b Для посетителей от 14 лет
                    table
                        tr
                            th «Золотой возраст» #[sup 1], 3 часа
                            td Понедельник и четверг, вход с 9:00 до 15:00
                            td 460 р
                        tr
                            th «День студента» #[sup 3], 3 часа
                            td Будни, в любое время
                            td 610 р
                        tr
                            th «Женский день»
                                br
                                .text-dark-gray К посещению допускаются только женщины и девочки от 7 лет
                            td Среда, вход с 9:00 до 23:00
                            td По основному тарифу
                        tr
                            th «Взрослая пятница»
                                br
                                .text-dark-gray К посещению допускаются только взрослые от 14 лет
                            td Пятница, вход с 9:00 до 23:00
                            td По основному тарифу
                        tr
                            th «Счастливые часы», 3 часа
                            td Вторник и пятница, вход с 9:00 до 14:00
                            td 700 р

                        p #[sup 1] — При предъявалении пенсионного удостоверения.
                        p #[sup 2] — Тариф действиует при условии 1 взрослый + 1 ребёнок.
                        p #[sup 3] — При предъявлении студенческого билета очного отделения.

