extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Расписание Термы Мира «Сосновый бор»
        .padding-top-12.padding-bottom-6
            .grid-container: .grid-x.grid-padding-x
                .cell.small-24.medium-8.large-6.medium-order-2
                    include components/site/_mira-thermes-sidebar
                .cell.auto.medium-order-1
                    h3: a(href='mira-thermes-area.html') Аква-зона
                    table
                        tr
                            th ПН
                            th ВТ
                            th СР
                            th ЧТ
                            th ПТ
                            th СБ
                            th ВС
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Большой бассей
                        tr
                            td 09:00-21:00
                            td 09:00-21:00
                            td 09:00-21:00
                            td 09:00-21:00
                            td 09:00-21:00
                            td 09:00-21:00
                            td 09:00-21:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Джакузи
                        tr
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Соляной грот
                        tr
                            td 09:00-23:00
                            td
                            td 09:00-23:00
                            td
                            td 09:00-23:00
                            td
                            td 09:00-23:00

                    h3: a(href='mira-thermes-area.html') Бани
                    table
                        tr
                            th ПН
                            th ВТ
                            th СР
                            th ЧТ
                            th ПТ
                            th СБ
                            th ВС
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Соляная
                        tr
                            td
                            td 09:00-17:00
                            td 09:00-20:00
                            td
                            td 09:00-15:00
                            td 09:00-23:00
                            td 09:00-21:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Сенная
                        tr
                            td 09:00-17:00
                            td
                            td 09:00-20:00
                            td
                            td 09:00-15:00
                            td 09:00-23:00
                            td 09:00-21:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Русская парная
                        tr
                            td 09:00-20:00
                            td 09:00-20:30
                            td 09:00-21:30
                            td 09:00-20:30
                            td 09:00-20:30
                            td
                            td

                    h3: a(href='mira-thermes-area.html') Пляж
                    table
                        tr
                            th ПН
                            th ВТ
                            th СР
                            th ЧТ
                            th ПТ
                            th СБ
                            th ВС
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Бассей
                        tr
                            td 09:00-20:00
                            td 09:00-20:00
                            td 09:00-20:00
                            td 09:00-20:00
                            td 09:00-20:00
                            td 09:00-20:00
                            td 09:00-20:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Зона отдыха
                        tr
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                            td 09:00-22:00
                        tr
                            td(colspan='7'): a(href='mira-thermes-location.html') Бар
                        tr
                            td
                            td 09:00-23:00
                            td 09:00-23:00
                            td 09:00-23:00
                            td 09:00-23:00
                            td 09:00-23:00
                            td 09:00-20:00