.breadcrumbs {
  font-weight: 400;
  @include breakpoint(medium down) {
    margin-bottom: rem-calc(30);
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }
}

.breadcrumbs__simple{
  color: #d1d1d1;
  text-transform: uppercase;
  a {
    padding: 0 8px;
    &:first-child{
      padding-left: 0;
    }
  }
}