.system {
  margin-left: rem-calc(0);
  margin-bottom: rem-calc(50);
  list-style-type: none;

  &__item {
    margin-bottom: rem-calc(9);
  }

  &__link {
    font-weight: 400;
    color: $white;
    font-size: rem-calc(15);

    &:active,
    &:focus,
    &:hover {
      color: $light-gray;
    }
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }
}
