//-ul.menu.dropdown.margin-bottom-3(data-dropdown-menu)
    li
        a(href='') Cезон: 2016-2017
        ul.menu
            li.active: a(href='') 2016-2017
            li: a(href='') 2015-2016
            li: a(href='') 2014-2015
            li: a(href='') 2013-2014
            li: a(href='') 2012-2013
            li: a(href='') 2011-2012
            li: a(href='') 2010-2011

//-ul.menu.margin-bottom-6
    li.menu-text Cезон:
    li.active: a(href='') 2016-17
    li: a(href='') 2015-16
    li: a(href='') 2014-15
    li: a(href='') 2013-14
    li: a(href='') 2012-13
    li: a(href='') 2011-12
    li: a(href='') 2010-11
.table-scroll
  table.player-table
      thead.player-table__thead
          tr
              th.player-table__th.padding-left-0 Дата
              th.player-table__th Матч
              th.player-table__th Счёт
              th.player-table__th: acronym(title='Очки') О
              th.player-table__th: acronym(title='Забитые голы') Г
              th.player-table__th: acronym(title='Передачи') П
              th.player-table__th: acronym(title='Штрафное время') ШТР
              th.player-table__th +/-

      tbody.player-table__tbody
          tr
              td.player-table__td 18.02.2017
              td.player-table__td Салават Юлаев(Уфа)
                  br
                  | Ак Барс(Казань)
              td.player-table__td 4:2
              td.player-table__td 1
              td.player-table__td 0
              td.player-table__td 1
              td.player-table__td 1
              td.player-table__td 0
          tr
              td.player-table__td 14.02.2017
              td.player-table__td Салават Юлаев(Уфа)
                  br
                  | ЦСКА(Москва)
              td.player-table__td 3:1
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
          tr
              td.player-table__td 03.02.2017
              td.player-table__td Салават Юлаев(Уфа)
                  br
                  | СКА(Санкт-Петербург)
              td.player-table__td 1:5
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td -1
              td.player-table__td 2
          tr
              td.player-table__td 01.02.2017
              td.player-table__td Северсталь(Череповец)
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 1:3
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
          tr
              td.player-table__td 29.01.2017
              td.player-table__td Локомотив(Ярославль)
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 3:2
              td.player-table__td 0
              td.player-table__td 1
              td.player-table__td 1
              td.player-table__td 0
              td.player-table__td 0
          tr
              td.player-table__td 27.01.2017
              td.player-table__td Динамо Мск(Москва)
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 5:3
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td -1
              td.player-table__td 0
          tr
              td.player-table__td 25.01.2017
              td.player-table__td Витязь(Подольск )
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 6:2
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td -1
              td.player-table__td 0
          tr
              td.player-table__td 23.01.2017
              td.player-table__td Ак Барс(Казань)
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 4:3
              td.player-table__td 0
              td.player-table__td 1
              td.player-table__td 1
              td.player-table__td 1
              td.player-table__td 0
          tr
              td.player-table__td 18.01.2017
              td.player-table__td Салават Юлаев(Уфа)
                  br
                  | Лада(Тольятти)
              td.player-table__td 6:5
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td -1
              td.player-table__td 10
          tr
              td.player-table__td 16.01.2017
              td.player-table__td Барыс(Астана)
                  br
                  | Салават Юлаев(Уфа)
              td.player-table__td 4:3
              td.player-table__td 0
              td.player-table__td 1
              td.player-table__td 1
              td.player-table__td 0
              td.player-table__td 0
          tr
              td.player-table__td 12.01.2017
              td.player-table__td Салават Юлаев(Уфа)
                  br
                  | Торпедо(Нижний Новгород)
              td.player-table__td 1:6
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0
              td.player-table__td 0

  p.
      #[b Г] – Забитые голы,
      #[b П] – Передачи,
      #[b О] – Очки,
      #[b +/-] — Плюс/Минус,
      #[b ШТР] — Штрафное время
