h3 Биография

p Станислав Васильевич Крицюк родился 1 декабря 1990 года в городе Тольятти. Является воспитанником Академии футбола им. Ю. Коноплева из родного города. В 2008 году в возрасте 17-ти лет дебютировал в димитровградской «Академии» во Втором российском дивизионе. Позже защищал ворота «Тольятти» и той же «Академии», переехавшей в автоград, поиграл в юношеской и молодежной сборных России.
p В 2013 году голкипер подписал контракт с «Брагой» и уехал в Португалию. Сначала на правах аренды выступал в «Риу Аве», затем за «Брагу II» в низшем дивизионе, а непосредственно в «Браге» дебютировал в августе 2014 года. С тех пор Крицюк провел на последнем рубеже клуба из одноименного города более 40-ка матчей и в сезоне-2015/2016 стал его твердым первым номером. Он провел «от звонка до звонка» 18 игр чемпионата Португалии, пропустив в них лишь 13 мячей и заслужив своей зрелой и надежной игрой высокие оценки специалистов, а также местной спортивной прессы.
p В начале 2016 года «Краснодар» и «Брага» согласовали все детали аренды Станислава Крицюка до конца сезона-2015/2016 с опцией выкупа. Пройдя медицинское обследование, 27 января голкипер присоединился к «горожанам» и приступил к работе вместе с новыми партнерами на подготовительных сборах. Своими уверенными действиями Станислав быстро завоевал место в стартовом составе команды и отыграл без замен все матчи в весенней части Чемпионата и Кубка России. По окончании сезона «Краснодар» воспользовался опцией в договоре аренды и выкупил у «Браги» права на вратаря, подписав с самим Крицюком долгосрочный личный контракт сроком до конца июня 2020 года.

h3 Факты и цифры
ul
    li #[b Занимается благотворительностью]. Вместе со своим другом помогает детскому дому, а также содержит приют для бездомных собак.
    li #[b 14] — любимый игровой номер, подкоторым выступал в «Москве» и сборной России.
    li #[b 131] — номер матча Клуб—Соперник, в забил свой первый гол в составе команды.

h3 Достижения
ul
    li Финалист Кубка Португалии-2014/2015
