.grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='player-video', data-equalize-by-row='true')
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Клуб поздравняет с новым годом
                p #[span.label 03:12] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') On road
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Игрок о матче с Соперником
                p #[span.label 02:09] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') События
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Клуб—Соперник — 1:1. Набабкин 10
                p #[span.label 01:17] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') Матчи
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Пресс-конференция тренера Команды и игроков
                p #[span.label 09:16] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') Матчи
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Игрок о победе над Соперником
                p #[span.label 02:34] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') Интервью
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Клуб—Соперник — 0:1. Набабкин 88
                p #[span.label 01:15] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') Интервью
    .cell
        .card(data-equalizer-watch='player-video')
            .card-image
                img(src='http://via.placeholder.com/480x300', alt='Видео' style='width:100%;')
            .card-section
                h4: a(href='video.html') Клуб—Соперник — 4:0. Набабкин 79
                p #[span.label 02:05] &#160; #[span.text-medium-gray 15.08.2017 • ]
                    a(href='videos.html') On road
