ul.menu.margin-bottom-3
    li: a(href='#players-1' title='') #[span.text-info •] Вратари
    li: a(href='#players-2' title='') #[span.text-success •] Защитники
    li: a(href='#players-3' title='') #[span.text-alert •] Нападающие

h3#players-1.grid-x
    span.cell.auto Вратари #[span.text-info •]
    a.cell.auto.shrink.text-medium-gray(href='#title' title='Наверх'): i.fa.fa-angle-up
table
    thead
        tr
            th Игрок
            th: acronym(title='Количество игр') И
            th: acronym(title='Выигрыши') В
            th: acronym(title='Пропущено шайб') ПШ
            th: acronym(title='Процент отраженных бросков') %ОБ
            th: acronym(title='Коэффициент надёжности') КН
            th: acronym(title='Сухие игры') И'0'
            th: acronym(title='Время на площадке') ВП
            th: acronym(title='Штрафные минуты') ШМ
    tbody
        tr
            td Кошечкин Василий
            td 45
            td 22
            td 86
            td 92,8
            td 2.13
            td 6
            td 2418:18
            td 0
        tr
            td Самсонов Илья
            td 27
            td 15
            td 40
            td 92,7
            td 2.13
            td 2
            td 1127:45
            td 4
        tr
            td Загидулин Артём
            td 4
            td 0
            td 1
            td 90,3
            td 0.78
            td 0
            td 76:30
            td 0
        tr
            td Лозебников Дмитрий
            td 0
            td 0
            td 0
            td -
            td -
            td 0
            td 0
            td 0
        tr
            td Бронников Сергей
            td 0
            td 0
            td 0
            td -
            td -
            td 0
            td 0
            td 0
p.text-dark-gray.
    И - игры,
    В - выигрыши,
    ПШ - пропущено шайб,
    %ОБ - процент отраженных бросков,
    КН - коэффициент надежности = 60мин×ПШ/ВП,
    И'0' - сухие игры,
    ВП - время на площадке,
    ШМ - штрафные минуты.

h3#players-2.grid-x
    span.cell.auto Защитники #[span.text-success •]
    a.cell.auto.shrink.text-medium-gray(href='#title' title='Наверх'): i.fa.fa-angle-up
table
    thead
        tr
            th Игрок
            th: acronym(title='Игры') И
            th: acronym(title='Забитые голы') Ш
            th: acronym(title='Передачи') А
            th: acronym(title='Очки') О
            th +/-
            th: acronym(title='Штрафное время') Штр
            th: acronym(title='Шайбы в большинстве') ШБ
            th: acronym(title='Шайбы в меньшинстве') ШМ
            th: acronym(title='победные шайбы') ШП
    tbody
        tr
            td Ли Крис
            td 60
            td 14
            td 51
            td 65
            td 14
            td 46
            td 4
            td 0
            td 4
            td 9.8
        tr
            td Антипин Виктор
            td 59
            td 6
            td 18
            td 24
            td 10
            td 8
            td 2
            td 0
            td 2
            td 7.5
        tr
            td Береглазов Алексей
            td 60
            td 1
            td 18
            td 19
            td 9
            td 20
            td 0
            td 0
            td 0
            td 0.9
        tr
            td Терещенко Сергей
            td 46
            td 6
            td 8
            td 14
            td 2
            td 26
            td 3
            td 0
            td 2
            td 7.5
        tr
            td Бирюков Евгений
            td 57
            td 1
            td 9
            td 10
            td 14
            td 22
            td 0
            td 0
            td 0
            td 2.3
        tr
            td Хабаров Ярослав
            td 51
            td 1
            td 3
            td 4
            td 4
            td 32
            td 0
            td 0
            td 0
            td 2.8
        tr
            td Дронов Григорий
            td 38
            td 0
            td 2
            td 2 	-4
            td 12
            td 0
            td 0
            td 0
            td 0
        tr
            td Медведев Павел
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td -
        tr
            td Жлоба Никита
            td 6
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
        tr
            td Будкин Александр
            td 25
            td 0
            td 0
            td 0 	-5
            td 4
            td 0
            td 0
            td 0
            td 0
        tr
            td Игошев Александр
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td -

h3#players-3.grid-x
    span.cell.auto Нападающие #[span.text-alert •]
    a.cell.auto.shrink.text-medium-gray(href='#title' title='Наверх'): i.fa.fa-angle-up
table
    thead
        tr
            th Игрок
            th: acronym(title='Игры') И
            th: acronym(title='Забитые голы') Ш
            th: acronym(title='Передачи') А
            th: acronym(title='Очки') О
            th +/-
            th: acronym(title='Штрафное время') Штр
            th: acronym(title='Шайбы в большинстве') ШБ
            th: acronym(title='Шайбы в меньшинстве') ШМ
            th: acronym(title='победные шайбы') ШП
    tbody
        tr
            td Мозякин Сергей
            td 50
            td 48
            td 37
            td 85
            td 10
            td 4
            td 22
            td 0
            td 7
            td 20.3
        tr
            td Коварж Ян
            td 59
            td 23
            td 40
            td 63
            td 6
            td 22
            td 17
            td 0
            td 6
            td 15.6
        tr
            td Зарипов Данис
            td 56
            td 16
            td 29
            td 45
            td 5
            td 16
            td 6
            td 0
            td 4
            td 11.4
        tr
            td Сёмин Александр
            td 58
            td 16
            td 14
            td 30
            td 7
            td 38
            td 5
            td 0
            td 3
            td 10.6
        tr
            td Осала Оскар
            td 60
            td 14
            td 14
            td 28
            td 20
            td 53
            td 6
            td 2
            td 1
            td 10.9
        tr
            td Филиппи Томаш
            td 58
            td 8
            td 17
            td 25
            td 12
            td 18
            td 2
            td 0
            td 1
            td 5.7
        tr
            td Казионов Денис
            td 57
            td 9
            td 7
            td 16
            td 4
            td 90
            td 0
            td 0
            td 2
            td 9.5
        tr
            td Тимкин Евгений
            td 56
            td 8
            td 5
            td 13
            td 2
            td 74
            td 0
            td 0
            td 0
            td 10.4
        tr
            td Вольский Войтек
            td 19
            td 5
            td 5
            td 10
            td 2
            td 6
            td 3
            td 0
            td 1
            td 11.1
        tr
            td Платонов Денис
            td 51
            td 4
            td 6
            td 10 	-1
            td 12
            td 0
            td 0
            td 1
            td 4.7
        tr
            td Казионов Дмитрий
            td 53
            td 1
            td 8
            td 9
            td 2
            td 59
            td 0
            td 0
            td 0
            td 3.1
        tr
            td Калетник Владислав
            td 49
            td 5
            td 4
            td 9
            td 3
            td 20
            td 1
            td 0
            td 2
            td 8.8
        tr
            td Сантала Томми
            td 14
            td 2
            td 7
            td 9
            td 3
            td 10
            td 1
            td 0
            td 1
            td 6.7
        tr
            td Косов Ярослав
            td 41
            td 3
            td 2
            td 5 	-6
            td 27
            td 0
            td 0
            td 0
            td 6.4
        tr
            td Потехин Богдан
            td 23
            td 1
            td 1
            td 2 	-5
            td 15
            td 0
            td 0
            td 0
            td 3.6
        tr
            td Железков Артём
            td 18
            td 0
            td 2
            td 2 	-1
            td 33
            td 0
            td 0
            td 0
            td 0
        tr
            td Берестенников Илья
            td 5
            td 1
            td 0
            td 1
            td 0
            td 0
            td 0
            td 0
            td 0
            td 16.7
        tr
            td Швырёв Игорь
            td 10
            td 0
            td 0
            td 0
            td 0
            td 2
            td 0
            td 0
            td 0
            td -
p.text-dark-gray.
    И - Количество проведённых игр,
    Ш - Забитые голы,
    А - Передачи,
    О - Очки,
    */- Плюс–минус,
    Штр - Штрафное время,
    ШБ - Шайбы в большинстве,
    ШМ - Шайбы в меньшинстве,
    ШП - победные шайбы.