.content
    .callout
        .grid-x
            .cell.auto
                h3.subheader Голосование
            .cell.auto.text-right
                a(href='') Архив голосований

        h2 Кто лучший игрок матча ПФК ЦСКА - Спартак М?
        .grid-x.grid-padding-x.small-up-1.medium-up-3
            .cell
                a(href='') 3 Самсонов Илья
                br
                a(href='') 8 Кошечкин Василий
                br
                a(href='') 2 Дронов Григорий
                br
                a(href='') 3 Швырёв Игорь
                br
                a(href='') 6 Денисов Денис
                br
                a(href='') 7 Будкин Александр
                br
                a(href='') 10 Мозякин Сергей
                br
                a(href='') 12 Шенфельд Антон
                br
            .cell
                a(href='') 16 Железков Артём
                br
                a(href='') 19 Берестенников Илья
                br
                a(href='') 21 Эллисон Мэтт
                br
                a(href='') 23 Тимкин Евгений
                br
                a(href='') 39 Платонов Денис
                br
                a(href='') 41 Филиппи Томаш
                br
                a(href='') 43 Коварж Ян
                br
                a(href='') 48 Бирюков Евгений
                br
            .cell
                a(href='') 52 Терещенко Сергей
                br
                a(href='') 55 Шаус Николас
                br
                a(href='') 60 Игошев Александр
                br
                a(href='') 62 Осала Оскар
                br
                a(href='') 73 Сироткин Никита
                br
                a(href='') 77 Казионов Денис
                br
                a(href='') 78 Хабаров Ярослав
                br
        p
            a(href='') Все голосования
