.grid-x
  .cell.large-4.large-offset-1
    .aside-games-panel-switcher.text-center
      input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input' autocomplete="off")
      label.aside-games-panel-switcher__label(for='switcher__input')
          span.aside-games-panel-switcher__span.text-white кхл 
          span.aside-games-panel-switcher__span.text-white мхл
  .cell.large-6
    .aside-games-panel-switcher-club.text-center
      input.aside-games-panel-switcher-club__input(type='checkbox' id='switcher__input-club' autocomplete="off")
      label.aside-games-panel-switcher-club__label(for='switcher__input-club')
          span.aside-games-panel-switcher-club__span.text-white Нефтехимик 
          span.aside-games-panel-switcher-club__span.text-white Реактор

.switch-content-left 
  .switch-club-neftehimik
    .aside-games-panel-multimedia
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/camera.svg') 
            span.aside-games-panel-multimedia__text Видео
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/foto.svg') 
            span.aside-games-panel-multimedia__text Фото
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/settings.svg') 
            span.aside-games-panel-multimedia__text Отчет о матче
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | Спортивно-культурный комплекс «Ледовый дворец», Нижнекамск

    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num 5
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Нефтехимик
      .aside-games-panel-account__col
        .point
          span.point-num 5
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
  .switch-club-reaktor
    .aside-games-panel-multimedia
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/camera.svg') 
            span.aside-games-panel-multimedia__text Видео
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/foto.svg') 
            span.aside-games-panel-multimedia__text Фото
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/settings.svg') 
            span.aside-games-panel-multimedia__text Отчет о матче
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | Спортивно-культурный комплекс «Ледовый дворец», Нижнекамск

    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num 1
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Реактор
      .aside-games-panel-account__col
        .point
          span.point-num 1
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
      
.switch-content-right
  .switch-club-neftehimik
    .aside-games-panel-multimedia
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/camera.svg') 
            span.aside-games-panel-multimedia__text Видео
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/foto.svg') 
            span.aside-games-panel-multimedia__text Фото
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/settings.svg') 
            span.aside-games-panel-multimedia__text Отчет о матче
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | ЛДС «Нефтехимик», Нижнекамск
    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num 5
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Нефтехимик
      .aside-games-panel-account__col
        .point
          span.point-num 3
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
      
  .switch-club-reaktor
    .aside-games-panel-multimedia
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/camera.svg') 
            span.aside-games-panel-multimedia__text Видео
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/foto.svg') 
            span.aside-games-panel-multimedia__text Фото
        a.aside-games-panel-multimedia__link(href='#') 
            img(src='images/settings.svg') 
            span.aside-games-panel-multimedia__text Отчет о матче
    
    .text-center
      .widget-last__date
        strong 11 октября 2017, Ср, 19:00
        br
      | ЛДС «Нефтехимик», Нижнекамск
    .aside-games-panel-account.text-center
      .aside-games-panel-account__col
        .point.point_border
          span.point-num 2
        img(src='images/logo.svg' style="height: 45px !important;")
        br
        span.point-team Реактор
      .aside-games-panel-account__col
        .point
          span.point-num 2
        img(src='images/tractor.svg' style="height: 45px !important;")
        br
        span.point-team Трактор
      
