//- .aside-games-panel-switcher.text-center
  input.aside-games-panel-switcher__input(type='checkbox' id='switcher__input-for-data-reveal')
  label.aside-games-panel-switcher__label(for='switcher__input-for-data-reveal')
      span.aside-games-panel-switcher__span кхл 
      span.aside-games-panel-switcher__span мхл

//- .switch-content-left 
  .aside-games-panel-multimedia
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/camera.svg') 
          span.aside-games-panel-multimedia__text Видео
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/foto.svg') 
          span.aside-games-panel-multimedia__text Фото
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/settings.svg') 
          span.aside-games-panel-multimedia__text Отчет о матче
  .aside-games-panel-account.text-center
    .aside-games-panel-account__col
      .point.point-neftehimik
        span.point-num 5
      img(src='images/logo.svg' width='67' height='45')
      br
      span.point-team Нефтехимик
    .aside-games-panel-account__col
      .point.point-opponent
        span.point-num 5
      img(src='images/tractor.svg' width='48' height='44')
      br
      span.point-team Трактор
      
//- .switch-content-right  
  .aside-games-panel-multimedia
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/camera.svg') 
          span.aside-games-panel-multimedia__text Видео
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/foto.svg') 
          span.aside-games-panel-multimedia__text Фото
      a.aside-games-panel-multimedia__link(href='#') 
          img(src='images/settings.svg') 
          span.aside-games-panel-multimedia__text Отчет о матче
  .aside-games-panel-account.text-center
    .aside-games-panel-account__col
      .point.point-neftehimik
        span.point-num 5
      img(src='images/logo.svg' width='67' height='45')
      br
      span.point-team Нефтехимик
    .aside-games-panel-account__col
      .point.point-opponent
        span.point-num 3
      img(src='images/tractor.svg' width='48' height='44')
      br
      span.point-team Трактор
      
.aside-games-panel-multimedia
    a.aside-games-panel-multimedia__link(href='#') 
        img(src='images/camera.svg') 
        span.aside-games-panel-multimedia__text Видео
    a.aside-games-panel-multimedia__link(href='#') 
        img(src='images/foto.svg') 
        span.aside-games-panel-multimedia__text Фото
    a.aside-games-panel-multimedia__link(href='#') 
        img(src='images/settings.svg') 
        span.aside-games-panel-multimedia__text Отчет о матче
.aside-games-panel-account.text-center
  .aside-games-panel-account__col
    .point.point_border
      span.point-num 5
    img(src='images/logo.svg' width='67' height='45')
    br
    span.point-team Нефтехимик
  .aside-games-panel-account__col
    .point
      span.point-num 3
    img(src='images/tractor.svg' width='48' height='44')
    br
    span.point-team Трактор
    
