mixin teams-standings-tab2-table
  .table-scroll
    table.table.margin-bottom-6
        thead.table__thead 
          tr
            th.table__th.padding-left-0(colspan='2'): h3.margin-bottom-0 Клуб
                th.table__th: acronym(title='Количество игр') И
                th.table__th: acronym(title='Выигрыши') В
                th.table__th: acronym(title='Выигрыши в овертайме') ВО
                th.table__th: acronym(title='Выигрыши по буллитам') ВБ
                th.table__th: acronym(title='Проигрыши по буллитам') ПБ
                th.table__th: acronym(title='Проигрыши в овертайме') ПО
                th.table__th: acronym(title='Проигрыши') П
                th.table__th: acronym(title='Шайбы') Ш
                th.table__th: acronym(title='Очки') О
        tbody.table__tbody
            tr
                td.table__td 1
                td.table__td Динамо Мн
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0
            tr
                td.table__td 2
                td.table__td Динамо Р
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0
            tr
                td.table__td 3
                td.table__td Йокерит
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0
            tr
                td.table__td 4
                td.table__td СКА
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0
            tr
                td.table__td 5
                td.table__td Слован
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0
            tr
                td.table__td 6
                td.table__td Спартак
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0
                td.table__td 0 - 0 = 0
                td.table__td 0

h3 Двизион Боброва
+teams-standings-tab2-table

h3 Двизион Тарасова
+teams-standings-tab2-table

h3 Двизион Харламова
+teams-standings-tab2-table

h3 Двизион Чернышёва
+teams-standings-tab2-table

p.
    #[b И] – Игры,
    #[b В] – Выигрыши,
    #[b ВО] – Выигрыши в овертайме,
    #[b П] — Проигрыши,
    #[b ВБ] – Выигрыши по буллитам,
    #[b ПБ] — Проигрыши по буллитам,
    #[b ПО] — Проигрыши в овертайме,
    #[b Ш] — Шайбы,
    #[b О] — Очки.
