.text-center
    h3 Сектор 7 #[small Трибуна B]
    p 650 - 700 руб. Свободных мест — #[span.text-alert 2]
    p: b Выберите место

.table-scroll
    table.text-center.text-dark-gray(data-equalizer='arena-sections')
        tr
            th Ряд
            th(colspan='24') Места
            th Ряд
        tr
            td: b 15
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td
            td
            td: b 15
        tr
            td: b 14
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 14
        tr
            td: b 13
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td(data-toggle="seat-dropdown").text-alert 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 13
        tr
            td: b 12
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 12
        tr
            td: b 11
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 11
        tr
            td: b 10
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 10
        tr
            td: b 9
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 9
        tr
            td: b 8
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td 13
            td 14
            td 15
            td 16
            td 17
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
            td: b 8
        tr
            td: b 7
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 7
        tr
            td: b 6
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 6
        tr
            td: b 5
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 5
        tr
            td: b 4
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 4
        tr
            td: b 3
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 3
        tr
            td: b 2
            td 1
            td 2
            td(data-toggle="seat-dropdown").text-alert 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 2
        tr
            td: b 1
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8
            td 9
            td 10
            td 11
            td 12
            td
            td
            td
            td
            td
            td
            td
            td 13
            td 14
            td 15
            td 16
            td 17
            td: b 1

    .callout.info.text-center ЛЁД

.dropdown-pane.text-center(id='seat-dropdown' data-dropdown data-hover='true' data-hover-pane='true')
    p Сектор 7, #[span.text-dark-gray Трибуна B]
    h3 Ряд 14, Место 24
    p 650 руб.
    a.button.hollow(href='#') Купить билет