.b-main {
  background: #fff;

  &__td {
    height: 100%;
  }
  &__cap {
    display: inline-block;
    width: 30px;
  }
  &__pad {
    padding-left: 5px;
    padding-right: 5px;
  }
  &__text {
    padding-top: 35px;
    font-size: 17px;
    line-height: 1.5;
  }
  &__half {
    width: 295px;
    display: inline-block;
  }
  &__bigger {
    padding-top: 60px;
  }
  &__respect {
    font-size: 19px;
    width: 265px;
    display: inline-block;
  }
  &__director {
    font-size: 19px;
    text-align: center;
  }
  &__bottom {
    padding-left: 30px;
    padding-bottom: 30px;
  }
&__topper {
  padding-top: 20px;
}
  &__right {
    text-align: right;
  }
  &__big {
    font-size: 17px;
  }
}