
.work.work_back: .grid-container
  h5.price.js-animate тарифы   
  .grid-x.grid-padding-x.js-animate: .xlarge-11.cell         
    h3.cap Регистрируйтесь уже сейчас совершенно бесплатно!    
  .grid-x.grid-padding-x.align-center.js-animate-second: .large-20.cell  
    .grid-x.grid-padding-x.large-up-3.medium-up-2.align-center
      .cell: .sale
        .sale__price 600€
        .sale__date 12 месяцев
        .sale__block.js-head1
          div Контакты
          div www……    ссылка
          div Описание своих услуг
          div Фото и видео
          div Функция отзыва
          .sale__disable  
            div Рубрика «Вопрос-Ответ»
            div Рассылка по клиентской базе
            div Статья в новостях
            div Приоритетное размещение
        a(href="#").button.button_hollow Зарегистрироваться  
      .cell: .sale.sale_active
        .text-center: input.sale__input(type="text",placeholder="Введите промокод")
        .sale__date 12 месяцев
        .sale__block.js-head1
          div Контакты
          div www……    ссылка
          div Описание своих услуг
          div Фото и видео
          div Функция отзыва
          div Рубрика «Вопрос-Ответ»
        a(href="#").button Зарегистрироваться  
      .cell: .sale
        .sale__price 1800€
        .sale__date 12 месяцев
        .sale__block.js-head1
          div Контакты
          div www……    ссылка
          div Описание своих услуг
          div Фото и видео
          div Функция отзыва
          div Рубрика «Вопрос-Ответ»
          div Рассылка по клиентской базе
          div Статья в новостях
          div Приоритетное размещение
        a(href="#").button.button_hollow Зарегистрироваться  
.grid-container
  h5.price.js-animate наши советы
  .grid-x.grid-padding-x.js-animate: .xlarge-9.cell         
    h3.cap.cap_high Как извлечь максимум пользы, не заплатив ни копейки
