.section.project-wall
  .grid-x.grid-padding-x.align-stretch.full
    .small-24.large-auto.cell
      img(src="./images/interior/int_big.jpg",width="100%",height="auto",alt="Большое изображение")
    .small-24.large-auto.cell
      .grid-x.small-up-1.medium-up-2
        .cell: .project-wall__img: img(src="./images/interior/int_1.jpg",alt="")
        .cell: .project-wall__img: img(src="./images/interior/int_2.jpg",alt="")
        .cell: .project-wall__img: img(src="./images/interior/int_3.jpg",alt="")
        .cell: .project-wall__img: img(src="./images/interior/int_4.jpg",alt="")
