footer.footer
  .grid-container.text-center.medium-text-left
    .grid-x.grid-padding-x.large-up-5.medium-up-3
      .cell
        a(href="#").footer__info О компании
      .cell
        a(href="#").footer__info Доставка
      .cell
        a(href="#").footer__info Гарантии и сервис
      .cell
        a(href="#").footer__info Контакты
      .cell
        form.input-group.input-group_dark(action='shop-search.html' method='get')
          input.input-group-field.input-group-field_dark(type='text', value='' placeholder='Поиск',)
          .input-group-button.input-group-button_white
            button.fa.fa-search.input-group-search(type='submit')
    .grid-x: .cell: hr.footer__hr
    .grid-x.grid-padding-x.medium-up-3.large-up-5.margin-bottom-4
      .cell
        a(href="#").footer__link Вакансии
        a(href="#").footer__link Партнерство
        a(href="#").footer__link Отделы
      .cell
        a(href="#").footer__link Доставка
        a(href="#").footer__link Сборка
        a(href="#").footer__link Оплата
      .cell
        a(href="#").footer__link Гарантии
        a(href="#").footer__link Ремонт
        a(href="#").footer__link Замена
      .cell
        a(href="#").footer__link Адреса
        a(href="#").footer__link Телефоны
        a(href="#").footer__link Обратная связь
      .cell
        .footer__block
          a(href="#").footer__soc
            i.fa.fa-vk
          a(href="#").footer__soc
            i.fa.fa-instagram
          a(href="#").footer__soc
            i.fa.fa-facebook
    .grid-x: .cell: hr.footer__hr
    .grid-x.grid-padding-x.footer__copy
      .cell.large-10.medium-16 © 2018 «Lime Office» Все права защищены
      .cell.large-8.medium-8.text-center.medium-text-right.large-text-left
        a.footer__cetera(target='_blank', href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate_wireframe/') Сообщить&nbsp;об&nbsp;ошибке
      .cell.large-6.text-center.medium-text-right
        a(href="#").footer__cetera
          | Создание&nbsp;сайта:
          |
          span.text-white Cetera
