ul.service
  li.service__item
    a.service__link О компании
  li.service__item
    a(href="#").service__link Распродажа
  li.service__item.service__item_menu
    a(href="#").service__link Услуги и Сервис
    ul.drop
      li.drop__item
        a(href="#").drop__link Подпункт 1
      li.drop__item
        a(href="#").drop__link Подпункт 2
      li.drop__item
        a(href="#").drop__link Подпункт 3
  li.service__item
    a(href="#").service__link Гарантии
  li.service__item.service__item_menu
    a(href="#").service__link Выполненные проекты
    ul.drop
      li.drop__item
        a(href="#").drop__link Подпункт 1
      li.drop__item
        a(href="#").drop__link Подпункт 2
      li.drop__item
        a(href="#").drop__link Подпункт 3
  li.service__item
    a(href="#").service__link Контакты
