include ../mixins/_mixin-block-title
+blockTitle('Шкафы серии')
.grid-x.grid-padding-x.large-up-2.xlarge-up-3(data-equalizer data-equalize-by-row="true")
    +productTileCoplect('Комби-перфоратор Metabo KHE 2650', 'novel')
    +productTileCoplect('Дрель-шуруповёрт RYOBI R18DDP-LL13G', 'lead')
    +productTileCoplect('Лобзик Metabo STEB 65 Quick', 'action')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Дрель-шуруповёрт RYOBI R18DDP-LL13G')
    +productTileCoplect('Лобзик Metabo STEB 65 Quick')
.text-center: a.button(href="shop-catalog.html") Показать все шкафы серии
