.grid-x.grid-padding-x
  .small-24.medium-12.cell
    .margin-bottom-6
      b Наличие:
      div
        | Магазин —
        span.text-success &#160; много
      div
        | Склад 1 —
        span.text-black &#160; нет
      div
        | Склад 2 —
        span.text-alert &#160; мало
  .small-24.medium-12.cell

    div
      | #[i.fa.fa-truck] #[b Доставка]:
    div
      | Самовывоз — 17.03.2016
    div
      | Москва и МО — 18.03.2016 (Бесплатно)
    div
      | Россия — 23.03.2016 (от 500 руб)
    div.margin-bottom-6
      a(href='#' title='') Тарифы и условия доставки
