.grid-x.grid-padding-x
  .cell.small-24.large-12
    .table-scroll
      table.user-table
        tr
          td.text-right: strong Наименование товара
          td Кресло руководителя
        tr
          td.text-right: strong Материалы:
          td Кожа, текстиль, нержавеющая сталь, пластик
        tr
          td.text-right: strong Размеры (Д/Ш/В)
          td 600мм / 200мм / 1200мм
        tr
          td.text-right: strong Масса
          td 14кг
        tr
          td.text-right: strong Механизм качания
          td Есть
    p
      a.text-underline(href='#product-tab-spec' title='На вкладку Характеристики') Все характеристики

  .cell.small-24.large-10.large-offset-2
    p
      b О товаре
    p Этот МФУ (принтер, сканер, копир, факс) прекрасно подойдёт для среднего офиса (~10 человек) где печатают не слишком большое количетсво документов не каждый день
    p 4-цветная лазерная печать до 28 стр/мин в формате до A4 (210 × 297 мм).
    p Цветной ЖК-дисплей позволяет с легкостью ориентироваться в меню устройства, а подсказки облегчат работу даже неопытному пользователю.
    p Есть двусторонняя печать и автоподача документов при сканировании
