
.grid-x.grid-padding-x
  .cell.large-4.medium-8.margin-bottom-4
    a.sofa( href="./shop-product.html" )
      img(src="https://lime-office.ru/imagetransform/width_700/uploads/import/import_files/A.RS-1-Orekh.jpg", alt="")
  .cell.large-20.medium-16
    .table-scroll
      table.user-table
        tbody
          tr
            td Материал
            td ЛДСП
          tr
            td Глубина, мм
            td 900
          tr
            td Высота, мм
            td 755
          tr
            td Ширина, мм
            td 1600
.grid-x.grid-padding-x
  .cell.large-4.medium-8.margin-bottom-4
    a.sofa( href="./shop-product.html" )
      img(src="https://lime-office.ru/imagetransform/width_700/uploads/import/import_files/A.RS-1-Orekh.jpg", alt="")
  .cell.large-20.medium-16
    .table-scroll
      table.user-table
        tbody
          tr
            td Материал
            td ЛДСП
          tr
            td Глубина, мм
            td 900

.grid-x.grid-padding-x
  .cell.large-4.medium-8.margin-bottom-4
    a.sofa( href="./shop-product.html" )
      img(src="https://lime-office.ru/imagetransform/width_700/uploads/import/import_files/A.RS-1-Orekh.jpg", alt="")
  .cell.large-20.medium-16
    .table-scroll
      table.user-table
        tbody
          tr
            td Материал
            td ЛДСП
          tr
            td Глубина, мм
            td 900
          tr
            td Высота, мм
            td 755
          tr
            td Ширина, мм
            td 1600
