include ../mixins/_mixin-block-title
include ../shop/_mixin-product-tile-сoplect
+blockTitle('Столы серии')
.grid-x.grid-padding-x.large-up-2.xlarge-up-3(data-equalizer data-equalize-by-row="true")
    +productTileCoplect('Комби-перфоратор Metabo KHE 2650')
    +productTileCoplect('Дрель-шуруповёрт RYOBI R18DDP-LL13G')
    +productTileCoplect('Лобзик Metabo STEB 65 Quick')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
    +productTileCoplect('Дрель-шуруповёрт RYOBI R18DDP-LL13G')
    +productTileCoplect('Лобзик Metabo STEB 65 Quick')
    +productTileCoplect('Комби-перфоратор Metabo KHE 2650')
    +productTileCoplect('Дрель-шуруповёрт RYOBI R18DDP-LL13G')
    +productTileCoplect('Лобзик Metabo STEB 65 Quick')
    +productTileCoplect('Торцовочная пила Ryobi EMS254L')
.text-center: a.button(href="shop-catalog.html") Показать все столы серии
