.margin-bottom-6 Рассказать:
    a(href='#' title='').text-success.margin-horizontal-2.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-facebook.fa-inverse
    
    a(href='#' title='').text-success.margin-horizontal-2.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-twitter.fa-inverse
    
    a(href='#' title='').text-success.margin-horizontal-2.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-vk.fa-inverse

    a(href='#' title='').text-success.margin-horizontal-2.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-odnoklassniki.fa-inverse
