.dexter
  label.page__label Страница 
  input(type="text",value="1").text-center.page__input      
  label.page__label из 400
  label.page__label
    a(href="#").page__arr
      i.fa.fa-chevron-left
    a(href="#").page__arr.page__arr_next
      i.fa.fa-chevron-right
