.row.columns.program
  p.program__info.text-center Выберите программу для одобрения:
  .table-scroll
    table
      tr.program__head
        th.program__th.program__th_first
          span.program__link 
            |Банк
            i.fa.fa-caret-down
        th.program__th 
          span.program__link 
            |Название программы
            i.fa.fa-caret-down
        th.program__th.program__th_count
          span.program__link 
            |Ставка 
            br
            |банка
            i.fa.fa-caret-down
        th.program__th.program__th_count
          span.program__link 
            |Ставка
            br
            | c нами
            i.fa.fa-caret-down
        th.program__th.program__th_profit
          span.program__link 
            |Ваша выгода
            i.fa.fa-caret-down
        th.program__th.program__th_last
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank1.png", alt="") 
          |Альфа Банк 
        td Сбербанк. Военная ипотека
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank2.png", alt="") 
          |Сбербанк России
        td Ипотечный кредит
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank3.png", alt="") 
          |Открытие
        td Опция «Абсолютная ставка»
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank4.png", alt="") 
          |Тинькофф Банк
        td Ипотечный кредит
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank5.png", alt="") 
          |Банк Таврика
        td Ипотечный кредит
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
      tr.program__tr
        td.program__img
          span.program__logo.text-center
            img(src="./images/bank6.png", alt="") 
          |Бин Банк
        td Ипотечный кредит
        td 12,5%
        td 12,5%
        td 12,5%
        td 
          a.button.vision(href="#") Подать заявку
