@each $name, $color in $foundation-palette {
  .background-#{$name} {
    background: $color;
    color: color-pick-contrast($color, ($white, $black));
  }
}

.background-opacity-lime {
  background: rgba(100,210,201,0.2);
}
.background-transparent {
  background: transparent !important;
}