footer.footer
  .container
    .row.hidden-xs
      .col-md-24.text-center
        a.footer__title(href="#") News & Events
      .col-md-8.article
        .article__date August 9, 2016
        .article__text Free eBook – 10 Essential Features of a Fabric Structure
        .article__more
          a.article__link(href="#") Read more
            span.glyphicon.glyphicon-chevron-right
      .col-md-8.article
        .article__date July 9, 2016
        .article__text Featured Buildings – 52 x 80 CC Series Calhoun Super Structure
        .article__more
          a.article__link(href="#") Read more
            span.glyphicon.glyphicon-chevron-right
      .col-md-8.article
        .article__date June 22, 2016
        .article__text Featured Buildings – 65 x 304 and 120 x 544 VP Series Fertilizer Storage Buildings
        .article__more
          a.article__link(href="#") Read more
            span.glyphicon.glyphicon-chevron-right
      .col-md-24
        hr.footer__hr
    .row
      .col-md-4.col-sm-6.footer__logo   
        a(href="#")
          img(src="./images/Calhoun_logo_WHITE.svg", alt="")
      .col-md-20.col-sm-18.text-right
        ul.footer__ul
          each title in ['News & Events','Contact Us','Become a local dealer','Sitemap']
            li.footer__li
              a(href="#").footer__link= title
        .footer__address
           |3702 Bruce Road Tara, Ontario N0H 2N0
