doctype html
html.no-js(lang='en')
  include service/_head
  body
    block body
      include mixins/_mixin-block

      //-include components/shop/_top-line
      section.top-line-menu
        include shop/_header
      .invertor
        section.main-menu.invertor__menu
          include shop/_red-line
        .invertor__slider  
          include shop/_carousel-main
      block page


      include shop/_footer

    include service/_js.html
