.about-block {
}

.about-text {
  position: relative;
  &:after {
    display:block;
    content: "";
    position: absolute;
    height:100%;
    width:7px;
    background: transparent url('../i/right-line.svg') no-repeat;
    background-size: cover;
    top:50%;
    right: -20px;
    transform: translateY(-50%);

    @include breakpoint(small only) {
      display: none;
    }

  }
}

.video-showcase {
  @include breakpoint(small only) {
    margin-top: 2rem;
  }
  &__cover {
    position: relative;
    &__image {
      width: 100%;
      height: auto;
    }
    &__overlay {
      position: absolute;
      display: block;
      top: 40%;
      left: 50%;
      text-align: center;
      transform: translateY(-50%) translateX(-50%);
      transition: 0.27s ease;
    }
  }
  &:hover {
    .video-showcase__cover__overlay {
      opacity: 0.9;
    }
  }
  display:block;
  margin-top: -125px;
  @include breakpoint(medium down) {
    margin: 0;
  }
}
.play-button {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 10em;
  background: url(../i/play.svg) no-repeat 50% 50%;
  @include breakpoint(medium only) {
    background-size: 50%;
  }
  @include breakpoint(small only) {
    width: 60px;
    height: 60px;
  }
}

