.text-thin {
    font-weight: 300;
}
.account-type {
    color: white;
    background-color: #232d35;
    background-image: url(../images/bg-account-type.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: rem-calc(110);
    padding-bottom: rem-calc(120);
    &_title {
        font-size: rem-calc(48);
        line-height: rem-calc(52);
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        @include breakpoint(small only) {
            font-size: rem-calc(32);
            line-height: rem-calc(38);
        }
    }
    &_desc {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
    }
    &-columns {
        padding-top: rem-calc(36);
    }
    &-column {
        color: black;
        background-color: white;
        border: 1px solid #c2c2c2;
        float: left;
        margin-right: 2.33333333333333%;
        margin-bottom: rem-calc(30);
        padding-left: 2.41666666666667%;
        padding-right: 2.5%;
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(6);
        width: 100%;
        @include breakpoint(large up) {
            width: 31.75%;
            margin-bottom: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &_header {
            border-bottom: 1px solid #c2c2c2;
            padding-bottom: rem-calc(16);
            margin-bottom: rem-calc(21);
            position: relative;
        }
        &_link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem-calc(20);
        }
        &_title {
            font-size: rem-calc(30);
            line-height: rem-calc(30);
        }
        &_desc {
            line-height: rem-calc(24);
            margin-bottom: rem-calc(30);
        }
        &_table {
            display: table;
            width: 100%;
            margin-bottom: rem-calc(19);
        }
        &_table-row {
            display: table-row;
        }
        &_table-cell {
            display: table-cell;
            line-height: rem-calc(32);
            &:last-child {
              width: 5.5rem;
            }
        }
        &_btn {
            font-size: rem-calc(13);
            line-height: rem-calc(22.05);
            color: black;
            border-width: 2px;
            border-style: solid;
            border-radius: 2px;
            padding: rem-calc(14);
            vertical-align: top;
            transition: background-color 0.25s ease-out,color 0.25s ease-out;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: none;
            }
            &__green {
                background-color: #2db54a;
                color: white;
                border-color: #2db54a;
                max-width: 174px;
                margin-bottom: 3%;
                float: left;
                &:hover {
                    color: white;
                    font-weight: bold;
                }
            }
            &__blue {
                color: #00a2ff;
                border-color: #00a2ff;
                width: 111px;
                float: right;
                &:hover {
                    background-color: #00a2ff;
                    color: white;
                }
            }
        }
        &_desc-shoulder {
            // color: #c2c2c2;
            color: #8d8b8b;
            font-size: rem-calc(12);
            line-height: rem-calc(18);
        }
    }
}
