.wrap-arrow-up {
  position: relative;
  padding-bottom: rem-calc(26);
}
.buttonUp {
  position: absolute;
  right: rem-calc(-180);
  bottom: 0;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  background-image: url($imagesPath + '/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: rem-calc(80);
  height: rem-calc(87);
  border-left: rem-calc(1) solid #dcdcdc;
  display: none;
  @media (max-width: 1860px) {
    display: none !important;
  }
}
