$primary: #00a2ff;
$accent: $primary;
$green: #2db54a;
$success-color: $green;
$black: #232323;
$light-grey: #c2c2c2;
$grey: #818181;
$background-grey: #f8f8f8;
$red: #ff2e42;
$menu-border: #3b6379;
$menu-background: transparentize(#081116, 0.02);
