.country {
  float: left;
  width: rem-calc(53);
margin-bottom: rem-calc(30);
  &__input {
    display: none;

    &:checked+label {
      background: url($imagesPath +"/country-active.svg")no-repeat center top;
    }
  }

  .country__label {
    background: url($imagesPath +"/country.svg")no-repeat center top;
    margin-left: rem-calc(0);
    margin-right: rem-calc(0);
    padding-top: rem-calc(26);

    img {
      max-height: rem-calc(11);
    }
  }

  &__name {
    display: block;
    line-height: 1.3;
    font-size: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
  }
}
