.tab-menu__content__inner__row:not(:last-child) {
  border-right: 1px solid #142630;
}

.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  &__header {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(640 down) {
      margin-top: 2rem;
      font-size: rem-calc(16);
      text-align: left;
    }
  }
  &__item:not(:last-child) {
  padding-bottom: rem-calc(10);
  border-bottom: 1px solid #0c1920;
  }
  &__item {
    padding-top: rem-calc(10);
  }
  @include breakpoint(640 down) {
    &__item:not(:last-child) {
      padding-bottom: rem-calc(8);

    }
    &__item {
      padding-top: rem-calc(8);
    }
  }
  &__link {
    text-transform: uppercase;
    font-size: rem-calc(14);
    color: #ffffff;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $green;
      border-bottom: 2px solid $green;
    }
    &.active {
      color: $green;
    }
  }

}

.last-row {
  @include breakpoint(640 down) {
    float: left !important;
  }
}

.flag-set {
  margin-top: -4px;
  &__item {
    margin-left: 4px;
  }
}

@include breakpoint(640 down) {
  .tab-menu__content__inner__row {
    border: 0 !important;
    margin: 0 -1.25rem;
  }
}