.dynamics {
  position: relative;
  font-size: rem-calc(18);

  &__block {
    font-size: rem-calc(16);
    position: absolute;
    border: rem-calc(1) solid #d0d0d0;
    border-radius: rem-calc(2);
    background: $white;
    line-height: 1.35;
    padding: rem-calc(23) rem-calc(30);
    width: rem-calc(330);
    left: rem-calc(60);
    top: rem-calc(265);
  }
  @include breakpoint(large down) {
    &__block {
      top: rem-calc(60);
    }
  }
  @include breakpoint(medium down) {
    &__block {
      position: relative;
      width: 100%;
      left: rem-calc(0);
      margin-bottom: rem-calc(20);
      top: rem-calc(0);
    }
  }
}
