.forex-cfd-standart-features-account {
    &__section {
        padding-bottom: 0;
    }
    &__title {
        font-size: rem-calc(26);
        line-height: rem-calc(38);
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        @include breakpoint(medium) {
            font-size: rem-calc(48);
            line-height: rem-calc(52);
        }
    }
    &__table {
        border-collapse: collapse;
        margin-bottom: 0;
        @media (min-width: 40em) {
            width: 100% !important;
        }
        &:last-child {
            @include breakpoint(small only) {
                margin-bottom: 3rem;
            }
        }
    }
    &__thead {
        background-color: white;
        border: none;
    }
    &__tbody {
        border: none;
    }
    &__th {
        padding-left: 0;
    }
    &__tr {}
    &__td {
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        @media (min-width: 40em) {
            padding-left: rem-calc(29);
        }
        &:first-child {
            border-right: 1px solid #c2c2c2;
            padding-left: 0;
            width: 66.0332541567696%;
        }
        &_no-border {
            &:first-child {
                border-right: 1px solid white;
            }
        }
    }
    &__img {
        margin-right: rem-calc(5);
    }
    &__btn {
        @extend .account-type-column_btn;
        @extend .account-type-column_btn__blue;
        width: 100%;
        padding: 0.45rem;
        margin-bottom: 1rem;
        float: none;
        display: inline-block;
        max-width: 100%;
        &:last-of-type {
            margin-bottom: 3rem;
        }
        &_green {
            border-color: #2db54a;
            background-color: #2db54a;
            color: white;
            &:hover {
                color: white;
                background-color: #2db54a;
                font-weight: bold;
            }
        }
    }
}
.types-accounts {
    padding: 1rem;
    border: 1px solid #c2c2c2;
    background-color: #f5f5f5;
    @media (min-width: 60em) {
        padding: 2rem;
    }
    &__hr {
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 1rem;
    }
    &__lists {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__items {
        font-size: rem-calc(16);
        line-height:  rem-calc(32);
        @media (min-width: 60em) {
            font-size: rem-calc(18);
            line-height:  rem-calc(36);
        }
        &_active {
            font-weight: bold;
        }
    }
    &__link {
        color: #21adfe;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}