.menu {
  &__link {
    color: white !important;
    text-transform: uppercase;
    font-family: $font-helveticaNeueCyr;
    font-size: rem-calc(16);
    line-height: rem-calc(16) !important;
    position: relative;
    @include breakpoint(small only) {
      padding: rem-calc(15 10);
    }
    &_arrow:after {
      background-image: url($imagesPath+'/arrow-menu.svg');
      content: '' !important;
      position: absolute !important;
      top: 0 !important;
      bottom: 0 !important;
      right: rem-calc(5) !important;
      margin: auto !important;
      width: rem-calc(9) !important;
      height: rem-calc(5) !important;
      border: none !important;
    }
  }
  &-toggle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__current
  {
    background-color: map-get($foundation-palette, red);
  }
}
.submenu {
  padding: 0;
  z-index: 20;
  @include breakpoint (medium) {
    padding: rem-calc(31 0 31 0);
  }
  & a {
    color: white;
    text-transform: uppercase;
    font-family: $font-helveticaNeueCyr;
    font-size: rem-calc(16) !important;
    padding-left: rem-calc(14);
    @include breakpoint (small only) {
      font-size: rem-calc(14) !important;
      line-height: rem-calc(14) !important;
    }
    @include breakpoint (medium) {
      line-height: rem-calc(32) !important;
    }
    &:hover, &:focus {
      background-color: map-get($foundation-palette, red);
    }
  }
  & .submenu {
    border-top: none;
    margin-top: 0;
    @include breakpoint (small only) {
      padding: rem-calc(0);
    }
    @include breakpoint (medium) {
      margin-top: rem-calc(-31);
    }
    & a {
      @include breakpoint (small only) {
        padding-left: 2rem;
      }
    }
  }
  & .is-dropdown-submenu-parent.opens-right > a::after {
    background-image: url($imagesPath+'/arrow-menu.svg');
    background-position: center;
    transform: rotate(-90deg) scale(0.85);
    content: '';
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    right: rem-calc(20) !important;
    margin: auto !important;
    width: rem-calc(9) !important;
    height: rem-calc(5) !important;
  }
}
.is-dropdown-submenu{
  background: #002E54;
}
