.menu-base {
  display: block;
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

.menu-base__item {
  display: block;
  @include disable-mouse-outline;

}

#top-menu-fluid {
  position: relative;
  @include breakpoint(medium up) {
    padding: 0 rem-calc(60);
  }
}
.tabs-content {
  position: absolute;
  left: 0;
  top: 89px;
  width: 100%;
  z-index: 1000;
  @include breakpoint(1279 down) {
  top: 51px;
  }
  @include breakpoint(large down) {
    top: 46px;
  }

}
.menu-block {
  @include breakpoint(xxlarge) {
    text-align: center;
  }
}
.main-menu {
  color: #ffffff;
  background: transparent;
  border: 0;
  display: inline-block;
  @include breakpoint(1545 up) {
    margin-left: 26%;
  }
  @include breakpoint(xxlarge down) {
    margin-left: 20%;
  }
  @include breakpoint(1450 down) {
    margin-left: 10%;
  }
  @include breakpoint(1280 down) {
    margin-left: 0;
  }

 &__tabs-panel {
   padding: 0;
   border: 0;
   &[aria-hidden="false"] {
     @include breakpoint(xxlarge) {
       margin: 0 rem-calc(-60);
     }
     @include breakpoint(large down) {
       border-top: 1px solid $menu-border;
     }
   }
 }
  &__item {
    margin-bottom: -1px;
    position: relative;
    @extend .clearfix;
    &:before {
      position: absolute;
      content: "";
      display: block;
      height: 16px;
      width: 1px;
      background: $menu-border;
      top: 35%;
      right: -5px;
    @include breakpoint(large down) {
      display: none;
    }
    }
    &:nth-last-child(2):before {
      display: none;
    }
  }
}
.tabs-menu__content {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  &__inner {
    background: $menu-background;
    border: 1px solid $menu-border;
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;
  }
  @include breakpoint(640 down) {
    &__inner {
      border: 0;
      padding: 1rem 2rem 2rem;
    }
  }
}

.main-menu__link {
  @include disable-mouse-outline;
  display: block;
  color: $white;
  font-weight: 400;
  padding: rem-calc(25);
  //border:1px solid transparent;
  border-bottom: 0;
  transition: all 0.27s ease;
  position: relative;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    color: $green;

  }
  &:before {
    position: absolute;
    display: block;
    font-family: 'FontAwesome';
    content: "\f0d7";
    top: 36%;
    right: 8px;
  }

}
[aria-controls="organization"] {
  padding-right: rem-calc(12) !important;
  background: transparent;
  border: 0;

  &:before {
    display: none;
  }
}
.main-menu__item>a[aria-controls="organization"][aria-selected='true'] {
  background: transparent;
  border: 0;
  &:before, &:after {
    display: none;
  }
}
.main-menu__item>a[aria-selected='true'] {
  color: $green;
  background: $menu-background;
  border: 1px solid $menu-border;
  border-bottom-color: $menu-background;
  margin-bottom: -2px;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: $menu-background;
    bottom: -2px;
    left: 0;
    z-index: 999999;
    @include breakpoint(large down) {
      bottom: 0;
    }

  }
  &:before {
    display: none;
  }
  @include breakpoint(large down) {
    background: transparent;
    border: 0;
    border-left: 1px solid $menu-border;
    border-right: 1px solid $menu-border;
  }
}
.main-menu__item>a:hover {
  color: $green;
}

.sandwich {
  display: inline-block;
  width: 50px;
  height: 40px;
  background: #ffffff;
  color: $black;
  text-align: center;
  padding-top: 6px;
}

@include breakpoint(medium up) {
  .menu-base__item {
    display: inline-block;
  }

  .menu-base__link {
    display: inline-block;
  }
  .single-row {
    .tabs-menu {

    }
  }
}

@include breakpoint(xlarge up) {
  .menu-base__item {

    &:last-child {
      padding-right: 0;
    }
  }
  .single-row {
    background: transparent;
    border-color: transparent;
    .tabs-menu {
      background: $menu-background;
      border: 1px solid $menu-border;
      padding: 3rem 1rem 3rem 1.5rem;
      margin-top: -3rem;
    }
  }
  #investors .tabs-menu {
      transform: translateX(-3px);
    }
  #about .tabs-menu {
    transform: translateX(-12px);
  }
  }


@include breakpoint(1279 down) {
  .menu-block {
    position: absolute;
    background: $menu-background;
    border-bottom: 1px solid $menu-border;
    top: 108px;
    left: 0;
    z-index: 999;
  }
}
@include breakpoint(639 down) {
  .menu-block {
    position: absolute;
    background: $menu-background;
    border-bottom: 1px solid $menu-border;
    top: 162px;
    left: 0;
    z-index: 999;
  }
}
.main-menu.accordion {
  .accordion-title {
    border: 0;
    padding: 1rem 0;

    font-weight: bold;
    &:before {
      top: 54%;
      left: 120px;
      content: "\f0da";
    }
    &[aria-expanded="true"] {
      &:before {
        display: block;
        content: "\f0d7";
      }
    }
  }

}
.accordion-content {
  background: transparent;
}

.accordion-item:not(:last-child) .accordion-title {
  border-bottom: 1px solid darken($menu-border,20);
}
.accordion-title:hover, .accordion-title:focus {
  background: transparent;
}
.alter-row {
  padding: 0 14px;
  margin-bottom: 1rem;
}



