.our-partners {
    background-color: #f5f5f5;
    padding-top: rem-calc(110);
    padding-bottom: rem-calc(120);
    &_title {
        font-size: rem-calc(48);
        line-height: rem-calc(52);
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        margin-bottom: rem-calc(56);
        @include breakpoint(small only) {
            font-size: rem-calc(32);
            line-height: rem-calc(38);
        }
    }
    &_col {
        height: 43px;
        background-repeat: no-repeat;
        background-position: center;
        @include breakpoint(medium down) {
            margin-bottom: rem-calc(30)
        }
    }
    &_img {
        position: relative;
        margin: auto;
        margin-top: 21.5px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
}