.payment-methods {
    padding-top: rem-calc(110);
    padding-bottom: rem-calc(120);
    &_title {
        font-size: rem-calc(48);
        line-height: rem-calc(52);
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        @include breakpoint(small only) {
            font-size: rem-calc(32);
            line-height: rem-calc(38);
        }
    }
    &_lists {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
        list-style: none;
        margin-left: 0;
        margin-bottom: rem-calc(60);
        font-weight: bold;
        @include breakpoint(small down) {
            font-size: rem-calc(16);
            line-height: rem-calc(24);
        }
    }
    &_col {
        @include breakpoint(medium down) {
            margin-bottom: rem-calc(30);
        }
    }
}
.text-normal {
    font-weight: normal;
}