.slider {
    @include slider-container;
    background-color: #dddddd;
    background-image: url('../images/icons/bg-slider.svg');
    border-radius: 4px;
    margin: 0 rem-calc(18);
    margin-bottom: 0.95rem;
}
.rating-pamm {
    padding: 3.714rem 0 4.3rem 0;
    &-filter {
        &__title {
            font-size: rem-calc(14);
            font-family: 'Roboto', sans-serif;
            line-height: rem-calc(24);
            text-align: center;
            margin-bottom: rem-calc(56);
        }
        &__radio-group {
            font-size: 0;
            // padding-top: rem-calc(18);
            margin-right: rem-calc(18);
            margin-left: rem-calc(18);
        }
        &__col {
            margin-bottom: rem-calc(34);
            &:nth-last-child(1),
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        &__close-btn {
            border: 2px solid #c2c2c2;
            border-radius: 2px;
            font-size: rem-calc(14);
            line-height: rem-calc(30);
            padding: 5px 27px;
            cursor: pointer;
        }
        &_none {
          display: none;
        }
    }
    &__slider-fill {
        @include slider-fill;
        background-color: #00a2ff;
    }
    &__slider-handle {
        @include slider-handle;
        background-color: transparent;
        background-image: url('../images/icons/bg-slider-handle.svg');
        border-radius: 50%;
        &:hover {
            background-color: transparent;
            box-shadow: 0px 0px 3px 0px black;
        }
        &-left {
            &-inner {
                font-size: rem-calc(12);
                line-height: rem-calc(25);
                position: absolute;
                content: "";
                background-color: #00a2ff;
                border-radius: 2px;
                bottom: rem-calc(30);
                color: white;
                left: rem-calc(-15);
                right: 0;
                margin: auto;
                width: rem-calc(50);
                height: rem-calc(25);
                text-align: center;
                z-index: 8888;
                &:after {
                  position: absolute;
                  content: '';
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: rem-calc(-10);
                  border: 5px solid transparent; /* Прозрачные границы */
                  border-top: 5px solid #00a2ff; /* Добавляем треугольник */
                }
            }
        }
        &-right {
            &-inner {
                font-size: rem-calc(12);
                line-height: rem-calc(25);
                position: absolute;
                content: "";
                display: block;
                background-color: #00a2ff;
                border-radius: rem-calc(2);
                bottom: rem-calc(30);
                color: white;
                left: 50%;
                transform: translateX(-50%);
                max-width: rem-calc(73);
                height: rem-calc(25);
                text-align: center;
                z-index: 8899;
                padding: 0 rem-calc(8);
                min-width: rem-calc(64);
                &:after {
                  position: absolute;
                  content: '';
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: rem-calc(-10);
                  border: 5px solid transparent; /* Прозрачные границы */
                  border-top: 5px solid #00a2ff; /* Добавляем треугольник */
                }
            }
        }
    }
    // &__slider-data-left, &__slider-data-right {
    //     position: absolute;
    //     bottom: 25px;
    //     cursor: default;
    // }
    // &__slider-data-left
    //  {
    //     left: 0;
    // }
    // &__slider-data-right {
    //     right: 0;
    // }
    &__slider-input-group {
      margin-left: rem-calc(18);
      margin-right: rem-calc(18);
    }
    &__slider-input-left, &__slider-input-right {
      color: #dedede;
      font-size: rem-calc(12);
      height: auto;
      padding: rem-calc(5);
      margin: 0;
      // margin-top: rem-calc(18);
      margin-bottom: rem-calc(18);
      text-align: center;
      &:focus {
        color: black;
      }
    }
    // &__slider-input-left {
    //   margin-left: rem-calc(18);
    // }
    // &__slider-input-right {
    //   margin-right: rem-calc(18);
    // }
    &-table {
        display: table;
        width: 100% !important;
        border-collapse: collapse;
        &__btn-search, &__btn-question {
            background-color: #232323;
            border-radius: 2px;
            color: white;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            height: rem-calc(32);
            width: rem-calc(32);
            & i {
                font-size: rem-calc(14);
                line-height: rem-calc(32);
                // vertical-align: bottom;
            }
        }
        &__btn-search {
            margin-right: rem-calc(10);
        }
        &__thead, &__tbody {
          background-color: #fff;
          border: none;
        }
        &__caption {
            display: table-caption;
            font-weight: bold;
            text-indent: 27%;
            text-align: left;
            padding: 0;
        }
        &__row {
            display: table-row;
        }
        // &__row:nth-child(2n) {
        //     background-color: #fff;
        // }
        &__th {
          display: table-cell;
          border-bottom: 1px solid #c2c2c2;
          // padding: 0.7%;
          vertical-align: middle;
          font-weight: normal;
          text-align: left;
        }
        &__cell {
            display: table-cell;
            border-bottom: 1px solid #c2c2c2;
            padding: 1.7%;
            vertical-align: middle;
            &:first-child {
                padding-left: 0;
                padding-right: 0;
                width: 97px;
            }
            &:nth-child(3) {
              border-right: 1px solid #c2c2c2;
              padding-left: 0;
              padding-right: 0;
              text-align: center;
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                font-weight: bold;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                text-align: center;
            }
            &:last-child {
                padding-right: 0;
                text-align: right;
            }
        }
        &__sort {
          margin-left: rem-calc(3);
          cursor: pointer;
        }
    }
}
.rating-pamm-table__btn.rating-pamm-table__btn {
    border-radius: 2px;
    font-size: rem-calc(14);
    line-height: rem-calc(18);
    font-family: 'Lato', sans-serif;
    text-transform: none;
}

.rating-pamm-table__row :nth-child(3),
.rating-pamm-table__row :nth-child(4),
.rating-pamm-table__row :nth-child(5),
.rating-pamm-table__row :nth-child(6),
.rating-pamm-table__row :nth-child(7),
.rating-pamm-table__row :nth-child(8) {
  @include breakpoint(small only){
    display: none;
  }
}
.rating-pamm-table__row :nth-child(2) {
  @include breakpoint(small only){
    text-align: center;
  }
}
#rating-pamm-filter {
    &__checkbox {
        display: none;
    }
    &__label {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
        margin: 0;
        margin-bottom: rem-calc(14);
        position: relative;
        @include breakpoint(medium down) {
            margin-right: rem-calc(40);
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: rem-calc(-45);
            width: rem-calc(30);
            height: rem-calc(30);
            background-image: url('../images/icons/account-opening-checkbox.svg');
        }
    }
    &__input-total, &__input-month {
        display: none;
    }
    &__label-total, &__label-month {
        background-color: #dedede;
        display: inline-block;
        font-size: rem-calc(12);
        line-height: rem-calc(24);
        margin: 0;
        padding: 0px 10px 1px 11px;
    }
    &__label-total {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    &__label-month {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
#rating-pamm-filter__input-month:checked + #rating-pamm-filter__label-month,
#rating-pamm-filter__input-total:checked + #rating-pamm-filter__label-total {
    background-color: #232323;
    color: #fffefe;
}
#rating-pamm-filter__checkbox:checked + .rating-pamm-filter__label:before {
    background-image: url('../images/icons/account-opening-checkbox-cheked.svg');
}
.text-blue {
    color: #00a2ff;
}
