.review {
  border: rem-calc(1) solid $light-gray;
  border-radius: rem-calc(5);
  padding: rem-calc(20) rem-calc(22);
  margin-bottom: rem-calc(11);

  &__title {
    font-size: rem-calc(18);
    margin-bottom: rem-calc(23);
    font-weight: 700;
    line-height: 1.4;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: rem-calc(10);
      bottom: rem-calc(-12);
      width: rem-calc(32);
      border-top: rem-calc(1) solid #ca3034;
    }
  }

  &__text {
    font-style: italic;
    color: #595959;
    font-weight: 300;
    font-size: rem-calc(15);
    margin-bottom: rem-calc(19);
  }
  @include breakpoint(large down) {
    &__title {
      font-size: rem-calc(14);
    }
    &__text {
      font-size: rem-calc(13);
    }
  }
  @include breakpoint(medium down) {
    &__title {
      font-size: rem-calc(18);
    }
    &__text {
      font-size: rem-calc(15);
    }
  }
}
