.os-list {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__item {
    text-align: center;
    &__image {
      display: inline-block;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat !important;
      background-position: 50% 50%;
      background-size: contain;
      margin-bottom: 1rem;
    }
    &__name {
      font-weight: bold;
      color: $accent;
    }
  }
}

.article-image-left {
  padding-right: rem-calc(30);
  @include breakpoint(medium down) {
    padding: 0;
  }
}