.social {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: rem-calc(50);
  left: rem-calc(-36);
  z-index: 1;
  &-wrap {
    position: relative;
  }
  &__item {
    background-color: #cecece;
    margin-bottom: rem-calc(1);
    width: rem-calc(35);
    &:hover {
      width: 10rem;
      opacity: 1;
      & .social__text {
        display: inline-block;
      }
    }
    &_vk:hover {
      background-color: #507299;
    }
    &_fb:hover {
      background-color: #3B5998;
    }
    &_tw:hover {
      background-color: #1DA1F2;
    }
    &_ytb:hover {
      background-color: #FF0000;
    }
    &_int:hover {
      background-color: #262626;
    }
  }
  &__icon {
    height: rem-calc(35);
    width: rem-calc(35);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    &_vk {
      background-image: url($imagesPath + '/social/vk.svg');
    }
    &_fb {
      background-image: url($imagesPath + '/social/fb.svg');
    }
    &_tw {
      background-image: url($imagesPath + '/social/tw.svg');
    }
    &_ytb {
      background-image: url($imagesPath + '/social/ytb.svg');
    }
    &_int {
      background-image: url($imagesPath + '/social/ins.svg');
    }
  }
  &__text {
    color: white;
    display: none;
    font-size: rem-calc(14);
    line-height: rem-calc(35);
    vertical-align: top;
    text-transform: uppercase;
    padding-left: rem-calc(11);
  }
}
