.top-block-rating {
    @extend .top-block;
    background-image: url(../images/bg-rating.jpg);
    background-position: 40% 50%;
    height: auto;
    padding-bottom: rem-calc(30);
    min-height: rem-calc(450);
    padding-top: 0;
    &__line {
      padding-top: rem-calc(30);
    }
    &__title {
      color: white;
      font-size: rem-calc(34);
      line-height: rem-calc(50);
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }
    &__desc {
      color: white;
      font-size: rem-calc(20);
      line-height: rem-calc(30);
    }
  }
