.top-block-forex-cfd-standart {
    @extend .top-block;
    background-image: url(../images/bg-forex-cfd-standart.jpg);
    background-position: center;
    color: white;
    height: auto;
    // min-height: rem-calc(595);
    min-height: 27rem;
    padding-bottom: rem-calc(30);
    padding-top: 0;
    &__line {
      padding-top: rem-calc(30);
    }
    &__title {
      @extend .license-info__title;
    }
    &__desc {
      @extend .license-info__desc;
    }
}