.trading-platform{
    padding-top: rem-calc(110);
    padding-bottom: 0;
    &_title {
        font-size: rem-calc(48);
        line-height: rem-calc(52);
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        @include breakpoint(small only) {
            font-size: rem-calc(32);
            line-height: rem-calc(38);
        }
    }
    &_desc {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
        margin-bottom: rem-calc(28);
    }
    &_for-download {
        font-weight: bold;
    }
    &_col {
        text-align: center;
        color: black;
        height: 167px;
        font-size: rem-calc(18);
        line-height: rem-calc(52);
        background-position: center 28px;
        background-repeat: no-repeat;
        padding-top: 100px;
        position: relative;
        &:hover {
            background-color: #00a1fd;
            border-radius: 2px;
            color: white;
            &:after {
                position: absolute;
                content: '';
                top: 15px;
                right: 15px;
                height: 16px;
                width: 16px;
                background-image: url('../images/icons/trading-platform-download.svg');
            }
        }
    }
    &_columns {
        margin-bottom: 30px;
    }
    &_windows {
        background-image: url('../images/icons/platform-windows.svg');
        &:hover {
            background-image: url('../images/icons/platform-windows-hover.svg');
        }
    }
    &_osx {
        background-image: url('../images/icons/platform-osx.svg');
        &:hover {
            background-image: url('../images/icons/platform-osx-hover.svg');
        }
    }
    &_web {
        background-image: url('../images/icons/platform-web.svg');
        &:hover {
            background-image: url('../images/icons/platform-web-hover.svg');
        }
    }
    &_android {
        background-image: url('../images/icons/platform-android.svg');
        &:hover {
            background-image: url('../images/icons/platform-android-hover.svg');
        }
    }
    &_ios {
        background-image: url('../images/icons/platform-osx.svg');
        &:hover {
            background-image: url('../images/icons/platform-osx-hover.svg');
        }
    }
}