body {
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: "Lato", "Roboto", "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: rem-calc(48);
  margin-bottom: rem-calc(20);
  text-transform: uppercase;
}

.subheader {
  font-size: rem-calc(24);
  line-height: 1.25;
  margin-bottom: rem-calc(46);
  font-weight: 300;
  color: $black;
}

.lead-text {
  font-size: rem-calc(18);
  line-height: 1.62;
}

@include breakpoint(small only) {
  h2 {
    font-size: 2rem;
  }
  .subheader {
    font-size: 1.4rem;
  }
}
