@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$fa-font-path: $fontsPath;

@import "foundation-settings";

@import "foundation";
@import "motion-ui";
@import "font-awesome";
@import "slick.scss";
@include foundation-everything;

@import "color";
@import "typo";
@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "checkbox-group";
@import "content";
@import "footer";
@import "footer-form";
@import "header";
@import "dd";
@import "menu-base";
@import "page-header";
@import "lang-panel";
@import "contact-buttons";
@import "menu-top";
@import "menu-line";
@import "rating";
@import "search-top";
@import "sticky-footer";
@import "text";
@import "top-line";
@import "vertical-middle";
@import "dd-menu";
@import "top-block";
@import "ticker";
@import "tools-block";
@import "about-block";
@import "advantages";
@import "simple-start";
@import "map-block";
@import "top-block-forex";
@import "advantages-block";
@import "account-opening-block";
@import "account-type-block";
@import "trading-platform-block";
@import "our-partners-block";
@import "payment-methods-block";
@import "top-block-rating";
@import "rating-block";
@import "top-block-investment";
@import "investment-block";
@import "tablesorter-theme";
@import "top-block-account-opening";
@import "opening-individual-accounts";
@import "top-block-forex-cfd-standart";
@import "forex-cfd-standart-features-account";
@import "coin";
@import "commission";
@import "potency";
@import "dynamics";
@import "count";
@import "sun";
@import "cash";
@import "sea";
@import "europe";
@import "country";
@import "currency";
@import "feature";
@import "table-scroll";
