doctype html
html.no-js(lang='en')
  include components/service/_head
  body
    include components/shop/_header


    block page
      section
        include components/shop/_shop-main


    include components/shop/_footer
    include components/service/_js
