.grid-x.grid-padding-x.site__main: .cell
  a(data-toggle='js-main').site__faq.site__faq_alert
    include _arr
    span.site__span К портфолио
    
  h2.site__inter Интернет-магазины и сайты 
    strong с каталогом
.grid-x.grid-padding-x.large-up-4.medium-up-3.small-up-2.site__main
  .cell
    a(href="#").space
      img(src="./i/s1.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s2.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s3.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s4.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s5.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s6.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s7.jpg", alt="")   
  .cell
    a(href="#").space
      img(src="./i/s8.jpg", alt="")  
