ul.pagination
    li.pagination-previous.disabled: i.fas.fa-chevron-left
    li.current #[span.show-for-sr Cтраница] 1
    li
        a(href='#' title='' aria-label='Страница 2') 2
    li
        a(href='#' title='' aria-label='Страница 3') 3
    li
        a(href='#' title='' aria-label='Страница 4') 4
    li.ellipsis
    li
        a(href='#' title='' aria-label='Страница 12') 11
    li.pagination-next
        a(href='#' title='' aria-label='Следующая страница'): i.fas.fa-chevron-right