.reveal#order.text-center(data-reveal data-deep-link="true")
  .reveal__title обратная связь
  .grid-x.grid-padding-x.align-center: .large-16.cell
    .reveal__text Оставьте ваше имя и телефон и наши менеджеры свяжутся с вами
    .reveal__block
      input(type="text",placeholder="Ваше имя")
      input(type="tel",placeholder="Телефон")
    a(href="#").button.button_expanded.button_chosen Перезвоните мне
  +close-button
  
