.reveal#ready.text-center(data-reveal data-deep-link="true")
  .reveal__title Последний шаг перед открытием
  .grid-x.grid-padding-x.align-center: .large-16.cell
    .reveal__text Оставьте ваше имя и почту что бы мы отправили вам доступы к вашему новому сайту.
    .reveal__block
      input(type="text",placeholder="Ваше имя")
      input(type="email",placeholder="E-mail")
    a(href="#").button.button_expanded.button_chosen Готово
  +close-button
  
