ul.sect.menu.vertical.accordion-menu(data-accordion-menu)
  li
    a(href='#' title='') Частые вопросы
    ul.menu.vertical.nested
      li: a(href='#' title='') Сколько стоит забрать отдельные части сайта?
      li: a(href='#' title='') Как установить счётчики
      li: a(href='#' title='') Как изменить шаблон сайта
      li: a(href='#' title='') Как заказать индивидуальный модуль
      li: a(href='#' title='') Как заказать индивидуальный дизайн
      li: a(href='#' title='') Как установить дополнительные модули
      li: a(href='#' title='') Как изменять набор разделов
      li: a(href='#' title='') Как редактировать материалы
      li: a(href='#' title='') Как изменить главное меню
      li: a(href='#' title='') Как изменить содержание главной страницы
      li: a(href='#' title='') Как установить логотип
      li: a(href='#' title='') Как прикрепить своё доменное имя
      li: a(href='#' title='') Как создать сайт
  li
    a(href='#' title='') Пользователю
    ul.menu.vertical.nested
      li: a(href='#' title='') Вступление
      li: a(href='#' title='') Общие понятия
      li: a(href='#' title='') Вход в систему
      li: a(href='#' title='') Работа со структурой сайта
      li: a(href='#' title='') Работа с материалами сайта
      li: a(href='#' title='') Типы материалов
      li: a(href='#' title='') Визуальный редактор
      li: a(href='#' title='') Пользователи системы
      li: a(href='#' title='') Группы пользователей
      li: a(href='#' title='') Права и разрешения
      li: a(href='#' title='') Плагины
      li: a(href='#' title='') Статус и использование настоящего документа
  li
    a(href='#' title='') Администратору
    ul.menu.vertical.nested
      li: a(href='#' title='') Требования к версиям ПО и сборки системы
  li
    a(href='#' title='') Разработчику
    ul.menu.vertical.nested
      li: a(href='#' title='') Быстрый старт
      li: a(href='#' title='') Cetera CMS изнутри
      li: a(href='#' title='') Виджеты
      li: a(href='#' title='') Плагины (модули) Cetera CMS
      li: a(href='#' title='') Темы (редакции) Cetera CMS
      li: a(href='#' title='') API Cetera CMS
.callout
  h3 Служба поддержки
  a.readable-light(href='mailto: support@fastsite.ru') 
    | #[i.fas.fa-envelope] support@fastsite.ru
  br
  a.readable-light(href='tel:88007755293') 
    | #[i.fas.fa-phone.fa-flip-horizontal] 8 (800) 775-52-93
  br
  | Понедельник-пятница, 8:00-20:00