body {
  background-color: get-color(primary);

  @include breakpoint(medium) {
    background-image: url($imagesPath+'/body-bg10.png'), url($imagesPath+'/3-layers.png');
    background-repeat: no-repeat;
    background-position: center 0px, center rem-calc(66);
    background-attachment: fixed;
  }
  @media (min-width: 1065px) {
    background-position: center 45px, center 117px;
  }
  @media (min-width: 1365px) {
    background-position: center 45px, center 45px;
  }
  @media (max-width:712px) {
    background-position: center 0px, center rem-calc(120);
  }
}
