.cell-btn-basket {
  position: relative;
}
.btn-basket {
  background-color: white;
  background-image: url($imagesPath+'/btn-basket.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: absolute;
  top: 0;
  right: rem-calc(-81);
  height: rem-calc(80);
  width: rem-calc(80);
  &__num {
    position: absolute;
    top: rem-calc(25) !important;
    right: rem-calc(15) !important;
    min-width: 2em;
    padding: 0.2em;
    font-family: $font-helvetica-neue-condensed-bold;
  }
  @media (min-width: 1560px) {
    display: block;
  }
}
