.change {
  &-language{
    color: $white;
    font-family: $font-helvetica-neue-condensed-bold;
    font-size: rem-calc(13);
    display: inline-block;
    background-color: map-get($foundation-palette, blue);
    padding: rem-calc(9 26 11 26);
    margin-top: rem-calc(1);
    // margin-bottom: rem-calc(37);
    margin-bottom: rem-calc(2);
    &:hover, &:focus {
      color: #e1e1e1;
    }
  }
  &-season {
    font-size: rem-calc(18);
    line-height:  rem-calc(49);
    font-family: $font-helvetica-neue-condensed-bold;
    line-height: 18px;
    font-family: "Helvetica Neue",sans-serif;
    height:  rem-calc(49);
    display: inline-block;
    padding-top:  rem-calc(22);
    text-transform: uppercase;
    color:  map-get($foundation-palette, blue);
    position: relative;
    &:after {
      display: block;
      width: 0;
      height: 0;
      border: inset 6px;
      content: '';
      border-bottom-width: 0;
      border-top-style: solid;
      border-color: #002e54 transparent transparent;
      right: rem-calc(-17);
      left: auto;
      margin-top: rem-calc(-12);
      position: absolute;
    }
  }
}
