.hat {
  padding-bottom: rem-calc(15);

  &__dash {
    width: rem-calc(27);
    height: rem-calc(8);
    display: inline-block;
    background: $white;
    margin-top: rem-calc(30);
  }

  &__text {
    font-size: rem-calc(18);
  }

  &__button {
    border: rem-calc(3) solid $white;
    font-size: rem-calc(16);
    padding-left: rem-calc(31);
    padding-right: rem-calc(31);
    background: none;
    text-transform: uppercase;
    font-family: $font-helvetica-neue-condensed-bold;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      background: $white;
      color: $blue;
    }
  }

  &__arena {
    font-size: rem-calc(18);
    font-weight: 600;
    font-family: $font-helvetica-neue-condensed-bold;
  }

  &__img {

height: rem-calc(105);
    img {
      margin-bottom: rem-calc(5);
      max-height:100%;
    }
  }

  &__name {
    font-family: $font-helvetica-neue-condensed-bold;
    text-transform: uppercase;
    font-size: rem-calc(18);margin-bottom: rem-calc(30);
  }
    @include breakpoint(medium down) {
    &__img {
      height: rem-calc(90);

    } }
}
