// здесь стили только для ie10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .slider-news__container {
     height: rem-calc(369);
   }
   .search-form {
     width: 100%;
   }
   .slider-news__cell_selected::after {
      right: rem-calc(-25);
   }
}
