.tabs {
  &__panel {
    &-pdlr {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &_border-flstart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
  }
  &__title-border {
    @media (max-width: 40em) {
      width: 100%;
    }
    &:not(:last-child) {
      padding: 0;
      margin: 0;
    }
    & > a {
      background-color: #dcdcdc;
      border: rem-calc(1) solid #dcdcdc;
      color: black;
      font-family: $font-helvetica-neue-condensed-bold;
      font-size: rem-calc(14);
      text-transform: uppercase;
      &[aria-selected="true"] {
        background-color: transparent;
        color:  map-get($foundation-palette, blue);
        border: rem-calc(1) solid #dcdcdc;
      }
    }
    & > a {
      border-left: rem-calc(1) solid white;
    }
  }
  &__content {
    border: none;
  }
  &-content_border {
    border: none;
  }
}
.tabs-title_border.is-active + .tabs-title_border > a {
  border-left: rem-calc(1) solid transparent;
}


.widget-last__date {
  margin-top: rem-calc(10);
}

.tournament{
  &__tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    max-width: rem-calc(348);
    margin: 0 auto;
  }
  &__title {
    width: 50%;
    text-align: center;
    &:not(:last-child) {
      padding: 0;
      margin: 0;
    }
    & > a {
      height: 100%;
      background-color: #dcdcdc;
      border: rem-calc(1) solid #dcdcdc;
      color: black;
      font-family: $font-helvetica-neue-condensed-bold;
      font-size: rem-calc(14);
      text-transform: uppercase;
      &[aria-selected="true"] {
        background-color: transparent;
        color:  map-get($foundation-palette, blue);
        border: rem-calc(1) solid #dcdcdc;
      }
    }
    &_border > a {
      border-left: rem-calc(1) solid white;
    }
  }
  &__content {
    border: none;
    max-width: rem-calc(348);
    margin: 0 auto;
    background-color: map-get($foundation-palette, blue);
  }
  &__table {
    margin-bottom: 0;
    width: rem-calc(300);
    margin: 0 auto;
    color: white;
    & thead {
      color: white;
    }
    & thead, & tr, & tbody, & tr:nth-child(2n) {
      background-color: transparent;
      border: none;
    }
    & td, & th {
      padding: rem-calc(8 10 10);
    }
  }

  &__team-name
  {
    padding-left: rem-calc(5) !important;
  }
  &__team-logo
  {
    padding-left: 0 !important;
    padding-right: 0 !important;
    & img
    {
      width: rem-calc(25);
    }

  }
  &__place {
   // background-color: #eaeaea !important;
    //color: black;
    color: white;
    background-color: red !important;
  }
  &__place-blue
  {
      background-color: #002f54 !important;
      color: white !important;
  }
}
.tournament__title_border.is-active + .tournament__title_border > a {
  border-left: rem-calc(1) solid transparent;
}

.tabs-foto-video {
  padding: 0;
  display: block;
  &-content {
    margin-bottom: rem-calc(26);
    background-color: transparent;
    max-width: none;
  }
  &[aria-hidden="true"] {
    height: 0;
    display: block !important;
    overflow: hidden;
    visibility: hidden;
  }
}
.switch-content-right, .switch-club-reaktor {
  display: none;
}
.switch-content-right, .switch-content-left {
  overflow: hidden;
}
.tournament .tabs-panel {
	padding-bottom: 0rem;
}

#tabs-foto-video {
  padding-top: rem-calc(26);
}
