.top-block {
  &-news {
    display: flex;
    flex-direction: row;
    font-size: rem-calc(14);
    font-family: $font-helvetica-neue-condensed-bold;
  }
  &-title {
    background-color: map-get($foundation-palette, red);
    // border-top: .14286rem solid map-get($foundation-palette, dark-red2);
    // border-right: .07143rem solid #e1e1e1;
    border-bottom: .07143rem solid #e1e1e1;
    // width: rem-calc(272);
    line-height: rem-calc(49);
    text-align: center;
    color: white;
  }
  &-time {
    // background-color: #eeeeee;
    flex-grow: 1;
    font-size: rem-calc(0);
  }
}
