.trainer {
  &s {
    margin-bottom: rem-calc(20);
  }
  &-card {
    &__name {
      font-size: rem-calc(16);
      line-height: rem-calc(24);
      font-family: $font-helvetica-neue-condensed-bold;
      text-transform: uppercase;
    }
    &__desc {
      font-size: rem-calc(13);
      line-height: rem-calc(18);
    }
  }
}
