.transfers {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (min-width: 40em) {
    padding-top: 4.4rem;
    padding-bottom: 6.75rem;
  }
  &__title {
    font-size: rem-calc(30);
    font-family: $font-helveticaNeueCyr;
    margin-bottom: rem-calc(75);
    text-align: center;
    text-transform: uppercase;
  }
  &-block {
    position: relative;
    &:first-of-type {
      @media (min-width: 40em) {
        padding-top: rem-calc(50);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem-calc(50);
      &:before {
        position: absolute;
        content: '';
        background-color: #dcdcdc;
        bottom: rem-calc(-25);
        left: 8.33333%;
        right: 8.33333%;
        height: rem-calc(1);
        width: auto;
        @media (min-width: 60em) {
          left: 16.66667%;
          right: 16.66667%;
        }
      }
    }
    &__logo-team {
      padding-left: rem-calc(35);
      background-image: url($imagesPath + '/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center left;
      width: rem-calc(100);
      position: relative;
      &-img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding-left: rem-calc(35);
      }
    }
    &__name {
      font-size: rem-calc(14);
      line-height: rem-calc(18);
      color:  map-get($foundation-palette, blue);
      margin-bottom: rem-calc(5);
      text-transform: uppercase;
      font-weight: bold;
    }
    &__desc {
      font-size: rem-calc(13);
      line-height: rem-calc(18);
      margin-bottom: rem-calc(10);
    }
    &__date {
      font-size: rem-calc(11);
      margin-bottom: 0;
    }
    &__desc, &__date {
      color: #7e7e7e;
    }
  }
}
