.row .b-filter_level
{
    margin-bottom: 40px;
    padding-left: 0;

    border-color: #c3c3c3;
}
.b-filter
{
    border: 1px solid #ededeb;
    &__buttons
    {
        float: left;

        width: 100%;
        padding-bottom: 26px;

        text-align: center;
    }
    &__button
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;

        width: 131px;
        height: 27px;
        margin-right: auto;
        margin-bottom: 8px;
        margin-left: auto;
        padding-top: 3px;

        text-align: center;

        color: #383838;
        outline: none;
        background-color: #ececea;
        background-image: linear-gradient(180deg, #f7cb3c 0%, #eead30 100%);
    }
    &__clean
    {
        font-size: 16px;
        font-weight: 400;

        display: block;

        text-decoration: underline;

        color: grey;
    }
    &__min-mini,
    &__max-mini
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;

        position: absolute;
        top: 113px;
        left: 10px;

        color: #aaa;
    }
    &__max-mini
    {
        left: 130px;
    }
    &__cena
    {
        padding-bottom: 4px;

        color: #d21531;
    }
    &__range
    {
        position: relative;

        float: left;

        width: calc(100% - 20px);
        margin-top: 22px;
        margin-bottom: 31px;
        margin-left: 10px;
        padding-top: 18px;
        padding-bottom: 22px;

        border-top: 1px solid #ececea;
        border-bottom: 1px solid #ececea;
    }
    &__dash
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;

        display: inline-block;

        padding-right: 5px;
        padding-left: 5px;

        color: #333335;
    }
    &__rubl
    {
        font-size: 19px;

        display: inline-block;

        padding-left: 2px;
    }
    &__min
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        display: inline-block;

        width: 59px;
        height: 23px;

        text-align: center;

        color: #333335;
        border: 1px solid #acacac;
        border-radius: 3px;
    }
    &__max
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        display: inline-block;

        width: 59px;
        height: 23px;

        text-align: center;

        color: #333335;
        border: 1px solid #acacac;
        border-radius: 3px;
    }
    &__container
    {
        width: 154px;
        height: 60px;
        padding-top: 8px;
        padding-left: 12px;
    }
    input.b-filter__window
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;

        color: #333335;
        border: 0;
        background: none;
        box-shadow: none;
    }
    &__drop-all
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        text-decoration: underline;

        color: #d21531;
        &-icon
        {
            display: inline-block;

            width: 6px;
            height: 6px;

            background: url(../images/-108.png) no-repeat;
        }
    }
    &__line
    {
        position: relative;
    }
    &__category
    {
        font-size: 18px;
        font-weight: 400;

        padding-right: 5px;

        color: #d21531;
        &-name
        {
            cursor: pointer;
        }
        &-icon
        {
            display: inline-block;

            width: 11px;
            height: 7px;
            margin-right: 4px;

            transition: .3s;
            vertical-align: middle;

            background: url('../i/sprite-my.png') no-repeat -27px -24px;
            &-reverse
            {
                transform: rotate(180deg);
            }
        }
    }
    &__title
    {
        font-size: 18px;
        font-weight: 400;

        padding-top: 6px;
        padding-left: 11px;

        color: #333335;
    }
}
input.b-filter__inpt
{
    display: none;
}
label.b-filter__chck
{
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;

    margin-top: 1px;
    padding-left: 11px;

    color: #3d3d3d;
    &:after
    {
        position: absolute;
        bottom: 10px;
        left: 0;

        display: block;

        width: 11px;
        height: 11px;

        content: '';

        background: url(../images/input.png);
        background-repeat: no-repeat;
    }
}
label.b-filter__chck_send
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    margin-right: 0;
    margin-left: 4px;

    color: #333335;
}
.b-filter__inpt:checked + label:after
{
    width: 11px;
    height: 11px;

    background: url(../images/input_chc.png);
}
@media (min-width:960px)
{
    .b-filter
    {
        padding-left: 15px;
    }
}
