.b-header
{
    &__small-numb
    {
        padding-top: 10px;
    }
    &__number
    {
        font-size: 16px;
        font-weight: 700;

        display: block;

        color: #353535;
    }
    &__search-med
    {
        padding-right: 24px;
        padding-left: 24px;
    }
    &__med-cont
    {
        padding-right: 16px;
        padding-left: 10px;
    }
    &__med-line
    {
        height: 1px;

        background-color: #e8e8e8;
    }
    &__top-row
    {
        border-bottom: 1px solid  #e8e8e8;
    }
    &__row
    {
        position: relative;
    }
    .b-header__vspliv
    {
        top: -2px !important;
        left: 0 !important;

        width: 100% !important;
        max-width: 990px;
        padding: 0;

        border: 0;
        outline: none;
        background-color: $myColor;
        &:before
        {
            display: none;
        }
        &:after
        {
            display: none;
        }
    }
    .b-header__vspliv-row
    {
        margin-right: 0;
        margin-left: 0;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0;
        padding-left: 22px;

        background: url('../i/cup.png') no-repeat right bottom;
    }
    &__big-link
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;

        display: inline-block;

        padding-bottom: 5px;

        text-decoration: underline;
        text-transform: uppercase;

        color: white;
        &:hover
        {
            color: #000;
        }
        &_high
        {
            padding-top: 0;
            padding-bottom: 18px;
        }
    }
    &__ul
    {
        margin-bottom: 15px;
        margin-left: 0;

        list-style-type: none;
    }
    &__li
    {
        .b-header__li-link
        {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;

            padding: 0;
            padding-bottom: 0;

            color: white;
            &:hover
            {
                color: #000;
                
            }
        }
    }
    &__first
    {
        padding-right: 0;
    }
    &__second
    {
        padding-left: 22px;
    }
    &__third
    {
        padding-right: 0;
        padding-left: 9px;
    }
    &__four
    {
        padding-right: 90px;
    }
}
@media (max-width:640px)
{
    .b-header__search-med
    {
        margin-top: 20px;
        padding-right: 15px;
        padding-left: 10px;
    }
    .b-header__search {
        font-size: 14px;
color: #7f7f7f;
font-weight: 300;
&-green {

}
    }
}
