.b-tovar
{
    &__mat
    {
        font-size: 14px;
        font-weight: 400;

        float: left;

        width: 100%;
        padding-top: 7px;
        padding-bottom: 10px;

        text-align: center;

        color: #333335;
    }
    &__imya
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;

        display: inline-block;

        width: 188px;
        padding-top: 8px;

        text-align: center;

        color: #333335;
        &-wrapper
        {
            float: left;

            width: 100%;

            text-align: center;
        }
    }
    &__best-border
    {
        width: 188px;
        height: 1px;
        margin: auto;

        background-color: #ececea;
        &-wrapper
        {
            float: left;

            width: 100%;
            height: 1px;

            text-align: center;
        }
    }
    &__minipini
    {
        float: left;

        padding-top: 19px;
        padding-right: 19px;
        padding-bottom: 17px;
        padding-left: 19px;
        &-block
        {
            float: left;

            width: 72px;
            height: 72px;
            padding-top: 15px;
            padding-right: 5px;
            padding-left: 5px;

            border: 1px solid #ededeb;
            &:not(:last-child)
            {
                margin-right: 9px;
            }
        }
    }
    &__img
    {
        padding: 19px;
    }
    &_vipa
    {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        display: none;
        float: left;

        width: 283px;

        border: 3px solid $myColor;
        background: #fff;
    }
    &__form
    {
        float: left;

        width: 100%;
        padding-bottom: 20px;

        border-bottom: 1px solid #ededeb;
    }
    &__submit
    {
        float: right;

        width: 100%;
        height: 33px;
        margin: 0;
        padding: 0;

        border: 1px solid #ffb81b;
        outline: none;
        background: linear-gradient(to top, #ffb117, #ffc923);
        &-bord
        {
            font-size: 18px;
            font-weight: 400;

            display: inline-block;

            width: 99%;
            height: 31px;
            padding-top: 3px;
            padding-left: 10px;

            color: #383838;
            border: 1px solid #ffd975;
            &:hover
            {
                color: #c4f4bc;
            }
        }
    }
    &__uznat
    {
        font-size: 18px;
        font-weight: 400;

        float: left;

        width: 100%;
        padding-top: 17px;
        padding-bottom: 15px;

        text-align: center;

        color: #383838;
    }
    &__fake
    {
        float: left;

        width: 100%;
        padding-top: 16px;
    }
    &__fake-price
    {
        font-size: 24px;
        font-weight: 400;

        display: inline-block;

        width: 151px;

        text-align: center;
        text-decoration: line-through;

        color: white;
        background-color: #383838;
    }
    &__see
    {
        padding-top: 13px;
        padding-bottom: 9px;
    }
    &__banner
    {
        padding-top: 26px;
        padding-right: 0;
        padding-left: 0;
    }
    &__ryad
    {
        padding-right: 0;
        padding-left: 0;

        border: 1px solid #ededeb;
        border-top: 0;
        .row
        {
            margin-right: 0;
            margin-left: 0;
        }
    }
    &__alike
    {
        font-size: 18px;
        font-weight: 400;

        margin-top: 24px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 9px;

        color: #333335;
        border: 1px solid #ededeb;
    }
    &__dosta-link
    {
        font-size: 16px;
        font-weight: 700;

        display: inline-block;

        margin-right: 20px;
        padding-top: 21px;
        padding-left: 5px;

        text-decoration: underline;

        color: #d21531;
    }
    &__dosta-block
    {
        float: left;

        width: 100%;
        padding-bottom: 24px;

        text-align: center;

        border-bottom: 1px solid #ededeb;
    }
    &__color-ul
    {
        display: block;

        margin-top: 13px;
        margin-left: 0;
        padding-left: 30px;

        list-style-type: none;
        &_vipa
        {
            margin-top: 0;
            margin-bottom: 11px;
        }
    }
    &__color-li
    {
        float: left;

        margin-top: 10px;
        margin-right: 9px;
        margin-left: 9px;
        &-red
        {
            display: inline-block;

            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: 2px;

            border: 9px solid  #a92d2c;
            border-radius: 18px;
        }
        &-silver
        {
            display: inline-block;

            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: 2px;

            border: 9px solid  #c2c2c2;
            border-radius: 18px;
        }
        &-black
        {
            display: inline-block;

            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: 2px;

            border: 9px solid  #000;
            border-radius: 18px;
        }
        &-blue
        {
            display: inline-block;

            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: 2px;

            border: 9px solid  #0073df;
            border-radius: 18px;
        }
        &_active
        {
            width: 26px;
            height: 26px;
            margin-top: 8px;
            margin-right: 5px;
            margin-left: 7px;

            border: 2px solid $myColor;
            border-radius: 13px;
        }
    }
    &__info
    {
    }
    &__no-tovar
    {
        font-size: 18px;
        font-weight: 400;

        padding-top: 19px;
        padding-bottom: 17px;

        color: #d21531;
        border-bottom: 1px solid #ededeb;
    }
    &__price
    {
        font-size: 36px;
        font-weight: 400;

        display: inline-block;

        width: 211px;
        height: 60px;
        margin-top: 28px;
        padding-top: 5px;
        padding-right: 0;
        padding-left: 0;

        text-align: center;

        color: white;
        background-color: $myColor;
        &_vipa
        {
            font-size: 36px;
            font-weight: 400;

            width: 168px;
            height: 50px;
            margin-top: 14px;
            padding-top: 0;
        }
        &_no
        {
            line-height: 42px;

            width: 168px;
            height: 41px;
            margin-top: 0;
            padding-top: 0;
        }
    }
    &__head
    {
        text-align: center;

        border-bottom: 1px solid #ededeb;
        &_vipa
        {
            float: left;

            width: 100%;

            border-bottom: 0;
        }
    }
    &__colorpicker
    {
        float: left;

        width: 100%;
        padding-bottom: 15px;

        border-bottom: 1px solid #ededeb;
        &_vipa
        {
            padding-bottom: 5px;

            border-bottom: 0;
        }
    }
    &__buy
    {
        float: right;

        width: 102px;
        height: 31px;
        margin-top: -27px;
        margin-right: 7px;
        padding: 0;

        border: 1px solid #ffb81b;
        outline: none;
        background: linear-gradient(to top, #ffb117, #ffc923);
        &-korz
        {
            display: inline-block;
            float: right;

            width: 18px;
            height: 18px;
            margin-top: 2px;
            margin-right: 11px;

            vertical-align: middle;

            background: url('../i/sprite-my.png') no-repeat -353px -351px;
        }
        &-bord
        {
            font-size: 18px;
            font-weight: 400;

            display: inline-block;

            width: 100px;
            height: 29px;
            padding-top: 3px;
            padding-left: 10px;

            text-align: left;

            color: #383838;
            border: 1px solid #ffd975;
        }
    }
    &__infoblock
    {
        width: 100%;
        max-width: 215px;
        margin-right: auto;
        margin-left: auto;
        &_no
        {
            max-width: 220px;
        }
    }
    &__number
    {
        font-size: 18px;
        font-weight: 400;

        float: left;

        width: 100%;
        padding-top: 17px;
        padding-bottom: 16px;

        text-align: center;

        color: #7c7c7c;
        border-bottom: 1px solid #ededeb;
        &_vipa
        {
            padding-top: 7px;
            padding-bottom: 0;

            border-bottom: 0;
        }
    }
    &__buyblock
    {
        float: left;

        width: 100%;
        padding-top: 24px;
        padding-bottom: 10px;

        border-bottom: 1px solid #ededeb;
        &_vipa
        {
            padding-top: 8px;
            padding-bottom: 5px;
        }
    }
    &__social-block
    {
    }
    &__info
    {
        padding-right: 0;
        padding-left: 0;

        border: 1px solid #ededeb;
        border-left: 0;
    }
    &__row
    {
        padding-left: 25px;
    }
    &__articul
    {
        font-size: 14px;
        font-weight: 400;

        margin-top: 1px;
        margin-bottom: 25px;

        color: #afafaf;
    }
    &__title
    {
        font-size: 24px;
        font-weight: 400;

        color: #333335;
    }
    &__vid
    {
        margin-bottom: 32px;
        padding-top: 50px;

        border: 1px solid #ededeb;
    }
}
input.b-tovar__email
{
    font-size: 16px;
    font-weight: 400;

    padding-left: 10px;

    border: 1px solid #ededeb;
}
@media (max-width:960px)
{
    .b-tovar__row
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    .b-tovar__banner
    {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width:640px)
{
    .b-tovar__vid
    {
        padding-bottom: 160px;
    }
    .b-tovar__info
    {
        border-left: 1px solid #ededeb;
    }
    .b-tovar__row
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (max-width:464px)
{
    .b-tovar__vid
    {
        padding-bottom: 80px;
    }
}
