mixin news(img,flag)
  .auction
    .row
      .large-4.medium-5.columns.text-center.medium-text-left
        p
          img(src="./images/#{img}.png", alt="")
      .large-17.medium-16.columns
        .text-center.medium-text-left
          a(href="#").auction__link Asian Arts, Antiques and Estate Show
        .auction__text.text-justify.medium-text-left
          |Internet Only. Ancient empire paper money, Chinese and foreign Coins. Banknotes books. September 9, 2016, 1:30 PM CET
          span.auction__bull &#8226;
          |Wavre, Belgium
          span.auction__bull &#8226;
          |Rock Island Auction House
      .large-3.medium-3.columns.text-center.medium-text-right
        p
          img(src="./images/#{flag}.png", alt="")
