.reveal#sendMessage(data-reveal data-deep-link='true')
    h4 Отправить сообщение
    form
        textarea(placeholder="Текст сообщения")
        a.button(href="#") Отправить
    button.close-button(type='button' data-close aria-label='Закрыть')
        span(aria-hidden='true') &times;