a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-vk(data-fa-transform="shrink-6")
a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-twitter(data-fa-transform="shrink-6")
a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-facebook-f(data-fa-transform="shrink-6")
a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-odnoklassniki(data-fa-transform="shrink-6")
a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-instagram(data-fa-transform="shrink-6")
a(href='#', title='').fa-layers.fa-fw.soc
  i.fab.fa-google-plus-g(data-fa-transform="shrink-6")
