.cell.solution
  .grid-x.grid-padding-x
    .cell.small-6.large-4: .solution__icon
      img.js-inline-svg(src="./images/4.svg", alt="")
    .cell.small-18.large-20
      .solution__title Ваши  контакты
      .solution__text Ваши прямые контакты будут размещены на тематическом портале с огромным трафиком потенциальных клиентов
.cell.solution
  .grid-x.grid-padding-x
    .cell.small-6.large-4: .solution__icon
      img.js-inline-svg(src="./images/5.svg", alt="")
    .cell.small-18.large-20
      .solution__title Ссылка на Ваш сайт
      .solution__text Прямая ссылка на Ваш сайт ускорит поисковое продвижение Вашей страницы. Знаете ли Вы, что ссылки исключительно с тематических ресурсов учитываются гугглом при ранжировании?
.cell.solution
  .grid-x.grid-padding-x
    .cell.small-6.large-4: .solution__icon
      img.js-inline-svg(src="./images/6.svg", alt="")
    .cell.small-18.large-20
      .solution__title Отзывы о Вас
      .solution__text Положительные отзывы о Вас помогут завоевать доверие новых клиентов. Согласитесь, что отзывы о Вас на Вашем собственном сайте не принимаются пользователем во внимание, в отличии от отзывов на посторонних ресурсах.
