.hosp
  .grid-container
    h3 Уважаемые коллеги!
    .grid-x.grid-padding-x: .cell.large-16
      p.hosp__par Уже совсем скоро стартует новый уникальный по своей сути интернет-проект о лечении в Германии.  Наша цель сориентировать потенциального пациента в мире медицинского туризма Германии и помочь ему найти свою компанию, которая будет сопровождать его на этом пути.
      p.hosp__par Мы стремимся создать абсолютно независимую и объективную платформу для обзора рынка медицинского туризма Германии и рады пригласить Вас к сотрудничеству!
.work
  .grid-container
    h5.work__adv Ваши преимущества работы с нами    
    .work__block
      .grid-x.grid-padding-x.large-up-3.medium-up-2
        include _adv
include _reg
.grid-container
  .grid-x.grid-padding-x.review.js-spec-animate
    .cell.large-offset-4.large-10.medium-12.review__main
      .review__title Отзывы  
      div.review__par
        p Активируйте, полученый на e-mail, промокод в течении недели
        p Попросите Ваших благодарных пациентов оставить о Вас отзыв. Обращаем Ваше внимание, что анонимные отзывы не принимаются. Все комментарии оставляются исключительно реальными людьми.
    .cell.large-7.large-offset-3.review__concept.medium-11.medium-offset-1
      .review__dot(data-depth="0.1" data-offset="0")
      .review__back(data-depth="0.15")
        img(data-depth="0.2" src="./i/girl.jpg", alt="" data-offset="0").review__img
        
  .grid-x.grid-padding-x.review.js-spec-animate
    .cell.large-7.review__concept.medium-11
      .review__dot.review__dot_inverse(data-depth="0.1" data-offset="0")
      .review__back(data-depth="0.15")
        img(data-depth="0.2" data-offset="30" src="./i/22.jpg", alt="").review__img.review__img_inverse
    .cell.large-offset-4.large-11.medium-12.review__main
      .review__title Фото и видео
      div.review__par
        p Заполняйте Ваш профиль как можно более подробно. Добавьте фото и если есть видео. Клиент хочет знать, с кем он имеет дело! Спросите разрешения у Ваших VIP-пациентов разместить фото с ними. Работа с сильными мира сего обязательно добавит Вам значимости в глазах других людей.
  .grid-x.grid-padding-x.review.js-spec-animate
    .cell.large-offset-4.large-10.medium-12.review__main
      .review__title Комментарии
      div.review__par
        p Заходите в рубрику Вопрос-Ответ и оставляйте свои комментарии. Таким образом Вы сможете заработать репутацию профессионала своего дела и завязать диалог с потенциальным клиентом. 
    .cell.large-7.large-offset-3.review__concept.medium-11.medium-offset-1
      .review__dot(data-depth="0.1" data-offset="0")
      .review__back(data-depth="0.15")
        img(data-depth="0.2" data-offset="50" src="./i/33.jpg", alt="").review__img
include _form-bottom
  
