.send: .grid-container
  .grid-x.grid-padding-x
    .cell: .send__title Регистрация
    .cell.large-8.medium-12
      label.send__label Имя Фамилия
      input(type="text",placeholder="").send__input
    .cell.large-5.medium-12
      label.send__label E-mail*
      input(type="email",placeholder="").send__input
    .cell.large-5.medium-12
      label.send__label телефон*
      input(type="tel",placeholder="").send__input
    .cell.large-6.medium-12
      button.button.button_submit Зарегистрироваться
    .cell
      p
        | Нажимая кнопку «Отправить» вы подтверждаете свое
        |
        a(href="#") согласие
        |
        | на обработку персональных данных  
