.b-arrow
{
    display: inline-block;

    width: 25px;
    height: 25px;
    margin-right: 2px;

    border: 1px solid #dbdbdb;
    &:hover
    {
        border-color: #e29c04;
        background-color: #e29c04;
        & > .fa
        {
            color: #fff;
        }
    }
    & > .fa
    {
        margin-left: 9px;

        color: #b7b7b7;
    }
    &_off
    {
        border-color: #eee;
        &:hover
        {
            border-color: #f2fc34;
            background-color: #f2cc34;
        }
        & > .fa
        {
            color: #d3d3d3;
            margin-left: 8px;
        }
    }
}
