.b-bird
{
    float: left;

    width: 100%;
    padding-top: 20px;

    border-bottom: 1px dashed #f1f1f1;
    &__top
    {
        position: relative;
    }
    &__counter
    {
        font-family: $font-family-OpenSans-Semibold;
        font-size: 10px;

        position: relative;
        left: calc(50% - 10px);

        display: inline-block;

        padding-top: 1px;
        padding-right: 5px;
        padding-bottom: 1px;
        padding-left: 4px;

        color: #fff;
        background-color: #000;
        &:after
        {
            position: absolute;
            bottom: -3px;
            left: 0;

            display: inline-block;

            width: 3px;
            height: 3px;

            content: '';

            background: url('../images/sprite-my.png') no-repeat 0 0;
        }
    }
    &__title
    {
        font-family: $font-family-Roboto-Medium;
        font-size: 17px;
        line-height: 1.41;

        padding-top: 5px;
        padding-right: 18px;
        padding-bottom: 3px;
        padding-left: 18px;

        text-align: center;

        color: #222;
    }
    &__date
    {
        font-family: $font-family-OpenSans-Regular;
        font-size: 11px;

        padding-bottom: 19px;

        text-align: center;

        color: #ccc;
    }
    &__autor
    {
        font-family: $font-family-OpenSans-Bold;
        font-size: 11px;

        color: #000;
    }
}
@media (max-width:960px) and (min-width:640px)
{
    .b-bird
    {
        &__title
        {
            font-size: 15px;
        }
    }
}
@media (max-width:640px)
{
    .b-bird
    {
        &__title
        {
            font-size: 15px;
        }
    }
}
