.b-botter
{
    background-color: #0d0d0d;
    &__copy
    {
        font-family: $font-family-PT_Sans-Web-Regular;
        font-size: 12px;

        padding-top: 5px;
        padding-bottom: 4px;

        color: #ccc;
    }
    &__priva
    {
    }
    &__link
    {
        font-family: $font-family-PT_Sans-Web-Regular;
        font-size: 12px;

        display: inline-block;

        padding-left: 18px;

        text-decoration: none;

        color: #ccc;
        &:hover
        {
            text-decoration: underline;
        }
    }
    &__righter
    {
        float: right;
    }
}
@media (max-width:640px) {
  .b-botter {
    &__copy {
      text-align: center;
    }
    &__righter {
      float:none;
      text-align: center;
    }
  }
}