.b-list
{
    margin-top: 27px;
    margin-bottom: 25px;
   
    & a  {
        outline:none;
    }
    &__slide {
        outline:none;
    }
    & .slick-next {
        left: 30px;
        bottom: -52px;
        top: auto;
    }
    & .slick-prev {
        bottom: -52px;
        left: 0;
        top: auto;
    }
    &__ryad
    {
        padding-bottom: 35px;
    }
    &_top
    {
        margin-top: 46px;
    }
    &__absolute
    {
        position: absolute;
        bottom: 0;

        padding-right: 16px;
        padding-bottom: 11px;
        padding-left: 16px;
    }
    &_mini
    {
        margin-top: 10px;
    }
    & a
    {
        text-decoration: none;
    }
    &__information
    {
        padding-left: 10px;
    }
    &__pryamo
    {
        padding-right: 21px;
        padding-bottom: 37px;
        padding-left: 15px;
    }
    &__counter
    {
        font-family: $font-family-OpenSans-Semibold;
        font-size: 10px;

        position: absolute;
        right: 0;

        display: inline-block;

        padding-top: 1px;
        padding-right: 5px;
        padding-bottom: 1px;
        padding-left: 4px;

        color: #fff;
        background-color: #000;
        &:after
        {
            position: absolute;
            bottom: -3px;
            left: 0;

            display: inline-block;

            width: 3px;
            height: 3px;

            content: '';

            background: url('../images/sprite-my.png') no-repeat 0 0;
        }
    }
    &__elser
    {
        padding-right: 35px;
        padding-left: 32px;
    }
    &__prod
    {
        padding-bottom: 27px;
        &_col
        {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        &:hover
        {
            & .b-list__prod-title
            {
                color: #e29c04;
            }
        }
        &-info
        {
            padding-right: 0;
            padding-left: 8px;
        }
        &-title
        {
            font-family: $font-family-Roboto-Medium;
            font-size: 13px;
            line-height: 1.54;

            padding-bottom: 2px;

            color: #000;
        }
        &-img
        {
            padding-right: 5px;
            padding-left: 0;
        }
        &-date
        {
            font-family: $font-family-OpenSans-Regular;
            font-size: 11px;

            color: #ccc;
        }
    }
    &__wrapper
    {
        padding-right: 27px;
        &_cencol
        {
            padding-right: 7px;
            padding-left: 7px;
        }
        &_ricol
        {
            padding-right: 15px;
            padding-left: 0;
        }
        &_lecol
        {
            padding-right: 0;
            padding-left: 15px;
        }
        &_eq
        {
            padding-right: 15px;
            padding-left: 15px;
        }
        &_ri
        {
            padding-right: 20px;
            padding-left: 22px;
        }
        &_right
        {
            padding-right: 20px;
            padding-left: 22px;
        }
        &_col
        {
            padding-right: 15px;
            padding-left: 27px;
        }
    }
    &__block
    {
        position: relative;
        &_bot
        {
            margin-bottom: 25px;
        }
        &:hover
        {
            & .b-list__title
            {
                color: #e29c04;
            }
        }
    }
    &__img
    {
        &_pryamo
        {
            padding-left: 0;
        }
    }
    &__title
    {
        font-size: 21px;
        line-height: 1.19;

        padding-top: 9px;
        padding-bottom: 4px;

        color: #000;
        &_white
        {
            font-family: $font-family-Roboto-Bold;
            font-size: 18px;
            line-height: 1.39;

            color: #fefefe;
        }
        &_pryamo
        {
            padding-top: 0;
        }
    }
    &__date
    {
        font-family: $font-family-OpenSans-Regular;
        font-size: 11px;

        color: #ccc;
        &_white
        {
            color: #e0e0e0;
        }
        &_bot
        {
            padding-bottom: 17px;
        }
    }
    &__autor
    {
        font-family: $font-family-OpenSans-Bold;

        color: #3b3b3b;
        &_white
        {
            color: #fff;
        }
    }
    &__desc
    {
        font-family: $font-family-OpenSans-Regular;
        font-size: 13px;
        line-height: 1.62;

        padding-top: 9px;
        padding-bottom: 20px;

        color: #777;
    }
}
@media (max-width:960px) and (min-width:640px)
{
    .b-list
    {
        &__title
        {
            &_white
            {
                font-size: 14px;
            }
        }
        &__prod
        {
            padding-bottom: 5px;
        }
        &__wrapper
        {
            &_fi
            {
                padding-right: 5px;
            }
            &_ri
            {
                padding-left: 0;
            }
            &_right
            {
                padding-right: 15px;
                padding-left: 15px;
            }
            &_col
            {
                padding-left: 0;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-list
    {
        &__pryamo
        {
            padding-bottom: 10px;
        }
        &__block
        {
            &_bot
            {
                max-width: 324px;
            }
        }
        &__prod
        {
            padding-bottom: 5px;
        }
        &__wrapper
        {
            &_cencol
            {
                padding-left: 15px;
            }
            &_ricol
            {
                padding-left: 15px;
            }
            &_right
            {
                padding-right: 15px;
                padding-left: 15px;
            }
            &_ri
            {
                padding-right: 15px;
                padding-left: 2px;
            }
            &_fi
            {
                padding-right: 2px;
            }
            &_col
            {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}
@media (max-width:420px)
{
    .b-list
    {
        &__img_pryamo
        {
            width: 100%;
        }
        &__information
        {
            width: 100%;
            padding-left: 0;
        }
    }
}
