.b-main
{
    padding-top: 25px;
    &__slide
    {
        padding-right: 30px;
        outline:none;
    }
    &__arrows
    {
        float: right;

        margin-right: 19px;
    }
    &__rubr
    {
        font-size: 12px;

        float: left;

        margin-left: 22px;
        padding-top: 3px;
        padding-right: 5px;
        padding-bottom: 3px;
        padding-left: 5px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        background-color: #2b2b2b;
        &:hover
        {
            text-decoration: underline;
        }
    }
    &__title
    {
        float: left;

        margin-left: 22px;
        &-link
        {
            font-size: 15px;

            text-decoration: none;

            color: #000;
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-main
    {
        &__rubr
        {
            margin-left: 0;
        }
        &__title
        {
            margin-left: 0;
        }
    }
}
