input.b-menu__input
{
    line-height: 17px;

    width: 225px;
    height: 32px;
    margin: 0;

    border-color: #e1e1e1;
    border-right: 0;
}
.b-menu
{
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    &__relative-row
    {
        position: relative;
    }
    &__search-right
    {
        position: absolute;
        right: 0;

        width: 90px;
    }
    &__submit
    {
        font-size: 14px !important;

        position: absolute!important;
        top: 10px !important;
        right: 17px;

        width: 67px;
        height: 32px!important;
        padding-top: 7px !important;
        padding-right: 10px;
        padding-bottom: 7px !important;
        padding-left: 10px;

        outline: none;
    }
    &__search-ico
    {
        float: right;

        width: 16px!important;
        height: 27px;
        margin-top: 17px;
        margin-right: 27px;
        padding: 0!important;

        background: url('../images/sprite-my.png') no-repeat -329px -338px!important;
    }
    &__search-drop
    {
        right: 0!important;
        left: auto !important;

        width: 320px!important;
        max-width: none!important;
        padding-top: 10px!important;
        padding-right: 10px !important;
        padding-left: 10px !important;

        border-top: 4px solid #4db2ec !important;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
        &.content
        {
            z-index: 100;
        }
        &:before
        {
            display: none;
        }
        &:after
        {
            display: none;
        }
    }
    .toggle-topbar
    {
        right: auto;
        left: 0;
    }
    &__link-inner
    {
        color: #000 !important;
    }
    &__span-drop
    {
        color: #000;
        &:after
        {
            box-shadow: 0 0 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000 !important;
        }
    }
    &__section
    {
        width: 100%;
        height: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    &__f-dropdown
    {
        left: -99999px !important;

        width: 100% !important;
        max-width: none;

        border: 1px solid #eaeaea;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
        &.f-open-dropdown
        {
            left: 0 !important;
        }
        &_clicked
        {
            left: 0!important;
        }
        &:before
        {
            display: none;
        }
        &:after
        {
            display: none;
        }
    }
    & .title-area
    {
        height: 100%;
        padding-left: 0;
    }
    .expanded
    {
        & .title-area
        {
            background: none;
        }
    }
    &__logo-drop
    {
        float: left;

        width: 160px;
        height: 100%;
        margin-left: calc(50% - 80px);
        & img
        {
            padding-bottom: 10px;
        }
    }
    &__white
    {
        background: #fff;
        &_active
        {
            box-shadow: 0 2px 12px rgba(0, 0, 0, .15);
        }
        &_fixed
        {
            background-color: rgba(255,255,255,.9);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
        }
    }
    &__top-bar
    {
        background: none;
        &.expanded
        {
            height: 2.8125rem;
        }
        &.my-expanded
        {
            height: auto;

            background: #fff;
        }
    }
    .b-menu__list
    {
        position: relative;

        display: block;

        width: 100%;
        height: 100% !important;
        margin-top: 0;
        padding-left: 0;
    }
    &__li
    {
        float: left;
        &:last-child
        {
            float: right;
        }
        &-link
        {
            font-family: $font-family-OpenSans-Bold !important;
            font-size: 14px !important;

            display: block;

            padding-top: 3px;
            padding-right: 12px !important;
            padding-left: 12px !important;

            text-decoration: none;
            text-transform: uppercase!important;

            color: #232323 !important;
            border-bottom: 4px solid transparent;
            background: none !important;
            &_drop:after
            {
                display: inline-block;

                width: 10px;
                height: 8px;
                margin-left: 8px;

                content: '';

                background: url('../images/sprite-my.png') no-repeat -71px -77px;
            }
            &:hover
            {
                border-color: #4db2ec;
            }
            &_opened
            {
                border-color: #4db2ec;
            }
            &_active {
                 border-color: #4db2ec;
            }
        }
    }
}
.my-expanded
{
    &  .toggle-topbar
    {
        top: 23px!important;
    }
}
@media (max-width:770px)
{
    .b-menu
    {
        &__f-dropdown
        {
            
        }
    }
}
@media (max-width:690px) and (min-width:640px)
{
    .b-menu
    {
        &__li
        {
            &-link
            {
                padding-right: 8px!important;
                padding-left: 8px!important;
            }
        }
    }
}
@media (max-width:640px)
{
    .b-menu
    {
        &__f-dropdown {
            &_clicked
        {
           top: 0 !important;
        }
        }
        &__search-ico
        {
            margin-top: 15px;
        }
        &__logo-drop
        {
        }
        &__top-bar.my-expanded
        {
            overflow: visible;
        }
        &__li
        {
            width: 100% ;

            text-align: center;
            &-link
            {
                height: 30px;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-left: 0;

                border-bottom: 0;
            }
        }
    }
}
