.b-qui
{
    &_mini {
        padding-bottom: 40px;
    }
    & a
    {
        outline: none;
    }
    &__slide
    {
        padding-bottom: 25px;

        outline: none;
    }
    & .slick-next
    {
        top: auto;
        bottom: -22px;
        left: 45px;
    }
    & .slick-prev
    {
        top: auto;
        bottom: -22px;
        left: 15px;
    }
}
@media (max-width:640px) {
    .b-qui {
        & .slick-next {
            left: calc(50% + 3px);
        }
        & .slick-prev {
            left: calc(50% - 28px);
        }
    }
}