.b-vipa
{
    font-family: $font-family-Roboto-Medium;
    &__slider
    {
        outline: none;
    }
    &__slide
    {
        position: relative;

        margin-bottom: 45px !important;
        padding-right: 7px;
        padding-left: 7px;

        outline: none;
        & a
        {
            text-decoration: none;

            outline: none;
        }
    }
    &__block
    {
        padding-top: 10px;
    }
    &__img
    {
        position: relative;
    }
    &__rubr
    {
        font-size: 12px;
        line-height: 20px !important;

        position: absolute;
        bottom: 0;
        left: 0;

        display: inline-block;

        padding-right: 3px;
        padding-left: 3px;

        text-decoration: none;

        color: #fff !important;
        background: #000 !important;
    }
    &__title
    {
        font-family: $font-family-Roboto-Medium !important;
        font-size: 13px;
        line-height: 1.3 !important;

        padding-top: 4px;

        color: #000 !important;
    }
    & .slick-next
    {
        top: auto;
        bottom: 10px;
        left: 44px;
    }
    & .slick-prev
    {
        top: auto; 
        bottom: 10px;
        left: 10px;
    }
}
@media (max-width:640px)
{
    .b-vipa
    {
        &__slide
        {
            & > ul > li
            {
                padding-bottom: 0;
            }
        }
    }
}
