extends user-personal

block personal
    .row.small-up-1.large-up-3
        .column
            .callout.primary
                p Рассмотрено объектов
                p.stat 1 427
        .column
            .callout.success
                p Одобрено объектов
                p.stat 53
        .column
            .callout.light-gray
                p Отклонено объектов
                p.stat 280
