extends components/_index

block page
  block content
    .row
      .large-6.columns
        img(src="./images/404.png", alt="")
    .row.column
      h1 Ошибка 404: страница не найдена
    .content
      .row
        .columns.small-12.medium-10.large-8
          include components/common/_404
