extends user-personal

block personal
    h3 Добавить субкатегорию

    form(action='director-categories-sort.html')
        label Название субкатегории
        input(type='text')

        label Родительская категория
        select
            - var n = 0
            while n < 19
                - n++
                option Категория объектов #{n}

        

        button.button(type='submit') Сохранить
