extends user-personal

block personal
    form
        fieldset.fieldset
            legend Способ публикации объектов

            input#pub-method-1(type='radio' name='pub-method' checked='checked')
            label(for='pub-method-1') С одобрением администратора

            input#pub-method-2(type='radio' name='pub-method')
            label(for='pub-method-2') Без одобрения администратора

        button.button Сохранить
