extends user-personal

block personal
  p Расставьте категории в нужном порядке перетаскивая их.
    br
    span.text-dark-gray Порядок сохраняется автоматически. Пример https://rubaxa.github.io/Sortable/

  a.button(href='director-categories-main.html') Добавить категорию

  ul#js-list-sort.sortable
    li Категория объектов 1 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 2 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 3 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 4 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
      ul
        li Категория объектов 4.1 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 4.2 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 4.3 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
    li Категория объектов 5 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 6 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
      ul
        li Категория объектов 6.1 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 6.2 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 6.3 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 6.4 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 6.5 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
    li Категория объектов 7 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 8 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 9 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
      ul
        li Категория объектов 9.1 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 9.2 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
    li Категория объектов 10 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 11 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 12 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 13 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
      ul
        li Категория объектов 13.1 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
    li Категория объектов 14 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 15 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 16 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 17 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
    li Категория объектов 18 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
      ul
        li Категория объектов 18.1 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 18.2 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
        li Категория объектов 18.3 
          a(href='director-category-add.html') изменить
          =" / "
          a(href="#") удалить
    li Категория объектов 19 
      a(href='director-category-add.html') изменить
      =" / "
      a(href="#") удалить
