extends user-personal

block personal
  p
    span.button-group
      a.button.success(href='#') Всего
      a.button.success(href='#')
        | Одобрено&nbsp;
        i.fa.fa-sort-amount-desc
      a.button.success(href='#') Отклонено

  .table-scroll
    table.hover
      thead
        tr
          th Имя, Ник и Email администратора
          th Всего
          th Одобрено
          th Отклонено
      tbody
        tr
          td
            | Иван
            br
            span.text-dark-gray 1van
            br
            span.text-dark-gray ivan.i@mail.com
          td 1 427
          td 280
          td 53

        tr
          td
            | Петр
            br
            span.text-dark-gray pete
            br
            span.text-dark-gray petrovich@mail.com
          td 1 427
          td 145
          td 28
        tr
          td
            | Константин
            br
            span.text-dark-gray kk
            br
            span.text-dark-gray k.konstantinopolskiy@mail.com
          td 1 427
          td 90
          td 53
        tr
          td
            | Иван
            br
            span.text-dark-gray ivanich
            br
            span.text-dark-gray i.ivanov@mail.com
          td 1 427
          td 53
          td 280

  include components/common/_pagination
