doctype html
html.no-js(lang='en')
    include components/service/_head
    body
        p &nbsp;
        p &nbsp;
        .row.column
            h1 Прототипы MaxDatMaps
        .content
            .row.column
                ul.tabs#product-tabs-1(data-tabs)
                    li.tabs-title.is-active
                        a(href='#corp', aria-selected='true') «Корпоративный»

                .tabs-content(data-tabs-content="product-tabs-1")
                    .tabs-panel.is-active#corp
                        include components/corporate/_sitemap
        include components/service/_js.html