extends map

block map-object-info
    .callout(style='position: absolute; top: 55px; left: 270px; width: 300px;' data-closable)
        button.button.hollow.secondary(type='button' data-toggle="object-status-dropdown")
            i.fa.fa-lg.fa-map-o.text-dark-gray
            = ' Не посещено'
        .dropdown-pane#object-status-dropdown(data-dropdown data-auto-focus="true")
            ul.menu.vertical
                li
                    a(href='')
                        i.fa.fa-lg.fa-map-o
                        = ' В планах'
                li
                    a(href='')
                        i.fa.fa-lg.fa-map
                        = ' Посещено'

        h3
            a(href='object.html' title='На страницу объекта') Петропавловский-Камчатский
            = ' '
            a(href='' title='Добавить в избранное'): i.fa.fa-lg.fa-star-o
        p
            span.label.secondary(title='Рейтинг') 4.1
            = ' '
            span(title='Отзывов:') (1 472)
        p
            | Категория объекта 1, Категория объекта 2, Категория объекта 3
            br
            | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
            br
            | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
            br
            | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
            br
            | #[span.text-dark-gray Сайт: ] www.somewebsite.com
        p
            img(src='./i/image.svg' alt='Фото объекта' style='width:100%; height:159px;')

        a(href='add-object.html' title='Редактировать') #[i.fa.fa-pencil] Править

        button.close-button(type="button" data-close aria-label="Закрыть")
            span(aria-hidden="true") &times;

