extends map

block map-search-results
  .filter__main
    p
    div
      a(href='map.html').button.small.primary
        i.fa.fa-arrow-left
    p.text-center Ничего не найдено
      p.text-center
        | Предлагаем #[a(href='add-object.html') добавить объект]
        br
        span.text-dark-gray если вы знаете, что он существует
