extends map

block map-object-info
  .reveal#map-share-modal(data-reveal data-deep-link='true')
    h2 Поделиться картой

    fieldset
      legend: b Показать объекты на карте
      .float-left
        +object('Избранные','b1')
      .float-left &#160;&#160;&#160;
      .float-left
        +object('Посещенные','b2')
      .float-left &#160;&#160;&#160;
      .float-left 
        +object('В планах','b3')

    br
    label: b Ссылка на интерактивную карту
    input(type='text' value='https://maxdatmaps.org/maps/-/CZt7YLyr')
    p.text-right
      span.show-for-large.text-medium-gray Поделиться в соц. сетях: &#160;
      a(href='#', title='').fa-stack.fa-lg.text-vk
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-vk.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-twi
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-twitter.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-fb
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-facebook.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-ok
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-insta
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-instagram.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-gp
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-google-plus.fa-stack-1x.fa-inverse

    label #[b Ссылка на изображение карты] #[a(href='' target='_blank') Скачать изображение]
    input(type='text' value='https://static.maxdatmaps.org/maps/CZt7YLyr.png')
    p.text-right
      span.show-for-large.text-medium-gray Поделиться в соц. сетях: &#160;
      a(href='#', title='').fa-stack.fa-lg.text-vk
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-vk.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-twi
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-twitter.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-fb
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-facebook.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-ok
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-insta
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-instagram.fa-stack-1x.fa-inverse
      | &nbsp;
      a(href='#', title='').fa-stack.fa-lg.text-gp
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-google-plus.fa-stack-1x.fa-inverse

    button.close-button(type="button" data-close aria-label="Закрыть")
      span(aria-hidden="true") &times;

    //-
      label Код для вставки на сайт
      textarea <iframe src="https://api-maps.maxdatmaps.org/frame/v1/-/CZt7YLyr" width="560" height="400" frameborder="0"></iframe>
