extends map

block map-object-info
    //-i.fa.fa-3x.fa-map-marker.text-success(style='top: 330px; left: 330px; position: absolute;')
    .callout(style='position: absolute; top: 220px; left: 340px; width: 300px;' data-closable)
        button.button.hollow.success(type='button' data-toggle="object-status-dropdown")
            i.fa.fa-lg.fa-map
            = ' Посещено'

        .dropdown-pane#object-status-dropdown(data-dropdown data-auto-focus="true")
            ul.menu.vertical
                li
                    a(href='')
                        i.fa.fa-lg.fa-map-o
                        = ' В планах'
                li
                    a.text-dark-gray(href='')
                        i.fa.fa-lg.fa-map-o
                        = ' Не посещено'

        h3 #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия

        p 46.96453, 142.75133

        //-a(href='add-object.html' title='На страницу объекта') Добавить объект

        button.close-button(type="button" data-close aria-label="Закрыть")
            span(aria-hidden="true") &times;
