extends map

block enter-user-auto
block map-search-results
  .filter__main
    p
    .row.columns
      a(href='map.html').button.small.primary: i.fa.fa-arrow-left
      = " "
      include components/_enter-user-auto
    p
    p.text-center Пока у вас нет избранных объектов
    p.text-center
      | Чтобы сделать объект избранным,
      br
      | нажмите #[i.fa.fa-lg.fa-star.text-light-gray] в описании объекта
      br
      span.text-dark-gray и он появится в списке
    p
