extends map

block enter-user-auto
block map-search-results
  .filter__main
    p
    .row.columns
      a(href='map.html').button.small.primary
        i.fa.fa-arrow-left
      include components/_enter-user-auto  
    p.text-center Пока у вас нет посещённых мест
      p.text-center
        | Чтобы отметить посещённое место,
        br
        | выберите статус «#[i.fa.fa-lg.fa-map] Посещено» в описании объекта
        br
        span.text-dark-gray и он появится в списке
    p &#160;
    p &#160;
