extends map

block map-user-flags
  a(style='top: 250px; left: 650px; position: absolute;' data-toggle="map-flag-dropdown"): i.fa.fa-2x.fa-flag.text-secondary
  a(style='top: 300px; left: 700px; position: absolute;' data-toggle="map-flag-dropdown"): i.fa.fa-2x.fa-flag.text-warning
  a(style='top: 350px; left: 750px; position: absolute;' data-toggle="map-flag-dropdown"): i.fa.fa-2x.fa-flag.text-success
  a(style='top: 400px; left: 800px; position: absolute;' data-toggle="map-flag-dropdown"): i.fa.fa-2x.fa-flag
  a(style='top: 500px; left: 100px; position: absolute;' data-toggle="map-flag-dropdown"): i.fa.fa-2x.fa-flag.text-black

  .dropdown-pane.top#map-flag-dropdown(data-dropdown data-closable)
    a(href='') #[i.fa.fa-arrows] Переместить метку
    br
    a(href='') #[i.fa.fa-minus-circle] Удалить метку

    button.close-button(type="button" data-close aria-label="Закрыть")
      span(aria-hidden="true") &times;

block map-user-flags-link
  .globus__btn
    a.button.hollow(href='map.html') #[i.fa.fa-eye-slash] Скрыть мои метки
