extends components/_index
block header
block footer-bottom
block page
  include components/_enter-login
  .row.expanded(data-equalizer,data-equalize-by-row="true").collapse
    .column.large-10.medium-8.globus(style="background-image:url(./i/map.png);",data-equalizer-watch)
      .globus__top
        .row.expanded
          .large-2.medium-3.columns.text-center.medium-text-left
            p
              a(href="#")
                img(src="./images/logo-maxrest.svg", alt="")
          .large-6.medium-9.end.columns
            form.input-group(action='map-search-results.html' method='get')
              input.input-group-field(type='text', value='' placeholder='Места и организации').globus__input
              .input-group-button
                button.button.black(type='submit')
                  i.fa.text-white.fa.fa-search
      .globus__country
        a(href="#").js-country-toggle (что будет если нажать на страну)
      a(href='#' style='top: 250px; left: 260px;').marker.js-visit-toggle
        img(src="./images/marker-green.svg", alt="")
      a(href='#' style='top: 150px; left: 260px;').marker.js-visit-toggle
        img(src="./images/marker-blue.svg", alt="")
      a(href='#' style='top: 350px; left: 260px;').marker.js-visit-toggle
        img(src="./images/marker-dark-blue.svg", alt="")
      a(href='#' style='top: 350px; left: 560px;').marker.js-visit-toggle
        img(src="./images/marker-orange.svg", alt="")
      a(href='#' style='top: 50px; left: 560px;').marker.js-visit-toggle
        img(src="./images/marker-purple.svg", alt="")
      a(href='#' style='top: 300px; left: 560px;').marker.js-visit-toggle
        img(src="./images/marker-red.svg", alt="")
      a(href='#' style='top: 390px; left: 460px;').marker.js-visit-toggle
        img(src="./images/marker-yellow.svg", alt="")
      a(href='#' style='top: 290px; left: 260px;').flag.js-visit-toggle
        img(src="./images/flag-blue.svg", alt="")
      a(href='#' style='top: 490px; left: 460px;').flag.js-visit-toggle
        img(src="./images/flag-dark-blue.svg", alt="")
      a(href='#' style='top: 290px; left: 260px;').flag.js-visit-toggle
        img(src="./images/flag-green.svg", alt="")
      a(href='#' style='top: 190px; left: 160px;').flag.js-visit-toggle
        img(src="./images/flag-orange.svg", alt="")
      a(href='#' style='top: 290px; left: 260px;').flag.js-visit-toggle
        img(src="./images/flag-purple.svg", alt="")
      a(href='#' style='top: 590px; left: 760px;').flag.js-visit-toggle
        img(src="./images/flag-red.svg", alt="")
      a(href='#' style='top: 290px; left: 960px;').flag.js-visit-toggle
        img(src="./images/flag-yellow.svg", alt="")
      include components/common/_visit    
      include components/common/_country

      block map-user-flags

      block map-object-info

      br
      block map-user-flags-link
        .globus__btn
          a.button(href='#') #[i.fa.fa-thumb-tack] Мои метки
          a.button(data-toggle='map-marks-dropdown') #[i.fa.fa-eye-slash] Скрыть свои метки
          a.button(href='add-object.html') #[i.fa.fa-map-marker] Добавить объект
          a.button(href='map-share.html#map-share-modal') #[i.fa.fa-share-alt] Поделиться картой

        .dropdown-pane.top#map-marks-dropdown(data-dropdown style='width: 100px;')
          a()
            img(src="./images/flag-green.svg", alt="")
          br
          a()
            img(src="./images/flag-red.svg", alt="")
          br
          a()
            img(src="./images/marker-red.svg", alt="")
          br

    .column.medium-4.large-2(data-equalizer-watch).filter
      block enter-user-auto
        p
        .row.columns.text-right
          include components/_enter-user-auto
      block map-search-results
        include components/_map-filter
      .filter__copy
        a(href="mailto:support@maxrest.org").filter__mail support@maxrest.org
