extends object

block menu-object
  li: a(href='object.html') Описание
  li: a(href='object-comments.html') Отзывы (3)
  li.active: a(href='object-discussion.html') Обсуждение (3)

block object-content
  include components/_add-comment
  .row.column
    .medium-8.small-6.columns
      h3 Обсуждение (3)
    .medium-4.small-6.columns  
      p
        a(data-open="add-comment" title='').button.hollow.expanded Добавить свой комментарий
  .row
    .small-12.medium-3.column
      p.text-dark-gray 3 августа 2015
        br
        | Иван Иванов
    .small-12.medium-9.column
      p Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
      p
        a(data-open="add-comment" title='') Ответить
        | &#160;&#160;
        a(href="#") Удалить комментарий

  .row
    .small-12.medium-3.column
      p.text-dark-gray 10 июля 2014
        br
        | Витя
    .small-12.medium-9.column
      p Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
      p Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
      p
        a(data-open="add-comment" title='') Ответить

  .row
    .small-12.medium-3.column
      p.text-dark-gray 18 марта 2014
        br
        | Иван Петрович
    .small-12.medium-9.column
      p Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
      p: a(data-open="add-comment" title='') Ответить
  .row
    .small-12.medium-3.column
      p.text-dark-gray 3 августа 2015
        br
        | Иван Иванов
    .small-12.medium-9.column
      p Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
      p: a(data-open="add-comment" title='') Ответить

  .row
    .small-12.medium-3.column
      p.text-dark-gray 10 июля 2014
        br
        | Витя
    .small-12.medium-9.column
      p Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
      p Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
      p: a(data-open="add-comment" title='') Ответить

  .row
    .small-12.medium-3.column
      p.text-dark-gray 18 марта 2014
        br
        | Иван Петрович
    .small-12.medium-9.column
      p Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
      p: a(data-open="add-comment" title='') Ответить
  p
  include components/common/_pagination
