extends corp-regular

block content
    .row.column
        h1 Рейтинг пользователей
    .content
        .row
            .columns.small-12.medium-5.large-4.medium-push-7.large-push-8
            .columns.small-12.medium-7.large-8.medium-pull-5.large-pull-4
                table
                    thead
                        tr
                            th Место
                            th Ник
                            th Добавлено объектов
                    tbody
                        tr
                            td 1
                            td 1van
                            td 250
                        tr
                            td 2
                            td pete
                            td 247
                        tr
                            td 3
                            td kk
                            td 239
                        tr
                            td 4
                            td 1van
                            td 216
                        tr
                            td 5
                            td kk
                            td 180
                        tr
                            td 6
                            td pete
                            td 179

                p &#160;
                include components/common/_pagination