extends user-personal

block personal
  .row.small-up-2.large-up-3
    .column
      .callout.primary
        p Добавлено объектов
        p.stat 53
  .row.small-up-2.large-up-3
    .column
      .callout.warning
        p Избранных объектов
        p.stat 1 427
    .column
      .callout.success
        p Посещено объектов
        p.stat 280
    .column
      .callout.purple
        p В планах объектов
        p.stat 280
    .column
      .callout
        p Посещено стран
        p.stat 6 из 252
