extends user-personal

block personal
    .row.column
        p.text-center Пока вы не комментировали объекты
        p.text-center.text-dark-gray Добавляйте комментарии на странице объекта
            br
            | и увидите их список здесь
