extends user-personal

block personal
  ul.menu
    li.active: a(href='') Все объекты
    li: a(href='') На проверке
    li: a(href='') Отклонены
  br
  .callout
    .row
      .medium-8.large-10.column
        p
          span.label.success одобрен
        h3
          a(href='object.html' title='На страницу объекта') Название объекта 1
        p
          | Категория объекта 1, Категория объекта 2, Категория объекта 3
          br
          | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
          br
          | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
          br
          | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
          br
          | #[span.text-dark-gray Сайт: ] www.somewebsite.com
      .show-for-medium.medium-4.large-2.column
        img(src='./i/map.png' alt='Фото объекта')

  .callout
    p
      span.label.black на проверке
    .row
      .medium-8.large-10.column
        h3
          a(href='object.html' title='На страницу объекта') Название объекта 2
        p
          | Категория объекта 1, Категория объекта 2, Категория объекта 3
          br
          | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
          br
          | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
          br
          | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
          br
          | #[span.text-dark-gray Сайт: ] www.somewebsite.com
      .show-for-medium.medium-4.large-2.column
        img(src='./i/map.png' alt='Фото объекта' style='width:100%;')

  .callout
    p
      span.label.alert отклонён
    .row
      .medium-8.large-10.column
        h3
          a(href='object.html' title='На страницу объекта') Название объекта 3
        p
          | Категория объекта 1, Категория объекта 2, Категория объекта 3
          br
          | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
          br
          | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
          br
          | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
          br
          | #[span.text-dark-gray Сайт: ] www.somewebsite.com
      .show-for-medium.medium-4.large-2.column
        img(src='./i/map.png' alt='Фото объекта' style='width:100%;')

  .callout
    p
      span.label.success одобрен
    .row
      .medium-8.large-10.column
        h3
          a(href='object.html' title='На страницу объекта') Название объекта 4
        p
          | Категория объекта 1, Категория объекта 2, Категория объекта 3
          br
          | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
          br
          | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
          br
          | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
          br
          | #[span.text-dark-gray Сайт: ] www.somewebsite.com
      .show-for-medium.medium-4.large-2.column
        img(src='./i/map.png' alt='Фото объекта' style='width:100%;')

  .callout
    p
      span.label.black на проверке
    .row
      .medium-8.large-10.column
        h3
          a(href='object.html' title='На страницу объекта') Название объекта 5
        p
          | Категория объекта 1, Категория объекта 2, Категория объекта 3
          br
          | #[img(src='./i/Flag_of_Russia.svg' alt='' style='height: 18px; 1px solid #ddd;')] Россия
          br
          | #[span.text-dark-gray Адрес: ] г. Ярославль, пр-т Ленина 25
          br
          | #[span.text-dark-gray Тел.: ] +7 (499) 918-43-57
          br
          | #[span.text-dark-gray Сайт: ] www.somewebsite.com
      .show-for-medium.medium-4.large-2.column
        img(src='./i/map.png' alt='Фото объекта' style='width:100%;')

  p &nbsp;
  include components/common/_pagination
