extends user-personal

block personal
    .row
        .small-12.medium-4.large-2.column
            .fa-lg.text-success
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star-o &#160;
                i.fa.fa-star-o &#160;
        .small-12.medium-8.large-6.column
            h3
              a(href='object.html' title='На страницу объекта') Название объекта  
            p Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
        .small-12.medium-12.large-3.column
            p.text-dark-gray 3 августа 201
            a(href="#") Удалить комментарий
    br

    .row
        .small-12.medium-4.large-2.column
            .fa-lg.text-success
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
        .small-12.medium-8.large-6.column
            h3
              a(href='object.html' title='На страницу объекта') Название объекта  
            p Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
            p Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
        .small-12.medium-12.large-3.column
            p.text-dark-gray 10 июля 2014
            a(href="#") Удалить комментарий
    br

    .row
        .small-12.medium-4.large-2.column
            .fa-lg.text-success
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star-o &#160;
        .small-12.medium-8.large-7.column
            h3
              a(href='object.html' title='На страницу объекта') Название объекта  
            p Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
        .small-12.medium-12.large-3.column
            p.text-dark-gray 18 марта 2014
            a(href="#") Удалить комментарий
    br

    p &nbsp;
    include components/common/_pagination
