extends components/_index

block page
  p
  .row.column
    h1 Персональный раздел
  .content
    .row
      .column.small-12.medium-4.large-3
        p.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.primary.expanded(data-toggle)
          i.fa.fa-lg.fa-bars
          | &nbsp;Навигация
        .callout#menu-left
          ul.menu.vertical
            
            li: a(href='user-edit.html' title='') Регистрационные данные
            //-li: a(href='user-favourites.html' title='') Избранные объекты
            li: a(href='user-objects.html' title='') Добавленные мной общие объекты
            li: a(href='user-comments.html' title='') Мои комментарии
            li: a(href='user-stats.html' title='') Статистика
            li.active: a(href='./rating.html' title='') Рейтинг пользователей
          hr
          br
          h4 Администратору
          ul.menu.vertical
            li: a(href='admin-objects-review.html' title='') Объекты на проверку
            li: a(href='admin-objects-trash.html' title='') Корзина объектов
            li: a(href='admin-stats.html' title='') Статистика
          hr
          br
          h4 Директору
          ul.menu.vertical
            li: a(href='director-users.html' title='') Пользователи
            li: a(href='director-admin-stats.html' title='') Статистика администраторов
            li: a(href='director-objects-pub-method.html' title='') Способ публикации объектов
            li: a(href='director-categories-sort.html' title='') Категории объектов

      .column.small-12.medium-8.large-9
        block personal
          p: b Активность на сайте
          p
            = '13.02.2017 '
            a(href='') Создание общего объекта
          p
            = '13.02.2017 '
            a(href='') Комментарий к объекту
          p
            = '05.02.2017 '
            a(href='') Изменение объекта
          p
            = '04.02.2017 '
            a(href='') Создание метки
          p
            = '20.01.2017 '
            a(href='') Создание метки
          p
            = '19.02.2017 '
            a(href='') Комментарий к объекту
          p
            = '19.02.2017 '
            a(href='') Комментарий к объекту
          p
            = '18.02.2017 '
            a(href='') Создание общего объекта
