extends user-personal

block personal
    p.text-center Пока вы не создали ни одного объекта
    p.text-center.text-dark-gray
        //-a.button.large(href='add-object.html') Добавьте объект
        | Нажмите в любое место карты, чтобы добавить объект,
        br
        | и он появится на этой странице
    p.text-center
        a(href='map.html')
          strong На карту
