doctype html
html.no-js(lang='en')
    include components/service/_head
    body
        p &nbsp;
        p &nbsp;
        .row.column
            h1 Cetera Labs Wireframes
        .content
            .row.column
                ul.tabs#product-tabs-1(data-tabs, data-deep-link='true')
                    li.tabs-title.is-active
                        a(href='#shop', aria-selected='true') Магазин

                .tabs-content(data-tabs-content="product-tabs-1")
                    .tabs-panel.is-active#shop
                        include components/shop/_sitemap
        include components/service/_js
