extends shop-catalog

block products
    +productLine(false,'onDemand')
    hr.mb25
    +productLine(false,false,'inCart')
    hr.mb25
    +productLine('discount')
    hr.mb25
    +productLine(false,'onDemand')
    hr.mb25
    +productLine(false,false,'inCart')
    hr.mb25
    +productLine('discount')
    hr.mb25
    +productLine(false,'onDemand')
    hr.mb25
    +productLine(false,false,'inCart')
    hr.mb25
    +productLine('discount')
