extends shop-index

block page
    include components/common/_breadcrumbs
    block content
  
        .content
            .row
                .columns.small-12.medium-5.large-3
                    include components/common/_sidebar
                .columns.small-12.medium-7.large-9
                    h1.text-center Новости магазина
                    article
                        h4
                            small.text-warning 8 Февраля 2017
                            br
                            a(href='') Изменения в бесплатной доставке
                        p С сегодняшнего дня вносятся изменения в бесплатную доставку. Теперь доставка заказов на сумму менее 2 000 р будет оплачиваться покупателем. Заказы на сумму больше 2 000 р по прежнему доставляем бесплатно.

                    hr.mb25

                    article
                        h4
                            small.text-warning 31 Января 2017
                            br
                            a(href='') Акция: Бесплатная доставка
                        p Абсолютно все заказы доставляем бесплатно! Акция действует #[b до 1 марта 2017] года на доставку в пределах Центрального федерального округа.

                    hr.mb25

                    
                    include components/common/_pagination
