extends shop-regular

block content
  
    .content
        .row
            .columns.small-12.medium-5.large-3
                include components/common/_sidebar
            .columns.small-12.medium-7.large-9
                h1.text-center Магазин автокрасок и сопутствующих материалов
                p.lead Краски, лаки, грунтовки, полировки, шпатлёвки, антикор, герметики, скотч от #[a(href="shop-brands.html" title="Товары по брендам") проверенных производителей] в розницу или оптом

                p: b Огромный выбор по привлекательным ценам
                p У нас более 5&nbsp;000 товаров в наличии и ещё 3&nbsp;000 товаров под заказ в каталоге сайта и в #[a(href="https://avtokraska-shop.ru/contacts/") розничном магазине]

                p: b Стабильное качество
                p Мы работаем только с официальными представителями продукции, поэтому вы всегда можете быть уверены в качестве наших товаров.
                p Все наши склады отапливаемые, а это значит, что у нас не бывает перемороженных товаров.

                p: b Свежий ассортимент
                p Сохраняя привлекательные цены товаров мы добились высокой скорости реализации — гарантия, что вы получите свежий товар.
                p Регулярно обновляя ассортимент и соблюдая условия хранения товаров мы гарантируем что вы получите товар с запасом срока годности и неизменным свойствами.
                

                h2.text-center Ждем вас в нашем магазине автокрасок
                p Ежедневно с 8:00 до 19:00
                    br
                    a(href="shop-contacts.html") Контакты и схема проезда
