extends shop-regular

block content

    .content
        .row
            .columns.small-12.medium-5.large-3
                include components/common/_sidebar
            .columns.small-12.medium-7.large-9
                h1.text-center Как купить
                p Купить товар можно двумя способами.

                p 1. Приехать в наш #[a(href='shop-contacts.html' title='адрес розничного магазина') розничный магазин] и приобрести выбранные товары. Чтобы товар за вами зарезервировали, то лучше заранее позвонить #[a(href='tel:+74951182030' title='номер телефона') +7 (495) 118-20-30].

                p: b 2. Заказать доставку. Товар доставляется курьерской службой по всей России.

                p У нас нет собственной службы доставки и мы пользуемся услугами курьерских компаний через сервис Яндекс доставка. Это и дешевле и надежней. Стоимость доставки для одного и того же товара у разных служб - разная и зависит от общего веса и габаритов заказа. Цену на доставку устанавливаем не мы, а курьерские службы, поэтому она может меняться.

                p В среднем, небольшой заказ по г. Москве обходится в 300 рублей. Если из пункта самовывоза, то в районе 200 рублей.

                p Если Вы заказываете товар по Москве, то выбирайте службу доставки "Стриж" или "Аксиомус", тогда товар будет доставлен на следующий день после заказа. Другие службы, как правило, доставляют через день.

                p Для определения точной цены доставки, необходимо в корзине перейти по ссылке «оформить заказ» и выбрать регион доставки и службу. #[a(href='' title='ПОдробности акции беплатной доставки') Только в феврале доставка по Центральному федеральному округу бесплатная!].

                p: b Регламент доставки

                p Заказы собираются нами в течении дня, а вечером отвозятся в службу доставки. Соответственно не важно, заказали Вы товар ночью или в обед - он будет отправлен в службу доставки вечером этого дня. Далее заказом занимается курьерская компания и мы никак не можем на это повлиять (ни ускорить, ни изменить заказ).

                p Важно понимать! У нас есть один #[a(href='shop-contacts.html' title='адрес розничного магазина') розничный магазин], где товар продается постоянно вне зависимости от заказов и его можно забрать в любой момент. Если же Вы заказываете товар путем самовывоза, то это услуга курьерских служб и она для нас ничем не отличается от доставки курьером. Нашими силами товар также будет доставлен вечером в курьерскую службу, а они уже доставят его в выбранный пункт самовывоза.
