ul
    li: a(href="corp-index.html") Главная
    li: b Личный кабинет
    li: a(href='shop-user-login.html' title='') Вход
    li: a(href='shop-user-registration.html' title='') Регистрация
    li: a(href='shop-user-recover.html' title='') Восстановить пароль
    li: a(href='shop-user-personal.html' title='') Личные данные
    li: a(href='shop-user-edit.html' title='') Редактировать личные данные

ul

    li: a(href='corp-error.html' title='') Страница ошибки
    li: a(href='corp-sitemap.html' title='') Карта сайта

ul
    li: a(href='mira-thermes.html') Термы Мира «Название»
        ul
            li: a(href='mira-thermes-area.html') Аква-зона
                ul
                    li: a(href='mira-thermes-location.html') Большой бассей
                    li Джакузи
                    li Соляной грот
            li Бани и зоны отдыха
                ul
                    li Баня
            li: a(href='mira-thermes-location.html') Пляж
            li
                a(href='promo.html') Акции и скидки
                ul
                    li: a(href='promo-offer.html') Спец. программ
            li: a(href='mira-thermes-price.html') Цены
      
    li
        a(href='mira-thermes.html') Термы Мира «Набережная»
        ul
            li
                a(href='mira-thermes-area.html') «Семейный» зал
                ul
                    li: a(href='mira-thermes-location.html') Услуга
            li «Релакс» зал
                ul
                    li Услуга
            li Акции и скидки
            li Цены

    li: a(href='mira-thermes-area.html') Мира СПА
        ul
            li
                a(href='mira-spa-programs.html') Программы
                ul
                    li: a(href='mira-spa-offer.html') Программа
    
    li
        a(href='all-services.html') Все услуги
        ul
            li: a(href='price-calculator.html') Калькулятор цены
    
    li: a(href='rent.html') Аренда
        ul
            li: a(href='rent-space.html') Большой зал
            li Малый зал
            li Каминный зал
            li Гостиная
    
    li: a(href='kids.html') Мира для детей
        ul
            li: a(href='kids-event.html') Дни рождения
            li Каникулы
            li Праздники
            li Мировые экскурсии
    
    li: a(href='food.html') Фудкорт
        ul
            li: a(href='food-place.html') Ресторан
            li Кафе «Bottva»
            li Кофейня
            li Бар
    
    li Эколавка

    li
        a(href='staff.html') Кабинеты мастеров
        ul
          li: a(href='staff-member.html') Мастер

    li: a(href='contacts.html' title='') Контакты

ul
    li: b Специальные страницы
    li
        a(href='loyalty-system.html') Система лояльности Мираминуты
        ul
            li: a(href='loyalty-system-rules.html') Правила системы лояльности
            li: a(href='loyalty-system-menu.html') Бонусное меню

    li: a(href='eticket.html') Купить электронный билет
        //-br
        //-span.text-dark-gray Выбор места — Выбор услуги — Стоимость и Переход к оплате
