.accordion {

    &-content {
        border-bottom: rem-calc(1) solid #e3e5e6;
    }

    .is-active > .accordion-title {
      border-bottom: rem-calc(0);
        &:before {
            content: "▲";
        }
    }

    &-title {
        border-bottom: rem-calc(1) solid #e3e5e6;
        font-size: rem-calc(15);
        font-weight: 500;
        color: $black;
        padding-right: rem-calc(20);

        &:before {
            right: rem-calc(0);
            content: "▼";
            font-size: rem-calc(12);
            transform: scale(1.6,1);
        }
    }
}
