.apart {
    display: inline-block;

    label.apart__label {
        font-weight: 500;
        background-image: linear-gradient(to top, #ebebeb 0%, white 100%);
        border-radius: rem-calc(2);
        border: rem-calc(2) solid #daddde;
        color: $black;
        padding: rem-calc(0);
        padding-top: rem-calc(2);
        text-align: center;
        width: rem-calc(32);
        height: rem-calc(32);
        margin: rem-calc(5) rem-calc(3) rem-calc(7) rem-calc(0);
    }

    &__input {
        display: none;

        &:checked+label {
            color: $black;
            border-color: $black;
        }
    }
}
