.mail {
    font-weight: 300;
    font-size: rem-calc(14);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #cbcbcb;
    padding: rem-calc(0) rem-calc(16);
    height: rem-calc(34);
    margin-bottom: rem-calc(10);

    &::-webkit-input-placeholder {
        color: $black;
        font-weight: 300;
    }

    &::-moz-placeholder {
        color: $black;
        font-weight: 300;
    }

    &:-moz-placeholder {
        color: $black;
        font-weight: 300;
    }

    &:-ms-input-placeholder {
        color: $black;
        font-weight: 300;
    }

    &_tarea {
      padding-top: rem-calc(6);
        resize: none;
        margin-bottom: rem-calc(25);
    }
}
