.wanted {
    margin-left: rem-calc(0);
    list-style: none;

    &__item {}

    &__link {


        &:hover {
            text-decoration: underline;
            color: #4480ac;
        }
    }
    &__num {
        color: $grey;
    }
}
