@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$fa-font-path: $fontsPath;
$red: #ed1c24;
$grey: #9c9b9b;

@import "fonts";
@import "settings";
@import "slick/slick-theme";
@import "external";
@import "fancybox";

@import "common";

@import "header";
@import "footer";
@import "unit";
@import "category";
@import "contacts";
@import "options";
@import "soc";
@import "room";
@import "plan";
@import "tabs";
@import "flat";
@import "res";
@import "feature";
@import "cont";
@import "vision";
@import "desc";
@import "manager";
@import "calc";
@import "deposite";
@import "program";
@import "denote";
@import "marker";
@import "apartment";
@import "advantages";
@import "odds";
@import "franchise";
@import "ico";
@import "cart";
@import "price";
@import "apart";
@import "pine";
@import "find";
@import "consul";
@import "calling";
@import "obj";
@import "country";
@import "sahalin";
@import "mortgage";
@import "breadcrumbs";
@import "bell";
@import "accordion";
@import "check";
@import "slider";
@import "meters";
@import "grey";
@import "sort";
@import "page";
@import "house";
@import "curtain";
@import "attraction";
@import "news";
@import "shop";
@import "views";
@import "mail";
@import "wanted";
@import "plain";
@import "dexter";
@import "date";
@import "maternity";
@import "dog";
@import "holiday";
