@charset "utf-8";

$imagesPath:'https://www.opex.ru/images/mailing';

$yellow:#f9dc67;
$black:#000;
$white:#ffffff;
$blue:#000;
$gray:#999999;
$blood:#A63C3C;
$primary-color:#2A62AB;
$green:#000;

@import "foundation";
@import "common";
@import "shop";
@import "helmet";
@import "content";
@import "engine";
@import "sky";
@import "order";
@import "footer";
